<section class="accordion-wrap {{d.type}}" ng-repeat="d in rule.input.params.advanced.tests track by $index" ng-init="model=d;testIndex = $index;hideAction=true">
    <span class="label label-default index_{{$index}} {{d.type}}">{{rule.input.params.advanced.logicalOperator| uppercase}}</span>
  <h2 class="accordion-toggle ellipsis">
     <!-- Title -->
     <button type="button" aria-expanded="false" bb-accordion ng-class="{'no-toggle': d.type == 'toggleButton'}" ng-switch="d.type">
        <span ng-switch-when="nested">{{_t('nested')}}</span>
        <span ng-switch-when="time">{{d.level}}</span>
       <span ng-switch-default>{{rule.namespaces[d.deviceId].deviceName || _t('device_removed') + ': ' + d.deviceId}}</span>
       
     </button>
     <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignAdvancedTest($index,d.deviceId)">
       <i class="fa fa-times text-danger"></i>
       </span>
   </h2>
    <!-- Content -->
    <div class="accordion" ng-include="'app/views/automation/rules/inputs/'+ d.type +'.html'" ng-if="d.type != 'toggleButton'"
    hidden></div>
   <!-- <div class="accordion" bb-remove-attr="{{expand['test_' + $index] ? 'hidden': ''}}" ng-include="'app/views/automation/rules/inputs/'+ d.type +'.html'" ng-if="d.type != 'toggleButton'"
     hidden></div> -->
 </section>