
  <div class="header">IF</div>
  <div class="content form-inline">
    <!-- Select -->
    <div class="form-group last">
      <!-- <label>{{_t('Device')}}</label> -->
      <select name="" id="" class="form-control" ng-model="mock.input.deviceType">
        <option value="{{v.type}}" ng-repeat="v in mock.devices">{{v.title}} {{$index}}</option>
      </select>
      <span></span>
    </div>
    <!-- Form-->
    <div class="form-group last" ng-include="'app/views/automation/rules/' + mock.input.deviceType +'.html'" ng-if="mock.input.deviceType"></div>
  </div>