<!-- status -->
<div class="form-group form-inline">
  <label>
    <input type="radio" ng-model="targetModel.status" value="on">
    <span>{{_t('on')}}</span>
  </label>
  <label>
    <input type="radio" ng-model="targetModel.status" value="off">
    <span>{{_t('off')}}</span>
  </label>
  <label>
    <input type="radio" ng-model="targetModel.status" value="level">
    <span>{{_t('level')}}</span>
  </label>
    <!-- level -->
    <span ng-if="targetModel.status == 'level'">
      <input type="number" class="form-control input-number" id="then_level" min="{{rule.cfg.target.switchMultilevel.min}}" max="{{rule.cfg.target.switchMultilevel.max}}"  ng-model="targetModel.level"
      />
    </span>
</div>

  <!-- command -->
<div class="form-group">
  <input type="checkbox" name="send_command" id="send_command" ng-model="targetModel.sendAction" ng-checked="targetModel.sendAction" />
  <label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>