<section class="accordion-wrap" ng-repeat="d in rule.input.params.advanced.tests track by $index" ng-if_="d.testType =='nested'" ng-init="testModel=d[rule.advanced.cfg.tests[d.testType].testName];testIndex = $index">
  <!-- Operator -->
  <span class="label label-default" ng-hide="$index == 0">{{rule.input.params.advanced.logicalOperator| uppercase}}</span>
  <h2 class="accordion-toggle chevron">
    <!-- Deleted device -->
    <span class="no-toggle text-danger" ng-show="testModel.device && !rule.namespaces[testModel.device]">
      <i class="fa fa-exclamation-circle"></i> {{testModel.device}} {{_t('device_removed')}}
    </span>
    <!-- Title -->
    <button type="button" aria-expanded="{{expand['test_' + $index]||false}}" bb-accordion ng-hide="testModel.device && !rule.namespaces[testModel.device]">

      <span>{{rule.namespaces[testModel.device].deviceName}}
        <strong ng-if="testModel.testValue">({{testModel.testValue}}) </strong>
        <em ng-if="d.testType =='nested'">{{_t(rule.advanced.cfg.tests[d.testType].testName)}}</em>

      </span>

    </button>
    <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignAdvancedTest($index)">
      <i class="fa fa-times text-danger"></i>
      </span>
  </h2>
   <!-- Content -->
  <div class="accordion" bb-remove-attr="{{expand['test_' + $index] ? 'hidden': ''}}" ng-include="'app/views/automation/rules/rule_id_advanced_if_'+ d.testType +'.html'"
    hidden></div>
</section>
<!-- <pre>{{rule.input.params.advanced.tests|json}}</pre> -->