 <!-- ////////////////////////////////////////// targetElements  ////////////////////////////////////////// -->
 <section class="accordion-wrap" ng-repeat="d in rule.input.params.advanced.targetElements track by $index" ng-init="model=d;inputType='advanced'">
    <h2 class="accordion-toggle ellipsis">
       <!-- Deleted device -->
       <span class="no-toggle text-danger" ng-show="!rule.namespaces[d.deviceId]">
         <i class="fa fa-exclamation-circle"></i> {{d.deviceId}} {{_t('device_removed')}}
       </span>
       <!-- <pre>{{targetModel|json}}</pre> -->
       <!-- Title -->
       <button type="button" aria-expanded="false" bb-accordion ng-if="d.deviceType != 'toggleButton'" ng-hide="!rule.namespaces[d.deviceId]">
        <span ng-if="rule.namespaces[d.deviceId].deviceName">{{rule.namespaces[d.deviceId].deviceName}}&nbsp;
          [<em>{{_t(d.level)}}</em><em ng-if="d.level == 'lvl'"> {{d.exact}}</em>] - 
          <em>{{rule.namespaces[d.deviceId].locationName}}</em>
        </span>
       </button>
       <!-- NO Toggle -->
       <span class="no-toggle" ng-if="d.deviceType == 'toggleButton'" ng-hide="!rule.namespaces[d.deviceId]">
           <span>
               {{rule.namespaces[d.deviceId].deviceName}}
             </span>
         </span>
       <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignAdvancedTargetDevice($index,d.deviceId)">
         <i class="fa fa-times text-danger"></i>
         </span>
     </h2>
      <!-- Content -->
     <div class="accordion" ng-include="'app/views/automation/rules/inputs/'+ d.deviceType +'.html'" ng-if="d.deviceType != 'toggleButton'"
       hidden></div>
   </section>