 <!-- Assigned -->
 <fieldset>
  <h3>{{_t('Trigger the rule check on activation of the following scenes:')}}</h3>
 <div class="device-available-block assigned" ng-if="_.size(rule.input.params.advanced.eventSource)">
<a href="" class="btn btn-default btn-tag" title="{{rule.advanced.target.eventSourceDevices[d].metrics.title}}" ng-repeat="d in rule.input.params.advanced.eventSource track by $index" ng-click="unassignAdvancedEventSource(d)">{{rule.advanced.target.eventSourceDevices[d].metrics.title|cutText:true:20}}
    <i class="fa fa-times text-danger" title="{{_t('lb_remove')}}"></i>
  </a>
 </div>
</fieldset>
 <!-- Available -->
 <fieldset>
 <!--  <div class="device-available-block"> -->
      <a href="" class="btn btn-default btn-tag" title="{{d.metrics.title}}" ng-repeat="d in rule.advanced.target.eventSourceDevices track by $index" ng-if="rule.input.params.advanced.eventSource.indexOf(d.id) === -1" ng-click="assignAdvancedEventSource(d.id)">{{d.metrics.title|cutText:true:20}}
            <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
          </a>
       <!--  </div> -->
</fieldset>
 <!-- Trigger -->
 <fieldset>
    <div class="form-group form-inline">
        <label for="advanced_activate"></label><input type="checkbox" ng-model="rule.input.params.advanced.triggerOnDevicesChange" ng-checked="rule.input.params.advanced.triggerOnDevicesChange" /> {{_t('Check the rule for every change of state of a device listed under Conditions')}}</label>
        <bb-help-text trans="_t('By default the logical rule listens to all changes of devices listed in conditions. If a change is recognized by the logical rule it will check the condition wether to trigger an action or not. Deactivate this option if the logical rule condition should only be checked by triggered scenes. It is recommented to use this field in combination with Trigger the rule check on activation of the following scenes option.')"></bb-help-text>
      </div>
 </fieldset>
