<!-- status -->
<div class="form-group form-inline">
  <label>{{_t('Controller Actions')}}</label>
  <input type="text" class="form-control input-number" ng-model="rule.input.params.simple.triggerEvent.level" />

  <bb-help-text
          trans="_t('The action is described with a two-digit value: The first digit is the button number, the second digit points to the action of this button (0=short press, 1=release, 2=hold, 3=short press two times, 4 = short press three times, and so on. Examples: Double Click button 2 => 23, Single Click button 1 = 10)')"></bb-help-text>
  
 
        
</div>