<!-- The scene -->
<div ng-controller="AutomationRuleIdController">

  <h2>{{_t('rules')}}</h2>
  <!-- Form -->
  <form class="form form-page" ng-submit="storeRule(rule.input,true)">
    <!-- Form-->
    <fieldset ng-include="'app/views/automation/rules/rule_id_form.html'"></fieldset>
    <div ng-if="!rule.input.params.advanced.activate">
    <!-- if -->
    <legend class="accordion-entry-title" ng-click="expandElement('ruleIf')">{{_t('IF')}}
      <i class="fa accordion-arrow" ng-class="expand.ruleIf  ? 'fa-chevron-up':'fa-chevron-down'"></i>
    </legend>
    <fieldset ng-if_="expand.ruleIf" ng-include="'app/views/automation/rules/rule_id_if.html'"></fieldset>
    <!-- then -->
    <legend class="accordion-entry-title" ng-click="expandElement('ruleThen')">{{_t('THEN')}}
       <i class="fa accordion-arrow" ng-class="expand.ruleThen  ? 'fa-chevron-up':'fa-chevron-down'"></i>
    </legend>
    <fieldset ng-if="expand.ruleThen" ng-include="'app/views/automation/rules/rule_id_then.html'"></fieldset>
    <!-- else -->
    <legend class="accordion-entry-title" ng-click="expandElement('ruleElse')">{{_t('ELSE')}} 
      <i class="fa accordion-arrow" ng-class="expand.ruleElse  ? 'fa-chevron-up':'fa-chevron-down'"></i>
    </legend>
    <fieldset ng-if="expand.ruleElse" ng-include="'app/views/automation/rules/rule_id_else.html'"></fieldset>
  </div>
    <!-- advanced -->
    <legend ng-click="expandElement('ruleAdvanced')">
        <input type="checkbox" name="advanced_activate" id="advanced_activate" ng-model="rule.input.params.advanced.activate" ng-checked="rule.input.params.advanced.activate" /> <label for="advanced_activate">{{_t('Use advanced settings')}}</label>
        </legend>
    <fieldset ng-if="rule.input.params.advanced.activate" ng-include="'app/views/automation/rules/rule_id_advanced.html'"></fieldset>
    <!-- Submit  -->
    <fieldset class="submit-entry">
      <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
        <i class="fa fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </button>
      <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
        <i class="fa fa-check"></i>
        <span class="btn-name">{{_t('lb_save')}}</span>
      </button>
    </fieldset>
  </form>
  <pre>{{rule.input|json}}</pre>
  <pre>{{rule.source.selected|json}}</pre>
</div>
<!-- /ng-controller -->