<div class="automation-report" ng-repeat="(k,m) in mock.deviceTypes">
  <!-- Report header -->
  <!-- <div class="report-header">
    <p class="report-title">{{m.title}}
      <button class="btn btn-default btn-small" title="{{_t('lb_update')}}" ng-click="handleModal(k, $event)">
        <i class="fa fa-plus text-success"></i>
      </button>
    </p>

  </div> -->
  <div class="app-row app-row-report clearfix">
    <!-- Report body -->
    <div class="report-entry" ng-repeat="d in mock.devices track by $index" ng-if="d.type == m.type">
      <div class="report-col">
        {{d.title}} {{$index}}
      </div>
      <div class="report-col form-inline">
        <div class="form-group" ng-switch="k">
          <!-- Switches -->
          <span ng-switch-when="switches">
             <input type="checkbox" name="switch_{{v.title}}_{{$index}}" id="switch_{{v.title}}_{{$index}}" ng-model="mock.input['switch_' + v.title + $index]"
            />
            <label for="switch_{{v.title}}_{{$index}}">
              <span class="btn-name">{{mock.input['switch_' + v.title + $index] ? 'ON':'OFF'}}</span>
            </label>
          </span>
          <!-- Dimmers -->
          <input type="text" class="form-control input-number" placeholder="Level" ng-switch-when="dimmers">
          <!-- Thermostats -->
          <input type="text" class="form-control input-number" placeholder="&deg;C" ng-switch-when="thermostats">
          <!-- Locks-->
          <span ng-switch-when="locks">
            <input type="checkbox" name="lock_{{v.title}}_{{$index}}" id="lock_{{v.title}}_{{$index}}" ng-model="mock.input['lock_' + v.title + $index]"
            />
            <label for="lock_{{v.title}}_{{$index}}">
              <span class="btn-name">{{mock.input['lock_' + v.title + $index] ? 'OPEN':'CLOSE'}}</span>
            </label>
          </span>
          <!-- Scenes-->
          <select class="form-control" ng-switch-when="scenes">
            <option>Scene 1</option>
            <option>Scene 2</option>
            <option>Scene 3</option>
          </select>
        </div>
      </div>
      <div class="report-col report-ctrl form-inline">

        <div class="form-group">
          <button class="btn btn-text" title="{{_t('lb_update')}}" ng-click="handleModal(k, $event)">
            <i class="fa fa-pencil text-info"></i>
          </button>
          <button class="btn btn-text" title="{{_t('lb_remove')}}">
            <i class="fa fa-times text-danger"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div ng-include="'app/views/automation/scenes/switches_modal.html'"></div>
<div ng-include="'app/views/automation/scenes/dimmers_modal.html'"></div>
<div ng-include="'app/views/automation/scenes/locks_modal.html'"></div>
<div ng-include="'app/views/automation/scenes/thermostats_modal.html'"></div>
<div ng-include="'app/views/automation/scenes/scenes_modal.html'"></div>