/* App colors
-------------------------------------------------- */
/*$app-color-primary: red;
$app-color-secondary: #000;
$app-body-color:  lighten($app-color-primary, 5%);
$app-body-bcg-color:  #FFFFFF;
$app-a-color:  lighten($app-color-primary, 20%);
$app-a-hover-color:  lighten($app-color-primary, 10%);*/