<div class="tabs-wrap form-inline">
    <div class="btn-group btn-group-justified btn-goup-tabs">
        <a class="btn btn-default" href="#rf433/teachin" title="{{_t('teach_in')}}"
           ng-class="routeMatch('/rf433/teachin') ? 'active' : ''">
            <i class="fa fa-sitemap"></i> <span class="btn-name">{{_t('teach_in')}}</span>
        </a>
        <a class="btn btn-default" href="#rf433/manage" title="{{_t('manage')}}"
           ng-class="routeMatch('/rf433/manage') ? 'active' : ''">
            <i class="fa fa-bolt"></i> <span class="btn-name">{{_t('manage')}}</span>
        </a>
    </div>
</div>
