<div ng-controller="RF433TeachinController" class="mobile-padding">
    <div ng-include="'app/views/rf433/navi.html'"></div>
    <bb-loader></bb-loader>
    <div class="form form-inline form-page">
        <div class="fieldset clearfix">
            <div class="include-device-body">
                <h1>{{_t('lb_teach_in_device')}}</h1>
            </div>
        </div>
        <div class="fieldset clearfix">
            <div class="app-row app-row-report clearfix">
                <!-- 1 -->
                <div class="report-entry">
                    <div class="report-col report-media">
                        <span class="badge badge-number">1</span>
                    </div>
                    <div class="report-col report-body">
                        <div class="inclusion-header">
                            <!-- Header -->
                            <h3>{{_t('lb_selecet_device_typ')}}</h3>
                            {{_t('lb_selecet_device_typ_info')}}
                            <select class="form-control" name="device_typ" ng-model="input.device_typ" ng-disabled="inclusion.process">
                                <option ng-repeat="typ in device_typs" value="{{typ.value}}">{{typ.label}}</option>
                            </select>
                        </div>
                    </div>
                </div><!-- /.report-entry -->
                <!-- 2 -->
                <div class="report-entry" ng-show="input.device_typ !== ''">
                    <div class="report-col report-media">
                        <span class="badge badge-number">2</span>
                    </div>
                    <div class="report-col report-body">
                        <div class="inclusion-header" ng-if="!inclusion.process">
                            <!-- Header -->
                            <h3>{{_t('lb_teach_in_process')}}</h3>
                            <button class="btn btn-success btn-lg" title="{{_t('btn_teach_in_start')}}"
                                    ng-disabled="inclusion.process"
                                    ng-click="startStopTeachin(true)">
                                <i class="fa fa-plug"></i> <span class="btn-name">{{_t('btn_teach_in_start')}}</span>
                            </button>
                        </div>
                        <!-- Process -->
                        <div class="inclusion-process" ng-if="inclusion.process">
                            <div class="alert alert-warning">
                                <i class="fa fa-spinner fa-spin"></i> {{_t('lb_ready_teach_in')}} {{zwaveInclusion.device.find.inc}}
                                <button class="btn btn-danger btn-lg" title="{{_t('btn_teach_in_stop')}}"
                                        ng-click="startStopTeachin(false)">
                                    <i class="fa fa-ban"></i> <span class="btn-name">{{_t('btn_teach_in_stop')}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="report-col report-ctrl">
                        <i class="fa fa-check fa-2x text-success" ng-if="zwaveInclusion.inclusionProcess.done"></i>
                    </div>
                </div><!-- /.report-entry -->
                <!-- 3 -->
                <div class="report-entry" ng-show="inclusion.process || inclusion.done">
                    <div class="report-col report-media">
                        <span class="badge badge-number">3</span>
                    </div>
                    <div class="report-col report-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{_t('lb_pulse_train')}}</th>
                                    <th ng-show="input.device_typ == 'switchBinary' || input.device_typ == 'sensorBinary'">{{_t('lb_on')}}</th>
                                    <th ng-show="input.device_typ == 'switchBinary' || input.device_typ == 'sensorBinary'">{{_t('lb_off')}}</th>
                                    <th ng-show="input.device_typ == 'sensorDiscrete'">{{_t('lb_button_remote_control')}}</th>
                                    <th ng-show="input.device_typ == 'sensorBinary'">{{_t('lb_timout_auto_off')}}</th>
                                    <th style="width: 20%;">{{_t('lb_count')}}</th>
                                    <th>{{_t('lb_action')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in input.table track by $index">
                                    <td>
                                        <input name="code" id="code" type="text" class="form-control" value="{{row.code}}" ng-model="row.code" disabled/>
                                    </td>
                                    <td ng-show="input.device_typ == 'switchBinary' || input.device_typ == 'sensorBinary'">
                                        <input type="radio" name="on-off-{{$index}}" ng-value="true" ng-model="row.on" ng-click="toggleOnOff($index)">
                                    </td>
                                    <td ng-show="input.device_typ == 'switchBinary' || input.device_typ == 'sensorBinary'">
                                        <input type="radio" name="on-off-{{$index}}" ng-value="true" ng-model="row.off" ng-click="toggleOnOff($index)">
                                    </td>
                                    <td ng-show="input.device_typ == 'sensorDiscrete'">
                                        <select class="form-control" ng-model="row.btn">
                                            <option ng-repeat="n in module.schema.definitions.device.properties.pulseTrainTable.items.properties.btn.enum" value="{{n}}">{{n}}</option>
                                        </select>
                                    </td>
                                    <td ng-show="input.device_typ == 'sensorBinary'">
                                        <input name="timeout" id="timeout" type="text" class="form-control" value="{{row.timeout}}" ng-model="row.timeout" />
                                    </td>
                                    <td>
                                        <input name="count" id="count" type="text" class="form-control" value="{{row.count}}" ng-model="row.count" disabled />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default" ng-click="testCode(row.nano_string)">
                                            <i class="fa fa-paper-plane"></i>
                                            <span class="btn-name">{{_t('btn_test')}}</span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="removeRow($index)">
                                            <i class="fa fa-minus"></i>
                                            <span class="btn-name">{{_t('btn_remove')}}</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.report-entry -->
            </div><!-- /.app-row -->
        </div>
        <div class="fieldset submit-entry">
            <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back><i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span></button>
            <button class="btn btn-submit"
                    title="{{_t('save_manage_rf433_devices')}}"
                    ng-disabled="inclusion.process || !inclusion.done"
                    ng-click="updateInstance(instance)">
                        <span class="btn-name">
                            {{_t('save_manage_rf433_devices')}}
                        </span>
                        <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="device-logo" ng-include="'app/views/rf433/rf433_nav.html'"></div>
</div> <!-- /ng-controller --> 