<div class="tabs-wrap form-inline">
    <div class="btn-group btn-group-justified btn-goup-tabs">
        <a class="btn btn-default" href="#zigbee/add" title="{{_t('add_new')}}"
           ng-class="routeMatch('/zigbee/add') ? 'active' : ''">
            <i class="fa fa-sitemap"></i> <span class="btn-name">{{_t('add_new')}}</span>
        </a>
        <a class="btn btn-default" href="#zigbee/manage" title="{{_t('manage')}}"
           ng-class="routeMatch('/zigbee/manage') ? 'active' : ''">
            <i class="fa fa-bolt"></i> <span class="btn-name">{{_t('manage')}}</span>
        </a>
    </div>
</div>
