<div class="form-group_">
  <button type="button" class="btn btn-default btn-tag" title="{{_t('add_notification')}}" ng-click="assignNotification(fireProtection.cfg.notification.default)">
    {{_t('add_notification')}}
    <i class="fa fa-plus text-success"></i>
  </button>
</div>
<div class="form-inline">
  <label for="interval">{{_t('if_alarm_triggered')}}</label>
  <select class="form-control" ng-model="fireProtection.input.params.notificationsInterval">
    <option value="">--- {{_t('no')}} ---</option>
    <option value="{{i}}" ng-repeat="i in fireProtection.interval track by $index" ng-selected="i == fireProtection.input.params.notificationsInterval">
      {{_t('interval_' + i)}}</option>
  </select>
</div>