
<section class="accordion-wrap" ng-repeat="d in fireProtection.input.params.sendNotifications track by $index" ng-class="{'edit-me': !fireProtection.availableNotifiers[d.target].deviceName && !notifyTitleModel}">
    <h2 class="accordion-toggle chevron">
      
       <!-- Title -->
       <button type="button" aria-expanded="false" bb-accordion>
         <span>
           {{_t('notification')}} {{$index+1}} <em>{{(fireProtection.availableNotifiers[d.target].deviceName || notifyTitleModel)}}</em>
          </span>
       </button>
       <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignNotification($index,d.target)">
         <i class="fa fa-times text-danger"></i>
         </span>
     </h2>
      <!-- Content -->
     <div class="accordion" ng-include="'app/views/automation/fireprotection/inputs/notification.html'" hidden></div>
   </section>