<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Z-Wave Smart Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Vendor css -->
        <link media="screen" type="text/css" rel="stylesheet" href="app/css/bootstrap.css">
        <link media="screen" type="text/css" rel="stylesheet" href="app/css/font-awesome-4.2.0/css/font-awesome.min.css">
        <!-- App css -->
        <link media="screen" type="text/css" rel="stylesheet" href="app/css/main.css">
        <!-- App config -->
        <script src="app/config.js"></script>
        <!-- jQuery js -->
        <script src="vendor/jquery/jquery-1.11.1.js"></script>
        <!-- Vendors js -->
        <script src="vendor/chartjs/Chart.js"></script>
        <!-- <script src="vendor/upload/angular-file-upload-shim.js"></script> -->
        <!--  <script src="vendor/gridster/jquery.gridster.js"></script> -->
        <script src="vendor/knob/jquery.knob.js"></script>
        <script src="vendor/bootstrap-switch/bootstrap-switch.js"></script>
        <script src="vendor/handlebars/handlebars.min.js"></script>
        <script src="vendor/alpaca/alpaca.min.js"></script>
        <script src="vendor/md5/md5.js"></script>
        <!-- Angular js -->
        <script src="vendor/angular/angular-1.2.16/angular.js"></script>
        <script src="vendor/upload/angular-file-upload.js"></script>
        <script src="vendor/angular/angular-1.2.16/angular-route.js"></script>
        <!-- <script src="vendor/angular/angular-1.2.16/angular-resource.js"></script>-->
        <script src="vendor/angular/angular-1.2.16/angular-cookies.js"></script>
        <!-- Bootstrap js -->
        <script src="vendor/bootstrap/bootstrap.js"></script>
        <!-- XML js -->
        <!--<script src="vendor/xml/xml2json.js"></script>-->
        <!-- App js -->
        <script src="app/app.js"></script>
        <script src="app/services/factories.js"></script>
        <script src="app/services/services.js"></script>
        <script src="app/directives/directives.js"></script>
        <script src="app/directives/dir-pagination.js"></script>
        <script src="app/directives/tc-angular-chartjs.js"></script>
        <!--<script src="app/directives/bsSwitch.js"></script>-->
        <!--<script src="app/directives/angular-slider.js"></script>-->
        <script src="app/filters/filters.js"></script>
        <script src="app/jquery/postrender.js"></script>
        <script src="app/controllers/controllers.js"></script>
        <script src="app/modules/bootstrap-colorpicker-module.js"></script>
        <!-- ExpertUI configuration js -->
        <script src="app/expertui/pyzw.js"></script>
        <script src="app/expertui/pyzw_zwave_ui.js"></script>
        <script src="vendor/xml/xml2json.js"></script>
        <script src="app/expertui/directives.js"></script>
        <script src="app/expertui/services.js"></script>
        <script src="app/expertui/configuration.js"></script>
    </head>
    <body ng-controller="BaseController" id="page_{{getBodyId()}}" class="app-type-{{cfg.app_type}} is-mobile-{{isMobile}} profile-{{user.color.substring(1)}}">
        <div id="main_navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-if="user">
            <div class="container">
                <div class="navbar-visible">
                    <div class="navbar-visible-in">
                        <a href="#home" title="{{_t('nav_home')}}" class="header-logo">
                            <img ng-src="app/img/app-logo-{{cfg.app_type}}.png" class="header-logo" alt="App logo" />
                        </a>
                        <span class="divider-vertical"></span>
                        <a href="#home" title="{{_t('nav_home')}}" ng-class="isActive('dashboard')"><i class="fa fa-home"></i></a>
                        <a href="#elements" title="{{_t('nav_elements')}}" ng-class="isActive('elements')"><i class="fa fa-th"></i></a>
                        <a href="#rooms" title="{{_t('nav_rooms')}}" ng-class="isActive('rooms')" ng-if="elementAccess(cfg.role_access.rooms)"><i class="fa fa-th-large"></i></a>
                        <a href="#events" title="{{_t('nav_events')}}" ng-class="isActive('events')"><i class="fa fa-list-ul"></i></a>
                        <span class="divider-vertical"></span> 
                        &nbsp;<span id="update_time_tick"></span>
                        <span class="mobile-icon" ng-if="isMobile"><i class="fa fa-mobile fa-lg"></i></span> 
                    </div>
                </div>
                <div class="navbar-header">
                    <a href="" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-cog fa-lg"></i><b class="caret"></b>
                    </a>
                </div>
                <div id="nav_collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right only-icon">
                        <li class="divider-vertical remove-margin"></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle hide-on-mobile" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-class="isActive('apps')" ng-if="elementAccess(cfg.role_access.apps)"><a href="#apps" data-collapse-navbar><i class="fa fa-cubes"></i> {{_t('nav_apps')}}</a></li>
                                <li ng-class="isActive('devices')" ng-if="elementAccess(cfg.role_access.devices)"><a href="#devices" data-collapse-navbar><i class="fa fa-cogs"></i> {{_t('nav_devices')}}</a></li>
                                <li ng-class="isActive('config-rooms')" ng-if="elementAccess(cfg.role_access.config_rooms)"><a href="#config-rooms" data-collapse-navbar><i class="fa fa-building-o"></i> {{_t('nav_rooms')}}</a></li>
                                <li ng-class="isActive('network')"><a href="#network" data-collapse-navbar><i class="fa fa-sitemap"></i> {{_t('nav_network_health')}}</a></li>
                                <li ng-class="isActive('myaccess')" ng-if="elementAccess(cfg.role_access.myaccess)"><a href="#myaccess" data-collapse-navbar><i class="fa fa-user"></i> {{_t('nav_myaccess')}}</a></li>
                                <li ng-class="isActive('admin')" ng-if="elementAccess(cfg.role_access.admin)"><a href="#admin" data-collapse-navbar><i class="fa fa-wrench"></i> {{_t('management')}}</a></li>
                                <li class="divider"></li>
                                <li ng-class="isActive('report')"><a href="#report" data-collapse-navbar><i class="fa fa-bug"></i> {{_t('nav_report')}}</a></li>
                                <li ng-class="isActive('expertUi')" ng-if="elementAccess(cfg.role_access.admin) && cfg.app_type === 'default'"><a href="/expert" target="_blank" data-collapse-navbar><i class="fa fa-external-link"></i> {{_t('nav_expertUi')}}</a></li>
                                <li ng-if="elementAccess(null,isMobile)"><a href="#logout" data-collapse-navbar><i class="fa fa-sign-out"></i> {{_t('nav_logout')}}</a></li>
                            </ul>
                        </li>
                    </ul>

                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </div> <!-- /.navbar --> 
        <!-- Ang Content Container -->
        <div id="main_content" class="container" ng-view></div>
        <div class="clearfix"></div>

        <div id="mobile_footer" ng-if="isMobile">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    &nbsp;
                </div>
            </div>
        </div>
    </body>
</html>