<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="BaseController">
    <head>
        <meta charset="utf-8">
        <title>Z-Wave Smart Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- App css -->
        <!-- <link media="screen" type="text/css" rel="stylesheet" ng-href="{{cfg.skin}}">-->
         <link id="main_css" media="screen" type="text/css" rel="stylesheet" href="app/css/main.css">
       
        <!-- App config -->
        <script src="app/config.js"></script>
        <!-- jQuery js -->
        <script src="vendor/jquery/jquery-1.11.3.min.js"></script>
        <script src="vendor/jquery/jquery-ui.min.js"></script>
        <script src="vendor/jquery/plugins/jquery.ui.widget.js"></script>
        <script src="vendor/jquery/plugins/jquery.iframe-transport.js"></script>
        <script src="vendor/jquery/plugins/jquery.fileupload.js"></script>
        <script src="vendor/jquery/plugins/jquery.fileupload-process.js"></script>
        <script src="vendor/jquery/plugins/jquery.fileupload-ui.js"></script>
        <!-- Vendors js -->
        <script src="vendor/handlebars/handlebars-v3.0.3.min.js"></script>
        <script src="vendor/moment/moment-with-locales.min.js"></script>
        <script src="vendor/underscore/underscore-1.8.3/underscore.js"></script> 
        <script src="vendor/chartjs/Chart.js"></script>
        <script src="vendor/knob/jquery.knob.js"></script>
        <script src="vendor/alertify/alertify.min.js"></script> 
        <!-- Angular js -->
        <script src="vendor/angular/angular-1.2.28/angular.js"></script>
        <script src="vendor/upload/angular-file-upload.js"></script>
        <script src="vendor/angular/angular-1.2.28/angular-route.js"></script>
        <script src="vendor/angular/angular-1.2.28/angular-cookies.js"></script>
        <script src="vendor/dragdrop/angular-drag-and-drop-lists.js"></script>
        <!-- Bootstrap js -->
        <script src="vendor/bootstrap/bootstrap.js"></script>
        <script src="vendor/bootstrap/plugins/bootstrap-datetimepicker.js"></script>

        <script src="vendor/alpaca/1.5.14/bootstrap/alpaca.min.js"></script>
        <!-- App js -->
         <script src="app/icons.js"></script>
        <script src="app/app.js"></script>
        <script src="app/templates.js"></script>
        <script src="app/modules/qAllSettled.js"></script>
        <script src="app/services/factories.js"></script>
        <script src="app/services/services.js"></script>
        <script src="app/directives/directives.js"></script>
        <script src="app/directives/dir-pagination.js"></script>
        <script src="app/directives/tc-angular-chartjs.js"></script>
        <script src="vendor/alertify/ngAlertify.js"></script> 
        <script src="app/filters/filters.js"></script>
        <script src="app/jquery/postrender.js"></script>
        <script src="app/controllers/base.js"></script>
        <script src="app/controllers/jamesbox.js"></script> 
        <script src="app/controllers/controllers.js"></script>
        <script src="app/controllers/element.js"></script> 
        <script src="app/controllers/event.js"></script>
        <script src="app/controllers/app.js"></script> 
        <script src="app/controllers/skin.js"></script>
         <script src="app/controllers/icon.js"></script>
        <script src="app/controllers/device.js"></script>
         <script src="app/controllers/zwave-inclusion.js"></script>
        <script src="app/controllers/zwave.js"></script>
        <script src="app/controllers/camera.js"></script>
        <script src="app/controllers/enocean.js"></script>
        <script src="app/controllers/room.js"></script>
        <script src="app/controllers/management.js"></script> 
        <script src="app/controllers/mysettings.js"></script>
        <script src="app/controllers/auth.js"></script> 
        <!-- ExpertUI configuration js -->
        <script src="app/expertui/pyzw.js"></script>
        <script src="app/expertui/pyzw_zwave_ui.js"></script>
        <script src="vendor/xml/xml2json.js"></script>
        <script src="app/expertui/directives.js"></script>
        <script src="app/expertui/services.js"></script>
        <script src="app/expertui/configuration.js"></script>
        
        
    </head>
    <body id="page_{{getBodyId()}}" class="app-type-{{cfg.app_type}} is-mobile-{{isMobile}} os-{{cfg.route.os}} profile-{{user.color.substring(1)}}">
        <a class="skinreset" href="#skinreset">Reset skin to default</a>
        <div id="header" ng-if="user">
            <div id="main_navigation_wrap">
                <div id="main_navigation" class="container">
                    <div id="navigation_left">
                        <a class="nav-logo" href="#home" title="{{_t('nav_home')}}">
                            <img ng-src="{{getAppLogo()}}" id="header_logo" alt="App logo" />
                        </a>
                        <span class="divider-vertical"></span>
                        <a href="#home" title="{{_t('nav_home')}}" ng-class="isActive('dashboard')"><i class="fa fa-home"></i></a>
                        <span class="divider-vertical"></span>
                        <a href="#rooms" title="{{_t('nav_rooms')}}" ng-class="isActive('rooms')" ng-if="elementAccess(cfg.role_access.rooms)"><i class="fa fa-building-o"></i></a>
                        <span class="divider-vertical"></span>
                        <a href="#elements" title="{{_t('nav_elements')}}" ng-class="isActive('elements')"><i class="fa fa-clone"></i></a>
                        <span class="divider-vertical"></span>
                        <a href="#events" title="{{_t('nav_events')}}" ng-class="isActive('events')"><i class="fa fa-calendar"></i></a>
                        <span class="divider-vertical"></span> 
                        &nbsp;<span class="timestamp clickable" ng-click="reloadData()" ng-if="cfg.route.time.string"><i class="fa fa-clock-o"></i> {{cfg.route.time.string}}</span>
                    </div>
                    <div id="navigation_right">
                        <span class="divider-vertical"></span> 
                        <a id="navi_settings" href="" title="{{_t('lb_configuration')}}" ng-click="expandNavi('mainNav', $event)" ng-class="naviExpanded.mainNav ? 'active' : ''"><i class="fa fa-cog"></i></a>
                    </div>
                </div><!-- /#navigation --> 
            </div><!-- /#main_navigation_wrap --> 
            <div id="sub_navigation" ng-if="naviExpanded.mainNav">
                <div id="sub_navigation_in">
                    <div class="container">
                        <ul>
                            <!-- Apps -->
                            <li class="subnavi-apps" ng-class="isActive('apps')" ng-if="elementAccess(cfg.role_access.apps)">
                                <a href="#apps/local"><i class="fa fa-cubes"></i> {{_t('nav_apps')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li>
                            <!-- Devices -->
                            <li class="subnavi-devices" ng-class="isActive('devices')" ng-if="elementAccess(cfg.role_access.devices)">
                                <a href="#devices"><i class="fa fa-cogs"></i> {{_t('nav_devices')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li>
                            <!-- Config rooms -->
                            <li class="subnavi-config-rooms" ng-class="isActive('config-rooms')" ng-if="elementAccess(cfg.role_access.config_rooms)">
                                <a href="#config-rooms"><i class="fa fa-building-o"></i> {{_t('nav_rooms')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li>
                             <!-- Customize -->
                            <li class="subnavi-report" ng-class="isActive('customize')" ng-if="elementAccess(cfg.role_access.customize)">
                                <a href="#customize/skinslocal"><i class="fa fa-puzzle-piece"></i> {{_t('customize')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li> 
                            <!-- My access -->
                            <li class="subnavi-myaccess" ng-class="isActive('myaccess')" ng-if="elementAccess(cfg.role_access.myaccess)">
                                <a href="#myaccess"><i class="fa fa-user"></i> {{_t('nav_myaccess')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li>
                            <!-- Management -->
                            <li class="subnavi-admin" ng-class="isActive('admin')" ng-if="elementAccess(cfg.role_access.admin)">
                                <a href="#admin"><i class="fa fa-wrench"></i> {{_t('management')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li>
                            <!-- Logout -->
                            <li class="subnavi-logout" ng-if="elementAccess(null, isMobile)">
                                <a href="#logout"><i class="fa fa-sign-out"></i> {{_t('nav_logout')}} <i class="fa fa-chevron-right subnavi-arrow"></i></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /#subnavigation_in --> 
            </div><!-- /#subnavigation --> 
        </div><!-- /#header --> 
        <!-- Ang Content Container -->
        <div id="main_content" class="container">
            <div ng-if="cfg.route.fatalError.message">
                <div class="app-fatal-error">
                    <div class="fatal-error-message"><i class="fa {{cfg.route.fatalError.icon}} fa-lg"></i> {{cfg.route.fatalError.message}}</div>
                    <div class="fatal-error-info" ng-if="cfg.route.fatalError.info" ng-bind-html="cfg.route.fatalError.info|toTrusted"></div>
                </div>
            </div>
            <div id="view_content" ng-hide="cfg.route.fatalError.hide" ng-view></div>
        </div>
        <div class="clearfix"></div>

        <div id="footer">
            <div id="footer_in">
                <div class="container">
                    <span class="timestamp clickable" ng-click="reloadData()" ng-if="cfg.route.time.string"><i class="fa fa-clock-o"></i> {{cfg.route.time.string}}</span>
                </div>
            </div>         
        </div>
    </body>
</html>
