<div ng-controller="AlexaManageController">
	<bb-loader></bb-loader>
	<!--<pre>{{alexa.devices.active | json}}</pre>-->
	<h2>{{_t('alexa')}}</h2>
	<!-- Form -->
	<form class="form form-page" ng-submit="store()">
		<fieldset><!-- assign room -->
			<div class="form-group form-inline ng-scope">
				<label>{{_t("assign_room")}}</label>
				<div class="input-group">
					<input id="then_delay" type="checkbox" ng-model="alexa.instance.params.assign_room">
				</div>
				<bb-help-text trans="_t('assign_room_info')"></bb-help-text>
			</div>
		</fieldset>
		<!-- active devices -->
		<div ng-if="_.size(alexa.devices.active) > 0">
			<legend>{{_t('active_devices')}}</legend>
			<fieldset>
				<section class="accordion-wrap" ng-repeat="d in alexa.devices.active">
					<h2 class="accordion-toggle chevron">
						<!-- Title -->
						<button type="button" aria-expanded="false" bb-accordion>
						<span class="accordion-title">
							<span class="room-title">{{d.locationName}}</span>
							<span class="device-title">{{d.deviceName}}
								<i ng-if="alexa.instance.params.assign_room && d.location != 0">
									({{_t('lb_call_name')}}:&nbsp{{d.callName}}&nbsp{{d.locationName}})
								</i>
								<i ng-if="!alexa.instance.params.assign_room || (alexa.instance.params.assign_room && d.location == 0)">
									({{_t('lb_call_name')}}:&nbsp{{d.callName}})
								</i>
							</span>
						</span>
						</button>
						<span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="deactivateDevice(d.deviceId)">
							<i class="fa fa-times text-danger"></i>
						</span>
					</h2>
					<!-- Content -->
					<div class="accordion" hidden>
						<div class="form-group form-inline">
							<label>
								{{_t('lb_call_name')}}
							</label>
							<input type="text" class="form-control" 
									ng-model="d.callName" 
									placeholder="{{_t('lb_add_call_name')}}" required="" />
							<i ng-if="alexa.instance.params.assign_room && d.location != 0">
								{{d.locationName}}
							</i>
							<bb-help-text trans="_t('call_name_info')"></bb-help-text>
						</div>
					</div>
				</section>
			</fieldset>
		</div>
		<!-- available devices -->
		<legend>{{_t('lb_available_devices')}}</legend>
		<fieldset>
			<section class="accordion-wrap available-devices" 
			ng-repeat="r in alexa.rooms track by $index">
			<!-- Title -->
			<h2 class="accordion-toggle chevron">
				<button type="button" aria-expanded="false" bb-accordion>
					<span>
						<img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
					</span>
				</button>
			</h2>
			<!-- Content -->
			<div class="accordion" hidden>
				<a href="" class="btn btn-default btn-tag" title_="{{d.deviceName}}" 
				ng-repeat="d in alexa.devices.available track by $index"
				ng-if="d.location == r.id && !alexa.devices.active[d.deviceId]" 
				ng-click="activateDevice(d)">{{d.deviceName|cutText:true:20}}
				<i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
			</a>
		</div>
	</section>
</fieldset>
<!--  ////////////////////////////////////////// submit  ////////////////////////////////////////// -->
<fieldset class="submit-entry">
	<button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
		<i class="fa fa-reply"></i>
		<span class="btn-name">{{_t('lb_cancel')}}</span>
	</button>
	<button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
		<i class="fa fa-check"></i>
		<span class="btn-name">{{_t('lb_save')}}</span>
	</button>
</fieldset>
</form>
</div>