<div ng-controller="GoogleHomeSetupController">
    <div class="form-page">
        <div class="fieldset">
            <ul class="wizard">
                <li ng-repeat="v in steps" class="clickable"
                    ng-class="{'active' : $index + 1 == currentStep}"
                    ng-model="currentStep"
                    ng-click="setStep($index + 1)">{{$index + 1}}
                </li>
            </ul>
        </div>
        <div ng-switch="currentStep" class="wizard-tabs">
            <div class="fieldset tab" ng-switch-when="1">
                <div class="content">
                    <h1>Connect Google Home with your Z-Way Smart Home</h1>
                    <div class="text">
                        <p>
                            Z-Way Smart Home can connect with Google Home and Google Assistants to devices to give you command of your home through voice controls.
                            This guide help you to setup the Google Home and give you additional infomrations for configuring your devices.
                        </p>
                    </div>
                    <div class="image">
                        <a href="" ng-click="setImagePath('app/img/google_home/google_home.jpg');handleModal('imageModal', $event)">
                            <img  src="app/img/google_home/google_home.jpg"/>       
                        </a>
                    </div>
                </div>
            </div>
            <div class="fieldset tab" ng-switch-when="2">
                <div class="content">
                    <h1>Get started</h1>
                    <div class="text">
                        Before we can start, please setup your Google Home device.
                        <ol>
                            <li>Plug the power cable into Google Home.</li>
                            <li>Plug the power adapter into wall socket.</li>
                            <li>Download and run the Google Home app on a phone or tablet.</li>
                        </ol>
                        <div class="badges">
                            <a class="google" href="https://play.google.com/store/apps/details?id=com.google.android.apps.chromecast.app" target="_blank">
                                <img ng-src="app/img/google-play-badge.png" alt="Goole Play">
                            </a>
                            <a class="apple" href="https://itunes.apple.com/app/google-home/id680819774" target="_blank">
                                <img ng-src="app/img/apple-store-badges.svg" alt="Apple Store">
                            </a>
                        </div>
                    </div>
                    <div class="image">
                        <a href="" ng-click="setImagePath('app/img/google_home/google_home_and google_home_mini.png');handleModal('imageModal', $event)">
                            <img src="app/img/google_home/google_home_and google_home_mini.png">
                        </a>
                    </div>
                </div> 
            </div>
            <div class="fieldset tab" ng-switch-when="3">
                <div class="content">
                    <h1>Coonect your Z-Way Smart Home devices to your google Home device</h1>
                    <div class="text">
                        <ol>
                            <li>Make sure your mobile device or tablet is connected to the same Wi-Fi as your Google Home device.</li>
                            <li>Open the Google Home app.</li>
                            <li>In the top left corner of the Home screen, tap Menu.</li>
                            <li>Verify that the Google Account that is listed is the one linked to Google Home. To switch accounts, click the triangle to the right of the account name.</li>
                            <li>Tap Home control.</li>
                            <li>In the "Devices" tab, at the bottom right tap Add.</li>
                            <li>Tap "Z-Way Smart Home" to connect, then follow the steps.</li>
                            <li>When pairing is complete, tap Done.</li>
                        </ol>
                    </div>
                    <div class="image">
                        <!--<a href="" ng-click="setImagePath('app/img/alexa/alexa_login.png');handleModal('imageModal', $event)">
                            <img src="app/img/alexa/alexa_login.png"/>
                        </a>-->
                    </div>
                </div>     
            </div>
            <div class="fieldset tab" ng-switch-when="4">
                <div class="content" >
                    <h1>List and edit devices for Google Home support</h1>
                    <div class="text">
                        After Google Home has been successfully linked with your Z-Way Smart Home, you just have to activate your devices for Google Home.
                        Click this <a href="#speech_assistants/GoogleHome"><b>Mange Google Home</b></a> <br>
                        or got to Devices > Speech assistants > Manage > GoogleHome > <i class="fas fa-cog"></i>.<br>
                        On this page you can add devcies to Google Home and give the devices a call name, a phonetic naming for simpler voice control.
                    </div>
                    <div class="image">
                        <a href="" ng-click="setImagePath('app/img/alexa/manage_alexa.png');handleModal('imageModal', $event)">
                            <img src="app/img/alexa/manage_alexa.png"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fieldset tab" ng-switch-when="5">
                <div class="content">
                    <h1>Edit device in device detail view</h1>
                    <div class="text">
                        You can also activate or change the call name of a device in the device detail view.<br>
                        Elements > widget configuration wheel <i class="fas fa-cog"></i> > Detail/Konfiguration view
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldset wizard-controls">
            <button class="btn btn-submit prev" title="_t('lb_prev')" ng-hide="currentStep == 1" ng-click="prevNext(-1)">
                <i class="fas fa-chevron-left"></i>
                {{_t('lb_prev')}} 
            </button>
            <button type="button" title="_t('lb_cancel')" class="btn btn-default cancel" bb-go-back="">
                <i class="fas fa-reply"></i>
                <span class="btn-name ng-binding" ng-bind="_t('lb_cancel')"></span>
            </button>
            <button class="btn btn-submit next" title="_t('lb_next')" ng-hide="currentStep == steps.length"  ng-click="prevNext(1)">
                {{_t('lb_next')}}
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div id="imageModal" class="appmodal image" ng-if="modalArr.imageModal">
        <span class="appmodal-close" ng-click="handleModal('imageModal', $event)"><i class="fas fa-times"></i></span>
        <div class="appmodal-in">
            <img class="" ng-src="{{myImage}}" alt="Image" />
        </div>
    </div>
</div>