<div ng-controller="SpeechAssistantsManageController">
  <bb-loader></bb-loader>
  <!-- SpeechAssistants navigation -->
  <div ng-include="'app/views/speech_assistants/navi.html'"></div>
  <bb-alert alert="alert"></bb-alert>
  <div class="list-panel bcg-active" ng-repeat="v in instances |orderBy:'title' track by v.id" 
    ng-class="v.active ? 'true': 'false'">
        <!-- img -->
        <figure class="img wh-32x32">
          <img ng-src="{{modules.mediaUrl + v.moduleId + '/' + modules.imgs[v.moduleId]}}" ng-if="modules.imgs[v.moduleId]" alt="img" />
          <img ng-src="storage/img/placeholder-img.png" ng-if="!modules.imgs[v.moduleId]" alt="img" />
        </figure>
        <!-- body -->
        <div class="body">
          <div>
              <a href="#speech_assistants/{{v.moduleId}}">{{v.title}}</a>
          </div>
        </div>
    
        <!-- dots -->
        <div class="l-hide control">
          <!-- expand/collapse -->
          <button type="button" class="btn btn-ctrl" title="{{_t('lb_settings')}}" ng-click="expandNavi('speech_' + $index, $event)"></button>
        </div>
        <!-- control -->
        <div class="control" ng-class="naviExpanded['speech_' + $index] ? 'expand-true': 'expand-false'">
          <div class="btn-group">
            <a href="#speech_assistants/{{v.moduleId}}" class="btn btn-default" title="{{_t('lb_settings')}}">
              <i class="fa fa-cog"></i>
            </a>
            <button title="{{_t('lb_activate')}}/{{_t('lb_deactivate')}}" class="btn btn-default"
                    ng-click="activateInstance(v, v.active ? false : true)">
              <i class="fa " ng-class="v.active ? 'fa-pause text-danger' : 'fa-play text-success'"></i>
            </button>
            <button title="{{_t('lb_remove')}}" 
                  class="btn btn-default"
                  ng-click="deleteInstance({'id': v.id}, _t('lb_delete_confirm'))">
              <i class="fa fa-remove text-danger"></i>
            </button>
          </div>
        </div>
      </div>
  <div class="device-logo" ng-include="'app/views/speech_assistants/nav.html'"></div>
</div> <!-- /ng-controller --> 