<div ng-controller="SpeechAssistantsAddController">
  <bb-loader></bb-loader>
  <!-- SpeechAssistants navigation -->
  <div ng-include="'app/views/speech_assistants/navi.html'"></div>
  <div class="app-row app-row-report clearfix">
    <!-- Widgets -->
    <div class="clearfix">
        <!-- Alexa -->
        <div class="onlineapp" ng-class="{'widget-warning': speechAssistants.Alexa.instance.active}">
             <!-- Onlineapp entry -->
             <div class="onlineapp-in longpress-{{longPressSent}}" on-long-press="onLongPress(speechAssistants.Alexa.module.id)" on-touch-end="onTouchEnd()" prevent-click="true">
              <!-- Online app header -->
              <a class="onlineapp-header" href="#speech_assistants/Alexa/setup">
                  <img class="onlineapp-img" alt="{{speechAssistants.Alexa.module.defaults.title}}" title="{{v.toolTipDescription}}" 
                      ng-src="{{speechAssistants.Alexa.module.icon ? speechAssistants.Alexa.module.iconPath : 'storage/img/placeholder-img.png'}}" />
              </a>
              <!-- Online app body-->
              <div class="onlineapp-body">
                  <!-- Online app title -->
                  <a class="onlineapp-title" 
                    ng-href="#speech_assistants/Alexa/setup" 
                    title="{{speechAssistants.Alexa.module.defaults.title}}">
                      {{speechAssistants.Alexa.module.defaults.title}}
                  </a>
                  <!-- Online app footer -->
                  <div class="onlineapp-footer" 
                      ng-class="speechAssistants.Alexa.module.id == hasLongPress ? 'has-longpress' : ''" 
                      on-long-press="onLongPress()" 
                      prevent-click="true">
                      <div class="btn-group group-apps">
                        <button class="btn btn-default" title=""
                            ng-click="createInstance(speechAssistants.Alexa.module)">
                            <i class="fa fa-plus text-success"></i>
                            <span class="btn-name" ng-bind="_t('lb_add_app')">Add App</span>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- Google Home -->
        <div class="onlineapp" ng-class="{'widget-warning': speechAssistants.GoogleHome.instance.active}">
             <!-- Onlineapp entry -->
             <div class="onlineapp-in longpress-{{longPressSent}}" on-long-press="onLongPress(v.id)" on-touch-end="onTouchEnd()" prevent-click="true">
              <!-- Online app header -->
              <a class="onlineapp-header" href="#apps/online/{{v.id}}">
                  <img class="onlineapp-img" alt="{{v.title}}" title="{{v.toolTipDescription}}" 
                      ng-src="{{v.icon ? v.iconPath : 'storage/img/placeholder-img.png'}}" />
              </a>
              <!-- Online app body-->
              <div class="onlineapp-body">
                  <!-- Online app title -->
                  <a class="onlineapp-title" ng-href="#speech_assistants/Alexa/setup" title="{{v.title}}">{{v.title}}</a>
                  <!-- Online app footer -->
                  <div class="onlineapp-footer" ng-class="v.id == hasLongPress ? 'has-longpress' : ''" on-long-press="onLongPress()" prevent-click="true">
                      <div class="btn-group group-apps">

                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="device-logo" ng-include="'app/views/speech_assistants/nav.html'"></div>
</div> <!-- /ng-controller --> 