<div class="row">
  <div class="col col-sm-6">
     <!-- Name -->
    <div class="form-group form-inline">
     
      <label>{{_t('lb_name')}}</label>
      <input name="title" id="title" type="text" class="form-control" />
    </div>
    <!-- Active -->
    <div class="form-group form-inline">
        <input type="checkbox" name="instances_expanded" id="instances_expanded" ng-checked="input.show_background" />
        <label for="instances_expanded"> Active</label>
      </div>
    <!-- Upload -->
    <div class="form-group">
      <input class="inputfile" type="file" name="file" id="file{{v.id}}" ng-click="icons.find = v" onchange="angular.element(this).scope().uploadFile(this.files)"
      />
      <label for="file{{v.id}}" class="btn btn-default" title="{{_t('lb_upload_image')}}" ng-click="icons.find = v">
        <i class="fa fa-upload text-success"></i> Upload icon
      </label>
      <div ng-if="file.upload">{{file.upload|cutText:true:30}}</div>
      <bb-help-text trans="_t('upload_file_info',{'__size__':file.info.maxSize,'__extensions__': file.info.extensions})"></bb-help-text>
      <bb-help-text trans="_t('image_recommended_dimension',{'__dimension__':cfg.upload.room.dimension})"></bb-help-text>
    </div>

  </div>
  <div class="col col-sm-6">
    <div class="form-group form-inline_">
      <!-- Monday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Monday" />
        <label for="Monday">Monday</label>
      </div>
      <!-- Tuesday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Tuesday" />
        <label for="Tuesday">Tuesday</label>
      </div>
      <!-- Wednesday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Wednesday" />
        <label for="Wednesday">Wednesday</label>
      </div>
      <!--Thursday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Thursday" />
        <label for="Thursday">Thursday</label>
      </div>
      <!--Friday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Friday" />
        <label for="Friday">Friday</label>
      </div>
      <!--Saturday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Saturday" />
        <label for="Saturday">Saturday</label>
      </div>
      <!--Sunday -->
      <div class="checkbox">
        <input class="default" type="checkbox" id="Sunday" />
        <label for="Sunday">Sunday</label>
      </div>

      <input type="number" min="0" max="24"  class="form-control input-number" placeholder="HH"> : 
      <input type="number" min="0" max="59" class="form-control input-number"  placeholder="MM">
    </div>
  </div>
</div>