<div class="table-responsive">
  <table class="table table-bordered table-calendar">
    <col class="first-col" />
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>MO</th>
        <th>TU</th>
        <th>WE</th>
        <th>TH</th>
        <th>FR</th>
        <th>SA</th>
        <th>SO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>00:00</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <div class="infowindow-wrap">
          <button class="btn btn-default btn-sm" title="{{_t('lb_settings')}}" ng-click="expandNavi('schedule_1', $event)">
            Schedule name 1
          </button>
          <div class="infowindow top" ng-if="naviExpanded['schedule_1']">
            <div class="infowindow-in text-center">
              <div class="btn-group" ng-if="naviExpanded['schedule_1']">

                <button title="{{_t('lb_deactivate')}}" class="btn btn-default active">
                  <i class="fa fa-fire text-success"></i>
                </button>
                <button class="btn btn-default" title="{{_t('lb_clone')}}">
                  <i class="fa fa-clone"></i>
                </button>
                <button title="{{_t('lb_remove')}}" class="btn btn-default">
                  <i class="fa fa-remove text-danger"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>06:00</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>12:00</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bcg-danger">
          <div class="infowindow-wrap">
            <button class="btn btn-default btn-sm" title="{{_t('lb_settings')}}" ng-click="expandNavi('schedule_2', $event)">
              Inactive schedule
            </button>
            <div class="infowindow top" ng-if="naviExpanded['schedule_2']">
              <div class="infowindow-in text-center">
                <div class="btn-group">

                  <button title="{{_t('lb_deactivate')}}" class="btn btn-default">
                    <i class="fa fa-ban text-danger"></i>
                  </button>
                  <button class="btn btn-default" title="{{_t('lb_clone')}}">
                    <i class="fa fa-clone"></i>
                  </button>
                  <button title="{{_t('lb_remove')}}" class="btn btn-default">
                    <i class="fa fa-remove text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>18:30</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>22:00</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <div class="infowindow-wrap">
            <button class="btn btn-default btn-sm" title="{{_t('lb_settings')}}" ng-click="expandNavi('schedule_3', $event)">
              My another schedule
            </button>
            <div class="infowindow top" ng-if="naviExpanded['schedule_3']">
              <div class="infowindow-in text-center">
                <div class="btn-group">

                  <button title="{{_t('lb_deactivate')}}" class="btn btn-default active">
                    <i class="fa fa-fire text-success"></i>
                  </button>
                  <button class="btn btn-default" title="{{_t('lb_clone')}}">
                    <i class="fa fa-clone"></i>
                  </button>
                  <button title="{{_t('lb_remove')}}" class="btn btn-default">
                    <i class="fa fa-remove text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

    </tbody>
  </table>
</div>