<!-- The list -->
<div class="app-row app-row-report clearfix">
    <div class="report-entry bcg-active" ng-repeat="v in schedules.all track by $index" ng-class="v.active ? 'true': 'false'">
        <div class="report-col report-media">
          <figure class="label-round is-48px">
              <span>{{v.params.times[0]}}</span>
          </figure>
         
            <!-- <img class="report-img-s" ng-src="{{schedules.localModules[v.moduleId].icon}}" err-src="{{cfg.img.placeholder}}" alt="img" /> -->
        </div>
        <div class="report-col report-body">
            <a href="#schedules/{{v.id}}">{{v.title}}</a>
            <div class="label-wrap">
            <span class="label label-info" ng-repeat="d in v.params.weekdays">{{_t('day_short_' + d)}}</span>
          </div>
        </div>
        <div class="report-col report-ctrl report-ctrl-3">
            <div class="btn-wrapper">
                <button type="button" class="btn btn-default l-hide" title="{{_t('lb_settings')}}" ng-click="expandNavi('autoDropdown_' + $index, $event)">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="btn-group" ng-class="naviExpanded['autoDropdown_' + $index] ? 'btn-group-expanded': 'btn-group-collapsed'">
                    <a ng-href="#schedules/{{v.id}}" class="btn btn-default" title="{{_t('lb_update')}}">
                        <i class="fa fa-pencil text-primary"></i>
                    </a>
                      <!--<button title="{{_t('lb_deactivate')}}" class="btn btn-default" href="" ng-if="v.active" ng-class="v.active ? 'active' : ''"
                        ng-click="activateInstance(v, false)">
                        <i class="fa fa-fire text-success"></i>
                    </button>
                  <button title="{{_t('lb_activate')}}" class="btn btn-default" ng-if="!v.active" ng-click="activateInstance(v, true)">
                        <i class="fa fa-power-off text-danger"></i>
                    </button>-->
                    <button class="btn btn-default" title="{{_t('lb_clone')}}" ng-click="cloneSchedule(v)">
                        <i class="fa fa-clone"></i>
                    </butto>
                    <button title="{{_t('lb_remove')}}" class="btn btn-default" ng-click="deleteSchedule({'id': v.id}, _t('lb_delete_confirm'))">
                        <i class="fa fa-remove text-danger"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add new -->
<div class="block text-right">
    <a class="btn btn-default" href="#schedules/0">
        <i class="fa fa-plus text-success"></i>
        <span class="btn-name">{{_t('add_new')}}</span>
    </a>
</div>