<!-- Blank -->
<div class="blank is-info">
    <figure>
      <i class="fa fa-info-circle"></i>
    </figure>
    <div>
        {{_t('no_schedules_available')}}
    </div>
    <a ng-href="#automations" class="btn btn-default" title="{{_t('lb_cancel')}}">
        <i class="fa fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </a>
    <a class="btn btn-default" href="#schedules/0">
      <i class="fa fa-plus text-success"></i>
      <span class="btn-name">{{_t('add_new')}}</span>
    </a>
  </div>