<section class="accordion-wrap" ng-repeat="r in schedule.rooms track by $index" ng-class="schedule.devicesInRoom[r.id] ? 'available-devices' : 'ng-hide'">
  <!-- Accordion header -->
  <h2 class="accordion-toggle chevron">
      <button type="button" aria-expanded="false" bb-accordion>
        <span>
          <img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
        </span>
      </button>
    </h2>
  <!-- Content -->
  <div class="accordion" hidden> <a href="" class="btn btn-default btn-tag" title="{{d.deviceName + ' | ' + _t(d.deviceType)}}" ng-repeat="d in schedule.availableDevices" ng-if="d.location == r.id &&  schedule.assignedDevices.indexOf(d.deviceId) === -1 && d.deviceType != 'notification'" ng-click="assignDevice(d)">
    <img class="navi-img" ng-src="{{schedule.availableDevices[d.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
    {{d.deviceName|cutText:true:20}}
    <i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
      </a>
  </div>
</section>
<!-- //////////////////////////////////////////Notifications ////////////////////////////////////////// -->
<section class="accordion-wrap">
  <!-- Title -->
  <h2 class="accordion-toggle chevron">
  <button type="button" aria-expanded="false" bb-accordion>
  <span>
    <img class="navi-img" ng-src="{{cfg.img.icons + 'alarm-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />&nbsp;{{_t('add_notification')}}
  </span>
  </button>
  </h2>
  <!-- Content -->
  <div class="accordion" hidden>
    <!--target  -->
    <div class="form-group form-inline">
      <select class="form-control" ng-model="schedule.cfg.notification.default.target">
        <option value="">--- {{_t('notification_trigger')}} ---</option>
        <option value="{{user.email}}" ng-if="schedule.assignedNotifications.indexOf(user.email) === -1 && user.email != ''">{{user.email}}</option>
        <option value="{{e.deviceId}}" ng-if="e.probeType == 'notification_push' && schedule.assignedNotifications.indexOf(e.deviceId) === -1"
          ng-repeat="e in schedule.availableDevices track by $index">
        {{e.deviceName}}</option>
      </select>
      &nbsp;
      <label ng-hide="schedule.cfg.notification.default.target">{{_t('or')}}&nbsp;<input type="text" class="form-control" placeholder="{{_t('add_email')}}" ng-model="schedule.cfg.notification.default.target_custom" /></label>
    </div>
    <!-- mesage -->
    <div class="form-group">
      <textarea name="message" id="content" class="form-control report-content" ng-model="schedule.cfg.notification.default.message"
      placeholder="{{_t('message')}}"></textarea>
    </div>
    <!-- button -->
    <div class="form-group">
      <a href="" class="btn btn-default btn-tag" title="{{_t('add_new')}}" ng-click="assignNotification(schedule.cfg.notification.default)">
        {{_t('add_new')}}
        <i class="fas fa-plus text-success"></i>
      </a>
    </div>
  </div>
</section>