<!-- Name -->
<div class="form-group form-inline">
  <label>{{_t('lb_name')}}</label>
  <input name="title" id="title" type="text" class="form-control" ng-model="schedule.input.title" />
</div>
<!-- Weekdays -->
<div class="form-group form-inline">
  <div class="checkbox" ng-repeat="d in schedule.days">
    <input class="default" type="checkbox" id="day_{{d}}" ng-change="toggleWeekday(d)" ng-model="schedule.model.weekday[d]" ng-checked="schedule.input.params.weekdays.indexOf(d.toString())  > -1" />
    <label for="day_{{d}}">{{_t('day_' + d)}}</label>
  </div>
</div>

<!-- Add time -->
<div class="form-group">
  <button type="button" class="btn btn-default btn-tag" title="{{_t('add_time')}}" ng-click="schedule.input.params.times.push('00:00')">
    {{_t('add_time')}}
    <i class="fas fa-plus text-success"></i>
  </button>
</div>

<!--Time -->
<div class="form-group">
  <div class="form-group form-inline" ng-repeat="(index, value) in schedule.input.params.times track by $index">
    <input type="time" class="form-control" placeholder="HH:MM" ng-model="schedule.input.params.times[index]">

    <button type="button" class="btn btn-default" title="Remove" ng-click="schedule.input.params.times.splice(index, 1)">
      <i class="fas fa-times text-danger"></i>
    </button>
  </div>
</div>
