<div class="fieldset expanded" enter-submit="handleDevice(schedule.model.thermostat,'thermostats')">
  <!-- Switch select -->
  <div class="form-group  form-inline">
    <select class="form-control" ng-model="schedule.model.thermostat.device">
      <option value="{{v.id}}" ng-repeat="v in schedule.devices" ng-if="v.deviceType == 'thermostat'" ng-selected="v.id == schedule.model.thermostat.device">{{v.metrics.title}}</option>
    </select>
    <!-- status -->
    {{_t('lb_is')}}
    <input type="number" class="form-control input-number" min="{{schedule.cfg.thermostat.min}}" max="{{schedule.cfg.thermostat.max}}"
      ng-model="schedule.model.thermostat.status">
  </div>

  <!-- command -->
  <div class="form-group">
    <input type="checkbox" name="send_command" id="send_command" ng-model="schedule.model.thermostat.sendAction" ng-checked="schedule.model.thermostat.sendAction"
    />
    <label for="send_command">{{_t('dont_send_on_command')}}</label>
  </div>

  <!-- submit -->
  <div class="form-group last">
    <button type="button" title="{{_t('lb_save')}}" class="btn btn-submit" ng-click="handleDevice(schedule.model.thermostat,'thermostats')">
      {{_t('lb_save')}}
    </button>
    <button type="button" class="btn btn-text" title="{{_t('lb_close')}}" ng-click="handleDevice(false,false,'thermostat')">
      {{_t('lb_cancel')}}
    </button>
  </div>
</div>