<!-- The schedule -->
<div ng-controller="AutomationScheduleIdController">

  <div class="blank is-info">
    <div class="blank-img">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="blank-body">
      <p class="blank-title">Schedule</p>
      <p class="blank-text">
        This app allow to control relays, dimmers, thermostats and scenes on a schedule.
      </p>

    </div>
  </div>
  <pre>{{schedule.model|json}}</pre>
  <pre>{{schedule.input|json}}</pre>
  <!-- Form -->
  <form class="form form-page" ng-submit="storeSchedule(schedule.input,true)">
    <!-- Form-->
    <fieldset ng-include="'app/views/automation/schedules/schedule_form.html'"></fieldset>
    <!-- Switches -->
    <legend>Switches
      <button type="button" class="btn btn-default btn-small" title="{{_t('lb_update')}}" ng-click="handleSwitchModal(false,'switchBinary', $event)">
        <i class="fa fa-plus text-success"></i>
      </button>
    </legend>
    <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_form_switches.html'"></fieldset>
    <div ng-include="'app/views/automation/schedules/schedule_switches_modal.html'"></div>
    <!-- Dimmers -->
    <legend>Dimmers
      <button type="button" class="btn btn-default btn-small" title="{{_t('lb_update')}}" ng-click="handleDimmerModal(false,'switchMultilevel', $event)">
        <i class="fa fa-plus text-success"></i>
      </button>
    </legend>
    <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_form_dimmers.html'"></fieldset>
    <div ng-include="'app/views/automation/schedules/schedule_dimmers_modal.html'"></div>
    <!-- Thermostats -->
    <legend>Thermostats
      <button type="button" class="btn btn-default btn-small" title="{{_t('lb_update')}}" ng-click="handleThermostatModal(false,'thermostat', $event)">
        <i class="fa fa-plus text-success"></i>
      </button>
    </legend>
    <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_form_thermostats.html'"></fieldset>
    <div ng-include="'app/views/automation/schedules/schedule_thermostats_modal.html'"></div>
    <!-- Locks -->
    <legend>Locks</legend>
    <fieldset ng-include="'app/views/automation/schedules/schedule_form_locks.html'"></fieldset>
    <!-- Scenes -->
    <legend>Scenes</legend>
    <fieldset ng-include="'app/views/automation/schedules/schedule_form_scenes.html'"></fieldset>

    <!-- Submit  -->
    <fieldset class="submit-entry">
      <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
        <i class="fa fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </button>
      <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
        <i class="fa fa-check"></i>
        <span class="btn-name">{{_t('lb_save')}}</span>
      </button>
    </fieldset>
  </form>
</div>
<!-- /ng-controller -->

<div ng-controller="AutomationMockController">
  <!-- DEMO -->
  <div class="form form-page">
    <!-- Form -->
    <fieldset ng-include="'app/views/automation/schedules/schedule_form_demo.html'"></fieldset>
    <!-- List -->
    <fieldset ng-include="'app/views/automation/schedules/schedule_form_list_demo.html'"></fieldset>


    <!-- Submit  -->
    <fieldset class="submit-entry">
      <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
        <i class="fa fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </button>
      <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
        <i class="fa fa-check"></i>
        <span class="btn-name">{{_t('lb_save')}}</span>
      </button>

    </fieldset>
  </div>

</div>
<!-- /ng-controller -->