<div class="fieldset expanded" enter-submit="handleSceneDevice(schedule.model.toggleButton)">
  <!-- Switch select -->
  <div class="form-group last form-inline">
    <select class="form-control" ng-model="schedule.model.toggleButton" >
      <option value="">--- {{_t('lb_select')}} ---</option>
      <option value="{{v.id}}" ng-repeat="v in schedule.devices" ng-if="v.deviceType == 'toggleButton'" ng-selected="v.id == schedule.model.toggleButton">{{v.metrics.title}}</option>
    </select>
    <button type="button" title="{{_t('lb_save')}}" class="btn btn-submit" ng-click="handleSceneDevice(schedule.model.toggleButton)">
        {{_t('lb_save')}}
      </button>
      <button type="button" class="btn btn-text" title="{{_t('lb_close')}}"  ng-click="handleSceneDevice(false,'scene')">
          {{_t('lb_cancel')}}
        </button>
  </div>
</div>