<!-- The schedule -->
<div ng-controller="AutomationScheduleIdController">

  <div class="blank is-info">
    <div class="blank-img">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="blank-body">
      <p class="blank-title">Schedule</p>
      <p class="blank-text">
        This app allow to control relays, dimmers, thermostats and scenes on a schedule.
      </p>

    </div>
  </div>
  <!-- <pre>{{schedule.model|json}}</pre>
  <pre>{{schedule.input|json}}</pre> -->
  <!-- Form -->
  <form class="form form-page" ng-submit="storeSchedule(schedule.input,true)">
    <!-- Form-->
    <fieldset ng-include="'app/views/automation/schedules/schedule_form.html'"></fieldset>
    <!-- Switches -->
    <div ng-if="schedule.deviceTypeCnt['switchBinary']">
      <div class="legend has-control">
        <span>Switches
          <em class="item-cnt">({{schedule.deviceTypeCnt['switchBinary']}})</em>
        </span>
        <span type="button" class="btn btn-primary btn-small" title="{{_t('edit')}}" ng-class="{'btn-default':expand.switch}" ng-click="handleDevice(false,'switches','switch')">
            {{_t('edit')}}
          </span>
       <!--  <span type="button" class="btn btn-primary btn-small" title="{{_t('add_new')}}" ng-if="schedule.deviceTypeCnt['switchBinary'] > schedule.input.params.devices.switches.length"
          ng-click="handleSwitchModal(false,'switchBinary')">
          {{_t('add_new')}} 
        </span>-->
      </div>
      <div ng-if="expand.switch" ng-include="'app/views/automation/schedules/schedule_switches_edit.html'"></div>
      <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_switches_list.html'"></fieldset>
      <!-- <div ng-include="'app/views/automation/schedules/schedule_switches_modal.html'"></div> -->
    </div>
    <!-- Dimmers -->
    <div ng-if="schedule.deviceTypeCnt['switchMultilevel']">
      <div class="legend has-control">
        <span>Dimmers
          <em class="item-cnt">({{schedule.deviceTypeCnt['switchMultilevel']}})</em>
        </span>
        <span type="button" class="btn btn-primary btn-small" title="{{_t('edit')}}" ng-class="{'btn-default':expand.dimmer}" ng-click="handleDevice(false,'dimmers','dimmer')">
            {{_t('edit')}}
          </span>
        <!-- <span type="button" class="btn btn-primary btn-small" title="{{_t('add_new')}}" ng-if="schedule.deviceTypeCnt['switchMultilevel'] > schedule.input.params.devices.dimmers.length"
          ng-click="handleDimmerModal(false,'switchMultilevel')">
          {{_t('add_new')}}
          </button> -->
      </div>
      <div ng-if="expand.dimmer" ng-include="'app/views/automation/schedules/schedule_dimmers_edit.html'"></div>
      <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_dimmers_list.html'"></fieldset>
      <!-- <div ng-include="'app/views/automation/schedules/schedule_dimmers_modal.html'"></div> -->
    </div>
    <!-- Thermostats -->
    <div ng-if="schedule.deviceTypeCnt['thermostat']">
      <div class="legend has-control">
        <span>Thermostats
          <em class="item-cnt">({{schedule.deviceTypeCnt['thermostat']}})</em>
        </span>
        <span type="button" class="btn btn-primary btn-small" title="{{_t('add_new')}}" ng-click="handleThermostatModal(false,'thermostat')">
          {{_t('add_new')}}
        </span>
      </div>
      <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_thermostats_list.html'"></fieldset>
      <div ng-include="'app/views/automation/schedules/schedule_thermostats_modal.html'"></div>
    </div>
    <!-- Locks -->
    <div ng-if="schedule.deviceTypeCnt['doorlock']">
      <div class="legend has-control">
        <span>Locks
          <em class="item-cnt">({{schedule.deviceTypeCnt['doorlock']}})</em>
        </span>
        <span type="button" class="btn btn-primary btn-small" title="{{_t('add_new')}}" ng-click="handleLockModal(false,'doorlock')">
          {{_t('add_new')}}
        </span>
      </div>
      <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_locks_list.html'"></fieldset>
      <div ng-include="'app/views/automation/schedules/schedule_locks_modal.html'"></div>
    </div>
    <!-- Scenes -->
    <div ng-if="schedule.deviceTypeCnt['toggleButton']">
      <div class="legend has-control">
        <span>Scenes
          <em class="item-cnt">({{schedule.deviceTypeCnt['toggleButton']}})</em>
        </span>
        <!-- <span type="button" class="btn btn-primary btn-small" title="{{_t('add_new')}}" ng-click="handleSceneModal(false,'toggleButton')">
          {{_t('add_new')}}
        </span> -->
        <span type="button" class="btn btn-primary btn-small" title="{{_t('edit')}}" ng-class="{'btn-default':expand.scene}" ng-click="handleSceneDevice(false,'scene')">
          {{_t('edit')}}
        </span>
       
      </div>
      <div ng-if="expand.scene" ng-include="'app/views/automation/schedules/schedule_scenes_edit.html'"></div>
      <fieldset class="automation-report" ng-include="'app/views/automation/schedules/schedule_scenes_list.html'"></fieldset>
      <!-- <div ng-include="'app/views/automation/schedules/schedule_scenes_modal.html'"></div> -->
     
    </div>
    <!-- Submit  -->
    <fieldset class="submit-entry">
      <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
        <i class="fa fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </button>
      <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
        <i class="fa fa-check"></i>
        <span class="btn-name">{{_t('lb_save')}}</span>
      </button>
    </fieldset>
  </form>
</div>
<!-- /ng-controller -->