<div id="doorlock" class="appmodal" ng-if="modalArr.doorlock" enter-submit="handleLockModal(schedule.model.doorlock,'doorlock')">
  <div class="appmodal-in">
    <div class="appmodal-header">
      <span class="appmodal-close" ng-click="handleLockModal(false,'doorlock')">
        <i class="fa fa-times"></i>
      </span>
      <h3>Locks</h3>
    </div>
    <div class="appmodal-body">
      <div class="fieldset">
        <!-- Switch select -->
        <div class="form-group  form-inline">
          <select class="form-control" ng-model="schedule.model.doorlock.device">
              <option value="">--- {{_t('lb_select')}} ---</option>
            <option value="{{v.id}}" ng-repeat="v in schedule.devices" ng-if="v.deviceType == 'doorlock'" ng-selected="v.id == schedule.model.doorlock.device">{{v.metrics.title}}</option>
          </select>
        </div>
        <!--on/off -->
        <div class="form-group">
          <input type="checkbox" name="on_off" id="on_off" ng-model="schedule.model.doorlock.status" ng-checked="schedule.model.doorlock.status == 'open'" ng-true-value="open" ng-false-value="close" />
          <label for="on_off">{{schedule.model.doorlock.status}}</label>
        </div>
        <!-- command -->
        <div class="form-group">
          <input type="checkbox" name="send_command" id="send_command" ng-model="schedule.model.doorlock.sendAction" ng-checked="schedule.model.doorlock.sendAction"
          />
          <label for="send_command">Don't send On command, if device is already turned On, similarly for Off</label>
        </div>
      </div>
    </div>
    <div class="appmodal-footer">
      <button type="button" class="btn btn-default" title="{{_t('lb_close')}}" ng-click="handleLockModal(false,'doorlock')">
        <i class="fa fa-times text-danger"></i>
        <span class="btn-name">{{_t('lb_close')}} </span>
      </button>
      <button type="button" title="{{_t('lb_save')}}" class="btn btn-submit" ng-click="handleLockModal(schedule.model.doorlock,'doorlock')">
        <i class="fa fa-check"></i>
        <span class="btn-name">{{_t('lb_save')}}</span>
      </button>
    </div>
  </div>
</div>