<!-- Scenes -->
<div ng-controller="AutomationScheduleController">
  <!-- Topbar -->
  <section class="page-topbar">
    <h1>{{_t('schedules')}}</h1>
    <div class="btn-group">
      <a ng-href="#automations" class="btn btn-default" title="{{_t('lb_cancel')}}"> <i class="fas fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </a>
      <a class="btn btn-default" href="#schedules/0"> <i class="fas fa-plus text-success"></i>
        <span class="btn-name">{{_t('add_new')}}</span>
      </a>
    </div>
  </section>
  <!-- The list -->
  <div class="list-panel" ng-repeat="v in schedules.all track by $index" ng-class="{'bcg-danger':!v.active}">
    <!-- img -->
    <figure class="label-round is-48px clickable" ng-click="activateSchedule(v, v.active ? false : true)"> <span>{{v.params.times[0]}}</span>
    </figure>
    <!-- body -->
    <div class="body">
      <div> <a href="#schedules/{{v.id}}">{{v.title}}</a>
        <div class="label-wrap"> <span class="label label-info" title="{{_t('day_' + d)}}" ng-repeat="d in v.params.weekdays">{{_t('day_short_' + d)}}</span>
        </div>
      </div>
    </div>
    <!-- arrow -->
    <div class="l-hide control">
      <!-- expand/collapse -->
      <button type="button" class="btn btn-ctrl" title="{{_t('lb_settings')}}" ng-click="expandNavi('autoDropdown_' + $index, $event)"></button>
    </div>
    <!-- control -->
    <div class="control" ng-class="naviExpanded['autoDropdown_' + $index] ? 'expand-true': 'expand-false'">
      <div class="btn-group">
        <!-- test -->
        <button title="{{_t('btn_test')}}" class="btn btn-default" ng-disabled="!_.contains(schedules.enableTest, v.id)" ng-click="runScheduleTest(v)">
          <bb-row-spinner spinner="rowSpinner[v.id]" icon="'fa-play-circle text-success'"></bb-row-spinner>
        </button>
        <!--edit -->
        <a ng-href="#schedules/{{v.id}}" class="btn btn-default" title="{{_t('lb_update')}}"> <i class="fas fa-pencil-alt text-primary"></i>
        </a>
        <!-- activate -->
        <button title="{{_t('lb_activate')}}/{{_t('lb_deactivate')}}" class="btn btn-default" ng-click="activateSchedule(v, v.active ? false : true)"> <i class="fas " ng-class="v.active ? 'fa-stop text-danger' : 'fa-play text-success'"></i>
        </button>
        <!-- clone -->
        <button class="btn btn-default" title="{{_t('lb_clone')}}" ng-click="cloneSchedule(v)" ng-disabled="!v.active"> <i class="fas fa-clone"></i>
        </button>
        <!-- remove -->
        <button title="{{_t('lb_remove')}}" class="btn btn-default" ng-click="deleteSchedule({'id': v.id}, _t('lb_delete_confirm'))"> <i class="fas fa-trash text-danger"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /ng-controller -->