<div class="fieldset expanded" enter-submit="handleDevice(schedule.model.switchBinary,'switches')">
  <!-- Switch select -->
  <div class="form-group form-inline">
    <select class="form-control" ng-model="schedule.model.switchBinary.device">
      <option value="">--- {{_t('lb_select')}} ---</option>
      <option value="{{v.id}}" ng-repeat="v in schedule.devices" ng-if="v.deviceType == 'switchBinary'" ng-selected="v.id == schedule.model.switchBinary.device">{{v.metrics.title}}</option>
    </select>
     <!--on/off -->
    {{_t('lb_is')}}
    <input type="checkbox" name="on_off" id="on_off" ng-model="schedule.model.switchBinary.status" ng-checked="schedule.model.switchBinary.status == 'on'"
      ng-true-value="on" ng-false-value="off" />
    <label for="on_off">{{schedule.model.switchBinary.status}}</label>
  </div>

  <!-- command -->
  <div class="form-group">
      <input type="checkbox" name="send_command" id="send_command" ng-model="schedule.model.switchBinary.sendAction" ng-checked="schedule.model.switchBinary.sendAction"
      />
      <label for="send_command">{{_t('dont_send_on_command')}}</label>
    </div>

    
  <!-- submit -->
  <div class="form-group last">
   <button type="button" title="{{_t('lb_save')}}" class="btn btn-submit" ng-click="handleDevice(schedule.model.switchBinary,'switches')">
      {{_t('lb_save')}}
    </button>
    <button type="button" class="btn btn-text" title="{{_t('lb_close')}}" ng-click="handleDevice(false,false,'switch')">
      {{_t('lb_cancel')}}
    </button>
  </div>
</div>