<!-- The schedule -->
<div ng-controller_="Ctrl">
        <div class="blank is-info">
            <div class="blank-img">
                <i class="fa fa-info-circle"></i>
            </div>
            <div class="blank-body">
                <p class="blank-title">Module name</p>
                <p class="blank-text">
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                    Aenean imperdiet. Etiam ultricies nisi vel augue.
                </p>
        
            </div>
        </div>
        <!-- Form -->
        <form id="form_module" class="form form-page">
            <fieldset>
                <div class="form-group">
                    <label>{{_t('lb_name')}}</label>
                    <input name="title" id="title" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>{{_t('lb_description')}}</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
        
                </div>
            </fieldset>
        
            <!-- Submit -->
            <fieldset class="submit-entry">
                <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
                    <i class="fa fa-reply"></i>
                    <span class="btn-name">{{_t('lb_cancel')}}</span>
                </button>
                <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
                    <i class="fa fa-check"></i>
                    <span class="btn-name">{{_t('lb_save')}}</span>
                </button>
        
            </fieldset>
        
        </form>
        
        </div>
        <!-- /ng-controller -->