<div class="app-row app-row-report clearfix">
  <!-- Report body -->
  <div class="report-entry" ng-repeat="di in schedule.input.params.devices.dimmers track by $index">
    <div class="report-col">
      {{schedule.devices[di.device].metrics.title}}
    </div>
    <div class="report-col form-inline">
      <input type="number" class="form-control input-number" min="{{schedule.cfg.switchMultilevel.min}}" max="{{schedule.cfg.switchMultilevel.max}}"
        ng-model="di.status">
    </div>
    <div class="report-col report-ctrl form-inline">
        <button type="button" class="btn btn-default" title="{{_t('lb_remove')}}" ng-click="removeDimmer($index)">
            <i class="fa fa-times text-danger"></i>
          </button>
     <!--  <div class="btn-group">
        <button type="button" class="btn btn-default" title="{{_t('lb_update')}}" ng-click="schedule.model.switchMultilevel = di;handleModal('switchMultilevel', $event)">
          <i class="fa fa-pencil text-info"></i>
        </button>
        <button type="button" class="btn btn-default" title="{{_t('lb_remove')}}" ng-click="removeDimmer($index)">
          <i class="fa fa-times text-danger"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>