<div class="app-row app-row-report clearfix">
  <!-- Report body -->
  <div class="report-entry" ng-repeat="th in schedule.input.params.devices.thermostats track by $index">
    <div class="report-col">
        {{schedule.devices[th.device].metrics.title}}
    </div>
    <div class="report-col form-inline">
      <input type="number" class="form-control input-number" min="{{schedule.cfg.thermostat.min}}" max="{{schedule.cfg.thermostat.max}}"
        ng-model="th.status">
    </div>
    <div class="report-col report-ctrl form-inline">
      <button type="button" class="btn btn-default" title="{{_t('lb_remove')}}" ng-click="removeDeviceFromList($index,'thermostats')">
        <i class="fa fa-times text-danger"></i>
      </button>
    </div>
  </div>
</div>