/* Body Global settings */
/* line 2, sass/partials/_body.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* line 8, sass/partials/_body.scss */
body {
  background-color: #fff;
  font-size: 1.6em;
}

/* Wrapper for page content to push down footer */
/* line 14, sass/partials/_body.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* line 24, sass/partials/_body.scss */
.main-container {
  padding-top: 70px;
}

/*
 * Divide this part into partials, modules etc !!!!!!!!!!
 */
/* Global settings
-------------------------------------------------- */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
/* Typography
-------------------------------------------------- */
/* line 46, sass/partials/_body.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: lighter;
}

/* line 49, sass/partials/_body.scss */
h1 {
  margin-top: 0;
}

/* line 52, sass/partials/_body.scss */
.page-header {
  margin: 0 0 20px 0;
}

/* Breadcrumb
-------------------------------------------------- */
/* line 58, sass/partials/_body.scss */
.breadcrumb {
  padding: 0;
  background: none;
}

/* Content
-------------------------------------------------- */
/* line 66, sass/partials/_body.scss */
.entry-block {
  padding: 20px 20px 20px 168px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

/* Modal */
/* line 74, sass/partials/_body.scss */
.modal-80 .modal-dialog {
  width: 80%;
}

/* Pages
-------------------------------------------------- */
/* line 80, sass/partials/_body.scss */
.col-products {
  margin: 14px;
  width: 30.94%;
  text-align: center;
  background-color: #ddd;
  border: 1px solid #ccc;
}

/* line 87, sass/partials/_body.scss */
.col-products-container {
  margin: 0 auto;
}

/* line 91, sass/partials/_body.scss */
.pagination {
  text-align: center;
}

/* Tables
-------------------------------------------------- */
/* line 94, sass/partials/_body.scss */
.table-bordered thead th {
  background-color: #f5f5f5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
  /* IE6-9 */
  color: #707070;
}

/* line 107, sass/partials/_body.scss */
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #e9f7e3;
}

/* line 111, sass/partials/_body.scss */
.table-inverse.table-bordered {
  border-top: 1px solid #1C2B37;
}

/* line 115, sass/partials/_body.scss */
.table-inverse.table-bordered thead th {
  color: #FFF;
  border-right: 1px solid #2f2f2f;
  border-left: 1px solid #6f6f6f;
  -webkit-box-shadow: inset 0 1px 0 #888888;
  -moz-box-shadow: inset 0 1px 0 #888888;
  box-shadow: inset 0 1px 0 #888888;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: #525252;
  /* Old browsers */
  background: -moz-linear-gradient(top, #525252 0%, #3d3d3d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(100%, #3d3d3d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #525252 0%, #3d3d3d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #525252 0%, #3d3d3d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #525252 0%, #3d3d3d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #525252 0%, #3d3d3d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#3d3d3d',GradientType=0 );
  /* IE6-9 */
}

/* Form
-------------------------------------------------- */
/* line 137, sass/partials/_body.scss */
form .input-group {
  margin-bottom: 10px;
}

/* line 141, sass/partials/_body.scss */
#state-focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 149, sass/partials/_body.scss */
.input-group label.error {
  /*    position: relative;
      top: 5px;
      left: 5px;*/
  position: absolute;
  top: 40px;
  left: 5px;
  padding: 5px 9px;
  /*    margin-bottom: 1em;*/
  font-size: 12px;
  font-weight: normal;
  color: #FFF;
  background: #B94A48;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 167, sass/partials/_body.scss */
.input-group label.error::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B94A48;
  position: absolute;
  top: -6px;
  left: 7px;
}

/* line 177, sass/partials/_body.scss */
p.error {
  color: #b94a48;
}

/* Helpers
-------------------------------------------------- */
/* line 184, sass/partials/_body.scss */
.align-center {
  text-align: center;
}

/* line 188, sass/partials/_body.scss */
.btn-gray {
  background: #EBEBEB;
  color: #000;
}

/* Border radius
-------------------------------------------------- */
/* line 195, sass/partials/_body.scss */
.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Header styles */
/* line 2, sass/partials/_header.scss */
#header {
  color: #c1c8d0;
  min-height: 40px;
  line-height: 63px;
}

/* line 9, sass/partials/_header.scss */
.navbar-brand {
  float: left;
  padding: 10px 20px 10px 0;
}

/* Navigation styles */
/*.navbar-default {
    color: #c1c8d0;
    background-color: #4C5966;
    border: 0;
}*/
/*.navbar-inverse {
    background-color: #4C5966;
    border-color: #080808;
}*/
/* Display meno on hover */
/*ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}*/
/* line 16, sass/partials/_navigation.scss */
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #58585f 0%, #27272A 100%);
  background-image: linear-gradient(to bottom, #58585f 0%, #27272A 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF58585F', endColorstr='#FF27272A', GradientType=0);
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/*.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #282828;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #232323;
}

.navbar-inverse .dropdown-menu>.active>a,
.navbar-inverse .dropdown-menu>.active>a:hover,
.navbar-inverse .dropdown-menu>.active>a:focus {

    background-color: #474747;

}

.navbar-inverse .dropdown-menu>li>a:hover, 
.navbar-inverse .dropdown-menu>li>a:focus {
    background-color: #474747;
}*/
/* line 46, sass/partials/_navigation.scss */
.navbar .divider-vertical {
  height: 50px;
  /*    margin: 0 9px;*/
  border-left: 1px solid #1e1e1e;
  border-right: 1px solid #3b3b3b;
}

/* line 53, sass/partials/_navigation.scss */
.dropdown > .dropdown-menu::before, .dropdown > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

/* line 65, sass/partials/_navigation.scss */
.dropdown > .dropdown-menu::after {
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-bottom-color: #ffffff;
  top: -6px;
  left: 10px;
}

/* line 74, sass/partials/_navigation.scss */
.navbar-right .dropdown > .dropdown-menu:after {
  left: auto;
  right: 13px;
}

/* Suplementary styles */
/* Footer styles */
/* line 2, sass/partials/_footer.scss */
#footer {
  background-color: #58585f;
  border-top: solid 0 #797983;
  height: 40px;
  color: #bfbfc4;
  font-size: 90%;
}
/* line 8, sass/partials/_footer.scss */
#footer a {
  padding: 0 0 0 30px;
  color: #bfbfc4;
  text-decoration: none;
}
/* line 13, sass/partials/_footer.scss */
#footer a:hover {
  color: #bfbfc4;
  text-decoration: underline;
}
/* line 18, sass/partials/_footer.scss */
#footer .container {
  text-align: center;
  padding: 10px 0 0;
  height: 40px;
}

/* Product detail styles */
/*
 * The responsive style for the front-end
 */
/* Global settings
-------------------------------------------------- */
/* line 7, sass/partials/_responsive.scss */
.clearfix {
  *zoom: 1;
}

/* line 10, sass/partials/_responsive.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 16, sass/partials/_responsive.scss */
.clearfix:after {
  clear: both;
}

/* line 19, sass/partials/_responsive.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 26, sass/partials/_responsive.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Min Width: 1200px
-------------------------------------------------- */
@media (min-width: 1200px) {
  /* line 38, sass/partials/_responsive.scss */
  .container {
    max-width: none;
  }

  /* line 42, sass/partials/_responsive.scss */
  .container-lg {
    max-width: 1170px !important;
  }
}
/* Min Width: 992px
-------------------------------------------------- */
/* Max Width: 979px
-------------------------------------------------- */
/* Min Width: 768px
-------------------------------------------------- */
/* Max Width: 767px
-------------------------------------------------- */
@media (max-width: 767px) {
  /* line 64, sass/partials/_responsive.scss */
  .navbar .divider-vertical {
    display: none;
  }

  /* line 68, sass/partials/_responsive.scss */
  .dropdown > .dropdown-menu::before,
  .dropdown > .dropdown-menu::after,
  .navbar .divider-vertical {
    display: none;
  }
}
/* Max Width: 480px
-------------------------------------------------- */
