/* Body
-------------------------------------------------- */
/* line 4, sass/globals/_body.scss */
body {
  background-color: #fff;
}

/* Typo
-------------------------------------------------- */
/* line 10, sass/globals/_body.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 14, sass/globals/_body.scss */
h1 {
  font-size: 26px;
  /*    text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);*/
  /*    color: #2A6496;*/
}

/* line 20, sass/globals/_body.scss */
h3 {
  font-size: 20px;
}

/* line 23, sass/globals/_body.scss */
.page-header {
  padding: 0 20px;
}

/* line 26, sass/globals/_body.scss */
.page-subtitle {
  font-size: 20px;
  color: #6d6d6d;
}

/* line 30, sass/globals/_body.scss */
.entry-title, .entry-title a {
  font-size: 15px;
  color: #6d6d6d;
}

/* line 35, sass/globals/_body.scss */
.text-supp {
  font-style: italic;
  color: #969696;
}

/* line 40, sass/globals/_body.scss */
.perex {
  margin: 20px 0;
  padding: 20px 0 0 0;
  border-top: 1px dotted #9fd8ef;
}

/* line 46, sass/globals/_body.scss */
.badge {
  padding: 7px;
  margin-right: 5px;
}

/* line 51, sass/globals/_body.scss */
.btn-tooltip {
  cursor: help;
}

/* Images
-------------------------------------------------- */
/* line 56, sass/globals/_body.scss */
.report-img {
  margin: 0 5px;
  width: 48px;
  display: inline;
}

/* tables
-------------------------------------------------- */
/* line 64, sass/globals/_body.scss */
.table-report {
  border: none !important;
}
/* line 66, sass/globals/_body.scss */
.table-report td {
  vertical-align: middle;
}

/* Page
-------------------------------------------------- */
/* line 73, sass/globals/_body.scss */
#respone_container {
  display: none;
}

/* line 76, sass/globals/_body.scss */
.page-header {
  padding-bottom: 0;
  margin: 20px 0 30px 0;
  border-bottom: 0;
}

/* line 82, sass/globals/_body.scss */
#main_content {
  margin-top: 70px;
  margin-bottom: 20px;
}

/* Tooltip
-------------------------------------------------- */
/* line 89, sass/globals/_body.scss */
.tooltip-inner {
  background-color: #f2f2f2;
  color: #000;
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

/* line 96, sass/globals/_body.scss */
.tooltip-arrow {
  border-bottom-color: #f2f2f2;
}

/* Navigation
-------------------------------------------------- */
/* Visible */
/* line 4, sass/globals/_navigation.scss */
.navbar-visible {
  position: relative;
}
/* line 6, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in {
  top: 13px;
  position: absolute;
}
/* line 9, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in a {
  color: #999;
  margin-right: 20px;
}
/* line 13, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in a:hover {
  color: #eeeeee;
}

/* line 18, sass/globals/_navigation.scss */
.navbar-inverse {
  background-color: #333333;
  border-color: #080808;
}

/* Collapse */
/* line 24, sass/globals/_navigation.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #282828;
}

/* line 30, sass/globals/_navigation.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #232323;
}

/* line 36, sass/globals/_navigation.scss */
.navbar-inverse .dropdown-menu > .active > a,
.navbar-inverse .dropdown-menu > .active > a:hover,
.navbar-inverse .dropdown-menu > .active > a:focus {
  background-color: #474747;
}

/* line 44, sass/globals/_navigation.scss */
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
  background-color: #474747;
}

/* line 49, sass/globals/_navigation.scss */
.navbar .divider-vertical {
  height: 50px;
  /*    margin: 0 9px;*/
  border-left: 1px solid #1e1e1e;
  border-right: 1px solid #3b3b3b;
}

/* line 56, sass/globals/_navigation.scss */
.dropdown > .dropdown-menu::before, .dropdown > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

/* line 68, sass/globals/_navigation.scss */
.dropdown > .dropdown-menu::after {
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-bottom-color: #ffffff;
  top: -6px;
  left: 10px;
}

/* line 77, sass/globals/_navigation.scss */
.navbar-right .dropdown > .dropdown-menu:after {
  left: auto;
  right: 13px;
}

/* line 82, sass/globals/_navigation.scss */
.only-icon .only-icon-menu i {
  font-size: 18px;
}

/* line 86, sass/globals/_navigation.scss */
.only-icon-menu span {
  display: none;
}

/* line 90, sass/globals/_navigation.scss */
.dropdown-menu a i {
  padding-right: 10px;
}

/* Footer
-------------------------------------------------- */
/* line 3, sass/globals/_footer.scss */
#footer {
  text-align: center;
  height: 60px;
}

/* line 7, sass/globals/_footer.scss */
#footer .container {
  margin-top: 10px;
}

/* Homepage styles */
/* Elements
-------------------------------------------------- */
/* line 3, sass/modules/_elements.scss */
.panel-element {
  min-height: 100px;
}

/* line 6, sass/modules/_elements.scss */
.panel-body-element {
  position: relative;
}

/* line 9, sass/modules/_elements.scss */
.element-hidden {
  /* min-width: 110%; */
  border-radius: 3px;
  padding: 20px;
  background-color: #fff;
  border: solid 1px #DDDDDD;
  position: absolute;
  top: -150%;
  /* left: -5%; */
  z-index: 10000;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 21, sass/modules/_elements.scss */
.element-hidden table {
  width: 100%;
}

/* line 24, sass/modules/_elements.scss */
.element-hidden table td {
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

/* line 29, sass/modules/_elements.scss */
.element-device-id {
  font-style: italic;
}

/*#page_elements{ 
    background: #E5E5E5;
}*/
/* line 36, sass/modules/_elements.scss */
.widget-block {
  margin-bottom: 20px;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
}

/* line 42, sass/modules/_elements.scss */
.widget-block-in {
  /*   border: solid 1px red;*/
  height: 200px;
  position: relative;
  text-align: center;
}

/* line 48, sass/modules/_elements.scss */
.widget-header {
  position: relative;
}

/* line 52, sass/modules/_elements.scss */
.widget-config {
  position: absolute;
  left: 85%;
  top: 5%;
  z-index: 10;
}

/* line 58, sass/modules/_elements.scss */
.widget-image {
  margin: 15px;
  width: 96px;
  height: 96px;
  border: solid 6px #fff;
  border-radius: 50%;
}

/* line 68, sass/modules/_elements.scss */
.widget-body .element-hidden {
  z-index: 10000;
  overflow: hidden;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #DDDDDD;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* Home widget
-------------------------------------------------- */
/* line 90, sass/modules/_elements.scss */
.home-widget .widget-entry {
  padding: 0;
}
/* line 93, sass/modules/_elements.scss */
.home-widget .widget-entry .widget-block {
  margin: 0 !important;
  border: solid 1px #e2e2e2;
}

/* Events
-------------------------------------------------- */
/* line 4, sass/modules/_events.scss */
.table-events .td-img {
  max-width: 110px !important;
}
/* line 7, sass/modules/_events.scss */
.table-events .td-action {
  min-width: 110px;
}

/* Apps
-------------------------------------------------- */
/* line 5, sass/modules/_apps.scss */
.app-entry-in {
  border: solid 1px #ddd;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  height: 270px;
}

/* line 12, sass/modules/_apps.scss */
.app-entry h3 .label {
  font-size: 60%;
}

/* line 15, sass/modules/_apps.scss */
.apps-action-icons a {
  margin-right: 7px;
}

/* line 18, sass/modules/_apps.scss */
.app-image {
  max-width: 100%;
  margin: 10px 0;
}

/* line 23, sass/modules/_apps.scss */
.app-image-list {
  max-width: 100px;
}

/* Rooms
-------------------------------------------------- */
/* line 3, sass/modules/_rooms.scss */
.room-entry {
  padding: 0;
}

/* line 6, sass/modules/_rooms.scss */
.room-in {
  text-align: center;
  padding: 10px;
  border: solid 1px #e2e2e2;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}
/* line 11, sass/modules/_rooms.scss */
.room-in .entry-title-text {
  padding-right: 20px;
}

/* line 15, sass/modules/_rooms.scss */
.room-image, .romm-image-preview {
  border: solid 6px #fff;
  width: 100%;
  max-width: 260px;
}

/* line 20, sass/modules/_rooms.scss */
.room-image:hover {
  border-color: #e2e2e2;
}

/* line 23, sass/modules/_rooms.scss */
.room-name {
  text-align: center;
  padding: 0 10px;
  line-height: 34px;
}

/* line 29, sass/modules/_rooms.scss */
.panel-body-room img {
  max-width: 100%;
  border: solid 4px #323232;
}

/* line 34, sass/modules/_rooms.scss */
.btn-device {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 5px 5px 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

/* line 49, sass/modules/_rooms.scss */
.room-assigned-block {
  padding: 10px;
  border: 1px solid #DDDDDD;
  margin: 10px 0;
}

/* line 54, sass/modules/_rooms.scss */
#modal_room .badge {
  padding: 7px;
}

/* line 58, sass/modules/_rooms.scss */
.hidden-device {
  display: none;
}

/* Profile
-------------------------------------------------- */
/* line 3, sass/modules/_profile.scss */
.profile-entry {
  padding: 0;
}

/* line 6, sass/modules/_profile.scss */
.profile-in {
  text-align: center;
  padding: 10px;
  border: solid 1px #e2e2e2;
}
/* line 11, sass/modules/_profile.scss */
.profile-in .entry-title {
  color: #fff;
}
/* line 13, sass/modules/_profile.scss */
.profile-in .entry-title a {
  color: #fff;
}
/* line 17, sass/modules/_profile.scss */
.profile-in .entry-title-text {
  padding-right: 20px;
}

/* line 21, sass/modules/_profile.scss */
.profile-image {
  border: solid 6px #fff;
  width: 100%;
  max-width: 96px;
}

/* line 26, sass/modules/_profile.scss */
.profile-image:hover {
  border-color: #e2e2e2;
}

/* line 30, sass/modules/_profile.scss */
.profile-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 10px 0;
  border: solid 2px transparent;
}

/* line 38, sass/modules/_profile.scss */
.profile-color:hover {
  text-decoration: none;
}

/* line 42, sass/modules/_profile.scss */
.profile-color.active {
  border: solid 2px #000;
}

/* Devices
-------------------------------------------------- */
/* line 3, sass/modules/_devices.scss */
.device-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 10px;
  border: solid 1px #e2e2e2;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}
/* line 12, sass/modules/_devices.scss */
.device-container .list-group-item {
  text-align: left;
}

/* line 16, sass/modules/_devices.scss */
.device-logo {
  text-align: center;
}

/* line 19, sass/modules/_devices.scss */
.device-logo img {
  max-height: 50px;
}

/* Network
-------------------------------------------------- */
/*
 * The responsive style for the front-end
 */
/* Global settings
-------------------------------------------------- */
/* line 7, sass/globals/_responsive.scss */
.clearfix {
  *zoom: 1;
}

/* line 10, sass/globals/_responsive.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 16, sass/globals/_responsive.scss */
.clearfix:after {
  clear: both;
}

/* line 19, sass/globals/_responsive.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 26, sass/globals/_responsive.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Detected mobile devices  ==========*/
@media (max-width: 2000px) {
  /* line 42, sass/globals/_responsive.scss */
  .is-mobile-true {
   /* Tabs
  -------------------------------------------------- */
    /* Elements
    -------------------------------------------------- */
    /* Eevents
    -------------------------------------------------- */
    /* Apps
    -------------------------------------------------- */
  }
  /* line 43, sass/globals/_responsive.scss */
  .is-mobile-true .container {
    max-width: none;
    width: 100%;
  }
  /* line 48, sass/globals/_responsive.scss */
  .is-mobile-true #main_content {
    padding: 0;
  }
  /* line 51, sass/globals/_responsive.scss */
  .is-mobile-true .navbar .divider-vertical {
    display: none;
  }
  /* line 55, sass/globals/_responsive.scss */
  .is-mobile-true .dropdown > .dropdown-menu::before,
  .is-mobile-true .dropdown > .dropdown-menu::after,
  .is-mobile-true .navbar .divider-vertical {
    display: none;
  }
  /* line 65, sass/globals/_responsive.scss */
  .is-mobile-true .widget-entry {
    width: 100%;
  }
  /* line 68, sass/globals/_responsive.scss */
  .is-mobile-true .widget-block {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
  }
  /* line 75, sass/globals/_responsive.scss */
  .is-mobile-true .widget-block-in {
    /*   border: solid 1px red;*/
    height: auto;
    text-align: left;
    padding: 10px;
  }
  /* line 81, sass/globals/_responsive.scss */
  .is-mobile-true .widget-header {
    float: left;
    width: 70px;
  }
  /* line 85, sass/globals/_responsive.scss */
  .is-mobile-true .widget-body {
    float: left;
  }
  /* line 88, sass/globals/_responsive.scss */
  .is-mobile-true .widget-image {
    margin: 0;
    width: 48px;
    height: 48px;
  }
  /* line 97, sass/globals/_responsive.scss */
  .is-mobile-true .event-entry .event-img {
    width: 24px;
    height: 24px;
  }
  /* line 101, sass/globals/_responsive.scss */
  .is-mobile-true .event-entry .event-message {
    display: block;
  }
  /* line 104, sass/globals/_responsive.scss */
  .is-mobile-true .event-entry .event-action {
    text-align: right;
  }
  /* line 111, sass/globals/_responsive.scss */
  .is-mobile-true .tabs-container {
    text-align: center;
  }
  /* line 114, sass/globals/_responsive.scss */
  .is-mobile-true .nav-tabs {
    display: block;
    text-align: center;
    padding: 0 25%;
  }
  /* line 119, sass/globals/_responsive.scss */
  .is-mobile-true .tab-name {
    display: none;
  }
  /* line 122, sass/globals/_responsive.scss */
  .is-mobile-true .tab-icon {
    font-size: 20px;
  }
  /* line 125, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry {
    width: 100%;
    padding: 0 20px;
  }
  /* line 129, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry-in {
    border: none;
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    height: auto;
  }
  /* line 136, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry-in .list-group {
    border: 0 none;
  }
  /* line 139, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry-in .list-group-item {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
  /* line 147, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry-in .app-header {
    float: left;
    width: 35%;
  }
  /* line 151, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry-in .app-body {
    float: left;
    width: 64%;
    margin: 0;
    padding: 0;
  }
  /* line 156, sass/globals/_responsive.scss */
  .is-mobile-true .app-entry-in .app-body .btn {
    vertical-align: top;
  }
  /* line 163, sass/globals/_responsive.scss */
  .is-mobile-true #table_apps_active .btn {
    font-size: 12px;
  }
  /* line 166, sass/globals/_responsive.scss */
  .is-mobile-true #table_apps_active .btn-name {
    display: none;
  }
  /* line 170, sass/globals/_responsive.scss */
  .is-mobile-true .app-image-list {
    max-width: 50px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 223, sass/globals/_responsive.scss */
  .container {
    max-width: none;
    width: 100%;
  }

  /* line 228, sass/globals/_responsive.scss */
  #main_content {
    padding: 0;
  }

  /* line 231, sass/globals/_responsive.scss */
  .navbar .divider-vertical {
    display: none;
  }

  /* line 235, sass/globals/_responsive.scss */
  .dropdown > .dropdown-menu::before,
  .dropdown > .dropdown-menu::after,
  .navbar .divider-vertical {
    display: none;
  }

  /* line 241, sass/globals/_responsive.scss */
  .page-header {
    margin: 0 0 10px 0;
    text-align: center;
  }

  /* Typo
  -------------------------------------------------- */
  /* line 247, sass/globals/_responsive.scss */
  .page-subtitle {
    padding: 0 10px;
    font-size: 16px;
  }

  /* Images
  -------------------------------------------------- */
  /* line 253, sass/globals/_responsive.scss */
  .report-img {
    margin: 0 5px;
    width: 32px;
    display: inline;
  }

  /* tables
  -------------------------------------------------- */
  /* line 262, sass/globals/_responsive.scss */
  .table-report tbody tr {
    background: #f7f7f7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
    /* IE6-9 */
  }

  /* Forms
  -------------------------------------------------- */
  /* line 270, sass/globals/_responsive.scss */
  .btn-new-item {
    float: none !important;
  }

  /* line 273, sass/globals/_responsive.scss */
  .btn-name {
    display: none;
  }

  /* Tabs
  -------------------------------------------------- */
  /* Home
  -------------------------------------------------- */
  /* line 283, sass/globals/_responsive.scss */
  .home-widget .widget-entry .widget-block {
    padding: 5px 10px;
  }

  /* Elements
  -------------------------------------------------- */
  /* line 291, sass/globals/_responsive.scss */
  .widget-entry {
    width: 100%;
  }

  /* line 294, sass/globals/_responsive.scss */
  .widget-block {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
  }

  /* line 301, sass/globals/_responsive.scss */
  .widget-block-in {
    /*   border: solid 1px red;*/
    height: auto;
    text-align: left;
    padding: 10px;
  }

  /* line 307, sass/globals/_responsive.scss */
  .widget-header {
    float: left;
    width: 70px;
  }

  /* line 311, sass/globals/_responsive.scss */
  .widget-body {
    float: left;
  }

  /* line 314, sass/globals/_responsive.scss */
  .widget-image {
    margin: 0;
    width: 48px;
    height: 48px;
  }

  /* Eevents
  -------------------------------------------------- */
  /* line 323, sass/globals/_responsive.scss */
  .event-entry .event-img {
    width: 24px;
    height: 24px;
  }
  /* line 327, sass/globals/_responsive.scss */
  .event-entry .event-message {
    /*            display: block;*/
  }
  /* line 330, sass/globals/_responsive.scss */
  .event-entry .event-action {
    text-align: right;
  }

  /* Apps
  -------------------------------------------------- */
  /* line 337, sass/globals/_responsive.scss */
  .tabs-container {
    text-align: center;
  }

  /* line 340, sass/globals/_responsive.scss */
  .nav-tabs {
    display: block;
    text-align: center;
    padding: 0 25%;
  }

  /* line 345, sass/globals/_responsive.scss */
  .tab-name {
    display: none;
  }

  /* line 348, sass/globals/_responsive.scss */
  .tab-icon {
    font-size: 20px;
  }

  /* line 351, sass/globals/_responsive.scss */
  .app-entry {
    width: 100%;
    padding: 0 20px;
  }

  /* line 355, sass/globals/_responsive.scss */
  .app-entry-in {
    border: none;
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    height: auto;
  }
  /* line 362, sass/globals/_responsive.scss */
  .app-entry-in .list-group {
    border: 0 none;
  }
  /* line 365, sass/globals/_responsive.scss */
  .app-entry-in .list-group-item {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
  /* line 373, sass/globals/_responsive.scss */
  .app-entry-in .app-header {
    float: left;
    width: 35%;
  }
  /* line 377, sass/globals/_responsive.scss */
  .app-entry-in .app-body {
    float: left;
    width: 64%;
    margin: 0;
    padding: 0;
  }
  /* line 382, sass/globals/_responsive.scss */
  .app-entry-in .app-body .btn {
    vertical-align: top;
  }

  /* line 389, sass/globals/_responsive.scss */
  #table_apps_active .btn {
    font-size: 12px;
  }

  /* line 394, sass/globals/_responsive.scss */
  .app-image-list {
    max-width: 50px;
  }

  /* Rooms
  -------------------------------------------------- */
  /* line 401, sass/globals/_responsive.scss */
  .room-entry {
    float: left;
    width: 50%;
  }
  /* line 404, sass/globals/_responsive.scss */
  .room-entry .entry-title {
    font-size: 12px;
  }
  /* line 407, sass/globals/_responsive.scss */
  .room-entry .entry-title-text {
    display: none;
  }

  /* line 412, sass/globals/_responsive.scss */
  .room-image {
    max-width: 130px;
  }

  /* Profiles
  -------------------------------------------------- */
  /* line 419, sass/globals/_responsive.scss */
  .profile-entry {
    float: left;
    width: 50%;
  }
  /* line 422, sass/globals/_responsive.scss */
  .profile-entry .entry-title {
    font-size: 12px;
  }
  /* line 425, sass/globals/_responsive.scss */
  .profile-entry .entry-title-text {
    display: none;
  }

  /* Devices
  -------------------------------------------------- */
  /* line 432, sass/globals/_responsive.scss */
  .device-container_ {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* Custom, iPhone Retina */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 453, sass/globals/_responsive.scss */
  .hide-navi-text {
    display: none !important;
  }
}
