/*$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;*/
/* Body
-------------------------------------------------- */
/* line 4, sass/globals/_body.scss */
body {
  background-color: #F6F6F6;
  color: #0d0d0d;
}

/* Typo
-------------------------------------------------- */
/* line 12, sass/globals/_body.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333333;
}

/* line 17, sass/globals/_body.scss */
h1 {
  font-size: 26px;
  /*    text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);*/
  /*    color: #2A6496;*/
}

/* line 23, sass/globals/_body.scss */
h3 {
  font-size: 20px;
}

/* line 26, sass/globals/_body.scss */
.page-header {
  margin: 0;
  padding: 0 20px;
}

/* line 30, sass/globals/_body.scss */
.page-control {
  position: relative;
  top: -15px;
  /*   .btn-new-item{
         background-color: $brand-color-secondary;
         border: 0;
     }*/
}

/* line 38, sass/globals/_body.scss */
.page-subtitle {
  font-size: 20px;
}

/* line 41, sass/globals/_body.scss */
.entry-title, .entry-title a {
  font-size: 15px;
}

/* line 45, sass/globals/_body.scss */
a {
  color: #4d4d4d;
}

/* line 48, sass/globals/_body.scss */
a:hover {
  color: #ef4a54;
}

/* line 52, sass/globals/_body.scss */
.text-supp {
  font-style: italic;
  color: #595959;
}

/* line 57, sass/globals/_body.scss */
.perex {
  margin: 20px 0;
  padding: 20px 0 0 0;
  border-top: 1px dotted #9fd8ef;
}

/* line 63, sass/globals/_body.scss */
.badge {
  padding: 7px;
  margin-right: 5px;
}

/* line 67, sass/globals/_body.scss */
.label-more {
  cursor: pointer;
}

/* line 71, sass/globals/_body.scss */
.btn-tooltip {
  cursor: help;
}

/* line 74, sass/globals/_body.scss */
.app-border {
  border: solid 4px #fff;
}

/* line 77, sass/globals/_body.scss */
.app-gradient {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(77%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 77%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/* line 81, sass/globals/_body.scss */
.app-shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
}

/* line 85, sass/globals/_body.scss */
.bcg-active.false {
  background-color: #f2e8e8;
}

/* Spinners
-------------------------------------------------- */
/* line 91, sass/globals/_body.scss */
.module-spinner {
  display: none !important;
}

/* Images
-------------------------------------------------- */
/* line 97, sass/globals/_body.scss */
.report-img {
  margin: 0 5px;
  width: 40px;
  display: inline;
}

/* tables
-------------------------------------------------- */
/* line 108, sass/globals/_body.scss */
.table tbody tr td {
  border-top: 4px solid #F6F6F6;
}

/* line 116, sass/globals/_body.scss */
.table-report {
  border: 0 !important;
}
/* line 118, sass/globals/_body.scss */
.table-report td {
  vertical-align: middle;
}
/* line 122, sass/globals/_body.scss */
.table-report tbody tr {
  background-color: white;
}

/* Tabs
-------------------------------------------------- */
/* line 129, sass/globals/_body.scss */
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

/* line 132, sass/globals/_body.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #1a1a1a;
  background-color: #DDDDDD;
  border: #dddddd;
}

/* line 137, sass/globals/_body.scss */
.nav-tabs > li.active > a i {
  color: #DA131F;
}

/*.nav > li > a:hover, .nav > li > a:focus {
background-color: lighten($app-body-bcg-color, 10%);;
}*/
/* Forms
-------------------------------------------------- */
/* line 145, sass/globals/_body.scss */
fieldset {
  margin-bottom: 10px;
  background-color: #F6F6F6;
  padding: 10px;
}

/* line 151, sass/globals/_body.scss */
.submit-entry {
  text-align: right;
}

/* Alpaca
-------------------------------------------------- */
/* line 157, sass/globals/_body.scss */
.alpaca-message-invalidValueOfEnum {
  display: none !important;
}

/* Page
-------------------------------------------------- */
/* line 165, sass/globals/_body.scss */
.page-header {
  padding-bottom: 0;
  margin: 20px 0 30px 0;
  border-bottom: 0;
}

/* line 171, sass/globals/_body.scss */
#main_content {
  margin-top: 70px;
  margin-bottom: 20px;
}

/* Modal
-------------------------------------------------- */
/* line 177, sass/globals/_body.scss */
.modal-vertical-centered {
  position: fixed;
  top: 15% !important;
}

/*.modal-vertical-centered {
  transform: translate(0, 25%) !important;
  -ms-transform: translate(0, 25%) !important;  IE 9 
  -webkit-transform: translate(0, 25%) !important;  Safari and Chrome 
}*/
/*.modal-dialog-center_ {
    margin-top: 25%;
}
.table {
 display: table;
 height:100%;
}
.table-cell {
display: table-cell;
vertical-align: middle;
}*/
/* Tooltip
-------------------------------------------------- */
/* line 200, sass/globals/_body.scss */
.tooltip-inner {
  background-color: #F6F6F6;
  color: #000;
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

/* line 207, sass/globals/_body.scss */
.tooltip-arrow {
  border-bottom-color: #f2f2f2;
}

/* Pagination
-------------------------------------------------- */
/* line 213, sass/globals/_body.scss */
.pagination > li > a, .pagination > li > span {
  color: #DA131F;
  background-color: #FFF;
  border: 1px solid #d3d3d3;
}

/* line 219, sass/globals/_body.scss */
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #DA131F;
  background-color: #F6F6F6;
  border-color: #d3d3d3;
}

/* line 225, sass/globals/_body.scss */
.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #777777;
  background-color: #FFF;
  border-color: #d3d3d3;
  cursor: not-allowed;
}

/* line 232, sass/globals/_body.scss */
.pagination > .active > a, .pagination > .active > a:hover {
  color: #fff;
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

/* Navigation
-------------------------------------------------- */
/* Navbar */
/* line 5, sass/globals/_navigation.scss */
#main_navbar .container {
  padding: 0;
}

/* Visible */
/* line 10, sass/globals/_navigation.scss */
.navbar-visible {
  position: relative;
}
/* line 12, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in {
  line-height: 50px;
  position: absolute;
}
/* line 16, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in .header-logo img {
  max-height: 25px;
  max-width: 60px;
}
/* line 21, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in .divider-vertical {
  height: 50px;
}
/* line 24, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in a {
  display: inline-block;
  padding: 0 15px;
  color: #5d5d5d;
  line-height: 50px;
}
/* line 29, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in a .fa {
  font-size: 140%;
}
/* line 33, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in a:hover {
  color: #DA131F;
}
/* line 36, sass/globals/_navigation.scss */
.navbar-visible .navbar-visible-in .active {
  background-color: #DDDDDD;
  color: #DA131F;
}

/* line 43, sass/globals/_navigation.scss */
.navi-time {
  padding-left: 10px;
}

/* line 47, sass/globals/_navigation.scss */
.navbar-inverse {
  background-color: #E9E9E9;
  border-color: transparent;
  border-bottom: solid 4px #DDDDDD;
  color: #DDDDDD;
}
/* line 53, sass/globals/_navigation.scss */
.navbar-inverse .navbar-nav .dropdown-toggle {
  color: #5d5d5d;
}
/* line 56, sass/globals/_navigation.scss */
.navbar-inverse .navbar-nav .dropdown-toggle:hover {
  color: #5d5d5d;
}

/* line 62, sass/globals/_navigation.scss */
.navbar-inverse_ .navbar-nav .dropdown-toggle {
  color: #DDDDDD;
}

/* Collapse */
/* line 67, sass/globals/_navigation.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #DDDDDD;
}

/* line 73, sass/globals/_navigation.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #DDDDDD;
  color: #DA131F;
}

/* line 80, sass/globals/_navigation.scss */
.navbar-inverse .dropdown-menu > .active > a,
.navbar-inverse .dropdown-menu > .active > a:hover,
.navbar-inverse .dropdown-menu > .active > a:focus {
  background-color: #DDDDDD;
  color: #5d5d5d;
}

/* line 89, sass/globals/_navigation.scss */
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
  background-color: #DDDDDD;
  color: #DA131F;
}

/* line 95, sass/globals/_navigation.scss */
.navbar .divider-vertical {
  height: 50px;
  /*    margin: 0 9px;*/
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid white;
}

/* line 101, sass/globals/_navigation.scss */
.dropdown-menu {
  border: 1px solid #DDDDDD;
}
/* line 104, sass/globals/_navigation.scss */
.dropdown-menu .divider {
  background-color: #DDDDDD;
}

/* line 109, sass/globals/_navigation.scss */
.dropdown > .dropdown-menu::before, .dropdown > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: auto;
  right: 12px;
}

/* line 123, sass/globals/_navigation.scss */
.dropdown > .dropdown-menu::after {
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-bottom-color: #ffffff;
  top: -6px;
  left: auto;
  right: 13px;
}

/*.navbar-right .dropdown>.dropdown-menu:after{
    left: auto;
    right: 13px;
}*/
/* line 139, sass/globals/_navigation.scss */
.only-icon .only-icon-menu i {
  font-size: 18px;
}

/* line 143, sass/globals/_navigation.scss */
.only-icon-menu span {
  display: none;
}

/* line 147, sass/globals/_navigation.scss */
.dropdown-menu a i {
  padding-right: 10px;
}

/** Profile colors */
/* line 151, sass/globals/_navigation.scss */
.profile-6494bc {
  /* Visible */
}
/* line 11, sass/settings/_mixins.scss */
.profile-6494bc .navbar-visible .navbar-visible-in .active {
  background-color: #abc5db;
}
/* line 17, sass/settings/_mixins.scss */
.profile-6494bc .navbar-inverse {
  border-color: #abc5db;
}

/* line 154, sass/globals/_navigation.scss */
.profile-80ad80 {
  /* Visible */
}
/* line 11, sass/settings/_mixins.scss */
.profile-80ad80 .navbar-visible .navbar-visible-in .active {
  background-color: #bed5be;
}
/* line 17, sass/settings/_mixins.scss */
.profile-80ad80 .navbar-inverse {
  border-color: #bed5be;
}

/* line 158, sass/globals/_navigation.scss */
.profile-dd976e {
  /* Visible */
}
/* line 11, sass/settings/_mixins.scss */
.profile-dd976e .navbar-visible .navbar-visible-in .active {
  background-color: #f0d2c1;
}
/* line 17, sass/settings/_mixins.scss */
.profile-dd976e .navbar-inverse {
  border-color: #f0d2c1;
}

/* Footer
-------------------------------------------------- */
/* line 3, sass/globals/_footer.scss */
#footer {
  text-align: center;
  height: 60px;
}
/* line 7, sass/globals/_footer.scss */
#footer .navbar {
  border-top: solid 4px #DDDDDD;
  background-color: #E9E9E9;
}
/* line 11, sass/globals/_footer.scss */
#footer .container {
  margin-top: 10px;
}

/* Homepage styles */
/* Elements
-------------------------------------------------- */
/* line 3, sass/modules/_elements_new.scss */
.widget-block {
  margin-bottom: 20px;
}

/* line 6, sass/modules/_elements_new.scss */
.widget-block-in {
  height: 100px;
  position: relative;
  text-align: left;
}

/* line 11, sass/modules/_elements_new.scss */
.widget-image {
  position: absolute;
  top: 10px;
  left: 10px;
  /*    margin: 10px 20px 10px 10px;*/
  width: 64px;
  height: 64px;
  border: solid 4px #fff;
  border-radius: 50%;
}

/* line 21, sass/modules/_elements_new.scss */
.widget-header {
  text-align: right;
  padding: 5px 10px 0 0;
}

/* line 27, sass/modules/_elements_new.scss */
.widget-body {
  margin-top: -5px;
  padding: 0 5px 15px 84px;
  width: 100%;
}
/* line 31, sass/modules/_elements_new.scss */
.widget-body .entry-title {
  padding-right: 30px;
}
/* line 34, sass/modules/_elements_new.scss */
.widget-body .widget-control-wrap {
  width: 100%;
}
/* line 37, sass/modules/_elements_new.scss */
.widget-body .widget-control {
  width: 50%;
  float: left;
}
/* line 41, sass/modules/_elements_new.scss */
.widget-body .widget-control.control-left {
  font-weight: bold;
}
/* line 44, sass/modules/_elements_new.scss */
.widget-body .widget-control.control-right {
  float: right;
}
/* line 46, sass/modules/_elements_new.scss */
.widget-body .widget-control.control-right .btn-group {
  float: right;
}
/* line 50, sass/modules/_elements_new.scss */
.widget-body .widget-click-popup {
  cursor: pointer;
}
/* line 54, sass/modules/_elements_new.scss */
.widget-body .element-hidden {
  z-index: 10000;
  overflow: hidden;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #DDDDDD;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 71, sass/modules/_elements_new.scss */
.widget-body .element-hidden.hidden-camera {
  width: 100%;
  height: 300%;
  left: 50%;
  margin-left: -50%;
  top: 50%;
}
/* line 79, sass/modules/_elements_new.scss */
.widget-body table {
  width: 100%;
}
/* line 81, sass/modules/_elements_new.scss */
.widget-body table td {
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

/* line 89, sass/modules/_elements_new.scss */
.element-camera-control {
  text-align: center;
}

/* line 92, sass/modules/_elements_new.scss */
.camera-img {
  text-align: center;
}
/* line 94, sass/modules/_elements_new.scss */
.camera-img img {
  width: 100%;
  display: inline-block;
}

/* Home widget
-------------------------------------------------- */
/* line 105, sass/modules/_elements_new.scss */
.home-widget .widget-entry {
  padding: 0;
}
/* line 108, sass/modules/_elements_new.scss */
.home-widget .widget-entry .widget-block {
  margin: 0 !important;
  /*              border: solid 1px #e2e2e2;*/
}

/* Events
-------------------------------------------------- */
/* line 4, sass/modules/_events.scss */
.table-events .td-img {
  width: 50px !important;
}
/* line 7, sass/modules/_events.scss */
.table-events .td-action {
  width: 110px;
}

/* Apps
-------------------------------------------------- */
/* line 5, sass/modules/_apps.scss */
.app-entry-in {
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  height: 220px;
}
/* line 10, sass/modules/_apps.scss */
.app-entry-in .app-rating {
  margin-right: 20px;
  color: #5CB85C;
}
/* line 14, sass/modules/_apps.scss */
.app-entry-in .entry-title {
  font-size: 16px;
  font-weight: bold;
}
/* line 17, sass/modules/_apps.scss */
.app-entry-in .entry-title .label {
  font-size: 70%;
}
/* line 22, sass/modules/_apps.scss */
.app-entry-in .app-body p {
  padding: 0 0 3px 0;
  border-bottom: dotted 1px #ececec;
}

/* line 29, sass/modules/_apps.scss */
.apps-action-icons a {
  margin-right: 7px;
}

/* line 32, sass/modules/_apps.scss */
.app-image {
  width: 100%;
  max-width: 130px;
  margin: 10px 0;
}

/* line 38, sass/modules/_apps.scss */
.app-image-list {
  max-width: 70px;
}

/* Apps module
-------------------------------------------------- */
/* line 44, sass/modules/_apps.scss */
#alpaca_data {
  padding: 20px;
  margin: 0 0 20px 0;
  background-color: #eeeeee;
  border-radius: 4px;
}

/* Rooms
-------------------------------------------------- */
/* line 6, sass/modules/_rooms.scss */
.room-in {
  text-align: center;
  padding: 10px;
}
/* line 10, sass/modules/_rooms.scss */
.room-in .entry-title-text {
  padding-right: 20px;
}

/* line 14, sass/modules/_rooms.scss */
.room-image, .romm-image-preview {
  border: solid 6px #fff;
  width: 100%;
  max-width: 260px;
}

/* line 19, sass/modules/_rooms.scss */
.room-image:hover {
  border-color: #dddddd;
}

/* line 22, sass/modules/_rooms.scss */
.room-name {
  text-align: center;
  padding: 0 10px;
  line-height: 34px;
}

/* line 28, sass/modules/_rooms.scss */
.panel-body-room img {
  max-width: 100%;
  border: solid 4px #323232;
}

/* line 33, sass/modules/_rooms.scss */
.btn-device {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 5px 5px 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

/* line 48, sass/modules/_rooms.scss */
.room-assigned-block {
  padding: 10px;
  border: 1px solid #d3d3d3;
  margin: 10px 0;
}

/* line 53, sass/modules/_rooms.scss */
#modal_room .badge {
  padding: 7px;
}

/* line 57, sass/modules/_rooms.scss */
.hidden-device {
  display: none;
}

/* line 60, sass/modules/_rooms.scss */
.modal-room-images {
  float: left;
  width: 100px;
  text-align: center;
  margin: 10px;
}
/* line 65, sass/modules/_rooms.scss */
.modal-room-images img {
  width: 100px;
}

/* Profile
-------------------------------------------------- */
/* line 3, sass/modules/_profile.scss */
.profile-entry {
  padding: 0;
  background-color: #E9E9E9;
}

/* line 7, sass/modules/_profile.scss */
.profile-in {
  text-align: center;
  padding: 10px;
  border: solid 1px white;
  /*    .entry-title{
          color: #fff;
          a{
              color: #fff; 
          }
      }*/
}
/* line 18, sass/modules/_profile.scss */
.profile-in .entry-title-text {
  padding-right: 20px;
}

/* line 22, sass/modules/_profile.scss */
.profile-image {
  border: solid 6px #fff;
  width: 100%;
  max-width: 96px;
}

/* line 27, sass/modules/_profile.scss */
.profile-image:hover {
  border-color: #d3d3d3;
}

/* line 31, sass/modules/_profile.scss */
.profile-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 10px 0;
  border: solid 2px transparent;
}

/* line 39, sass/modules/_profile.scss */
.profile-color:hover {
  text-decoration: none;
}

/* line 43, sass/modules/_profile.scss */
.profile-color.active {
  border: solid 2px #000;
}

/* Devices
-------------------------------------------------- */
/* line 3, sass/modules/_devices.scss */
.device-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 10px;
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(77%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 77%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 11, sass/modules/_devices.scss */
.device-container .list-group-item {
  text-align: left;
  background-color: transparent;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-top: solid 1px #d3d3d3;
}

/* line 21, sass/modules/_devices.scss */
.device-logo {
  text-align: center;
  margin: 0 0 20px 0;
}

/* line 25, sass/modules/_devices.scss */
.device-logo img {
  max-width: 100px !important;
  max-height: 70px !important;
}

/*.device-manufacturers{
    background-color: #fff;
    padding: 10px;
}*/
/* line 34, sass/modules/_devices.scss */
.manufacturer-logo {
  margin: 0 5px;
  max-width: 70px;
  display: inline;
}

/* line 40, sass/modules/_devices.scss */
.device-image {
  border-radius: 50%;
  border: solid 4px #fff;
}

/* line 44, sass/modules/_devices.scss */
.device-image:hover {
  border-color: #F6F6F6;
}

/* line 48, sass/modules/_devices.scss */
.device-autodetect {
  margin: 0 0 20px 0;
}

/* line 52, sass/modules/_devices.scss */
.col-device-vendor {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/* line 56, sass/modules/_devices.scss */
.vendor-list {
  display: block;
  margin: 0 0 10px 0;
  background-color: #fff;
  text-align: center;
  border: solid 1px #d3d3d3;
}
/* line 63, sass/modules/_devices.scss */
.vendor-list .vendor-image {
  line-height: 80px;
  margin: 0 !important;
}
/* line 66, sass/modules/_devices.scss */
.vendor-list .vendor-image img {
  vertical-align: middle;
  max-width: 80px;
  max-height: 60px;
}

/* line 73, sass/modules/_devices.scss */
.device-perex {
  font-size: 110%;
  padding: 10px 0;
  border-top: solid 1px #d3d3d3;
}

/* line 79, sass/modules/_devices.scss */
.col-device {
  text-align: center;
  padding: 20px;
}
/* line 82, sass/modules/_devices.scss */
.col-device .device-statement {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: solid 1px #d3d3d3;
}

/* Network
-------------------------------------------------- */
/* line 8, sass/modules/_network.scss */
.network-block {
  margin-bottom: 20px;
}

/*
 * The responsive style for the front-end
 */
/* Global settings
-------------------------------------------------- */
/* line 7, sass/globals/_responsive.scss */
.clearfix {
  *zoom: 1;
}

/* line 10, sass/globals/_responsive.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 16, sass/globals/_responsive.scss */
.clearfix:after {
  clear: both;
}

/* line 19, sass/globals/_responsive.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 26, sass/globals/_responsive.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Detected mobile devices  ==========*/
@media (max-width: 2000px) {
  /* line 42, sass/globals/_responsive.scss */
  .is-mobile-true {
   /* Body
  -------------------------------------------------- */
    /* Typo
    -------------------------------------------------- */
    /* Images
    -------------------------------------------------- */
    /* tables
    -------------------------------------------------- */
    /* Forms
    -------------------------------------------------- */
    /* Tabs
    -------------------------------------------------- */
    /* Elements
    -------------------------------------------------- */
    /* Home */
    /* Eevents
    -------------------------------------------------- */
    /* Apps
    -------------------------------------------------- */
    /* Rooms
    -------------------------------------------------- */
    /* Profiles
    -------------------------------------------------- */
    /* Devices
    -------------------------------------------------- */
  }
  /* line 45, sass/settings/_mixins.scss */
  .is-mobile-true .header-logo {
    display: none !important;
  }
  /* line 48, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-toggle {
    margin-right: 30px !important;
  }
  /* line 51, sass/settings/_mixins.scss */
  .is-mobile-true .container {
    max-width: none;
    width: 100%;
  }
  /* line 58, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-visible-in .header-logo img {
    max-height: 20px !important;
    max-width: 40px !important;
  }
  /* line 63, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-visible-in a {
    padding: 0 8px !important;
  }
  /* line 69, sass/settings/_mixins.scss */
  .is-mobile-true .navi-time {
    padding-left: 6px !important;
    font-size: 90%;
  }
  /* line 73, sass/settings/_mixins.scss */
  .is-mobile-true .row {
    padding-right: 0;
    margin-right: 0;
  }
  /* line 78, sass/settings/_mixins.scss */
  .is-mobile-true .col-sm-6 {
    padding-right: 0;
  }
  /* line 81, sass/settings/_mixins.scss */
  .is-mobile-true #nav_collapse .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: block !important;
  }
  /* line 91, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-collapse {
    padding-right: 25px;
    padding-left: 25px;
  }
  /* line 96, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-toggle {
    padding: 5px 6px;
  }
  /* line 99, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-inverse .navbar-toggle:hover, .is-mobile-true .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }
  /* line 103, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-inverse .navbar-toggle {
    border-color: #5d5d5d;
  }
  /* line 107, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5d5d5d;
  }
  /* line 110, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-inverse .navbar-collapse, .is-mobile-true .navbar-inverse .navbar-form {
    border-color: #DDDDDD;
  }
  /* line 113, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #d3d3d3;
  }
  /* line 116, sass/settings/_mixins.scss */
  .is-mobile-true .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .is-mobile-true .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .is-mobile-true .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5d5d5d;
    background-color: #DDDDDD;
  }
  /* line 120, sass/settings/_mixins.scss */
  .is-mobile-true #main_content {
    padding: 0;
  }
  /* line 123, sass/settings/_mixins.scss */
  .is-mobile-true .navbar .divider-vertical {
    display: none;
  }
  /* line 127, sass/settings/_mixins.scss */
  .is-mobile-true .dropdown > .dropdown-menu::before,
  .is-mobile-true .dropdown > .dropdown-menu::after,
  .is-mobile-true .navbar .divider-vertical {
    display: none;
  }
  /* line 136, sass/settings/_mixins.scss */
  .is-mobile-true .mobile-padding {
    padding: 0 15px;
  }
  /* line 140, sass/settings/_mixins.scss */
  .is-mobile-true .page-header {
    margin: 0 0 10px 0;
    text-align: center;
  }
  /* line 144, sass/settings/_mixins.scss */
  .is-mobile-true .row-page {
    margin: 0;
  }
  /* line 148, sass/settings/_mixins.scss */
  .is-mobile-true .app-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 153, sass/settings/_mixins.scss */
  .is-mobile-true .app-border {
    border: 0;
  }
  /* line 160, sass/settings/_mixins.scss */
  .is-mobile-true .page-subtitle {
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 10px;
  }
  /* line 169, sass/settings/_mixins.scss */
  .is-mobile-true .report-img {
    margin: 0 5px;
    width: 32px;
    display: inline;
  }
  /* line 180, sass/settings/_mixins.scss */
  .is-mobile-true .table tbody tr td {
    border-top: 1px solid #dbdbdb;
  }
  /* line 189, sass/settings/_mixins.scss */
  .is-mobile-true .table-report tbody tr.bcg-active.true {
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(77%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 77%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */
  }
  /* line 192, sass/settings/_mixins.scss */
  .is-mobile-true .table-report tbody tr.bcg-active.false {
    background-color: #f2e8e8 !important;
  }
  /* line 201, sass/settings/_mixins.scss */
  .is-mobile-true .btn-new-item {
    float: none !important;
  }
  /* line 204, sass/settings/_mixins.scss */
  .is-mobile-true .btn-name {
    display: none;
  }
  /* line 213, sass/settings/_mixins.scss */
  .is-mobile-true .widget-entry {
    width: 100%;
  }
  /* line 216, sass/settings/_mixins.scss */
  .is-mobile-true .widget-block {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
  }
  /* line 223, sass/settings/_mixins.scss */
  .is-mobile-true .widget-block-in {
    /*   border: solid 1px red;*/
    height: auto;
    text-align: left;
    padding: 10px;
  }
  /* line 229, sass/settings/_mixins.scss */
  .is-mobile-true .widget-image {
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
  }
  /* line 235, sass/settings/_mixins.scss */
  .is-mobile-true .widget-body {
    margin-top: -15px;
    padding: 0 5px 15px 64px;
  }
  /* line 238, sass/settings/_mixins.scss */
  .is-mobile-true .widget-body .entry-title {
    padding-right: 30px;
  }
  /* line 243, sass/settings/_mixins.scss */
  .is-mobile-true .element-camera-control {
    text-align: right;
  }
  /* line 250, sass/settings/_mixins.scss */
  .is-mobile-true .home-widget .widget-entry .widget-block-in {
    border: 0;
    padding: 0;
  }
  /* line 261, sass/settings/_mixins.scss */
  .is-mobile-true .event-entry .event-img {
    width: 24px;
    height: 24px;
  }
  /* line 265, sass/settings/_mixins.scss */
  .is-mobile-true .event-entry .event-message {
    /*            display: block;*/
  }
  /* line 268, sass/settings/_mixins.scss */
  .is-mobile-true .event-entry .event-action {
    text-align: right;
  }
  /* line 275, sass/settings/_mixins.scss */
  .is-mobile-true .tabs-container {
    text-align: center;
  }
  /* line 278, sass/settings/_mixins.scss */
  .is-mobile-true .nav-tabs {
    display: block;
    text-align: center;
    padding: 0 25%;
  }
  /* line 283, sass/settings/_mixins.scss */
  .is-mobile-true .tab-name {
    display: none;
  }
  /* line 286, sass/settings/_mixins.scss */
  .is-mobile-true .tab-icon {
    font-size: 20px;
  }
  /* line 289, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry {
    width: 100%;
    padding: 0;
  }
  /* line 293, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry-in {
    border: 0;
    border-bottom: dotted 1px #d3d3d3;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    height: auto;
  }
  /* line 300, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry-in .list-group {
    border: 0 none;
  }
  /* line 303, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry-in .list-group-item {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
  /* line 311, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry-in .app-header {
    float: left;
    width: 35%;
  }
  /* line 315, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry-in .app-body {
    float: left;
    width: 64%;
    margin: 0;
    padding-right: 10px;
  }
  /* line 320, sass/settings/_mixins.scss */
  .is-mobile-true .app-entry-in .app-body .btn {
    vertical-align: top;
  }
  /* line 327, sass/settings/_mixins.scss */
  .is-mobile-true #table_apps_active .btn {
    font-size: 12px;
  }
  /* line 332, sass/settings/_mixins.scss */
  .is-mobile-true .app-image-list {
    max-width: 50px;
  }
  /* line 339, sass/settings/_mixins.scss */
  .is-mobile-true .room-entry {
    float: left;
    width: 50%;
    padding: 0;
  }
  /* line 343, sass/settings/_mixins.scss */
  .is-mobile-true .room-entry .entry-title {
    font-size: 12px;
  }
  /* line 346, sass/settings/_mixins.scss */
  .is-mobile-true .room-entry .entry-title-text {
    display: none;
  }
  /* line 349, sass/settings/_mixins.scss */
  .is-mobile-true .room-entry .app-border {
    border: solid 1px #d3d3d3;
  }
  /* line 354, sass/settings/_mixins.scss */
  .is-mobile-true .room-image {
    max-width: 130px;
  }
  /* line 361, sass/settings/_mixins.scss */
  .is-mobile-true .profile-entry {
    float: left;
    width: 50%;
  }
  /* line 364, sass/settings/_mixins.scss */
  .is-mobile-true .profile-entry .entry-title {
    font-size: 12px;
  }
  /* line 367, sass/settings/_mixins.scss */
  .is-mobile-true .profile-entry .entry-title-text {
    display: none;
  }
  /* line 375, sass/settings/_mixins.scss */
  .is-mobile-true .device-manufacturers .col-sm-6 {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
  /* line 382, sass/settings/_mixins.scss */
  .is-mobile-true .device-manufacturers .vendor-list {
    width: 100%;
    margin: 0;
    border-color: #d3d3d3;
  }
  /* line 393, sass/settings/_mixins.scss */
  .is-mobile-true .vendor-image img {
    max-width: 70px !important;
    max-height: 50px !important;
  }
  /* line 399, sass/settings/_mixins.scss */
  .is-mobile-true .device-perex {
    padding: 10px;
    border-top: 0 none;
  }
  /* line 403, sass/settings/_mixins.scss */
  .is-mobile-true .row-device {
    margin-left: 0;
  }
  /* line 405, sass/settings/_mixins.scss */
  .is-mobile-true .row-device .col-device {
    margin: 0 0 20px 0;
    background-color: #fff;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 45, sass/settings/_mixins.scss */
  .header-logo {
    display: none !important;
  }

  /* line 48, sass/settings/_mixins.scss */
  .navbar-toggle {
    margin-right: 30px !important;
  }

  /* line 51, sass/settings/_mixins.scss */
  .container {
    max-width: none;
    width: 100%;
  }

  /* line 58, sass/settings/_mixins.scss */
  .navbar-visible-in .header-logo img {
    max-height: 20px !important;
    max-width: 40px !important;
  }
  /* line 63, sass/settings/_mixins.scss */
  .navbar-visible-in a {
    padding: 0 8px !important;
  }

  /* line 69, sass/settings/_mixins.scss */
  .navi-time {
    padding-left: 6px !important;
    font-size: 90%;
  }

  /* line 73, sass/settings/_mixins.scss */
  .row {
    padding-right: 0;
    margin-right: 0;
  }

  /* line 78, sass/settings/_mixins.scss */
  .col-sm-6 {
    padding-right: 0;
  }

  /* line 81, sass/settings/_mixins.scss */
  #nav_collapse .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: block !important;
  }

  /* line 91, sass/settings/_mixins.scss */
  .navbar-collapse {
    padding-right: 25px;
    padding-left: 25px;
  }

  /* line 96, sass/settings/_mixins.scss */
  .navbar-toggle {
    padding: 5px 6px;
  }

  /* line 99, sass/settings/_mixins.scss */
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }

  /* line 103, sass/settings/_mixins.scss */
  .navbar-inverse .navbar-toggle {
    border-color: #5d5d5d;
  }

  /* line 107, sass/settings/_mixins.scss */
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5d5d5d;
  }

  /* line 110, sass/settings/_mixins.scss */
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #DDDDDD;
  }

  /* line 113, sass/settings/_mixins.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #d3d3d3;
  }

  /* line 116, sass/settings/_mixins.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5d5d5d;
    background-color: #DDDDDD;
  }

  /* line 120, sass/settings/_mixins.scss */
  #main_content {
    padding: 0;
  }

  /* line 123, sass/settings/_mixins.scss */
  .navbar .divider-vertical {
    display: none;
  }

  /* line 127, sass/settings/_mixins.scss */
  .dropdown > .dropdown-menu::before,
  .dropdown > .dropdown-menu::after,
  .navbar .divider-vertical {
    display: none;
  }

 /* Body
-------------------------------------------------- */
  /* line 136, sass/settings/_mixins.scss */
  .mobile-padding {
    padding: 0 15px;
  }

  /* line 140, sass/settings/_mixins.scss */
  .page-header {
    margin: 0 0 10px 0;
    text-align: center;
  }

  /* line 144, sass/settings/_mixins.scss */
  .row-page {
    margin: 0;
  }

  /* line 148, sass/settings/_mixins.scss */
  .app-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 153, sass/settings/_mixins.scss */
  .app-border {
    border: 0;
  }

  /* Typo
  -------------------------------------------------- */
  /* line 160, sass/settings/_mixins.scss */
  .page-subtitle {
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 10px;
  }

  /* Images
  -------------------------------------------------- */
  /* line 169, sass/settings/_mixins.scss */
  .report-img {
    margin: 0 5px;
    width: 32px;
    display: inline;
  }

  /* tables
  -------------------------------------------------- */
  /* line 180, sass/settings/_mixins.scss */
  .table tbody tr td {
    border-top: 1px solid #dbdbdb;
  }

  /* line 189, sass/settings/_mixins.scss */
  .table-report tbody tr.bcg-active.true {
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(77%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 77%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 77%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */
  }
  /* line 192, sass/settings/_mixins.scss */
  .table-report tbody tr.bcg-active.false {
    background-color: #f2e8e8 !important;
  }

  /* Forms
  -------------------------------------------------- */
  /* line 201, sass/settings/_mixins.scss */
  .btn-new-item {
    float: none !important;
  }

  /* line 204, sass/settings/_mixins.scss */
  .btn-name {
    display: none;
  }

  /* Tabs
  -------------------------------------------------- */
  /* Elements
  -------------------------------------------------- */
  /* line 213, sass/settings/_mixins.scss */
  .widget-entry {
    width: 100%;
  }

  /* line 216, sass/settings/_mixins.scss */
  .widget-block {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
  }

  /* line 223, sass/settings/_mixins.scss */
  .widget-block-in {
    /*   border: solid 1px red;*/
    height: auto;
    text-align: left;
    padding: 10px;
  }

  /* line 229, sass/settings/_mixins.scss */
  .widget-image {
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
  }

  /* line 235, sass/settings/_mixins.scss */
  .widget-body {
    margin-top: -15px;
    padding: 0 5px 15px 64px;
  }
  /* line 238, sass/settings/_mixins.scss */
  .widget-body .entry-title {
    padding-right: 30px;
  }

  /* line 243, sass/settings/_mixins.scss */
  .element-camera-control {
    text-align: right;
  }

  /* Home */
  /* line 250, sass/settings/_mixins.scss */
  .home-widget .widget-entry .widget-block-in {
    border: 0;
    padding: 0;
  }

  /* Eevents
  -------------------------------------------------- */
  /* line 261, sass/settings/_mixins.scss */
  .event-entry .event-img {
    width: 24px;
    height: 24px;
  }
  /* line 265, sass/settings/_mixins.scss */
  .event-entry .event-message {
    /*            display: block;*/
  }
  /* line 268, sass/settings/_mixins.scss */
  .event-entry .event-action {
    text-align: right;
  }

  /* Apps
  -------------------------------------------------- */
  /* line 275, sass/settings/_mixins.scss */
  .tabs-container {
    text-align: center;
  }

  /* line 278, sass/settings/_mixins.scss */
  .nav-tabs {
    display: block;
    text-align: center;
    padding: 0 25%;
  }

  /* line 283, sass/settings/_mixins.scss */
  .tab-name {
    display: none;
  }

  /* line 286, sass/settings/_mixins.scss */
  .tab-icon {
    font-size: 20px;
  }

  /* line 289, sass/settings/_mixins.scss */
  .app-entry {
    width: 100%;
    padding: 0;
  }

  /* line 293, sass/settings/_mixins.scss */
  .app-entry-in {
    border: 0;
    border-bottom: dotted 1px #d3d3d3;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    height: auto;
  }
  /* line 300, sass/settings/_mixins.scss */
  .app-entry-in .list-group {
    border: 0 none;
  }
  /* line 303, sass/settings/_mixins.scss */
  .app-entry-in .list-group-item {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
  /* line 311, sass/settings/_mixins.scss */
  .app-entry-in .app-header {
    float: left;
    width: 35%;
  }
  /* line 315, sass/settings/_mixins.scss */
  .app-entry-in .app-body {
    float: left;
    width: 64%;
    margin: 0;
    padding-right: 10px;
  }
  /* line 320, sass/settings/_mixins.scss */
  .app-entry-in .app-body .btn {
    vertical-align: top;
  }

  /* line 327, sass/settings/_mixins.scss */
  #table_apps_active .btn {
    font-size: 12px;
  }

  /* line 332, sass/settings/_mixins.scss */
  .app-image-list {
    max-width: 50px;
  }

  /* Rooms
  -------------------------------------------------- */
  /* line 339, sass/settings/_mixins.scss */
  .room-entry {
    float: left;
    width: 50%;
    padding: 0;
  }
  /* line 343, sass/settings/_mixins.scss */
  .room-entry .entry-title {
    font-size: 12px;
  }
  /* line 346, sass/settings/_mixins.scss */
  .room-entry .entry-title-text {
    display: none;
  }
  /* line 349, sass/settings/_mixins.scss */
  .room-entry .app-border {
    border: solid 1px #d3d3d3;
  }

  /* line 354, sass/settings/_mixins.scss */
  .room-image {
    max-width: 130px;
  }

  /* Profiles
  -------------------------------------------------- */
  /* line 361, sass/settings/_mixins.scss */
  .profile-entry {
    float: left;
    width: 50%;
  }
  /* line 364, sass/settings/_mixins.scss */
  .profile-entry .entry-title {
    font-size: 12px;
  }
  /* line 367, sass/settings/_mixins.scss */
  .profile-entry .entry-title-text {
    display: none;
  }

  /* Devices
  -------------------------------------------------- */
  /* line 375, sass/settings/_mixins.scss */
  .device-manufacturers .col-sm-6 {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
  /* line 382, sass/settings/_mixins.scss */
  .device-manufacturers .vendor-list {
    width: 100%;
    margin: 0;
    border-color: #d3d3d3;
  }

  /* line 393, sass/settings/_mixins.scss */
  .vendor-image img {
    max-width: 70px !important;
    max-height: 50px !important;
  }

  /* line 399, sass/settings/_mixins.scss */
  .device-perex {
    padding: 10px;
    border-top: 0 none;
  }

  /* line 403, sass/settings/_mixins.scss */
  .row-device {
    margin-left: 0;
  }
  /* line 405, sass/settings/_mixins.scss */
  .row-device .col-device {
    margin: 0 0 20px 0;
    background-color: #fff;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* Custom, iPhone Retina */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 110, sass/globals/_responsive.scss */
  .hide-navi-text {
    display: none !important;
  }
}
