<!-- Passwort change -->
<div ng-controller="AuthPasswordController">
    <bb-loader></bb-loader> 
    <div ng-include="'app/views/auth/auth_header.html'"></div>
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{_t('password_info')}}</div>
    <form name="form_password" id="form_password" class="form form-page" ng-submit="changePassword(form_password, input)" novalidate>
        <!-- login  -->
         <fieldset>
            <p class="form-control-static">
                <span ng-bind="_t('lb_login')"></span>: <strong ng-bind="cfg.default_credentials.login"></strong>
            </p>
         </fieldset>
        <!-- password -->    
        <fieldset>
            <label class="isrequired">{{_t('lb_new_password')}}: </label>
            <input name="password" id="password" type="password" class="form-control" value="" ng-model="input.password" ng-blur="passwordBlur = true" ng-required="true" ng-minlength="6" />
            <bb-validator input-name='form_password.password.$error.required' trans='_t("field_required")' has-blur='passwordBlur'></bb-validator> 
            <bb-validator input-name='form_password.password.$error.minlength' trans='_t("password_valid")' has-blur='passwordBlur'></bb-validator>

        </fieldset>
        <!-- confirm password -->  
        <fieldset>
            <label class="isrequired">{{_t('confirm_password')}}: </label>
             <input name="password_confirm" id="password_confirm" type="password" class="form-control" value="" ng-blur="passwordConfirmBlur = true" ng-model="input.passwordConfirm" bb-compare-to="password" />
             <bb-validator input-name='form_password.password_confirm.$error.compareto' trans='_t("passwords_must_match")' has-blur='passwordConfirmBlur'></bb-validator>
            
           
        </fieldset>
      
        <fieldset>
             <div class="form-group">
                 <label>{{_t('lb_email')}}: </label>
                 <input name="email" id="email" type="email" class="form-control" value="" ng-model="input.email" ng-blur="emailBlur = true" />
                 <bb-validator input-name='form_password.email.$error.required' trans='_t("field_required")' has-blur='emailBlur'></bb-validator> 
                 <bb-validator input-name='form_password.email.$error.email' trans='_t("email_invalid")' has-blur='emailBlur'></bb-validator> 
                 </div>
             <bb-help-text trans="_t('password_email_info')"></bb-help-text>
        </fieldset>
        <!--<fieldset>
        <div class="form-group">
                <input type="checkbox" name="trust_my_network" id="trust_my_network" 
                       ng-model="input.trust_my_network" /> 
                <label ng-bind="_t('secure_login')"></label> <bb-help file="secure_login" lang="{{loginLang}}"></bb-help>
            </div>
        </fieldset>-->  
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_enter')}}" ng-disabled="form_password.$invalid">
                <i class="fa fa-check"></i> <span ng-bind="_t('lb_submit')"></span>
            </button>
        </fieldset>
    </form>
</div>