<!-- Login view -->
<div ng-controller="AuthLoginController">
    <bb-loader></bb-loader>
    <div class="welcome-screen" ng-hide="(cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS' || cfg.route.os == 'PoppApp_Z_Way' || cfg.route.os == 'ZWayMobileAppAndroid')">
        <h1> {{_t('welcome_1')}} {{auth.remoteId}}</h1>
    </div>
    <form name="form_login" id="form_login" class="form form-page" ng-submit="login(input)" novalidate>
        <fieldset ng-hide="(cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS' || cfg.route.os == 'PoppApp_Z_Way' || cfg.route.os == 'ZWayMobileAppAndroid')">
            <!-- <h3><span ng-bind="_t('nav_login')"></span></h3> -->
            <!-- login -->
            <div class="form-group">
                <input name="login" id="login" type="text" class="form-control" placeholder="{{_t('lb_login')}}" value="{{input.login}}" ng-model="input.login" autocapitalize="off"/>
            </div>
            <!-- password -->
            <div class="form-group">
                <input name="password" id="password" type="password" class="form-control" placeholder="{{_t('lb_password')}}" value="" ng-model="input.password" />
            </div>
            <div class="form-group">
                <a href="#passwordforgot"><i class="fas fa-question-circle text-primary"></i> {{_t('password_forgot')}}</a>
            </div>
            <!-- local IP -->
            <div class="form-group">
                {{_t('local_ip_address')}}: {{auth.ipAddress}}
            </div>
        </fieldset>
        <fieldset class="submit-entry">
            <!-- My Hubs -->
            <a ng-href="{{cfg.android_html_dir}}" style="text-decoration: none">
                <div class="btn btn-submit" ng-if="(cfg.route.os == 'PoppApp_Z_Way' || cfg.route.os == 'ZWayMobileAppAndroid')">
                    <i class="fas fa-chevron-left subnavi-arrow"></i>
                    <i class="fab fa-android fa-fw"></i>
                        <span>{{_t('my_hubs')}}</span>
                </div>
            </a>
            <!-- My Hubs -->
            <a ng-href="{{cfg.ios_html_dir}}" style="text-decoration: none">
                <div class="btn btn-submit" ng-if="(cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS')">
                    <i class="fas fa-chevron-left subnavi-arrow"></i>
                    <i class="fab fa-apple fa-fw"></i>
                    <span>{{_t('my_hubs')}}</span>
                </div>
            </a>
            <!-- Login -->
            <button ng-hide="(cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS' || cfg.route.os == 'PoppApp_Z_Way' || cfg.route.os == 'ZWayMobileAppAndroid')"
                    type="submit" class="btn btn-submit" title="{{_t('lb_enter')}}"><i class="fas fa-sign-in-alt"></i> {{_t('lb_enter')}}</button>
        </fieldset>
    </form>
</div>
