<!-- First access form -->
<div ng-controller="AuthFirstAccessController">
    <bb-loader></bb-loader>
    <div class="welcome-screen">
        <h1> {{_t('welcome_1')}}  {{auth.remoteId}}</h1>
    </div>
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{_t('password_info')}}</div>
    <form name="form_password" id="form_password" class="form form-page" ng-submit="updateFirstAccess(form_password, input,handleTimezone.instance)" novalidate>
        <!-- language  -->
        <fieldset>
            <label>{{_t('select_language')}}: </label>
            <div class="btn-group group-login-lang">
                <button type="button" class="btn btn-default" title="{{_t('lb_language')}}"
                        ng-click="expandNavi('loginLang', $event)">
                    <img class="lang-img" ng-src="app/img/flags/{{loginLang}}.png" alt="{{loginLang}}" />
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="app-dropdown dropdown-lang app-dropdown-left" ng-if="naviExpanded.loginLang">
                    <ul>
                        <li class="clickable" ng-repeat="v in cfg.lang_list" ng-click="setLoginLang(v)">
                            <img class="form-control-img profile-lang"
                                 ng-src="app/img/flags/{{v}}.png" alt="{{v}}"
                                 ng-class="v == loginLang ? 'control-active':''" />
                        </li>
                    </ul>

                </div>
            </div>

        </fieldset>
        <!-- login  -->
         <fieldset>
            <p class="form-control-static">
                <span ng-bind="_t('lb_login')"></span>: <strong ng-bind="cfg.default_credentials.login"></strong>
            </p>
         </fieldset>
        <!-- password -->    
        <fieldset>
            <label class="isrequired">{{_t('lb_new_password')}}: </label>
            <input name="password" id="password" type="password" class="form-control" value="" ng-model="input.password" ng-blur="passwordBlur = true" ng-required="true" ng-minlength="6" />
            <bb-validator input-name='form_password.password.$error.required' trans='_t("field_required")' has-blur='passwordBlur'></bb-validator> 
            <bb-validator input-name='form_password.password.$error.minlength' trans='_t("password_valid")' has-blur='passwordBlur'></bb-validator>

        </fieldset>
        <!-- confirm password -->  
        <fieldset>
            <label class="isrequired">{{_t('confirm_password')}}: </label>
             <input name="password_confirm" id="password_confirm" type="password" class="form-control" value="" ng-blur="passwordConfirmBlur = true" ng-model="input.passwordConfirm" bb-compare-to="password" />
             <bb-validator input-name='form_password.password_confirm.$error.compareto' trans='_t("passwords_must_match")' has-blur='passwordConfirmBlur'></bb-validator>
            
           
        </fieldset>
      
        <fieldset>
             <div class="form-group">
                 <label>{{_t('lb_email')}}: </label>
                 <input name="email" id="email" type="email" class="form-control" value="" ng-model="input.email" ng-blur="emailBlur = true" />
                 <bb-validator input-name='form_password.email.$error.required' trans='_t("field_required")' has-blur='emailBlur'></bb-validator> 
                 <bb-validator input-name='form_password.email.$error.email' trans='_t("email_invalid")' has-blur='emailBlur'></bb-validator> 
                 </div>
             <bb-help-text trans="_t('password_email_info')"></bb-help-text>
        </fieldset>
        
        <fieldset ng-if="cfg.app_type === 'jb' && handleTimezone.show">
            <div class="form-group">
            <label>{{_t('timezone_select')}}</label>
            <select class="form-control" ng-model="handleTimezone.instance.params.timezone">
                <option value="{{v}}" 
                        ng-repeat="v in managementTimezone.enums track by $index"
                        ng-selected="v === handleTimezone.instance.params.timezone">
                    {{managementTimezone.labels[$index]}}
                </option>
            </select>
            <bb-help-text trans="_t('timezone_info')"></bb-help-text>
            </div>
         <div class="form-group">
                    <div>
                        <input type="checkbox" name="wan_port_access" id="wan_port_access" value="true"
                               ng-model="handleTimezone.instance.params.wan_port_access" ng-checked="handleTimezone.instance.params.wan_port_access" />
                        <label ng-bind="_t('local_access_activate')"></label>
                         <bb-help-text trans="_t('timezone_info')"></bb-help-text>
                    </div>
                </div>
          </fieldset>
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_enter')}}" ng-disabled="form_password.$invalid">
                <i class="fa fa-check"></i> <span ng-bind="_t('lb_submit')"></span>
            </button>
        </fieldset>
    </form>
</div>