<!-- Login view -->
<div ng-controller="AuthLoginController">
    <bb-loader></bb-loader>
     <div ng-include="'app/views/auth/auth_header.html'"></div>
    <form name="form_login" id="form_login" class="form form-page" ng-submit="login(input)" novalidate>
        <fieldset>
            <h3><span ng-bind="_t('nav_login')"></span></h3>
            <!-- login -->
            <div class="form-group">
                <input name="login" id="login" type="text" class="form-control" placeholder="{{_t('lb_login')}}" value="{{input.login}}" ng-model="input.login" />
            </div>
            <!-- password -->
            <div class="form-group">
                <input name="password" id="password" type="password" class="form-control" placeholder="{{_t('lb_password')}}" value="" ng-model="input.password" />
            </div>

            <!-- remember -->
            <div class="form-group">
                <input type="checkbox" name="rememberme" value="true" id="rememberme" ng-model="input.rememberme" ng-checked="input.remember" /> <label ng-bind="_t('remember_me')"></label>
            </div>

            <a href="#passwordforgot"><i class="fa fa-question-circle text-primary"></i> {{_t('password_forgot')}}</a>
        </fieldset>
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_enter')}}"><i class="fa fa-sign-in"></i> {{_t('lb_enter')}}</button>
        </fieldset>
    </form>
</div>