<div ng-controller="ManagementUserOauthController">
  <bb-loader></bb-loader>
  <div ng-if="show == true">
    <h2>
      <span ng-bind="_t('lb_user')"></span>:
      <span ng-show="input.id > 0">(#{{input.id}})</span>
      <span ng-bind="input.name"></span>
    </h2>
    <form name="form_profile" id="form_profile" class="form form-page" ng-submit="store(form_profile,input)" novalidate>
      <fieldset>
        <h3>{{_t('lb_allow_rooms')}}</h3>
        <div ng-if="input.role === 1">
          <p>{{_t('lb_allow_access_to_all_rooms')}}</p>
        </div>
        <div ng-if="input.role !== 1">
          <div ng-if="!rooms.length">
            <p>{{_t('no_rooms')}}</p>
          </div>
          <div ng-if="rooms.length">
            <div class="device-available-block assigned">
              <a href="" class="btn btn-default btn-tag" ng-repeat="d in rooms" ng-if="input.rooms.indexOf(d.id) > -1" ng-click="removeRoom(d.id)">{{d.title|cutText:true:20}}
                <i class="fa fa-times text-danger"></i>
              </a>
            </div>
            <h3>{{_t('lb_available_rooms')}}</h3>
            <div class="device-available-block">
              <a href="" class="btn btn-default btn-tag" ng-repeat="d in rooms" ng-if="input.rooms.indexOf(d.id) === -1" ng-click="assignRoom(d.id)">{{d.title|cutText:true:20}}
                <i class="fa fa-plus text-success"></i>
              </a>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <h3>{{_t('lb_allow_devices')}}</h3>
        <div ng-if="input.role === 1">
          <p>{{_t('lb_allow_access_to_all_devices')}}</p>
        </div>
        <div ng-if="input.role !== 1">
          <div ng-if="!devices.length">
            <p>{{_t('no_devices')}}</p>
          </div>
          <div ng-if="devices.length">
            <div class="device-available-block assigned">
              <a href="" class="btn btn-default btn-tag" ng-repeat="d in devices" ng-if="input.devices.indexOf(d.id) > -1" ng-click="removeDevice(d.id)">{{d.metrics.title|cutText:true:20}}
                <i class="fa fa-times text-danger"></i>
              </a>
            </div>
            <h3>{{_t('lb_available_devices')}}</h3>
            <div class="device-available-block">
              <a href="" class="btn btn-default btn-tag" ng-repeat="d in devices" ng-if="input.devices.indexOf(d.id) === -1 && !d.permanently_hidden && d.visibility" ng-click="assignDevice(d.id)">{{d.metrics.title|cutText:true:20}}
                <i class="fa fa-plus text-success"></i>
              </a>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="submit-entry">
        <button type="button" class="btn btn-default">
          <a ng-href="{{callback_url}}">
            <i class="fa fa-reply"></i>
            <span class="btn-name">{{_t('lb_cancel')}}</span>
          </a>
        </button>
        <button type="submit" class="btn btn-submit" ng-disabled="form_profile.$invalid"> 
          <i class="fa fa-check"></i>
          <span class="btn-name">{{_t('lb_save')}}</span>
        </button>  
      </fieldset>
    </form>
  </div>
  <div ng-if="show == false">
    <fieldset>
      <div class="fieldset ng-binding">
          <p ng-bind-html="_t('oauth_new_user_created') | toTrusted"></p>
      </div>   
    </fieldset>
    <fieldset>
      </button>
      <button type="button" class="btn btn-submit" ng-click="redirToClient()" > 
        <i class="fa fa-check"></i>
        <span class="btn-name">OK</span>
      </button>        
    </fieldset>
  </div>
</div>
<!-- /ng-controller -->