<!-- Passwort change -->
<div ng-controller="PasswordForgotController" class="mobile-padding">
    <bb-loader></bb-loader> 
    <bb-alert alert="passwordForgot.alert"></bb-alert>
    <form name="form_password" id="form_password" class="form form-page" ng-submit="sendEmail(form_password, passwordForgot)" novalidate ng-hide="passwordForgot.alert.status == 'alert-success'">
        <fieldset>
            <h3><i class="fa fa-chevron-down"></i> {{_t('password_forgot_info')}}</h3>
            
             <div class="form-group">
                 <label class="isrequired">{{_t('lb_email')}}: </label>
                 <input name="email" id="email" type="email" class="form-control" value="" ng-model="passwordForgot.input.email" ng-blur="emailBlur = true" ng-required="true" />
                 <bb-validator input-name='form_password.email.$error.required' trans='_t("field_required")' has-blur='emailBlur'></bb-validator> 
                 <bb-validator input-name='form_password.email.$error.email' trans='_t("email_invalid")' has-blur='emailBlur'></bb-validator> 
                 </div>
        </fieldset>
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" ng-disabled="form_password.$invalid"><i class="fa fa-check"></i> <span ng-bind="_t('lb_submit')"></span></button>
        </fieldset>
    </form>
</div>