<!-- The schedule -->
<section class="automation" ng-controller="SecurityIdController">

  <h2>{{_t('title_security')}}</h2>
  <!-- Form -->
  <form class="form form-page" ng-submit="storeInstance(security.input,true)">
    <!-- Form-->
    <fieldset ng-include="'app/views/automation/security/id_form.html'"></fieldset>
    <!-- Tabs  -->
    <fieldset ng-include="'app/views/automation/security/tabs.html'"></fieldset>
    <!-- //////////////////////////////////////////  Triggering  ////////////////////////////////////////// -->
    <div ng-if="security.tab == 1">
      
      <!-- Trigger -->
      <fieldset ng-include="'app/views/automation/security/trigger/trigger.html'"></fieldset>
      <!-- Silent alarm -->
      <fieldset ng-include="'app/views/automation/security/trigger/silent_alarm.html'"></fieldset>
      <!-- Silent alarm -->
      <fieldset ng-include="'app/views/automation/security/trigger/alarm.html'"></fieldset>
      <!-- Arming -->
      <fieldset ng-include="'app/views/automation/security/trigger/arming.html'"></fieldset>
      <!-- Disarming -->
      <fieldset ng-include="'app/views/automation/security/trigger/disarming.html'"></fieldset>
      <!-- Reset -->
      <fieldset ng-include="'app/views/automation/security/trigger/reset.html'"></fieldset>


    </div>
    <!-- ////////////////////////////////////////// External control  ////////////////////////////////////////// -->
    <div ng-if="security.tab ==2">
      <!-- Cards -->
      <fieldset ng-include="'app/views/automation/security/control/control.html'"></fieldset>
    </div>
    <!-- ////////////////////////////////////////// Advanced  ////////////////////////////////////////// -->
    <div ng-if="security.tab == 3">
      <div class="section">
        <fieldset ng-include="'app/views/automation/security/advanced/advanced_schedule.html'"></fieldset>
      </div>
      <div class="section">
        <fieldset ng-include="'app/views/automation/security/advanced/advanced_settings.html'"></fieldset>
      </div>

    </div>

    <!-- Submit  -->
    <fieldset class="submit-entry">
      <a ng-href="#automations" class="btn btn-default" title="{{_t('lb_cancel')}}">
        <i class="fa fa-reply"></i>
        <span class="btn-name">{{_t('lb_cancel')}}</span>
      </a>
      <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
        <i class="fa fa-check"></i>
        <span class="btn-name">{{_t('lb_save')}}</span>
      </button>
      <button type="button" title="{{_t('lb_remove')}}" class="btn btn-text" ng-if="security.routeId" ng-click="deleteInstance(security.routeId, _t('lb_delete_confirm'))">
          <i class="fa fa-close text-danger"></i>
          <span class="btn-name">{{_t('lb_remove')}}</span>
        </button>
    </fieldset>
  </form>
  <!-- <pre>{{security.input|json}}</pre> -->
  </div>
  <!-- /ng-controller -->