<div class="tabs-wrap form-inline" bind-class-on-scroll offset="{{cfg.scroll_offset}}" scroll-class="fix-me-top">
  <div class="btn-group btn-group-justified btn-goup-tabs">
    <a class="btn btn-default" title="{{_t('triggering')}}" ng-class="{'active':security.tab == 1}" ng-click="security.tab = 1">
      {{_t('triggering')}}
    </a>
    <a class="btn btn-default" title="{{_t('external_control')}}" ng-class="{'active':security.tab == 2}" ng-click="security.tab = 2">
      {{_t('external_control')}}
    </a>
    <a class="btn btn-default" title="{{_t('advanced_settings')}}" ng-class="{'active':security.tab == 3}" ng-click="security.tab = 3">
      {{_t('advanced_settings')}}
    </a>
  </div>
</div>