<!-- sensorMultilevel -->
<div class="widget-img-overlay" 
	ng-if="!v.hasHistory"
	ng-click="runCmd(v.id + '/command/update')">
  <span class="widget-level">{{v.metrics.level}}<small>{{v.metrics.scaleTitle}}</small></span> 
</div>
<div class="widget-img-overlay" 
	ng-if="v.hasHistory"
	ng-click="dataHolder.devices.find = v;handleModal('modalHistory', $event)">
  <span class="widget-level">{{v.metrics.level}}<small>{{v.metrics.scaleTitle}}</small></span>
</div>
<img class="widget-preview-img img-circle" ng-src="{{v.iconPath}}" alt="img" 
	err-src="{{cfg.img.placeholder}}"
	ng-if="cfg.element_update_icon.indexOf(v.deviceType) === -1"/>
