<!-- Matter device view -->
<div ng-controller="MatterManageController">
     <bb-loader></bb-loader>
    <!-- Matter navigation -->
    <div ng-include="'app/views/matter/navi.html'"></div>
    <div class="app-row app-row-report app-row-matter clearfix">
         <div id="row_matter_{{v.id}}" class="report-entry" ng-repeat="v in devices.zw | orderBy:'id'">
             <div class="report-col report-body matter-devices">
                  <div class="btn-group">
                    <span class="network-matter-title noelements" ng-if="_.size(v.elements) < 1">{{v.title}} (#{{v.id}}) </span>
                    <a href="" class="network-matter-title"
                       ng-click="expandNavi('accMatterManage_' + v.id, $event)" ng-if="_.size(v.elements) > 0">
                        <i class="fa" ng-class="naviExpanded['accMatterManage_' + v.id] ? 'fa-chevron-up' : 'fa-chevron-down'"></i> {{v.title}} (#{{v.id}})

                    </a>
                   <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded['accMatterManage_' + v.id]">
                        <ul>
                            <li class="matter-hidden-{{e.permanently_hidden}}"
                                ng-init="elUrl = (e.permanently_hidden ? '': '#/element/' + e.id)"
                                ng-repeat="e in v.elements| orderBy:'metrics.title':false">
                                <a ng-href="{{elUrl}}" title="{{e.metrics.title}}">
                                    <img class="report-img-s" ng-src="{{e.iconPath}}" alt="img" /> 
                                    {{e.metrics.title|cutText:true:40}} <span class="matter-raquo">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
             <div class="report-col report-ctrl" ng-if="elementAccess(cfg.role_access.network)">
                  <div class="btn-group">
                    <a class="btn btn-default" href="#matter/devices/{{v.id}}" title="{{_t('lb_configuration')}}">
                      <i class="fas fa-cog text-primary"></i>
                    </a>
                  </div>
             </div>
         </div>
    </div>
    <div class="device-logo" ng-include="'app/views/matter/matter_nav.html'"></div>
</div> <!-- /ng-controller --> 
