<!-- Elements 1 view -->
<div ng-controller="ElementController">
    <div class="row">
        <div class="col-md-2 col-sm-6" ng-repeat="v in collection">
            <div class="widget-block" ng-switch="v.deviceType">
                <div class="widget-block-in text-center">
                
                 <!-- Widget header -->
                 <div class="widget-header">
                <a class="widget-config" href="" 
                   ng-click="showModal('#modal_widget', {'id': v.id, 'title': v.title, 'dasboard': 0, 'deviceType': v.deviceType, 'level': v.level})"
                   ><i class="fa fa-cog fa-lg"></i></a>
                <img class="widget-image img-rounded" src="storage/img/elements/icon-elements.png" alt="{{ v.title}}"/>
                 </div>
               
                
                <div class="widget-body"
                     ng-mouseenter="goHidden = true;
                                         goHiddenCamera = true;
                                         goHiddenSensor = true;
                                         goHiddenSwitchLinear = true;" 
                     ng-mouseleave="goHidden = false;
                                         goHiddenCamera = false;
                                         goHiddenSensor = false;
                                         goHiddenSwitchLinear = false;">

                     <h3 title="{{v.title}}">{{v.title | cutText:true:20}}</h3>
                    <!-- switchMultilevel -->
                    <div ng-switch-when="switchMultilevel">
                        <strong>{{v.level}} <i class="fa fa-caret-down"></i></strong>
                    </div>
                    <!-- switchBinary -->
                    <div ng-switch-when="switchBinary">
                        <input
                            bs-switch
                            ng-model="isSelected"
                            type="checkbox"
                            switch-active="true"
                            switch-on-text="ON"
                            switch-off-text="OFF"
                            switch-on-color="{{ onColor}}"
                            switch-off-color="{{ offColor}}"
                            switch-animate="{{ animate}}"
                            switch-size="normal"
                            switch-label="{{ label}}"
                            switch-icon="{{ icon}}" >
                    </div>
                    <!-- doorlock -->
                    <div ng-switch-when="doorlock">
                        <input
                            bs-switch
                            ng-model="isSelected"
                            type="checkbox"
                            switch-active="true"
                            switch-on-text="OPEN"
                            switch-off-text="CLOSED"
                            switch-on-color="{{ onColor}}"
                            switch-off-color="{{ offColor}}"
                            switch-animate="{{ animate}}"
                            switch-size="normal"
                            switch-label="{{ label}}"
                            switch-icon="{{ icon}}" >
                    </div>
                    <!-- toggleButton -->
                    <div ng-switch-when="toggleButton">
                        <input
                            bs-switch
                            ng-model="isSelected"
                            type="checkbox"
                            switch-active="true"
                            switch-on-text="ON"
                            switch-off-text="OFF"
                            switch-on-color="{{ onColor}}"
                            switch-off-color="{{ offColor}}"
                            switch-animate="{{ animate}}"
                            switch-size="normal"
                            switch-label="{{ label}}"
                            switch-icon="{{ icon}}" >
                    </div>
                    <!-- sensorMultilevel -->
                    <div  ng-switch-when="sensorMultilevel"><strong>{{v.level + v.scaleTitle}}</strong> <i class="fa fa-caret-down"></i></div>
                    <!-- switchMultilevelLinear -->
                    <div  ng-switch-when="switchMultilevelLinear"><strong>{{v.level + v.scaleTitle}}</strong> <i class="fa fa-caret-down"></i></div>
                    <!-- camera -->
                    <div  ng-switch-when="camera">{{v.deviceType}} <i class="fa fa-caret-down"></i></div>
                    <!-- Default -->
                    <div  ng-switch-default><strong>{{v.level + v.scaleTitle}}</strong></div>

                    <!-- Hidden switchMultilevel -->
                    <div class="col-sm-11 element-hidden hidden-switch-multilevel" ng-switch-when="switchMultilevel" ng-show="goHidden">
                        <div>
                            <p class="text-center">{{v.title}} </p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" value="75" class="dial" data-width="100" data-height="100" knob />  
                                        </td>
                                        <td>
                                            <a href=""><i class="fa fa-caret-up fa-3x"></i></a><br />
                                            <a href=""><i class="fa fa-caret-down fa-3x"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Hidden sensorMultilevel -->
                    <div class="col-sm-11 element-hidden" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                        <p class="text-center">{{v.title}} </p>
                        <div>
                            <canvas tc-chartjs-line chart-data="chartData" chart-options="chartOptions" width="320" height="150"></canvas>
                        </div>
                    </div>


                    <!-- Hidden switchMultilevelLinear -->
                    <div class="col-sm-11 element-hidden" ng-switch-when="switchMultilevelLinear" ng-show="goHidden">
                        <p class="text-center">{{v.title}} </p>
                        <div>
                            <div range-slider min="0" orientation_="vertical" max="255" model-max="slider.modelMax" pin-handle="min"></div>
                        </div>
                    </div>

                    <!-- Hidden camera -->
                    <div class="col-sm-11 element-hidden" ng-switch-when="camera" ng-show="goHidden">
                        <p class="text-center">{{v.title}} </p>
                        <div>
                            <iframe width="300" height="210" src="//www.youtube.com/embed/IKbxMIWCto0?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div><!-- /.panel-body -->
                 </div>
            </div>


        </div><!-- /.col -->
    </div>

    <!-- Modal command -->
    <div class="modal fade" id="modal_widget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Configuration view: {{input.title}}</h4>
                </div>
                <div class="modal-body">
                    <div>ID: {{input.id}} | Device type: {{input.deviceType}} | Updated: {{v.updateTime| isTodayFromUnix}}</div>
                    <div class="form-group">
                        <input name="name" id="name" type="text" class="form-control" value="{{input.title}}" placeholder="Name" ng-model="input.title" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="dashboard" value="{{input.dashboard}}" id="restore_confirm" ng-model="input.dashboard" /> <label>Add to dashboard</label>
                        &nbsp;&nbsp;<input type="checkbox" name="hide_element" id="hide_element" value="" ng-confirm-click="This means that you can never use this element again. Are you sure?" /> <label>Permanently hide this element</label>
                    </div>

                    <div class="form-group">
                        <label>Icon: </label>
                        <input type="checkbox" value="1" checked /> <label><i class="fa fa-camera fa-2x text-success"></i></label>&nbsp;&nbsp;
                        <input type="checkbox" value="1" /> <label><i class="fa fa-cube fa-2x"></i></label>&nbsp;&nbsp;
                        <input type="checkbox" value="1" /> <label><i class="fa fa-dashboard fa-2x"></i></label>&nbsp;&nbsp;
                        <input type="checkbox" value="1" /> <label><i class="fa fa-globe fa-2x"></i></label>&nbsp;&nbsp;
                    </div>
                    <div>
                        <h4>Configuration view</h4>
                        The size of the configuration view may vary. Configuration vews may also be assessable from a central place to speed up configuration.

                        <div class="panel panel-default" ng-if="input.id == 'OpenWeather_10' || input.id == 'OpenWeather_9' || input.id == 'OpenWeather_11'">
                            <div class="panel-heading"><h4><i class="fa fa-wrench"></i> Weather example</h4></div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input name="city" id="city" type="text" class="form-control" placeholder="City" value="{{input.name}}" ng-model="input.name" />
                                </div>
                                <div class="form-group">
                                    <input name="country" id="country" type="text" class="form-control" placeholder="Country" value="{{input.name}}" ng-model="input.name" />
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="temp" value="f" checked="checked" /> °F
                                    <input type="radio" name="temp" value="f" checked="checked" /> °C
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->
    <div ng-include="'app/views/partials/footer_elements.html'"></div>
</div> <!-- /ng-controller --> 