<!-- Icons -->
<div ng-controller="ElementIconController" ng-if_="blablabla">
    <div class="form form-inline form-page" ng-if="!_.isEmpty(icons.all)">
        <bb-loader></bb-loader>
        <div class="fieldset">
            <h2>{{_t('custom_icons')}}</h2>
            <div class="alert alert-warning" ng-if="_.isEmpty(icons.uploaded)">
                <i class="fa fa-exclamation-circle"></i> {{_t('custom_icons_no_available')}}
                <a href="#/customize/iconslocal" class="btn btn-primary"><i class="fa fa-upload"></i>
                    {{_t('upload_icon')}}</a>
            </div>

        </div>
        <!--<pre>{{icons|json}}</pre>-->
        <div class="fieldset" ng-if="!_.isEmpty(icons.uploaded)">
            <div class="app-row app-row-report app-row-icons clearfix">
                <div class="report-entry">
                    <div class="report-col report-media">
                        Default

                    </div>
                    <div class="report-col report-body">
                        &nbsp;
                    </div>
                    <div class="report-col report-media">
                        Custom
                    </div>
                    <div class="report-col report-ctrl">
                        &nbsp;
                    </div>
                </div>
                <div class="report-entry clickable"
                     ng-class="k=== icons.selected ? 'bcg-success' : ''"
                     ng-repeat="(k,v) in icons.all.default"
                     ng-click="setSelectedIcon(k)">
                    <!-- Default icon -->
                    <div class="report-col report-media">
                        <img class="report-img" ng-src="{{cfg.img.icons + v}}" alt="{{v}}"/>
                    </div>
                    <!-- Arrow -->
                    <div class="report-col report-body">
                        <i class="fa fa-long-arrow-right" ng-if="icons.all.custom[k]"></i>
                    </div>
                    <!-- Custom icon -->
                    <div class="report-col report-media">
                        <img class="report-img" ng-src="{{cfg.img.custom_icons + icons.all.custom[k]}}"
                             ng-if="icons.all.custom[k]" alt="{{v.type}}"/>
                        <img class="report-img img-opacity-50" ng-src="{{cfg.img.icons }}cancel.png"
                             ng-if="!icons.all.custom[k]" alt="img"/>
                    </div>
                    <!-- Actions -->
                    <div class="report-col report-ctrl">
                        <!-- Update a default icon -->
                        <button title="{{_t('lb_update')}}" class="btn btn-default"
                                ng-disabled="icons.selected === k"
                                ng-click="setSelectedIcon(k)">
                            <i class="fa fa-pencil text-primary"></i>
                        </button>
                        <!-- Remove a custom icon -->
                        <button title="{{_t('lb_remove')}}" class="btn btn-default"
                                ng-if="icons.all.custom[k]"
                                ng-click="removeCustomIcon(k)">
                            <i class="fa fa-ban text-danger"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <!-- The list of icons -->
        <div ng-if="icons.selected && !_.isEmpty(icons.uploaded)">
            <!-- The list of uploaded icons -->
            <div class="fieldset">
            <div class="app-row clearfix app-row-imglist">
                <div class="imglist-entry"
                     ng-repeat="v in icons.uploaded| orderBy : '-timestamp' track by $index">
                    <div class="imglist-entry-in infowindow-wrap">
                        <!-- Image-->
                        <img class="imglist-img clickable" ng-click="setCustomIcon(v.file)"
                             ng-src="{{cfg.img.custom_icons + v.file}}"/>

                    </div>
                </div>
            </div>
            </div>
            <!-- Manage custom icons -->
            <div class="fieldset">
                <a href="#/customize/iconslocal" class="btn btn-primary"><i class="fa fa-image"></i>
                    {{_t('manage_custom_icons')}}</a>
            </div>
            <!--<div class="fieldset">
                <input class="inputfile" type="file" name="file" id="file{{v.id}}"
                       onchange="angular.element(this).scope().checkUploadedFile(this.files)"/>
                <label for="file{{v.id}}" class="btn btn-success" title="{{_t('lb_upload_image')}}">
                    <i class="fa fa-upload"></i> {{_t('upload_icon')}}
                </label>
                <div ng-if="icons.uploadedFileName">{{icons.uploadedFileName|cutText:true:30}}</div>
                <bb-help-text
                        trans="_t('upload_file_info',{'__size__':icons.info.maxSize,'__extensions__': icons.info.extensions})"></bb-help-text>
                <bb-help-text
                        trans="_t('image_recommended_dimension',{'__dimension__':cfg.upload.icon.dimension})"></bb-help-text>
            </div>-->
            <!-- Submit -->
            <fieldset class="submit-entry">
                <!-- Cancel -->
                <button type="button" title="{{_t('lb_cancel')}}" class="btn btn-default"
                        ng-click="cancelUpdate()">
                    <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
                </button>
                <!-- Save -->
                <button type="button" title="{{_t('lb_save')}}" class="btn btn-submit"
                        ng-click="updateWithCustomIcon()">
                    <i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_save')}}</span>
                </button>
            </fieldset>

        </div>

    </div>
</div>