<!-- Elements dashboard view -->
<div ng-controller="ElementBaseController">
    <bb-loader></bb-loader>
    <div ng-controller="ElementDashboardController">
         <div ng-if="elementDashboard.firstLogin" ng-include="'app/views/elements/' + elementDashboard.firstFile"></div>
         <div ng-if="!elementDashboard.firstLogin && dataHolder.devices.noDevices" ng-include="'app/views/elements/no_devices.html'"></div>
        <div ng-if="!elementDashboard.firstLogin && dataHolder.devices.noDashboard" ng-include="'app/views/elements/no_dashboard.html'"></div>
        <!-- Elements mode ctrl -->
       <div class="page-control form-inline" ng-if="elementAccess(cfg.role_access.admin) && _.size(dataHolder.devices.collection) > 1">
            <!-- Elements mode ctrl -->
            <div class="btn-group btn-goup-block btn-goup-2" ng-include="'app/views/elements/elements_ctrl_mode.html'"></div>
        </div>
        <!-- Default mode -->
        <div ng-include="'app/views/elements/list_mode_default.html'"
             ng-if="_.size(dataHolder.devices.collection) > 0 && dataHolder.mode === 'default'"></div>
        <!-- Edit mode -->
        <div ng-include="'app/views/elements/list_mode_edit.html'" ng-if="dataHolder.mode === 'edit'"></div>
    </div> <!-- /ng-controller --> 
</div> <!-- /ng-controller --> 