<!-- Elements rooms view -->
<div ng-controller="ElementBaseController">
    <bb-loader></bb-loader>
    <!-- Search and autocomplete
    <div class="page-control form-inline">

        <div class="input-group">
            <input name="add_tag" id="add_tag" type="text"
                   class="form-control"
                   placeholder="{{_t('lb_search')}}"
                   ng-model="autocomplete.term" bb-key-event="searchMe()" data-toggle="dropdown"/>
            <span class="input-group-addon clickable">
                       <i class="fa fa-search"></i>
                   </span>
            <div class="app-dropdown autocomplete" ng-if="autocomplete.results.length">
                <ul>
                    <li class="clickable" title="{{v.title}}"
                        ng-click="redirectToRoute('element/' + v.id)"
                        ng-repeat="v in autocomplete.results | orderBy:'title' track by $index">
                        <img class="report-img-s" ng-src="{{v.iconPath}}"alt="{{v.title}}"/>

                        <span class="aoutocomplete-title">{{v.title|cutText:true:30}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
    <!-- Elements-->
    <div ng-controller="ElementRoomController">
        <!-- Background image -->
        <div class="full-bg-wrapper"
             ng-show="room.show_background && room.id != 0">
            <div class="full-bg" ng-style="{'background':'url(' + room.img_src + ')', 'background-position': 'center center', 'background-size': 'cover'}"></div>
        </div>
        <!-- Header -->
        <div ng-if="dataHolder.devices.show" ng-include="'app/views/elements/elements_room_bar.html'"></div>
        <!-- Title -->
        <!--<h1>
            <small><a class="btn btn-default btn-sm" href="#rooms"><i class="fa fa-chevron-left"></i></a></small>
            {{_t('lb_devices_room')}} {{dataHolder.devices.rooms[dataHolder.devices.filter.location].title}}
        </h1>-->
        <!-- Alert -->
        <div ng-if="!dataHolder.devices.show" ng-include="'app/views/elements/no_elements_room.html'"></div>
        <!-- The list -->
        <div ng-if="dataHolder.devices.show" ng-include="'app/views/elements/list.html'"></div>
    </div> <!-- /ng-controller -->
</div> <!-- /ng-controller -->