<!-- Elements room header -->
<div class="elemnts-room-bar">
    <!-- Bar row -->
    <div class="bar-row">
        <!-- Bar col -->
        <div class="bar-col bar-media">
            <img ng-src="{{room.img_src}}"/>
        </div>
        <!-- Bar col -->
        <div class="bar-col bar-body form-inline">
            <div class="btn-group">
                <span class="bar-title clickable"
                      ng-click="expandNavi('roomDropDown', $event)">{{room.title}}  <i class="fa fa-caret-down"></i>
                </span>
               <!-- <button type="button" class="btn btn-default"
                        ng-click="expandNavi('roomDropDown', $event)">
                        {{room.title}}  <i class="fa fa-caret-down"></i>
                </button>-->
                <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.roomDropDown">
                    <ul>
                        <li class="clickable" ng-repeat="v in dataHolder.devices.rooms"
                            ng-if="dataHolder.cnt.rooms[v.id]"
                        ng-hide="v.id == room.id">
                            <a ng-href="#/rooms/{{v.id}}">
                                <img class="navi-img" ng-src="{{v.img_src}}" alt="img"/>
                                {{v.title|cutText:true:20}} <span class="item-cnt">({{dataHolder.cnt.rooms[v.id]}})</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Elements mode ctrl -->
            <span ng-include="'app/views/elements/elements_ctrl_mode.html'"></span>

        </div>
        <!-- Bar col -->
        <div class="bar-col bar-ctrl">
            <!-- Settings -->
            <a class="btn btn-default _bar-icon" href="#config-rooms/{{room.id}}" title="{{_t('lb_update')}}"
               ng-show="elementAccess(cfg.role_access.config_rooms) && v.id != 0">
                <i class="fa fa-cog"></i>
            </a>
        </div>
    </div>

</div>
<!--<pre>{{dataHolder.cnt.rooms|json}}</pre>-->
