<!-- Element view -->
<div ng-controller="ElementDetailController" class="mobile-padding">
    <bb-loader></bb-loader>
    <div ng-show="input">
        <h1><span ng-bind="_t('lb_cfg_view')"></span> <span ng-bind="input.metrics.title"></span></h1>
        <form name="form_element" id="form_element" class="form form-page" ng-submit="store(input)" novalidate>
            <fieldset>
                <div class="form-group_">
                    <label ng-bind="_t('lb_element_name')">{{}}:</label>
                    <input name="title" id="title" type="text" class="form-control" value="{{input.metrics.title}}" placeholder="{{_t('lb_element_name')}}" ng-model="input.title" />
                </div>
            </fieldset>
            <fieldset>
                <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('lb_configuration')"></span></h3>
                <div>
                    <!-- instance -->
                    <div class="form-group" ng-show="input.cfg.hasInstance">
                        <span ng-bind="_t('lb_gen_by_module')"></span> <a class="btn btn-default btn-sm" ng-href="#module/put/{{input.cfg.hasInstance.id}}" ng-bind="input.cfg.hasInstance.moduleId"></a>
                    </div>
                    <!-- zwave -->
                    <div class="form-group" ng-show="input.cfg.zwaveId">
                        <div ng-if="!isMobile">
                            <span ng-bind="_t('lb_gen_by')"></span> <a href="#deviceconfig/{{input.cfg.zwaveId}}" class="btn btn-default btn-sm"><span ng-bind="_t('lb_zwave_device')"></span> #{{input.cfg.zwaveId}}</a>
                        </div>
                        <div ng-if="isMobile">
                            <span ng-bind="_t('lb_gen_by')"></span> <span ng-bind="_t('lb_zwave_device')"></span> #{{input.cfg.zwaveId}}  <!--{{_t('lb_no_link')}}-->
                        </div>

                    </div>
                    <!-- dashboard etc -->
                    <div class="form-group">
                        <div>
                            <input type="checkbox" name="dashboard" value="{{input.dashboard}}" id="dashboard" ng-model="input.dashboard" ng-checked="input.dashboard" /> <label ng-bind="_t('lb_add_dashboard')"></label>
                        </div>
                        <div ng-if="user.role == 1">
                            <input type="checkbox" name="permanently_hidden" id="permanently_hidden" value="" 
                                   ng-model="input.permanently_hidden" 
                                   ng-checked="input.permanently_hidden" 
                                   ng-confirm-click="This means that you can never use this element again. Are you sure?" /> <label ng-bind="_t('lb_permanently_hide')"></label>
                        </div>
                        <div>
                            <input type="checkbox" name="hide_events" value="{{input.id}}" id="hide_events" ng-model="input.hide_events" ng-checked="user.hide_single_device_events.indexOf(input.id) === -1 ? false : true" /> <label ng-bind="_t('lb_hide_events_device')"></label>
                        </div>
                    </div>
                    <!-- Rooms -->
                    <div class="form-group form-inline">
                        <label>{{_t('lb_assign_room')}} </label>
                        <select class="form-control" ng-model="input.location">
                            <!-- <option value="">--- Select one ---</option>-->
                            <option ng-repeat="v in rooms" ng-selected="input.location == v.id" value="{{v.id}}" ng-bind="v.title"></option>
                        </select>
                    </div>

                </div>
            </fieldset>
            <fieldset  ng-if="user.role == 1">
                <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('lb_tags')"></span></h3>
                
                    <div class="form-group_ clearfix">
                        <div class="btn-device" id="tag_{{$index}}" ng-repeat="t in input.tags">{{t}} 
                            <a href="" ng-click="removeTag($index)"><i class="fa fa-times text-danger"></i></a>
                        </div>
                    </div>
                <br />
                
                    <div class="form-group_">
                    <div class="btn-group dropup form-inline">
                       <input name="add_tag" id="add_tag" type="text" class="form-control" value="" placeholder="{{_t('lb_add_tag')}}" ng-model="searchText" ng-keyup="searchMe(searchText);" data-toggle="dropdown" />
                        <button type="button" class="btn btn-default btn-tag" ng-click="addTag(searchText)"><i class="fa fa-plus text-success"></i></button>
                        <ul class="dropdown-menu" ng-if="autoCompletePanel">
                            <li href="" ng-click="addTag(v)" ng-repeat="v in suggestions"><a href=""><span ng-bind="v"></span> <i class="fa fa-plus text-success"></i></a></li>
                        </ul>
                       
                    </div>
                </div>


            </fieldset>
            <!-- Submit -->
            <div class="submit-entry">
                <button type="submit" class="btn btn-primary" ng-bind="_t('lb_save')"></button>
                <button type="button" class="btn btn-default" ng-bind="_t('lb_cancel')" bb-go-back></button>
            </div>
        </form>
    </div>

</div> <!-- /ng-controller --> 