<!-- Mode switch -->
<!-- switch to mode edit - drag and drop -->
<button type="button" title="{{_t('drag_drop')}}" class="btn btn-default"
        ng-show="dataHolder.mode === 'default'"
        ng-click="changeMode('edit')">
        <i class="fas fa-arrows-alt"></i>
            <span class="btn-name">{{_t('drag_drop')}}</span>
</button>
<!-- cancel drag and drop - switch back to mode default -  -->
<button type="button" title="{{_t('lb_cancel')}}" class="btn btn-default"
        ng-show="dataHolder.mode === 'edit'"
        ng-click="changeMode('default')">
            <i class="fas fa-reply"></i>
            <span class="btn-name">{{_t('lb_cancel')}} {{_t('drag_drop')}}</span>
</button>
<!-- save draged positions -->
<button type="button" title="{{_t('lb_save')}}" class="btn"
        ng-if="dataHolder.mode === 'edit'"
        ng-class="{'btn-submit': !_.isEmpty(dataHolder.dragdrop.data)}"
        ng-click="dragDropSave()"
        ng-disabled="_.isEmpty(dataHolder.dragdrop.data)">
    <i class="fas fa-check"></i>
    <span class="btn-name">{{_t('lb_save')}}</span>
</button>
