<!-- Element view -->
<div ng-controller="ElementIdController" class="mobile-padding">
  <bb-loader></bb-loader>
  <div ng-if="elementId.show">
    <h2>
      <span ng-bind="_t('lb_cfg_view') + ':'"></span>
      <span ng-bind="elementId.input.metrics.title"></span>
    </h2>
    <form name="form_element" id="form_element" class="form form-page" autocomplete="off" ng-submit="store(elementId.input)"
      novalidate>
      <fieldset ng-show="elementId.input.isFailed && elementId.appType.zwave">
        <div class="alert alert-danger">
          <i class="fas fa-exclamation-triangle"></i> {{_t('zwave_device_failed')}}
          <a ng-href="#zwave/devices" class="btn btn-default" ng-show="elementAccess(cfg.role_access.admin)">
            <i class="fas fa-edit text-primary"></i> {{_t('manage')}}
          </a>
        </div>
      </fieldset>
      <fieldset ng-if="elementAccess(cfg.role_access.admin)">
        <div class="form-group_ form-inline">
          <label>{{_t('lb_element_name')}}:</label>
          <input name="title" id="title" type="text" class="form-control" value="{{elementId.input.metrics.title}}" placeholder="{{_t('lb_element_name')}}" ng-model="elementId.input.metrics.title" />
        </div>
      </fieldset>
      <fieldset>
        <!-- App type -->
        <div ng-if="elementAccess(cfg.role_access.admin)">
          <!-- instance -->
          <div class="form-group" ng-switch="elementId.appType.instance.moduleId" ng-hide="elementId.appType.instance.category == 'system'">
            <label>{{_t('lb_gen_by_module')}}:</label>
            <br>
            <strong>{{elementId.appType.modul.defaults.title}}</strong>
            <br>
            <!-- zwave -->
            <a href="#zwave/devices/{{elementId.appType.zwave}}" class="btn btn-default" ng-switch-when="ZWave">
              <i class="fas fa-cog"></i>
              <span class="btn-name">
                <strong>{{_t('lb_zwave_device')}}</strong>
                #{{elementId.appType.zwave}}
              </span>
            </a>
            <!-- enocean -->
            <a href="#enocean/manage/{{elementId.appType.enocean}}" class="btn btn-default" ng-switch-when="EnOcean">
              <i class="fas fa-cog"></i>
              <strong>{{_t('enocean_device')}}</strong>
              #{{elementId.appType.enocean}}
            </a>
            <!-- default -->
            <a class="btn btn-default" ng-href="#module/put/{{elementId.appType.instance.id}}" ng-switch-default>
              <i class="fas fa-cog"></i>
              <span class="btn-name">
                <strong>{{elementId.appType.instance.title}}</strong>
              </span>
            </a>
          </div>
          <!-- Hide element -->
          <div class="form-group">
            <label for="hide_element">
              <input type="checkbox" name="hide_element" id="hide_element" ng-init="visibility.checked = !elementId.input.visibility" ng-model="visibility.checked"
                ng-change="elementId.input.visibility = !visibility.checked" ng-checked="!elementId.input.visibility" />
              <span>{{_t('hide_element')}}</span>
            </label>
            <bb-help-text trans="_t('hide_element_info')"></bb-help-text>
          </div>
        </div>
        <!-- Add element to Home (Android)-->
        <div class="form-group" ng-show="cfg.route.os == 'PoppApp_Z_Way' || cfg.route.os == 'ZWayMobileAppAndroid'" ng-if="elementId.input.deviceType == 'toggleButton' || elementId.input.deviceType == 'switchBinary'">
          <label>{{_t('lb_add_widget')}}:</label>
          <br>
          <a title="{{_t('lb_on')}}" class="btn btn-primary" href="{{elementId.input.addOnUrl}}">
            {{_t('lb_on')}}
          </a>
          &nbsp
          <a title="{{_t('lb_off')}}" class="btn btn-primary" ng-if="elementId.input.deviceType !== 'toggleButton'" href="{{elementId.input.addOffUrl}}">
            {{_t('lb_off')}}
          </a>
          <bb-help-text trans="_t('info_add_widget')"></bb-help-text>
        </div>
        <!-- Add element to Home (IOS)-->
        <div class="form-group" ng-show="cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS'" ng-if="elementId.input.deviceType == 'toggleButton'">
          <a title="{{_t('lb_add_today')}}" class="btn btn-primary" href="/?id={{elementId.input.id}}&name={{elementId.input.metrics.title|stringToSlug}}&type={{elementId.input.deviceType}}&state={{elementId.input.metrics.level}}">
            {{ _t('lb_add_today')}}
          </a>
          <bb-help-text trans="_t('info_add_today')"></bb-help-text>
        </div>
        <!-- Delete element -->
        <div class="form-group" ng-if="elementAccess(cfg.role_access.admin) && elementId.appType.zwave">
          <button type="button" title="{{_t('delete_element')}}" class="btn btn-danger" ng-click="deleteElement(elementId.input, _t('element_delete_confirm'))">
            <i class="fas fa-times"></i> {{ _t('delete_element')}}
          </button>
          <bb-help-text trans="_t('deactivate_element_info')"></bb-help-text>
        </div>

        <!-- dashboard etc -->
        <div class="form-group">
          <div>
            <label for="dashboard">
              <input type="checkbox" name="dashboard" value="{{elementId.input.onDashboard}}" id="dashboard" ng-model="elementId.input.onDashboard"
                ng-checked="elementId.input.onDashboard" />
              <span>{{_t('lb_add_dashboard')}}</span>
            </label>
          </div>
          <div>
            <label for="hide_events">
              <input type="checkbox" name="hide_events" value="{{elementId.input.id}}" id="hide_events" ng-model="elementId.input.hide_events"
                ng-checked="user.hide_single_device_events.indexOf(elementId.input.id) === -1 ? false : true" />
              <span>{{_t('lb_hide_events_device')}}</span>
            </label>
          </div>
        </div>
        <!-- speechassitants -->
        <div class="form-group" ng-if="(speechAssistants.Alexa.active && elementId.input.alexaWhitelisted) || speechAssistants.GoogleHome.active">
          <div ng-if="speechAssistants.Alexa.active && elementId.input.alexaWhitelisted">
            <!-- Alexa -->
            <div>
              <label for="activate_alexa">
                <input type="checkbox" name="activate_alexa" value="" id="activate_alexa" ng-model="elementId.input.alexaActivated" ng-checked_=""
                />
                <span>{{_t('lb_activate_alexa')}}</span>
              </label>
              <bb-help-text trans="_t('alexa_info')"></bb-help-text>
            </div>
          </div>
          <div ng-if="speechAssistants.GoogleHome.active && elementId.input.googleHomeWhitelisted">
            <!-- Google Home -->
            <div>
              <label for="activate_google_home">
                <input type="checkbox" name="activate_google_home" value="" id="activate_google_home" ng-model="elementId.input.googleHomeActivated"
                  ng-checked_="" />
                <span>{{_t('lb_activate_google_home')}}</span>
              </label>
              <bb-help-text trans="_t('google_home_info')"></bb-help-text>
            </div>
          </div>
          <div ng-if="elementId.input.googleHomeActivated || elementId.input.alexaActivated" class="form-inline">
            <label>{{_t('lb_call_name')}}:</label>
            <input name="google_home_call_name" id="google_home_call_name" type="text" class="form-control" value="{{elementId.input.callName}}"
              placeholder="{{_t('lb_add_call_name')}}" ng-model="elementId.input.callName" />
            <bb-help-text trans="_t('call_name_info')"></bb-help-text>
            <bb-help-text ng-if="speechAssistants.Alexa.instance.params.assign_room && elementId.input.location != 0" trans="_t('alexa_room_assigned_info',  {'__call_name__': elementId.input.alexaCallName, '__room_name__': elementId.locations[elementId.input.location].title})|toTrusted"></bb-help-text>
          </div>
        </div>
        <!-- Rooms -->
        <div class="form-group form-inline" ng-if="elementAccess(cfg.role_access.admin)">
          <label>{{_t('lb_assign_room')}}:</label>
          <div class="btn-group btn-goup-block btn-goup-1">
            <button type="button" class="btn btn-default" ng-click="expandNavi('elidDropDown', $event)">
              {{elementId.locations[elementId.input.location].title|cutText:true:20}}
              <i class="fas fa-caret-down"></i>
            </button>
            <div class="app-dropdown app-dropdown-left dropdown-100" ng-if="naviExpanded.elidDropDown">
              <ul>
                <li class="clickable" ng-class="elementId.input.location == v.id ? 'active' : ''" ng-click="elementId.input.location = v.id"
                  ng-repeat="v in elementId.locations">
                  <a>
                    <img class="navi-img" ng-src="{{v.img_src}}" alt="img" /> {{v.title|cutText:true:20}}
                    <i class="fas fa-check menu-arrow" ng-if="elementId.input.location == v.id"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Tags -->
      <fieldset ng-if="elementAccess(cfg.role_access.admin)">
        <div class="form-group form-inline">
          <label>{{_t('lb_tags')}}:</label>
          <div class="input-group">
            <input name="add_tag" id="add_tag" type="text" class="form-control" placeholder="{{_t('lb_add_tag')}}" ng-model="search.text"
              bb-key-event="searchMe()" data-toggle="dropdown" />
            <span class="input-group-addon clickable" title="{{_t('lb_add_tag')}}" ng-click="addTag()">
              <i class="fas fa-plus text-success"></i>
            </span>
            <div class="app-dropdown app-dropdown-left" ng-if="suggestions.length">
              <ul>
                <li href="" ng-click="addTag(v)" ng-repeat="v in suggestions track by $index">
                  <a href="">
                    <i class="fas fa-plus text-success"></i> {{v}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group last">
          <a href="" class="btn btn-default btn-tag" id="tag_{{$index}}" ng-repeat="t in elementId.input.tags track by $index"
            ng-click="removeTag($index)">{{t}}
            <i class="fas fa-times text-danger" title="{{_t('lb_remove')}}"></i>
          </a>
        </div>
      </fieldset>
      <!-- Notification -->
      <fieldset>
        <h3>{{_t('notifications')}}</h3>
        <div class="form-group form-inline" ng-repeat="n in notifications.device track by $index">
          <!-- Events -->
          <div ng-include="'app/views/notifications/notifications_form_' + elementId.input.deviceType + '.html'" onLoad="v=n"></div>
          <!-- Channel -->
          <label for="channel_{{v.id}}">{{_t('lb_send_channel')}}</label>
          <select id="channel_{{v.id}}" name="channel" class="form-control form-inline" ng-model="v.channel">
                  <option value="" ng-selected="v.channel === ''">
                      {{_t('notifications_all_channels')}}
                  </option>
                  <option value="{{nc.id}}" ng-repeat="nc in notifications.channels" ng-selected="nc.id == v.channel">
                      {{nc.name}} ({{nc.userName}})
                  </option>
          </select>
          <bb-help-text trans="_t('send_channel_help')"></bb-help-text>
          <!-- Custom message -->
          <label for="customMessage">{{_t('custom_message')}}</label>
          <input class="form-control" id="customMessage" name="customMessage" ng-model="n.msg"></input>
          <bb-help-text trans="_t('custom_message_help')"></bb-help-text>
          <button type="button" class="btn btn-danger" ng-click="removeNotification($index)" title="{{_t('btn_remove')}}">
            <i class="fas fa-times"></i> {{_t('btn_remove')}}
          </button>
        </div>
        <button type="button" class="btn btn-default" ng-click="addNotification()" title="{{_t('add notificaton')}}">
          <i class="fas fa-plus text-success"></i> {{_t('add_notification')}}
        </button>
      </fieldset>
      <!-- Submit -->
      <fieldset class="submit-entry">
        <button type="button" title="{{_t('lb_cancel')}}" class="btn btn-default" bb-go-back>
          <i class="fas fa-reply"></i>
          <span class="btn-name" ng-bind="_t('lb_cancel')"></span>
        </button>
        <button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
          <i class="fas fa-check"></i>
          <span class="btn-name" ng-bind="_t('lb_save')"></span>
        </button>
      </fieldset>
    </form>
    <div ng-if="elementAccess(cfg.role_access.admin)" ng-include="'app/views/elements/element_id_icons.html'"></div>
    <div ng-if="elementAccess(cfg.role_access.admin)" ng-include="'app/views/elements/element_id_api_info.html'"></div>
  </div>
</div>
<!-- /ng-controller -->