<!-- Elements 1 view -->
<div ng-controller="ElementController">
    <h2 class="page-subtitle" ng-show="headline" ng-bind="headline"></h2> 
    <div class="row">
        <div class="alert alert-warning" ng-show="collection.length < 1" ng-bind="'No element found'" ng-cloak></div>
        <div id="Widget_{{v.id}}" class="col-lg-4 col-md-6 col-sm-6 widget-entry" ng-repeat="v in collection | filter:q">
            <div class="widget-block {{v.deviceType}}" ng-switch="v.deviceType">
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <a class="widget-config" href="" 
                       ng-click="showModal('#modal_widget', {
                                           'id': v.id,
                                           'title': v.title,
                                           'dashboard': v.onDashboard == true ? true : false,
                                           'tags': v.tags,
                                           'deviceType': v.deviceType,
                                           'level': v.level,
                                           'metrics': v.metrics,
                                           'updateTime': v.updateTime,
                                           'cfg': v.cfg,
                                           'permanently_hidden': v.permanently_hidden
                                       })"
                       ><i class="fa fa-cog fa-lg"></i></a>
                    <!-- Widget header -->
                    <div class="widget-header">
                        <img class="widget-image" ng-src="{{v.icon|getElementIcon:v}}" alt="{{ v.title}}"/>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body"  ng-init="levelVal[v.id] = v.level"
                         ng-click="goHidden = true;
                                         goHiddenCamera = true;
                                         goHiddenSensor = true;
                                         goHiddenSwitchLinear = true;" 
                         ng-mouseleave="goHidden = false;
                                             goHiddenCamera = false;
                                             goHiddenSensor = false;
                                             goHiddenSwitchLinear = false;">

                        <h3 class="entry-title" title="{{v.title}}">{{v.title}}</h3>
                         <!-- <i>{{v.icon}}, {{v.deviceType}}</i> -->

                        <!-- switchMultilevel -->
                        <div class="widget-click-popup" ng-switch-when="switchMultilevel">
                            <div class="widget-result"><span class="widget-level" ng-bind="levelVal[v.id]|getMaxLevel"></span> % <i class="fa fa-caret-down"></i></div>
                        </div>
                        <!-- switchBinary -->
                        <div class="btn-group"  ng-switch-when="switchBinary">
                            <button 
                                class="btn btn-sm widget-btn-off" 
                                id="btn_off_{{ v.id}}"
                                data-ng-click="runCmd(v.id + '/command/off')"
                                ng-class="v.level=='off' ? 'btn-primary': 'btn-default'"
                                >OFF</button>
                            <button 
                                class="btn btn-sm widget-btn-on" 
                                id="btn_on_{{ v.id}}"
                                data-ng-click="runCmd(v.id + '/command/on')"
                                ng-class="v.level=='on' ? 'btn-primary': 'btn-default'"
                                >ON</button>


                        </div>
                        <!--<div ng-switch-when="switchBinary___">
                           <input
                               bs-switch
                               ng-model="isSelected"
                               type="checkbox"
                               switch-active="true"
                               switch-on-text="ON"
                               switch-off-text="OFF"
                               switch-on-color="{{ onColor}}"
                               switch-off-color="{{ offColor}}"
                               switch-animate="{{ animate}}"
                               switch-size="normal"
                               switch-label="{{ label}}"
                               switch-icon="{{ icon}}" >
                       </div> -->
                        <!-- switchRGBW -->
                        <div class="btn-group"  style="min-width: 110px !important;" ng-switch-when="switchRGBW">
                            <button 
                                class="btn widget-btn-off btn-sm" 
                                id="btn_off_{{ v.id}}"
                                ng-class="v.level=='off' ? 'btn-primary': 'btn-default'"
                                data-ng-click="runCmd(v.id + '/command/close')"
                                >CLOSE</button>
                            <button 
                                class="btn widget-btn-on btn-sm" 
                                id="btn_on_{{ v.id}}"
                                ng-class="v.level=='on' ? 'btn-primary': 'btn-default'"
                                data-ng-click="runCmd(v.id + '/command/open')"
                                >OPEN</button>


                        </div>
                        <!-- doorlock -->
                        <div ng-switch-when="doorlock">
                            <div class="btn-group">
                                <button 
                                    class="btn widget-btn-off btn-sm"
                                    ng-class="v.level=='closed' ? 'btn-primary': 'btn-default'"
                                    data-ng-click="runCmd(v.id + '/command/off')"
                                    ><i class="fa fa-lock"></i>
                                </button>
                                <button 
                                    class="btn widget-btn-on btn-sm"
                                    ng-class="v.level=='open' ? 'btn-primary': 'btn-default'"
                                    data-ng-click="runCmd(v.id + '/command/on')"
                                    ><i class="fa fa-unlock"></i>
                                </button>
                            </div>
                        </div>
                        <!-- toggleButton -->
                        <div class="btn-group" ng-switch-when="toggleButton">
                            <button 
                                class="btn btn-info btn-sm" 
                                id="btn_off_{{ v.id}}"
                                data-ng-click="runCmd(v.id + '/command/on')"
                                ><i class="fa fa-power-off fa-lg"></i></button>
                            <!--<a href=""><i class="fa fa-toggle-on fa-2x text-primary"></i></a> -->
                        </div>
                        <!-- sensorMultilevel -->
                        <div  ng-switch-when="sensorMultilevel">
                            <div class="row sensor-multilevel">
                                <div class="col-sm-6 widget-result"><span class="widget-level" ng-bind="v.level"></span> <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle"></span></div>
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-default btn-sm" ng-click="runCmd(v.id + '/command/update')"> <i class="fa fa-clock-o"></i> <span class="widget-update-time">{{v.updateTime|isToday:true}}</span></button>
                                </div>
                            </div>
                        </div>
                        <!-- thermostat -->
                        <div class="widget-click-popup" ng-switch-when="thermostat"><strong>{{levelVal[v.id]}} <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle"></span></strong> <i class="fa fa-caret-down"></i></div>
                        <!-- switchMultilevelLinear -->
                        <div class="widget-click-popup" ng-switch-when="switchMultilevelLinear"><strong>{{v.level}} <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle"></span></strong> <i class="fa fa-caret-down"></i></div>
                        <!-- camera -->
                        <div class="widget-click-popup" ng-switch-when="camera">{{v.deviceType}} <i class="fa fa-caret-down"></i></div>
                        <!-- Default -->
                        <div  class="widget-result" ng-switch-default><span class="widget-level" ng-bind="v.level"></span> <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle"></span></div>

                        <!-- Hidden switchMultilevel -->
                        <div class="col-sm-11 element-hidden hidden-switch-multilevel animate-show" ng-switch-when="switchMultilevel" ng-show="goHidden">
                            <div>
                                <p class="text-center">{{v.title}} </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!--<myknob knob-data="v.level" knob-options="knobopt"></myknob> -->
                                                <input 
                                                    type="text" 
                                                    value="v.level|getMaxLevel" 
                                                    class="dial" 
                                                    data-width="100" 
                                                    data-height="100" 
                                                    data-min="0"
                                                    data-max="100" 
                                                    knob-id="v.id" 
                                                    knob-data="v.level" 
                                                    knob-options="knobopt" 
                                                    ng-model="levelVal[v.id]" myknob />  
                                                <!--<input type="text" value="v.level" class="dial" data-width="100" data-height="100" ng-model="levelVal[v.id]" knob /> -->  
                                            </td>
                                            <td>
                                                <button class="btn btn-primary"
                                                        data-ng-click="runCmdExact(v.id, '+', 0, 255)"
                                                        >
                                                    <i class="fa fa-angle-up fa-lg"></i>
                                                </button>&nbsp;
                                                <button class="btn btn-info"
                                                        data-ng-click="runCmdExact(v.id, 255, 0, 255)"
                                                        ><i class="fa fa-angle-double-up fa-lg"></i>
                                                </button><br /><br />
                                                <button class="btn btn-primary"
                                                        data-ng-click="runCmdExact(v.id, '-', 0, 255)"
                                                        ><i class="fa fa-angle-down fa-lg"></i>
                                                </button>&nbsp;
                                                <button class="btn btn-info"
                                                        data-ng-click="runCmdExact(v.id, 0, 0, 255)"
                                                        >
                                                    <i class="fa fa-angle-double-down fa-lg"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Hidden thermostat -->
                        <div class="col-sm-11 element-hidden thermostat" ng-switch-when="thermostat" ng-show="goHidden">
                            <div>
                                <p class="text-center">{{v.title}} </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!--<myknob knob-data="v.level" knob-options="knobopt"></myknob> -->
                                                <input 
                                                    type="text" 
                                                    value="v.level" 
                                                    class="dial" 
                                                    data-width="100" 
                                                    data-height="100" 
                                                    data-min="5"
                                                    data-max="40" 
                                                    knob-id="v.id" 
                                                    knob-data="v.level" 
                                                    knob-options="knobopt" 
                                                    ng-model="levelVal[v.id]" myknob />  
                                                <!--<input type="text" value="v.level" class="dial" data-width="100" data-height="100" ng-model="levelVal[v.id]" knob /> -->  
                                            </td>
                                            <td>
                                                <button class="btn btn-primary"
                                                        data-ng-click="runCmdExact(v.id, '+', 5, 40)"
                                                        >
                                                    <i class="fa fa-angle-up fa-lg"></i>
                                                </button>&nbsp;
                                                <button class="btn btn-info"
                                                        data-ng-click="runCmdExact(v.id, 40, 5, 40)"
                                                        ><i class="fa fa-angle-double-up fa-lg"></i>
                                                </button><br /><br />
                                                <button class="btn btn-primary"
                                                        data-ng-click="runCmdExact(v.id, '-', 5, 40)"
                                                        ><i class="fa fa-angle-down fa-lg"></i>
                                                </button>&nbsp;
                                                <button class="btn btn-info"
                                                        data-ng-click="runCmdExact(v.id, 5, 0, 40)"
                                                        >
                                                    <i class="fa fa-angle-double-down fa-lg"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Hidden sensorMultilevel -->
                        <div class="col-sm-11 element-hidden hidden-sensor-multilevel" ng-switch-when="sensorMultilevel__" ng-show="goHidden">
                            <p class="text-center">{{v.title}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="chartData" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>


                        <!-- Hidden switchMultilevelLinear -->
                        <div class="col-sm-11 element-hidden hidden-sensor-multilevel-linear" ng-switch-when="switchMultilevelLinear" ng-show="goHidden">
                            <p class="text-center">{{v.title}} </p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div range-slider min="0" orientation_="vertical" max="100" model-max="slider.modelMax" pin-handle="min"></div>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href=""><i class="fa fa-angle-up fa-lg"></i></a>&nbsp;<a class="btn btn-info" href=""><i class="fa fa-angle-double-up fa-lg"></i></a><br /><br />
                                            <a class="btn btn-primary" href=""><i class="fa fa-angle-down fa-lg"></i></a>&nbsp;<a class="btn btn-info" href=""><i class="fa fa-angle-double-down fa-lg"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Hidden camera -->
                        <div class="col-sm-11 element-hidden hidden-camera" ng-switch-when="camera" ng-show="goHidden">
                            <p class="text-center">{{v.title}} </p>
                            <p class="text-center">
                                <a href="" ng-click="runCmd(v.id + '/command/zoomIn')"><i class="fa fa-search-plus fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="" ng-click="runCmd(v.id + '/command/zoomOut')"><i class="fa fa-search-minus fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="" ng-click="runCmd(v.id + '/command/left')"><i class="fa fa-arrow-circle-left fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="" ng-click="runCmd(v.id + '/command/right')"><i class="fa fa-arrow-circle-right fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="" ng-click="runCmd(v.id + '/command/open')"><i class="fa fa-power-off fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                                <a href="" ng-click="runCmd(v.id + '/command/close')"><i class="fa fa-close fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                            </p>

                            <div>
                                <img class="text-center" ng-src="{{cfg.server_url + v.metrics.url}}" width="240" height="120">
                            </div>
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- /.col -->
    </div>
 
    <!-- Modal command -->
    <div class="modal fade" id="modal_widget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Configuration view: {{input.title}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset class="widget-cfg-block">
                    <div class="form-group">
                        <label for="title">Element name</label>
                        <input name="title" id="title" type="text" class="form-control" value="{{input.title}}" placeholder="Element name" ng-model="input.title" />
                    </div>
                        </fieldset>
                     <fieldset class="widget-cfg-block">
                    <h4>Configuration</h4>
                    <div class="form-group" ng-show="input.cfg.hasInstance">
                        Generated by module <button href="#module/put/{{input.cfg.hasInstance.id}}" class="btn btn-default btn-sm" ng-click="toModule(input.cfg.hasInstance.id, '#modal_widget')">{{input.cfg.hasInstance.moduleId}}</button>
                    </div>
                    <div class="form-group" ng-show="input.cfg.zwaveId">
                        Generated by <a href="/expert/#/config/configuration/{{input.cfg.zwaveId}}" class="btn btn-default btn-sm">Z-Wave device #{{input.cfg.zwaveId}}</a>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="dashboard" value="{{input.dashboard}}" id="dashboard" ng-model="input.dashboard" ng-checked="input.dashboard" /> <label>Add to dashboard</label>
                        &nbsp;&nbsp;<input type="checkbox" name="permanently_hidden" id="permanently_hidden" value="" ng-model="input.permanently_hidden" ng-checked="input.permanently_hidden" ng-confirm-click="This means that you can never use this element again. Are you sure?" /> <label>Permanently hide this element</label>
                    </div>
                     </fieldset>
                     <fieldset class="widget-cfg-block">
                    <div class="form-group">
                        <h4>Tags</h4>
                        <div class="btn-device" id="tag_{{$index}}" ng-repeat="t in input.tags">{{t}} 
                            <a href="" ng-click="removeTag($index)"><i class="fa fa-times text-danger"></i></a>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <input name="add_tag" id="add_tag" type="text" class="form-control" value="" placeholder="Add new tag" ng-model="addNewTag" />
                         <button type="button" class="btn btn-default" ng-click="addTag(addNewTag)"><i class="fa fa-plus text-success"></i></button>
                    </div>
                        </fieldset>
                    <!--<div class="form-group">
                       <span class="text-supp"><i class="fa fa-clock-o"></i> {{input.updateTime|isTodayFromUnix}}</span>
                   </div>-->

                    <!--<div class="form-group">
                       <label>Icon: </label>
                       <input type="checkbox" value="1" checked /> <label><i class="fa fa-camera fa-2x text-success"></i></label>&nbsp;&nbsp;
                       <input type="checkbox" value="1" /> <label><i class="fa fa-cube fa-2x"></i></label>&nbsp;&nbsp;
                       <input type="checkbox" value="1" /> <label><i class="fa fa-dashboard fa-2x"></i></label>&nbsp;&nbsp;
                       <input type="checkbox" value="1" /> <label><i class="fa fa-globe fa-2x"></i></label>&nbsp;&nbsp;
                   </div>-->
                    <!--<div>
                        <div class="panel panel-default" ng-if="input.id == 'OpenWeather_10' || input.id == 'OpenWeather_9' || input.id == 'OpenWeather_11'">
                            <div class="panel-heading"><h4><i class="fa fa-wrench"></i> {{_t('lb_configuration_of')}} <strong>Open Weather instance</strong></h4></div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input name="city" id="city" type="text" class="form-control" placeholder="City" value="{{input.name}}" ng-model="input.name" />
                                </div>
                                <div class="form-group">
                                    <input name="country" id="country" type="text" class="form-control" placeholder="Country" value="{{input.name}}" ng-model="input.name" />
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="temp" value="f" checked="checked" /> °F
                                    <input type="radio" name="temp" value="f" checked="checked" /> °C
                                </div>
                            </div>
                        </div>

                    </div>-->

                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-primary" 
                            data-dismiss="modal"
                            ng-click="store(input)">{{_t('lb_save')}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{_t('lb_cancel')}}</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->
    
    
    
    <!-- Elements footer view -->
<div id="footer" ng-show="showFooter">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="form-inline" role="form">
               <div class="btn-group dropup">
                 <button type="button" class="btn btn-default" ng-bind="_t('lb_categories')"></button>
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                 </button>
                 <ul class="dropdown-menu">
                     <li><a href="#elements" ng-bind="_t('lb_all')"></a></li>
                     <li ng-repeat="v in deviceType"><a href="#elements/deviceType/{{v.key}}" ng-bind="_t(v.key)"></a></li>
                 </ul>
             </div>
              <div class="btn-group dropup">
                 <button type="button" class="btn btn-default" ng-bind="_t('lb_tags')"></button>
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                 </button>
                 <ul class="dropdown-menu">
                     <li><a href="#elements" ng-bind="_t('lb_all')"></a></li>
                     <li ng-repeat="v in tags"><a href="#elements/tags/{{v.key}}" ng-bind="v.key"></a></li>
                 </ul>
             </div>
                 <div class="input-group search-form">
                        <input type="text" ng-model="q" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
               
            </div>

        </div>
    </div>
</div>
</div> <!-- /ng-controller --> 