<!-- Element view -->
<div ng-controller="ElementDetailController" class="mobile-padding">
    <bb-loader></bb-loader>
    <div ng-show="input">
        <h2 class="form-title"><span ng-bind="_t('lb_cfg_view')"></span>: <span ng-bind="input.metrics.title"></span></h2>
        <form name="form_element" id="form_element" class="form form-page" ng-submit="store(input)" novalidate>
            <fieldset ng-if="elementAccess(cfg.role_access.admin)">
                <p class="form-control-static">
                            <span ng-bind="_t('element_id')"></span>: <strong ng-bind="input.id"></strong>
                        </p>
                <div class="form-group_">
                    <label ng-bind="_t('lb_element_name')">{{}}:</label>
                    <input name="title" id="title" type="text" class="form-control" value="{{input.metrics.title}}" placeholder="{{_t('lb_element_name')}}" ng-model="input.title" />
                </div>
            </fieldset>
            <fieldset>
                <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('lb_configuration')"></span></h3>
                 <div>
                    <!-- instance -->
                    <div class="form-group" ng-if="input.appType.instance">
                        <span ng-bind="_t('lb_gen_by_module')"></span> 
                        <a class="btn btn-default btn-sm" ng-href="#module/put/{{input.appType.instance.id}}">
                            <strong ng-bind="input.appType.instance.title"></strong> - <span ng-bind="input.appType.instance.module"></span>
                        </a>
                    </div>
                    <!-- zwave -->
                    <div class="form-group" ng-if="input.appType.zwave">
                        <span ng-bind="_t('lb_gen_by')"></span> <a href="#zwave/devices/{{input.appType.zwave}}" class="btn btn-default btn-sm"><span ng-bind="_t('lb_zwave_device')"></span> #{{input.appType.zwave}}</a>
                    </div>
                    <!-- enocean -->
                    <div class="form-group" ng-if="input.appType.enocean">
                        <span ng-bind="_t('lb_gen_by')"></span> <a href="#enocean/manage/{{input.appType.enocean}}" class="btn btn-default btn-sm"><span ng-bind="_t('enocean_device')"></span> #{{input.appType.enocean}}</a>
                    </div>
                    
                    <!-- dashboard etc -->
                    <div class="form-group">
                        <div>
                            <input type="checkbox" name="dashboard" value="{{input.dashboard}}" id="dashboard" ng-model="input.dashboard" ng-checked="input.dashboard" /> <label ng-bind="_t('lb_add_dashboard')"></label>
                        </div>
                        <div ng-if="elementAccess(cfg.role_access.admin) && input.cfg.zwaveId"> 
                            <input type="checkbox" name="permanently_hidden" id="permanently_hidden" value="" 
                                   ng-model="input.permanently_hidden" 
                                   ng-checked="input.permanently_hidden"   
                                   _ng-confirm-click_="This means that you can never use this element again. Are you sure?" /> <label ng-bind="_t('lb_permanently_hide')"></label>
                        </div>
                        <div>
                            <input type="checkbox" name="hide_events" value="{{input.id}}" id="hide_events" ng-model="input.hide_events" ng-checked="user.hide_single_device_events.indexOf(input.id) === -1 ? false : true" /> <label ng-bind="_t('lb_hide_events_device')"></label>
                        </div>
                    </div>
                    <!-- Rooms -->
                    <div class="form-group form-inline" ng-if="elementAccess(cfg.role_access.admin)">
                        <label>{{_t('lb_assign_room')}} </label>
                        <select class="form-control" ng-model="input.location">
                            <!-- <option value="">--- Select one ---</option>-->
                            <option ng-repeat="v in rooms" ng-selected="input.location == v.id" value="{{v.id}}" ng-bind="v.title"></option>
                        </select>
                    </div>

                </div>
            </fieldset>
            <fieldset  ng-if="elementAccess(cfg.role_access.admin)">
                <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('lb_tags')"></span></h3>
                
                    <div class="form-group_ clearfix">
                        <div class="btn-device" id="tag_{{$index}}" ng-repeat="t in input.tags">{{t}} 
                            <a href="" ng-click="removeTag($index)"><i class="fa fa-times text-danger"></i></a>
                        </div>
                    </div>
                <br />
                
                    <div class="form-group_">
                    <div class="btn-group dropup form-inline">
                       <input name="add_tag" id="add_tag" type="text" class="form-control" value="" placeholder="{{_t('lb_add_tag')}}" ng-model="searchText" bb-key-event="searchMe(searchText);" data-toggle="dropdown" />
                        <button type="button" class="btn btn-default btn-tag" ng-click="addTag(searchText)"><i class="fa fa-plus text-success"></i></button>
                        <ul class="dropdown-menu" ng-if="autoCompletePanel">
                            <li href="" ng-click="addTag(v)" ng-repeat="v in suggestions"><a href=""><span ng-bind="v"></span> <i class="fa fa-plus text-success"></i></a></li>
                        </ul>
                       
                    </div>
                </div>


            </fieldset>
            <!-- Submit -->
            <fieldset class="submit-entry">
                 <button type="button" class="btn btn-default" bb-go-back><i class="fa fa-times text-danger"></i> <span ng-bind="_t('lb_cancel')"></span></button>
                 <button type="submit" class="btn btn-submit"><i class="fa fa-check"></i> <span ng-bind="_t('lb_save')"></span></button>
            </fieldset>
        </form>
    </div>

</div> <!-- /ng-controller --> 