<!-- Elements 1 view -->
<div ng-controller="ElementBaseController">
    <bb-loader></bb-loader>
    <div ng-if="dataHolder.devices.welcome" ng-include="'app/views/elements/no_elements.html'"></div>
    <div ng-if="dataHolder.devices.show">
    <div class="page-control form-inline">
        <div class="btn-group btn-goup-block btn-goup-2">
            <button class="btn btn-default" ng-click="expandNavi('elCategories', $event)">
                <i class="fa fa-filter"></i> 
                <span class="btn-name" ng-if="dataHolder.devices.filter.deviceType">{{_t(dataHolder.devices.filter.deviceType) | cutText:true:15}}</span>
                <span class="btn-name" ng-if="dataHolder.devices.filter.tag">{{dataHolder.devices.filter.tag|cutText:true:15}}</span>
                <span class="btn-name" ng-if="_.isEmpty(dataHolder.devices.filter)">{{_t('all_elements')|cutText:true:15}}</span>
            </button>
            <button class="btn btn-default" ng-click="expandNavi('elOrderBy', $event)">
                <i class="fa fa-sort-alpha-asc"></i> <span class="btn-name">{{_t(dataHolder.devices.orderBy) | cutText:true:15}}</span>
            </button>
            <div class="app-dropdown dropdown-100" ng-if="naviExpanded.elOrderBy">
                <p class="app-dropdown-title">{{_t('sortby')}}:</p>
                <ul>
                    <li class="page-order-{{k}}" ng-repeat="(k,v) in cfg.orderby.elements" ng-class="dataHolder.devices.orderBy == k ? 'active': ''">
                        <a href="" ng-click="setOrderBy(k)">{{_t(k) | cutText:true:30}} <span class="menu-arrow" ng-if="dataHolder.devices.orderBy == k"><i class="fa fa-check"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="input-group search-group">
            <input type="text" ng-model="q" class="form-control" value="{{q}}">
            <span class="input-group-addon"><i class="fa fa-search"></i></span> 
        </div>
    </div>
    <div class="page-navi" ng-if="naviExpanded.elCategories">
        <div class="page-navi-in">
            <ul>
                <li class="page-cat-0" ng-class="_.isEmpty(dataHolder.devices.filter) == true ? 'active': ''">
                   <a href="" ng-click="setFilter()">
                       <i class="fa fa-check-circle-o"></i> {{_t('all_elements')}} <span class="page-navi-icon"><i class="fa fa-chevron-right"></i></span>
                   </a>
                </li>
                <li class="page-cat-{{v}}" ng-repeat="v in dataHolder.devices.deviceType" ng-class="dataHolder.devices.filter.deviceType == v ? 'active': ''">
                    <a href="" ng-click="setFilter({deviceType: v})"> 
                        <i class="fa {{v|getElCategoryIcon}}"></i> {{_t(v) | cutText:true:30}}<span class="page-navi-icon"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
            </ul>
            <div class="page-navi-content">
                <p class="page-navi-title"> {{_t('lb_tags')}}</p>
                <a class="btn btn-default btn-tag" href="" 
                        ng-repeat="v in dataHolder.devices.tags" 
                        ng-click="setFilter({tag: v})" 
                        ng-class="dataHolder.devices.filter.tag == v ? 'active': ''">
                     {{_t(v) | cutText:true:30}}
                 </a>
            </div>
        </div>
    </div>
    <div ng-include="'app/views/elements/list.html'"></div>
  </div>
</div> <!-- /ng-controller --> 