<section class="accordion-wrap" ng-repeat="d in hazardProtection.input.params.sendNotifications track by $index" ng-class="{'edit-me_': !d.target}"
  ng-init="notifyTitleModel = d.target">
  <h2 class="accordion-toggle ellipsis">
  <!-- Title -->
  <button type="button" aria-expanded="false" bb-accordion>
  <span>
    {{_t('notification')}} {{$index+1}}
    <!-- <em>{{(hazardProtection.availableNotifiers[d.target].deviceName || notifyTitleModel)}}</em> -->
  </span>
  </button>
  <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignNotification($index,d.target)">
    <i class="fa fa-times text-danger"></i>
  </span>
  </h2>
  <!-- Content -->
  <div class="accordion" ng-include="'app/views/automation/hazard/inputs/notification.html'" hidden></div>
</section>