/* Medium Devices, Desktops
-------------------------------------------------- */
$app-container-w: 100%;
$app-body-font-size: 14px;
$header-h: 50px;
$subnavigation-margin: 0 0 0 50%;
$page-navi-h: 30px;
$page-navi-w:  33.33333%;
$checkbox-scale: 1.2;
$radio-scale: 1.2;
$app-input-padding: 6px 12px;
$app-btn-icon-size: 120%;
//$app-btn-tag-font-size: 110%;
$app-btn-tag-icon-size: 120%;
$dropdown-w: 360px;
$widget-col-w: 50%;
$widget-icon-size: 140%;
$element-widget-col-h: 124px;
$app-widget-col-h: 110px;
$report-img: 40px;
$room-col-w: 33.33333%;
$room-img-preview: 170px;
$modal-w: 60%;
$modal-close-size: 140%;
$footer-h: 40px;
$app-updatetime-font-size: 90%;
$app-updatetime-icon-size: 90%;
$device-vendor-w: 20%;
/*-------------------------------------*/
// Shared styles
@import "_mq_shared"; 


