/* Large Devices, Wide Screens
-------------------------------------------------- */
$room-col-w: 25%;
$room-img-preview: 200px;

/*-------------------------------------*/
// Shared styles
@import "_mq_shared"; 

/*-------------------------------------*/
// Images
.room-image-preview{
    width: $room-img-preview;
    height:$room-img-preview;
}
/*-------------------------------------*/
// Rooms
.room-entry{
    width: $room-col-w;
}
