/* Shared styles
-------------------------------------------------- */

/* Body reset
-------------------------------------------------- */
html {
    font-size: $app-body-font-size;
}

body {
    font-size: $app-body-font-size;
    line-height: $app-line-height-base;
}

/* Header
-------------------------------------------------- */
#header{
    .divider-vertical {
        height: $header-h;
    }
}

/* Main navigation
-------------------------------------------------- */
#main_navigation_wrap{
    height: $header-h;
}

#main_navigation{
    line-height: $header-h;
    a{
        line-height: $header-h;
    }
}

/* Subnavigation
-------------------------------------------------- */
#sub_navigation_in{
    ul{
        margin: $subnavigation-margin;
        li{
            a{
                padding: 0 $spacing;
            }

        }
    }
}
/* Gird
-------------------------------------------------- */
#main_content {
    margin-top: $header-h + $spacing-double; 
    margin-bottom: $footer-h + $spacing-double;
}
.container{
    max-width:$app-container-w;

}
/* Page navigation
-------------------------------------------------- */
.page-navi{
    ul{
        li{
            display: block;
            float: left;
            width: $page-navi-w;
            a{
                min-height: $page-navi-h;
                margin: auto 10px;
            }

            .page-navi-icon{
                display: none !important;
            }
        }
    }
}

/* Images
-------------------------------------------------- */
.room-image-preview{
    width: $room-img-preview;
    height:$room-img-preview;
}

/* Input
-------------------------------------------------- */
.form-control {
    padding: $app-input-padding;
}
input[type=checkbox]{
    -ms-transform: scale($checkbox-scale); /* IE */
    -moz-transform: scale($checkbox-scale); /* FF */
    -webkit-transform: scale($checkbox-scale); /* Safari and Chrome */
    -o-transform: scale($checkbox-scale); /* Opera */
}
input[type=radio] { 
    transform: scale($radio-scale, $radio-scale); 
    -moz-transform: scale($radio-scale, $radio-scale); 
    -ms-transform: scale($radio-scale, $radio-scale); 
    -webkit-transform: scale($radio-scale, $radio-scale); 
    -o-transform: scale($radio-scale, $radio-scale); 
}

/* Button
-------------------------------------------------- */
.btn,.btn-device-admin {
    .fa{
        font-size: $app-btn-icon-size; 
    }
}
.btn-goup-block{
    width: auto !important;
    display: inline-block;
    margin: 0;
    .btn{
        width: auto !important;
    }
}
.btn-tag{
    display: inline-block;
    position: static;
    font-size: $app-btn-tag-font-size;
    margin: 0 $spacing $spacing 0;
    .fa{
        position: static;
        margin: 0 0 0 $spacing;
        font-size: $app-btn-tag-icon-size;
    }
}
/* Modal
-------------------------------------------------- */
.appmodal { 
    .appmodal-in{
        width: $modal-w;
    }
}

.appmodal-header{
    .appmodal-close{
        font-size: $modal-close-size;
    }
}
/* Modal with knob
-------------------------------------------------- */
.app-row-knob{
    display: table;
    width: 100%;
    .knob-col{
        display: table-cell;
        vertical-align: middle;
        padding: $spacing;
        width: 50%;
    }
    .knob-ctrl{
        text-align: right;
    }
    .knob-btn{
        text-align: left;
    }
}

/* Dropdown
-------------------------------------------------- */
.app-dropdown{
    min-width: $dropdown-w;

}
.app-dropdown{
    &.dropdown-lang{
        min-width: $dropdown-lang-w; 
        ul{
            li{
                padding: $spacing-half;
            }
        }
    }


}

/* Report
-------------------------------------------------- */
.report-img{
    max-width: $report-img;
    max-height: $report-img;
}
.app-row-zwave{
    .report-entry {
        .report-ctrl{
            vertical-align: top !important;
        }
    }
}
/* Widgets
-------------------------------------------------- */
.app-row-widget{
    margin: 0 -$spacing;
}
.widget-entry{
    @include appFloat(left);
    border: 0;
    width: $widget-col-w;
    .widget-entry-in{
        //height: $widget-col-h;
        border-color: $widget-border-color;
        border: solid 1px $widget-border-color;
        margin: $spacing;
        .widget-header {
            .widget-icon{
                .fa{
                    padding: 0 0 0 $spacing-half;
                    font-size: $widget-icon-size;
                }
            }
        }
    }
}

.widget-success{
    /*    .widget-entry-in{
            border: solid 4px $widget-success-border-color;
        }*/
}

.widget-warning{
    /*    .widget-entry-in{
        border: solid 4px $widget-warning-border-color;
        }*/
}

.widget-danger{
    /*    .widget-entry-in{
         border: solid 4px $widget-danger-border-color;
        }*/
}
/* Elements
-------------------------------------------------- */
.widget-entry-element{
    .widget-entry-in{
        height: $element-widget-col-h; 
    }
}

/* Apps
-------------------------------------------------- */
.widget-entry-app{
    .widget-entry-in{
        min-height: 1px;
        height: $app-widget-col-h;
        .widget-footer{
            margin: $spacing 0 0 0;

        }
    }
}

/* Apps
-------------------------------------------------- */
.widget-entry-skin{
    .widget-entry-in{
        min-height: 1px;
        height: $skin-widget-col-h;
        .widget-footer{
            margin: $spacing 0 0 0;

        }
    }
}
/* App detail
-------------------------------------------------- */
.app-detail-img{
    @include appFloat(left);
    width: $app-detail-img + $spacing-double;

}
.app-detail-body{
    margin: 0 0 0 $app-detail-img + $spacing-double;
}

/* Devices
-------------------------------------------------- */
.vendor-entry{
    width: $device-vendor-w; 
}
.app-detail-body{
    margin: 0 0 0 $app-detail-img + $spacing-double;
}


.report-battery-info{
    div{
        display: inline-block;
        padding: 0 $spacing 0 0;
    }
}

/* Rooms
-------------------------------------------------- */
.room-entry{
    width: $room-col-w;
}

/* Footer
-------------------------------------------------- */
#footer{
    #footer_in{
        height: $footer-h;
        line-height: $footer-h;
    }
}
//.is-mobile-false{
#footer{
    display: none; 
}
//}
/* Auth
-------------------------------------------------- */
#page_login, #page_password,#page_passwordforgot,#page_passwordreset{ 
    .container {
        max-width: $auth-page-w;
    }
}

/* Others
-------------------------------------------------- */
.timestamp{
    font-size: $app-updatetime-font-size !important;
    .fa{
        font-size: $app-updatetime-icon-size !important; 
    }
}

