/* Medium Devices, Desktops
-------------------------------------------------- */
$app-body-font-size: 14px;
$header-h: 50px;
$subnavigation-margin: 0 0 0 50%;
$page-navi-h: 30px;
$page-navi-w:  33.33333%;
$widget-col-w: 50%;
$element-widget-col-h: 120px;
$app-widget-col-h: 120px;
$room-col-w: 33.33333%;
$room-img-preview: 170px;

/*-------------------------------------*/
// Shared styles
@import "_mq_shared"; 


