/* Medium Devices, Desktops
-------------------------------------------------- */
$app-body-font-size: 15px;

$header-h: 60px;

$widget-col-w: 50%;

$room-col-w: 33.33333%;
$room-img-preview: 170px;

/*-------------------------------------*/
// Shared styles
//@import "_mq_shared"; 


