/* Large Devices, Wide Screens
-------------------------------------------------- */
$app-body-font-size: 14px;
$header-h: 60px;
$subnavigation-margin: 0 0 0 66%;
$page-navi-h: 30px;
$page-navi-w: 25%;
$app-input-padding: 6px 12px;
$checkbox-scale: 1.2;
$radio-scale: 1.2;
$app-btn-icon-size: 120%;
//$app-btn-tag-font-size: 110%;
$app-btn-tag-icon-size: 120%;
$dropdown-w: 380px;
$widget-col-w: 33.33333%;
$widget-icon-size: 140%;
$element-widget-col-h: 120px;
$app-widget-col-h: 110px;
$room-col-w: 25%;
$room-img-preview: 200px;
$modal-w: 50%;
$modal-margin: 15% auto;
$modal-close-size: 140%;

/*-------------------------------------*/
// Shared styles
@import "_mq_shared"; 