/* Shared styles
-------------------------------------------------- */

/* Body reset
-------------------------------------------------- */
html {
    font-size: $app-body-font-size;
}

body {
    font-size: $app-body-font-size;
    line-height: $app-line-height-base;
}

/* Header
-------------------------------------------------- */
#header{
    .divider-vertical {
        height: $header-h;
    }
}

/* Main navigation
-------------------------------------------------- */
#main_navigation_wrap{
    height: $header-h;
}

#main_navigation{
    line-height: $header-h;
    a{
        line-height: $header-h;
    }
}

/* Subnavigation
-------------------------------------------------- */
#sub_navigation_in{
    ul{
        margin: $subnavigation-margin;
        li{
            a{
              padding: 0 $spacing;
            }

        }
    }
}
/* Page navigation
-------------------------------------------------- */
.page-navi{
    ul{
        li{
            display: block;
            float: left;
            width: $page-navi-w;
            a{
               min-height: $page-navi-h;
                margin: auto 10px;
            }

            .page-navi-icon{
                display: none !important;
            }
        }
    }
}

/*-------------------------------------*/
// Images
.room-image-preview{
    width: $room-img-preview;
    height:$room-img-preview;
}
/*-------------------------------------*/
// Widgets
.widget-entry{
     @include appFloat(left);
     border: 0;
    width: $widget-col-w;
    .widget-entry-in{
         height: $widget-col-h;
        border: solid 1px $widget-border-color;
        margin: $spacing-half;
  }
}
/* Elements
-------------------------------------------------- */
.widget-entry-element{
     //height: $widget-col-h;
}

/* Apps
-------------------------------------------------- */
.widget-entry-app{
   .widget-entry-in{
         height: $app-widget-col-h;
        .widget-footer{
          margin: $spacing 0 0 0;

        }
    }
}
/*-------------------------------------*/
// Rooms
.room-entry{
    width: $room-col-w;
}