/* Shared styles
-------------------------------------------------- */
/*-------------------------------------*/
// Images
.room-image-preview{
    width: $room-img-preview;
    height:$room-img-preview;
}
/*-------------------------------------*/
// Rooms
.room-entry{
    width: $room-col-w;
}
