/* Navigation
-------------------------------------------------- */
/* Navbar */
#main_navbar{
    .container{
        padding: 0;
    }
}
    /* Visible */
.navbar-visible{
    position: relative;
}
    .navbar-visible-in{
        line-height: 50px;
        position: absolute;
         
        .divider-vertical{
            height: 50px;
        }
        a{
            display: inline-block;
            padding: 0 15px;
            color: $header-link-color;
            line-height: 50px;
            .fa{
                font-size: 140%;
            }
        }
        a:hover{
           background-color: darken($header-color-secondary, 5%);
           
           // color: #fff;
        }
        .active{
            background-color:$header-color-secondary;
             color: lighten($header-color-secondary, 10%);
             //color: darken($header-link-color,20%);
             //color: $brand-color-secondary;
        }
    }


.header-logo{
            img{
                max-height: 40px;
                max-width: 100px;
            }
        }
.navi-time-link{
    cursor: pointer;
}
.navi-time{
    padding-left: 10px;
}

.mobile-icon{
     padding-left: 7px;
    color: $header-link-color;
}
.lang-switch{
    text-transform: uppercase;
}
.lang-switch-current{
    display: inline-block;
    width: 24px;
    height: 24px;
}

.navbar-inverse {
    background-color: $header-color-primary;
    border-color: transparent;
    border-bottom: solid 4px $header-color-secondary;
    color: $header-color-secondary;
    .navbar-nav{
        .dropdown-toggle{
            color: $header-link-color;
        }
        .dropdown-toggle:hover{
             color: $header-link-color;
        }
    }

}
.navbar-inverse_ .navbar-nav .dropdown-toggle{
    color: $header-color-secondary;
}
/* Collapse */

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: $header-color-secondary;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: $header-color-secondary;
    //color: darken($header-link-color,20%);
     color: lighten($header-color-secondary, 30%);
}

.navbar-inverse .dropdown-menu>.active>a,
.navbar-inverse .dropdown-menu>.active>a:hover,
.navbar-inverse .dropdown-menu>.active>a:focus {

    background-color:$header-color-secondary;
             color: darken($header-link-color,7%);
             font-weight: bold;

}

.navbar-inverse .dropdown-menu>li>a:hover, 
.navbar-inverse .dropdown-menu>li>a:focus {
   background-color: lighten($header-color-secondary,10%);
   color: darken($header-link-color,50%);
}

.navbar .divider-vertical {
    height: 50px;
    /*    margin: 0 9px;*/
    border-left: 1px solid darken($header-color-secondary, 10%);
    border-right: 1px solid lighten($header-color-secondary, 15%);
}
.dropdown-menu {

    border: 1px solid $header-color-secondary;
    .divider {
        background-color: $header-color-secondary;
    }
}

.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 10px;
}

.dropdown > .dropdown-menu::before, .dropdown > .dropdown-menu::after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    //left: 9px;
    left: auto;
    right: 12px;
}

.dropdown > .dropdown-menu::after {
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-bottom-color: #ffffff;
    top: -6px;
    //left: 10px;
    left: auto;
    right: 13px;
}

/*.navbar-right .dropdown>.dropdown-menu:after{
    left: auto;
    right: 13px;
}*/

.only-icon .only-icon-menu i{
    font-size: 18px;
}

.only-icon-menu span {
    display:none;
}

.dropdown-menu a i{
    padding-right: 10px;
}

.navi-app-info{
    font-size: 90%;
        color: $header-link-color;
        font-style: italic;
        padding: 3px 20px;
}

/** Profile colors */
.profile-dddddd{
     @include appProfileColors(#dddddd);
}
.profile-6c7a89{
     @include appProfileColors(#6c7a89);
}
.profile-6494bc{
     @include appProfileColors(#6494bc);
}
.profile-80ad80{
     @include appProfileColors(#80ad80);
}
.profile-31b0d5{
     @include appProfileColors(#31b0d5);
}
.profile-f0aD4e{
     @include appProfileColors(#f0aD4e);
}
.profile-d9534f{
     @include appProfileColors(#d9534f);
}
.profile-dd976e{
     @include appProfileColors(#dd976e);
}