<!-- Include Enocean -->
<div ng-controller="IncludeEnoceanController" class="mobile-padding">
    <bb-loader></bb-loader>
    <!-- Auto inclusion -->
    <div class="device-perex clearfix">
        <div class="include-device-img" ng-if="device.image">
            <img ng-src="storage/img/enocean/devices/{{device.image}}" alt="img" ng-if="device.image" />
        </div>

        <div class="include-device-txt">
            <p ng-bind="_t('teach_in')"></p>
            <h1 ng-bind="device.name"></h1>
            <p ng-if="device.description" ng-bind="device.description"></p>
        </div>
    </div>
    <!-- inclusion -->
    <div class="device-perex clearfix" ng-if_="!autoinclusion">
        <div class="col-device app-border app-gradient app-shadow">
            <table class="table table-report table-inclusion">
                <tbody>
                    <!-- 1 -->
                    <tr>
                        <td><span class="badge badge-number">1</span></td>
                        <td>
                            <div class="alert" ng-if="inclusion.message" ng-class="inclusion.status">
                                <i class="fa fa-lg" ng-class="inclusion.icon"></i> <span ng-bind-html="inclusion.message | toTrusted"></span>
                                <button
                                    class="btn btn-danger btn-sm"
                                    ng-if="!inclusion.done && inclusion.promisc"
                                    ng-click="runCmd('controller.data.promisc=false')">
                                    <span ng-bind="_t('stop_teachin')"></span>
                                </button>
                                <button class="btn btn-success btn-sm"
                                        ng-if="!inclusion.done && !inclusion.promisc"
                                        ng-click="runCmd('controller.data.promisc=true')"
                                        ><span ng-bind="_t('start_teachin')"></span></button>
                            </div>
                        </td>
                    </tr>
                    <!-- 2 -->
                    <tr ng-if="!autoinclusion">
                        <td><span class="badge badge-number">2</span></td>
                        <td>
                            <strong ng-hide_="controllerState == 1 || includedDeviceId" ng-bind="_t('select_profile')"></strong>
                            <div ng-if="lastIncludedDevice">
                                <select name="enoceanProfiles" class="form-control" ng-model="profile.set" ng-change="setProfileManualy(profile.set)">
                                    <option value="{{manProfile}}" ng-repeat="v in enoceanProfiles" ng-init="manProfile = {rorg:v._rorg,funcId: v._func,typeId: v._type}">{{v._funcDescription}} | rorg: {{v._rorg}} | func: {{v._func}} | type: {{v._type}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <!-- 2/3 -->
                    <tr>
                        <td><span class="badge badge-number" ng-bind="autoinclusion ? '2': '3'">3</span></td>
                        <td>
                            <strong ng-bind="_t('manual_konfiguration')"></strong>
                            <form name="form_enocean_config" id="form_enocean_config" class="form form-page" ng-if="inclusion.config" novalidate>
                                <p>{{lastIncludedDevice.profile._funcDescription}} (#{{lastIncludedDevice.id}})</p>
                                    <!-- Name -->
                                    <fieldset>
                                         <div class="form-group form-inline">
                                        <input type="text" name="enocean_name" id="enocean_name" class="form-control form-control-md" 
                                               ng-model="dev[e.id].metrics.title" value="{{lastIncludedDevice.profile._funcDescription}} (#{{lastIncludedDevice.id}})" />
                                        <button class="btn btn-primary" ng-click="updateDevice(dev[e.id])" ng-bind="_t('rename_device')"></button>
                                    </div>
                                    </fieldset>
                                    <fieldset ng-if="rooms">
                                    <!-- Rooms -->
                                    <div class="form-group form-inline">
                                        <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('devices_to_room')"></span></h3>
                                        <select class="form-control" ng-model="modelRoom">
                                            <option value="">------</option>
                                            <option ng-repeat="v in rooms" ng-selected_="input.location == v.id" value="{{v.id}}" ng-bind="v.title"></option>
                                        </select>
                                        <button class="btn btn-primary" ng-click="devicesToRoom(modelRoom, apiDevices)" ng-bind="_t('lb_save')"></button> 

                                    </div>
                                </fieldset>
                                <fieldset>
                                <div class="form-group form-inline" ng-repeat="e in apiDevices | orderBy:'title':false" ng-init="dev[e.id] = e">

                                    <h3>
                                        <img id="widget_img_{{v.id}}" class="report-img" ng-src="{{e.metrics.icon|getElementIcon:e:e.level}}" alt="img" />
                                         <span ng-bind="dev[e.id].metrics.title"></span>
                                    </h3>
                                        <div>
                                                <input type="text" name="fdf" class="form-control form-control-md" ng-model="dev[e.id].metrics.title" value="{{dev[e.id].metrics.title}}" />
                                                 <button class="btn btn-primary" ng-click="updateDevice(dev[e.id])" ng-bind="_t('rename_element')"></button> 
                                                 <button class="btn" 
                                                     ng-click="updateDevice({id: e.id,permanently_hidden: e.permanently_hidden ? false : true})" 
                                                     ng-bind="e.permanently_hidden ? _t('show_element') : _t('hide_element')"
                                                     ng-class="e.permanently_hidden ? 'btn-danger' : 'btn-info'"> </button>
                                         </div>
                                    </div>
                                </fieldset>
                                   
                                <!--<div class="submit-entry">
                                    <button class="btn btn-default" ng-bind="_t('ok')" bb-go-back></button>
                                </div>-->
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

    <div  ng-if="enoceanDevices_">
        <p ng-bind="_t('device_list')"></p>
        <table class="table table-condensed table-report">
            <tbody>
                <tr id="enocean_row_{{v.id}}" ng-repeat="v in enoceanDevices track by v.id">
                    <td class="text-left">
                        <span ng-if="v.profile" ng-bind="v.profile._funcDescription"></span>  <span>(#{{v.id}})</span>
                    </td>

                    <td class="td-action">
                        <button title="{{_t('lb_remove')}}"
                                class="btn btn-default btn-sm"
                                ng-click="deleteDevice(v.id, '#enocean_row_' + v.id, _t('lb_delete_confirm'))"
                                >
                            <i class="fa fa-remove fa-lg text-danger"></i> <span class="btn-name" ng-bind="_t('lb_remove')"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

