<!-- Include Enocean -->
<div ng-controller="IncludeEnoceanController">
    <bb-loader></bb-loader>
    <div class="device-perex clearfix" ng-if="!autoinclusion">
        <h1 ng-bind="_t('select_profile')"></h1>
        <select name="enoceanProfiles" class="form-control" ng-model="profile.set" ng-change="setProfileManualy(profile.set)">
            <option value="{{abc}}" ng-repeat="v in enoceanProfiles" ng-init="abc = {rorg:v._rorg,funcId: v._func,typeId: v._type}">{{v._funcDescription}} | rorg: {{v._rorg}} | func: {{v._func}} | type: {{v._type}}</option>
        </select>
     </div>
    <div class="device-perex clearfix" ng-if="autoinclusion"> 
        <img class="include-device-img" ng-src="storage/img/enocean/devices/{{device.image}}" alt="img" ng-if="device.image" /> 
        <p ng-bind="_t('teach_in')"></p> 
        <h2><strong ng-bind="device.name"></strong></h2>
        <p ng-if="device.description" ng-bind="device.description"></p>
     </div>
    <div class="alert" ng-if="inclusion.message" ng-class="inclusion.status">
            <i class="fa fa-lg" ng-class="inclusion.icon"></i> <span ng-bind-html="inclusion.message | toTrusted"></span>
            <button 
                class="btn btn-danger btn-sm"
                ng-if="!inclusion.done && inclusion.promisc"
                ng-click="runCmd('controller.data.promisc=false')">
                <span ng-bind="_t('btn_inclusion_stop')"></span>
            </button>
            <button class="btn btn-success btn-sm"
                ng-if="!inclusion.done && !inclusion.promisc"
                ng-click="runCmd('controller.data.promisc=true')"
                ><span ng-bind="_t('btn_inclusion_start')"></span></button>
        </div>
    <div  ng-if="enoceanDevices">
        <p ng-bind="_t('device_list')"></p>
    <table class="table table-condensed table-report">
            <tbody>
                <tr id="enocean_row_{{v.id}}" ng-repeat="v in enoceanDevices track by v.id">
                     <td class="text-left">
                        <span ng-if="v.profile" ng-bind="v.profile._funcDescription"></span>  <span>(#{{v.id}})</span> 
                    </td>

                    <td class="td-action">
                        <button title="{{_t('lb_remove')}}" 
                                class="btn btn-default btn-sm"
                                ng-click="deleteDevice(v.id, '#enocean_row_' + v.id,_t('lb_delete_confirm'))"
                                >
                            <i class="fa fa-remove fa-lg text-danger"></i> <span class="btn-name" ng-bind="_t('lb_remove')"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</div>

