<!-- Enocean devices view -->
<div ng-controller="DeviceEnoceanController">
    <div class="device-logo">
        <a href="#devices/enocean"><img class="apps-image" ng-src="app/img/logo-enocean.png" alt="Logo" /></a>
    </div>
    <p class="alert alert-warning">
        This hardware does not support "EnOcean devices".
    </p>
     <div class="text-center device-autodetect">
         <a href="#include-enocean" class="btn btn-default btn-lg btn-block"><i class="fa fa-wrench"></i> {{_t('inclusion_manualy')}}</a>
     </div>
    <div class="row device-manufacturers" ng-hide="enoceanDevices">
        <div class="col-sm-2 col-device-vendor" ng-repeat="v in manufacturers">
            <a ng-href="#devices/enocean/{{v.key}}" class="vendor-list">
                <p class="vendor-image"><img ng-src="storage/img/enocean/vendors/{{v.val}}" alt="img" ng-show="v.val" /></p>
            </a>
        </div>
    </div>
   <div ng-if="manufacturer">
       <h3 class="mobile-padding" ng-bind="manufacturer"></h3> 
        <table class="table table-condensed table-report">
            <tbody>
                <tr ng-repeat="v in enoceanDevices track by v.id">
                     <td class="td-img">
                        <img class="report-img" ng-src="storage/img/enocean/devices/{{v.image}}" alt="img" />
                    </td>
                    <td class="text-left">
                        <span ng-bind="v.name"></span>
                    </td>

                    <td class="td-action">
                        <a href="#include-enocean/{{v.id}}" class="btn btn-default"><i class="fa fa-plug text-primary"></i> <span class="btn-name" ng-bind="_t('teach_in')"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /ng-controller --> 

