<!-- Include -->
<div ng-controller="IncludeController">
    <p class="text-center">
        <a href="#devices/zwave"><i class="fa fa-chevron-circle-left fa-lg"></i> <span ng-bind="_t('btn_back')"></span></a>

    <p>
        
    <h2 class="page-subtitle"><span ng-bind="_t('lb_include_device')"></span> <strong  ng-show="device.data" ng-bind="device.data.Name"></strong></h2> 
    <div class="device-perex clearfix"> 
        <img class="include-device-img" ng-src="storage/img/devices/{{device.data.ProductImage}}" alt="img" ng-show="device.data.ProductImage" /> 
        {{_t('lb_inclusion_info')}} 
        <a href="" 
           ng-disabled="[1, 2, 3, 4, 20].indexOf(controllerState) > -1"
           ng-show="[5, 6, 7].indexOf(controllerState) == -1"
           ng-click="runZwaveCmd('controller.RemoveNodeFromNetwork(1)');
                       clearStepStatus = true">
            <strong ng-bind="_t('btn_exclusion_start')"></strong>
        </a>
    </div>
    <div class="col-device-exclude">
        <div class="alert alert-warning" ng-show="controllerState == 5">
            <i class="fa fa-spinner fa-spin"></i> <span ng-bind="_t('lb_ready_exclude')"></span> <strong ng-bind="device.data.Exclusion"></strong>
            <button 
                class="btn btn-danger"
                ng-show="[5, 6, 7].indexOf(controllerState) > -1"
                ng-click="runZwaveCmd('controller.RemoveNodeFromNetwork(0)')" 
                ng-bind="_t('btn_exclusion_stop')"></button>
        </div>
        <div class="alert alert-success alert-dismissible" ng-show="lastExcludedDevice != null">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-check"></i> <span ng-bind="_t('lb_device_excluded')"></span>
        </div>


        <!--  <div class="device-statement" ng-show="device.data.Exclusion"><strong>Exclusion:</strong> <span ng-bind="device.data.Exclusion"></span></div>-->
    </div>
    <div class="col-device app-border app-gradient app-shadow">
        <table class="table table-report table-inclusion">
            <tbody>
                <!-- 1 -->
                <tr>
                    <td><span class="badge badge-number">1</span></td>
                    <td><span class="device-step-body">
                            <strong>{{_t('lb_preparation')}}: </strong>
                                 <span  ng-show="device.data.Preparation" ng-bind="device.data.Preparation"></span></span></td>
                    <td><i class="fa fa-check fa-2x text-success"></i></td>
                </tr>

                <!-- 2 -->
                <tr>
                    <td><span class="badge  badge-number">2</span></td>
                    <td>
                        <button class="btn btn-success btn-lg"
                                ng-disabled="[5, 6, 7, 20].indexOf(controllerState) > -1"
                                ng-show="[1, 2, 3, 4].indexOf(controllerState) == -1"
                                ng-click="runZwaveCmd('controller.AddNodeToNetwork(1)');
                                            success2 = !success2"
                                ><i class="fa fa-plug"></i> <span ng-bind="_t('btn_inclusion_start')"></span></button>
                        <button 
                            class="btn btn-danger btn-lg"
                            id="btn_nm_include_stop"
                            ng-show="[1, 2, 3, 4].indexOf(controllerState) > -1"
                            ng-click="runZwaveCmd('controller.AddNodeToNetwork(0)');
                                        success2 = !success2"
                            ng-bind="_t('btn_inclusion_stop')"></button>
                    </td>
                    <td>
                        <i class="fa fa-check fa-2x text-success" ng-show="(!clearStepStatus || !inclusionError) && (success2)"></i> 
                        <i class="fa fa-times fa-2x text-danger" ng-show="inclusionError && !clearStepStatus"></i>
                    </td>
                </tr>

                <!-- 3 -->
                <tr>
                    <td><span class="badge badge-number">3</span></td>
                    <td>
                        <strong ng-hide="controllerState == 1 || includedDeviceId">Inclusion proccess</strong>
                        <div ng-show="!inclusionError">
                            <div class="alert alert-warning" ng-show="controllerState == 1"><i class="fa fa-spinner fa-spin"></i> <strong ng-bind="_t('lb_ready_include')"></strong> <span ng-bind="device.data.Inclusion"></span></div>
                            <div class="alert alert-warning" ng-show="includedDeviceId"><i class="fa fa-spinner fa-spin"></i> <span ng-bind="_t('lb_new_device_found')"></span></div>
                        </div>
                    </td>
                    <td>
                        <i class="fa fa-check fa-2x text-success" ng-show="(!clearStepStatus || !inclusionError) && (includedDeviceId || lastIncludedDevice)"></i> 
                        <i class="fa fa-times fa-2x text-danger" ng-show="inclusionError && !clearStepStatus"></i>
                    </td>
                </tr>

                <!-- 4 -->
                <tr>
                    <td><span class="badge badge-number">4</span></td>
                    <td>
                        <strong ng-hide="lastIncludedDevice">Configuration</strong>
                        <div ng-show="!inclusionError">
                            <div class="alert alert-success" ng-show="lastIncludedDevice"><i class="fa fa-check"></i> <strong ng-bind="_t('lb_new_device_configured')"></strong>:  <span ng-bind="lastIncludedDevice"></span></div>
                        </div>
                        <div ng-if="inclusionError">
                            <div class="alert alert-danger" ng-show="!hasBattery"><i class="fa fa-minus-circle"></i> <span ng-bind="_t('lb_include_device_mains_error')"></span></div>
                            <div class="alert alert-danger" ng-show="hasBattery"><i class="fa fa-minus-circle"></i> <span ng-bind="_t('lb_include_device_battery_error')"></span> <span ng-bind="device.data.Wakeup"></span></div>

                        </div>
                    </td>
                    <td>
                        <i class="fa fa-check fa-2x text-success" ng-show="(!clearStepStatus || !inclusionError) && lastIncludedDevice"></i> 
                        <i class="fa fa-times fa-2x text-danger" ng-show="inclusionError && !clearStepStatus"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

