<!-- Devicess view -->
<div ng-controller="DeviceController">
  <h2 ng-bind="_t('lb_select_device_type')"></h2>
  <!-- Zwave -->
  <div class="list-panel panel-devices" ng-if="elementAccess(cfg.role_access.apps)">
    <div class="inner-panel">
      <!-- img -->
      <figure class="img">
        <a href="#zwave/devices">
          <img ng-src="app/img/logo-zwave.svg" alt="img" />
        </a>
      </figure>
      <!-- body -->
      <div class="body">
        <div>
          <a href="#zwave/devices">{{_t('devices_text_zwave')}}</a>
        </div>
      </div>
      <!-- control -->
      <div class="control" ng-if="!zwave.active">
        <bb-alert-text class="s-hide" alert="zwave.alert"></bb-alert-text>
      </div>
      <div class="control" ng-class="naviExpanded['devicesZway'] ? 'expand-true': 'expand-false'" ng-if="zwave.active">
        <div class="btn-group">
          <a class="btn btn-default" href="" title="{{_t('manage_with_expertui')}}" ng-click="toExpert('/expert',_t('redirect_to_expert'))"
            ng-if="elementAccess(cfg.role_access.admin) && cfg.app_type === 'default' && cfg.route.os != 'ZWayMobileAppAndroid' && cfg.route.os != 'ZWayMobileAppiOS'">
            <i class="fas fa-external-link-alt"></i>
            <span class="btn-name" ng-bind="_t('manage_with_expertui')"></span>
          </a>
          <a class="btn btn-default" href="#zwave/vendors" title="{{_t('add_new')}}">
            <i class="fas fa-plus text-success"></i>
            <span class="btn-name" ng-bind="_t('add_new')"></span>
          </a>
          <a class="btn btn-default" href="#zwave/devices" title="{{_t('manage')}}">
            <i class="fas fa-edit text-primary"></i>
            <span class="btn-name" ng-bind="_t('manage')"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Enocean -->
  <div class="list-panel panel-devices" ng-if="elementAccess(cfg.role_access.apps)">
    <div class="inner-panel">
      <!-- img -->
      <figure class="img">
        <a ng-href="#enocean/manage">
          <img ng-src="app/img/logo-enocean.svg" alt="img" />
        </a>
      </figure>
      <!-- body -->
      <div class="body">
        <div>
          <a href="#enocean/manage">{{_t('devices_text_enocean')}}</a>
        </div>
      </div>
      <!-- control -->
      <div class="control" ng-if="!enocean.active">
        <bb-alert-text class="s-hide" alert="enocean.alert"></bb-alert-text>
      </div>
      <div class="control" ng-class="naviExpanded['devicesEnocean'] ? 'expand-true': 'expand-false'" ng-if="enocean.active">
        <div class="btn-group">
          <a class="btn btn-default" href="#enocean/vendors" title="{{_t('add_new')}}">
            <i class="fas fa-plus text-success"></i>
            <span class="btn-name" ng-bind="_t('add_new')"></span>
          </a>
          <a class="btn btn-default" href="#enocean/manage" title="{{_t('manage')}}">
            <i class="fas fa-edit text-primary"></i>
            <span class="btn-name" ng-bind="_t('manage')"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile -->
  <div class="list-panel panel-devices">
    <div class="inner-panel">
      <!-- img -->
      <figure class="img">
        <a ng-href="#mobile/manage">
          <img ng-src="app/img/logo-mobile.svg" alt="img" />
        </a>
      </figure>
      <!-- body -->
      <div class="body">
        <div>
          <a ng-href="#mobile/manage">{{_t('devices_text_mobile')}}</a>
        </div>
      </div>
      <!-- control -->
      <div class="control" ng-class="naviExpanded['devicesMobile'] ? 'expand-true': 'expand-false'">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="handleMobileModal($event)" title="{{_t('add_new')}}">
            <i class="fas fa-plus text-success"></i>
            <span class="btn-name" ng-bind="_t('add_new')"></span>
          </button>
          <a class="btn btn-default" href="#mobile/manage" title="{{_t('manage')}}">
            <i class="fas fa-edit text-primary"></i>
            <span class="btn-name" ng-bind="_t('manage')"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Camera -->
  <div class="list-panel panel-devices" ng-if="elementAccess(cfg.role_access.apps)">
    <div class="inner-panel">
      <!-- img -->
      <figure class="img">
        <a ng-href="#camera/manage">
          <img ng-src="app/img/logo-camera.svg" alt="img" />
        </a>
      </figure>
      <!-- body -->
      <div class="body">
        <div>
          <a ng-href="#camera/manage">{{_t('devices_text_camera')}}</a>
        </div>
      </div>
      <!-- control -->
      <div class="control" ng-class="naviExpanded['devicesCamera'] ? 'expand-true': 'expand-false'">
        <div class="btn-group">
          <a class="btn btn-default" href="#camera/add" title="{{_t('add_new')}}">
            <i class="fas fa-plus text-success"></i>
            <span class="btn-name" ng-bind="_t('add_new')"></span>
          </a>
          <a class="btn btn-default" href="#camera/manage" title="{{_t('manage')}}">
            <i class="fas fa-edit text-primary"></i>
            <span class="btn-name" ng-bind="_t('manage')"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Speech -->
  <div class="list-panel panel-devices" ng-if="elementAccess(cfg.role_access.apps)">
    <div class="inner-panel">
      <!-- img -->
      <figure class="img">
        <a ng-href="#speech_assistants/manage">
          <img ng-src="app/img/logo-speech-assistants.svg" alt="img" />
        </a>
      </figure>
      <!-- body -->
      <div class="body">
        <div>
          <a ng-href="#speech_assistants/manage">{{_t('devices_text_speech')}}</a>
        </div>
      </div>
      <!-- control -->
      <div class="control" ng-class="naviExpanded['devicesSpeech'] ? 'expand-true': 'expand-false'">
        <div class="btn-group">
          <a class="btn btn-default" href="#speech_assistants/devices" title="{{_t('add_new')}}">
            <i class="fas fa-plus text-success"></i>
            <span class="btn-name" ng-bind="_t('add_new')"></span>
          </a>
          <a class="btn btn-default" href="#speech_assistants/manage" title="{{_t('manage')}}">
            <i class="fas fa-edit text-primary"></i>
            <span class="btn-name" ng-bind="_t('manage')"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- wifi -->
  <div class="list-panel panel-devices" ng-if="elementAccess(cfg.role_access.apps)">
    <div class="inner-panel">
      <!-- img -->
      <figure class="img">
        <a ng-href="#wifiplug/manage">
          <img ng-src="app/img/logo-wifiplug.svg" alt="img" />
        </a>
      </figure>
      <!-- body -->
      <div class="body">
        <div>
          <a href="#wifiplug/manage">{{_t('devices_text_wifi')}}</a>
        </div>
      </div>
      <!-- control -->
      <div class="control" ng-class="naviExpanded['devicesWifi'] ? 'expand-true': 'expand-false'">
        <div class="btn-group">
          <a class="btn btn-default" href="#wifiplug/add" title="{{_t('add_new')}}">
            <i class="fas fa-plus text-success"></i>
            <span class="btn-name" ng-bind="_t('add_new')"></span>
          </a>
          <a class="btn btn-default" href="#wifiplug/manage" title="{{_t('manage')}}">
            <i class="fas fa-edit text-primary"></i>
            <span class="btn-name" ng-bind="_t('manage')"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ng-controller -->
<!-- qrCodeModal / addMobilePhoneModal -->
<div ng-controller="MobileAddController" ng-include="'app/views/mobile/mobile_add_modal.html'"></div>
