/* Body
-------------------------------------------------- */

/* Gird
-------------------------------------------------- */
/* Style */
#main_content {
  padding: 0 5px;
}

.container {
  width: 100%;
  max-width: 100%;
}

