/* WD variables
-------------------------------------------------- */
$wd-brand-color: #08A0DE;
$wd-header-color: #333;
$wd-header-bcg-color: #fff;
$wd-gray-color: #f8f8f8;
$zindex-sidebar: 2000;
$sidebar-w: 260px;
$sidebar-off-w: 50px;
$sidebar-icon-font-size: 120%;