/* View on
-------------------------------------------------- */
#view_wrapper{
     margin: $header-h+$spacing $spacing $spacing $spacing;
    @include mediaQueries(min-medium) {
        position: relative;
        top: 0;
        right: 0;
        margin-left: $sidebar-w+$spacing;
    }

}
/* View off
-------------------------------------------------- */
.sidebar-off{
    #view_wrapper{
        @include mediaQueries(min-medium) {
            margin-left: $sidebar-off-w+$spacing;
        }
    }
}