<!-- Home view -->
<div ng-controller="AdminController">
    <div class="page-header header-control clearfix">
        <h1 ng-bind="_t('nav_admin')"></h1>
        <div class="page-header-control">
            <a type="button" class="btn btn-info" ng-href="#admin/user/0"><i class="fa fa-plus"></i> {{_t('lb_add_user')}}</a>
        </div>
    </div>
    <table class="table table-report">
        <tbody>
            <tr ng-repeat="v in profiles" id="row_{{v.id}}">
                 <td>
                    <img class="report-img" ng-src="storage/img/icons/user.png" alt="{{v.name}}" /> 
                    <span class="report-message" ng-bind="v.name"></span>
                </td>
                <td class="text-right">
                    <a class="btn btn-default" href="#admin/user/{{v.id}}"><i class="fa fa-pencil fa-lg text-info"></i></a>
                    <button class="btn btn-default" 
                       ng-hide="v.id == 1"
                       ng-click="delete('#row_' + v.id, {'id': v.id}, _t('lb_delete_confirm'), 1)"
                       ><i class="fa fa-times fa-lg text-danger"></i></button>   
                </td>
            </tr>
        </tbody>
    </table>
</div> <!-- /ng-controller --> 