<div class="accordion-entry" ng-repeat="v in scene.rooms track by $index">
        <h2 class="accordion-entry-title" ng-click="expandElement('room_' + v.id)">
                <img class="navi-img" ng-src="{{v.img_src}}" alt="img" /> {{v.title}}
                <i class="fa accordion-arrow" ng-class="expand['room_' + v.id] ? 'fa-chevron-up':'fa-chevron-down'"></i>
        </h2>
        <div class="accordion-entry-ctrl" ng-if="expand['room_' + v.id]">

                <div class="app-row app-row-report app-row-automation clearfix" ng-repeat="m in scene.modules">
                        <!-- <p>{{m.title}}</p> -->
                        <p>{{m.title}}</p>
                        <div class="report-entry" ng-repeat="mr in m.all track by $index">
                                <div class="report-col report-body">
                                       {{mr}}
                                </div>
                                <div class="report-col report-ctrl">
                                        <div class="btn-group">
                                                <button class="btn btn-default" title="{{_t('lb_update')}}">
                                                        <i class="fa fa-pencil text-info"></i>
                                                </button>
                                                <button class="btn btn-default" title="{{_t('lb_remove')}}" ng-hide="v.id == 1" ng-click="deleteProfile(v, _t('lb_delete_confirm'), 1)">
                                                        <i class="fa fa-times text-danger"></i>
                                                </button>
                                        </div>
                                </div>
                        </div>

                </div>
        </div>
</div>