<section class="accordion-wrap" ng-repeat="r in scene.rooms track by $index" ng-class="scene.devicesInRoom[r.id] ? 'available-devices' : 'ng-hide'">
	<!-- Title -->
	<h2 class="accordion-toggle chevron">
		<button type="button" aria-expanded="false" bb-accordion>
			<span>
				<img class="navi-img" ng-src="{{r.img_src}}" alt="img" />&nbsp;{{r.title}}
			</span>
		</button>
	</h2>
	<!-- Content -->
	<div class="accordion" hidden> <a href="" class="btn btn-default btn-tag" title="{{d.deviceName + ' | ' + _t(d.deviceType)}}" ng-repeat="d in scene.availableDevices" ng-if="d.location == r.id && scene.assignedDevices.indexOf(d.deviceId) === -1" ng-click="assignDevice(d)">
		<img class="navi-img" ng-src="{{scene.availableDevices[d.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
		{{d.deviceName|cutText:true:20}}
		<i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
		</a>
	</div>
</section>
<!-- //////////////////////////////////////////Notifications ////////////////////////////////////////// -->
<section class="accordion-wrap">
  <!-- Title -->
  <h2 class="accordion-toggle chevron">
  <button type="button" aria-expanded="false" bb-accordion>
  <span>
    <img class="navi-img" ng-src="{{cfg.img.icons + 'alarm-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />&nbsp;{{_t('add_notification')}}
  </span>
  </button>
  </h2>
  <!-- Content -->
  <div class="accordion" hidden>
    <!--target  -->
    <div class="form-group form-inline">
      <select class="form-control" ng-model="scene.cfg.notification.default.target">
        <option value="{{nc.id}}" ng-repeat="nc in notifications.channels" ng-selected="nc.id == v.channel">
          {{nc.name}} ({{nc.userName}})
        </option>
      </select>
    </div>
    <!-- mesage -->
    <div class="form-group">
      <textarea name="message" id="content" class="form-control report-content" ng-model="scene.cfg.notification.default.message"
      placeholder="{{_t('message')}}"></textarea>
    </div>
    <!-- button -->
    <div class="form-group">
      <a href="" class="btn btn-default btn-tag" title="{{_t('add_new')}}" ng-click="assignNotification(scene.cfg.notification.default)">
        {{_t('add_new')}}
        <i class="fa fa-plus text-success"></i>
      </a>
    </div>
  </div>
</section>