<!-- status -->
<div class="form-group">
<input type="number" class="form-control input-number" min="{{scene.cfg.thermostat.min}}" max="{{scene.cfg.thermostat.max}}"
    ng-model="scene.model.thermostat.status" ng-change="handleDevice(scene.model.thermostat,'thermostats')">
</div>

<!-- command -->
<div class="form-group">
  <input type="checkbox" name="send_command" id="send_command" ng-model="scene.model.thermostat.sendAction" ng-checked="scene.model.thermostat.sendAction" ng-change="handleDevice(scene.model.thermostat,'thermostats')"
  />
  <label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>