<h2 class="accordion-entry-title" ng-click="expandElement('switches')">
    <i class="fa fa-toggle-on fa-fw"></i>
    {{_t('Switches')}}
    <i class="fa accordion-arrow" ng-class="expand.switches ? 'fa-chevron-up':'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-if="expand.switches">
   <!-- List -->
    <div class="app-row app-row-report app-row-user clearfix">
        <div class="report-entry" ng-repeat="v in scene.switches.all track by $index">
            <div class="report-col report-media">
                <img class="report-img" ng-src="storage/img/icons/placeholder.png" alt="img" />
            </div>
            <div class="report-col report-body">
                Switch device {{$index + 1}}
            </div>
            <div class="report-col report-ctrl">
                <div class="btn-group">
                    <button class="btn btn-default" title="{{_t('lb_update')}}">
                        <i class="fa fa-pencil text-info"></i>
                    </button>
                    <button class="btn btn-default" title="{{_t('lb_remove')}}" ng-hide="v.id == 1" ng-click="deleteProfile(v, _t('lb_delete_confirm'), 1)">
                        <i class="fa fa-times text-danger"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="fieldset submit-entry">
            <button class="btn btn-submit" title="{{_t('lb_add')}}">
                <i class="fa fa-plus"></i> <span class="btn-name">{{_t('add_new')}} </span>
            </button>
        </div>
</div>