<a href="" class="btn btn-default btn-tag" title="{{d.deviceName}}" ng-repeat="d in hazardProtection.availableSensors" ng-if="hazardProtection.fire.input.params.sensors.indexOf(d.deviceId) === -1 && hazardProtection.fire.sensors.indexOf(d.probeType) !== -1" ng-click="assignSensor(d.deviceId, 'fire')">
	<i class="fa fa-fire text-danger s-hide" ng-if="hazardProtection.fire.sensors.indexOf(d.probeType) !== -1"></i>
	&nbsp
	{{d.deviceName|cutText:true:20}}
	<i class="fa fa-plus text-success"  title="{{_t('add_new')}}"></i>
</a>