<section class="accordion-wrap" ng-repeat="v in hazardProtection.fire.input.params.triggerEvent track by $index">
  <!-- Title -->
  <h2 class="accordion-toggle ellipsis">
      <!-- Deleted device -->
      <span class="no-toggle text-danger" ng-if="!hazardProtection.availableDevices[v.deviceId]">
          <i class="fa fa-exclamation-circle"></i> {{_t('device_removed')}}&nbsp;({{v.deviceId}})
      </span>
      <!-- Toggle -->
      <button type="button" aria-expanded="false" bb-accordion ng-if="v.deviceType!='toggleButton'" ng-hide="!hazardProtection.availableDevices[v.deviceId]">
        <span><img class="navi-img" ng-src="{{hazardProtection.availableDevices[v.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
          {{hazardProtection.availableDevices[v.deviceId].deviceName}}&nbsp;
          <span ng-if="v.deviceType=='switchRGBW' && _.isObject(v.level)" class="color-picker-show" style="background-color: {{v.level|setRgbColors}};">&nbsp;</span>
          <span ng-if="v.deviceType!='switchRGBW' || !_.isObject(v.level)"><em>[{{_t(v.level)}}<em ng-if="v.level == 'lvl'">&nbsp;{{v.exact}}</em>]</em></span>
         &nbsp;-&nbsp;<em>{{hazardProtection.availableDevices[v.deviceId].locationName}}</em>
        </span>
      </button>
      <!-- No Toggle -->
      <span class="no-toggle" ng-if="v.deviceType=='toggleButton'" ng-hide="!hazardProtection.availableDevices[v.deviceId]">
        <span><img class="navi-img" ng-src="{{hazardProtection.availableDevices[v.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
          {{hazardProtection.availableDevices[v.deviceId].deviceName}}&nbsp;-&nbsp;
          <em>{{hazardProtection.availableDevices[v.deviceId].locationName}}</em>
        </span>
      </span>     
      <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignDevice($index,v.deviceId,'fire')">
        <i class="fa fa-times text-danger"></i>
      </span>
  
    </h2>
  <!-- Content -->
  <div class="accordion" ng-if="v.deviceType!='toggleButton'" hidden ng-include="'app/views/automation/hazard/inputs/'+v.deviceType+'.html'"></div>
</section>