/* Tab
-------------------------------------------------- */
.nav-tabs {
    border-bottom: 1px solid $tabs-border-color;
     text-align: center;
}

.nav-tabs > li > a {
    font-size: $tab-font-size;
     border: 1px solid $tabs-border-color;
     background-color: $tabs-bcg-color;
    .fa{
        font-size: $tab-icon-size;
        color: $tabs-icon-color;
    }
}

.nav-tabs > li > a:hover {
     background-color: transparent;
    text-decoration: underline;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {}
.nav-tabs > li.active > a{
    font-weight: bold;
    background-color: $tabs-active-bcg-color;
}
.nav-tabs > li.active > a:hover{
    text-decoration: none;
}
.nav-tabs > li.active > a i {
    color: $tabs-icon-active-color;
}

.nav-tabs-3 > li {
    width: 33.33333%;
}
.tab-content{
    padding-top: $spacing;
}
.tab-content-form{
    padding: 0;
}