/* Report
-------------------------------------------------- */
.app-row-report{
    border-top: solid 1px $report-border-color;
    background-color: $report-bcg-color;
    border-bottom: solid 1px $report-border-color;    
}
.report-entry {
    border-bottom: solid 1px $report-border-color;
    padding: $spacing $spacing-half;
    width: 100%;
    .report-col{
        display: table-cell;
         vertical-align: middle;
    }
    .report-media{
        width: $report-img + $spacing;
    }
    .report-body{}
    .report-ctrl{
       
        min-width: 110px;
        display: block;
        text-align: right;
    }

    .report-ctrl-3{
        min-width: 160px;
    }
    .report-col-w30{
        width: 30%;
    }
}
