/* Aoutocomplete
-------------------------------------------------- */
.autocomplete{
    width: 100%;

    .aoutocomplete-title{
        display: inline-block;
        padding: 0 $spacing 0 0;
    }
    .rating-group{
        //margin: $spacing 0 0 0;
        .widget-rating{
            font-size: $rating-icon-size * 0.6;
            padding: 0 2px 0 0;
            color: $rating-color;
            &.israted{
                color: $rating-israted-color;
            }
        }
    }
}
