// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body reset
-------------------------------------------------- */
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: $app-font-family-sans-serif;
    font-size: $app-body-font-size;
    line-height: $app-line-height-base;
    color: $app-body-color;
    background-color: $app-body-bcg-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Typo
-------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    color: $app-heading-color;
}
h1 {
    font-size:$app-h1-font-size;
}

h2 {
    font-size: $app-h2-font-size;
    margin: 10px 0 3px 0;
}

h3 {
    font-size: $app-h3-font-size;
}

h4 {
    font-size: $app-h4-font-size;
}

/* Links
-------------------------------------------------- */
a {
    color: $app-a-color;
    text-decoration: none;

    &:hover,&:focus {
        color: $app-a-hover-color;
        text-decoration: underline;
    }

    &:focus {
        // Default
        outline: thin dotted;
        // WebKit
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}
/* Images
-------------------------------------------------- */
img {
    vertical-align: middle;
}
 .report-img{
        max-width: $report-img;
    }

/* Layout
-------------------------------------------------- */
#main_content {
    margin-top: $header-h + $spacing-double; 
    margin-bottom: $footer-h + $spacing-double;
}

.container{
    max-width:none;
    width: 100%;

}
.row {
    padding-right: 0;
    margin-right: 0;

}
.mobile-padding{
    padding: 0 15px;
    .page-header{
        padding: 0;
    }
}

/* Others
-------------------------------------------------- */

.bcg-active.false,.bcg-danger{
    background-color: $app-bcg-danger;
}

.clickable{
    cursor: pointer;
}

.text-supp{
    font-style: italic;
    color: lighten($app-body-color, 30%);
}

.badge{
    padding: 7px;
    margin-right: 5px;
}
.help-text{
    display: block;
    //font-size: 95%;
    font-style: italic;
     margin: 5px 0;
}
.help-text.inline{
    display: inline;
   
}
