// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body reset
-------------------------------------------------- */
html {
    font-size: $app-body-font-size;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: $app-font-family-sans-serif;
    font-size: $app-body-font-size;
    line-height: $app-line-height-base;
    color: $app-body-color;
    background-color: $app-body-bcg-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Typo
-------------------------------------------------- */
h1, h2, h3,h4{
    margin-top: 0;
    color: $app-heading-color;
}
h1 {
    font-size:$app-h1-font-size;
}

h2 {
    font-size: $app-h2-font-size;
    margin: $spacing 0 $spacing-half 0;
}

h3 {
    font-size: $app-h3-font-size;
}

h4 {
    font-size: $app-h4-font-size;
}

.item-cnt{
    font-size: 80%;
}
/* Colors
-------------------------------------------------- */
.color-orange{
    color: orange;
}
/* Links
-------------------------------------------------- */
a {
    color: $app-a-color;
    text-decoration: none;

    &:hover,&:focus {
        color: $app-a-hover-color;
        text-decoration: underline;
    }

    &:focus {
        // Default
        outline: thin dotted;
        // WebKit
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}
/* Fatal error
-------------------------------------------------- */
.app-fatal-error{
    @include appBorderRadius($app-border-radius);
    padding: $spacing-fatal-error;
    margin: 0 0 $spacing-double 0;
    //background: $app-error-background-color $img-fatal-error no-repeat $spacing ($spacing + $spacing-half);
    background-color: $app-error-background-color;
    border: solid 1px $app-error-border-color;
    .fatal-error-message{
        color: $app-error-message-color;
        font-weight: bold;
        font-size: $app-error-message-font-size;
    }
    .fatal-error-info{
        margin: $spacing 0 0 0;
        color: $app-error-info-color;
        font-size: $app-error-info-font-size;
    }
}

/* Others
-------------------------------------------------- */
.timestamp{
    color: $app-timestamp-color;
    font-size: $app-updatetime-font-size;
    .fa{
        font-size: $app-updatetime-icon-size; 
    }
}
.bcg-active.false,.bcg-danger{
    background-color: $app-bcg-danger;
}

.clickable{
    cursor: pointer;
}

.text-supp{
    font-style: italic;
    color: lighten($app-body-color, 30%);
}

.badge{
    padding: $spacing-half;
    margin-right: $spacing-half;
}
.help-text{
    display: block;
    font-size: $helptext-font-size;
    font-style: italic;
    margin: $spacing-half 0;
}
.help-text.inline{
    display: inline;

}
.display-block{
    display: block;
}
.badge-number {
    background-color: $badge-number-bcg-color;
    color: $badge-number-color;
    display: inline-block;
    text-align: center;
    line-height: $badge-number-w - (($badge-number-w/2) / 2);
    width: $badge-number-w;
    height: $badge-number-w;
    font-size: $badge-number-font-size;
    border-radius: 50%;
}