/* Button
-------------------------------------------------- */
.btn-goup-block{
    display: table;
    width: 100%;
    margin: 0 0 $spacing 0;
    .btn{
        &.active .fa{
            color: $btn-icon-active-color;
        }
    }



}

.btn-goup-1{
    .btn{
        width: 100%;
    }
}
.btn-goup-2{
    .btn{
        width: 50%;
    }
}
.btn-goup-3{
    .btn{
        width: 33.33333%;
    }
}

.btn-default {
    color: $btn-color;
    background-color: $btn-bcg-color;
    border-color: $btn-border-color;
}

.btn-default.active {
    background-color:$btn-active-bcg-color;
}

.btn,.btn-device-admin {
    font-size: $app-btn-font-size;
    .fa{
        font-size: $app-btn-icon-size; 
    }
}

.btn-submit{
    color: $btn-submit-color;
    border: solid 1px $app-brand-success;
    background-color: darken($app-brand-success, 20%);
    &:hover,&:focus {
        background-color: $app-brand-success;
    }
}

.btn-installed{
    border: 0 none;
    background-color: none !important;
}

.btn-disabled{
    border: 0 none;
    background-color: transparent !important;
}

.btn-small{
    font-size: $app-btn-small-font-size;
    .fa{
        font-size: $app-btn-small-icon-size;
    }
}

.btn-tag{
    display: block;
    position: relative;
    text-align: left;
    font-size: $app-btn-tag-font-size;
    margin: 0 0 $spacing 0;
    .fa{
        position: absolute;
        top: $spacing-half;
        right: $spacing;
        font-size: $app-btn-tag-icon-size;
    }
}



/* Button tabs
-------------------------------------------------- */
.btn-goup-tabs{
    display: table;
    width: 100%;
    margin: 0 0 $spacing 0;
    .btn{
        padding: $spacing;
        font-size: $tab-font-size;
        background-color: $tabs-bcg-color;
        &.active {
            background-color: $tabs-active-bcg-color;
        }
        .fa{
            font-size: $tab-icon-size;
            color: $tabs-icon-color;
        }
    }
    .active .fa{
        color: $tabs-icon-active-color;
    }
}
.btn-tabs-2{
    .btn{
        width: 50%;
    }
}
.btn-tabs-3{
    .btn{
        width: 33.33333%;
    }
}
.btn-tabs-4{
    .btn{
        width: 25%;
    }
}

/* Switch button
---------- http://www.w3schools.com/howto/howto_css_switch.asp
-------------------------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: $switch-btn-w;
    //width: 60px;
    height: $switch-btn-h;
    //height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: solid 1px $btn-border-color;
    //box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.125);
    //@include appGradientDanger();
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: $switch-btn-slider;
    width:$switch-btn-slider;
   /* height: 26px;
    width: 26px;*/
    left: 4px;
    bottom: 3px;
    background-color: $app-brand-danger;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    //background-color: green;
}
input:checked + .slider:before {
    background-color: $app-brand-success;

}

input:focus + .slider {
    box-shadow: 0 0 1px $app-brand-success;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 4px;
}

/* Switch */