/* Drag and drop
-------------------------------------------------- */
.dd-placeholder{
    width: 100%;//$widget-col-w;
    text-align: center;
    background: whitesmoke;
    border: 3px dashed gray;
    box-sizing: border-box;
    display: table;
    &.dd-element{
        width: $widget-col-w;
        height:  $element-widget-col-h;
    }
}
.dd-on-start{
    background-color: $app-bcg-success;
    opacity: 0.7;
    cursor: text;
}
.dd-handle{
    cursor: move;
}