/* Bootstrap Dropdown
-------------------------------------------------- */
.dropdown-menu {
    font-size: $app-body-font-size;
    .fa{
        font-size: $app-navi-icon-size;
    }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color:lighten($app-body-color, 50%);
    text-decoration: none;
    outline: 0;
    background-color:$header-color-secondary;
}
/* Dropdown
-------------------------------------------------- */
.app-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 2000;
    float: right;
    min-width: 360px;
    padding: 0;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid $app-border-color;
    background-clip: padding-box;
    color: $header-link-color;
    .app-dropdown-title{
        margin: 0;
        padding: 10px;
        font-weight: bold;
        border-bottom: solid 1px lighten($app-border-color, 8%);
    }
    ul{
        padding: 0;
        margin:0;
        list-style: none;
        li{
            padding: 10px 0;
            border-bottom: solid 1px lighten($app-border-color, 8%);
            a{
                display: block;
                position:relative;
                padding: 0 10px;
                vertical-align: middle;
                color: $header-link-color;
            }

            .menu-arrow{
                position: absolute;
                right: 1%;
                display: inline-block;
            }

        }
        .active{
            a{
                color: lighten($header-link-color, 30%);
                font-weight: bold;
                text-decoration: underline;
                cursor:text;
            }
        }
        .fa{
            padding-right: 7px;
        }

    }
}
.app-dropdown-left{
    float: left;
    left: 0;
    right: auto;
}
.app-dropdown-bottom{
     top: auto;
     bottom: 100%;
}

.app-dropdown-mxh-600{
     height: auto;
    max-height: 600px;
    overflow-x: hidden;
}