/* Dropdown
-------------------------------------------------- */
.app-dropdown{
    font-size: $dropdown-font-size; 
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: $zindex-dropdown;
    float: right;
    min-width: $dropdown-w;
    padding: 0;
    text-align: left;
    background-color: $dropdown-bcg-color;
    @include appBoxShadow($dropdown-box-shadow);
    border: 1px solid $dropdown-border-color;
    background-clip: padding-box;
    color: $dropdown-color;
    .app-dropdown-title{
        color: $dropdown-heading-color;
        margin: 0;
        padding: $spacing;
        font-weight: bold;
        border-bottom: solid 1px $dropdown-border-color;
    }
    .app-dropdown-content{
        padding: $spacing;
    }
    ul{
        padding: 0;
        margin:0;
        list-style: none;
        li{
            padding: $spacing;
            border-bottom: solid 1px $dropdown-border-color;
            a{
                display: block;
                position:relative;
                padding: 0;
                vertical-align: middle;
                color: $dropdown-color;
            }

            .menu-arrow{
                position: absolute;
                right: 1%;
                display: inline-block;
            }
            img{
              display: inline-block; 
              margin: 0 $spacing 0 0;
            }
            &:hover{
                background-color: $dropdown-hover-bcg-color;
            }

        }
        .active{
            a{
                color: lighten($dropdown-color, 40%);
                font-weight: bold;
                text-decoration: underline;
                cursor:text;
            }
        }
        .fa{
            font-size: $dropdown-icon-size;
            //padding-right: $spacing;
        }
        .btn{
            display: inline-block;
            position: static;
            padding: 3px 10px;
            vertical-align: middle;
            color: $dropdown-color;
            //vertical-align:baseline;
            border: 0;
            border-radius: 0;
        }

    }
}
.dropdown-100{
    width: 100%;
}
.dropdown-50{
    width: 50%;
}
.dropdown-lang{
    min-width: $dropdown-lang-w;
    ul{
        li{
            display: inline-block;
            padding: $spacing-half;
            border: 0;
            //text-align: center;
        }
    }
}
.app-dropdown-left{
    float: left;
    left: 0;
    right: auto;
}
.app-dropdown-bottom{
    top: auto;
    bottom: 100%;
}

.app-dropdown-mxh-600{
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}