/* Footer
-------------------------------------------------- */
#mobile_footer {
     .navbar{
        z-index: 1020 !important;
    }
   
    
}
#footer,#mobile_footer {
    position: relative;
    text-align: center;
    height: 60px;
    .navbar{
        border-top: solid 4px $footer-border-color;
         background-color: $footer-bcg-color;
    }
    .container{
        margin-top: 10px;
    }
    
}

#footer a{}
#footer a:hover{}