/* Form 
-------------------------------------------------- */
.form-control {
    font-size: $app-input-font-size;
    color: $form-input-color;
    border: solid 1px $form-input-border-color;
    padding: $app-input-padding;
    height: auto;
}

.input-group-addon {
    border: solid 1px $form-input-border-color;
    background-color: $form-addon-bcg-color;
}

textarea{
    min-height: 150px;
}
label{
    font-size: $app-label-font-size;
}
input[type=checkbox]{
    -ms-transform: scale($checkbox-scale); /* IE */
    -moz-transform: scale($checkbox-scale); /* FF */
    -webkit-transform: scale($checkbox-scale); /* Safari and Chrome */
    -o-transform: scale($checkbox-scale); /* Opera */
    padding: $spacing;
    margin: 0 $spacing 0;
}
input[type=radio] { 
    transform: scale($radio-scale, $radio-scale); 
    -moz-transform: scale($radio-scale, $radio-scale); 
    -ms-transform: scale($radio-scale, $radio-scale); 
    -webkit-transform: scale($radio-scale, $radio-scale); 
    -o-transform: scale($radio-scale, $radio-scale); 
    padding: $spacing;
    margin: 0 $spacing 0;
}

// IOS inputs
.os-iphone,.os-ipad,.os-ipod{
    input[type=checkbox]{
        -ms-transform: scale($checkbox-ios-scale); /* IE */
        -moz-transform: scale($checkbox-ios-scale); /* FF */
        -webkit-transform: scale($checkbox-ios-scale); /* Safari and Chrome */
        -o-transform: scale($checkbox-ios-scale); /* Opera */
        padding: $spacing;
        margin: 0 $spacing 0;
    }
    input[type=radio] { 
        transform: scale($radio-ios-scale, $radio-ios-scale); 
        -moz-transform: scale($radio-ios-scale, $radio-ios-scale); 
        -ms-transform: scale($radio-ios-scale, $radio-ios-scale); 
        -webkit-transform: scale($radio-ios-scale, $radio-ios-scale); 
        -o-transform: scale($radio-ios-scale,$radio-ios-scale); 
        padding: $spacing;
        margin: 0 $spacing 0;
    }
}


.form-page{
    margin-bottom: $spacing-double;
    background-color: $form-bcg-color;
    border: solid 1px $form-border-color;
    h3{}
    .form-group{
        border-bottom: solid 1px $form-border-color;
        padding-bottom: $spacing;
        &.last {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    label{
        font-weight: normal;
    }
}

.inputfile{
  // display: inline-block !important;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    cursor: pointer;
}

fieldset, .fieldset{
    padding: $spacing;
}
.isrequired{
    font-weight: bold !important;

}
.isrequired::before { 
    content: "*";
}

.form-control-sm{
    width: 30% !important;
}

.form-control-md{
    width: 50% !important;
} 

.submit-entry{
    text-align: right;
    display: block;
    //margin: 10px 0 0 0;
    background-color: $form-submit-entry-bcg-color;
    border-top: solid 1px $form-border-color;
}

fieldset.submit-entry{
    margin: 0 !important;
}
.form-control-hidden{
    display: none !important;
}
.form-control-img{
    cursor: pointer;
    border: solid 4px transparent;

}
.control-active{
    border: solid 4px black !important;
}
