/* Header
-------------------------------------------------- */
#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-header;
    //margin-bottom: $spacing-double;
    color: $header-color;
    font-size: $app-navi-font-size; 
    .container{
        padding: 0;
    }
    .divider-vertical {
        // display: none;
        height: $header-h;
        border-left: 1px solid $header-delim-l-color;
        border-right: 1px solid $header-delim-r-color;
    }

    .fa{
        font-size: $app-navi-icon-size;  
    }
}

/* Main navigation
-------------------------------------------------- */
#main_navigation_wrap{
    background-color: $header-bcg-color;
    border-bottom: solid 1px $header-border-color;
    height: $header-h;
}
#main_navigation{
    position: relative;
    line-height: $header-h;
    a{
        display: inline-block;
        padding: 0 15px;
        color: $header-a-color;
        line-height: $header-h;
    }
    a:hover{
        background-color: darken($header-a-active-color, 5%);
    }
    .active{
        background-color:$header-a-active-color;
        color: lighten($header-a-active-color, 10%);
    }
}
#header_logo{
    max-height: 40px;
    max-width: 100px;
}
#navigation_left{
    position: absolute;

}
#navigation_right{
    float: right;
}
#navi_settings{
    border-radius: 4px;
    //border: solid 1px $header-border-color;
    height: $header-icon-settings-h;
    line-height: $header-icon-settings-h !important;
    padding: 7px;
    margin-right: 15px;
}
.navi-time-link{
    cursor: pointer;
}
.navi-time{
    padding-left: 10px;
}

.mobile-icon{
    padding-left: 7px;
    color: $header-a-color;
    .fa{
        font-size: $app-body-font-size;   
    }
}

/* Subnavigation
-------------------------------------------------- */
#sub_navigation{
    position: relative;
}
#sub_navigation_in{
    ul{
        padding: 0;
        list-style: none;
        //w: margin: 0 0 0 66%;
        margin: 0 $spacing;
        background-color: $header-subnavi-bcg-color;
        @include appBoxShadow($app-mainsubnavi-box-shadow);
        border: 1px solid $header-subnavi-border-color;
        li{
            padding: $spacing 0;
            border-bottom: solid 1px $header-border-color;
            a{
                display: block;
                position:relative;
                //w: padding: 0 10px;
                padding:  $spacing  $spacing-double;
                vertical-align: middle;
                color: $header-subnavi-color;
            }

            .subnavi-arrow{
                position: absolute;
                right: 1%;
                display: inline-block;
            }

        }
        .active{
            a{
                color: $header-subnavi-active-color;
                font-weight: bold;
                text-decoration: underline;
            }
            .fa{
                color: $header-subnavi-active-color;
            }
        }
        .fa{
            color: $header-icon-color;
            padding-right: 7px;
        }

    }
}