/* Images
-------------------------------------------------- */
img {
    vertical-align: middle;
}
.img-circle{
    border-radius: 50%;
}
.report-img{
    max-width: $report-img;
    max-height: $report-img;
}
.widget-img{
    img{
        max-width: $widget-img;
        max-height: $widget-img;
        border: solid 4px $widget-img-border-color;
        @include appBorderRadius(50%);
    }

}
.product-img{
    max-width: $product-img;
    max-height: $product-img;
}
.room-image-preview{
    border: solid 6px $room-border-color;
    width: $room-img-preview;
    height:$room-img-preview;
}

.has-device-false{
    .room-image-preview{
        opacity: 0.5;
    }
} 
.room-img-upload{
    display: inline-block;
    max-width: $room-img-upload;
    max-height: $room-img-upload;
    margin: $spacing-half;
}