/* Image list
-------------------------------------------------- */
// Settings
$infowindow-w: 200px;
// CSS
.app-row-imglist{
    border: solid 1px $imglist-border-color;
    background-color: $imglist-background-color;
}
.imglist-entry{
    text-align: center;
    width: $imglist-img + 10px;
    height: $imglist-img + 20px;
    @include appFloat(left);
    margin: 10px;
    &.in-device{
        background-color: $app-bcg-danger;
    }
    .imglist-img{
        margin: 0 0 $spacing-half 0;
    }
}