/* Absolute Center CSS Spinner
http://codepen.io/MattIn4D/pen/LiKFC
-------------------------------------------------- */
#loading{
    position: fixed;
    z-index: $zindex-loader - 1;
    width: $loader-w;
    height: $loader-h;
    overflow: show;
    margin: $loader-margin;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: $loader-color;
    .loading-in{
        position: relative;
        z-index: $zindex-loader;
        margin: auto;
        padding: $spacing;
        background-color: $loader-bcg-color;
        border: solid 2px $loader-border-color;
        @include appBorderRadius($app-border-radius);
    }
    a{
        font-weight: bold;
        text-decoration: underline;
    }
}

/* Transparent Overlay */
.loading-spin:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $app-overlay-bcg-color;
}

.loading-fade{
    opacity: 0;
    -webkit-transition: opacity $loader-fadeout;
    -moz-transition: opacity $loader-fadeout;
    -ms-transition: opacity $loader-fadeout;
    -o-transition: opacity $loader-fadeout; 
    transition: opacity $loader-fadeout;

}
