/* Modal
-------------------------------------------------- */
.appmodal { 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
     overflow: show;
     color: $modal-color;
    .appmodal-in{
        width: $modal-w;
        position: relative;
        margin: $modal-margin;
       background-color: $modal-bcg-color;
    }
}
.appmodal-100 { 
    .appmodal-in{
        width: $modal-full-w;
    }
}
.appmodal-90 { 
    .appmodal-in{
        width: 90%;
    }
}
#modalHistory{
    z-index: $zindex-modal + 1;
}

.appmodal:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $app-overlay-bcg-color;
}
.appmodal-header,.appmodal-body,.appmodal-footer{
    padding: 10px 15px;
}

.appmodal-header{
   border-bottom: solid 1px $modal-border-color;
  .appmodal-close{
        color: $modal-icon-color;
        display: block;
        text-decoration: none;
        position: absolute; 
        right: $spacing; 
        top: 7px;
        z-index: 2;
        cursor: pointer;
        span{
            display: inline-block;
        }
    }
    h3{
        margin: 0;
        color: $modal-heading-color;
    }
}

.appmodal-body{}

.appmodal-footer{
  border-top: solid 1px $modal-border-color;  
  text-align: right;
}