/* Modal
-------------------------------------------------- */
.appmodal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  overflow: show;
  color: $app-body-color;
  // Animation
  &.ng-animate {
    transition: all ease 0.4s;
    position: absolute;
  }
  &.ng-enter {
    top: -200px;
    opacity: 0;
  }
  &.ng-leave,
  &.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
  }
  .accordion-entry-ctrl.ng-leave.ng-leave-active {
    top: 200px;
    opacity: 0;
  }
  .appmodal-in {
    width: 99%;
    position: relative;
    margin: ($header-h + $spacing-double) auto $spacing-double auto;
    background-color: #ffffff;
    @include mediaQueries(min-small) {
      width: 60%;
    }
  }
}

.appmodal-100 {
  .appmodal-in {
    width: 99% !important;
  }
}

.appmodal-90 {
  .appmodal-in {
    width: 90%;
  }
}

#modalHistory {
  z-index: $zindex-modal + 1;
}

.appmodal:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $app-overlay-bcg-color;
}

.appmodal-header, .appmodal-body, .appmodal-footer {
  padding: 10px 15px;
}

.appmodal-header {
  border-bottom: solid 1px $app-border-color;
  .appmodal-close {
    font-size: 180%;
    display: block;
    text-decoration: none;
    position: absolute;
    right: $spacing;
    top: 0;
    z-index: 2;
    cursor: pointer;
    // Media queries for small devices
    @include mediaQueries(min-small) {
      font-size: 140%;
    }
    span {
      display: inline-block;
    }
  }
  h3 {
    font-size: 110%;
    margin: 0;
    color: $app-heading-color;
  }
}

.appmodal-body {
}

.appmodal-footer {
  border-top: solid 1px $app-border-color;
  text-align: right;
}

/* Modal with knob
-------------------------------------------------- */
.app-row-knob {
  // Media queries
  @include mediaQueries(min-small) {
    display: table;
    width: 100%;
  }
  .knob-col {
    padding: $spacing;
    // Media queries
    @include mediaQueries(min-small) {
      display: table-cell;
      vertical-align: middle;
      padding: $spacing;
      width: 50%;
    }
  }

  .knob-ctrl {
    @include mediaQueries(min-small) {
      text-align: right;
    }
  }
  .knob-btn {

    @include mediaQueries(min-small) {
      text-align: left;
    }
  }
}

/* Confirm content
-------------------------------------------------- */
.app-confirm-content {
  padding: $spacing;
  border: solid 1px $app-border-color;
  margin: $spacing 0;
  max-height: 200px;
  overflow: auto;
}

/* Modal James Box
-------------------------------------------------- */
#jamesBoxUpdateModal #updateTimeout {
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
  font-size: 16px;
}

#jamesBoxUpdateModal ol {
  margin: 15px 0;
}

#jamesBoxUpdateModal li.jamesboxUpdateInfoList {
  margin: 0 0 5px 0;
}

/* Modal element event
-------------------------------------------------- */
#modalEvent {
  .appmodal-body {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
  }

}