/* Page navigation
-------------------------------------------------- */
.page-control{
    .form-group{
        margin: 0 $spacing-double 0 0;
    }
    text-align: right;
    margin-bottom: $spacing;
     input[type=text]{
       min-height: $page-control-input-h;
       line-height: $page-control-input-h;
    }
} 

.page-navi{
    font-size: $page-navi-font-size; 
    position: relative;
    width: 100%;
    height: 100%;
    color: $page-navi-color;
    .page-navi-in{
        position: absolute;
        background-color: $page-navi-bcg-color;
        @include appBoxShadow($page-navi-box-shadow);
        border: 1px solid $page-navi-border-color;
        width: 100%;
        top:0;
        left:0;
        z-index: $zindex-page-navi;
    }
    ul{
        list-style: none;
        text-align: left;
        padding: $spacing;
        margin: 0;
        li{
            padding: $spacing;
            border-bottom: solid 1px $app-border-color;
            // Media queries
            @include mediaQueries(min-small) {
                display: block;
                float: left;
                width: 33.33333%;
            }
            a{
                 position:relative;
                min-height: 1px;
                //w: min-height: $page-navi-h;
                color: $page-navi-color;
                text-align: left;
                vertical-align: top;
                display: block;
                margin: auto;
                @include mediaQueries(min-small) {
                    min-height: 30px;
                    margin: auto $spacing;
                }
            }
            .navi-img{
                display: inline-block;
                margin: 0 $spacing 0 0;
            }

            .page-navi-icon{
                position: absolute;
                right: 1%;
                display: inline-block !important;
                @include mediaQueries(min-small) {
                    display: none !important;
                }
            }
        }
        .active{
            a{
                color: $page-navi-active-color;
                font-weight: bold;
                text-decoration: underline;
            }
            .fa{
           color: $page-navi-active-color;

        }
        }
        .fa{
            padding-right: 7px;
            color: $header-icon-color;

        }
    }
    .fa{
        font-size: $page-navi-icon-size;  
    }
    .page-navi-title{
        text-align: left;
        margin: 0;
        padding: $spacing $spacing-double;
        color: $page-navi-heading-color;
        //border-bottom: solid 1px $page-navi-border-color;
    }
    .page-navi-content{
        padding: $spacing;
    }
    .page-navi-tag {
        border: solid 1px $page-navi-border-color;
        display: inline-block;
        margin: $spacing-half;
        padding: $spacing-half;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: $app-border-radius;
    }
    .page-navi-tag.active{
        background-color: $page-navi-border-color;
        cursor:text;
    }
}

.page-navi-in ul:before, .page-navi-in ul:after {
    display: table;
    content: "";
    line-height: 0;
}
.page-navi-in ul:after {
    clear: both;
}