/* Table
-------------------------------------------------- */
.table{
    tbody{
        tr{
            td{
                border-top: 1px solid $app-border-color; 
            }
        }
    }

}
.table-report{
    border: 0 !important;
    margin-bottom: 0 !important;
    tbody{
        td{
            vertical-align: middle !important;
            background-color: $report-bcg-color;
        }
        .td-img{
            width: 30px;
        }
        .td-action{
            text-align: right;
        }
    }
}
.table-products{
    td{
        vertical-align: middle !important;
    }
}

.td20{
    width: 20%;
}
.td30{
    width: 30%;
}