/* Global variables
-------------------------------------------------- */

/*-------------------------------------*/
// GRID
$grid-gutter: 15px;

/*-------------------------------------*/
// MEDIA QUERIES

$media-lg: 1200px;
$media-mid: 900px;
$media-sm: 600px;

/*-------------------------------------*/
// SPACING

$spacing: 10px;                
$spacing-double: $spacing * 2;   
$spacing-third: $spacing * 3;    
$spacing-half: $spacing / 2;
$spacing-fatal-error: 20px 20px 20px 52px;

/*-------------------------------------*/
// DIMENSIONS: WIDTHS, HEIGHTS
// Base
$app-line-height-base:        1.428571429 !default; // 20/14
// Base
$app-container-w: 100%;

// Input
$checkbox-scale: 2;
$checkbox-ios-scale: 1.3;
$radio-scale: 1.8;
$radio-ios-scale: 1.2;
$app-input-padding: 12px 14px;
// Header
$header-h: 50px;
$header-icon-settings-h: 40px;

// Page navigation
$page-control-input-h: 40px;
$page-navi-h: 50px;

// Dropdown
$dropdown-w: 300px;
$dropdown-lang-w: 250px;

// Overflow H
$app-overflow-h: 500px;

// Modal
$modal-margin: ($header-h + $spacing-double) auto $spacing-double auto;
$modal-w: 99%;
$modal-full-w: 99%;

// Loader
$loader-w: 260px;
$loader-h: 50px;
$loader-margin: 80px auto auto auto;

// Images
$fatal-error-img: 32px;
$navi-img: 32px;
$report-img: 60px;
$widget-img: 64px;
$app-detail-img:128px;
$element-icon-img: 48px;
$customize-img: 120px;
$customize-detail-img: 300px;
$include-detail-img:128px;
$customize-icon-preview-img:64px;
$product-img: 64px;
$vendor-img: 80px;
$room-img-upload: 70px;
$room-img-preview: 130px;
$report-img-s: 32px;
$lang-img: 32px;

// Footer
$footer-h: 50px;

//Widget
$widget-col-w: 100%;
$widget-col-h: 150px;

//Elements
$element-widget-col-h: 150px;

//Apps
$app-widget-col-h: 120px;

//Customize
$customize-widget-col-h: 120px;
$customize-icon-preview-h: 300px;
$customize-modal-content-h: 600px;

//Room
$room-col-w: 50%;

//Login
$auth-page-w: 500px;

//Badge number
$badge-number-w: 32px;

//Devices
$device-vendor-w: 33.33333%;

/*-------------------------------------*/
// Z:INDEX
$zindex-alertify: 2500;
$zindex-loader: 2400;
$zindex-header: 2100;
$zindex-page-navi: 2101;
$zindex-dropdown: 1100;
$zindex-modal: 2300;
$zindex-footer: 2100;
$zindex-m-footer: 2130;

/*-------------------------------------*/
// images

/*-------------------------------------*/
// FONTS

// Font family
$app-font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$app-font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$app-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Font size
$app-body-font-size: 17px;
$app-error-message-font-size: 120%;
$app-error-info-font-size: 105%;
$app-navi-font-size: 120%;
$app-btn-font-size: 110%;
$app-btn-icon-size: 150%;
$app-btn-small-font-size: 90%;
$app-btn-small-icon-size: 95%;
$app-btn-tag-font-size: 100%;
$app-btn-tag-icon-size: 150%;
$app-input-font-size: 95%;
$app-label-font-size: 105%;
$app-navi-icon-size: 120%;
$app-updatetime-font-size: 17px;
$app-updatetime-icon-size: 110%;
$app-h1-font-size: 160%;
$app-h2-font-size: 140%;
$app-h3-font-size: 120%;
$app-h4-font-size: 110%;
$page-navi-font-size: 120%;
$page-navi-icon-size: 130%;
$modal-close-size: 180%;
$modal-heading-font-size: 110%;
$dropdown-font-size: 110%;
$dropdown-icon-size: 120%;
$accordion-heading-font-size: 120%;
$accordion-icon-size: 130%;
$tab-font-size: 120%;
$tab-icon-size: 130%;
$helptext-font-size: 95%;
$widget-heading-font-size: 115%;
$widget-icon-size: 180%;
$element-widget-room-font-size: 85%;
$element-widget-level-font-size: 160%;
$element-widget-scale-font-size: 110%;
$element-widget-caret-font-size: 140%;
$element-widget-time-font-size: 85%;
$badge-number-font-size: 120%;
$modal-camera-font-size: 170%;
$comment-font-size: 100%;
$comment-header-font-size: 95%;
$rating-icon-size: 150%;

/*-------------------------------------*/
// COLORS

// Base
$app-brand-primary:         #6494BC !default;
$app-brand-success:         #80AD80 !default;
$app-brand-info:            #5bc0de !default;
$app-brand-warning:         #f0ad4e !default;
$app-brand-danger:          #d9534f !default;

$app-color-primary: #000000;
$app-color-secondary: #000000;
$app-timestamp-color: lighten($app-color-primary, 20%);;
$app-error-border-color: $app-brand-danger;
$app-error-background-color: #FFFFFF;
$app-error-message-color: $app-brand-danger;
$app-error-info-color: #000000;
$app-border-color: lighten($app-color-primary, 80%);
$app-body-color:  lighten($app-color-primary, 5%);
$app-body-disabled-color:  lighten($app-body-color, 50%);
$app-body-bcg-color:  #FFFFFF;
$app-a-color:  lighten($app-color-primary, 20%);
$app-a-hover-color:  lighten($app-color-primary, 10%);
$app-heading-color: lighten($app-body-color, 40%);
$app-h1-color: $app-heading-color; 
$app-h2-color: $app-heading-color; 
$app-h3-color: $app-heading-color;
$app-h4-color: $app-heading-color;
$app-bcg-success: #dff0d8;
$app-bcg-info: #d9edf7;
$app-bcg-warning: #fcf8e3;
$app-bcg-danger: #f2dede;

$app-overlay-bcg-color: rgba(37, 37, 37, 0.5);

// Header
$header-color: lighten($app-color-primary, 5%);
$header-bcg-color:  #FFFFFF;
$header-border-color: $app-border-color;
$header-delim-color: $app-border-color;
$header-delim-l-color: darken($app-border-color, 10%);
$header-delim-r-color: lighten($app-border-color, 15%);
$header-a-color: $app-a-color;
$header-icon-color: lighten($header-a-color, 20%);
$header-a-active-color: $app-border-color;
$header-subnavi-border-color: $app-border-color;
$header-subnavi-color: $app-a-color;
$header-subnavi-bcg-color: #FFFFFF;
$header-subnavi-active-color: lighten($header-subnavi-color, 50%);



// Page navigation
$page-navi-bcg-color: #FFFFFF;
$page-navi-color: $app-a-color;
$page-navi-active-color: lighten($page-navi-color,50%);
$page-navi-border-color: $app-border-color;
$header-icon-color: lighten($page-navi-color, 20%);
$page-navi-heading-color: $app-heading-color;

// Dropdown
$dropdown-bcg-color: #FFFFFF;
$dropdown-color: $app-a-color;
$dropdown-border-color: $app-border-color;
$dropdown-icon-color: lighten($dropdown-color, 20%);
$dropdown-heading-color: $app-heading-color;

// Accordion
$accordion-bcg-color: #FFFFFF;
$accordion-color: $app-a-color;
$accordion-border-color: $app-border-color;
$accordion-icon-color: lighten($accordion-color, 20%);
$accordion-heading-color: $app-heading-color;

// Buttons
$btn-color: $app-body-color;
$btn-bcg-color: #FFFFFF;
$btn-border-color: #CCCCCC;
$btn-active-bcg-color: #FFFFFF;
$btn-icon-active-color: $app-brand-success;

// Tabs
$tabs-bcg-color: #FFFFFF;
$tabs-color: $app-body-color;
$tabs-border-color: $app-border-color;
$tabs-icon-color: lighten($tabs-color, 20%);
$tabs-icon-active-color: $app-brand-success;
$tabs-active-bcg-color: darken($tabs-bcg-color, 5%);

// Modal
$modal-bcg-color: #FFFFFF;
$modal-color: $app-body-color;
$modal-icon-color: lighten($modal-color, 20%);
$modal-border-color: $app-border-color;
$modal-heading-color: $app-heading-color;

// Loader
$loader-bcg-color: #FFFFFF;
$loader-color: $app-body-color;
$loader-border-color: $app-border-color;

// Pagination
$pagination-bcg-color: #FFFFFF;
$pagination-color: $app-a-color;
$pagination-border-color: $app-border-color;
$pagination-active-bcg-color: $pagination-border-color;
$pagination-active-color: #FFFFFF;

// Footer
$footer-border-color: $app-border-color;
$footer-bcg-color: #FFFFFF;

// Button
$btn-submit-color:  #FFFFFF;

// Form
$form-border-color: $app-border-color;
$form-bcg-color: #FFFFFF;
$form-input-border-color: #CCCCCC;
$form-input-color: lighten($app-body-color, 30%);
$form-submit-entry-bcg-color: #FFFFFF;
$form-addon-bcg-color: #EEEEEE;

// Report
$report-border-color: $app-border-color;
$report-bcg-color: #FFFFFF;

// Device
$device-bcg-color: #FFFFFF;
$device-color: $app-body-color;
$device-border-color: $app-border-color;

// Widget
$widget-bcg-color: #FFFFFF;
$widget-img-border-color: #FFFFFF;
$widget-color: $app-body-color;
$widget-border-color: $app-border-color;
$widget-success-border-color: lighten($app-brand-success,20%);
$widget-warning-border-color: lighten($app-brand-warning,20%);
$widget-danger-border-color: lighten($app-brand-danger,20%);
$widget-heading-color: $app-heading-color;
$widget-icon-color:lighten($widget-color, 40%);

// Element
$element-widget-room-color: lighten($widget-color, 40%);
$element-widget-caret-color: lighten($widget-color, 40%);
$element-widget-time-color: lighten($widget-color, 40%);
$element-widget-level-color: $app-body-color;
$element-widget-btn-color: lighten($widget-color, 80%);
$element-widget-btn-border-color: $element-widget-btn-color;
$element-widget-btn-bcg-color: #FFFFFF;
$element-widget-btn-0-color: $app-brand-danger;
$element-widget-btn-1-color: $app-brand-success;
$element-widget-btn-on-color: lighten($widget-color, 40%);
$element-widget-img-update-border-color: $app-border-color;
$element-widget-isnew-border-color: lighten($app-brand-success,20%);

// Customiz
$customize-border-color: $app-border-color;
// Room
$room-border-color: $app-border-color;

// Badge number
$badge-number-bcg-color: lighten($app-body-color, 60%);
$badge-number-color: #FFFFFF;

// Comments and ratings
$rating-color: lighten($app-body-color,50%);
$rating-israted-color: lighten(#f0ad4e,10%);
$comment-even-bcg-color:  #E9E9E9;
$comment-color: $app-body-color;
$comment-header-color:  lighten($comment-color, 20%);


/*-------------------------------------*/
// EFFECTS
// Radius
$app-border-radius: 4px;

// Shadow
$app-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$app-mainsubnavi-box-shadow: $app-box-shadow;
$page-navi-box-shadow: $app-box-shadow;
$dropdown-box-shadow: $app-box-shadow;
$element-widget-btn-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

// Loader fade out
$loader-fadeout:  7s;

