/* App variables
-------------------------------------------------- */
// Font family
$app-font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$app-font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$app-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
// Line height
$app-line-height-base:        1.428571429 !default; // 20/14
// Font size
$app-body-font-size: 17px;
$app-navi-font-size: 19px;
$app-navi-icon-size: $app-navi-font-size * 1.2;
$app-h1-font-size: $app-body-font-size * 1.6;
$app-h2-font-size: $app-body-font-size * 1.4;
$app-h3-font-size: $app-body-font-size * 1.2;
$app-h4-font-size: $app-body-font-size * 1.1;

// Shadow
$app-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$app-subnavi-box-shadow: $app-box-shadow;
// Header
$header-h: 75px;
$header-icon-settings-h: 40px;

//Colors
$app-color-primary: #000000;
$app-color-secondary: #000000;
$app-border-color: lighten($app-color-primary, 80%);
$app-body-color:  lighten($app-color-primary, 5%);
$app-body-bcg-color:  #FFFFFF;
$app-a-color:  lighten($app-color-primary, 20%);
$app-a-hover-color:  lighten($app-color-primary, 10%);
$app-header-color: lighten($app-color-primary, 5%);
$app-header-bcg-color:  #FFFFFF;
$header-border-color: $app-border-color;
$header-delim-color: $app-border-color;
$header-a-color: $app-a-color;
$header-a-active-color: $app-border-color;
$header-subnavi-bcg-color: #FFFFFF;