/* Widget
-------------------------------------------------- */
.app-row-room{}
.widget-entry{
    width: $widget-col-w;
    color: $widget-color;
    .widget-entry-in{
        border-bottom: solid 1px $widget-border-color;
        background-color: $widget-bcg-color;
        height: $widget-col-h;
        position: relative;
        padding: $spacing;
        .widget-img{
            position: absolute;
            top: $spacing-double;
            left: $spacing;

        }

        .widget-header {
            position: relative;
            text-align: right;
            .widget-icon{
                color: $widget-icon-color;
                .fa{
                    padding: 0 0 0 $spacing;
                    font-size: $widget-icon-size;
                }
            }
        }
        .widget-content{
            margin: -$spacing 0 0 $widget-img + $spacing-double;
        }
        .widget-title{
            height:50%;
            color: $widget-heading-color;
            h3{
                font-size: $widget-heading-font-size;
                padding: 0;
                margin: 0;
                a{
                    color: $widget-heading-color;
                }
            }
        }
        .widget-footer{
            height:50%;

        }
        .bottom-aligner {
            border:0;
            display: inline-block;
            height: 100%;
            vertical-align: bottom;
            width:1px;
        }
        .widget-ctrl-click{
            cursor: pointer;
        }

        .widget-ctrl{
            width: 50%;
            float: left;
        }
        .widget-ctrl.ctrl-left{
            .btn-group,.switch-wrap{
                float: left; 
            }
            .switch-wrap{
                padding: 0 $spacing-half 0 0;
            }
        }
        .widget-ctrl.ctrl-right{
            float: right;
            text-align: right;
            .btn-group{
                float: right;
            }
        }
    }
}
.tbl-widget-ctrl{ 
    .widget-history{
        color: $widget-icon-color;
        .fa{
            padding: 0 0 0 $spacing;
            font-size: $widget-icon-size;
        }
    }
}
.widget-success{
    .widget-entry-in{
        border-color: $widget-success-border-color !important;
        border-width: 4px;
    }
}
/* Widget securityControl
-------------------------------------------------- */
.securityControl{
    .ctrl-left{
        width: 70% !important;
    }
    .ctrl-right{
        width: 30% !important;
    }
}
