/* Header
-------------------------------------------------- */
#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 20px;
    color: $header-color-secondary;
    font-size: $app-navi-font-size; 
    .container{
        padding: 0;
    }
    .divider-vertical {
        height: $header-h;
        border-left: 1px solid darken($header-color-secondary, 10%);
        border-right: 1px solid lighten($header-color-secondary, 15%);
    }
    
    .fa{
       font-size: $app-navi-icon-size;  
    }
}

/* Main navigation
-------------------------------------------------- */
#main_navigation_wrap{
    background-color: $header-color-primary;
    border-bottom: solid 4px $header-color-secondary;
    height: $header-h;
}
#main_navigation{
    position: relative;
    line-height: $header-h;
    a{
        display: inline-block;
        padding: 0 15px;
        color: $header-link-color;
        line-height: $header-h;
    }
    a:hover{
        background-color: darken($header-color-secondary, 5%);
    }
    .active{
        background-color:$header-color-secondary;
        color: lighten($header-color-secondary, 10%);
    }
    #update_time_tick{
        font-size: $app-body-font-size;
        .fa{
            font-size: $app-body-font-size; 
        }
    }
    .fa-mobile{
        font-size: $app-body-font-size;
    }
}
#header_logo{
    max-height: 40px;
    max-width: 100px;
}
#navigation_left{
    position: absolute;

}
#navigation_right{
    float: right;
}
.navi-time-link{
    cursor: pointer;
}
.navi-time{
    padding-left: 10px;
}

.mobile-icon{
    padding-left: 7px;
    color: $header-link-color;
    .fa{
      font-size: $app-body-font-size;   
    }
}

/** Profile colors */
.profile-dddddd{
    @include appProfileColors(#dddddd);
}
.profile-6c7a89{
    @include appProfileColors(#6c7a89);
}
.profile-6494bc{
    @include appProfileColors(#6494bc);
}
.profile-80ad80{
    @include appProfileColors(#80ad80);
}
.profile-31b0d5{
    @include appProfileColors(#31b0d5);
}
.profile-f0aD4e{
    @include appProfileColors(#f0aD4e);
}
.profile-d9534f{
    @include appProfileColors(#d9534f);
}
.profile-dd976e{
    @include appProfileColors(#dd976e);
}

/* Subnavigation
-------------------------------------------------- */
#sub_navigation{
    position: relative;
        .container_{
        width: 33%;
        background-color: #fff;
         background-color: lighten($app-body-bcg-color, 2%);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        margin:0;
    }

   
}
#sub_navigation_in{
    ul{
        padding: 0;
        list-style: none;
        margin: 0 0 0 66%;
        background-color: #fff;
         background-color: lighten($app-body-bcg-color, 2%);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        //opacity: 0.9;
        //margin:0;
        //float: right;
        li{
            //display: inline-block;
            //width: 33%;
            padding: 10px 0;
            border-bottom: solid 1px $app-border-color;
           //border: solid 4px lighten($app-body-bcg-color, 2%);
            a{
                display: block;
                    position:relative;
                    padding: 0 10px;
                    vertical-align: middle;
                   
                     color: $header-link-color;
                    //color: #fff;
            }
            
            .subnavi-arrow{
                    position: absolute;
                    right: 1%;
                    display: inline-block;
                }

        }
        .active{
            a{
               font-weight: bold;
                   text-decoration: underline;
            }
        }
        .fa{
            padding-right: 7px;
        }

    }
/*    .subnavi-apps {background-color: lighten(#dd976e, 30%);.fa{color: #dd976e;}} 
        .subnavi-devices {background-color: lighten(#6c7a89,30%);.fa{color: #6c7a89;}}
        .subnavi-config-rooms {background-color: lighten(#6494bc,30%);.fa{color: #6494bc;}} 
        .subnavi-myaccess {background-color: lighten(#80ad80,30%);.fa{color: #80ad80;}} 
        .subnavi-admin {background-color: lighten(#31b0d5,30%);.fa{color: #31b0d5;}}
        .subnavi-report {background-color: lighten(#f0aD4e,30%);.fa{color: #f0aD4e;}}
        .subnavi-info {background-color: lighten(#d9534f,30%);.fa{color: #d9534f;}} 
        .subnavi-logout {background-color: lighten(#6494bc,30%);.fa{color: #6494bc;}}*/
/*        .subnavi-apps {.subnavi-arrow{color: #dd976e;}} 
        .subnavi-devices {.subnavi-arrow{color: #6c7a89;}}
        .subnavi-config-rooms {.subnavi-arrow{color: #6494bc;}} 
        .subnavi-myaccess {.subnavi-arrow{color: #80ad80;}} 
        .subnavi-admin {.subnavi-arrow{color: #31b0d5;}}
        .subnavi-report {.subnavi-arrow{color: #f0aD4e;}}
        .subnavi-info {.subnavi-arrow{color: #d9534f;}} 
        .subnavi-logout {.subnavi-arrow{color: #6494bc;}}*/
        

}

#sub_navigation_close{
    text-align: right;
    border-top: solid 1px $app-border-color;
    padding: 5px 10px 5px 5px;
}