/* Table
-------------------------------------------------- */
.table{
    tbody{
        tr{
            td{
                border-bottom: 1px solid lighten($app-border-color, 3%); 
            }
        }
    }

}
.table-report{
    border: 0 !important;
    margin-bottom: 0 !important;
    td{
        vertical-align: middle;
    }
    tbody{
        tr{
            //background-color: lighten($app-body-bcg-color, 15%); 
            background-color: #fff;
        }
        .td-img{
            width: 30px;
        }
        .td-action{
            text-align: right;
        }
    }
}
.table-products{
    td{
        vertical-align: middle !important;
    }
}

.td20{
    width: 20%;
}
.td30{
    width: 30%;
}