<!-- Title armFailureAction -->
<h2 class="accordion-toggle chevron">
    <button type="button" aria-expanded="false" bb-accordion>
<span class="is-legend">
  {{_t('inputArming')}}
  <span class="item-cnt"> ({{_.size(security.input.params.inputArming.table)}})</span>
</span>
    </button>
</h2>
<!-- Content  -->
<div class="accordion no-bcg" hidden>
    <div class="panel-wrap">
        <div class="form-group condition-panel" ng-if="security.input.params.inputArming.table.length">
            <div class="condition-body">
                {{_t('device_title')}}
            </div>
            <div class="condition-control">
                <div></div>
                <div></div>
                <div>
                    {{_t('input_arming_header')}}
                </div>
            </div>
        </div>
        <div class="condition-panel" ng-repeat="d in security.input.params.inputArming.table">
            <!-- img -->
            <div class="condition-body">
                <figure class="img wh-32x32">
                    <img ng-src="{{d.iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img"/>
                </figure>
                <div>
      <span>
        {{d.deviceName}} -
        <em class="item-cnt">{{d.locationName}}</em>
      </span>
                </div>
            </div>
            <div class="condition-control">
                <div></div>
                <div></div>
                <label class="switch">
                    <input type="checkbox" ng-model="d.conditions" ng-true-value="on"
                           ng-false-value="off">
                    <span class="slider"></span>
                </label>
                <button type="button" class="btn btn-text" title="{{_t('lb_remove')}}"
                        ng-click="unassignDevice(d.devices,'inputArming')">
                    <i class="fas fa-times text-danger"></i>
                </button>
            </div>
        </div>
    </div>
    <h3>{{_t('devices_trigger_alarm')}}</h3>
    <section class="accordion-wrap" ng-repeat="r in security.rooms track by $index"
             ng-class="security.devicesInRoom.input[r.id] ? 'available-devices' : 'ng-hide'">
        <!-- Title -->
        <h2 class="accordion-toggle chevron">
            <button type="button" aria-expanded="false" bb-accordion>
      <span>
        <img class="navi-img" ng-src="{{r.img_src}}" alt="img"/> {{r.title}}
      </span>
            </button>
        </h2>
        <!-- Content -->
        <div class="accordion" hidden>
            <a href="" class="btn btn-default btn-tag" title="{{d.deviceName + ' | ' + _t(d.deviceType)}}"
               ng-repeat="d in security.devices.input"
               ng-if="d.location == r.id &&  !security.input.params.inputArming.table[getModelIndex(d.deviceId,'inputArming.table')]"
               ng-click="assignDevice(d.deviceId,'inputArming')">
                <img class="navi-img" ng-src="{{security.availableDevices[d.deviceId].iconPath}}"
                     err-src="{{cfg.img.placeholder}}" alt="img"/>
                {{d.deviceName|cutText:true:20}}
                <i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
            </a>
        </div>
    </section>

</div>
