<!-- list -->
<div class="panel-wrap">
  <div class="list-panel" ng-repeat="d in security.devices.input track by $index" ng-if="security.input.params.input.table[getModelIndex(d.deviceId,'input.table')]">
    <!-- img -->
    <figure class="img wh-32x32">
      <img ng-src="{{d.iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
    </figure>
    <div class="body">
      <div>
        <span>
          {{d.deviceName}} -
          <em class="item-cnt">{{d.locationName}}</em>
        </span>
        <em class="subhead-info">{{_t('lb_alarm_trigger_device_when_state',{__device__: d.deviceName,__level__:security.input.params.input.table[getModelIndex(d.deviceId,'input.table')].conditions})}}</em>
      </div>
    </div>
    <div class="control">
      <label class="switch">
        <input type="checkbox" ng-model="security.input.params.input.table[getModelIndex(d.deviceId,'input.table')].conditions" ng-true-value="on"
        ng-false-value="off">
        <span class="slider"></span>
      </label>
      <!-- <span class="switch-label ng-binding">{{security.input.params.input.table[getModelIndex(d.deviceId,'input.table')].conditions}}</span> -->
      &nbsp;
      <button type="button" class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignDevice(d.deviceId,'input')">
      <i class="fa fa-times text-danger"></i>
      </button>
    </div>
  </div>
</div>
<h3>{{_t('devices_trigger_alarm')}}</h3>
<section class="accordion-wrap" ng-repeat="r in security.rooms track by $index" ng-class="security.devicesInRoom.input[r.id] ? 'available-devices' : 'ng-hide'">
  <!-- Title -->
  <h2 class="accordion-toggle chevron">
    <button type="button" aria-expanded="false" bb-accordion>
      <span>
        <img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
      </span>
    </button>
  </h2>
  <!-- Content -->
  <div class="accordion" hidden>
    <a href="" class="btn btn-default btn-tag" title="{{d.deviceName + ' | ' + _t(d.deviceType)}}" ng-repeat="d in security.devices.input" ng-if="d.location == r.id &&  !security.input.params.input.table[getModelIndex(d.deviceId,'input.table')]" ng-click="assignDevice(d.deviceId,'input')">
      <img class="navi-img" ng-src="{{security.availableDevices[d.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
      {{d.deviceName|cutText:true:20}}
      <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
    </a>
  </div>
</section>