<div class="form-group form-inline">
  <!-- operator -->
  <select class="form-control" ng-model="testModel.testOperator">
    <option value="{{v}}" ng-repeat="v in rule.advanced.cfg.tests.time.testOperator" ng-selected="testModel.testOperator == v">{{v}}</option>
  </select>
  <!--value -->
  <label>
  <input type="time" class="form-control" ng-model="testModel.testValue" /> (HH:MM)</label>

  <bb-help-text trans="_t('This condition checks if the current time is less than or equal to or greater than or equal to the entered time. E.g. current time: 09:00 and condition: >= 10:00 will return false and not pass the rule. 24-h-format - hh:mm')"></bb-help-text>
</div>