<section class="accordion-wrap" ng-repeat="r in rule.rooms track by $index" ng-hide="!rule.target.devicesInRoom[r.id]">
    <!-- Title -->
    <h2 class="accordion-toggle chevron">
       <button type="button" aria-expanded="false" bb-accordion>
         <span>
           <img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
         </span>
       </button>
     </h2>
   <!-- Content -->
  <div class="accordion" hidden>
      <a href="" class="btn btn-default btn-tag" title="{{d.metrics.title}}" ng-repeat="d in rule.target.availableDevices track by $index" ng-if="d.location == r.id && rule.target.assignedDevices.indexOf(d.id) === -1" ng-hide="d.id == rule.source.selected.device"
      ng-click="assignTargetDevice(d)">{{d.metrics.title|cutText:true:20}}
      <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
    </a>
   </div>
 </section>