<!-- status -->
<div class="form-group form-inline">
  <input type="number" class="form-control input-number" id="then_status" min="{{rule.advanced.cfg.target.switchMultilevel.min}}" max="{{rule.advanced.cfg.target.switchMultilevel.max}}"  ng-model="v.status"
  />
</div>

<!-- command -->
<div class="form-group">
<input type="checkbox" name="send_command" id="send_command" ng-model="v.sendAction" ng-checked="v.sendAction" />
<label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>