<!-- status -->
<div class="form-group form-inline">
  <label>
    <input type="radio" ng-model="targetModel.status" value="on">
    <span>{{_t('on')}}</span>
  </label>
  <label>
    <input type="radio" ng-model="targetModel.status" value="off">
    <span>{{_t('off')}}</span>
  </label>
  <label>
    <input type="radio" ng-model="targetModel.status" value="color">
    <span>{{_t('color')}}</span>
  </label>
</div>

  <!-- color -->
  <div class="form-group form-inline" ng-if="targetModel.status == 'color'">
     <!-- red -->
    <label>
        {{_t('red')}} <input type="number" class="form-control input-number" id="then_level" min="{{rule.cfg.target.switchRGBW.min}}" max="{{rule.cfg.target.switchRGBW.max}}"  ng-model="targetModel.color.red" />
      </label>
       <!-- green -->
    <label>
        {{_t('green')}} <input type="number" class="form-control input-number" id="then_level" min="{{rule.cfg.target.switchRGBW.min}}" max="{{rule.cfg.target.switchRGBW.max}}"  ng-model="targetModel.color.green" />
      </label>
       <!-- blue -->
    <label>
        {{_t('blue')}} <input type="number" class="form-control input-number" id="then_level" min="{{rule.cfg.target.switchRGBW.min}}" max="{{rule.cfg.target.switchRGBW.max}}"  ng-model="targetModel.color.blue" />
      </label>
      <bb-help-text trans="_t('Choose a value from 0 - 255')"></bb-help-text>
  </div>

  <!-- command -->
<div class="form-group">
  <input type="checkbox" name="send_command" id="send_command" ng-model="targetModel.sendAction" ng-checked="targetModel.sendAction" />
  <label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>