/* Apps
-------------------------------------------------- */
.app-featured{ 
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    .app-featured-entry{
        display: inline-block;
        padding: 0 10px 10px 10px;
    }
    img{
        max-width: 64px;
        max-height: 64px;
    }
}
.app-featured.show-all-true{ 
    cursor:pointer;
}
.app-entry{  
}
/*.col-sm-2.app-header{
padding-left: 5px;
padding-right: 5px;
}*/
.app-entry-in{
    position:relative;
    height: 100px;
    margin: 10px 0;

}

.app-image{
    //width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    /*    margin: 10px 20px 10px 10px;*/
    max-width: 54px;
    max-height: 54px;
    //border: solid 4px #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.app-body{
    margin-top: -5px;
    padding: 25px 5px 15px 84px;
    width: 100%;
    .entry-title{
        padding-right: 30px;
    }
}
.app-footer{
    text-align: right;

    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    .app-footer-in{
        padding: 0 15px 10px 10px;
    }
}



.apps-action-icons a{
   // margin-right: 7px;
}
#table_apps_instance{
    .report-img{
/*        max-width: 32px;
        max-height: 32px;*/
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
}


.app-image-list{
    max-width: 70px;
}
/* Alpaca page
-------------------------------------------------- */
.alpaca-perex{
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: dotted 1px $app-border-color; 
}
.app-image-alpaca{
    max-width: 128px;
    max-height: 128px;
    float: left;
    margin-right: 20px;
    /*    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;*/
    border: solid 2px $app-border-color;

}
#alpaca_data{
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: darken($app-body-bcg-color, 3%);
    border-radius: 4px;
}
/* Apps detail
-------------------------------------------------- */
.app-detail-header-in{
     position:relative;
    padding: 20px;
    .app-detail-img{
        img{
            position:absolute;
           max-width: 130px;
        max-height: 130px;
        border: solid 4px #fff;
/*        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; */
        }
    }
    
    .app-detail-body{
        padding-left: 150px;
    }
    .app-detail-list,.app-detail-perex{
        padding-bottom: 10px;
       margin-bottom: 10px;
       border-bottom: dotted 1px $app-border-color; 
    }
    .app-detail-control{
        position: relative;
    }
}

