/* Apps
-------------------------------------------------- */
.widget-entry-app{
    .widget-entry-in{
        min-height: $app-widget-col-h;
        height: auto;
        .widget-header{
            display: none;
        }
        .widget-content{
            margin: $spacing-double 0 0 $widget-img + $spacing;
        }
        .bottom-aligner{
            display: none;
        }
        .widget-footer{
            margin-top: 10px;
            .btn-name{
                display: none !important;
            }
            .rating-group{
                //margin: $spacing 0 0 0;
                .widget-rating{
                    font-size: $rating-icon-size * 0.6;
                    padding: 0 2px 0 0;
                    color: $rating-color;
                    &.israted{ 
                        color: $rating-israted-color;
                    }
                }
            }

        }
        /*        .widget-ctrl{
                    float: none;
                    width: 100%;
                    &.ctrl-left{
                        display: none;
                    }
                }*/
    }

}

#apps_online{
    .widget-warning{
        .widget-img{
            opacity: 0.4;
            filter: alpha(opacity=40);

        }
        .widget-title{
            h3{
                a{
                    color: lighten($widget-heading-color,40%) !important;
                }
            }
        }
        .widget-footer{
            .rating-group{
                //margin: $spacing 0 0 0;
                .widget-rating{
                    color: lighten($rating-color,10%);
                    &.israted{ 
                        color:  lighten($rating-israted-color,10%);
                    }
                }
            }

        }
    }
}


/* App detail
-------------------------------------------------- */
.app-detail-img{
    margin: 0 0 $spacing 0;
}
.app-detail-body{
    h2{
        margin: $spacing-double 0 $spacing 0;
    }
}
.app-detail-list{
    border-top: solid 1px $app-border-color;
    margin: $spacing 0 0 0;
    padding: $spacing 0 0 0;
}

/* Apps rating
-------------------------------------------------- */
.module-rating{
    font-size: $rating-icon-size;
    padding: 0 $spacing 0 0;
    color: $rating-color;
    &.israted{ 
        color: $rating-israted-color;
    }
}
/* Apps comments
-------------------------------------------------- */
.comment-entry{
    margin: 0 0 $spacing 0;
    padding: $spacing;
    background-color: lighten($comment-even-bcg-color,4%);
    color: $comment-color;
    font-size: $comment-font-size;
    .comment-header{
        font-style: italic;
        font-size: $comment-header-font-size;
        color: $comment-header-color;
        margin: 0 0 $spacing-half 0;
    }
    .comment-body{

    }
}
.comment-entry.even{
    background-color: $comment-even-bcg-color;
}
// Author comment
.comment-type-1{
}