/* Login
-------------------------------------------------- */
#page_login, #page_password,#page_passwordforgot,#page_passwordreset{ 
    #header,#footer{
        display: none !important; 
    }
    
    .login-lang{
        text-align: right;
        margin-bottom: $spacing;
    }

}