/* Customize
-------------------------------------------------- */
.widget-entry-customize{
    .widget-entry-in{
        min-height: $customize-widget-col-h;
        height: auto;
        .widget-img{
            //position: absolute;
            top: $spacing;
            left: 0;

        }
        .widget-header{
            display: none;
        }
        .widget-content{
            margin: $spacing-double 0 0 $customize-img + $spacing;
        }
        .bottom-aligner{
            display: none;
        }
        .widget-footer{
            margin-top: 10px;
            .btn-name{
                display: none !important;
            }

        }
        .widget-ctrl{
            float: none;
            width: 100%;
            &.ctrl-left{
                display: none;
            }
        }
    }
}

.app-row-customize{
    .widget-warning{
        .widget-img{
            opacity: 0.4;
            filter: alpha(opacity=40);

        }
        .widget-title{
            h3{
                color: lighten($widget-heading-color,40%) !important;
            }
        }
    }
}

/* Customize detail
-------------------------------------------------- */
.customize-detail{
    padding: $spacing;
    margin: $spacing 0;
    max-height: $customize-modal-content-h;
    overflow: auto;
}
.customize-detail-title{
    font-weight: bold;
    font-size: 110%;
}
.customize-detail-img{
    padding: $spacing 0;
    text-align: center;
     border-top: solid 1px $modal-border-color;
}
.customize-detail-perex{
    margin: $spacing 0;
}
.customize-icon-list{
    border-top: solid 1px $modal-border-color;
    height: $customize-icon-preview-h;
    overflow: scroll;
    .customize-icon-preview {
        display: inline-block;
        margin: $spacing;
    }
}
