/* Devices
-------------------------------------------------- */
.device-logo{
    text-align: center;
    margin: 0 0 $spacing-double 0;
}
.device-logo img{
    max-width: 100px !important;
    max-height: 70px !important;

}

.device-type-logo{
    max-width: 80px;
    max-height: 80px;
}
// Deprecated
/*.expert-link{
    padding-right: $spacing-double;
}*/
.device-manufacturers{
    .vendor-entry{
        padding-right: 0;
    }
}
//DEPRECATED
/*.manufacturer-logo{
    margin: 0 $spacing-half;
    max-width: 70px;
    display: inline;
}*/

.device-autodetect{
    margin: 0 0 $spacing-double 0;
}

.vendor-entry{
    @include appFloat(left);
    width: $device-vendor-w; 
}

.col-device-vendor{
    padding-left: $spacing !important;
    padding-right: 0 !important;
}
.vendor-list {
    display: block; 
    margin: $spacing-half;
    background-color: $device-bcg-color;
    text-align: center; 
    border: solid 1px $device-border-color;

    .vendor-image{
        line-height: $vendor-img + 5;
        margin: 0 !important;
        img {
            vertical-align: middle;
            max-width: $vendor-img;
            max-height: $vendor-img;
        }
    }
}
.device-perex{
    margin-bottom:$spacing;
}

.include-device-img{
    margin: 0 0 $spacing 0;
}

.col-device{
    //text-align: center;
    padding: $spacing-double;
    .device-statement{
        margin: $spacing 0;
        padding: $spacing 0;
        border-bottom: solid 1px $device-border-color;
    }
}
.table-inclusion td{
    vertical-align: middle !important;
    .alert {
        margin-bottom: 0;
    }
}

.td-camera-action{
    text-align: right;
}

/* ZWave
-------------------------------------------------- */

.network-zwave-device{
    .network-node-name{
        font-style: italic;
    }
}
.network-zwave-title{
    font-weight: bold;
    display: block;
    width: 100%;
    &.noelements{
        color: lighten($app-body-color,20%);
        font-weight: normal;
    }
}
.zwave-hidden-true{
    a{
        color: $app-body-disabled-color !important;
        cursor: text; 
        text-decoration: line-through;
        &:hover{
            text-decoration: line-through;
        }
        .zwave-raquo{
            display: none;
        }
    }


    input{
        color:$app-body-disabled-color;
    }
}
.network-zwave-element{
    padding-left: $spacing;
    margin: $spacing 0 0 0;
}



.network-block{
    margin-bottom: $spacing-double;
}

/* Inclusion
-------------------------------------------------- */

#zwave_inclusion{
    .report-entry{
        .report-col {
            vertical-align: top;
        }
    } 
    .inclusion-header{
        h3{
            font-weight: bold;
        }
    }
}

/* Configuration
-------------------------------------------------- */
.table-cfg-interview th{
    width: 25%;
}
.cfg-block {
    margin: 0 0 $spacing-double 0;
    padding: 0 0 $spacing-double 0;
}

.cfg-block h4{
    font-size: 16px;
}

.cfg-control-content{
    padding: $spacing;
    margin: $spacing 0;
}
.cfg-info{ 
    margin: $spacing 0 0 0;
    padding: $spacing 0 0 0;
    border-top: solid 1px $device-border-color;
}
.commads-is-current{
    text-decoration: underline;
}
#wakeup_cont .form-inline{
    float: left;
}
.spin-true .fa-spin{
    display: none;
}