/* Elements
-------------------------------------------------- */
.widget-entry-element{
    .widget-entry-in{
        height: $element-widget-col-h;
        .widget-img{
            .widget-icon-update{
                z-index: 10;
                cursor: pointer;
                border-color: $element-widget-img-update-border-color;
            }
        }
        .widget-title{
            .widget-room{
                display: block;
                font-size:$element-widget-room-font-size;
                color: $element-widget-room-color;
            }
        }
        .widget-level{
            font-weight: bold;
            font-size: $element-widget-level-font-size;
            color: $element-widget-level-color;
        }
        .widget-scale{
            font-size: $element-widget-scale-font-size;
        }

    }
}

.widget-ctrl,.tbl-widget-ctrl{ 
    .fa-caret-down{
        font-size: $element-widget-caret-font-size;
        color: $element-widget-caret-color;
    }
    .btn-group{
        .btn{
            color: $element-widget-btn-color;
            .fa{
                font-size: $app-btn-font-size;
            }
        }
        .widget-btn-symbol{
            font-weight: bold;
            display: inline-block;
            padding: 0 5px;
        }
        .btn-primary{
            background-color: $element-widget-btn-bcg-color !important;
            border-color: $element-widget-btn-border-color;
            color: $element-widget-btn-1-color !important;
            @include appBoxShadow($element-widget-btn-box-shadow);
            .fa{
                color: $element-widget-btn-1-color !important;
            }
        }
        .btn-off.btn-primary{
            color: $element-widget-btn-0-color !important;
            .fa{
                color: $element-widget-btn-1-color !important;
            }
        }
        .btn-label-on{
            color: $element-widget-btn-on-color;
            text-transform: lowercase;
        }
        .btn-widget-time,.txt-widget-time{
            padding: $spacing 0 0 0;
            border: 0 none;
            color: $element-widget-time-color;
            font-size: $element-widget-time-font-size;
            background-color: transparent;
        }
    }
}

/* Specifics element styles
----------------------------------------------------*/
.sensorMultiline{
    .control-left{
        width: 60% !important; 
    }
    .control-right{
        width: 40%; 
    }
}
.switchMultilevel{
    .control-left{
        width: 60% !important; 
    }
    .control-right{
        width: 40%; 
    }
}

.element-camera-control{
    text-align: center;
    margin: 0 0 $spacing 0;
    .fa{
        font-size: 180%;
    }
}
.camera-img{
    text-align:center;
    img{
        width: 100%;
        display: inline-block;
    }
}


.color-picker-show{
    display:inline-block;
    width: 24px;
    height:24px;
}
.drop-down-tags{
    div{
        padding: 5px;  
    }

    //min-width: 260px;
}

.drop-down-tags a{
    display: inline-block;
    margin: 0 5px;
}

.bcg-success.false{
    color: #a8a8a8;
    .report-img{
        opacity: 0.4;
    }
}


/* Element detail
----------------------------------------------------*/
.btn-tag{
    float: none !important;
    border-radius: 4px !important;
}
.app-row-icons{
    .report-body{
        width: 30px;
    }
}

/* Home widget
-------------------------------------------------- */
/*.home-widget{
    .widget-entry{
        padding: 0;

        .widget-block{
            margin: 0 !important;
                          border: solid 1px #e2e2e2;
        }
    }
}
.hidden-switch-multilevel{}

.hidden-sensor-multilevel{}

.hidden-sensor-multilevel-linear{}

.hidden-camera{}*/

/* OpenWeather widget
----------------------------------------------------*/
.widget-body .hidden-sensor-multiline table td {
    text-align: left;
    padding: 5px 0;
}

.widget-body .hidden-sensor-multiline table td:first-child {
    padding-left: 20px;
    vertical-align: top;
}

.widget-body .hidden-sensor-multiline h4 {
    display: inline;
}

.widget-body .hidden-sensor-multiline .text-center {
    margin: 10px 0;
}

/* Text widget
-----------------------------------------------------*/
.widget-body.text-widget h3{
    font-weight: bold;
}

.widget-body.text-widget-no-img {
    padding-left: 15px;
}

.widget-control.text{
    width: 95%;
}

.text-widget-modal.modal-dialog {
    text-align: center;
}

img.widget-promo-image {
    max-height: 200px;
    margin-bottom: 10px;
}

.widget-promo-text {
    text-align: left;
}

.widget-control.text a {
    font-weight: normal;
}

.widget-control.text a:hover {
    text-decoration: none;
}

.widget-control.text a:after {
    content: "\f1ea";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    /*--adjust as necessary--*/
    padding-left: 4px;
    position: absolute;
}

/* MultilevelSensor widget
-----------------------------------------------------*/
.widget-body .element-hidden.hidden-sensor-multiline.multiline-sensor {
    padding: 10px 0;
    height: auto;
}

.hidden-sensor-multiline .widget-image {
    position: relative;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
}

.widget-body .hidden-sensor-multiline.multiline-sensor table td:first-child {
    padding-left: 5px;
}

.widget-body .hidden-sensor-multiline.multiline-sensor table td {
    width: inherit;
    padding: 5px 5px 5px 10px;
}

.widget-body .hidden-sensor-multiline.multiline-sensor table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* ToggleButton widget
--------------------------------------------------------*/

.toggleButton .widget-body div.widget-control.control-right.ng-scope > div > button.btn.btn-default.btn-sm {
    cursor: default;
}

/* RGB color wheel
--------------------------------------------------------*/
.wheel-colorpicker{
    .col-rgb{
        margin: 0 auto;
        text-align: center;
    }
    #wheel_picker{
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
    }
    #wheel_picker_preview{
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 0 20px 0;
        height: 40px;
        line-height: 35px;
        #wheel_picker_preview_spin{
            background-color: #fff;
        }
    }
}