/* Events
-------------------------------------------------- */
.event-level-warning{
    background: $app-bcg-warning;
}
.event-level-device-info{}
.event-level-error{
    background: $app-bcg-danger;
}
.event-level-critical{
    background: $app-bcg-danger;
}

.group-event-dropdown{
   width: 100%;
       .btn{
       float: right;
   }
   .app-dropdown{
       width: 100%;
   }
}
