/* Rooms
-------------------------------------------------- */
/* Variables for mobile first design
-------------------------------------------------- */

// Card color
$room-card-color: #000000;
// Card background color
$room-card-bcg-color: #FFFFFF;
// Card border color
$room-card-border-color: #FFFFFF;

/* Cards
-------------------------------------------------- */
.card-room {
  width: 100%;
  @include mediaQueries(min-small) {
    @include appFloat(left);
    width: 50%;
  }
  @include mediaQueries(min-medium) {
    width: 33.33333%;
  }
  @include mediaQueries(min-large) {
    width: 25%;
  }
  /* Inner element */
  .card-room-in {
    border: solid 4px $room-card-border-color;
    background-color: $room-card-bcg-color;
    @include appBoxShadow(1px 1px 5px 0px rgba(50, 50, 50, 0.29));
    position: relative;
    height: 100px;
    padding: 0;
    margin: 0 0 $spacing-double 0;
    // Media queries
    @include mediaQueries(min-small) {
      margin: $spacing;
      height: 236px;
      padding: 0;
    }
    /* Card header */
    .card-header{
      text-align: right;
      min-height: $spacing-double;
      opacity: 0.8;
      background: $room-card-bcg-color;
      position: absolute;
      top: 30px;
      right: 0;
      padding: $spacing-half $spacing 0 0;
      // Media queries
      @include mediaQueries(min-small) {
        width: 100%;
        padding: $spacing-half;
        top: 0;
      }
      /* Header icons */
      .card-header-icon {
        color: lighten($room-card-color, 30%);
        .fa {
          padding: 0 0 0 $spacing;
          font-size: $widget-icon-size;
        }
      }

    }
    /* Background image */
    .bcg-img {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px - 8px;// - border width * 2
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      // Media queries
      @include mediaQueries(min-small) {
        position: static;
        text-align: center;
        height: 170px;
      }



    }
    /* Card content */
    .card-content {
      margin: 0;
      position: absolute;
      top: 30px;
      left: 0;
      // Media queries
      @include mediaQueries(min-small) {
        position: static;
        margin: $spacing-double 0 0 0;
      }
      /* Card Title */
      .card-title {
        height: 50%;
        opacity: 0.8;
        padding: $spacing;
        background-color: $room-card-bcg-color;
        // Media queries
        @include mediaQueries(min-small) {
          padding: 0;
          text-align: center;
        }
        h3 {
          font-size: $widget-heading-font-size;
          padding: 0;
          margin: 0;
          a {
            color: $room-card-color;
            font-weight: bold;
          }
        }
      }
    }

  }

}
/* Rooms without device
-------------------------------------------------- */
.room-no-device {
  .room-link {
    cursor: text !important;
  }
  .room-img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    @include appGrayscale();

  }
  .card-title {
    h3 {
      a {
        font-weight: normal;
        color: lighten($room-card-color, 10%) !important;
        text-decoration: none;
        cursor: text !important;
      }
    }
  }
}

/* Elements in Rooms
-------------------------------------------------- */
/* Background with image */
.full-bg-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;

  .full-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    transform: scale(1.1);
  }
}

/* Header */
.elemnts-room-header{
  background-color: #ffffff;
  opacity: 0.6;
  padding: $spacing;
  margin: 0 0 $spacing-double 0;
}
