/* Rooms NEW
-------------------------------------------------- */
.widget-entry-room{
    .widget-entry-in{
        min-height: $room-widget-col-h;
        height: auto;
        .widget-header{
            display: none;
        }
        .widget-content{
            margin: $spacing-double 0 0 $widget-img + $spacing;
        }
        .widget-title{
            h3{
                a{
                    font-weight: bold;
                }
            }
        }
        .bottom-aligner{
            display: none;
        }
        .widget-footer{
            margin-top: 10px;
            .btn-name{
                display: none !important;
            }
        }
    }
}

.widget-entry-room.widget-warning{
        .widget-img{
            opacity: 0.4;
            filter: alpha(opacity=40);

        }
        .widget-title{
            h3{

                    color: lighten($widget-heading-color,40%) !important;

            }
        }
        .widget-footer{
            .rating-group{
                //margin: $spacing 0 0 0;
                .widget-rating{
                    color: lighten($rating-color,10%);
                    &.israted{
                        color:  lighten($rating-israted-color,10%);
                    }
                }
            }

        }
}

/* Rooms OLD
-------------------------------------------------- */
.room-entry{
    width: $room-col-w;
    @include appFloat(left);
}
.room-entry-in{
    text-align: center;
    padding: $spacing;
    a{
        font-weight: bold;
    }
    .entry-title-text{
        padding-right: $spacing-double;
    }
}
