/* Slider:  http://onehungrymind.com/build-sweet-photo-slider-angularjs-animate/
-------------------------------------------------- */
.slider {
    width: 1160px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    //border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    img{
        width: 1160px;
        height: 400px;
    }
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}
