<!-- Elements footer view -->
<div id="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="query" name="query" placeholder="{{_t('lb_search')}}">
                     <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
                
                &nbsp; &nbsp; &nbsp;
                <div class="btn-group dropup">
                <button type="button" class="btn btn-default">{{_t('lb_filter_by')}}</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="">{{_t('lb_type')}}</a></li>
                    <li><a href="">{{_t('lb_profile')}}</a></li>
                    <li><a href="">{{_t('lb_only_system')}}</a></li>
                </ul>
            </div>
            </form>
        </div>
    </div>
</div>