<!-- Apps footer view -->
<div id="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <form class="form-inline" role="form">
                <div class="btn-group dropup">
                 <button type="button" class="btn btn-default">{{_t('lb_filter_by')}}</button>
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                 </button>
                 <ul class="dropdown-menu">
                     <li><a href="">{{_t('lb_stable')}}</a></li>
                     <li><a href="">{{_t('lb_alpha')}}</a></li>
                      <li><a href="">{{_t('lb_beta')}}</a></li>
                 </ul>
             </div>
               
            </form>

        </div>
    </div>
</div>