<section class="accordion-wrap">
  <!-- Title -->
  <h2 class="accordion-toggle ellipsis">
  
  <span class="no-toggle" ng-if="rule.source.devices[rule.input.params.simple.triggerEvent.deviceId]">
    {{rule.source.devices[rule.input.params.simple.triggerEvent.deviceId].deviceName}}&nbsp;
    <em ng-if="rule.input.params.simple.triggerEvent.operator">[{{rule.input.params.simple.triggerEvent.operator}}&nbsp;{{rule.input.params.simple.triggerEvent.level}}]</em>
    <em ng-if="!rule.input.params.simple.triggerEvent.operator && _.isNumber(rule.input.params.simple.triggerEvent.level)">[{{rule.input.params.simple.triggerEvent.level}}]</em>
    <em ng-if="!rule.input.params.simple.triggerEvent.operator && !_.isNumber(rule.input.params.simple.triggerEvent.level)">[{{_t(rule.input.params.simple.triggerEvent.level)}}]</em>
    &nbsp;-&nbsp;<em>{{rule.source.devices[rule.input.params.simple.triggerEvent.deviceId].locationName}}</em>
  </span>
  <!-- Delete -->
  <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignSourceDevice()">
    <i class="fa fa-times text-danger"></i>
  </span>
  </h2>
  <div class="accordion" ng-if="rule.input.params.simple.triggerEvent.deviceType != 'toggleButton'" ng-init="hideAction=true;model=rule.input.params.simple.triggerEvent;if=true" ng-include="'app/views/automation/rules/inputs/simple/'+ rule.input.params.simple.triggerEvent.deviceType +'.html'"></div>
</section>