<!-- ////////////////////////////////////////// sendNotifications ////////////////////////////////////////// -->
<section class="accordion-wrap" ng-repeat="n in rule.input.params.simple.sendNotifications track by $index" ng-init="model=n">
  <h2 class="accordion-toggle ellipsis">
  <!-- Title -->
  <button type="button" aria-expanded="false" bb-accordion>
    <span><img class="navi-img" ng-src="{{cfg.img.icons + 'alarm-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />{{n.targetName}}</span>
  </button>
  <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignTargetNotification($index,n)">
    <i class="fas fa-times text-danger"></i>
  </span>
  </h2>
  <!-- Content -->
  <div class="accordion" hidden>
    <select class="form-control" ng-model="n.target">
      <option value="{{nc.id}}" ng-repeat="nc in notifications.channels" ng-selected="nc.id == n.target">
        {{nc.name}} ({{nc.userName}})
      </option>
    </select>
    <div ng-include="'app/views/automation/rules/inputs/notification.html'"></div>
  </div>
</section>
<!-- <pre>{{rule.input.params.targets.elements|json}}</pre> -->