<!-- ////////////////////////////////////////// sendNotifications ////////////////////////////////////////// -->
<section class="accordion-wrap" ng-repeat="n in rule.input.params.simple.sendNotifications track by $index" ng-init="model=n">
  <h2 class="accordion-toggle ellipsis">
  <!-- Title -->
  <button type="button" aria-expanded="false" bb-accordion>
  <span ng-if="rule.namespaces[n.target]"> {{rule.namespaces[n.target].deviceName}}</span>
  <span ng-if="!rule.namespaces[n.target]">{{n.target}}</span>
  </button>
  <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignTargetNotification($index,n.target)">
    <i class="fa fa-times text-danger"></i>
  </span>
  </h2>
  <!-- Content -->
  <div class="accordion" ng-include="'app/views/automation/rules/inputs/notification.html'" hidden></div>
</section>
<!-- <pre>{{rule.input.params.targets.elements|json}}</pre> -->