<!-- Automations view -->
<div ng-controller="AutomationsController">
    <bb-loader></bb-loader>
    <!-- The list -->  
    <a href="{{v.href}}" class="card-room"
         id="card_{{v.id}}"
         ng-repeat="v in automations.modules track by $index">
        <div class="bcg-img" ng-style="{'background-image':'url(' + v.image + ')'}"></div>
        <div class="card-room-in">
            <!-- Card header -->
             <!--<div class="card-header">
               
                <a class="card-icon lg" ng-href="#module/post/{{v.id}}" title="{{_t('add_new')}}">
                    <i class="fa fa-plus"></i>
                </a>
               
            </div> -->
            <!-- Card content -->
            <div class="card-footer">
                <!-- Card title -->
               <!--  <h3 class="card-title" title="{{v.title}}">
                    <a ng-href="{{v.href}}"
                       title="{{v.title}}">
                        {{v.title|cutText:true:25}}
                    </a>
                </h3> -->
                <!-- Card sensors -->
                <div class="card-sensors">
                    <span class="btn btn-default">
                        <span>
                            {{v.title|cutText:true:25}}
                           <!--  <i></i>
                            {{_t('manage')}} -->
                        </span>
                    </span>
                </div>
            </div>
        </div>
      </a>   
</div> <!-- /ng-controller -->
