<div class="flexcards">
  <!-- Scenes -->
  <div class="flexcard">
    <figure>
      <a href="#scenes">
        <img ng-src="{{cfg.img.icons + 'scene.png'}}" alt="img" />
      </a>
    </figure>
    <div class="body">
      <h3>
        <a href="#scenes">{{_t('scenes')}}</a>
      </h3>
    </div>
  </div>
  <!-- Rules -->
  <div class="flexcard">
    <figure>
      <a href="#rules">
        <img ng-src="{{cfg.img.icons + 'security-pending.png'}}" alt="img" />
      </a>
    </figure>
    <div class="body">
      <h3>
        <a href="#rules">{{_t('rules')}}</a>
      </h3>
    </div>
  </div>
   <!-- Schedules -->
   <div class="flexcard">
      <figure>
        <a href="#schedules">
          <img ng-src="{{cfg.img.icons + 'new.png'}}" alt="img" />
        </a>
      </figure>
      <div class="body">
        <h3>
          <a href="#schedules">{{_t('schedules')}}</a>
        </h3>
      </div>
    </div>
     <!-- leakages -->
   <div class="flexcard">
      <figure>
        <a href="#leakages">
          <img ng-src="{{cfg.img.icons + 'flood-on.png'}}" alt="img" />
        </a>
      </figure>
      <div class="body">
        <h3>
          <a href="#leakages">{{_t('leakages')}}</a>
        </h3>
      </div>
    </div>
     <!-- fireprotection -->
   <div class="flexcard">
      <figure>
        <a href="#fireprotection">
          <img ng-src="{{cfg.img.icons + 'smoke.png'}}" alt="img" />
        </a>
      </figure>
      <div class="body">
        <h3>
          <a href="#fireprotection">{{_t('fire_protection')}}</a>
        </h3>
      </div>
    </div>
     <!-- security -->
   <div class="flexcard">
      <figure>
        <a href="#security">
          <img ng-src="{{cfg.img.icons + 'tamper-on.png'}}" alt="img" />
        </a>
      </figure>
      <div class="body">
        <h3>
          <a href="#security">{{_t('title_security')}}</a>
        </h3>
      </div>
    </div>
</div>