<!-- Blank blank -->
<div class="blank is-info">
    <div class="blank-img">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="blank-body">
      <p class="blank-title">{{_t(automation.moduleId)}}</p>
      <p class="blank-text">{{_t('no_items_yet')}}</p>
      <a class="btn btn-default" href="#module/post/{{automation.moduleId}}">
        <i class="fa fa-plus text-success"></i>
        <span class="btn-name">{{_t('add_new')}}</span>
    </a>
    </div>
  </div>
<!-- /ng-controller -->