<!-- The list -->
<div class="report-entry bcg-active" ng-repeat="v in automation.instances.all track by $index" ng-class="v.active ? 'true': 'false'">
        <div class="report-col report-media">
            <img class="report-img-s" ng-src="{{automation.localModules[v.moduleId].icon}}" err-src="{{cfg.img.placeholder}}" alt="img"
            />
        </div>
        <div class="report-col report-body">
            <a href="#module/put/{{v.id}}">
                <span ng-bind="v.title"></span>
            </a>
        </div>
        <div class="report-col report-ctrl report-ctrl-3">
            <div class="btn-group">
                <a ng-href="#module/put/{{v.id}}" class="btn btn-default" title="{{_t('lb_settings')}}">
                    <i class="fa fa-cog"></i>
                </a>
                <button title="{{_t('lb_deactivate')}}" class="btn btn-default" href="" ng-if="v.active" ng-class="v.active ? 'active' : ''"
                    ng-click="activateInstance(v, false)">
                    <i class="fa fa-fire text-success"></i>
                </button>
                <button title="{{_t('lb_activate')}}" class="btn btn-default" ng-if="!v.active" ng-click="activateInstance(v, true)">
                    <i class="fa fa-power-off text-danger"></i>
                </button>
                <a ng-href="#module/clone/{{v.moduleId}}/false/{{v.id}}" class="btn btn-default" title="{{_t('lb_clone')}}">
                    <i class="fa fa-clone"></i>
                </a>
                <button title="{{_t('lb_remove')}}" class="btn btn-default" ng-click="deleteInstance({'id': v.id}, _t('lb_delete_confirm'))">
                    <i class="fa fa-remove text-danger"></i>
                </button>
            </div>
        </div>
    </div>