/*
 * The responsive style for the front-end
 */

/* Global settings
-------------------------------------------------- */
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Min Width: 1200px
-------------------------------------------------- */
@media (min-width: 1200px) {
    .container {
        max-width:none;
    }

    .container-lg {
        max-width: 1170px !important;
    }
}

/* Min Width: 992px
-------------------------------------------------- */
@media (min-width: 992px) {}

/* Max Width: 979px
-------------------------------------------------- */
@media (max-width: 979px) {

}

/* Min Width: 768px
-------------------------------------------------- */
@media (min-width: 768px) {}

/* Max Width: 767px
-------------------------------------------------- */
@media (max-width: 767px) {
    .navbar .divider-vertical{
        display: none;
    }

    .dropdown > .dropdown-menu::before, 
    .dropdown > .dropdown-menu::after,
    .navbar .divider-vertical{
        display: none;
    }

}


/* Max Width: 480px
-------------------------------------------------- */
@media (max-width: 480px) {}

