<!-- Network view -->
<div ng-controller="NetworkController">
    <bb-loader></bb-loader>
    <div class="tabs-container">
        <ul class="nav nav-tabs nav-tabs-3" role="tablist">
            <li ng-class="activeTab == 'zwave' ? 'active' : ''">
                <a href="" title="{{_t('lb_zwave_devices')}}" data-target="#module_zwave" data-toggle="tab" ng-click="setTab('zwave')">
                    <i class="fa fa-wifi fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_zwave_devices')}}</span>
                </a>
            </li>
            <li ng-class="activeTab == 'battery' ? 'active' : ''" ng-if="user.role == 1">
                <a href="" title="{{_t('lb_battery_status')}}" data-target="#module_battery" data-toggle="tab" ng-click="setTab('battery')">
                    <i class="fa fa-bolt fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_battery_status')}}</span>
                </a>
            </li>
            <li ng-class="activeTab == 'health' ? 'active' : ''" ng-if="user.role == 1">
                <a href="" title="{{_t('nav_network_health')}}" data-target="#module_health" data-toggle="tab" ng-click="setTab('health')">
                    <i class="fa fa-cog fa-sitemap tab-icon"></i> <span class="tab-name">{{_t('lb_network_status')}}</span> 
                </a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Z-Wave -->
        <div class="tab-pane" id="module_zwave" ng-class="activeTab == 'zwave' ? 'active' : ''">
            <table class="table table-condensed table-report">
            <tbody>
                 <tr ng-repeat="v in zWaveDevices | orderBy:'id':false" id="row_zwave_{{v.id}}" ng-if="v.elements">
                    <td class="td-img">
                        <img class="report-img" ng-src="{{v.icon|getElementIcon:e}}" alt="{{ v.title}}" />
                    </td>
                    <td class="network-zwave-device">
                        <a href="" ng-click="goEdit[v.id] = !goEdit[v.id]"><strong>(#{{v.id}}) {{v.title}}</strong> <i class="fa fa-pencil text-primary"></i></a>
                        <div  class="network-zwave-device bcg-active" ng-repeat="e in v.elements | orderBy:'title':false" ng-class="e.visibility ? 'false': 'true'">
                             <!--<div ng-if="!goEdit[v.id]">
                                <span ng-bind="e.title"></span>
                            </div> -->
                            <div class="form-inline" ng-if="goEdit[v.id]" ng-init="devicesModel[e.id] = e.title">
                                <div>
                                     <div ng-bind="devicesModel[e.id]"></div>
                                     <input type="text" name="fdf" class="form-control form-control-md" ng-model="devicesModel[e.id]" value="{{devicesModel[e.id]}}" />
                                     <button class="btn btn-primary" ng-click="renameDevice(e.id,devicesModel[e.id])" ng-bind="_t('rename_device')"></button>
                                     <button class="btn" 
                                             ng-click="setVisibility(e.id,e.visibility ? true : false)" 
                                         ng-bind="e.visibility ? _t('hide_device') : _t('show_device')"
                                         ng-class="e.visibility ? 'btn-info' : 'btn-danger'"> </button>
                                 </div>
                                <br />
                             </div>
                           
                            
                        </div>
                    </td>
                    <td class="td-action" ng-if="user.role == 1">
                       <a class="btn btn-default" href="#deviceconfig/{{v.id}}" ng-if="v.cfg.length > 0">
                           <i class="fa fa-cog text-primary"></i> <span class="btn-name" ng-bind="_t('lb_configuration')"></span>
                       </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- Battery -->
        <div class="tab-pane" id="module_battery" ng-class="activeTab == 'battery' ? 'active' : ''">
        <table class="table table-report table-condensed">
            <tbody>
                <tr ng-repeat="v in devices.batteries| orderBy:'level':false" id="row_battery_{{ v.rowId}}">
                    <td class="td-img">
                       
                        <img class="report-img" ng-src="storage/img/batteries/{{v.metrics.level|getBatteryIcon}}" alt="img" />
                    </td>
                    <td class="network-zwave-device">
                        <div>(#{{v.nodeId}}) {{v.nodeName}}</div>
                        <!--<span class="network-node-name">(#{{v.nodeId}}) {{v.nodeName}}</span>
                        <div  ng-bind="v.metrics.title"></div>-->
                    </td>
                    <td>
                        <span class="text-success" ng-show="v.metrics.level >= 80">{{v.metrics.level}} %</span>
                        <span class="text-default" ng-show="v.metrics.level < 80 && v.metrics.level > 20">{{v.metrics.level}} %</span>
                        <span class="text-danger" ng-show="v.metrics.level <= 20"><i class="fa fa-exclamation-triangle"></i> {{v.metrics.level}} %</span>

                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        
        <!-- Health -->
        <div class="tab-pane" id="module_health" ng-class="activeTab == 'health' ? 'active' : ''">
             <table class="table table-condensed table-report">
            <tbody>
                <tr ng-repeat="v in zWaveDevices | orderBy:'id':false" id="row_health_{{v.id}}" ng-if="v.messages">
                    <td class="td-img">
                        <img class="report-img" ng-src="{{v.icon|getElementIcon:e}}" alt="{{ v.title}}" />
                    </td>
                    <td class="network-zwave-device">
                        <span class="network-node-name">(#{{v.id}}) {{v.title}}</span>
                        <div  class="network-zwave-device" ng-repeat="e in v.elements | orderBy:'title':false" ng-bind="e.title"></div>
                    </td>
                    <td>
                        <div class="text-danger" ng-repeat="m in v.messages|unique:true">
                            <span ng-if="!isMobile">
                            <a class="text-danger" href="" ng-if="m.type == 'failed' || m.type == 'config'" ng-click="toExpert('/expert/#help/' + v.id,_t('redirect_to_expert'))" >
                                <span  ng-bind="m.error"></span> <i class="fa fa-external-link"></i>
                            </a>
                            </span>
                            <span ng-if="isMobile">
                            <span  class="text-danger" ng-if="m.type == 'failed' || m.type == 'config'" ng-bind="m.error"></span>
                            </span>
                            <span ng-if="m.type == 'battery'" ng-bind="m.error"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
           
        </div>
    </div>
    
</div> <!-- /ng-controller --> 