<!-- Network view -->
<div ng-controller="NetworkController">
    <bb-loader></bb-loader>
    <div class="tabs-container">
        <ul class="nav nav-tabs nav-tabs-3" role="tablist">
            <li ng-class="activeTab == 'zwave' ? 'active' : ''">
                <a href="" title="{{_t('lb_zwave_devices')}}" data-target="#module_zwave" data-toggle="tab" ng-click="setTab('zwave')">
                    <i class="fa fa-wifi fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_zwave_devices')}}</span>
                </a>
            </li>
            <li ng-class="activeTab == 'battery' ? 'active' : ''" ng-if="user.role == 1">
                <a href="" title="{{_t('lb_battery_status')}}" data-target="#module_battery" data-toggle="tab" ng-click="setTab('battery')">
                    <i class="fa fa-bolt fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_battery_status')}}</span>
                </a>
            </li>
            <li ng-class="activeTab == 'health' ? 'active' : ''" ng-if="user.role == 1">
                <a href="" title="{{_t('nav_network_health')}}" data-target="#module_health" data-toggle="tab" ng-click="setTab('health')">
                    <i class="fa fa-cog fa-sitemap tab-icon"></i> <span class="tab-name">{{_t('lb_network_status')}}</span> 
                </a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Z-Wave -->
        <div class="tab-pane" id="module_zwave" ng-class="activeTab == 'zwave' ? 'active' : ''">
            <table class="table table-condensed table-report">
            <tbody>
                 <tr ng-repeat="v in zWaveDevices | orderBy:'title':false" id="row_zwave_{{v.id}}" ng-if="v.elements">
                    <!--<td class="td-img">
                        <img class="report-img" ng-src="{{v.icon|getElementIcon:e}}" alt="{{ v.title}}" />
                    </td>-->
                    <td class="network-zwave-device">
                         <!--<a ng-href="#network/config/{{v.id}}" ng-if="user.role == 1"><strong>(#{{v.id}}) {{v.title}}</strong> <i class="fa fa-pencil text-primary"></i></a>
                        <span ng-if="user.role > 1"><strong>(#{{v.id}}) {{v.title}}</strong></span>-->
                        <a href="" class="network-zwave-title" ng-if="user.role == 1" ng-click="goEdit[v.id] = !goEdit[v.id]">
                            <i class="fa" ng-class="goEdit[v.id] ? 'fa-chevron-up': 'fa-chevron-down'"></i> {{v.title}} (#{{v.id}}) 
                        </a>
                        <div class="network-zwave-element" ng-repeat="e in v.elements | orderBy:'title':false" ng-if="goEdit[v.id]">
                            <img class="report-img" ng-src="{{e.metrics.icon|getElementIcon:e:e.level}}" alt="img" /> 
                                <span class="network-hidden-{{e.permanently_hidden}}" ng-bind="e.title"></span>
                          </div>
                    </td>
                    <td class="td-action" ng-if="user.role == 1">
                        <a class="btn btn-default" href="#network/config/{{v.id}}" ng-if_="v.cfg.length > 0">
                           <i class="fa fa-cog text-primary"></i> <span class="btn-name" ng-bind="_t('lb_configuration')"></span>
                       </a>
                       <!--<a class="btn btn-default" href="#deviceconfig/{{v.id}}" ng-if="v.cfg.length > 0">
                           <i class="fa fa-cog text-primary"></i> <span class="btn-name" ng-bind="_t('lb_configuration')"></span>
                       </a>-->
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- Battery -->
        <div class="tab-pane" id="module_battery" ng-class="activeTab == 'battery' ? 'active' : ''">
        <table class="table table-report table-condensed">
            <tbody>
                <tr ng-repeat="v in devices.batteries| orderBy:'level':false" id="row_battery_{{ v.rowId}}">
                    <td class="td-img">
                       
                        <img class="report-img" ng-src="storage/img/batteries/{{v.metrics.level|getBatteryIcon}}" alt="img" />
                    </td>
                    <td class="network-zwave-device">
                        <div>(#{{v.nodeId}}) {{v.nodeName}}</div>
                        <!--<span class="network-node-name">(#{{v.nodeId}}) {{v.nodeName}}</span>
                        <div  ng-bind="v.metrics.title"></div>-->
                    </td>
                    <td>
                        <span class="text-success" ng-show="v.metrics.level >= 80">{{v.metrics.level}} %</span>
                        <span class="text-default" ng-show="v.metrics.level < 80 && v.metrics.level > 20">{{v.metrics.level}} %</span>
                        <span class="text-danger" ng-show="v.metrics.level <= 20"><i class="fa fa-exclamation-triangle"></i> {{v.metrics.level}} %</span>

                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        
        <!-- Health -->
        <div class="tab-pane" id="module_health" ng-class="activeTab == 'health' ? 'active' : ''">
             <table class="table table-condensed table-report">
            <tbody>
                <tr ng-repeat="v in zWaveDevices | orderBy:'id':false" id="row_health_{{v.id}}" ng-if="v.messages">
                    <td class="td-img">
                        <img class="report-img" ng-src="{{v.icon|getElementIcon:e}}" alt="{{ v.title}}" />
                    </td>
                    <td class="network-zwave-device">
                        <span class="network-node-name">(#{{v.id}}) {{v.title}}</span>
                        <div  class="network-zwave-device" ng-repeat="e in v.elements | orderBy:'title':false" ng-bind="e.title"></div>
                    </td>
                    <td>
                        <div class="text-danger" ng-repeat="m in v.messages|unique:true">
                            <span ng-if="!isMobile">
                            <a class="text-danger" href="" ng-if="m.type == 'failed' || m.type == 'config'" ng-click="toExpert('/expert/#help/' + v.id,_t('redirect_to_expert'))" >
                                <span  ng-bind="m.error"></span> <i class="fa fa-external-link"></i>
                            </a>
                            </span>
                            <span ng-if="isMobile">
                            <span  class="text-danger" ng-if="m.type == 'failed' || m.type == 'config'" ng-bind="m.error"></span>
                            </span>
                            <span ng-if="m.type == 'battery'" ng-bind="m.error"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
           
        </div>
    </div>
    
</div> <!-- /ng-controller --> 