<!-- infoEvent -->
<div id="infoEvent" class="appmodal" ng-controller="ElementInfoController" ng-if="modalArr.modalInfo">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="resetDevices({byId:{}});handleModal('modalInfo', $event)">
                <i class="fa fa-times"></i>
            </span>
            <h3>{{widgetInfo.find.metrics.title}}</h3>
        </div>
        <div class="appmodal-body">
            <bb-alert alert="widgetInfo.alert"></bb-alert>
            <div class="btn-group btn-goup-block btn-goup-3">
                <button class="btn btn-default" ng-if="widgetInfo.find.showNotification"
                    ng-class="widgetInfo.infoExpanded.events ? 'active' : ''"
                    ng-click="expandInfo('events', $event)">
                    <i class="fa fa-calendar"></i>
                </button>
                <button class="btn btn-default" ng-if="widgetInfo.find.metrics.intchartUrl"
                    ng-class="widgetInfo.infoExpanded.chart ? 'active' : ''"
                    ng-click="expandInfo('chart', $event)">
                    <i class="fa fa-line-chart"></i>
                </button>
                <button class="btn btn-default" ng-if="widgetInfo.find.hasHistory"
                    ng-class="widgetInfo.infoExpanded.history ? 'active' : ''"
                    ng-click="expandInfo('history', $event)">
                    <i class="fa fa-history"></i>
                </button>
            </div>    
            <div ng-controller="ElementEventController" ng-if="widgetInfo.infoExpanded.events">
                <bb-alert alert="widgetEvent.alert"></bb-alert>
                <table class="table table-report table-condensed">
                    <tbody>
                    <tr class="event-level-{{v.level}}" ng-repeat="v in widgetEvent.collection | orderBy: '-timestamp' | limitTo: 10">
                    <td class="td-img">
                        <img id="event_img_{{v.id}}" class="report-img-s" ng-src="{{v.iconPath}}" alt="{{v.type}}"/>
                    </td>
                        <td>
                            <span class="text-supp event-date" title="{{v.timestamp| date:'dd.MM.yyyy H:mm'}}">{{v.timestamp | eventDate}}</span>
                        </td>
                        <td>
                            <span ng-if="v.message | hasNode:'l'"> <span ng-bind="v.message.dev"></span> : <strong ng-bind="v.message.l"></strong></span>
                            <span ng-if="!(v.message | hasNode:'l')" ng-bind="v.message"></span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div ng-controller="ElementHistoryController" ng-if="widgetInfo.infoExpanded.history">
                <bb-alert alert="widgetHistory.alert"></bb-alert>
                <div ng-if="!(_.isEmpty(widgetHistory.chartData))">
                    <canvas tc-chartjs-line chart-data="widgetHistory.chartData" chart-options="widgetHistory.chartOptions" width="340" height="200"></canvas>
                </div>  
            </div>
            <div ng-controller="ElementChartController" ng-if="widgetInfo.infoExpanded.chart" style="min-height:128px">
                <bb-alert alert="widgetChart.alert"></bb-alert>
                <div ng-if="widgetChart.hasURL" ng-include="widgetChart.url"></div>
            </div>
        </div>
        <div class="appmodal-footer" ng-if="widgetInfo.infoExpanded.events || widgetInfo.infoExpanded.history">
            <button class="btn btn-default" ng-controller="ElementEventController" 
                ng-if="widgetInfo.infoExpanded.events && !_.isEmpty(widgetEvent.collection)"
                ng-click="handleModal('modalEvent', $event);redirectToEvents('events/source/' + widgetI.find.id)">
                {{_t('see_more')}} <i class="fa fa-chevron-right"></i>
            </button>
            <button type="button" class="btn btn-default" ng-controller="ElementHistoryController"
                    ng-if="elementAccess(cfg.role_access.admin) && widgetInfo.infoExpanded.history"
                    ng-click="deleteHistory(widgetHistory.find,_t('history_delete_confirm'),$event)">
                    <i class="fa fa-times text-danger"></i>
                    <span class="btn-name">{{_t('delete_history')}}</span>
            </button>
        </div>
    </div>
</div>