<!-- multiButtonModal -->
<div id="multiButtonModal" class="appmodal" ng-controller="ElementSensorMultilineController" ng-if="modalArr.multiButtonModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="handleModal('multiButtonModal', $event)"><i class="fa fa-times"></i></span>
            <h3>{{widgetSensorMultiline.find.metrics.title}}</h3>
        </div>
        <div class="appmodal-body">
            <bb-alert alert="widgetSensorMultiline.alert"></bb-alert>
            <div class="multiline-entry" ng-if="widgetSensorMultiline.find">
                <table class="table table-report table-condensed">
                    <tbody>
                        <!-- <tr class="text-right" ng-if="multiLineDev.data.metrics.multilineType == 'protection'">
                           <td>
                               <button class="btn btn-default " ng-click="runCmd(multiLineDev.data.id + '/command/update')"> <i class="fa fa-clock-o"></i> <span class="widget-update-time">{{multiLineDev.data.updateTime|isToday:true:_t('lb_days'):_t('lb_yesterday')}}</span></button>
                           </td>
                        </tr> -->
                        <tr ng-repeat="n in widgetSensorMultiline.find.metrics.sensors track by n.id">
                            <td class="td-img">
                                <img id="widget_multiline_img_{{n.id}}" class="report-img" ng-src="{{n.metrics.icon|getElementIcon:n:n.metrics.level}}" alt="img" />
                            </td>
                            <td>
                                <span ng-bind="n.metrics.title"/></span>
                            </td>
                            <td class="text-right tbl-widget-ctrl">
                                <a class="widget-history" href="" ng-click="getDeviceById(n.id);handleModal('modalHistory', $event)" ng-if="n.hasHistory"><i class="fa fa-history"></i></a>&nbsp;
                                 <div class="btn-group" ng-if="n.deviceType==='switchBinary'">
                                    <button class="btn btn-off"
                                        data-ng-click="runMultilineCmd(n.id + '/command/off', n.id)"
                                        ng-class="n.metrics.level =='off' ? 'btn-primary': 'btn-default'"
                                        title="{{_t('lb_off')}}">
                                        <span class="widget-btn-symbol">0</span>
                                    </button>
                                    <button class="btn btn-on"
                                        data-ng-click="runMultilineCmd(n.id + '/command/on', n.id)"
                                        ng-class="n.metrics.level =='on' ? 'btn-primary': 'btn-default'"
                                        title="{{_t('lb_on')}}">
                                        <span class="widget-btn-symbol">I</span>
                                    </button>
                                </div>
                                <div class="btn-group" ng-if="n.deviceType==='toggleButton'">
                                    <button class="btn btn-default btn-label-on" 
                                        ng-click="runCmd(n.id + '/command/on')"  title="{{_t('lb_on')}}">
                                        {{_t('lb_on')}}
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="handleModal('sensorMultilineModal', $event)"><i class="fa fa-times text-danger"></i> {{_t('lb_close')}}</button>
        </div>-->
    </div>
</div>