<!-- securityControlModal -->
<div id="securityControlModal" class="appmodal" ng-controller="ElementSecurityControlController" ng-if="modalArr.securityControlModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="handleModal('securityControlModal', $event)"><i class="fa fa-times"></i></span>
            <h3>{{dataHolder.devices.find.metrics.title}}</h3>
        </div>
        <div class="appmodal-body text-center">
            <bb-alert alert="widgetSecurityControl.alert"></bb-alert>
            <div class="multiline-entry" ng-if="!_.isEmpty(widgetSecurityControl.find)">
                <table class="table table-report table-condensed">
                    <tbody>
                    <tr class="bcg-success" ng-repeat="n in widgetSecurityControl.find">
                        <!--<td class="td-img">
                            <img class="report-img img-circle" ng-src="{{n.roomIcon}}" />
                        </td>-->
                        <td class="text-left">{{n.name}}</td>
                        <td class="text-left">{{n.state}}</td>
                        <td class="text-left">{{n.time | date:'dd.MM.yyyy H:mm'}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!--<div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="handleModal('doorLockControlModal', $event)"><i class="fa fa-times text-danger"></i> {{_t('lb_close')}}</button>
        </div>-->
    </div>
</div>