<!-- sensorDiscrete -->
<div class="widget-ctrl ctrl-left">
    <div class="btn-group">
       <button class="btn btn-default btn-widget-time" title="{{_t('lb_update')}}" 
               ng-click="runCmd(v.id + '/command/update')"> 
           <i class="fa fa-clock-o"></i> <span class="widget-update-time">{{v.updateTime|isToday:true:_t('lb_days'):_t('lb_yesterday')}}</span>
       </button>
    </div>
</div>
<div class="widget-ctrl ctrl-right widget-ctrl-click">
    <span class="widget-level" ng-if="v.metrics.cnt !== ''">{{v.metrics.cnt}}x</span>
    <span class="widget-level" ng-if="v.metrics.cnt === ''">{{v.metrics.level}}</span>
    <span class="widget-scale" ng-if="v.metrics.type === 'B'">{{_t('button')}} #{{v.metrics.currentScene}}</span>
    <span class="widget-scale" ng-if="v.metrics..type === 'G'">{{_t('gesture')}} #{{v.metrics.currentScene}}</span>
    <span class="widget-scale">{{_t(v.metrics.state)}}</span>
</div>