<!-- climateControl -->
<div ng-if="v.metrics.multilineType === 'climateControl'">
    <div class="widget-ctrl ctrl-left">
        <div class="btn-group">
            <button 
                class="btn widget-btn-frostProtection" 
                id="btn_frostProtection_{{ v.id}}"
                ng-click="runCmd(v.id + '/command/' + cfg.climate_state[0] + '?room=null', false)"
                ng-class="v.metrics.state == cfg.climate_state[0] ? 'btn-primary': 'btn-default'"
                title="{{_t(cfg.climate_state[0])}}">
                <i class="fa fa-asterisk"></i>
            </button>
            <button 
                class="btn widget-btn-energySave" 
                id="btn_energySave_{{ v.id}}"
                ng-click="runCmd(v.id + '/command/' + cfg.climate_state[1] + '?room=null', false)"
               ng-class="v.metrics.state ==cfg.climate_state[1] ? 'btn-primary': 'btn-default'"
                title="{{_t(cfg.climate_state[1])}}">
                <i class="fa fa-leaf"></i>
            </button>
            <button 
                class="btn widget-btn-comfort" 
                id="btn_comfort_{{ v.id}}"
                ng-click="runCmd(v.id + '/command/' + cfg.climate_state[2] + '?room=null', false)"
                ng-class="v.metrics.state == cfg.climate_state[2] ? 'btn-primary': 'btn-default'"
                title="{{_t(cfg.climate_state[2])}}">
                <i class="fa fa-building"></i>
            </button>
        </div>
    </div>
    <div class="widget-ctrl ctrl-right widget-ctrl-click" ng-click="dataHolder.devices.find = v;handleModal('climateControlModal', $event)">
        <i class="fa fa-caret-down" title="{{_t('lb_settings')}}"></i> <strong>{{_t('nav_rooms')}}</strong>
    </div>
</div>
<!-- multilineSensor -->
<div ng-if="v.metrics.multilineType === 'multilineSensor'">
    <div class="widget-ctrl ctrl-left">
        <div class="btn-group">
            <button class="btn btn-default btn-widget-time" title="{{_t('lb_update')}}" 
                    ng-click="runCmd(v.id + '/command/update')"> 
                <i class="fa fa-clock-o"></i> <span class="widget-update-time">{{v.updateTime|isToday:true:_t('lb_days'):_t('lb_yesterday')}}</span>
            </button>
        </div>
    </div>
     <div class="widget-ctrl ctrl-right widget-ctrl-click" ng-click="dataHolder.devices.find = v;handleModal('sensorMultilineModal', $event)">
        <i class="fa fa-caret-down" title="{{_t('lb_settings')}}"></i> <span class="widget-level">{{v.metrics.level}}</span> <span class="widget-scale">{{v.metrics.scaleTitle}}</span>
    </div>
</div>

<!-- multiButton -->
<div ng-if="v.metrics.multilineType === 'multiButton'">
    <div class="widget-ctrl ctrl-left">
        <div class="btn-group">
        <button class="btn btn-off" id="btn_off_{{ v.id}}"
            data-ng-click="runCmd(v.id + '/command/off?device=null', v.id)"
            ng-class="v.metrics.level =='off' ? 'btn-primary': 'btn-default'"
            title="{{_t('lb_off')}}">
            <span class="widget-btn-symbol">0</span>
        </button>
        <button class="btn btn-on" id="btn_on_{{ v.id}}"
            data-ng-click="runCmd(v.id + '/command/on?device=null', v.id)"
            ng-class="v.metrics.level =='on' ? 'btn-primary': 'btn-default'"
            title="{{_t('lb_on')}}">
            <span class="widget-btn-symbol">I</span>
        </button>
    </div>
    </div>
     <div class="widget-ctrl ctrl-right widget-ctrl-click" ng-click="dataHolder.devices.find = v;handleModal('multiButtonModal', $event)">
        <i class="fa fa-caret-down" title="{{_t('lb_settings')}}"></i> <span class="widget-level">{{v.metrics.level}}</span> <span class="widget-scale">{{v.metrics.scaleTitle}}</span>
    </div>
</div>
<!-- protection -->
<div ng-if="v.metrics.multilineType === 'protection'">
    <div class="widget-ctrl ctrl-left">
        <div class="btn-group">
            <button class="btn btn-off" id="btn_off_{{ v.id}}"
                data-ng-click="runCmd(v.id + '/command/disarm', v.id)"
                ng-class="v.metrics.state =='disarmed' ? 'btn-primary': 'btn-default'"
                title="{{_t('lb_disarm')}}"><span class="widget-btn-symbol">0</span></button>
            <button class="btn btn-on" id="btn_on_{{ v.id}}"
                data-ng-click="runCmd(v.id + '/command/arm', v.id)"
                ng-class="v.metrics.state =='armed' ? 'btn-primary': 'btn-default'"
                title="{{_t('lb_arm')}}"><span class="widget-btn-symbol">I</span></button>
        </div>
    </div>
    <div class="widget-ctrl ctrl-right" ng-click="dataHolder.devices.find = v;handleModal('sensorMultilineModal', $event)">
         <i class="fa fa-caret-down" title="{{_t('lb_settings')}}"></i> <span class="widget-level">{{v.metrics.level}}</span>
    </div>
</div>
<!-- openWeather -->
<div ng-if="v.metrics.multilineType === 'openWeather'">
    <div class="widget-ctrl ctrl-left">
        <div class="btn-group">
            <button class="btn btn-default btn-widget-time" title="{{_t('lb_update')}}" 
                    ng-click="runCmd(v.id + '/command/update')"> 
                <i class="fa fa-clock-o"></i> <span class="widget-update-time">{{v.updateTime|isToday:true:_t('lb_days'):_t('lb_yesterday')}}</span>
            </button>
        </div>
    </div>
    <div class="widget-ctrl ctrl-right widget-ctrl-click" ng-click="dataHolder.devices.find = v;handleModal('openWeatherModal', $event)">
        <i class="fa fa-caret-down" title="{{_t('lb_settings')}}"></i> <span class="widget-level">{{v.metrics.level}}</span> <span class="widget-scale">{{v.metrics.scaleTitle}}</span>
    </div>
</div>

