<!-- sensorDiscrete -->
<div class="widget-ctrl ctrl-left">
    <div class="btn-group">
       <button class="btn btn-default btn-widget-time" title="{{_t('lb_update')}}" 
               ng-click="runCmd(v.id + '/command/update')"> 
           <i class="fas fa-clock"></i> <span class="widget-update-time">{{v.updateTime|isToday:true:_t('lb_days'):_t('lb_yesterday')}}</span>
       </button>
    </div>
</div>
<div class="widget-ctrl ctrl-right widget-ctrl-click">
    <span class="widget-scale" ng-if="v.metrics.cnt !== '' && v.metrics.cnt > 1">{{v.metrics.cnt}} x</span>
    <span class="widget-scale" ng-if="v.metrics.cnt === ''">{{v.metrics.level}}</span>
    <span class="widget-scale" ng-if="v.metrics.type === 'B'">{{v.metrics.currentScene}}</span>
    <span class="widget-scale" ng-if="v.metrics.type === 'G'">{{v.metrics.currentScene}}</span>
    <span class="widget-scale" ng-if="v.metrics.type === 'C'">{{v.metrics.currentScene}}</span>
    <span class="widget-scale">{{_t(v.metrics.state)}}</span>
</div>