<!-- switchMultilevelModal -->
<div id="switchMultilevelModal" class="appmodal" ng-controller="ElementSwitchMultilevelController" ng-if="modalArr.switchMultilevelModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="handleModal('switchMultilevelModal', $event)"><i class="fa fa-times"></i></span>
            <h3>{{widgetSwitchMultilevel.find.metrics.title}}</h3>
        </div>
        <div class="appmodal-body text-center">
            <bb-alert alert="widgetSwitchMultilevel.alert"></bb-alert>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <!--<myknob knob-data="v.level" knob-options="knobopt"></myknob> -->
                            <input 
                                type="text" 
                                value="{{widgetSwitchMultilevel.find.metrics.level|getMaxLevel:widgetSwitchMultilevel.find.probeType}}" 
                                class="dial widget-level-knob" 
                                data-width="160" 
                                data-height="160" 
                                data-min="0"
                                data-max="255" 
                                knob-id="widgetSwitchMultilevel.find.id" 
                                knob-data="widgetSwitchMultilevel.find.metrics.level" 
                                knob-options="knobopt" 
                                ng-model="widgetSwitchMultilevel.find.metrics.level" myknob ng-if="cfg.knob_255.indexOf(widgetSwitchMultilevel.find.probeType) > -1" /> 
                            <input 
                                type="text" 
                                value="{{widgetSwitchMultilevel.find.metrics.level|getMaxLevel:widgetSwitchMultilevel.find.probeType}}" 
                                class="dial widget-level-knob" 
                                data-width="160" 
                                data-height="160" 
                                data-min="0"
                                data-max="100" 
                                knob-id="widgetSwitchMultilevel.find.id" 
                                knob-data="widgetSwitchMultilevel.find.metrics.level" 
                                knob-options="knobopt" 
                                ng-model="widgetSwitchMultilevel.find.metrics.level" myknob ng-if="cfg.knob_255.indexOf(widgetSwitchMultilevel.find.probeType) === -1" />
                        </td>
                        <td>
                            <button class="btn btn-primary"
                                    ng-click="setExactCmd(widgetSwitchMultilevel.find, '+')"
                                    ><i class="fa fa-angle-up fa-lg"></i>
                            </button>&nbsp;
                            <button class="btn btn-info"
                                    ng-click="setExactCmd(widgetSwitchMultilevel.find, widgetSwitchMultilevel.find.minMax.max)"
                                    ><i class="fa fa-angle-double-up fa-lg"></i>
                            </button><br /><br />
                            <button class="btn btn-primary"
                                    ng-click="setExactCmd(widgetSwitchMultilevel.find, '-')"
                                    ><i class="fa fa-angle-down fa-lg"></i>
                            </button>&nbsp;
                            <button class="btn btn-info"
                                    ng-click="setExactCmd(widgetSwitchMultilevel.find, widgetSwitchMultilevel.find.minMax.min)"
                                    >
                                <i class="fa fa-angle-double-down fa-lg"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-info"
                                    ng-click="setExactCmd(widgetSwitchMultilevel.find, widgetSwitchMultilevel.find.minMax.max)"
                                    ng-bind="_t('lb_full')">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="handleModal('switchMultilevelModal', $event)"><i class="fa fa-times text-danger"></i> {{_t('lb_close')}}</button>
        </div>-->
    </div>
</div>