<!-- switchRGBWModal -->
<div id="switchRGBWModal" class="appmodal" ng-controller="ElementSwitchRGBWController" ng-if="modalArr.switchRGBWModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="handleModal('switchRGBWModal', $event)"><i class="fa fa-times"></i></span>
            <h3>{{widgetSwitchRGBW.find.metrics.title}}</h3>
        </div>
        <div class="appmodal-body text-center">
            <bb-alert alert="widgetSwitchRGBW.alert"></bb-alert>
            <div class="row wheel-colorpicker">
                <div class="col-rgb col-sm-6">
                    <canvas id="wheel_picker" var="4" width="300" height="300" ng-mousemove="setColor($element)"></canvas>
                    <input type="hidden" id="rgbVal" />
                </div>
                <div class="col-rgb col-sm-6">
                    <div id="wheel_picker_preview">
                         <div id="wheel_picker_preview_spin" ng-if="widgetSwitchRGBW.process">
                        <i class="fa fa-spinner fa-spin"></i> {{_t('updating')}}
                        </div>
                    </div>
                    <p><input class="form-control" type="text" id="rVal" disabled /></p>
                    <p><input class="form-control" type="text" id="gVal" disabled /></p>
                    <p><input class="form-control" type="text" id="bVal" disabled /></p>
                </div>
            </div>
        </div>
        <!--<div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="handleModal('switchRGBWModal', $event)"><i class="fa fa-times text-danger"></i> {{_t('lb_close')}}</button>
        </div>-->
    </div>
</div>