<!-- thermostatModal -->
<div id="thermostatModal" class="appmodal" ng-controller="ElementThermostatController" ng-if="modalArr.thermostatModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="handleModal('thermostatModal', $event)"><i class="fa fa-times"></i></span>
            <h3>{{widgetThermostat.find.metrics.title}}</h3>
        </div>
        <div class="appmodal-body text-center">
            <bb-alert alert="widgetThermostat.alert"></bb-alert>
            <div class="app-row app-row-knob clearfix">
                <div class="knob-col knob-ctrl">
                    <input 
                                type="text" 
                                value="{{widgetThermostat.find.metrics.level}}" 
                                class="dial widget-level-knob" 
                                data-width="160" 
                                data-height="160" 
                                knob-step="0.5" 
                                knob-min="widgetThermostat.find.metrics.min"
                                knob-max="widgetThermostat.find.metrics.max"
                                knob-id="widgetThermostat.find.id" 
                                knob-data="widgetThermostat.find.metrics.level" 
                                knob-options="knobopt" 
                                ng-model="widgetThermostat.find.metrics.level" myknob /> 
                </div>
                <div class="knob-col knob-btn">
                    <p>
                    <button class="btn btn-primary"
                                    ng-click="setExactCmd(widgetThermostat.find, '+')"
                                    ><i class="fa fa-angle-up"></i>
                            </button>&nbsp;
                            <button class="btn btn-info"
                                    ng-click="setExactCmd(widgetThermostat.find, widgetThermostat.find.minMax.max)"
                                    ><i class="fa fa-angle-double-up"></i>
                            </button>
                     </p>
                     <p>     
                            <button class="btn btn-primary"
                                    ng-click="setExactCmd(widgetThermostat.find, '-')"
                                    ><i class="fa fa-angle-down"></i>
                            </button>&nbsp;
                            <button class="btn btn-info"
                                    ng-click="setExactCmd(widgetThermostat.find, widgetThermostat.find.minMax.min)"
                                    >
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                     </p>  
                </div>
            </div>
        </div>
        <!--<div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="handleModal('thermostatModal', $event)"><i class="fa fa-times text-danger"></i> {{_t('lb_close')}}</button>
        </div>-->
    </div>
</div>