/* App colors
-------------------------------------------------- */

// Base
$app-brand-primary:         #6494BC !default;
$app-brand-success:         #80AD80 !default;
$app-brand-info:            #5bc0de !default;
$app-brand-warning:         #f0ad4e !default;
$app-brand-danger:          #d9534f !default;

$app-color-primary: #000000;
$app-color-secondary: #000000;
$app-border-color: #d3d3d3;
$app-body-color:  lighten($app-color-primary, 5%);
$app-body-disabled-color:  lighten($app-body-color, 50%);
$app-body-bcg-color: #F6F6F6;;
$app-a-color:  lighten($app-color-primary, 20%);
$app-a-hover-color:  lighten($app-color-primary, 10%);
$app-heading-color: lighten($app-body-color, 20%);
$app-h1-color: $app-heading-color; 
$app-h2-color: $app-heading-color; 
$app-h3-color: $app-heading-color;
$app-h4-color: $app-heading-color;
$app-bcg-success: #dff0d8;
$app-bcg-info: #d9edf7;
$app-bcg-warning: #fcf8e3;
$app-bcg-danger: #f2dede;

$app-overlay-bcg-color: rgba(37, 37, 37, 0.5);

// Header
$header-color: lighten($app-color-primary, 5%);
$header-bcg-color:  #E9E9E9;
$header-border-color: #DDDDDD;;
$header-delim-color: $app-border-color;
$header-delim-l-color: #c4c4c4;
$header-delim-r-color: #FFFFFF;
$header-a-color: $app-a-color;
$header-icon-color: lighten($header-a-color, 20%);
$header-a-active-color: $app-border-color;
$header-subnavi-border-color: $app-border-color;
$header-subnavi-bcg-color: #FFFFFF;

// Page navigation
$page-navi-bcg-color: #FFFFFF;
$page-navi-color: $app-a-color;
$page-navi-border-color: $app-border-color;
$header-icon-color: lighten($page-navi-color, 20%);
$page-navi-heading-color: $app-heading-color;

// Dropdown
$dropdown-bcg-color: #FFFFFF;
$dropdown-color: $app-a-color;
$dropdown-border-color: $app-border-color;
$dropdown-icon-color: lighten($dropdown-color, 20%);
$dropdown-heading-color: $app-heading-color;

// Accordion
$accordion-bcg-color: #FFFFFF;
$accordion-color: $app-a-color;
$accordion-border-color: $app-border-color;
$accordion-icon-color: lighten($accordion-color, 20%);
$accordion-heading-color: $app-heading-color;

// Buttons
$btn-color: $app-body-color;
$btn-bcg-color: #FFFFFF;
$btn-border-color: #CCCCCC;
$btn-active-bcg-color: #EEEEEE;
$btn-icon-active-color: $app-brand-success;

// Tabs
$tabs-bcg-color: #EEEEEE;
$tabs-color: $app-body-color;
$tabs-border-color: $app-border-color;
$tabs-icon-color: lighten($tabs-color, 20%);
$tabs-icon-active-color: $app-brand-success;
$tabs-active-bcg-color: darken($tabs-bcg-color, 7%);

// Modal
$modal-bcg-color: #FFFFFF;
$modal-color: $app-body-color;
$modal-icon-color: lighten($modal-color, 20%);
$modal-border-color: $app-border-color;
$modal-heading-color: $app-heading-color;

// Loader
$loader-bcg-color: #FFFFFF;
$loader-color: $app-body-color;
$loader-border-color: $app-border-color;

// Pagination
$pagination-bcg-color: #FFFFFF;
$pagination-color: $app-a-color;
$pagination-border-color: $app-border-color;
$pagination-active-bcg-color: $pagination-border-color;
$pagination-active-color: #FFFFFF;

// Footer
$footer-border-color: darken($app-border-color,15%);
$footer-bcg-color: #E9E9E9;

// Button
$btn-submit-color:  #FFFFFF;

// Form
$form-border-color: lighten($app-border-color, 8%);
$form-bcg-color: #FFFFFF;
$form-input-border-color: #CCCCCC;
$form-input-color: lighten($app-body-color, 30%);
$form-submit-entry-bcg-color: $form-border-color;
$form-addon-bcg-color: #EEEEEE;

// Report
$report-border-color: $app-border-color;
$report-bcg-color: #FFFFFF;

// Device
$device-bcg-color: #FFFFFF;
$device-color: $app-body-color;
$device-border-color: $app-border-color;

// Widget
$widget-bcg-color: #FFFFFF;
$widget-img-border-color: #FFFFFF;
$widget-color: $app-body-color;
$widget-border-color: #FFFFFF;
$widget-heading-color: $app-heading-color;
$widget-icon-color:lighten($widget-color, 40%);

// Element
$element-widget-room-color: lighten($widget-color, 40%);
$element-widget-caret-color: lighten($widget-color, 40%);
$element-widget-time-color: lighten($widget-color, 40%);
$element-widget-level-color: $app-body-color;
$element-widget-btn-color: lighten($widget-color, 80%);
$element-widget-btn-border-color: $element-widget-btn-color;
$element-widget-btn-bcg-color: #FFFFFF;
$element-widget-btn-0-color: $app-brand-danger;
$element-widget-btn-1-color: $app-brand-success;
$element-widget-btn-on-color: lighten($widget-color, 40%);
$element-widget-img-update-border-color: $app-border-color;
$element-widget-isnew-border-color: lighten($app-brand-success,20%);

// Room
$room-border-color: $app-border-color;

// Badge number
$badge-number-bcg-color: lighten($app-body-color, 60%);
$badge-number-color: #FFFFFF;

