<div class="tabs-wrap form-inline" ng-if_="devices.show">
  <div class="btn-group btn-group-justified btn-goup-tabs">
    <a class="btn btn-default" href="#zwave/vendors" title="{{_t('add_new')}}">
      <i class="fa fa-plus"></i> <span class="btn-name">{{_t('add_new')}}</span>
    </a>
    <a class="btn btn-default" href="#zwave/devices" title="{{_t('lb_zwave_devices')}}"
      ng-class="routeMatch('/zwave/devices') ? 'active' : ''">
      <i class="fa fa-wifi"></i> <span class="btn-name">{{_t('lb_zwave_devices')}}</span>
    </a>
    <a class="btn btn-default" href="#zwave/batteries" title="{{_t('lb_battery_status')}}"
      ng-class="routeMatch('/zwave/batteries') ? 'active' : ''"
      ng-if="elementAccess(cfg.role_access.network)">
      <i class="fa fa-battery-three-quarters"></i> <span class="btn-name">{{_t('lb_battery_status')}}</span>
    </a>
    <a class="btn btn-default" href="#zwave/network" title="{{_t('lb_network_status')}}"
      ng-class="routeMatch('/zwave/network') ? 'active' : ''"
      ng-if="elementAccess(cfg.role_access.network)">
      <i class="fa fa-sitemap"></i> <span class="btn-name">{{_t('lb_network_status')}}</span>
    </a>
    <a class="btn btn-default" title="{{_t('Device Key List')}}" href="#smartstartlist"
      ng-class="routeMatch('/smartstartlist') ? 'active' : ''" ng-if="user.beta">
      <i class="fa fa-list"></i> <span class="btn-name">{{_t('Device Key List')}}</span>
    </a>
  </div>
</div>