<!-- Zwave battery view -->
<div ng-controller="ZwaveManageController">
    <bb-loader></bb-loader>
    <!-- Zwave navigation -->
    <div ng-include="'app/views/zwave/navi.html'"></div>
    <div class="app-row app-row-report app-row-battery clearfix">
        <div id="row_battery_{{v.id}}" class="report-entry" ng-repeat="v in devices.zw | orderBy:'title':false" ng-if="v.hasBattery">
            <div class="report-col report-media">
                <img class="report-img" ng-src="{{v.batteryCharge|getBatteryIcon}}" alt="img" />
            </div>
            <div class="report-col report-body report-col-w30">
                {{v.title}} (#{{v.id}}) 
            </div>
            <div class="report-col report-battery-info">
                <div  ng-if="v.date"><i class="fa fa-clock-o"></i> {{v.date}}</div>
                 <div ng-if="v.awake">
                     <i class="fa {{v.awake|getAwakeIcon}}"></i>
                     <span ng-if="v.sleeping" ng-bind-html="v.sleeping | toTrusted"></span>  
                 </div>
                 
               
                
            </div>
            <div class="report-col report-ctrl">

                <span class="text-success" ng-show="v.batteryCharge >= 80">{{v.batteryCharge}} %</span>
                <span class="text-default" ng-show="v.batteryCharge < 80 && v.batteryCharge > 20">{{v.batteryCharge}} %</span>
                <span class="text-danger" ng-show="v.batteryCharge <= 20"><i class="fa fa-exclamation-triangle"></i> {{v.batteryCharge}} %</span>
            </div>
        </div>
    </div>
    
    <div class="device-logo" ng-include="'app/views/zwave/zwave_nav.html'"></div>
</div> <!-- /ng-controller --> 