<div ng-controller="ZwaveInterviewController">
    <h2>{{_t('interview_results')}}: {{zwaveInterview.nodeName}}</h2>
    <div class="app-row app-row-report app-row-interview clearfix"  ng-if="!_isEmpty(zwaveInterview.all)">
         <div id="row_{{v.id}}" class="report-entry bcg-active" 
              ng-repeat="v in zwaveInterview.all"
               ng-class="v.interviewDone ? 'true': 'false'">
            <div class="report-col report-body">
                {{v.ccName}}
            </div>
         <div class="report-col report-ctrl">
             <button class="btn btn-default" title="{{_t('force_interview')}}" 
                     ng-if="!v.interviewDone"
                       ng-click="forceInterview(v.api)"
                       ><i class="fa fa-reply text-info"></i> <span class="btn-name">{{_t('force_interview')}}</span></button>
                       <span ng-if="v.interviewDone"><i class="fa fa-check fa-2x text-success"></i></span>
         </div>
        </div>
      </div>
   
</div>
