<!-- Zwave select brand -->
<div class="vendor-entry" ng-repeat="v in zwaveSelect.brand">
    <a ng-href="#zwave/select/{{v.brandname}}" class="vendor-list" title="{{v.brandname}}">
        <p class="vendor-image" ng-if="zwaveSelect.logos[v.brandname]">
            <img ng-src="storage/data/test/manufacturers/{{zwaveSelect.logos[v.brandname]}}" alt="{{v.brandname}}" />
             
        </p>
        <p class="vendor-image" title="{{v.brandname}}" ng-if="!zwaveSelect.logos[v.brandname]">
            
            <span>{{v.brandname|cutText:true:20}}</span>
        </p>
    </a>
</div>

