<!-- Include -->
<div ng-controller="ZwaveExcludeController">
    <div ng-if="zWaveDevice.id">
        <div class="device-perex clearfix">
            <h2>{{zWaveDevice.name}}</h2>
        </div>
        <div class="form-page">
            <!-- Reset and remove -->
            <div class="row fieldset">
                <!-- Bar col -->
                <div class="col-sm-6">
                    <div ng-if="zWaveDevice.lastExcludedDevice != zWaveDevice.id">
                            <button class="btn btn-default btn-lg"
                                    ng-click="resetRemoveDevice('controller.RemoveNodeFromNetwork(1)')">
                                    <i class="fa fa-refresh text-danger"></i> {{_t('reset_remove')}}
                                </button>
                        </div>
                    <bb-help-text trans="_t('reset_remove_info')"></bb-help-text>
                </div>
                <!-- Bar col -->
                <div class="col-sm-6">
                    <button class="btn btn-default btn-lg"
                            ng-click="handleModal('removeModal', $event)">
                        <i class="fa fa-chain-broken  text-danger"></i> {{_t('lb_remove')}}
                    </button>
                    <bb-help-text trans="_t('remove_device_info')"></bb-help-text>
                </div>
            </div>
            <div class="fieldset submit-entry">
                <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
                    <i class="fa fa-reply"></i> <span class="btn-name" ng-bind="_t('lb_cancel')"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="device-logo" ng-include="'app/views/zwave/zwave_nav.html'"></div>

    <!-- resetRemoveModal -->
    <div id="resetRemoveModal" class="appmodal" ng-if="zWaveExclude.resetRemove.process">
        <div class="appmodal-in">
            <div class="appmodal-header">
                 <h3>{{_t('reset_remove')}} {{zWaveDevice.name}}</h3>

            </div>
            <div class="appmodal-body">
                <div ng-show="_.size(zWaveDevice.devices)">
                    <h3>{{_t('following_elements_remove')}}:</h3>
                    <span ng-repeat="v in zWaveDevice.devices">{{v.name}}{{$last ? '' : ', '}} </span>
                </div>
                <div class="exclude-device" ng-show="zWaveDevice.controllerState == 5">
                    <bb-alert alert="zWaveExclude.resetRemove.alert"></bb-alert>
                </div>
            </div>
            <div class="appmodal-footer">
                <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}"
                        ng-click="runZwaveCmd('controller.RemoveNodeFromNetwork(0)');zWaveExclude.resetRemove.process = false">
                    <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
                </button>
            </div>
        </div>
    </div>

    <!-- removeModal -->
    <div id="removeModal" class="appmodal" ng-if="modalArr.removeModal">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <h3>{{_t('lb_remove')}} {{zWaveDevice.name}}</h3>
            </div>
            <div class="appmodal-body">
                <!-- Info -->
                <div ng-show="_.size(zWaveDevice.devices) && !zWaveExclude.remove.process">
                <h3>{{_t('following_elements_remove')}}:</h3>
                <span ng-repeat="v in zWaveDevice.devices">{{v.name}}{{$last ? '' : ', '}} </span>
                </div>
                <!-- progress -->
                <div ng-if="zWaveExclude.remove.process">
                {{_t('removing')}}
                <div class="progress">
                    <div class="progress-bar"
                         style="min-height:40px;min-width: 2em; width: {{zWaveExclude.remove.progress}}%;"
                         ng-class="zWaveExclude.remove.progress < 100 ? 'progress-bar-danger progress-bar-striped active' : 'progress-bar-success'">
                        {{zWaveExclude.remove.progress}}%
                    </div>
                </div>
                </div>
            </div>
            <div class="appmodal-footer">
                <!-- Cancel -->
                <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}"
                        ng-disabled="zWaveExclude.remove.process"
                        ng-click="handleModal('removeModal', $event)">
                    <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
                </button>
                <!-- Remove -->
                <button class="btn btn-danger"
                        ng-disabled="zWaveExclude.remove.process"
                        ng-click="removeDevice()">
                    <i class="fa fa-exclamation-triangle "></i> {{_t('remove_permanently')}}
                </button>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 

