<!-- SmartStart -->
<div ng-controller="ZwaveISmartStartController">
    <div class="form form-inline form-page">
        <!-- Title  -->
        <div class="fieldset">
            <h1>{{_t('smartstart')}}</h1>
        </div>
        <!-- QR  -->
        <div class="fieldset" ng-show="smartStart.show">
            <div class="app-row-report row-smartstart clearfix">
                <div class="report-entry">
                    <div class="report-col body" ng-mouseover="runInclusion()">
                        <div class="qrcode-wrap">
                            <div id="qrcode_smartstart"></div>
                        </div>
                    </div>
                    <div class="report-col body">
                        <h2>Obtain DSK from Device</h2>
                        <div>
                            This component can have a lot of variance, depending on the architecture of the gateway product and
                            the end devices. All products will have QR codes with the DSK available, while some products may offer
                            alternative means of obtaining the key. For simplicity, this document is focused on generic products with QR
                            codes.
                        </div>
                        <p><strong>There are two main ways to obtain the DSK of a device:</strong></p>
                        <ul>
                            <li>
                                <strong>Recommended:</strong> Utilize a smartphone camera to scan and decode the QR code, particularly if the
                                gateway already has a smartphone app that can be used as an administrative interface, showing the
                                included end device on the gateway provisioning list
                            </li>
                            <li>
                                <strong>Alternative:</strong> The user can enter the DSK in an input field using a keyboard or keypad.
                                Best practices recommend implementation of both if possible, to give end users an alternative if a
                                QR code will not scan, e.g. because it was damaged.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cancel  -->
        <div class="fieldset submit-entry">
            <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
                <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
            </button>
        </div>

    </div>
</div> <!-- /ng-controller --> 

