<!-- Include -->
<div ng-controller="ZwaveInclusionController" id="zwave_inclusion">
    <bb-loader></bb-loader>
    <!--<pre> {{ zwaveInclusion.s2 | json }} </pre>-->
    <pre> {{ zwaveInclusion.s2.keysRequested | json }} </pre>
    <div class="form form-inline form-page">
        <div class="fieldset">
             <h1>{{_t('add_new_device')}}</h1>
        </div>
        <div class="fieldset bar-row inclusion" ng-show="!_.isEmpty(zwaveInclusion.device.find)">
            <!-- Bar col -->
            <div class="bar-col bar-media">
                <img ng-src="{{cfg.img.zwavedevices + zwaveInclusion.device.find.product_image}}" err-src="{{cfg.online_device_icon_url + zwaveInclusion.device.find.remote_image}}" err-src2="{{cfg.img.placeholder}}" alt="img" />
            </div>
            <!-- Bar col -->
            <div class="bar-col bar-body">
                <em>{{zwaveInclusion.device.find.brandname + ' ' + zwaveInclusion.device.find.name}}</em>
            </div>
        </div>

        <div class="fieldset clearfix">
            <div class="app-row app-row-report clearfix">
                <!-- 1 -->
                <div class="report-entry">
                    <div class="report-col report-media">
                        <span class="badge badge-number">1</span>
                    </div>
                    <div class="report-col report-body">
                        <div class="inclusion-header" ng-if="!zwaveInclusion.exclusionProcess.process">
                            <!-- Header -->
                             <!-- <h3>{{_t('lb_preparation')}}</h3> -->
                            <!--{{_t('lb_include_preparation')}} -->
                            <button class="btn btn-default" title="{{_t('lb_include_preparation_start')}}"
                                    ng-disabled="zwaveInclusion.inclusionProcess.process || zwaveInclusion.automatedConfiguration.includedDevice.nodeId > 0"
                                    ng-click="startStopProcess('exclusion',true)">
                                <i class="fas fa-sync"></i> {{_t('lb_include_preparation_start')}}
                            </button>
                            <bb-help-text trans="_t('lb_include_preparation')"></bb-help-text>
                            <p  ng-if="zwaveInclusion.device.find.prep"><em>{{zwaveInclusion.device.find.prep}}</em></p>
                        </div>
                        <!-- Process -->
                        <div class="inclusion-process" ng-if="zwaveInclusion.exclusionProcess.process">
                            <div class="alert alert-warning">
                                <h4><i class="fas fa-spinner fa-spin"></i> {{_t('lb_ready_exclude')}} </h4>
                                <p ng-bind-html="zwaveInclusion.device.find.exc|toTrusted"></p>
                            </div>
                            <button class="btn btn-danger btn-lg" title="{{_t('stop')}}" ng-click="startStopProcess('exclusion', false)">
                                <i class="fas fa-ban"></i> <span class="btn-name">{{_t('stop')}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="report-col report-ctrl">
                        <i class="fas fa-check fa-2x text-success" ng-if="zwaveInclusion.exclusionProcess.done"></i>
                    </div>
                </div><!-- /.report-entry -->
                <!-- 2 -->
                <div class="report-entry">
                    <div class="report-col report-media">
                        <span class="badge badge-number">2</span>
                    </div>
                    <div class="report-col report-body">
                        <div class="inclusion-header" ng-if="!zwaveInclusion.inclusionProcess.process">
                            <!-- Header -->
                            <button class="btn btn-success btn-lg" title="{{_t('start')}}"
                                    ng-disabled="zwaveInclusion.exclusionProcess.process || zwaveInclusion.automatedConfiguration.includedDevice.nodeId > 0"
                                    ng-click="startStopProcess('inclusion', true)">
                                <i class="fas fa-plug"></i> <span class="btn-name">{{_t('start')}}</span>
                            </button>
                            <button type="button" class="btn btn-default btn-lg" id="btn_force_unsecure_lock"
                                    ng-class="zwaveInclusion.controller.secureInclusion ? 'active' : ''"
                                    ng-click="setSecureInclusion('controller.data.secureInclusion=' + (zwaveInclusion.controller.secureInclusion ? '0' : '2'))"
                                    ng-disabled="zwaveInclusion.exclusionProcess.process || zwaveInclusion.automatedConfiguration.process">
                                <span ng-if="!zwaveInclusion.controller.secureInclusion" title="{{_t('btn_unsecure')}}">
                                    <i class="fas fa-unlock text-danger"></i> <span class="btn-name">{{_t('btn_unsecure')}}</span>
                                </span>
                                <span ng-if="zwaveInclusion.controller.secureInclusion" title="{{_t('btn_secure')}}">
                                    <i class="fas fa-lock text-success"></i> <span class="btn-name">{{_t('btn_secure')}}</span>
                                </span>
                            </button>
                            <!-- Enable SmartStart  -->
                            <button class="btn btn-default btn-lg" ng-if="!smartStartEnabled" ng-click="enableSmartStart()" title="{{_t('enable_smart_start')}}">
                                    <i class="fas fa-play-circle text-success"></i><span class="btn-name">{{_t('enable_smart_start')}}</span>
                            </button>
                            <!-- Disable SmartStart -->
                            <button class="btn btn-default btn-lg" ng-if="smartStartEnabled" ng-click="disableSmartStart()" title="{{_t('disable_smart_start')}}">
                                    <i class="fas fa-stop-circle text-warning"></i><span class="btn-name">{{_t('disable_smart_start')}}</span>
                            </button>
                        </div>
                        <!-- Process -->
                        <div class="inclusion-process" ng-if="zwaveInclusion.inclusionProcess.process">
                            <div class="alert alert-warning">
                                <h4><i class="fas fa-spinner fa-spin"></i> {{_t('lb_ready_include')}} </h4>
                                <p ng-bind-html="zwaveInclusion.device.find.inc|toTrusted"></p>
                            </div>
                            <button class="btn btn-danger btn-lg" title="{{_t('stop')}}"
                                    ng-click="startStopProcess('inclusion', false)">
                                <i class="fas fa-ban"></i> <span class="btn-name">{{_t('stop')}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="report-col report-ctrl">
                        <i class="fas fa-check fa-2x text-success" ng-if="zwaveInclusion.inclusionProcess.done"></i>
                    </div>
                </div><!-- /.report-entry -->
                <!-- 3 -->
                <div class="report-entry">
                    <div class="report-col report-media">
                        <span class="badge badge-number">3</span>
                    </div>
                    <div class="report-col report-body">
                        <!-- Header -->
                        <div class="inclusion-header" ng-if="!zwaveInclusion.automatedConfiguration.process">
                            <h3>{{_t('automated_konfiguration')}}</h3>
                        </div>
                        <!-- S2 Alert  -->
                        <bb-alert alert="zwaveInclusion.s2.alert"></bb-alert>
                        <!-- Process -->
                        <div class="inclusion-process" ng-if="zwaveInclusion.automatedConfiguration.process">
                            <div class="alert alert-warning" ng-hide="zwaveInclusion.automatedConfiguration.progress > 99">
                                <i class="fas fa-spinner fa-spin"></i> <strong>{{_t('configuring_device')}}</strong>
                                <span>(#{{zwaveInclusion.automatedConfiguration.includedDevice.nodeId}})</span></br>
                                <span ng-if="zwaveInclusion.automatedConfiguration.includedDevice.retryCCInterviews">{{_t('retry_cc_interviews')}}</span>
                            </div>
                             <div class="progress">
                                <div class="progress-bar"
                                     style="min-height:40px;min-width: 2em; width: {{zwaveInclusion.automatedConfiguration.progress}}%;"
                                     ng-class="zwaveInclusion.automatedConfiguration.progress < 100 ? 'progress-bar-striped active' : 'progress-bar-success'">
                                    {{zwaveInclusion.automatedConfiguration.progress}}%
                                </div>
                            </div>

                        </div>
                        <!--<pre>{{zwaveInclusion.automatedConfiguration.includedDevice | json}}</pre>-->
                    </div>
                    <div class="report-col report-ctrl">
                        <i class="fas fa-check fa-2x text-success" ng-if="zwaveInclusion.automatedConfiguration.done"></i>
                    </div>
                </div><!-- /.report-entry -->
                <!-- 4 -->
                <div class="report-entry">
                    <div class="report-col report-media">
                        <span class="badge badge-number">4</span>
                    </div>
                    <div class="report-col report-body">
                        <!-- Header -->
                        <div class="inclusion-header" ng-if="!zwaveInclusion.manualConfiguration.process">
                            <h3>{{_t('manual_konfiguration')}}</h3>
                        </div>
                        <!-- Process -->
                        <div class="inclusion-process" ng-if="zwaveInclusion.manualConfiguration.process">
                            <div class="alert alert-warning">
                                <i class="fas fa-spinner fa-spin"></i> <strong ng-bind="_t('manual_config_prepare')"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="report-col report-ctrl">
                        <i class="fas fa-check fa-2x text-success" ng-if="zwaveInclusion.manualConfiguration.done"></i>
                    </div>
                </div><!-- /.report-entry -->
            </div><!-- /.app-row -->
        </div>
        <div class="fieldset submit-entry">
            <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back><i class="fas fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span></button>
            <!-- <a href="#zwave/devices" class="btn btn-info">{{_t('continue')}} <i class="fas fa-chevron-right"></i></a> -->
        </div>
    </div>
    <!-- cancelConfigurationModal -->
    <div id="cancelConfigurationModal" class="appmodal" ng-if="zwaveInclusion.cancelModal">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="cancelManualConfiguration(true)"><i class="fas fa-times"></i></span>
                <h3>{{cfg.app_name}}</h3>
            </div>
            <div class="appmodal-body">
                {{_t('configuration_cancel')}}
            </div>
            <div class="appmodal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelManualConfiguration(true)">
                    <i class="fas fa-sync text-success"></i> {{_t('reset_redo_inclusion')}}
                </button>
                <button type="button" class="btn btn-default" ng-click="cancelManualConfiguration(false)">
                    {{_t('continue_anyway')}}  <i class="fas fa-arrow-right text-primary"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- inclusionS2GrantKeysModal -->
    <div id="inclusionS2GrantKeys" class="appmodal" ng-if="zwaveInclusion.s2.grantKeys.show">
        <form class="appmodal-in" name="form_inclusionS2GrantKeys" id="form_inclusionS2GrantKeys" ng-submit="">
        <div class="appmodal-header">
            <h3>{{_t('granted_keys')}}</h3>
        </div>
        <div class="appmodal-body">
            <p>{{_t('select_auth_for_device')}}:</p>
            <div class="alert alert-warning">{{zwaveInclusion.s2.grantKeys.countDown}}s {{_t('remain')}}</div>
            <!--<pre>{{zwaveInclusion.s2.input|json}}</pre>-->
            <div>
                <input type="checkbox" name="grantS0" value="false" id="grantS0" ng-model="zwaveInclusion.s2.input.keysGranted.S0" ng-disabled="!zwaveInclusion.s2.input.keysRequested.S0" />
                <label ng-class="{disabled_label: !zwaveInclusion.s2.input.keysRequested.S0}">{{_t('S0')}}</label>
            </div>
            <div>
                <input type="checkbox" name="grantS2Unauthenticated" value="false" id="grantS2Unauthenticated" ng-model="zwaveInclusion.s2.input.keysGranted.S2Unauthenticated" ng-disabled="!zwaveInclusion.s2.input.keysRequested.S2Unauthenticated" />
                <label ng-class="{disabled_label: !zwaveInclusion.s2.input.keysRequested.S2Unauthenticated}">{{_t('S2_Unauthenticated')}}</label>
            </div>
            <div>
                <input type="checkbox" name="grantS2Authenticated" value="false" id="grantS2Authenticated" ng-model="zwaveInclusion.s2.input.keysGranted.S2Authenticated" ng-disabled="!zwaveInclusion.s2.input.keysRequested.S2Authenticated" />
                <label ng-class="{disabled_label: !zwaveInclusion.s2.input.keysRequested.S2Authenticated}">{{_t('S2_Authenticated')}}</label>
            </div>
            <div>
                <input type="checkbox" name="grantS2Access" value="false" id="grantS2Access" ng-model="zwaveInclusion.s2.input.keysGranted.S2Access" ng-disabled="!zwaveInclusion.s2.input.keysRequested.S2Access" />
                <label ng-class="{disabled_label: !zwaveInclusion.s2.input.keysRequested.S2Access}">{{_t('S2_Access')}}</label>
            </div>
        </div>
        <div class="appmodal-footer">
            <!-- Ok -->
            <button type="button" class="btn btn-submit" ng-click="handleInclusionS2GrantKeys(zwaveInclusion.s2.input.keysGranted, false)">
                <i class="fas fa-check"></i> <span class="btn-name">{{_t('ok')}}</span>
            </button>
        </div>
        </form>
        <!--</div>-->
    </div><!-- /#inclusionS2GrantKeysModal -->
    <!-- inclusionVerifyDSKModal -->
    <div id="inclusionVerifyDSKModal" class="appmodal" ng-if="zwaveInclusion.s2.verifyDSK.show">
        <div class="appmodal-in">
            <form name="dskForm">
                <div class="appmodal-header">
                    <!-- <span class="appmodal-close" ng-click="closeInclusionModal()"><i
                             class="fas fa-times"></i></span>-->
                    <h3>{{_t('verify_device_pin')}}</h3>
                </div>
                <div class="appmodal-body form-group form-inline">
                    <!--<pre>{{zwaveInclusion.s2.input|json}}</pre>-->
                    <div class="alert alert-warning">{{zwaveInclusion.s2.verifyDSK.countDown}}s {{_t('remain')}}</div>
                    <label>{{_t('pin')}}</label>
                    <div class="pin">
                        <label class="pin-label">
                            <input name="dsk_pin" id="dsk_pin" type="number" size="5"
                                   placeholder="00000"
                                   class="form-control hide-arrow input-valid-{{dskForm.dsk_pin.$valid}}" min="0"
                                   max="65533" ng-if="zwaveInclusion.s2.input.publicKeyAuthenticationRequired"
                                   ng-model="zwaveInclusion.s2.input.dskPin" required/>
                        </label>
                        <div ng-repeat="_ in [].constructor(14) track by $index">
                            <span ng-if="$even" class="sep">-</span>
                            <label class="pin-label" ng-if="$odd">
                                <input type="text" size="5"
                                       class="form-control"
                                       ng-value="dskBlock(zwaveInclusion.s2.input.publicKey, $index)" readonly
                                       ng-if="zwaveInclusion.s2.input.publicKeyAuthenticationRequired"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="appmodal-footer">
                    <!-- Confirm -->
                    <button type="button" class="btn btn-submit"
                            ng-click="handleInclusionVerifyDSK(zwaveInclusion.automatedConfiguration.includedDevice.nodeId)"
                            ng-click_="handleInclusionVerifyDSK(12)">
                        <i class="fas fa-check"></i> <span class="btn-name">{{_t('confirm')}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div><!-- /#inclusionVerifyDSKModal -->

    <div class="device-logo" ng-include="'app/views/zwave/zwave_nav.html'"></div>
</div> <!-- /ng-controller -->

