/* Alert
-------------------------------------------------- */
.alert {
    margin: 7px 0;
}
.alert-hidden{
    display: none;
}
.alert-page{
    margin: 10px 0;
}

.alert-entry{
    text-align: center;
    position: absolute;
    width: 80%;
    max-width: 300px;
    z-index: 100;
    padding: 7px;
    left: 50%;
    transform: translate(-50%, 0);
}