/* Body
-------------------------------------------------- */
html {}
body {
    background-color: $app-body-bcg-color;
    color: $app-body-color;
    //@include appGradient();
}

/* Typo
-------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: lighten($app-body-color, 15%);
}
h1 {
    font-size:20px;
    /*    text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);*/
    /*    color: #2A6496;*/
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}
.page-header{
    margin: 0;
    padding: 0 0 10px 0;
    border: 0;
}
.header-control{
    h1{
        display: block;
        width: 45%;
        float: left;
    }
    .page-header-control{
        display: block;
        width: 45%;
        float: right;
        text-align: right;
    }
}
.page-control{
    position: relative;
    top: -15px;
    /*   .btn-new-item{
           background-color: $brand-color-secondary;
           border: 0;
       }*/
}
.page-subtitle{
    font-size: 20px;
}
.subtitle-border{
    font-size: 18px;
    border-bottom: solid 1px $app-border-color;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.entry-title,.entry-title a{
    font-size: 15px;
}

a {
    color: lighten($app-body-color, 25%);
}
a:hover {
    color: lighten($brand-color-secondary, 15%);
}

.text-supp{
    font-style: italic;
    color: lighten($app-body-color, 30%);
}

.perex{
    margin: 20px 0;
    padding: 20px 0 0 0;
    border-top: 1px dotted #9fd8ef;
}

.badge{
    padding: 7px;
    margin-right: 5px;
}
.label-more{
    cursor: pointer;
}

.more-info{
    color: #458EC5;
    font-weight: bold;
}
.info-lert{
    font-size: 95%;
    font-style: italic;
    margin: 5px 0;
}

.btn-tooltip{
    cursor: help;
}
.app-border{
    border: solid 4px $app-border-color-light;
}
.app-gradient{
    @include appGradient();
}

.app-gradient-green{
    @include appGradientGreen();
}

.app-shadow{
    @include appBoxShadow();
}

.bcg-active.false{
    background-color: $app-bcg-active-false;
}

.alert-hidden{
    display: none;
}
.alert-page{
    margin: 10px 0;
}

.alert-entry{
    text-align: center;
    position: absolute;
    width: 80%;
    max-width: 300px;
    z-index: 100;
    padding: 7px;
    left: 50%;
    transform: translate(-50%, 0);
}
/* Hide element on is-mobile-true devices
-------------------------------------------------- */
.is-mobile-true{
     .mobhidden{
        display: none !important;
    }
    
}

/* Spinners
-------------------------------------------------- */
.module-spinner{
    display: none !important;
}

/* Images
-------------------------------------------------- */
.report-img{
    margin: 0;
    max-width: 26px;
    display: inline;
}

/* tables
-------------------------------------------------- */
.table{
    tbody{
        tr{
            td{
                //border-top: 1px solid lighten($app-border-color, 20%); 
                //border-top: 4px solid $app-body-bcg-color;
                border-bottom: 1px solid lighten($app-border-color, 3%); 
            }
        }
    }

}
.table-report{
    border: 0 !important;
    margin-bottom: 0 !important;
    td{
        vertical-align: middle;
    }
    tbody{
        tr{
           //background-color: lighten($app-body-bcg-color, 15%); 
           background-color: #fff;
        }
        .td-img{
            width: 30px;
        }
        .td-action{
            text-align: right;
        }
    }
}
/* Tabs
-------------------------------------------------- */
.nav-tabs {
    border-bottom: 2px solid darken($app-body-bcg-color, 10%);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color:  lighten($brand-color-primary, 10%);
    background-color: $header-color-secondary;
    //border: darken($app-body-bcg-color, 10%);
}
.nav-tabs > li.active > a i {
    color:  $brand-color-secondary;
}
/*.nav > li > a:hover, .nav > li > a:focus {
background-color: lighten($app-body-bcg-color, 10%);;
}*/

.nav-tabs-3{
  text-align: center;
}
 
.nav-tabs-3 > li {
  width: 33.33333%;
}
.nav-tabs-3 li a {
  background-color:#eeeeee;
}
.tab-content{
    padding-top: 10px;
}
/* Forms
-------------------------------------------------- */

.form-page{
    margin-bottom: 20px;
    background-color: #fff;
    border: solid 4px darken($app-body-bcg-color,3%);
    fieldset{
        background-color: #fff;
    }
    h3{
        font-size: 14px;
        font-weight: bold;
    }
    .form-group{
        border-top: solid 1px $app-border-color;
        padding-top: 10px;
    }
    label{
        font-weight: normal;
    }
}

fieldset{
    //margin-bottom: 10px;
    background-color: $app-body-bcg-color;
    padding: 10px;
}

.form-control-sm{
    width: 30% !important;
}

.form-control-md{
    width: 50% !important;
}

.submit-entry{
    display: block;
    margin: 10px 0 0 0;
}
fieldset.submit-entry{
    margin: 0 !important;
}
.form-control-hidden{
    display: none !important;
}
.form-control-img{
    cursor: pointer;
     border: solid 4px transparent;
    
}
.control-active{
    border: solid 4px black !important;
}

/* Page
-------------------------------------------------- */
#main_content {
    margin-top: 70px; 
    margin-bottom: 20px;
}
/* Modal
-------------------------------------------------- */
.modal-tooltip {
    width: 40%; /* or whatever you wish */
}
.modal-vertical-centered {
    position: fixed;
    top: 15% !important;
}


//.modal-vertical.fade.in { top: 50%; transform: translateY(-50%); }
/*.modal-vertical-centered {
  transform: translate(0, 25%) !important;
  -ms-transform: translate(0, 25%) !important;  IE 9 
  -webkit-transform: translate(0, 25%) !important;  Safari and Chrome 
}*/
/*.modal-dialog-center_ {
    margin-top: 25%;
}
.table {
 display: table;
 height:100%;
}
.table-cell {
display: table-cell;
vertical-align: middle;
}*/
/* Tooltip
-------------------------------------------------- */
.tooltip-inner {
    background-color: $app-body-bcg-color;
    color: #000;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}
.tooltip-arrow {
    border-bottom-color: #f2f2f2;
}

/* Pagination
-------------------------------------------------- */
.pagination > li > a, .pagination > li > span {
    color: $brand-color-secondary;
    background-color: $pagination-bcg-color;
    border: 1px solid $pagination-border-color;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: $brand-color-secondary;
    background-color: $app-body-bcg-color;
    border-color:$pagination-border-color;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777777;
    background-color: $pagination-bcg-color;
    border-color: $pagination-border-color;
    cursor: not-allowed;
}

.pagination > .active > a, .pagination > .active > a:hover {
    color: #fff;
    background-color: $pagination-active-bcg-color;
    border-color: $pagination-border-color;
}

/* Absolute Center CSS Spinner
http://codepen.io/MattIn4D/pen/LiKFC
-------------------------------------------------- */
#loading{
    position: fixed;
    z-index: 999;
    width: 260px;
    height: 50px;
    overflow: show;
    margin: 80px auto auto auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    .loading-in{
         position: relative;
         z-index: 1000;
        margin: auto;
        padding: 10px;
        background-color: #fff;
        border: solid 2px $app-border-color;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    a{
        font-weight: bold;
        text-decoration: underline;
    }
}

/* Transparent Overlay */
.loading-spin:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

.loading-fade{
    opacity: 0;
    -webkit-transition: opacity $app-loader-fade;
    -moz-transition: opacity $app-loader-fade;
    -ms-transition: opacity $app-loader-fade;
    -o-transition: opacity $app-loader-fade; 
    transition: opacity $app-loader-fade;

}

