/* Body
-------------------------------------------------- */
html {}
body {
    background-color: $app-body-bcg-color;
}

/* Typo
-------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
h1 {
    font-size: 26px;
    /*    text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);*/
    /*    color: #2A6496;*/
}

h3 {
    font-size: 20px;
}

.perex{
    margin: 20px 0;
    padding: 20px 0 0 0;
    border-top: 1px dotted #9fd8ef;
}

.badge{
    padding: 7px;
    margin-right: 5px;
}

.btn-tooltip{
    cursor: help;
}

/* Page
-------------------------------------------------- */
#respone_container{
    display: none;
}
.page-header {
    padding-bottom: 0;
    margin: 20px 0 30px 0;
    border-bottom: 0;
}

#main_content {
    margin-top: 70px; 
    margin-bottom: 20px;
}

/* Tooltip
-------------------------------------------------- */
.tooltip-inner {
    background-color:#f2f2f2;
   color: #000;
   font-size: 14px;
   padding: 10px;
   text-align: left;
}
.tooltip-arrow {
      border-bottom-color: #f2f2f2;
}

