/* Modal
-------------------------------------------------- */
.modal-tooltip {
    width: 40%; /* or whatever you wish */
}
.modal-vertical-centered {
    position: fixed;
    top: 15% !important;
}

.modal-vertical-centered {
    position: fixed;
    top: 15% !important;
}
.modal-firmware-iframe{
    width: 100%;
  //height: 100%;
    padding:0;
    .modal-content {
        height: 100%;
        border-radius: 0;
    }
}