/* Navigation
-------------------------------------------------- */
/* Navbar */
#main_navbar{
    .container{
        padding: 0;
    }
}
/* Visible */
.navbar-visible{
    position: relative;
    .navbar-visible-in{
        line-height: 50px;
        //top: 13px;
        position: absolute;
        a{
            display: inline-block;
            padding: 0 15px;
            color: $brand-color-secondary;
            line-height: 50px;
        }
        a:hover{
            color: lighten($brand-color-secondary, 20%);
        }
        .active{
            background-color:$brand-color-secondary;
             color: lighten($brand-color-primary, 10%);
        }
    }
}

.navbar-inverse {
    background-color: $brand-color-primary;
    border-color: transparent;
    border-bottom: solid 10px $brand-color-secondary;
    color: $brand-color-secondary;
    .navbar-nav{
        .dropdown-toggle{
            color: $brand-color-secondary;
        }
        .dropdown-toggle:hover{
             color: lighten($brand-color-secondary, 20%);
        }
    }

}
.navbar-inverse_ .navbar-nav .dropdown-toggle{
    color: $brand-color-secondary;
}
/* Collapse */

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: lighten($brand-color-secondary, 40%);
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: darken($brand-color-secondary, 50%);
}

.navbar-inverse .dropdown-menu>.active>a,
.navbar-inverse .dropdown-menu>.active>a:hover,
.navbar-inverse .dropdown-menu>.active>a:focus {

    background-color: lighten($brand-color-secondary, 40%);

}

.navbar-inverse .dropdown-menu>li>a:hover, 
.navbar-inverse .dropdown-menu>li>a:focus {
    background-color: lighten($brand-color-secondary, 40%);
}

.navbar .divider-vertical {
    height: 50px;
    /*    margin: 0 9px;*/
    border-left: 1px solid darken($brand-color-primary, 30%);
    border-right: 1px solid lighten($brand-color-primary, 15%);
}
.dropdown-menu {

    border: 1px solid lighten($brand-color-secondary, 30%);
    .divider {
        background-color: lighten($brand-color-secondary, 30%);
    }
}

.dropdown > .dropdown-menu::before, .dropdown > .dropdown-menu::after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}

.dropdown > .dropdown-menu::after {
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-bottom-color: #ffffff;
    top: -6px;
    left: 10px;
}

.navbar-right .dropdown>.dropdown-menu:after{
    left: auto;
    right: 13px;
}

.only-icon .only-icon-menu i{
    font-size: 18px;
}

.only-icon-menu span {
    display:none;
}

.dropdown-menu a i{
    padding-right: 10px;
}