<!-- Home view -->
<div ng-controller="HomeController">

    <div class="row">
        <div class="row">
            <div class="col-md-4" ng-repeat="v in collection | limitTo: 12">
                <div class="panel panel-default panel-element" ng-switch="v.deviceType">
                    <div class="panel-heading">
                        <h3 class="panel-title" title="{{v.deviceType}}">
                            {{v.title}}
                            <a href="" 
                               class="pull-right" 
                               ng-click="showModal('#modal_activate', {'title': v.title, 'dasboard': 0, 'deviceType': v.deviceType, 'level': v.level})"
                               ng-switch-when="sensorMultilevel"
                               ><i class="fa fa-cog"></i></a>
                        </h3>
                    </div>
                    <div class="panel-body row panel-body-element"
                         ng-mouseenter="goHidden = true; goHiddenCamera = true;goHiddenSensor = true;" 
                         ng-mouseleave="goHidden = false; goHiddenCamera = false;goHiddenSensor = false;">
                        <!-- Icon -->
                        <div class="col-sm-3" title="{{v.icon| cutText:true:10}}"><i class="fa fa-file-image-o fa-2x"></i></div>

                        <!-- switchMultilevel -->
                        <div class="col-sm-6" ng-switch-when="switchMultilevel">
                            <strong>{{v.level}} <i class="fa fa-caret-down"></i></strong>
                        </div>
                        <!-- switchBinary -->
                        <div class="col-sm-6" ng-switch-when="switchBinary">
                            <input
                                bs-switch
                                ng-model="isSelected"
                                type="checkbox"
                                switch-active="true"
                                switch-on-text="ON"
                                switch-off-text="OFF"
                                switch-on-color="{{ onColor}}"
                                switch-off-color="{{ offColor}}"
                                switch-animate="{{ animate}}"
                                switch-size="normal"
                                switch-label="{{ label}}"
                                switch-icon="{{ icon}}" >
                        </div>
                        <!-- doorlock -->
                        <div  class="col-sm-6" ng-switch-when="doorlock">
                            <input
                                bs-switch
                                ng-model="isSelected"
                                type="checkbox"
                                switch-active="true"
                                switch-on-text="OPEN"
                                switch-off-text="CLOSED"
                                switch-on-color="{{ onColor}}"
                                switch-off-color="{{ offColor}}"
                                switch-animate="{{ animate}}"
                                switch-size="normal"
                                switch-label="{{ label}}"
                                switch-icon="{{ icon}}" >
                        </div>
                        <!-- toggleButton -->
                        <div  class="col-sm-6" ng-switch-when="toggleButton">
                            <input
                                bs-switch
                                ng-model="isSelected"
                                type="checkbox"
                                switch-active="true"
                                switch-on-text="ON"
                                switch-off-text="OFF"
                                switch-on-color="{{ onColor}}"
                                switch-off-color="{{ offColor}}"
                                switch-animate="{{ animate}}"
                                switch-size="normal"
                                switch-label="{{ label}}"
                                switch-icon="{{ icon}}" >
                        </div>
                        <!-- sensorMultilevel -->
                        <div  class="col-sm-6" ng-switch-when="sensorMultilevel"><strong>{{v.level + v.scaleTitle}}</strong> <i class="fa fa-caret-down"></i></div>
                        <!-- camera -->
                        <div  class="col-sm-6" ng-switch-when="camera">{{v.deviceType}} <i class="fa fa-caret-down"></i></div>
                        <!-- Default -->
                        <div  class="col-sm-6" ng-switch-default><strong>{{v.level + v.scaleTitle}}</strong></div>
                        <!-- Time -->
                        <div class="col-sm-3"><span class="pull-right">{{v.updateTime| isTodayFromUnix}}</span></div>

                        <!-- Hidden switchMultilevel -->
                        <div class="col-sm-11 element-hidden" ng-switch-when="switchMultilevel" ng-show="goHidden">
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" value="75" class="dial" data-width="100" data-height="100" knob />  
                                            </td>
                                            <td>
                                                <a href=""><i class="fa fa-caret-up fa-3x"></i></a><br />
                                                <a href=""><i class="fa fa-caret-down fa-3x"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                         <!-- Hidden sensorMultilevel -->
                        <div class="col-sm-11 element-hidden" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <div>
                                <canvas tc-chartjs-line chart-data="chartData" chart-options="chartOptions" width="320" height="150"></canvas>
                            </div>
                        </div>

                        <!-- Hidden camera -->
                        <div class="col-sm-11 element-hidden" ng-switch-when="camera" ng-show="goHidden">
                            <div>
                                <iframe width="300" height="210" src="//www.youtube.com/embed/IKbxMIWCto0?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div><!-- /.panel-body -->
                </div>


            </div><!-- /.col -->
        </div>

       <!-- Modal apps -->
  <div class="modal fade" id="modal_activate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Omsk Weather {{input.name}}</h4>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label>Name</label>
                      <input name="name" id="name" type="text" class="form-control" value="{{input.name}}" ng-model="input.name" />
                  </div>
                  <div class="form-group">
                      <label>Description</label>
                      <textarea name="description" id="description" class="form-control" ></textarea>
                  </div>
                  <div class="form-group">
                      <label>City</label>
                      <input name="city" id="city" type="text" class="form-control" value="{{input.name}}" ng-model="input.name" />
                  </div>
                  <div class="form-group">
                      <label>Country</label>
                      <input name="country" id="country" type="text" class="form-control" value="{{input.name}}" ng-model="input.name" />
                  </div>
                   <div class="form-group">
                       <input type="radio" name="temp" value="f" checked="checked" /> °F
                       <input type="radio" name="temp" value="f" checked="checked" /> °C
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" 
                          class="btn btn-primary" 
                          data-dismiss="modal"
                          ng-click="create(input)">Save</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div><!-- /.Modal -->

    </div> <!-- /ng-controller --> 