<h1>{{_t('nav_automation')}}</h1>
<div class="text">
    <p ng-bind-html="_t('p_welcome_automation')|toTrusted"></p>
    <ul>
        <li ng-bind-html="_t('li_welcome_automation_scenes',{'__title_scenes__':_t('title_scenes')})|toTrusted"></li>
        <li ng-bind-html="_t('li_welcome_automation_rules',{'__title_rules__':_t('title_rules')})|toTrusted"></li>
        <li ng-bind-html="_t('li_welcome_automation_schedules',{'__title_schedules__':_t('title_schedules')})|toTrusted"></li>
        <li ng-bind-html="_t('li_welcome_automation_climate',{'__title_climate__':_t('title_climate')})|toTrusted"></li>
        <li ng-bind-html="_t('li_welcome_automation_hazard_notification',{'__title_leakage_hazard_notification__':_t('title_leakage_hazard_notification')})|toTrusted"></li>
        <li ng-bind-html="_t('li_welcome_automation_security',{'__title_security__':_t('title_security')})|toTrusted"></li>
    </ul><br><br>
</div>
<div class="image">
    <img src="app/img/welcome/automation_view.png"/>
</div>