<h1>{{_t('lets_start')}}</h1>
<div class="text">
    <p>
        To Add a new device please follow the instruction under
        <a href="#devices" class="btn btn-default"><i class="fa fa-cogs"></i> {{_t('nav_devices')}}</a>.<br>
        The following devices a currently supported:
        <ul>
            <li>Z-Wave</li>
            <li>Mobile Phones (for push notifications)</li>
            <li>Camera</li>
            <li>Speech Assistants Alexa or GoogleHome</li>
            <li>Wifi plugs</li>
        </ul>
        <div ng-if="elementAccess(cfg.role_access.admin)">
            All other functions such as time triggered actions, the use of information from the Internet, scenes plugin of other technologies and service are realized in <strong>Apps</strong>.
            These apps can create none, one or multiple new elements and events. The menu <a href="#apps/local" class="btn btn-default"><i class="fa fa-cubes"></i> {{_t('nav_apps')}}</a> allows downloading, activating and configuring your Apps. <br><br>
        </div>
    </p>
</div>