<h1>{{_t('nav_elements')}}</h1>
<div class="text">
	<p ng-bind-html="_t('p_welcome_elements')|toTrusted"></p><br>
	<ul>
		<li ng-bind-html="_t('li_welcome_elements_filter_type')|toTrusted"></li>
		<li ng-bind-html="_t('li_welcome_elements_filter_visibility')|toTrusted"></li>
		<li ng-bind-html="_t('li_welcome_elements_filter_tags')|toTrusted"></li>
		<li ng-bind-html="_t('li_welcome_elements_filter_search')|toTrusted"></li>
	</ul><br>
	<p ng-bind-html="_t('p_welcome_elements_order')|toTrusted"></p>
</div>
<div class="image">
	<img ng-if="!isMobile" src="app/img/welcome/elements.png"/>
	<img ng-if="isMobile" src="app/img/welcome/elements_mobile.png"/>
</div>
