<!-- Custom icons -->
<div ng-controller="CustomIconController">
    <bb-loader></bb-loader>
    <!-- Skins navigation -->
    <div ng-include="'app/views/customize/navi.html'"></div>
    <div class="form form-inline form-page">
            <div class="fieldset">
                 <input class="inputfile" type="file" name="file" id="file{{v.id}}" 
                                ng-click="icons.find = v" 
                                onchange="angular.element(this).scope().uploadFile(this.files)" />
                             <label for="file{{v.id}}" class="btn btn-success" title="{{_t('lb_upload_image')}}" 
                                    ng-click="icons.find = v">
                                 <i class="fa fa-upload"></i> {{_t('lb_upload_image')}}
                             </label>
                         <div ng-if="file.upload">{{file.upload|cutText:true:30}}</div>
                  <bb-help-text trans="_t('upload_file_info',{'__size__':icons.info.maxSize,'__extensions__': icons.info.extensions})"></bb-help-text>
                  <bb-help-text trans="_t('image_recommended_dimension',{'__dimension__':cfg.upload.icon.dimension})"></bb-help-text>
            </div>
       
        </div>

</div> <!-- /ng-controller --> 