<!-- Online skins -->
<div ng-controller="SkinBaseController">
    <div ng-controller="SkinOnlineController" id="skins_online">
         <bb-loader></bb-loader>
         <!-- Skins navigation -->
            <div ng-include="'app/views/customize/navi.html'"></div>
        <div ng-if="skins.online.show">
            <div class="app-row app-row-widget app-row-skins clearfix">
                <div class="widget-entry widget-entry-skin"
                     id="local_skin_{{v.id}}"
                     ng-class="{'widget-warning': skins.local.all[v.name],'widget-danger': skins.local.all[v.name] && skins.local.all[v.name].version != v.version}"
                     ng-repeat="v in skins.online.all track by v.id">
                    <div class="widget-entry-in">
                        <!-- Widget img -->
                        <div class="widget-img">
                            <img class="skin-preview-img clickable" ng-src="{{v.icon}}" alt="{{v.title}}" ng-click="skins.online.find = v;handleModal('skinOnlineModal', $event)" />
                        </div>

                        <!-- Widget header -->
                        <div class="widget-header"></div>
                        <div class="widget-content">
                            <!-- Widget title -->
                            <div class="widget-title">
                                <h3 class="clickable" ng-click="skins.online.find = v;handleModal('skinOnlineModal', $event)">
                                    {{v.title|cutText:true:20}}  <span class="btn-name">&raquo;</span>
                                </h3>
                            </div>
                            <hr class="bottom-aligner" />
                            <!-- Widget footer -->
                            <div class="widget-footer">
                                <div class="widget-ctrl ctrl-left">&nbsp;</div>
                                <div class="widget-ctrl ctrl-right clearfix">
                                  <div class="btn-group">
                                        <!-- Download -->
                                        <button class="btn btn-default" title="{{_t('lb_download')}}" ng-if="v.status === 'download'" ng-click="downloadSkin(v)">
                                             <i class="fa fa-download text-success"></i> <span class="btn-name">{{_t('lb_download')}}</span>
                                        </button>
                                        <!-- Upgrade -->
                                         <button class="btn btn-danger" title="{{_t('upgrade')}}" ng-if="v.status === 'notequal'" ng-click="upgradeSkin(v)">
                                             <i class="fa fa-level-up"></i> <span class="btn-name">{{_t('upgrade')}}</span>
                                        </button>
                                        <!-- Installed -->
                                        <button class="btn btn-disabled" title="{{_t('installed')}}" disabled ng-if="v.status === 'equal'">
                                             <i class="fa fa-check"></i> <span class="btn-name">{{_t('installed')}}</span>
                                        </button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.widget-entry-in --> 
                </div><!-- /.widget-entry --> 
            </div><!-- /.app-row --> 
        </div>
        <div id="skinOnlineModal" class="appmodal" ng-if="modalArr.skinOnlineModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
            <span class="appmodal-close" ng-click="handleModal('skinOnlineModal', $event)"><i class="fa fa-times"></i></span>
            <h3>{{skins.online.find.title}}</h3>
        </div>
        <div class="appmodal-body">
            <div class="skin-detail-img">
                 <img class="skin-image-detail" ng-src="{{skins.online.find.icon}}" alt="{{skins.online.find.title}}" />
            </div>
            
             <p class="skin-detail-perex">{{skins.online.find.description}}</p>
              <p class="skin-detail-list" ng-if="skins.online.find.author">
                            <i class="fa fa-user"></i>
                            <span ng-if="!skins.online.find.homepage"> {{skins.online.find.author}}</span>
                            <a ng-href="{{skins.online.find.homepage}}" ng-if="skins.online.find.homepage"> {{skins.online.find.author}}</a> 
                        </p>
                <p class="skin-detail-list">
                        <i class="fa fa-info-circle"></i> {{skins.online.find.version}}
                </p>
        </div>
        <!--<div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="handleModal('doorLockControlModal', $event)"><i class="fa fa-times text-danger"></i> {{_t('lb_close')}}</button>
        </div>-->
    </div>
</div>
    </div> <!-- /ng-controller --> 
</div> <!-- /ng-controller --> 