<!-- Online app view -->
<div class="table-responsive_">
    <table id="table_apps_active" class="table table-report">
       <tbody>
            <tr ng-repeat="v in instances| orderBy:predicate:reverse" id="instance_{{$index}}">
                    <td><img class="app-image-list" src="storage/img/apps/appimage.jpg" alt="{{ v.name}}"/></td>
                     <td>
                         {{_t('lb_instance_of')}} <strong ng-show="v.title">{{ v.title}}</strong><strong ng-show="!v.title">#{{v.id}}</strong>
                        </td>
                     <td class="apps-action-icons">
                         <button title="{{_t('lb_deactivate')}}" 
                                 class="btn btn-primary" href="" 
                                 ng-show="v.active"
                                 ng-click="activateInstance({'id': v.id,'active': false})"
                                 >
                             <i class="fa fa-power-off fa-lg"></i> <span class="btn-name">{{_t('lb_deactivate')}}</span>
                         </button>
                          <button title="{{_t('lb_activate')}}" 
                                  class="btn btn-info" 
                                  ng-show="!v.active" 
                                  ng-click="activateInstance({'id': v.id,'active': true})
                                  ">
                              <i class="fa fa-refresh fa-lg"></i> <span class="btn-name">{{_t('lb_activate')}}</span>
                          </button>
                         <button title="{{_t('lb_remove')}}" 
                                 class="btn btn-danger"
                                  ng-click="deleteInstance('#instance_' + $index, {'id': v.id},_t('lb_delete_confirm'))"
                                 >
                             <i class="fa fa-remove fa-lg"></i> <span class="btn-name">{{_t('lb_remove')}}</span>
                         </button>
                     </td>
            </tr>
        </tbody>
    </table>
    </div>