<!-- Online app view -->
<div class="table-responsive_">
    <table id="table_apps_active" class="table table-report">
        <tbody>
            <tr ng-repeat="v in instances| orderBy:predicate:reverse | filter:q" id="instance_{{$index}}">
                <td><img class="app-image-list" src="storage/img/apps/appimage.jpg" alt="{{ v.name}}"/></td>
                <td>
                    <span ng-show="!v.title">This</span>{{v.title}} is a <strong>{{v.moduleId}}</strong>
                </td>
                <td class="apps-action-icons">
                    <a href="#module/put/{{v.id}}" title="{{_t('lb_update')}}" class="btn btn-primary btn-sm">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <button title="{{_t('lb_deactivate')}}" 
                            class="btn btn-primary btn-sm" href="" 
                            ng-show="v.active"
                            ng-click="activateInstance({'id': v.id, 'active': false})"
                            >
                        <i class="fa fa-power-off fa-lg"></i> <span class="btn-name">{{_t('lb_deactivate')}}</span>
                    </button>
                    <button title="{{_t('lb_activate')}}" 
                            class="btn btn-info btn-sm" 
                            ng-show="!v.active" 
                            ng-click="activateInstance({'id': v.id, 'active': true})
                            ">
                        <i class="fa fa-refresh fa-lg"></i> <span class="btn-name">{{_t('lb_activate')}}</span>
                    </button>
                    <button title="{{_t('lb_remove')}}" 
                            class="btn btn-danger btn-sm"
                            ng-click="deleteInstance('#instance_' + $index, {'id': v.id}, _t('lb_delete_confirm'))"
                            >
                        <i class="fa fa-remove fa-lg"></i> <span class="btn-name">{{_t('lb_remove')}}</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>