<!-- Devicess view -->
<div ng-controller="DeviceController">
    <div class="device-container app-border app-shadow" ng-hide="cfg.device_vendors.indexOf(deviceVendor) > -1">
        <h2 class="page-subtitle"><i class="fa fa-cubes"></i> {{_t('lb_select_device_type')}}</h2>
        <div class="row device-logo">
            <div class="col-sm-6">
                <div class="device-types">
                    <a href="#devices/zwave"><img class="apps-image" ng-src="app/img/logo-z-wave.png" alt="Logo" /></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="device-types">
                    <a href="#devices/enocean"><img class="apps-image" ng-src="app/img/logo-enocean.png" alt="Logo" /></a>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center" ng-show="cfg.device_vendors.indexOf(deviceVendor) > -1">
        <a href="#devices"><i class="fa fa-chevron-circle-left fa-lg"></i> Back to selection</a>
       
    <p>
    <div ng-switch="deviceVendor">
        <!-- Z wave devices -->
        <div ng-switch-when="zwave">
            <div class="device-container_" ng-include="'app/views/config/devices_zwave.html'"></div>
        </div>
        <!-- Enocean devices -->
        <div ng-switch-when="enocean">
            <div class="device-container_" ng-include="'app/views/config/devices_enocean.html'"></div>
        </div>
        
          
    </div>
</div> <!-- /ng-controller --> 