<!-- Camera manage view -->
<div ng-controller="CameraManageController">
    <div class="app-row app-row-report app-row-event clearfix">
             <div class="report-entry bcg-active"
                id="instance_{{$index}}" 
                ng-repeat="v in instances |orderBy:'title' track by v.id" 
                ng-class="v.active ? 'true': 'false'">
                 <div class="report-col report-media">
                      <img class="product-img" ng-src="{{modules.mediaUrl + v.moduleId + '/' + modules.imgs[v.moduleId]}}" ng-if="modules.imgs[v.moduleId]" alt="img" />
                    <img class="product-img" ng-src="storage/img/placeholder-img.png" ng-if="!modules.imgs[v.moduleId]" alt="img" />
                 </div>
                 <div class="report-col report-body">
                      <a href="#module/put/{{v.id}}"><span ng-bind="v.title"></span></a>
                 </div>
                 <div class="report-col report-ctrl report-ctrl-3">
                      <div class="btn-group">
                    <a href="#module/put/{{v.id}}" class="btn btn-default" title="{{_t('lb_settings')}}">
                        <i class="fa fa-cog"></i>
                    </a>
                    <button title="{{_t('lb_deactivate')}}" 
                            class="btn btn-default" href="" 
                            ng-if="v.active"
                            ng-class="v.active ? 'active' : ''"
                            ng-click="activateInstance(v, false)">
                        <i class="fa fa-fire text-success"></i>
                    </button>
                    <button title="{{_t('lb_activate')}}" 
                            class="btn btn-default" 
                            ng-if="!v.active" 
                            ng-click="activateInstance(v, true)">
                         <i class="fa fa-power-off text-danger"></i>
                    </button>
                    <button title="{{_t('lb_remove')}}" 
                            class="btn btn-default"
                            ng-click="deleteInstance('#instance_' + $index, {'id': v.id}, _t('lb_delete_confirm'))">
                        <i class="fa fa-remove text-danger"></i>
                    </button>
                 </div>
                 </div>
              </div>
        </div>
    <div class="device-logo" ng-include="'app/views/camera/camera_nav.html'"></div>
</div> <!-- /ng-controller --> 

