<!-- Camera manage view -->
<div ng-controller="CameraManageController">
    <table id="table_apps_instance" class="table table-condensed table-report table-products">
        <tbody>
            <tr class="bcg-active" ng-repeat="v in instances |orderBy:'title' track by v.id" id="instance_{{$index}}" ng-class="v.active ? 'true': 'false'">
                <td class="td-img">
                    <img class="product-img" ng-src="{{modules.mediaUrl + v.moduleId + '/' + modules.imgs[v.moduleId]}}" ng-if="modules.imgs[v.moduleId]" alt="img" />
                    <img class="product-img" ng-src="storage/img/placeholder-img.png" ng-if="!modules.imgs[v.moduleId]" alt="img" />
                    <!-- <img class="report-img" ng-src="storage/img/apps/app.png" alt="icon" />-->
                </td>
                <td>
                   <a href="#module/put/{{v.id}}"><span ng-bind="v.title"></span> <span ng-bind="_t('lb_use')"></span> <strong ng-bind="v.module"></strong></a>
                </td>
                <td class="td-action">
                    <div class="btn-group">
                    <a href="#module/put/{{v.id}}" class="btn btn-default">
                        <i class="fa fa-cog text-primary"></i>
                    </a>
                    <button title="{{_t('lb_deactivate')}}" 
                            class="btn btn-default" href="" 
                            ng-if="v.active"
                            ng-class="v.active ? 'active' : ''"
                            ng-click="activateInstance(v, false)">
                        <i class="fa fa-fire text-success"></i>
                    </button>
                    <button title="{{_t('lb_activate')}}" 
                            class="btn btn-default" 
                            ng-if="!v.active" 
                            ng-click="activateInstance(v, true)">
                         <i class="fa fa-power-off text-danger"></i>
                    </button>
                    <button title="{{_t('lb_remove')}}" 
                            class="btn btn-default"
                            ng-click="deleteInstance('#instance_' + $index, {'id': v.id}, _t('lb_delete_confirm'))">
                        <i class="fa fa-remove text-danger"></i>
                    </button>
                 </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="device-logo" ng-include="'app/views/camera/camera_nav.html'"></div>
</div> <!-- /ng-controller --> 

