<!-- Camera add view -->
<div ng-controller="CameraAddController">
  <div ng-include="'app/views/camera/camera_navi.html'"></div>
  <div class="list-panel bcg-active" ng-repeat="v in ipcameraDevices | orderBy:'defaults.title' track by v.moduleName">
    <!-- img -->
    <figure class="img wh-32x32">
      <img ng-src="{{moduleMediaUrl + v.moduleName + '/' + v.icon}}" ng-if="v.icon" alt="img" />
      <img ng-src="storage/img/icons/camera.png" ng-if="!v.icon" alt="img" />
    </figure>
    <!-- body -->
    <div class="body">
      <div>
        <a href="#module/post/{{v.id}}">{{v.defaults.title}}</a>
      </div>
    </div>
    <!-- control -->
    <div class="control">
      <a href="#module/post/{{v.id}}" class="btn btn-default" title="{{_t('lb_include_device')}}">
        <i class="fa fa-plug text-primary"></i>
      </a>
    </div>
  </div>
  <div class="device-logo" ng-include="'app/views/camera/camera_nav.html'"></div>
</div>
<!-- /ng-controller -->