<!-- Events dropdown -->
<div class="btn-group group-event-dropdown">
    <button type="button" class="btn btn-default" title="{{_t('lb_settings')}}" ng-click="expandNavi('evDropDown_' + $index, $event)"><i class="fas fa-caret-down"></i></button>
        <div class="app-dropdown dropdown-events" ng-if="naviExpanded['evDropDown' + '_' + $index]">
          <div class="dropdown-header">
              <span class="text-supp event-date" title="{{v.timestamp| date:'dd.MM.yyyy H:mm'}}" ng-bind="v.timestamp | eventDate: cfg.route.time.timeZoneOffset"></span>
              <span class="event-message" ng-if="v.source && v.message" ng-bind-html="v.messageView|toTrusted"></span>
              <span class="event-message" ng-bind="v.message" ng-if="!v.source && !v.message"></span>
              <span class="event-room" ng-if="rooms.all[v.message.location]">{{rooms.all[v.message.location]}}</span>
          </div>
            <ul>
                <li>
                    <a ng-href="#events"> <i class="fas fa-eye fa-fw"></i> <span ng-bind="_t('lb_show_all')"></span></a>
                </li>
                <li>
                    <a ng-href="#events/source/{{v.source}}"><i class="fas fa-check fa-fw"></i> <span ng-bind="_t('lb_events_source')"></span></a>
                </li> 
                <li>
                    <a ng-href="#events/type/{{v.type}}"><i class="fas fa-check-square fa-fw"></i> <span ng-bind="_t('lb_events_type')"></span></a>
                </li> 
                <li>
                    <a ng-href="#events/source_type?source={{v.source}}&type={{v.type}}">
                        <i class="fas fa-check-circle fa-fw"></i> <span ng-bind="_t('lb_events_source_type')"></span>
                    </a>
                </li>
                <li ng-if="elementAccess(cfg.role_access.element) && (cfg.events_clickable.indexOf(v.level) > -1) && (v.source && v.message)">
                    <a href="#element/{{v.source}}">
                        <i class="fas fa-cog fa-fw"></i> <span ng-bind="_t('lb_source_cfg')"></span>   
                    </a>
                </li> 
                <li>

                    <a href="" ng-click="hideSourceEvents(v.source)" 
                       ng-if="user.hide_single_device_events.indexOf(v.source) === -1">
                        <i class="fas fa-minus-circle fa-fw text-danger"></i> <span  ng-bind="_t('lb_hide_events_source')" ></span>
                    </a>
                </li>
                <li ng-if="elementAccess(cfg.role_access.event_delete) && (v.level == 'error' || v.level == 'notification')">
                    <a href=""ng-click="deleteEvent(v.id, '?uid=' + v.h,_t('lb_delete_confirm'))">
                        <i class="fas fa-times fa-fw text-danger"></i> <span  ng-bind="_t('lb_delete_event')" ></span>
                    </a>
                </li>

            </ul>
        </div>
</div>
