<!-- Events view -->
<div ng-controller="EventController">
    <bb-loader></bb-loader>
     <h2 ng-if="page.title">{{page.title|cutText:true:50}}</h2>
    <div class="events-header">
        <button class="btn btn-default" ng-click="changeTime(1)" ng-disabled="timeFilter.day == 1" ng-bind="_t('lb_today')"></button>
        <button class="btn btn-default" ng-click="changeTime(2)" ng-disabled="timeFilter.day == 2" ng-bind="_t('lb_yesterday')"></button>
        <!--<button class="btn btn-default" ng-click="changeTime(3)" ng-disabled="timeFilter.day == 3">3 <span ng-bind="_t('lb_days')"></span></button>
        <button class="btn btn-default" ng-click="changeTime(4)" ng-disabled="timeFilter.day == 4">4 <span ng-bind="_t('lb_days')"></span></button>
        <button class="btn btn-default" ng-click="changeTime(5)" ng-disabled="timeFilter.day == 5">5 <span ng-bind="_t('lb_days')"></span></button>
        <button class="btn btn-default" ng-click="changeTime(6)" ng-disabled="timeFilter.day == 6">6 <span ng-bind="_t('lb_days')"></span></button>-->
        <button class="btn btn-default" ng-click="changeTime(7)" ng-disabled="timeFilter.day == 7">7 <span ng-bind="_t('lb_days')"></span></button>
    </div>
      <div class="info-lert" ng-if="collection.length < 1 || devices.find.id"><i class="fa fa-info-circle text-info"></i> {{_t('device_no_event')}}.</div>
    <div class="table-responsive_">
        <table class="table table-condensed table-report table-events">
            <tbody>
                <tr class="td-event-{{v.level}}" dir-paginate="v in collection | orderBy: '-timestamp' | itemsPerPage: pageSize" current-page="currentPage" id="row_{{v.id}}">

                    <td class="td-event-icon td-event-{{v.level}}">
                        <img id="event_img_{{v.id}}" class="report-img" ng-src="storage/img/events/{{v.type|getEventIcon:v.message}}" alt="{{v.type}}"/>

                    </td>
                    <td>
                        <span class="text-supp event-date" title="{{v.timestamp| date:'dd.MM.yyyy H:mm'}}" ng-bind="v.timestamp | eventDate"></span> <span class="hide-on-mobile">|</span>
                        <span  ng-if="v.source && v.message">
                        <a ng-href="#element/{{v.source}}" ng-if="elementAccess(cfg.role_access.element) && (cfg.events_clickable.indexOf(v.level) > -1)">
                            <span ng-if="v.message | hasNode:'l'"> <span ng-bind="v.message.dev"></span> {{_t('lb_is')}} <strong ng-bind="v.message.l"></strong></span>
                            <span ng-if="!(v.message | hasNode:'l')" ng-bind="v.message"></span>
                         </a>
                         <span  ng-if="!elementAccess(cfg.role_access.element) || (cfg.events_clickable.indexOf(v.level) === -1)">
                            <span ng-if="v.message | hasNode:'l'"> <span ng-bind="v.message.dev"></span> {{_t('lb_is')}} <strong ng-bind="v.message.l"></strong></span>
                            <span ng-if="!(v.message | hasNode:'l')" ng-bind="v.message"></span>
                         </span>
                         </span>
                        <span class="report-message" ng-bind="v.message" ng-if="!v.source && !v.message"></span>
                    </td>
                    <td class="td-action">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu pull-right">
                                <!--<li><a href="" ng-click="markAsRead(v.id)" ng-bind="_t('lb_mark_read')"></a></li>-->
                                <li>
                                    <a ng-href="#events"> <i class="fa fa-eye"></i> <span ng-bind="_t('lb_show_all')"></span></a>
                                </li>
                                <li>
                                    <a ng-href="#events/source/{{v.source}}"><i class="fa fa-check"></i> <span ng-bind="_t('lb_events_source')"></span></a>
                                </li> 
                                <li>
                                    <a ng-href="#events/type/{{v.type}}"><i class="fa fa-check-square"></i> <span ng-bind="_t('lb_events_type')"></span></a>
                                </li> 
                                <li>
                                    <a ng-href="#events/source_type?source={{v.source}}&type={{v.type}}">
                                        <i class="fa fa-check-circle"></i> <span ng-bind="_t('lb_events_source_type')"></span>
                                    </a>
                                </li>
                                <li ng-if="elementAccess(cfg.role_access.element) && (cfg.events_clickable.indexOf(v.level) > -1) && (v.source && v.message)">
                                    <a href="#element/{{v.source}}">
                                        <i class="fa fa-cog"></i> <span ng-bind="_t('lb_source_cfg')"></span>   
                                    </a>
                                </li> 
                                <li>

                                    <a href="" ng-click="hideSourceEvents(v.source)" 
                                       ng-if="user.hide_single_device_events.indexOf(v.source) === -1">
                                        <i class="fa fa-minus-circle text-danger"></i> <span  ng-bind="_t('lb_hide_events_source')" ></span>
                                    </a>
                                </li>
                                <li ng-if="elementAccess(cfg.role_access.event_delete)">
                                    <a href=""ng-click="deleteEvent(v.id, '?uid=' + v.h, '#row_' + v.id,_t('lb_delete_confirm'))" ng-if="v.level == 'error' || v.level == 'notification'">
                                        <i class="fa fa-times text-danger"></i> <span  ng-bind="_t('lb_delete_event')" ></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="info-lert" ng-if="user.hide_all_device_events || user.hide_system_events"><i class="fa fa-info-circle text-info"></i> <span ng-bind="_t('events_hidden')"></span></div>
        <div class="text-center mobile-padding" ng-if="collection.length > 0">
            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
    <!-- Elements footer view -->
    <div id="footer">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <form class="form-inline form-events-filter" role="form">
                     <div class="btn-group dropup">
                        {{_t('lb_filter_by')}}:
                         </div>
                     <div class="btn-group dropup">
                        <button type="button" class="btn btn-default" ng-bind="_t('error_type')"></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                             <i class="fa fa-caret-up"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-bottomr">
                            <li ng-repeat="v in eventLevels" ng-class="v.key == currLevel ? 'active':''">
                                <a href="#events/level/{{v.key}}"><i class="fa fa-check" ng-if="v.key == currLevel"></i> {{_t('lb_notify_' + v.val)}}</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-default">
                              <span ng-if_="!devices.find.title">{{_t('lb_device')}}</span>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-up"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-bottom pull-right">
                            <!--<li><a href="" ng-click="markAsRead(v.id)" ng-bind="_t('lb_mark_read')"></a></li>-->
                            <li ng-repeat="v in devices.data" ng-class="v.id===devices.find.id ? 'active':''">
                                <a ng-href="#events/source/{{v.id}}"><i class="fa fa-check" ng-if="v.id===devices.find.id"></i> {{v.metrics.title}}</a>
                            </li>
                         </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 