<!-- Events view -->
<div ng-controller="EventController">
    <bb-loader></bb-loader>
    <div class="page-control form-inline">
        <!-- Filter -->
        <div class="btn-group btn-goup-block btn-goup-2">
            <button class="btn btn-default" ng-click="expandNavi('evFilter', $event)" ng-class="devices.find.title || currLevel ? 'active':'' ">
                <i class="fa fa-filter"></i>
                <span ng-if="!devices.find.title && !currLevel">{{_t('lb_show_all')}}</span>
                 <span ng-if="devices.find.title">{{devices.find.title | cutText:true:15}}</span>
                 <span ng-if="currLevel"> {{_t('lb_notify_' + currLevel)}}</span>
            </button>
         
        <!-- Days -->
            <button class="btn btn-default" ng-click="expandNavi('evDays', $event)" ng-switch="timeFilter.day">
                <i class="fa fa-calendar-check-o"></i> 
                 <span ng-switch-when="2">{{_t('lb_yesterday')}}</span>
                 <span ng-switch-when="7">7 {{_t('lb_days')}}</span>
                <span ng-switch-default>{{_t('lb_today')}}</span>
            </button>
        </div>
    </div>
    <!-- Page subnavi  filter-->
    <div class="page-navi" ng-if="naviExpanded.evFilter">
        <div class="page-navi-in">
              <!--<p class="page-navi-title">{{_t('error_type')}} </p>-->
            <div class="page-navi-content">
                 <a class="btn btn-default btn-tag" ng-href="#events/level/{{v.key}}" ng-repeat="v in eventLevels" ng-class="v.key == currLevel? 'active': ''">
                     {{_t('lb_notify_' + v.val)}}
                 </a>
            </div>
             <div ng-if="devices.show">
             <!--<p class="page-navi-title">{{_t('lb_device')}} </p>-->
             <div class="page-navi-content">
                 <a class="btn btn-default btn-tag" 
                   ng-href="#events/source/{{v.id}}"
                    ng-repeat="v in devices.data" ng-class="v.id===devices.find.id ? 'active':''"
                     ng-if="devices.cnt.deviceEvents[v.id]">
                     <img class="navi-img" ng-src="{{v.iconPath}}" alt="img" /> 
                     {{v.metrics.title|cutText:true:25}} <span class="item-cnt">({{devices.cnt.deviceEvents[v.id]}})</span> 
                 </a>
            </div>
         </div>
        </div>
    </div>
    
    <!-- Page subnavi  days-->
    <div class="page-navi" ng-if="naviExpanded.evDays">
        <div class="page-navi-in">
            <div class="page-navi-content">
                <a class="btn btn-default btn-tag" href="" ng-class="timeFilter.day == 1 ? 'active': ''" ng-click="changeTime(1)">{{_t('lb_today')}}</a>
                <a class="btn btn-default btn-tag" href="" ng-class="timeFilter.day == 2 ? 'active': ''" ng-click="changeTime(2)">{{_t('lb_yesterday')}}</a>
                <a class="btn btn-default btn-tag" href="" ng-class="timeFilter.day == 7 ? 'active': ''" ng-click="changeTime(7)">7 {{_t('lb_days')}}</a>
            </div>
        </div>
    </div>
      <div class="info-lert" ng-if="devices.find.id && collection.length < 1"><i class="fa fa-info-circle text-info"></i> {{_t('device_no_event')}}.</div>
      <div class="info-lert" ng-if="user.hide_all_device_events || user.hide_system_events"><i class="fa fa-info-circle text-info"></i> <span ng-bind="_t('events_hidden')"></span></div>
        
    <div class="app-row app-row-report app-row-event clearfix">
        <div class="report-entry event-level-{{v.level}}" 
             dir-paginate="v in collection | orderBy: '-timestamp' | itemsPerPage: pageSize" current-page="currentPage" id="row_{{v.id}}">
            <div class="report-col report-media">
                <img id="event_img_{{v.id}}" class="report-img" ng-src="{{v.type|getEventIcon:v.message}}" alt="{{v.type}}"/>
            </div>
            
            <div class="report-col report-body">
                <span class="text-supp event-date" title="{{v.timestamp| date:'dd.MM.yyyy H:mm'}}" ng-bind="v.timestamp | eventDate"></span> <span class="hide-on-mobile">|</span>
                <span  ng-if="v.source && v.message">
                <a ng-href="#element/{{v.source}}" ng-if="elementAccess(cfg.role_access.element) && (cfg.events_clickable.indexOf(v.level) > -1)">
                    <span ng-if="v.message | hasNode:'l'"> <span ng-bind="v.message.dev"></span> {{_t('lb_is')}} <strong ng-bind="v.message.l"></strong></span>
                    <span ng-if="!(v.message | hasNode:'l')" ng-bind="v.message"></span>
                 </a>
                 <span  ng-if="!elementAccess(cfg.role_access.element) || (cfg.events_clickable.indexOf(v.level) === -1)">
                    <span ng-if="v.message | hasNode:'l'"> <span ng-bind="v.message.dev"></span> {{_t('lb_is')}} <strong ng-bind="v.message.l"></strong></span>
                    <span ng-if="!(v.message | hasNode:'l')" ng-bind="v.message"></span>
                 </span>
                 </span>
                <span class="report-message" ng-bind="v.message" ng-if="!v.source && !v.message"></span>
            </div>
            <div class="report-col report-ctrl" ng-include="'app/views/events/dropdown.html'"></div>
        </div>
    </div>
    <div class="text-center mobile-padding" ng-if="collection.length > 0">
         <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
     </div>
</div> <!-- /ng-controller --> 