<!-- status -->
<div class="form-group">
    <label class="switch">
      <input type="checkbox" ng-model="model.level" ng-checked="model.level == 'on'" ng-true-value="close" ng-false-value="open">
      <span class="slider"></span>
    </label>
    <span class="switch-label">{{model.level}}</span>
  </div>
  <!-- command -->
  <div class="form-group" ng-if="!hideAction">
    <input type="checkbox" name="send_command" id="send_command" ng-model="model.sendAction" ng-checked="model.sendAction" />
    <label for="send_command">{{_t('dont_send_on_command')}}</label>
  </div>