<!-- operator -->
<div class="form-group">
  Add a new nested condition - like in logical notation: A AND B AND (C OR D). The additional nested condition is (C OR D).
  An action is only triggered if the conditions A and B and either the condition C or D are met together. Example: If outside
  the light sensor A &gt; 80% and the temperature sensor B &gt; 26°C and (time
  &lt; 12:00 am or time &gt; 02:00 pm) then the jalousie in the living room is set to 50%.
</div>
<!-- operator -->
<div class="form-group">
  <label class="switch">
    <input type="checkbox" ng-model="model.logicalOperator" ng-true-value="or" ng-false-value="and">
    <span class="slider"></span>
  </label>
  <span class="switch-label">
    {{model.logicalOperator| uppercase}}
    <em ng-if="model.logicalOperator == 'and'">({{_t('All conditions must be met')}})</em>
    <em ng-if="model.logicalOperator == 'or'">({{_t('At least one condition is fulfilled')}})</em>
  </span>
  <bb-help-text trans="_t('This option links all conditions in the list to a logical OR or ANn. With OR, the action is executed if at least one condition applies. With AND, the action is only executed if all conditions apply.')"></bb-help-text>
</div>
<!-- assigned -->
<legend>{{_t('assigned_conditions')}}</legend>
<section class="accordion-wrap" ng-repeat="n in d.tests track by $index" ng-init="model=n">
    <span class="label label-default index_{{$index}}">{{rule.input.params.advanced.tests[testIndex].logicalOperator| uppercase}}</span>
    <h2 class="accordion-toggle chevron">
       <!-- Title -->
       <button type="button" aria-expanded="{{expand['test_nested_' + testIndex + $index]||false}}" bb-accordion ng-class="{'no-toggle': n.type == 'toggleButton'}" ng-switch="n.type">
          <span ng-switch-when="nested">{{n.type}}</span>
          <span ng-switch-when="time">{{n.level}}</span>
         <span ng-switch-default>{{rule.namespaces[n.deviceId].deviceName || _t('device_removed') + ': ' + n.deviceId}}</span>
         
       </button>
       <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignAdvancedTestNested($index,n.deviceId,testIndex)">
         <i class="fa fa-times text-danger"></i>
         </span>
     </h2>
      <!-- Content -->
     <div class="accordion" bb-remove-attr="{{expand['test_nested_' + testIndex + $index] ? 'hidden': ''}}" ng-include="'app/views/automation/rules/inputs/'+ n.type +'.html'" ng-if="n.type != 'toggleButton'"
       hidden></div>
   </section>
    <!-- devices -->
    <legend>{{_t('available_conditions')}}</legend>
    <div bb-child-elem_="rule.advanced.tests.assignedDevices">
   <section class="accordion-wrap _available-devices" ng-repeat="r in rule.rooms track by $index" ng-if="rule.advanced.tests.devicesInRoom[r.id]">
      <!-- Title -->
      <h2 class="accordion-toggle chevron">
        <button type="button" aria-expanded="false" bb-accordion>
          <span>
            <img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
          </span>
        </button>
      </h2>
      <!-- Content -->
      <div class="accordion" hidden>
          <button type="button" class="btn btn-default btn-tag" title="{{o.deviceName}}" ng-repeat="o in rule.advanced.tests.availableDevices track by $index" ng-if="o.location == r.id && rule.advanced.tests.assignedDevices.indexOf(o.deviceId) === -1" ng-hide="o.deviceId == rule.input.params.simple.triggerEvent.deviceId" ng-click="assignAdvancedTestNestedDevice(o,testIndex)">
              {{o.deviceName|cutText:true:20}} <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i> 
          </button>
      </div>
    </section>
  </div>
<!-- time -->
<section class="section">
    <button type="button" class="btn btn-default btn-tag" ng-click="assignAdvancedTestNestedCondition('time',testIndex)">
        {{_t('testTime')}} <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i> 
    </button>
  </dection>
<!-- <pre>{{d|json}}</pre> -->