<!-- select -->
<div class="form-group form-inline">
  <span ng-show="model.operator == ''">
  <label class="switch">
    <input type="checkbox" ng-model="model.level" ng-checked="model.level == 'on'" ng-true-value="on" ng-false-value="off" ng-disabled="model.operator != ''">
    <span class="slider"></span>
  </label>
  <span class="switch-label" ng-hide="_.isNumber(model.level)">{{model.level}}</span>
</span>
  <!-- operator -->
  <select class="form-control" ng-model="model.operator">
    <option value="">---</option>
    <option value="{{o}}" ng-repeat="o in rule.options.sensorMultilevel.operator track by $index" ng-selected="o == model.operator">
      {{o}}</option>
  </select>
  <!-- level -->
  <input type="number" class="form-control input-number" min="{{rule.options.sensorMultilevel.min}}" max="{{rule.options.sensorMultilevel.max}}"
    ng-model="model.level" ng-if="model.operator != ''" />
</div>
<!-- command -->
<div class="form-group" ng-if="!hideAction">
  <input type="checkbox" name="send_command" id="send_command" ng-model="model.sendAction" ng-checked="model.sendAction" />
  <label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>