<div class="tabs-wrap form-inline">
    <div class="btn-group btn-group-justified btn-goup-tabs">
        <a class="btn btn-default" title="{{_t('Scan QR code')}}" href="#zwave/smartstart" 
           ng-class="routeMatch('/zwave/smartstart') ? 'active' : ''">
            <i class="fa fa-qrcode"></i> <span class="btn-name">{{_t('Scan QR code')}}</span>
        </a>
        <a class="btn btn-default" title="{{_t('Enter DSK')}}" href="#zwave/smartstartdsk" 
           ng-class="routeMatch('/zwave/smartstartdsk') ? 'active' : ''">
            <i class="fa fa-key"></i> <span class="btn-name">{{_t('Enter DSK')}}</span>
        </a>
    </div>
</div>