<div class="smart-start" ng-controller="SmartStartQrController">
    <div class="container">
        <!-- Navigation -->
        <div ng-include="'app/views/zwave/smartstart/navi.html'"></div>
        <!-- Start -->
        <div class="entry scan-qrcode start">
            <p class="content">
                Use your smartphone to scan the QR code. You'll find this code somewhere on the box...
            </p>
            <div class="image">
                <img src="app/img/smartstart/qr-code-iphone-icon.png" />
            </div>
        </div>
        <!-- Scanning -->
        <div class="entry scan-qrcode scanning">
            <div class="preloader-scan">
                <div class="diode">
                    <div class="laser"></div>
                </div>
              </div>
            <p class="content">
                Scanning QR code. Please wait...
            </p>
        </div>
        <!-- Fail -->
        <div class="entry scan-qrcode fail">
            <div class="image">
                <i class="fa fa-exclamation"></i>
            </div>
            <p class="content">
                Something went wrong. What happened and What to do...
            </p>
        </div>
        <!-- Success scan -->
        <div class="entry scan-qrcode success-scan">
            <div class="image">

                <i class="fa fa-power-off"></i>
            </div>
            <p class="content">
                Device is ready for inclusion. Turn on the device
            </p>

        </div>
        <!-- Installing -->
        <div class="entry scan-qrcode installing">
            <div class="image">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <p class="content">
                Installing... please wait
            </p>

        </div>
        <!-- Success install -->
        <div class="entry scan-qrcode success-install">
            <div class="image">
                <i class="fa fa-check"></i>
            </div>
            <p class="content">
                Device has been included in the network and is ready for use
            </p>

        </div>
    </div>
</div> <!-- /ng-controller --> 

