<!-- Admin info view -->
<!-- Title -->
<h2 class="accordion-toggle chevron">
  <!-- Toggle -->
  <button type="button" aria-expanded="false" bb-accordion>
    <span>
      <i class="fas fa-info-circle fa-fw"></i> {{_t('info')}}
    </span>
  </button>
</h2>
<!-- Content -->
<div class="accordion" hidden>
  <div class="form form-inline form-page">
    <div class="fieldset">
      <h3>{{_t('software_info')}}</h3>
      <table class="table table-report">
        <tbody>
          <tr>
            <td>{{_t('firmware_version')}}</td>
            <td class="td20">{{controllerInfo.softwareRevisionVersion}}</td>
          </tr>
          <tr>
            <td>{{_t('ui_version')}}</td>
            <td class="td20">{{cfg.app_version}}</td>
          </tr>
          <tr>
            <td>{{_t('built_date')}}</td>
            <td class="td20">{{builtInfo.built}}</td>
          </tr>
          <tr>
            <td>{{_t('ctrl_info_caps_cap_title')}}</td>
            <td class="td20">{{controllerInfo.capabillities}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="fieldset">
      <h3>{{_t('translation')}}</h3>
      <div>
        {{_t('management_trans_info')}}
      </div>
    </div>
  </div>
</div>