<!-- Admin backup & restore view -->
<!-- Title -->
<h2 class="accordion-toggle chevron">
  <!-- Toggle -->
  <button type="button" aria-expanded="false" bb-accordion ng-click="expandElement('backup_restore',true)">
    <span>
      <i class="fa fa-download fa-fw"></i> {{_t('backup_restore')}}
    </span>
  </button>

</h2>
<!-- Content -->
<div class="accordion" hidden ng-if="expand.backup_restore" ng-controller="ManagementCloudBackupController">
  <!-- Backup -->
  <div class="form form-page">
    <fieldset>
      <h3>{{_t('local_backup')}}</h3>
      <p ng-bind-html="_t('backup_info', {__link__ : 'http://'+hostName+':8083/expert/#/network/control'}) | toTrusted"></p>
    </fieldset>
    <div class="fieldset submit-entry">
      <button class="btn btn-submit" type="button" title="{{_t('nm_backup_download')}}" ng-click="downLoadBackup()">
        <i class="fa fa-download"></i>
        <span class="btn-name">{{_t('download_backup_computer')}}</span>
      </button>
    </div>
  </div>
  <!-- Restore -->
  <div class="form form-page" ng-controller="ManagementRestoreController">
    <div class="fieldset">
      <h3>{{_t('restore')}}</h3>
      <p ng-bind-html="_t('restore_info') | toTrusted">
        {{_t('restore_info')}}
        <!-- CloudBackup frontend -->
        <div class="form-group form-inline">
          <a class="btn btn-default" href="https://service.z-wave.me/cloudbackup/" target="_blank" title="{{_t('online_cloudbackup')}}">
            <i class="fa fa-cloud-download"></i>
            <span class="btn-name">{{_t('online_cloudbackup')}}</span>
          </a>
        </div>
      </p>
      <bb-alert alert="managementRestore.alert"></bb-alert>
      <div ng-hide="managementRestore.alert.message">
        <div class="alert alert-warning">
          <input type="checkbox" name="restore_confirm" value="1" id="restore_confirm" ng-click="managementRestore.confirm = !managementRestore.confirm"
          />
          <label for="restore_confirm" class="right"> {{_t('are_you_sure_restore')}}</label>
          <div class="form-group">
            <bb-help-text trans="_t('are_you_sure_restore_info')"></bb-help-text>
          </div>
        </div>
        <div ng-show="managementRestore.confirm">

          <div class="alert alert-warning">
            <input type="checkbox" name="overwriteNetwork" id="overwriteNetwork" value="true" ng-model="managementRestore.overwriteNetwork">
            <label for="overwriteNetwork" class="right"> {{_t('restore_zway_network')}}</label>
            <div class="alert alert-warning" ng-if="managementRestore.overwriteNetwork">
              <i class="fa fa-exclamation-triangle"></i> {{_t('restore_backup_chip')}}</div>
          </div>
          <div class="form-group last">
            <!--<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->
            <input type="file" class="inputfile_" name="file" id="file" file-model="myFile" onchange="angular.element(this).scope().checkSelectedFile(this.files,angular.element(this).scope().cfg.upload.restore_from_backup)"
            />
          </div>
        </div>
      </div>

    </div>

    <div class="fieldset submit-entry">
      <button type="button" class="btn btn-submit" title="{{_t('nm_restore_pick_up')}}" ng-click="uploadFile()" ng-disabled="!managementRestore.confirm || managementRestore.alert.message || !managementRestore.fileName">
        <i class="fa fa-upload"></i>
        <span class="btn-name">{{_t('nm_restore_pick_up')}}</span>
      </button>

    </div>
  </div>
  <!-- Cloud backup -->
  <form name="form_cloud_backup" id="form_cloud_backup" class="form form-page" ng-submit="updateInstance(form_cloud_backup, managementCloud.instance)"
    novalidate>
    <pre>{{managementCloud | json}}</pre>
    <fieldset>
      <h3>{{_t('cloudbackup')}}</h3>
      <p ng-bind-html="_t('cloudbackup_info', {__email__ : managementCloud.email === '' ? '<b>'+_t('not_set')+'</b>' : '<b>'+managementCloud.email+'</b>'}) | toTrusted"></p>
      <bb-alert alert="managementCloud.alert"></bb-alert>
      <button class="btn btn-default" type="button" title="{{_t('activate_module',{__module__ : 'CloudBackup'})}}" ng-click="activateCloudBackup(managementCloud.instance,(managementCloud.instance.active ? false : true))"
        ng-class="managementCloud.instance.active ? 'active' : ''" ng-if="managementCloud.instance.params.service_status === '' || managementCloud.instance.params.service_status === true"
        ng-disabled="managementCloud.email === ''? true : false">
        <i class="fa fa-cloud" ng-class="managementCloud.instance.active ? 'text-success' : 'text-danger'"></i>
        <span class="btn-name" ng-if="managementCloud.instance.active === true && managementCloud.instance.params.user_active === true">{{_t('cloudbackup_active')}}</span>
        <span class="btn-name" ng-if="managementCloud.instance.active === false">{{_t('cloudbackup_inactive')}}</span>
        <span class="btn-name" ng-if="managementCloud.instance.active === true && managementCloud.instance.params.user_active === false">{{_t('cloudbackup_install')}}</span>
      </button>
    </fieldset>
    <!-- Cloud backup -->
    <div ng-if="managementCloud.instance.active == true && managementCloud.instance.params.user_active == true && managementCloud.instance.params.service_status == true">
      <fieldset>
        <!-- email log -->
        <div class="form-group">
          <h4>{{managementCloud.module.options.fields.email_log.label}}</h4>
          <div ng-repeat="v in managementCloud.module.schema.properties.email_log.enum track by $index">
            <label>
              <input type="radio" name="email_log" value="{{v}}" id="email_log_{{v}}" ng-model="managementCloud.instance.params.email_log"
                ng-checked="managementCloud.instance.params.email_log === v" />
              <span>{{managementCloud.module.options.fields.email_log.optionLabels[$index]}}</span>
            </label>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <p class="btn-group">
          <button class="btn btn-default" title="{{_t('daily')}}" type="button" ng-repeat="v in managementCloud.module.schema.properties.scheduler.enum track by $index"
            ng-class="v === managementCloud.instance.params.scheduler ? 'active' : ''" ng-click="setSchedulerType(v)">{{managementCloud.module.options.fields.scheduler.optionLabels[$index]}}
          </button>
        </p>
        <div class="form-group form-inline form-block">
          <!-- Hours -->
          <span ng-if="managementCloud.module.options.fields.hours.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
            <label>{{managementCloud.module.options.fields.hours.label}}</label>
            <select class="form-control" ng-model="managementCloud.instance.params.hours" ng-required="true">
              <option value="{{v}}" ng-repeat="v in managementCloud.module.schema.properties.hours.enum track by $index" ng-selected="v === managementCloud.instance.params.hours">
                {{v}}
              </option>
            </select>
          </span>
          <!-- Minutes -->
          <span ng-if="managementCloud.module.options.fields.minutes.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
            <label>{{managementCloud.module.options.fields.minutes.label}}</label>
            <select class="form-control" ng-model="managementCloud.instance.params.minutes" ng-required="true">
              <option value="{{v}}" ng-repeat="v in managementCloud.module.schema.properties.minutes.enum track by $index" ng-selected="v === managementCloud.instance.params.minutes">
                {{v}}
              </option>
            </select>
          </span>
          <!--Weekdays -->
          <span ng-if="managementCloud.module.options.fields.weekDays.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
            <label>{{managementCloud.module.options.fields.weekDays.label}}</label>
            <select class="form-control" ng-model="managementCloud.instance.params.weekDays" ng-required="true">
              <option value="{{v}}" ng-repeat="v in managementCloud.module.schema.properties.weekDays.enum track by $index" ng-selected="v.toString() === managementCloud.instance.params.weekDays">
                {{managementCloud.module.options.fields.weekDays.optionLabels[$index]}}
              </option>
            </select>
          </span>
          <!--Days -->
          <span ng-if="managementCloud.module.options.fields.days.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
            <label>{{managementCloud.module.options.fields.days.label}}</label>
            <select class="form-control" ng-model="managementCloud.instance.params.days" ng-required="true">
              <option value="{{v}}" ng-repeat="v in managementCloud.module.schema.properties.days.enum track by $index" ng-selected="v === managementCloud.instance.params.days">
                {{v}}
              </option>
            </select>
          </span>
          <!-- Manual -->
          <div ng-if="managementCloud.instance.params.scheduler === '0'">
            <button class="btn btn-default" title="{{_t('upload_backup')}}" type="button" ng-click="manualCloudBackup()">
              <i class="fa fa-cloud-upload"></i>
              <span class="btn-name">{{_t('upload_backup')}}</span>
            </button>
          </div>
        </div>
      </fieldset>
      <fieldset class="submit-entry">
        <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}" ng-disabled="form_cloud_backup.$invalid">
          <i class="fa fa-check"></i>
          <span class="btn-name">{{_t('lb_save')}}</span>
        </button>
      </fieldset>
    </div>
  </form>
</div>