<!-- Admin remote view -->
<h2 class="admin-entry-title" ng-click="expandElement('remote')">
    <i class="fa fa-wifi"></i> <span ng-bind="_t('remote_access_manage')"></span>
     <i class="fa subnavi-arrow" ng-class="expand.remote  ? 'fa-chevron-up':'fa-chevron-down'"></i>
</h2>

<div class="admin-entry-ctrl" ng-class="" ng-if="expand.remote" ng-controller="ManagementRemoteController">
    <form name="form_remote" id="form_remote" class="form form-page" ng-submit="putRemoteAccess(remoteAccess, newRemoteAccessPassword)" novalidate>
        <fieldset>
            <p ng-bind="_t('remote_access_info')"></p>
            <bb-alert alert="alert"></bb-alert>
            <div ng-if="remoteAccess">
                <div class="form-group">
                    <!-- Remote access ID -->
                    <p class="form-control-static">
                        <span ng-bind="_t('remote_access_id')"></span>: <strong ng-bind="remoteAccess.params.userId"></strong>
                    </p>
                    <!-- Remote access password -->
                    <p>
                        <label>{{_t('remote_access_password')}}: </label>
                        <input name="remote_password" id="remote_password" type="password" class="form-control form-control-sm" value="" ng-model="remoteAccess.params.pass" />
                    <bb-help-text trans="_t('keep_password_empty')"></bb-help-text>
                    </p>
                </div>

                <div class="form-group">
                    <div>
                        <input type="checkbox" name="remote_access" value="true" id="remote_access" ng-model="remoteAccess.params.zbwStatus" ng-checked="remoteAccess.params.zbwStatus" /> 
                        <label ng-bind="_t('remote_access')"></label>
                        <div class="alert alert-warning" ng-bind="_t('remote_access_warning')" ng-if="!remoteAccess.params.zbwStatus"></div>
                    </div>
                    <div>
                        <input type="checkbox" name="remote_support" value="true" id="remote_support" ng-model="remoteAccess.params.sshStatus" ng-checked="remoteAccess.params.sshStatus" /> 
                        <label ng-bind="_t('remote_access_support')"></label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="submit-entry">
            <button type="button" class="btn btn-default" ng-click="expandElement('remote')"><i class="fa fa-times  text-danger"></i> <span ng-bind="_t('lb_cancel')"></span></button>
            <button type="submit" class="btn btn-submit"><i class="fa fa-check"></i> <span ng-bind="_t('lb_save')"></span></button>
        </fieldset>
    </form>
</div>