<!-- Admin backup & restore view -->
<h2 class="accordion-entry-title" ng-click="expandElement('backup_restore')">
    <i class="fa fa-download"></i> <span ng-bind="_t('backup_restore')"></span>
    <i class="fa accordion-arrow" ng-class="expand.backup_restore ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-if="expand.backup_restore" ng-controller="ManagementCloudBackupController">

    <bb-loader></bb-loader>
    <form name="form_cloud_backup" id="form_cloud_backup" class="form form-page"
          ng-submit="updateInstance(form_cloud_backup, managementCloud.instance)" novalidate>
        <fieldset>
            <h3>{{_t('cloudbackup')}}</h3>
            <p ng-bind-html="_t('cloudbackup_info', {__email__ : managementCloud.email === '' ? '<b>'+_t('not_set')+'</b>' : '<b>'+managementCloud.email+'</b>'}) | toTrusted"></p>

            <bb-alert alert="managementCloud.alert"></bb-alert>

            <button class="btn btn-default" type="button" title="{{_t('activate_module',{__module__ : 'CloudBackup'})}}"
                    ng-click="activateCloudBackup(managementCloud.instance,(managementCloud.instance.active ? false : true))"
                    ng-class="managementCloud.instance.active ? 'active' : ''"
                    ng-disabled="managementCloud.email === ''? true : false">
                <i class="fa fa-cloud"  ng-class="managementCloud.instance.active ? 'text-success' : 'text-danger'"></i>
                <span class="btn-name">{{_t('activate_module',{__module__ : 'CloudBackup'})}}</span>
            </button>

        </fieldset>
        <!-- Cloud backup -->
        <div ng-if="managementCloud.instance.active === true">
            <fieldset>
                <!-- email -->
                <div class="form-group form-inline" style="visibility: hidden;">
                    <label>{{managementCloud.module.options.fields.email.label}}: </label>
                    <input name="email" id="email" type="email" class="form-control" disabled="disabled"
                           value="{{managementCloud.email}}"
                           ng-model="managementCloud.email"
                    />
                </div>
                <!-- email log -->
                <div class="form-group">
                    <h4>{{managementCloud.module.options.fields.email_log.label}}</h4>
                    <div ng-repeat="v in managementCloud.module.schema.properties.email_log.enum track by $index">
                        <input type="radio" name="email_log" value="{{v}}" id="email_log_{{v}}"
                               ng-model="managementCloud.instance.params.email_log"
                               ng-checked="managementCloud.instance.params.email_log === v" />
                        <label>{{managementCloud.module.options.fields.email_log.optionLabels[$index]}}</label>
                    </div>
                </div>
            </fieldset>
            <fieldset ng-if="managementCloud.instance.params.user_active">
                <p class="btn-group">
                    <button class="btn btn-default" title="{{_t('daily')}}" type="button"
                            ng-repeat="v in managementCloud.module.schema.properties.scheduler.enum track by $index"
                            ng-class="v === managementCloud.instance.params.scheduler ? 'active' : ''"
                            ng-click="setSchedulerType(v)"
                    >{{managementCloud.module.options.fields.scheduler.optionLabels[$index]}}</button>
                </p>
                <div class="form-group form-inline form-block">
                    <!-- Hours -->
                    <span ng-if="managementCloud.module.options.fields.hours.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                <label>{{managementCloud.module.options.fields.hours.label}}</label>
                <select class="form-control" ng-model="managementCloud.instance.params.hours" ng-required="true">
                    <option value="{{v}}"
                            ng-repeat="v in managementCloud.module.schema.properties.hours.enum track by $index"
                            ng-selected="v === managementCloud.instance.params.hours">
                        {{v}}
                    </option>
                </select>
                 </span>
                    <!-- Minutes -->
                    <span ng-if="managementCloud.module.options.fields.minutes.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                 <label>{{managementCloud.module.options.fields.minutes.label}}</label>
                <select class="form-control" ng-model="managementCloud.instance.params.minutes" ng-required="true">
                    <option value="{{v}}"
                            ng-repeat="v in managementCloud.module.schema.properties.minutes.enum track by $index"
                            ng-selected="v === managementCloud.instance.params.minutes">
                        {{v}}
                    </option>
                </select>
                 </span>
                    <!--Weekdays -->
                    <span ng-if="managementCloud.module.options.fields.weekDays.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                <label>{{managementCloud.module.options.fields.weekDays.label}}</label>
                    <select class="form-control" ng-model="managementCloud.instance.params.weekDays" ng-required="true">
                        <option value="{{v}}"
                                ng-repeat="v in managementCloud.module.schema.properties.weekDays.enum track by $index"
                                ng-selected="v.toString() === managementCloud.instance.params.weekDays">
                            {{managementCloud.module.options.fields.weekDays.optionLabels[$index]}}
                        </option>
                    </select>
                 </span>
                    <!--Days -->
                    <span ng-if="managementCloud.module.options.fields.days.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                    <label>{{managementCloud.module.options.fields.days.label}}</label>
                    <select class="form-control" ng-model="managementCloud.instance.params.days"  ng-required="true">
                        <option value="{{v}}"
                                ng-repeat="v in managementCloud.module.schema.properties.days.enum track by $index"
                                ng-selected="v === managementCloud.instance.params.days">
                            {{v}}
                        </option>
                    </select>
                </span>
                    <!-- Manual -->
                    <div ng-if="managementCloud.instance.params.scheduler === '0'">
                        <button class="btn btn-default"
                                title="{{_t('upload_backup')}}"
                                type="button"
                                ng-click="manualCloudBackup()">
                            <i class="fa fa-cloud-upload"></i> <span class="btn-name">{{_t('upload_backup')}}</span>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset  class="submit-entry">
                <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}" ng-disabled="form_cloud_backup.$invalid">
                    <i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_save')}}</span>
                </button>
            </fieldset>
        </div>
    </form>
    <div class="form form-page">
        <fieldset>
            <h3>{{_t('local_backup')}}</h3>
            <p ng-bind-html="_t('backup_info', {__link__ : 'http://'+hostName+':8083/expert/#/network/control'}) | toTrusted"></p>
            <button class="btn btn-default" type="button" title="{{_t('nm_backup_download')}}"
                    ng-click="downLoadBackup()">
                <i class="fa fa-download"></i>
                <span class="btn-name">{{_t('download_backup_computer')}}</span>
            </button>
        </fieldset>
    </div>
</div>
<div class="accordion-entry-ctrl" ng-if="expand.backup_restore" ng-controller="ManagementRestoreController">
    <bb-loader></bb-loader>
    <div class="form form-page">
        <div class="fieldset">
            <h3>{{_t('restore')}}</h3>
            <p ng-bind-html="_t('restore_info') | toTrusted">
                {{_t('restore_info')}}
                <!-- CloudBackup frontend -->
                <div class="form-group form-inline">
                    <a class="btn btn-default" href="https://service.z-wave.me/cloudbackup/" target="_blank" title="{{_t('online_cloudbackup')}}">
                        <i class="fa fa-cloud-download"></i> <span class="btn-name">{{_t('online_cloudbackup')}}</span>
                    </a>
                </div>
            </p>
            <bb-alert alert="managementRestore.alert"></bb-alert>
            <div ng-hide="managementRestore.alert.message">
                <div class="alert alert-warning">
                    <input type="checkbox" name="restore_confirm" value="1" id="restore_confirm" ng-click="managementRestore.confirm = !managementRestore.confirm" /> <span ng-bind-html="_t('are_you_sure_restore', {__link__ : 'http://'+hostName+':8083/expert/#/network/control'}) | toTrusted"></span>
                </div>
                <div class="form-group" ng-show="managementRestore.confirm">
                    <!--<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->
                    <input type="file" class="form-control_" file-model="myFile" />
                </div>
            </div>

        </div>

        <div class="fieldset submit-entry">
            <button type="button" class="btn btn-submit"  title="{{_t('nm_restore_pick_up')}}"
                    ng-click="uploadFile()" ng-disabled="!managementRestore.confirm || managementRestore.alert.message">
                <i class="fa fa-upload"></i> <span class="btn-name">{{_t('nm_restore_pick_up')}}</span>
            </button>

        </div>
    </div>
</div>