<!-- Home view -->
<div ng-controller="ManagementController">
    <!-- ///////////////////////////// User management ///////////////////////////// -->
    <section ng-include="'app/views/management/management_user.html'"></section>

    <!-- ///////////////////////////// Remote access ///////////////////////////// -->
    <section ng-include="'app/views/management/management_remote.html'"></section>
    
    <!-- ///////////////////////////// License key ///////////////////////////// -->
    <section ng-if="handleLicense.show"
         ng-include="'app/views/management/management_licence.html'"></div>
    
     <!-- ///////////////////////////// Local Access ///////////////////////////// -->
     <section ng-include="'app/views/management/management_local.html'"
          ng-if="cfg.app_type === 'jb'"></section>
    <!-- ///////////////////////////// Timezone ///////////////////////////// -->
    <section ng-if="cfg.app_type == 'default' || cfg.app_type === 'popp'"
         ng-include="'app/views/management/management_timezone.html'"></section>
      <!-- ///////////////////////////// Timezone for JB ///////////////////////////// -->
     <section ng-include="'app/views/management/management_timezone_jb.html'"
          ng-if="cfg.app_type === 'jb'"></section>

    <!-- ///////////////////////////// Backup & Restore ///////////////////////////// -->
    <section ng-include="'app/views/management/management_backup_restore.html'" ng-if="!isMobile"></section>
     
     <!-- ///////////////////////////// Factory default  ///////////////////////////// -->
     <section ng-class="((cfg.route.os == 'PoppApp_Z_Way') || (cfg.route.os !== 'PoppApp_Z_Way' && connection.remote)) ? 'disabled' : ''" ng-include="'app/views/management/management_factory.html'"></section>
    <!-- ///////////////////////////// Firmware update ///////////////////////////// --> 
    <section ng-if="!isInArray(['wd','jb'],cfg.app_type)"
            ng-class="((cfg.route.os == 'PoppApp_Z_Way') || (cfg.route.os !== 'PoppApp_Z_Way' && connection.remote)) ? 'disabled' : ''"
         ng-include="'app/views/management/management_firmware.html'"></section>
    <section ng-if="cfg.app_type === 'jb' && cfg.route.os !== 'PoppApp_Z_Way'"
           ng-include="'app/views/management/management_firmware_jb.html'"></section>

    <!-- ///////////////////////////// App Store access ///////////////////////////// -->
    <section ng-include="'app/views/management/management_appstore.html'"></section>
    
    <!-- ///////////////////////////// Report ///////////////////////////// -->
    <section ng-include="'app/views/management/management_report.html'"></section>

    <!-- ///////////////////////////// Info ///////////////////////////// -->
    <section ng-include="'app/views/management/management_info.html'"></section>

   
</div> <!-- /ng-controller --> 
