<!-- Admin backup view -->
<h2 class="accordion-entry-title" ng-click="expandElement('cloud')">
    <i class="fa fa-download"></i> <span ng-bind="_t('backup')"></span>
    <i class="fa accordion-arrow" ng-class="expand.backup ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-if="expand.cloud" ng-controller="ManagementCloudBackupController">
    <bb-loader></bb-loader>
    <bb-alert alert="managementCloud.alert"></bb-alert>
    <form name="form_cloud_backup" id="form_cloud_backup" class="form form-page" 
          ng-if="managementCloud.show"
          ng-submit="updateInstance(form_cloud_backup, managementCloud.instance)" novalidate>
        <!-- Manual backup -->
        <fieldset>
            <p>{{_t('backup_info')}}</p>
            <div class="btn-group">
                <!--<a class="btn btn-default" ng-href="{{cfg.server_url + cfg.api.backup}}" title="{{_t('nm_backup_download')}}">
                    <i class="fa fa-download"></i> <span class="btn-name">{{_t('download_backup_computer')}}</span>
                </a>-->

                <button class="btn btn-default" type="button" title="{{_t('nm_backup_download')}}"
                        ng-click="downLoadBackup()">
                    <i class="fa fa-download"></i>
                    <span class="btn-name">{{_t('download_backup_computer')}}</span>
                </button>

                <button class="btn btn-default" type="button" title="{{_t('cloud_activate')}}"
                        ng-click="activateCloudBackup(managementCloud.instance,(managementCloud.instance.active ? false : true))"
                        ng-class="managementCloud.instance.active ? 'active' : ''">
                    <i class="fa fa-cloud"  ng-class="managementCloud.instance.active ? 'text-success' : 'text-danger'"></i>
                    <span class="btn-name">{{_t('cloud_activate')}}</span>
                </button>
            </div>

        </fieldset>

        <!-- Cloud backup -->
        <div ng-if="managementCloud.instance.active === true">
        <fieldset>
            <!-- email -->
            <div class="form-group form-inline">
                <label>{{managementCloud.module.options.fields.email.label}}: </label>
                <input name="email" id="email" type="email" class="form-control" 
                       value="{{managementCloud.instance.params.email}}" 
                       ng-model="managementCloud.instance.params.email"
                       ng-required="true"
                       ng-blur="emailBlur = true" />
                <bb-validator input-name='form_cloud_backup.email.$error.required' trans='_t("field_required")' has-blur='emailBlur'></bb-validator> 
                <bb-validator input-name='form_cloud_backup.email.$error.email' trans='_t("email_invalid")' has-blur='emailBlur'></bb-validator> 

            </div>
            <!-- email log -->
            <div class="form-group">
                <h4>{{managementCloud.module.options.fields.email_log.label}}</h4>
                <div ng-repeat="v in managementCloud.module.schema.properties.email_log.enum track by $index">
                    <input type="radio" name="email_log" value="{{v}}" id="email_log_{{v}}"
                           ng-model="managementCloud.instance.params.email_log" 
                           ng-checked="managementCloud.instance.params.email_log === v" />
                    <label>{{managementCloud.module.options.fields.email_log.optionLabels[$index]}}</label>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="managementCloud.instance.params.user_active">
            <p class="btn-group">
                <button class="btn btn-default" title="{{_t('daily')}}" type="button"
                        ng-repeat="v in managementCloud.module.schema.properties.scheduler.enum track by $index"
                        ng-class="v === managementCloud.instance.params.scheduler ? 'active' : ''"
                        ng-click="setSchedulerType(v)"
                        >{{managementCloud.module.options.fields.scheduler.optionLabels[$index]}}</button>
            </p>
            <div class="form-group form-inline form-block">
                <!-- Hours -->
                <span ng-if="managementCloud.module.options.fields.hours.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                <label>{{managementCloud.module.options.fields.hours.label}}</label>
                <select class="form-control" ng-model="managementCloud.instance.params.hours">
                    <option value="{{v}}" 
                            ng-repeat="v in managementCloud.module.schema.properties.hours.enum track by $index"
                            ng-selected="v === managementCloud.instance.params.hours">
                        {{v}}
                    </option>
                </select>
                 </span>
                <!-- Minutes -->
                <span ng-if="managementCloud.module.options.fields.minutes.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                 <label>{{managementCloud.module.options.fields.minutes.label}}</label>
                <select class="form-control" ng-model="managementCloud.instance.params.minutes">
                    <option value="{{v}}" 
                            ng-repeat="v in managementCloud.module.schema.properties.minutes.enum track by $index"
                            ng-selected="v === managementCloud.instance.params.minutes">
                        {{v}}
                    </option>
                </select>
                 </span>
                <!--Weekdays -->
                 <span ng-if="managementCloud.module.options.fields.weekDays.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                <label>{{managementCloud.module.options.fields.weekDays.label}}</label>
                    <select class="form-control" ng-model="managementCloud.instance.params.weekDays">
                        <option value="{{v}}" 
                                ng-repeat="v in managementCloud.module.schema.properties.weekDays.enum track by $index"
                                ng-selected="v.toString() === managementCloud.instance.params.weekDays">
                            {{managementCloud.module.options.fields.weekDays.optionLabels[$index]}}
                        </option>
                    </select>
                 </span>
                <!--Days -->
                <span ng-if="managementCloud.module.options.fields.days.dependencies.scheduler.indexOf(managementCloud.instance.params.scheduler) > -1">
                    <label>{{managementCloud.module.options.fields.days.label}}</label>
                    <select class="form-control" ng-model="managementCloud.instance.params.days">
                        <option value="{{v}}" 
                                ng-repeat="v in managementCloud.module.schema.properties.days.enum track by $index"
                                ng-selected="v === managementCloud.instance.params.days">
                            {{v}}
                        </option>
                    </select>
                </span>
                <!-- Manual -->
                <div ng-if="managementCloud.instance.params.scheduler === '0'">
                    <a class="btn btn-default" ng-href="{{managementCloud.module.defaults.api}}" title="{{_t('upload_backup')}}">
                        <i class="fa fa-cloud-upload"></i> <span class="btn-name">{{_t('upload_backup')}}</span>
                    </a>
                 </div>
            </div>
        </fieldset>
        <fieldset  class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}" ng-disabled="form_cloud_backup.$invalid">
                <i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_save')}}</span>
            </button>
        </fieldset>
        </div>
    </form>
</div>
