<!-- Admin info view -->
<h2 class="admin-entry-title" ng-click="expandElement('appinfo')">
    <i class="fa fa-info-circle"></i> <span ng-bind="_t('info')"></span>
    <i class="fa subnavi-arrow" ng-class="expand.appinfo  ? 'fa-chevron-up':'fa-chevron-down'"></i>
</h2>
<div class="admin-entry-ctrl" ng-if="expand.appinfo" ng-controller="ManagementInfoController">
    <div class="form form-inline form-page">
        <div class="fieldset">
            <h3>{{_t('software_info')}}</h3>
            <table class="table table-report">
                <tbody>
                    <tr>
                        <td>{{_t('firmware_version')}}</td>
                        <td class="td20">{{input.software.firmwareVersion}}</td>
                    </tr>
                    <tr>
                        <td>{{_t('ui_version')}}</td>
                        <td class="td20">{{input.software.uiVersion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fieldset submit-entry">
            <button type="button" class="btn btn-default" ng-click="expandElement('appinfo')"><i class="fa fa-times  text-danger"></i> <span ng-bind="_t('lb_cancel')"></span></button>
        </div>
    </div>
</div>
