<!-- Admin info view -->
<h2 class="accordion-entry-title" ng-click="expandElement('appinfo')">
    <i class="fa fa-info-circle"></i> <span ng-bind="_t('info')"></span>
    <i class="fa accordion-arrow" ng-class="expand.appinfo ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-if="expand.appinfo" ng-controller="ManagementInfoController">
    <div class="form form-inline form-page">
        <div class="fieldset">
            <h3>{{_t('software_info')}}</h3>
            <table class="table table-report">
                <tbody>
                    <tr>
                        <td>{{_t('firmware_version')}}</td>
                        <td class="td20">{{controllerInfo.softwareRevisionVersion}}</td>
                    </tr>
                    <tr>
                        <td>{{_t('ui_version')}}</td>
                        <td class="td20">{{cfg.app_version}}</td>
                    </tr>
                    <tr>
                        <td>{{_t('ctrl_info_caps_cap_title')}}</td>
                        <td class="td20">{{controllerInfo.capabillities}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fieldset" ng-switch="lang">
            <h3>{{_t('translation')}}</h3>
            <div ng-switch-when="cz">
                {{_t('url')}}: http://smarterhome.sk/ <br />
                {{_t('lb_email')}}: info@smarterhome.sk <br />
                {{_t('contact_person')}}: Ing.Slavomir Petras <br />
            </div>
            <div ng-switch-when="sk">
                {{_t('url')}}: http://smarterhome.sk/ <br />
                {{_t('lb_email')}}: info@smarterhome.sk <br />
                {{_t('contact_person')}}: Ing.Slavomir Petras <br />
            </div> 
            <div ng-switch-default>{{_t('management_trans_info')}}</div>

        </div>
    </div>
</div>
