<!-- Admin user view -->
<div ng-controller="ManagementUserIdController" class="mobile-padding">
    <bb-loader></bb-loader>
     
    <div ng-if="show">
        <h2><span ng-bind="_t('lb_user')"></span>: <span ng-show="input.id > 0">(#{{input.id}})</span> <span ng-bind="input.name"></span></h2>
        <form name="form_profile" id="form_profile" class="form form-page" ng-submit="store(form_profile,input)" novalidate>
            <fieldset>
                <div class="form-group form-inline">
                    <!-- name -->
                     <label class="isrequired display-block">{{_t('lb_name')}}: </label>
                    <input name="name" id="name" type="text" class="form-control" value="{{input.name}}" ng-model="input.name" ng-blur="nameBlur = true" ng-required="true" />
                    <bb-validator input-name='form_profile.name.$error.required' trans='_t("field_required")' has-blur='nameBlur'></bb-validator> 
                </div>
                <div class="form-group form-inline">
                    <!-- email -->
                 <label class="display-block">{{_t('lb_email')}}: </label>
                 <input name="email" id="email" type="email" class="form-control" value="{{input.email}}" ng-model="input.email" ng-blur="emailBlur = true" />
                  <bb-validator input-name='form_profile.email.$error.email' trans='_t("email_invalid")' has-blur='emailBlur'></bb-validator> 
                 </div>
            </fieldset>
            
             <fieldset ng-if="id == 0">
                    <!-- login -->
                    <div class="form-group">
                        <label class="isrequired">{{_t('lb_login')}}:</label>
                        <input name="login" id="login" type="text" class="form-control form-control-sm" value="{{input.login}}" ng-model="input.login" g-blur="loginBlur = true" ng-required="true" />
                        <bb-validator input-name='form_profile.name.$error.required' trans='_t("field_required")' has-blur='loginBlur'></bb-validator> 
                    </div>
                    <!-- password -->
                    <div class="form-group">
                         <label class="isrequired">{{_t('lb_password')}}:</label>
                        <input name="password" id="password" type="password" class="form-control form-control-sm" value="" ng-model="input.password" ng-blur="passwordBlur = true" ng-required="true" ng-minlength="6" />
                    <bb-validator input-name='form_profile.password.$error.required' trans='_t("field_required")' has-blur='passwordBlur'></bb-validator> 
                    <bb-validator input-name='form_profile.password.$error.minlength' trans='_t("password_valid")' has-blur='passwordBlur'></bb-validator>
                    </div>
                    <div class="form-group">
                     <label class="isrequired">{{_t('confirm_password')}}: </label>
             <input name="password_confirm" id="password_confirm" type="password" class="form-control form-control-sm" value="" ng-blur="passwordConfirmBlur = true" ng-model="input.passwordConfirm" bb-compare-to="password" />
             <bb-validator input-name='form_profile.password_confirm.$error.compareto' trans='_t("passwords_must_match")' has-blur='passwordConfirmBlur'></bb-validator>
                  </div>
             </fieldset>
            
             <fieldset>
                <h3><span ng-bind="_t('lb_settings')"></span></h3>
                <div>
                     <!-- role -->
                    <div class="form-group form-inline" ng-if="user.id != id">
                        <label>{{_t('lb_role')}}:</label> </br>
                        <input type="radio" name="role" value="1" ng-model="input.role" ng-checked="input.role == 1" /> {{_t('lb_admin')}} </br>
                        <input type="radio" name="role" value="2" ng-model="input.role" ng-checked="input.role == 2" /> {{_t('lb_user')}} </br> 
                        <input type="radio" name="role" value="3" ng-model="input.role" ng-checked="input.role == 3" /> {{_t('lb_local')}} </br>
                        <input type="radio" name="role" value="4" ng-model="input.role" ng-checked="input.role == 4" /> {{_t('lb_anonymous')}}
                    </div>
                    <!-- lang -->
                    <div class="form-group form-inline">
                        <label>{{_t('lb_language')}}:</label>
                        <span ng-repeat="v in cfg.lang_list" >
                            <input class="form-control-hidden" type="radio" name="color" value="{{v}}" ng-model="input.lang" ng-checked="input.color == v" />
                            <img class="form-control-img profile-lang" ng-click="input.lang = v" ng-class="v == input.lang ? 'control-active':''" ng-src="app/img/flags/{{v}}.png" alt="{{ v}}"/>
                        </span>
                        <span ng-bind="input.lang"></span>
                    </div>
                    <!-- colors  -->
                    <div class="form-group">
                        <label>{{_t('lb_profile_color')}}: </label>
                        <span ng-repeat="v in cfg.profile_colors" >
                            <input class="form-control-hidden" type="radio" name="color" value="{{v}}" ng-model="input.color" ng-checked="input.color == v" />
                            <span class="form-control-img profile-color" style="background-color: {{v}}" ng-click="input.color = v" ng-class="v == input.color ? 'control-active':''">&nbsp;</span> 
                        </span>
                        <span ng-bind="input.color"></span>
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <h3>{{_t('lb_allow_rooms')}}</h3>
                <div>
                     <div class="device-available-block">
                        <a href="" class="btn btn-default btn-tag"
                           ng-repeat="d in rooms" 
                           ng-if="input.rooms.indexOf(d.id) > -1"
                           ng-click="removeRoom(d.id)">{{d.title|cutText:true:20}} <i class="fa fa-times text-danger"></i></a>
                    </div>
                 <h3>{{_t('lb_available_rooms')}}</h3>
                <div class="device-available-block">
                    <a href="" class="btn btn-default btn-tag" 
                        ng-repeat="d in rooms" 
                        ng-if="input.rooms.indexOf(d.id) === -1"
                        ng-click="assignRoom(d.id)">{{d.title|cutText:true:20}} <i class="fa fa-plus text-success"></i></a>
                </div>
                </div>
             </fieldset>

            <fieldset class="submit-entry">
                <button type="button" class="btn btn-default" bb-go-back><i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span></button>
                  <button type="submit" class="btn btn-submit" ng-disabled="form_profile.$invalid"><i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_save')}}</span></button>
            </fieldset>
        </form>
        
        <!-- ///////////////////////////// Change login and password Form ///////////////////////////// -->
        <div ng-if="id > 0">
        <h2 ng-bind="_t('local_access')"></h2>
        <form name="form_password" id="form_password" class="form form-page" ng-submit="changeAuth(form_password)" novalidate>
            <fieldset>
                <!-- login -->
                    <div class="form-group form-inline">
                        <label class="isrequired display-block">{{_t('lb_login')}}: <em>{{input.login}}</em></label>
                        <input name="login" id="login" type="text" class="form-control" value="" ng-model="auth.login" ng-blur="loginBlur = true" ng-required="true"  />
                         <bb-validator input-name='form_password.name.$error.required' trans='_t("field_required")' has-blur='loginBlur'></bb-validator> 
                    </div>
                <!-- password -->
                <div class="form-group form-inline">
                    <label class="isrequired display-block">{{_t('lb_new_password')}}: </label>
                    <input name="password" id="password" type="password" class="form-control" value="" ng-model="auth.password" ng-blur="passwordBlur = true" ng-required="true" ng-minlength="6" />
                    <bb-validator input-name='form_password.password.$error.required' trans='_t("field_required")' has-blur='passwordBlur'></bb-validator> 
            <bb-validator input-name='form_password.password.$error.minlength' trans='_t("password_valid")' has-blur='passwordBlur'></bb-validator>
                </div>
                 <div class="form-group form-inline">
                     <label class="isrequired display-block">{{_t('confirm_password')}}: </label>
             <input name="password_confirm" id="password_confirm" type="password" class="form-control" value="" ng-blur="passwordConfirmBlur = true" ng-model="input.passwordConfirm" bb-compare-to="password" />
             <bb-validator input-name='form_password.password_confirm.$error.compareto' trans='_t("passwords_must_match")' has-blur='passwordConfirmBlur'></bb-validator>
                  </div>
            </fieldset>
            <fieldset class="submit-entry">
                <button type="button" class="btn btn-default" bb-go-back><i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span></button>
                 <button type="submit" class="btn btn-submit" ng-disabled="form_password.$invalid"><i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_submit')}}</span></button>
            </fieldset>
        </form>
        </div>
    </div>

</div> <!-- /ng-controller --> 