<!-- Admin remote view -->
<!-- Title -->
<h2 class="accordion-toggle chevron">
  <!-- Toggle -->
  <button type="button" aria-expanded="false" bb-accordion>
    <span>
      <i class="fas fa-globe fa-fw"></i> {{_t('remote_access_manage')}}
    </span>
  </button>
</h2>
<!-- Content -->
<div class="accordion" hidden ng-controller="ManagementRemoteController">
  <bb-loader></bb-loader>
  <form name="form_remote" id="form_remote" class="form form-page" ng-if="remoteAccess" ng-submit="putRemoteAccess(remoteAccess, newRemoteAccessPassword)"
    novalidate>
    <fieldset>
      <p ng-bind="_t('remote_access_info')"></p>
      <div ng-if="remoteAccess">
        <div class="form-group">
          <!-- Remote access ID -->
          <p class="form-control-static">
            <span ng-bind="_t('remote_access_id')"></span>:
            <strong ng-bind="remoteAccess.params.userId"></strong>
          </p>
        </div>
        <div class="form-group">
          <div>
            <label for="remote_access">
              <input type="checkbox" name="remote_access" value="true" id="remote_access" ng-model="remoteAccess.params.zbwStatus" ng-checked="remoteAccess.params.zbwStatus"
              ng-disabled="cfg.route.os == 'PoppApp_Z_Way' || cfg.route.os == 'ZWayMobileAppAndroid' || cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS' || connection.remote"
              />
              <span>{{_t('remote_access')}}</span>
              <span class="help-text" ng-if="connection.remote">
                <i class="fas text-info fa-info-circle"></i>
                {{_t('disable_only_on_local_possible')}}
              </span>
            </label>
            <div class="alert alert-warning" ng-bind="_t('remote_access_warning', {__url__:findUrl})" ng-if="!remoteAccess.params.zbwStatus"></div>
          </div>
          <div>
            <label for="remote_support">
              <input type="checkbox" name="remote_support" value="true" id="remote_support" ng-model="remoteAccess.params.sshStatus" ng-checked="remoteAccess.params.sshStatus"
              />
              <span>{{_t('remote_access_support')}}</span>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="submit-entry">
      <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}">
      <i class="fas fa-check"></i>
      <span class="btn-name">{{_t('lb_save')}}</span>
      </button>
    </fieldset>
  </form>
</div>