<!-- Admin App Store view -->
<h2 class="accordion-entry-title" ng-click="expandElement('appstore')">
    <i class="fa fa-cart-plus"></i> <span ng-bind="_t('app_store_access')"></span>
     <i class="fa accordion-arrow" ng-class="expand.appstore  ? 'fa-chevron-up':'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-if="expand.appstore" ng-controller="ManagementAppStoreController">
    <form name="form_appatore" id="form_appatore" class="form form-inline form-page" ng-submit="appStoreAddToken()" novalidate>
        <fieldset>{{_t('app_store_access_info')}}</fieldset>
        <fieldset>
            <table class="table table-condensed table-report">
                <tbody>
                    <tr>
                        <td>
                           <input name="appstore_token" id="appstore_token" class="form-control" value="" placeholder="{{_t('add_token')}}" ng-model="appStore.input.token" /> 
                        </td>
                        <td class="td-action">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr ng-repeat="v in appStore.tokens track by $index">
                        <td>{{v}}</td>
                        <td class="td-action">
                            <button class="btn btn-default" type="button" 
                                    ng-click="appStoreRemoveToken(v, _t('lb_delete_confirm'))"
                                    ><i class="fa fa-times fa-lg text-danger"></i></button>   
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset> 
    </form>
</div>