<div class="tabs-wrap form-inline">
    <div class="btn-group btn-goup-tabs btn-tabs-2">
        <a class="btn btn-default" href="#skins/local" ng-class="activeTab == 'local' ? 'active' : ''">
            <i class="fa fa-cloud-download"></i> <span class="btn-name">{{_t('Local skins')}}</span>
        </a>
        <a class="btn btn-default" href="#skins/online" ng-class="activeTab == 'online' ? 'active' : ''">
            <i class="fa fa-globe"></i> <span class="btn-name">{{_t('Online skins')}}</span>
        </a>
    </div>
</div>
