<!-- Settings -->
<div class="form-group">
  <label class="switch">
    <input type="checkbox" ng-model="security.input.params.times.aktive">
    <span class="slider"></span>
  </label>
  <span class="switch-label">{{_t('security_immediate_activate_schedule')}}</span>
  <bb-help-text trans="_t('help_security_immediate_activate_schedule')"></bb-help-text>
</div>
<!-- Interval -->
<!-- <div class="form-group form-inline">
    <label>{{_t('security_alarm_interval')}}</label>
      <div class="input-group">
          <input class="form-control" type="number" ng-model="security.input.params.times.interval">
      </div>
      <bb-help-text trans="_t('help_security_alarm_interval')"></bb-help-text>
  </div> -->
<!-- Table -->
<div>Schedule test</div>
<button type="button" class="btn btn-submit" ng-click="loadSchedule()">
  Load Schedule
</button>
<div id="schedule-test" class="schedule"></div>

<table class="table-responsive security-schedule">
  <thead>
    <th class="l-hide">&nbsp;</th>
    <th>{{_t('time_period')}}</th>
    <th>{{_t('disarm_arm')}}</th>
    <th>{{_t('day_short_0')}}</th>
    <th>{{_t('day_short_1')}}</th>
    <th>{{_t('day_short_2')}}</th>
    <th>{{_t('day_short_3')}}</th>
    <th>{{_t('day_short_4')}}</th>
    <th>{{_t('day_short_5')}}</th>
    <th>{{_t('day_short_6')}}</th>
    <th>&nbsp;</th>
  </thead>

  <tbody>
    <tr data-expanded="false" ng-repeat="v in security.input.params.times.table track by $index">
      <!-- Accordion title -->
      <td class="td-accordion-toggle">
        <button type="button" aria-expanded="false" bb-table-accordion>{{v.times}}</button>
      </td>
      <!-- time -->
      <td class="td-header" title="{{_t('time_period')}}" class="form-inline">
        <span ng-hide="security.editSchedule[$index]">{{v.times}}</span>
        <input type="time" class="form-control" ng-model="v.times" ng-if="security.editSchedule[$index]">
        <button type="button" class="btn btn-text" title="Remove" ng-click="security.editSchedule[$index] = !security.editSchedule[$index]">
          <i class="fa text-info" ng-class="{'fa-check': security.editSchedule[$index],'fa-pencil': !security.editSchedule[$index]}"></i>
        </button>

      </td>
      <!-- disarm/arm -->
      <td class="td-header" title="{{_t('disarm_arm')}}">
        <label class="switch">
          <input type="checkbox" ng-model="v.condition" ng-false-value="disarm" ng-true-value="arm" ng-checked="v.condition == 'arm'">
          <span class="slider"></span>
        </label>
      </td>
      <!-- day 0 -->
      <td class="td-header" title="{{_t('day_short_0')}}" ng-class="{'active': v[0]}" ng-click="v[0] = !v[0]">
        <i class="fa fa-check"></i>
      </td>
      <!-- day 1 -->
      <td class="td-header" title="{{_t('day_short_1')}}" ng-class="{'active': v[1]}" ng-click="v[1] = !v[1]">
        <i class="fa fa-check"></i>
      </td>
      <!-- day 2 -->
      <td class="td-header" title="{{_t('day_short_2')}}" ng-class="{'active': v[2]}" ng-click="v[2] = !v[2]">
        <i class="fa fa-check"></i>
      </td>
      <!-- day 3 -->
      <td class="td-header" title="{{_t('day_short_3')}}" ng-class="{'active': v[3]}" ng-click="v[3] = !v[3]">
        <i class="fa fa-check"></i>
      </td>
      <!-- day 4 -->
      <td class="td-header" title="{{_t('day_short_4')}}" ng-class="{'active': v[4]}" ng-click="v[4] = !v[4]">
        <i class="fa fa-check"></i>
      </td>
      <!-- day 5 -->
      <td class="td-header" title="{{_t('day_short_5')}}" ng-class="{'active': v[5]}" ng-click="v[5] = !v[5]">
        <i class="fa fa-check"></i>
      </td>
      <!-- day 6 -->
      <td class="td-header" title="{{_t('day_short_6')}}" ng-class="{'active': v[6]}" ng-click="v[6] = !v[6]">
        <i class="fa fa-check"></i>
      </td>
      <td class="td-header" title="{{_t('lb_remove')}}" class="td-action">
        <button type="button" class="btn btn-text" title="Remove" ng-click="unassignTimeScheduler($index)">
          <i class="fa fa-times text-danger"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

  <!-- <label>Time (HH:MM)</label>
  <div class="input-group">
    <input type="time" class="form-control" ng-model="security.cfg.times.default.times">
  </div> -->

  <div class="section text-right">
    <button type="button" title="{{_t('add_new')}}" class="btn btn-submit" ng-click="assignTimeScheduler()">
      <i class="fa fa-plus"></i>
      &nbsp;{{_t('add_new_scheduler')}}
    </button>
  </div>