<div ng-controller="HeatingIdController">
	<h2>{{_t('heating')}}</h2>
	<!-- <pre>{{heating.devices.byRo om | json}}</pre> -->
	<form class="form form-page" ng-submit="storeInstance(true)">
		<fieldset>
			<!-- Reset time -->
			<div class="form-inline">
				<div class="form-group is-inline">
					<label>{{_t('reset_time')}}</label>
					<input name="reset_time" id="reset_time" type="text" class="form-control" ng-model="heating.input.params.resetTime" />&nbsp;
					<bb-help-text trans="_t('help_reset_time')"></bb-help-text>
				</div>
			</div>
		</fieldset>
		<!-- rooms -->
		<fieldset>
			<section class="accordion-wrap" ng-repeat="r in heating.rooms track by $index">
				<!-- Title -->
				<h2 class="accordion-toggle chevron">
				<button type="button" aria-expanded="false" bb-accordion ng-click="renderSchedule('#schedule-'+{{r.id}}, r.id)">
				<span>
					<img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
				</span>
				</button>
				</h2>
				<!-- Content -->
				<div class="accordion" hidden>
					<fieldset>
						<div class="form-inline">
							<!-- main sensor -->
							<div class="form-group is-inline">
								<label>Temp. sensor</label>
								<select class="form-control">
									<option value="">---</option>
									<option value="{{d.deviceId}}" ng-repeat="d in heating.devices.byRoom[r.id] track by $index"  ng-selected_="">
									{{d.deviceName}}</option>
								</select>
							</div>
							<!-- comfort temp -->
							<div class="form-group is-inline">
								<label>{{_t('comfort_temp')}}</label>
								<select class="form-control" ng-model="heating.input.params.roomSettings[r.id].comfortTemp" convert-to-float>
									<option value="">---</option>
									<option value="{{ct}}" ng-repeat="ct in heating.cfg.comfort.temp track by $index" ng-selected="ct == heating.input.params.roomSettings[r.id].comfortTemp" >
									{{ct}}</option>
								</select>
							</div>
							<!-- energy save temp -->
							<div class="form-group is-inline">
								<label>{{_t('energy_save_temp')}}</label>
								<select class="form-control" ng-model="heating.input.params.roomSettings[r.id].energySaveTemp" convert-to-float>
									<option value="">---</option>
									<option value="{{est}}" ng-repeat="est in heating.cfg.energySave.temp track by $index" ng-selected="est == heating.input.params.roomSettings[r.id].energySaveTemp" >
									{{est}}</option>
								</select>
							</div>
							<!-- fallback temp -->
							<div class="form-group is-inline">
								<label>{{_t('fallback_temp')}}</label>
								<select class="form-control" ng-model="heating.input.params.roomSettings[r.id].fallbackTemp">
									<option value="">---</option>
									<option value="{{key}}" ng-repeat="(key, val) in heating.cfg.fallback track by $index" ng-selected="key == heating.input.params.roomSettings[r.id].energySaveTemp" >
									{{_t(val)}}</option>
								</select>
							</div>
						</div>
						<div class="schedule-wrap">
							<div class="schedule-overlay" ng-if="!heating.input.params.roomSettings[r.id].comfortTemp">
								<bb-help-text trans="_t('no_comfort_temp_info')"></bb-help-text>
							</div>
							<div id="schedule-{{r.id}}" class="schedule" ng-class="(!heating.input.params.roomSettings[r.id].comfortTemp ? 'disabled': '')"></div>
							<bb-help-text trans="_t('schedule_info')"></bb-help-text>
						</div>
					</fieldset>
				</div>
			</section>
		</fieldset>
		<!--  ////////////////////////////////////////// submit  ////////////////////////////////////////// -->
		<fieldset class="submit-entry">
			<a ng-href="#automations" class="btn btn-default" title="{{_t('lb_cancel')}}">
			<i class="fa fa-reply"></i>
			<span class="btn-name">{{_t('lb_cancel')}}</span>
			</a>
			<button type="submit" title="{{_t('lb_save')}}" class="btn btn-submit">
			<i class="fa fa-check"></i>
			<span class="btn-name">{{_t('lb_save')}}</span>
			</button>
		</fieldset>
	</form>
	<div ng-include="'app/views/automation/heating/heating_id_temperatrue_modal.html'"></div>
</div>