<!-- <pre>{{heating.mobileSchedule | json}}</pre> -->
<table class="table-responsive security-schedule">
  <thead>
    <th class="l-hide">&nbsp;</th>
    <th>{{_t('time_period')}}</th>
    <th>{{_t('temperature')}}</th>
    <th>{{_t('day_short_0')}}</th>
    <th>{{_t('day_short_1')}}</th>
    <th>{{_t('day_short_2')}}</th>
    <th>{{_t('day_short_3')}}</th>
    <th>{{_t('day_short_4')}}</th>
    <th>{{_t('day_short_5')}}</th>
    <th>{{_t('day_short_6')}}</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr data-expanded="false" ng-repeat="v in heating.mobileSchedule[r.id] track by $index">
      <!-- Accordion title -->
      <td class="td-accordion-toggle">
        <button type="button" aria-expanded="false" bb-table-accordion>{{v.stime}}&nbsp; - &nbsp;{{v.etime}}</button>
      </td>
      <!-- time -->
      <td class="td-header form-inline" title="{{_t('time_period')}}" data-label="{{_t('time_period')}}">
        <input type="time" class="form-control"
               ng-style="(v.stime >= v.etime) && {'background-color':'red'} "
               ng-model="v.stime"
               ng-change="timeChanged(r.id, $index, v.stime, 'stime', v.stime < v.etime)">
        &nbsp; - &nbsp;
        <input
                ng-style="(v.stime >= v.etime) && {'background-color':'red'} "
                type="time" class="form-control"
                ng-model="v.etime"
                ng-change="timeChanged(r.id, $index, v.etime, 'etime',  v.stime < v.etime)"
        min="{{v.stime}}">
      </td>
      <!-- temperature -->
      <td class="td-header" title="{{_t('temperature')}}" data-label="{{_t('temperature')}}">
        <select class="form-control" ng-model="v.temp" convert-to-float>
          <option value="">---</option>
          <option value="{{ct}}" ng-repeat="ct in heating.cfg.comfort.temp.temp track by $index" ng-selected="ct == v.temp">
          {{heating.cfg.comfort.temp.label[$index]}}</option>
        </select>
      </td>
      <td ng-repeat="_ in [].constructor(7) track by $index" class="td-header" title="{{_t('day_short_' + $index)}}" data-label="{{_t('day_short_' + $index)}}" ng-class="{'active': v[$index]}" ng-click="toggleTime(v, $index, r.id, $parent.$index)">
        <i ng-hide="v[$index]" class="far fa-minus"></i>
        <i ng-show="v[$index]" class="fas fa-check"></i>
      </td>
      <td class="td-header" title="{{_t('lb_remove')}}" data-label="{{_t('lb_remove')}}" class="td-action">
        <button type="button" class="btn btn-text" title="Remove" ng-click="unassignTimeSchedule(r.id, $index)">
        <i class="fas fa-times text-danger"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <label>Time (HH:MM)</label>
<div class="input-group">
  <input type="time" class="form-control" ng-model="security.cfg.times.default.times">
</div> -->
<div class="section text-right">
  <button type="button" title="{{_t('add_new')}}" class="btn btn-submit" ng-click="assignTimeSchedule(r.id)">
  <i class="fas fa-plus"></i>
  &nbsp;{{_t('add_new_scheduler')}}
  </button>
</div>
