<div class="smart-start" ng-controller="SmartStartQrController">
    <div class="container" ng-switch="qrcode.state">
        <!-- Navigation -->
        <!--<div ng-include="'app/views/smartstart/navi.html'"></div>-->
        <!-- Start -->
        <div class="entry scan-qrcode start" ng-switch-default>
            <div class="video-wrapper">
                <video id="video" width="300" height="200"></video>
            <div>
            <canvas id="qr-canvas" width="800" height="600"></canvas>
            <pre>{{ data | json }}</pre>
            <pre>{{ error | json }}</pre>
            <p class="content">
                Use your smartphone to scan the QR code. You'll find this code somewhere on the box...
               
            </p>
            <button class="btn btn-success" ng-click="scan()">Scan QR code</button>
            
        </div>
        <!-- Scanning -->
        <div class="entry scan-qrcode scanning" ng-switch-when="scanning">
            <div class="image">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <p class="content">
                Scanning QR code. Please wait...
            </p>
        </div>
        <!-- Error -->
        <div class="entry scan-qrcode error" ng-switch-when="error">
            <div class="image">
                <i class="fa fa-exclamation"></i>
            </div>
            <p class="content">
                Something went wrong. What happened and What to do...
            </p>
            <button class="btn btn-success" ng-click="resetState()">Try to scan again</button>
            <a class="btn btn-default" href="#smartstartdsk" >Enter DSK manually</a>
        </div>
        <!-- Success scan -->
        <div class="entry scan-qrcode success-scan" ng-switch-when="success-scan">
             <div class="image clickable" ng-click="discover()">

                <i class="fa fa-power-off"></i>
            </div>
            <p class="content">
                Device is ready for inclusion. Install and power up the device
            </p>

        </div>
        <!-- discovering -->
        <div class="entry scan-qrcode discovering" ng-switch-when="discovering">
            <div class="image">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <p class="content">
                Discovering device... please wait
            </p>

        </div>
        <!-- duccess-discover -->
        <div class="entry scan-qrcode success-install" ng-switch-when="success-discover">
            <div class="image">
                <i class="fa fa-check"></i>
            </div>
            <p class="content">
                Device has been included in the network and is ready for use
            </p>
             <button class="btn btn-success" ng-click="resetState()">OK</button>
        </div>
    </div>
</div> <!-- /ng-controller --> 

