<div ng-controller="SmartStartQrController">
    <div class="entry scan-qrcode" ng-if_="dataHolder.video.supported">
        <div class="video-wrapper">
            <video id="video" width="300" height="200"></video>
        </div>
        <canvas id="qr-canvas" width="640" height="480"></canvas>
        <pre>{{error | json }}</pre>
        <p class="content">
            Use your smartphone to scan the QR code. You'll find this code somewhere on the box...
           
        </p>
        <button class="btn btn-success" ng-click="scan()">Scan QR code</button>
    </div>
</div> <!-- /ng-controller --> 

