<div ng-controller="SmartStartQrController">
    <bb-alert alert="dataHolder.video.alert"></bb-alert>
    <div class="entry scan-qrcode" ng-if="dataHolder.video.supported && qrcode.state !== 'success-register'">
        <div class="video-wrapper">
        <video id="video" width="300" height="200"></video>
    </div>
    <canvas id="qr-canvas" width="480" height="640"></canvas>
    <p class="content">
        {{_t('qr_code_desc')}}
    </p>
    <button class="btn btn-success" ng-click="dataHolder.manual_add = !dataHolder.manual_add">{{_t('manual_add')}}</button>
</div>
<!-- success-register -->
<div class="entry list" ng-if="qrcode.state == 'success-register'">
    <div class="alert alert-success">
        <i class="fa fa-check"></i>  {{_t('smartstart_enter_key_success')}}
        <div>{{qrcode.response}}</div>
    </div>
</div>
</div> <!-- /ng-controller -->