<div id="dskModal" class="appmodal" ng-if="modalArr.dskModal">
  <div class="appmodal-in">
    <div class="appmodal-header">
      <span class="appmodal-close" ng-click="handleModal('dskModal', $event)">
        <i class="fa fa-times"></i>
      </span>
      <h3>{{cfg.app_name}}</h3>
    </div>
    <div class="appmodal-body">
      <dl class="inline-dl">
        <dt>Vendor</dt>
        <dd>{{collection.find.added.vendor.Name}}</dd>
        <dt>Product</dt>
        <dd>Product name</dd>
        <dt>Device type</dt>
        <dd>Airplane</dd>
        <dt>State</dt>
        <dd>{{collection.find.state}}</dd>
        <dt>Node ID</dt>
        <dd>{{collection.find.nodeId}}</dd>
        <dt>Created at</dt>
        <dd>{{collection.find.added.timeformat}}</dd>
        <dt>DSK</dt>
        <dd class="clickable" ng-click="showDskForm = !showDskForm">
          {{collection.find.ZW_QR_DSK}}
          <i class="fa" ng-class="showDskForm ? 'fa-times text-danger' : 'fa-pencil text-primary'"></i>
          
        </dd>
      </dl>
      <form name="form_dsk_update" ng-show="showDskForm" ng-submit="handleModal('dskModal', $event);updateDsk(collection.find)">

        <div class="form-group dsk-input-group" bb-dsk-navigate>
          <span>
            <input id="dsk_1" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[0]"
            />
          </span>
          <span>
            <input id="dsk_2" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[1]"
            />
          </span>
          <span>
            <input id="dsk_3" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[2]"
            />
          </span>
          <span>
            <input id="dsk_4" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[3]"
            />
          </span>
          <span>
            <input id="dsk_5" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[4]"
            />
          </span>
          <span>
            <input id="dsk_6" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[5]"
            />
          </span>
          <span>
            <input id="dsk_7" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[6]"
            />
          </span>
          <span>
            <input id="dsk_8" type="text" maxlength="5" class="form-control dsk-number" ng-model="collection.find.added.dskArray[7]"
            />
          </span>
          <button type="submit" class="btn btn-submit" title="{{_t('lb_update')}}" ng-click_="handleModal('dskModal', $event)">
            <i class="fa fa-check"></i>
            <span>{{_t('lb_update')}}</span>
          </button>
        </div>
       
      </form>
      <pre>{{collection.find|json}}</pre>
    </div>
    <div class="appmodal-footer">
      <!-- Close -->
      <button type="button" class="btn btn-default" ng-click="handleModal('dskModal', $event)">
        <i class="fa fa-times text-danger"></i>
        <span class="btn-name">{{_t('lb_close')}}</span>
      </button>

    </div>
  </div>
</div>