<section class="accordion-wrap">
  <!-- Title -->
  <h2 class="accordion-toggle chevron">
    <button type="button" aria-expanded="false" bb-accordion>
      <span class="is-legend">
        {{_t('alarm')}}
      </span>
    </button>
  </h2>
  <!-- Content -->
  <div class="accordion no-bcg clearfix" hidden>
      <div class="flexcards security">
          <div class="flexcard trigger flip" ng-repeat="d in security.devices.alarms track by $index">
            <div class="flipcard" ng-class="{'flipped': security.input.params.alarms.table[getModelIndex(d.deviceId,'alarms.table')]}">
              <!--  Inactive card -->
              <div class="flexcard-item front">
                <figure>
                  <img ng-src="{{d.iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                </figure>
                <div class="body">
                  <h2>{{d.deviceName}}</h2>
                  <button type="button" class="btn btn-default" ng-click="assignDevice(d.deviceId,'alarms')">
                    <i class="fa fa-plus text-success" title="{{_t('lb_remove')}}"></i>
                  </button>
                </div>
              </div>
              <!--  Active card -->
              <div class="flexcard-item back">
                <span class="close">
                  <i class="fa fa-times" title="{{_t('lb_remove')}}" ng-click="unassignDevice(d.deviceId,'alarms')"></i>
                </span>
                <figure>
                  <img ng-src="{{d.iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                </figure>
                <div class="body">
                  <h2>{{d.deviceName}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    <!-- Notification -->
    <div class="notification" ng-include="'app/views/automation/security/trigger/notification.html'" ng-init="model = security.input.params.alarms.notification"></div>
  </div>
</section>