<section class="accordion-wrap">
  <!-- Title -->
  <h2 class="accordion-toggle chevron">
    <button type="button" aria-expanded="false" bb-accordion>
      <span class="is-legend">
        {{_t('alarm')}}
      </span>
    </button>
  </h2>
  <!-- Content -->
  <div class="accordion no-bcg clearfix" hidden>
    <!-- Cards -->
    <div class="flexcards security">
      <div class="flexcard flip  h-160px" ng-repeat="d in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
        <div class="flipcard" ng-class="{'flipped': security.flip[$index]}">
          <!--  Inactive card -->
          <!--  <div class="flexcard-item inactive" ng-if="!security[$index]"> -->
          <div class="flexcard-item front">
              <figure ng-click="security.flip[$index] = true"> 
                  <i class="fa fa-plus"  title="{{_t('lb_remove')}}"></i>
                  <img ng-src="{{cfg.img.icons + 'security-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                </figure>
                <div class="body">
                   <h2> FRONT Available device {{$index}}</h2>
                </div>
          </div>
          <!--  Active card -->
          <!-- <div class="flexcard-item activ" ng-if="security[$index]"> -->
          <div class="flexcard-item back">
              <figure ng-click="security.flip[$index] = false">
                 <i class="fa fa-times text-danger"  title="{{_t('lb_remove')}}"></i>
                <img ng-src="{{cfg.img.icons + 'security-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />
              </figure>
              <div class="body">
                  <h2> BACK Available device {{$index}}</h2>
               </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Notification -->
    <div class="notification" ng-include="'app/views/automation/security/trigger/notification.html'"></div>
  </div>
</section>