<section class="accordion-wrap">
    <!-- Title -->
    <h2 class="accordion-toggle chevron">
      <button type="button" aria-expanded="false" bb-accordion>
        <span class="is-legend">
         {{_t('silent_alarm')}}
        </span>
      </button>
    </h2>
    <!-- Content -->
    <div class="accordion no-bcg" hidden_>
      <!-- Cards -->
        <div class="flexcards security">
            <div class="flexcard" ng-repeat="d in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
               <!--  Inactive card -->
               <div class="flexcard-item inactive" ng-if="!security[$index]">
                  <figure ng-click="security[$index] = true"> 
                      <button type="button" class="btn btn-text"><i class="fa fa-plus"  title="{{_t('lb_remove')}}"></i></button>
                      <img ng-src="{{cfg.img.icons + 'security-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                    </figure>
                    <div class="body">
                        <!-- <button type="button" class="btn btn-default" ng-click="security[$index] = true">
                          <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
                        </button> -->
                      <h2> Available device {{$index}}</h2>
                    </div>
               </div>
               <!--  Active card -->
              <div class="flexcard-item activ" ng-if="security[$index]">
                <figure ng-click="security[$index] = false">
                    <button type="button" class="btn btn-text"><i class="fa fa-times text-danger"  title="{{_t('lb_remove')}}"></i></button>
                  <img ng-src="{{cfg.img.icons + 'security-on.png'}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                </figure>
                <div class="body">
                    <h2> Available device {{$index}}</h2>
                </div>
              </div>
              
            </div>
          </div>
           <!-- Notification -->
           <div class="notification" ng-include="'app/views/automation/security/trigger/notification.html'"></div>
    </div>
  </section>


