<!-- JamesBox update -->
<div ng-controller="JbUpdateController">
    <bb-loader></bb-loader>
    <!-- JamesBox confirm modal -->
    <div id="jamesBoxConfirmModal" class="appmodal" ng-if="jamesbox.showConfirm">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <!--<a ng-href="#dashboard" class="appmodal-close"><i class="fa fa-times"></i></a>-->
                <h3>{{_t('jamesbox_software_upgrade')}}</h3>
            </div>
            <div class="appmodal-body">
                <div>{{_t('jamesbox_current_firmware', {__currentfw__: jamesbox.version, __newfw__: jamesbox.versionNew})}}</div>
                <div class="text-center">
                    <button class="btn btn-submit btn-lg" title="{{_t('update_now')}}" ng-click="firmwareUpdate()">
                        <i class="fa fa-check"></i> {{_t('update_now')}}
                    </button>
                </div>
            </div>
            <div class="appmodal-footer">
                <a ng-href="#dashboard" class="btn btn-default" title="{{_t('jamesbox_not_update')}}">
                    <span class="btn-name">{{_t('jamesbox_not_update')}}</span> <i class="fa fa-arrow-right"></i>  
                </a>
            </div>
        </div>
    </div>
    <!-- JamesBox update modal -->
    <div id="jamesBoxUpdateModal" class="appmodal" ng-if="jamesbox.showUpdate">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <h3>{{_t('jamesbox_software_upgrade')}}</h3>
            </div>
            <div class="appmodal-body">
                <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>  {{_t('jamesbox_update_info')}}</div>
                <ol>
                    <li>{{_t('jamesbox_update_1')}}</li>
                    <li>{{_t('jamesbox_update_2')}}</li>
                    <li>{{_t('jamesbox_update_3')}}</li>  
                </ol>
            </div>
        </div>
    </div>
</div>