<!-- JamesBox update -->
<div ng-controller="JbUpdateController">
     <bb-loader></bb-loader>
     <div id="jamesBoxModal" class="appmodal" ng-if_="zwaveInclusion.cancelModal">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <a ng-href="#dashboard" class="appmodal-close"><i class="fa fa-times"></i></a>
                <h3>{{_t('Software update')}}</h3>
            </div>
            <div class="appmodal-body">
                <div>Your current frimware is YYY. There is a new firmware upgrade available. Would you like to update your gateway firmware to version XXX?</div>
            </div>
            <div class="appmodal-footer">
                <button class="btn btn-default" title="{{_t('Confirm')}}" ng-click="firmwareUpdate()">
                <i class="fa fa-check text-success"></i> <span class="btn-name">{{_t('Confirm')}}</span>
            </button>
             <a ng-href="#dashboard" class="btn btn-default" title="{{_t('Ask me next login')}}">
                     <span class="btn-name">{{_t('Ask me next login')}}</span> <i class="fa fa-arrow-right text-primary"></i>  
                </a>
            </div>
        </div>
    </div>
     
   <!-- <h1>{{_t('Software update')}}</h1>
   <div class="form form-inline form-page">
        <div class="fieldset">
           <div>Your current frimware is YYY. There is a new firmware upgrade available. Would you like to update your gateway firmware to version XXX?</div>
        </div>
        <div class="fieldset submit-entry" ng-if="!jamesbox.success">
            <button class="btn btn-submit" title="{{_t('Confirm')}}" ng-click="firmwareUpdate()">
                <i class="fa fa-check"></i> <span class="btn-name">{{_t('Confirm')}}</span>
            </button>
             <a ng-href="#dashboard" class="btn btn-default" title="{{_t('Ask me next login')}}">
                     <span class="btn-name">{{_t('Ask me next login')}}</span> <i class="fa fa-arrow-right text-primary"></i>  
                </a>
            
        </div>
    </div> -->
</div>