<!--target  -->
<div class="form-group form-inline">
  <select class="form-control" ng-model="d.target" ng-required="true">
    <option value="">--- {{_t('notification_trigger')}} ---</option>
    <option ng-if="user.email" value="{{user.email}}" ng-selected="d.target == user.email">{{user.email}}</option>
    <option value="{{e.deviceId}}" ng-repeat="e in hazardProtection.availableNotifiers track by $index" ng-selected="e.deviceId == d.target">
    {{e.deviceName}}</option>
  </select>
  &nbsp;
  <label ng-hide="hazardProtection.availableNotifiers[d.target] || d.target == user.email">&nbsp;{{_t('or')}}&nbsp;<input type="text" class="form-control" placeholder="{{_t('add_email')}}" ng-model="d.target_custom" /></label>
</div>
<!-- mesage -->
<div class="form-group" ng-if="d.target != '' || d.target_custom != ''">
  <textarea name="message" id="content" class="form-control report-content" ng-model="d.message" placeholder="{{_t('message')}}"></textarea>
</div>
<!--fired -->
<div class="form-group form-inline" ng-if="d.target != ''">
  <label>{{_t('notification_is_fired')}}</label>
  <select class="form-control" ng-model="d.firedOn">
    <option value="{{f}}" ng-repeat="f in hazardProtection.firedOn track by $index" ng-selected="f == d.firedOn">
    {{_t('fired_' + f)}}</option>
  </select>
</div>