<!--target  -->
<div class="form-group form-inline">
  <select class="form-control" ng-model="d.target" ng-required="true">
    <option value="{{nc.id}}" ng-repeat="nc in notifications.channels" ng-selected="nc.id == d.target">
      {{nc.name}} ({{nc.userName}})
    </option>
  </select>
</div>
<!-- mesage -->
<div class="form-group" ng-if="d.target != '' || d.target_custom != ''">
  <textarea name="message" id="content" class="form-control report-content" ng-model="d.message" placeholder="{{_t('message')}}"></textarea>
</div>
<!--fired -->
<div class="form-group form-inline" ng-if="d.target != ''">
  <label>{{_t('notification_is_fired')}}</label>
  <select class="form-control" ng-model="d.firedOn">
    <option value="{{f}}" ng-repeat="f in hazardProtection.firedOn track by $index" ng-selected="f == d.firedOn">
    {{_t('fired_' + f)}}</option>
  </select>
</div>