<!--target  -->
<div class="form-group form-inline">
  <select class="form-control" ng-model="v.target">
    <option value="" ng-selected="true">--- {{_t('notification_trigger')}} ---</option>
    <option value="{{user.email}}" ng-selected="v.target == user.email">{{user.email}}</option>
    <option value="{{e.deviceId}}" ng-repeat="e in hazardProtection.availableNotifiers track by $index" ng-selected="e.deviceId == v.target">
    {{e.deviceName}}</option>
  </select>
  &nbsp;
  <label ng-hide="hazardProtection.availableNotifiers[v.target] || v.target == user.email">&nbsp;{{_t('or')}}&nbsp;<input type="text" class="form-control" placeholder="{{_t('add_email')}}" ng-model="v.target" /></label>
</div>
<!-- mesage -->
<div class="form-group" ng-if="v.target != ''">
  <textarea name="message" id="content" class="form-control report-content" ng-model="v.message" placeholder="{{_t('message')}}"></textarea>
</div>
<!--fired -->
<div class="form-group form-inline" ng-if="v.target != ''">
  <label>{{_t('notification_is_fired')}}</label>
  <select class="form-control" ng-model="v.firedOn">
    <option value="{{f}}" ng-repeat="f in hazardProtection.firedOn track by $index" ng-selected="f == v.firedOn">
    {{_t('fired_' + f)}}</option>
  </select>
</div>