<!--target  -->
   <div class="form-group form-inline">
    <select class="form-control" ng-model="d.target" ng-change="notifyTitleModel = fireProtection.availableNotifiers[d.target].deviceName">
      <option value="">--- {{_t('notification_trigger')}} ---</option>
      <option value="{{e.deviceId}}" ng-repeat="e in fireProtection.availableNotifiers track by $index" ng-selected="e.deviceId == d.target">
        {{e.deviceName}}</option>
    </select>
  </div>
  <!-- mesage -->
  <div class="form-group" ng-if="d.target != ''">
    <textarea name="message" id="content" class="form-control report-content" ng-model="d.message"
      placeholder="{{_t('message')}}"></textarea>
  </div>