<!-- Config rooms edit -->
<div ng-controller="RoomConfigEditController" class="mobile-padding">
    <bb-loader></bb-loader>

    <div ng-show="input">
        <h2><span ng-bind="_t('lb_room')"></span>: <span ng-show="input.id > 0">(#{{input.id}})</span> <span ng-bind="input.title"></span></h2>
        <form name="form_room" id="form_room" class="form form-page" ng-submit="store(form_room,input)" novalidate>
            <fieldset>
                <h3><span ng-bind="_t('lb_name')"></span></h3>
                <div>
                    <!-- name -->
                    <div class="form-group">
                        <input name="title" id="title" type="text" 
                               class="form-control" placeholder="{{_t('lb_room_name')}}" value="{{input.title}}" 
                               ng-model="input.title" ng-blur="titleBlur = true" ng-required="true" />
                        <bb-validator input-name='form_room.title.$error.required' trans='_t("field_required")' has-blur='titleBlur'></bb-validator> 
                    </div>
                </div>
            </fieldset>

            <fieldset class="mobile-hide">
                <h3><span ng-bind="_t('lb_select_image')"></span></h3>
                <div class="clearfix">
                    <img class="room-img-upload form-control-img" 
                             ng-repeat="v in defaultImages"
                             ng-click="input.default_img = v;input.img_type = 'default'" 
                             ng-class="input.img_type == 'default' && v == input.default_img ? 'control-active':''" 
                             ng-src="storage/img/rooms/{{v}}" alt="{{v}}" />
                        
                         <img class="room-img-upload form-control-img" 
                             ng-click="input.user_img = input.user_img;input.img_type = 'user'"
                             ng-class="input.img_type == 'user' ? 'control-active':''" 
                             ng-src="{{userImageUrl + input.user_img}}" 
                             ng-if="input.user_img" />
                </div>
            </fieldset>
            <fieldset class="mobile-hide">
                <h3><span ng-bind="_t('lb_upload_image')"></span></h3>
                <div>
                  <div class="form-group">
                       <bb-help-text trans="_t('room_image_upload_info')"></bb-help-text>
                         <!--<input type="file" class="form-control_" file-model="myFile" /><br />-->  
                         <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                         <!--<button type="button" class="btn btn-primary" id="btn_upload_img" ng-click="uploadFile()"><i class="fa fa-upload"></i> <span ng-bind="_t('lb_upload_image')"></span></button>-->  
                    </div>
                </div>
            </fieldset>
            
             <fieldset>
                <h3><span ng-bind="_t('lb_devices_in_room')"></span></h3>
                 <div class="device-available-block">
                        <a href="" class="btn btn-default btn-tag" title="{{_t('lb_remove')}}"
                            ng-repeat="d in devices"
                           ng-if="devicesAssigned.indexOf(d.id) > -1 && d.location !== 0"
                           ng-click="removeDevice(d)">{{d.metrics.title|cutText:true:20}} <i class="fa fa-times text-danger"></i></a>
                    </div>
                </fieldset>
            <fieldset>
                <h3>{{_t('lb_available_devices')}}</h3>
                <div class="device-available-block">
                    <a href="" class="btn btn-default btn-tag" title="{{_t('add_new')}}" 
                       ng-repeat="d in devices" 
                       ng-if="devicesAssigned.indexOf(d.id) === -1 || d.location === 0"
                       ng-click="assignDevice(d)">{{d.metrics.title|cutText:true:20}} <i class="fa fa-plus text-success"></i></a>
                </div>
            </fieldset>
            <fieldset class="submit-entry">
                 <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
                     <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
                 </button>
                 <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}" ng-disabled="form_room.$invalid">
                     <i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_save')}}</span>
                 </button>
            </fieldset>
        </form>

    </div>

</div> <!-- /ng-controller --> 