<!-- Rooms view -->
<div ng-controller="RoomController">
     <bb-loader></bb-loader>
     <div ng-if="rooms.show">
     <!--<h2 ng-bind="_t('nav_rooms')"></h2>-->
     <div class="page-control form-inline">
         <div class="btn-group btn-goup-block btn-goup-1">
                <button class="btn btn-default" ng-click="expandNavi('roomsOrderBy', $event)">
                    <i class="fa fa-sort-alpha-asc"></i> 
                    <span class="btn-name">{{_t(rooms.orderBy) | cutText:true:15}}</span>
                </button>
            </div>
            <div class="input-group">
                <input type="text" ng-model="q" class="form-control form-search" value="{{q}}">
                <span class="input-group-addon"><i class="fa fa-search"></i></span> 
            </div>
        </div>
     
        <!-- Page subnavi  sort by -->
      <div class="page-navi" ng-if="naviExpanded.roomsOrderBy">
        <div class="page-navi-in">
            <div class="page-navi-content">
                 <p class="page-navi-title"> {{_t('sortby')}}</p>
                <a class="btn btn-default btn-tag" href="" 
                        ng-repeat="(k,v) in cfg.orderby.rooms"
                       ng-click="setOrderBy(k)"
                       ng-class="rooms.orderBy == k ? 'active': ''">
                     {{_t(k) | cutText:true:30}}
                 </a>
            </div>
        </div>
    </div>
        
     <div class="app-row app-row-report app-row-room clearfix" ng-controller="RoomConfigController">
         <div id="row_{{v.id}}" class="report-entry" ng-repeat="v in rooms.all|orderBy:cfg.orderby.rooms[rooms.orderBy] | filter:q  track by v.id" ng-if="v.id !== 0">
            <div class="report-col report-media">
             <img class="report-img img-circle" ng-src="{{v.img_src}}" />
           </div>
            <div class="report-col report-body">
                {{v.title|cutText:true:25}} <span class="item-cnt">({{rooms.cnt.devices[v.id]||0}})</span>
            </div>
         <div class="report-col report-ctrl">
             <div class="btn-group">
             <a class="btn btn-default" title="{{_t('lb_update')}}" href="#config-rooms/{{v.id}}">
                 <i class="fa fa-pencil text-info"></i>
             </a>
                    <button class="btn btn-default" title="{{_t('lb_remove')}}" 
                       ng-click="deleteRoom(v.id, _t('lb_delete_confirm'))"
                       ><i class="fa fa-times text-danger"></i></button>
              </div>
         </div>
        </div>
      </div>
     <div class="fieldset submit-entry">
        <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}"  bb-go-back>
            <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
        </button>
          <a type="button" class="btn btn-submit" title="{{_t('lb_add_room')}}"  ng-href="#config-rooms/0">
              <i class="fa fa-plus"></i> <span class="btn-name">{{_t('lb_add_room')}}</span>
          </a>
     </div>
   </div>
</div> <!-- /ng-controller --> 