<!-- Config rooms edit -->
<div ng-controller="RoomConfigIdController">
  <bb-loader></bb-loader>
  <div ng-show="input">
    <h2>
      <span ng-bind="_t('lb_room')"></span>:
      <span ng-show="input.id > 0">(#{{input.id}})</span>
      <span ng-bind="input.title"></span>
    </h2>
    <form name="form_room" id="form_room" class="form form-page" ng-submit="store(form_room,input)" novalidate>
      <!-- Form  -->
      <fieldset ng-include="'app/views/rooms/room_form.html'"></fieldset>
      <!-- Assigned devices  -->
      <legend>{{_t('lb_devices_in_room')}}</legend>
      <fieldset ng-include="'app/views/rooms/room_assigned.html'"></fieldset>
      <!-- Available devices  -->
     <!--  <legend>{{_t('lb_available_devices')}}</legend>
      <fieldset ng-include="'app/views/rooms/room_available.html'"></fieldset> -->
      <legend>{{_t('lb_available_devices')}}</legend>
      <fieldset ng-include="'app/views/rooms/room_available.1.html'"></fieldset>
      <fieldset class="submit-entry">
        <!-- Cancel -->
        <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
          <i class="fa fa-reply"></i>
          <span class="btn-name">{{_t('lb_cancel')}}</span>
        </button>
        <!-- Save -->
        <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}" ng-disabled="form_room.$invalid">
          <i class="fa fa-check"></i>
          <span class="btn-name">{{_t('lb_save')}}</span>
        </button>
      </fieldset>
    </form>
    </div>
    </div>
    <!-- /ng-controller -->