<!-- Rooms view -->
<div ng-controller="RoomController" class="mobile-padding">
    <bb-loader></bb-loader>
    <div class="row" ng-if="collection">
        <div class="col-md-3 col-sm-6 room-entry" id="panel_{{$index}}" ng-repeat="v in collection">
            <div class="room-in">
                <h3 class="entry-title"><a href="#/elements/location/{{v.id}}/{{v.title}}">{{v.title}}</a></h3>
                <a href="#/elements/location/{{v.id}}/{{v.title}}">
                    <img class="room-image-big img-circle" ng-src="storage/img/rooms/{{v.default_img}}" ng-if="v.img_type == 'default' && v.default_img" alt="{{v.name}}" />
                      <img class="room-image-big img-circle" ng-src="{{userImageUrl + v.user_img}}" ng-if="v.img_type == 'user' && v.user_img" alt="{{v.name}}" />
                      <img class="room-image-big img-circle" ng-src="storage/img/placeholder-img.png" ng-if="!v.default_img && !v.user_img" alt="{{v.name}}" />
                </a>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 