<!-- Rooms view -->
<div ng-controller="RoomController">
  <bb-loader></bb-loader>
  <div class="page-control form-inline">
    <a class="btn btn-default s-hide" href="#config-rooms/0" ng-if="elementAccess(cfg.role_access.config_rooms)">
      <i class="fas fa-plus text-success"></i>
      <span class="btn-name">{{_t('lb_add_room')}}</span>
    </a>
    <div class="input-group input-search s-hide">
      <input type="text" ng-model="q" class="form-control form-search" value="{{q}}">
      <span class="input-group-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
  <!-- Flex gallery -->
  <div class="rooms flexgallery longpress-{{longPressSent}}" ng-if="rooms.show" ng-controller="ElementBaseController">
    <div ng-repeat="v in rooms.all|orderBy:cfg.orderby.rooms[rooms.orderBy] | filter:q  track by $index" ng-hide="v.id === 0 && !rooms.cnt.devices[v.id]"
      ng-class="{'inactive': !rooms.cnt.devices[v.id]}">
      <figure on-long-press="onLongPress(v.id)" on-touch-end="onTouchEnd()" prevent-click="true" long-press-mobile="{{deviceDetector.isMobile()}}">
        <a ng-href="#/rooms{{(rooms.cnt.devices[v.id] ? '/' + v.id : '')}}" ng-disabled="!rooms.cnt.devices[v.id]" title="{{_t('lb_devices_room')}} {{v.title}}">
          <img ng-src="{{v.img_src}}" alt="img" />
        </a>
        <div class="header">
          <span class="char">
            {{v.title_char}}
          </span>
          <a class="settings" href="#config-rooms/{{v.id}}" title="{{_t('lb_update')}}" ng-show="elementAccess(cfg.role_access.config_rooms) && v.id != 0">
            <i class="fas fa-cog"></i>
          </a>
        </div>
        
        <figcaption ng-class="{'s-hide': !_.size(v.main_sensors)}">
        <div class="title">{{v.title|cutText:true:25}}
          <span class="item-cnt">({{rooms.cnt.devices[v.id]|| 0}})</span>
        </div>
        <!-- Card sensors -->
        <div class="room-sensors" ng-show="_.size(v.main_sensors)">
          <div class="sensor" title="{{device.metrics.title + ': ' + device.metrics.level + ' ' + device.metrics.scaleTitle}}" ng-show="v.main_sensors.indexOf(device.id) > -1"
            ng-repeat="device in dataHolder.devices.all">
            <div class="sensor-img">
              <img class="sensor-preview-img img-circle" ng-src="{{device.iconPath}}" alt="img">
            </div>
            <div class="sensor-ctrl">
              <span class="sensor-level">{{device.metrics.level}}</span>
              <span class="sensor-scale">{{device.metrics.scaleTitle|cutText:true:7}}</span>
              &nbsp;
            </div>
          </div>
        </div>
        <!--  <div class="room-sensors" ng-show="v.main_sensors.length == 0 || !v.main_sensors">
          <div class="sensor">
            <div class="sensor-ctrl">
              <span class="sensor-level">&nbsp;</span>
              <span class="sensor-scale">&nbsp;</span>
              &nbsp;
            </div>
          </div>
        </div> -->
        </figcaption>
      </figure>
    </div>
  </div>
  <!-- Button for mobile devices -->
  <div class="text-center l-hide">
    <a class="btn btn-default btn" href="#config-rooms/0">
      <i class="fas fa-plus text-success"></i>
      <span class="btn-name_">{{_t('lb_add_room')}}</span>
    </a>
  </div>
</div>
<!-- /ng-controller -->