<!-- name -->
<div class="form-group form-inline">
  <label>{{_t('lb_name')}}:</label>
  <input name="title" id="title" type="text" class="form-control" placeholder="{{_t('lb_room_name')}}" value="{{input.title}}"
    ng-model="input.title" ng-blur="titleBlur = true" ng-required="true" />
  <bb-validator input-name='form_room.title.$error.required' trans='_t("field_required")' has-blur='titleBlur'></bb-validator>
</div>
<!-- image select -->
<div class="mobile-hide">
  <h3>
    <span ng-bind="_t('lb_select_image')"></span>
  </h3>
  <div class="clearfix">
    <div class="form-group">
      <img class="room-img-upload form-control-img" ng-repeat="v in defaultImages" ng-click="selectRoomImage(v, 'default')" ng-class="input.img_type == 'default' && v == input.default_img ? 'control-active':''"
        ng-src="storage/img/rooms/{{v}}" alt="{{v}}" />
      <div class="room-image-delete-wrap">
        <img class="room-img-upload form-control-img" ng-click="selectRoomImage(input.user_img, 'user')" ng-class="input.img_type == 'user' ? 'control-active':''"
          ng-src="{{userImageUrl + input.user_img}}" ng-if="input.user_img" />
      </div>
    </div>
    <div class="form-group" ng-if="input.user_img">
      <button type="button" title="{{_t('image_delete_info')}}" class="btn btn-danger" ng-click="deleteImage(input.user_img, _t('delete_confirm_label',{__label__:input.user_img}))">
        <i class="fas fa-times"></i> {{ _t('image_delete_info')}}
      </button>
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" name="instances_expanded" id="instances_expanded" ng-model="input.show_background" ng-checked="input.show_background"
    />
    <label for="instances_expanded">
      {{_t('selected_image_background')}}
    </label>
  </div>
</div>
<!-- image upload -->
<div class="mobile-hide form-group">
  <input class="inputfile" type="file" name="file" id="file{{v.id}}" ng-disabled="input.user_img" ng-click="icons.find = v" onchange="angular.element(this).scope().uploadFile(this.files)"
  />
  <label for="file{{v.id}}" class="btn btn-default" ng-disabled="input.user_img" title="{{_t('lb_upload_image')}}" ng-click="icons.find = v">
    <i class="fas fa-upload text-success"></i> {{_t('lb_upload_image')}}
  </label>
  <div ng-if="file.upload">{{file.upload|cutText:true:30}}</div>
  <bb-help-text ng-if="input.user_img" trans="_t('upload_file_info_disabled')"></bb-help-text>
  <bb-help-text trans="_t('upload_file_info',{'__size__':file.info.maxSize,'__extensions__': file.info.extensions})"></bb-help-text>
  <bb-help-text trans="_t('image_recommended_dimension',{'__dimension__':cfg.upload.room.dimension})"></bb-help-text>
</div>
<!-- Delete Room -->
<div class="form-group">
  <button type="button" title="{{_t('delete_room')}}" class="btn btn-danger" ng-click="deleteRoom(input.id, _t('delete_confirm_label',{__label__:input.title}))">
    <i class="fas fa-times"></i> {{ _t('delete_room')}}
  </button>
</div>