/* Global variables
-------------------------------------------------- */

/*-------------------------------------*/
// MEDIA QUERIES
// Ultra small devices, (old Phones)
$break-usmall: 320px; 
// Extra Small Devices, Phones
$break-esmall: 480px;
//  Small Devices, Tablets
$break-small: 768px;
// Medium Devices, Desktops
$break-medium: 992px;
// Large Devices, Wide Screen
$break-large: 1024px;

// Site max width
$site-max-w: 1200px;

/*-------------------------------------*/
// SPACING
$grid-gutter: 15px;
$spacing: 10px;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;
$spacing-half: $spacing / 2;
$spacing-fatal-error: 20px 20px 20px 52px; 

/*-------------------------------------*/
// DIMENSIONS: WIDTHS, HEIGHTS
// Line height
$app-line-height-base:        1.428571429 !default; // 20/14
// Header
$header-h: 50px;

/*-------------------------------------*/
// Z:INDEX
$zindex-alertify: 2500;
$zindex-loader: 2400;
$zindex-search: 2200;
$zindex-header: 2100;
$zindex-page-navi: 2101;
$zindex-dropdown: 1100;
$zindex-infowindow: 1100;
$zindex-modal: 2300;
$zindex-footer: 2100;
$zindex-m-footer: 2130;

/*-------------------------------------*/
// FONTS 

// Font family
$app-font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$app-font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$app-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Font size
$app-body-font-size: 16px;

/*-------------------------------------*/
// COLORS

// Base
$app-brand-primary:         #6494BC !default;
$app-brand-success:         #80AD80 !default;
$app-brand-info:            #5bc0de !default;
$app-brand-warning:         #f0ad4e !default;
$app-brand-danger:          #d9534f !default;

$app-color-primary: #000000;
$app-color-secondary: #000000;
$app-border-color: lighten($app-color-primary, 80%);
$app-body-color:  lighten($app-color-primary, 5%);
$app-body-disabled-color:  lighten($app-body-color, 50%);
$app-a-color:  lighten($app-color-primary, 20%);
$app-a-hover-color:  lighten($app-color-primary, 10%);
$app-heading-color: lighten($app-body-color, 40%);
$app-bcg-success: #dff0d8;
$app-bcg-info: #d9edf7;
$app-bcg-warning: #fcf8e3; 
$app-bcg-danger: #f2dede;
$card-bcg-color: #FFFFFF;

$app-overlay-bcg-color: rgba(37, 37, 37, 0.5);

/*-------------------------------------*/
// EFFECTS
// Radius
$app-border-radius: 4px;

// Shadow
$app-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
$element-widget-btn-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

// Loader fade out
$loader-fadeout:  7s;

/* Bootstrap files
-------------------------------------------------- */
@import "vendor/bootstrap/bootstrap";

/* Font Awesome files
-------------------------------------------------- */
@import "vendor/fontawesome/font-awesome";

/* SmartHome UI variables nad functions
-------------------------------------------------- */
//@import "base/_variables";
@import "base/_mixins";

/* Vendors
-------------------------------------------------- */
@import "vendor/_jquery.fileupload-ui";
@import "vendor/_jquery.fileupload";
@import "vendor/_alpaca";
@import "vendor/_alertify";
@import "vendor/_angular.slider";

/* SmartHome UI base
-------------------------------------------------- */
@import "base/_body";
@import "base/_header";
@import "base/_footer";
@import "base/_navi";
@import "base/_widget"; 
@import "base/_report"; 
@import "base/_table"; 
@import "base/_button"; 
@import "base/_form";
@import "base/_imglist";
@import "base/_bar";
@import "base/_dropdown";
@import "base/_infowindow";
@import "base/_accordion"; 
@import "base/_loader";
@import "base/_alert";
@import "base/_blank";
@import "base/_modal";
@import "base/_pagination";
@import "base/_autocomplete";
@import "base/_dragdrop";
@import "base/_elements";
@import "base/_events";
@import "base/_apps";
@import "base/_local_apps";
@import "base/_active_apps";
@import "base/_online_apps";
@import "base/_customize";
@import "base/_rooms";
@import "base/_devices";
@import "base/_smartstart";
@import "base/_auth";
@import "base/_commands";
@import "base/_slider";
@import "base/_rss";
@import "base/_switch";

/* SmartHome UI custom
/* blank - without @import "custom/_skinname"
/* shui, bayernshui, blueshui, darkshui, homekit
-------------------------------------------------- */
@import "custom/_shui"; 

/* SmartHome UI custom POPP
-------------------------------------------------- */
@import "custom/_popp";

/* Media queries
-------------------------------------------------- */
@import "base/_media_queries";