//
// Mixins
// --------------------------------------------------


// Profile colors
@mixin appProfileColors($brand-color-secondary) {
    /* Visible */ 
    .navbar-visible{
        .navbar-visible-in{
            .active{
                background-color:lighten($brand-color-secondary, 20%);
            }
        }
    }

    .navbar-inverse {
        border-color: lighten($brand-color-secondary, 20%);

    }

}
// Gradient
@mixin appGradient() {
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 77%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(77%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 77%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 77%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 77%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 77%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

// Shadow
@mixin appBoxShadow() {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.29);
}

// Mobile layout
@mixin appMobileLayout() {
    .header-logo{
        display: none !important;
    }
    .navbar-toggle{
        margin-right: 30px !important;
    }
    .container{
        max-width:none;
        width: 100%;

    }
    .navbar-visible-in{
        .header-logo{
            img{
                max-height: 20px !important;
                max-width: 40px !important;
            }
        }
        a{
            padding: 0 8px !important;

        }
    }

    .navi-time{
        padding-left: 6px !important;
        font-size: 90%;
    }
    .row {
        padding-right: 0;
        margin-right: 0;

    }
    .col-sm-6{
        padding-right: 0;
    }
    #nav_collapse .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;                
        display: block !important;
    }
    .navbar-collapse {
        padding-right: 25px;
        padding-left: 25px;
    }

    .navbar-toggle {
        padding: 5px 6px;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: $header-link-color;

    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: $header-link-color;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: $header-color-secondary;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: $app-border-color;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: $header-link-color;
        background-color: $header-color-secondary;
    }
    #main_content{
        padding: 0;
    }
    .navbar .divider-vertical{
        display: none;
    }

    .dropdown > .dropdown-menu::before, 
    .dropdown > .dropdown-menu::after,
    .navbar .divider-vertical{
        display: none;
    }

    /* Body
   -------------------------------------------------- */

    .mobile-padding{
        padding: 0 15px;
    }

    .page-header{
        margin: 0 0 10px 0;
        text-align: center;
    }
    .row-page{
        margin: 0;
    }

    .app-shadow{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .app-border{
        border: 0;

    }
    

    /* Typo
    -------------------------------------------------- */
    .page-subtitle{
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: solid 1px $footer-border-color;
        padding-bottom: 10px;
    }
    /* Images
    -------------------------------------------------- */
    .report-img{
        margin: 0 5px;
        width: 32px;
        display: inline;
    }

    /* tables
    -------------------------------------------------- */
    .table{
        tbody{
            tr{
                td{
                    //border-top: 1px solid lighten($app-border-color, 20%); 
                    border-top: 1px solid lighten($app-border-color, 3%);  
                }
            }
        }

    }
    .table-report{
        tbody tr.bcg-active.true{
            @include appGradient();
        }
        tbody tr.bcg-active.false{
            background-color: $app-bcg-active-false !important;
        }


    }

    /* Forms
    -------------------------------------------------- */
    .btn-new-item{
        float: none !important;
    }
    .btn-name{
        display: none;
    }

    /* Tabs
    -------------------------------------------------- */

    /* Elements
    -------------------------------------------------- */
    .widget-entry{
        width: 100%;
    }
    .widget-block{ 
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:        none;
        border-bottom: solid 1px #ccc;
    }
    .widget-block-in{
        /*   border: solid 1px red;*/
        height: auto;
        text-align: left;
        padding: 10px;
    }
    .widget-image{
        top: 10px;
        left: 10px;
        width: 48px;
        height: 48px;
    }
    .widget-body{
         margin-top: -15px;
        padding: 0 5px 15px 64px;
        .entry-title{
            padding-right: 30px;
        }
    }

    .element-camera-control{
        text-align: right;
    }

    /* Home */
    .home-widget{
        .widget-entry{
            .widget-block-in{
                border: 0;
                padding: 0;

            }
        }
    }

    /* Eevents
    -------------------------------------------------- */
    .event-entry{
        .event-img{
            width: 24px;
            height: 24px;
        }
        .event-message{
            /*            display: block;*/
        }
        .event-action{
            text-align: right;
        }
    }

    /* Apps
    -------------------------------------------------- */
    .tabs-container{
        text-align: center;
    }
    .nav-tabs{
        display: block;
        text-align: center;
        padding: 0 25%;
    }
    .tab-name{
        display: none;
    }
    .tab-icon{
        font-size: 20px;
    }
    .app-entry{
        width: 100%;
        padding:  0;
        border-bottom: dotted 1px $app-border-color; 
       @include appGradient();
    }
    .app-entry-in{
        border: 0;
        height: auto;
        text-align: left;
        padding: 0;
        background: none;
        
    }
    
    .app-image{
        top: 0;
        left: 10px;
        width: 48px;
        height: 48px;
    }
    .app-body{
        height: 54px;
         margin:0;
        padding: 0 5px 15px 64px;
        .entry-title{
            position: absolute;
            z-index: 10;
            padding: 10px 90px 0 0;
        }
    }
    .app-footer{
        //display: none;
/*        display: block;
         position: static;*/
    }
    
    .app-image{
/*        width: 100%;*/
/*    max-width: 100px;*/
    margin: 0;
}
    #table_apps_active{
        .btn{
            font-size: 12px;
        }

    }
    .app-image-list{
        max-width: 50px;
    }

    /* Rooms
    -------------------------------------------------- */

    .room-entry{
        float:left;
        width: 50%;
        padding: 0;
        .entry-title{
            font-size: 12px;
        }
        .entry-title-text{
            display: none;
        }
        .app-border{
            border: solid 1px $app-border-color;
        }

    }
    .room-image{
        max-width: 130px;
    }

    /* Profiles
    -------------------------------------------------- */

    .profile-entry{
        float:left;
        width: 50%;
        .entry-title{
            font-size: 12px;
        }
        .entry-title-text{
            display: none;
        }

    }
    /* Devices
    -------------------------------------------------- */
    .device-manufacturers{
        .col-sm-6{
            float: left;
            width: 50%;
            padding: 0;
            margin: 0;
        }

        .vendor-list {
            width: 100%;
            margin: 0;
            border-color: $app-border-color;
        }



    }

    .vendor-image{
        img {
            max-width: 70px !important;
            max-height: 50px !important;
        }
    }

    .device-perex{
        padding: 10px;
        border-top: 0 none;
    }
    .row-device {
        margin-left: 0;
        .col-device{
            margin: 0 0 20px 0;
            background-color: #fff;

        }
    }
}