//
// Mixins
// --------------------------------------------------

// Gradient
@mixin appGradient() {
    background: #e5eaf0; /* Old browsers */
background: -moz-linear-gradient(top,  #e5eaf0 0%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5eaf0), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5eaf0 0%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5eaf0 0%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5eaf0 0%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5eaf0 0%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eaf0', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */



}

// Shadow
@mixin appBoxShadow() {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.29);
}