<!-- Login view -->
<div ng-controller="LoginController" class="mobile-padding">
    <bb-loader></bb-loader>
    <div ng-if="input.form">
    <div class="login-lang">
       <a href="" ng-repeat="v in cfg.lang_list" class="lang-item" ng-click="setLoginLang(v)">
        <img ng-src="app/img/flags/{{v}}.png" alt="{{v}}"/>
    </a> 
    </div>
    
    <div class="welcome-screen" ng-if="!lastLogin">
        <h1 ng-bind="_t('welcome_1')"></h1>
        <p ng-bind="_t('welcome_2')"></p>
        <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> <span  ng-bind="_t('welcome_3')"></span></div>
        
    </div>
    <bb-alert alert="alert"></bb-alert>
    
    <form name="form_login" id="form_login" class="form form-page" ng-submit="login(input)" novalidate>
        <fieldset>
            <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('nav_login')"></span></h3>
            <!-- login -->
            <div class="form-group">
                <input name="login" id="login" type="text" class="form-control" placeholder="{{_t('lb_login')}}" value="{{input.login}}" ng-model="input.login" />
            </div>
            <!-- password -->
            <div class="form-group">
                <input name="password" id="password" type="password" class="form-control" placeholder="{{_t('lb_password')}}" value="" ng-model="input.password" />
            </div>

            <!-- Default UI -->
            <!-- <div class="form-group form-inline">
                <label><input type="radio" name="default_ui" value="1" ng-model="input.default_ui" ng-checked="input.default_ui == 1" /> {{_t('lb_ui_smarthome')}}</label>
                <label><input type="radio" name="default_ui" value="2" ng-model="input.default_ui" ng-checked="input.default_ui == 2" /> {{_t('lb_ui_expert')}}</label>
            </div>-->
             <!-- keep me -->
        <!--<div class="form-group">
            <input type="checkbox" name="keepme" value="true" id="keepme" ng-model="input.keepme" /> 
            <label ng-bind="_t('lb_keep_logged')"></label>
        </div>-->

        </fieldset>
       <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block" ng-bind="_t('lb_login')">{{_t('apply_config_into_device')}}</button>
        </div>
    </form>
    </div>
</div>