<!-- Logoutview -->
<div ng-controller="PasswordController" class="mobile-padding">
    <bb-loader></bb-loader> 
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{_t('password_info')}}</div>
    <form name="form_password" id="form_password" class="form form-page" ng-submit="changePassword(form_password,input)" novalidate>
            <fieldset>
                <!-- password -->
                <div>
                    <label>{{_t('lb_new_password')}}: </label>
                    <input name="password" id="password" type="password" class="form-control" value="" ng-model="input.password" ng-blur="passwordBlur = true" ng-required="true" ng-minlength="6" />
                    <bb-validator input-name='form_password.password.$error.required' trans='_t("field_required")' has-blur='passwordBlur'></bb-validator> 
                     <bb-validator input-name='form_password.password.$error.minlength' trans='_t("password_valid")' has-blur='passwordBlur'></bb-validator>
                </div>
                
                
                            

            </fieldset>
            <fieldset class="submit-entry">
                <button type="submit" class="btn btn-submit" ng-disabled="form_password.$invalid"><i class="fa fa-check"></i> <span ng-bind="_t('lb_change_password')"></span></button>
            </fieldset>
        </form>
</div>