<!-- Logoutview -->
<div ng-controller="PasswordController" class="mobile-padding">
    <bb-loader></bb-loader> 
    {{user}}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> The info text comes here....</div>
    <form name="form_password" id="form_password" class="form form-page" ng-submit="changePassword(newPassword)" novalidate>
            <fieldset>
                <!-- password -->
                <div>
                    <label>{{_t('lb_new_password')}}: </label>
                    <input name="password" id="password" type="password" class="form-control form-control-sm" value="" ng-model="newPassword" />
                </div>

            </fieldset>
            <fieldset class="submit-entry">
                <button type="submit" class="btn btn-submit"><i class="fa fa-check"></i> <span ng-bind="_t('lb_change_password')"></span></button>
            </fieldset>
        </form>
</div>