<!-- operator -->
<!-- <pre>{{d|json}}</pre> -->
<div class="form-group">
  {{_t('help_compare_condition')}}
  <select class="form-control" ng-model="d.operator" ng-disabled="_.size(d.devices) < 2">
    <option value="{{v}}" ng-repeat="v in d.operators" ng-selected="d.operator == v">{{v}}</option>
  </select>
  <bb-help-text trans="_t('help_compare_rule')"></bb-help-text>
</div>
<!-- assigned -->
<legend>{{_t('assigned_conditions')}}</legend>
<div data-collapse-all="true">
  <section class="accordion-wrap" ng-if="_.size(d.devices) > 0">
    <h2 class="accordion-toggle ellipsis">
      <!-- Title -->
      <button type="button">
        <span ng-if="!rule.namespaces[d.devices[0].deviceId].deviceName"><i class="fas fa-exclamation-circle"></i>&nbsp;{{_t('device_removed')}}&nbsp;({{d.devices[0].deviceId}})</span>
        <span ng-if="rule.namespaces[d.devices[0].deviceId].deviceName">{{rule.namespaces[d.devices[0].deviceId].deviceName}}&nbsp;
        &nbsp;-&nbsp;<em>{{rule.namespaces[d.devices[0].deviceId].locationName}}</em>
        </span>
      </button>
      <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignAdvancedTestCompare(0,d.devices[0].deviceId,testIndex)">
        <i class="fas fa-times text-danger"></i>
      </span>
    </h2>
  </section>

  <section class="accordion-wrap" ng-if="_.size(d.devices) > 1">
    <span class="label label-default index_1">{{d.operator}}</span>
    <h2 class="accordion-toggle ellipsis">
      <!-- Title -->
      <button type="button">
        <span ng-if="!rule.namespaces[d.devices[1].deviceId].deviceName"><i class="fas fa-exclamation-circle"></i>&nbsp;{{_t('device_removed')}}&nbsp;({{d.devices[1].deviceId}})</span>
        <span ng-if="rule.namespaces[d.devices[1].deviceId].deviceName">{{rule.namespaces[d.devices[1].deviceId].deviceName}}&nbsp;
        &nbsp;-&nbsp;<em>{{rule.namespaces[d.devices[1].deviceId].locationName}}</em>
        </span>
      </button>
      <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignAdvancedTestCompare(1,d.devices[1].deviceId,testIndex)">
        <i class="fas fa-times text-danger"></i>
      </span>
    </h2>
  </section>
</div>
<!-- devices -->
<legend>{{_t('available_conditions')}}</legend>
<div data-collapse-all="true" bb-child-elem_="rule.advanced.tests.assignedDevices">
  <section class="accordion-wrap _available-devices" ng-repeat="r in rule.rooms track by $index" ng-if="rule.advanced.tests.devicesInRoom[r.id]">
    <!-- Title -->
    <h2 class="accordion-toggle chevron">
    <button type="button" aria-expanded="false" bb-accordion>
    <span>
      <img class="navi-img" ng-src="{{r.img_src}}" alt="img" />&nbsp;{{r.title}}
    </span>
    </button>
    </h2>
    <!-- Content -->
    <div class="accordion" hidden>
      <button type="button" class="btn btn-default btn-tag" title="{{o.deviceName}}" ng-repeat="o in rule.advanced.tests.availableDevices track by $index" ng-if="o.location == r.id && rule.advanced.tests.assignedDevices.indexOf(o.deviceId) === -1" ng-hide="o.deviceId == rule.input.params.simple.triggerEvent.deviceId || filterDeviceListCompare(o.deviceType,testIndex) " ng-click="assignAdvancedTestCompareDevice(o,testIndex)"><img class="navi-img" ng-src="{{rule.namespaces[o.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
      {{o.deviceName|cutText:true:20}}&nbsp;<i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
      </button>
    </div>
  </section>
</div>