<div ng-show="if" class="form-group form-inline">
  <span>
    <!-- operator -->
    <select class="form-control" ng-model="model.operator"">
      <option value="{{o}}" ng-repeat="o in rule.options.thermostat.operator track by $index" ng-selected="o == model.operator">
      {{_t(o)}}</option>
    </select>
  </span>
  <!-- exact -->
  <input type="number" class="form-control input-number" min="{{rule.options.thermostat.min}}" max="{{rule.options.thermostat.max}}"
    ng-model="model.level"/>
</div>

<div ng-show="!if" class="form-group form-inline">
  <span>
    <!-- level -->
    <select class="form-control" ng-model="model.level">
      <option value="{{o}}" ng-repeat="o in rule.options.thermostat.level track by $index" ng-selected="o == model.level">
      {{_t(o)}}</option>
    </select>
  </span>
  <!-- exact -->
  <input type="number" class="form-control input-number" min="{{rule.options.thermostat.min}}" max="{{rule.options.thermostat.max}}"
    ng-model="model.exact" ng-if="model.level == 'lvl'" />
</div>
<!-- command -->
<div class="form-group" ng-if="!if">
  <input type="checkbox" name="send_command" id="send_command" ng-model="model.sendAction" ng-checked="model.sendAction" />
  <label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>    