<!-- Online app view -->
<div class="row row-page" id="page_app_local">
    <div class="col-md-6 app-entry"  ng-repeat="v in modules| filter:q">
        <div class="app-border app-gradient app-shadow app-entry-in">
            <div class="row">
                <div class="col-sm-2 app-header">
                    <img class="app-image" src="storage/img/apps/appimage.jpg" alt="{{ v.name}}"/>
                </div>
                <div class="col-sm-10 app-body">
                    <h3 class="entry-title" ng-bind="v.defaults.title"> </h3>
                    <p class="show-on-pc">
                        <span title="{{v.defaults.description}}" tooltip_>{{ v.defaults.description | cutText:true:90}}</span>
                        <a class="more-info" href="" ng-click="showModal('#modal_detail', v)" ng-if="v.defaults.description.length > 90">{{_t('lb_more')}}&nbsp;&raquo;</a>
                    </p>
                    <p class="show-on-mobile" ng-bind="v.defaults.description"></p>
                    <p ng-show="v.dependencies.length > 0"><strong>{{_t('lb_instance_of')}}:</strong> <span ng-repeat="i in v.dependencies">{{i}}, </span></p>
                    <p ng-show="v.version || v.author">
                        <span ng-show="v.author">
                            <i class="fa fa-user"></i>
                        <span ng-show="!v.homepage" ng-bind="v.author"></span>
                        <a ng-href="{{v.homepage}}" ng-show="v.homepage" ng-bind="v.author"></a>
                        </span>
                        <span ng-show="v.version">
                        <i class="fa fa-info-circle"></i> <span class="app-version" ng-bind="v.version"></span>
                        <span class="label"
                              ng-class="v.maturity == 'stable' ? 'label-success':'label-warning'"
                              >{{v.maturity}}</span>
                         </span>
                    </p> 
                    <div class="text-right">
                        <a href="#module/post/{{v.id}}" title="{{_t('lb_add_app')}}" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-lg"></i> <span class="btn-name_">{{_t('lb_add_app')}}</span></a> <a href="#apps/local/{{v.id}}" title="{{_t('lb_add_app')}}" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-lg"></i> <span class="btn-name_">{{_t('lb_more')}}</span></a>
                        <!--<button class="btn btn-danger btn-sm" title="{{_t('lb_remove')}}"><i class="fa fa-remove fa-lg"></i> <span class="btn-name">{{_t('lb_remove')}}</span></button>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal detail -->
<div class="modal modal-vertical-centered fade" id="modal_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-bind="modalLocal.defaults.title"></h4>
            </div>
            <div class="modal-body" ng-bind=" modalLocal.defaults.description"></div>
        </div>
    </div>

</div><!-- /.Modal -->