<!-- Appp module ad  view -->
<div class="mobile-padding" id="page_module_update" ng-controller="AppModuleAlpacaController">
    <div class="alpaca-perex clearfix"> 
        <img class="app-image-alpaca" ng-src="{{moduleMediaUrl + input.moduleName + '/' + input.icon}}" ng-if="input.icon" alt="img" />
        <h1 ng-bind="input.moduleTitle"></h1>
        <p class="help-block">{{_t('lb_module_id')}}: {{input.moduleId}} | {{_t('lb_instance_id')}}: {{input.instanceId}} <!--| {{_t('lb_category')}}: {{_t(input.category)}}--></p>
       
    </div>
    <!-- <h2 class="page-subtitle" ng-bind="input.moduleTitle"></h2>
    <p class="help-block">{{_t('lb_module_id')}}: {{input.moduleId}} | {{_t('lb_instance_id')}}: {{input.instanceId}} | {{_t('lb_category')}}: {{_t(input.category)}}</p>-->
    <div class="alert alert-warning" ng-hide="showForm">
        <span ng-bind="_t('lb_no_module')"></span> <a href="#apps" class="btn btn-default" ng-bind="_t('lb_cancel')"></a>
    </div>
    <form id="form_module" ng-show="showForm">
        <input name="instanceId" id="instanceId" type="hidden" class="form-control" value="{{input.instanceId}}" />
        <input name="moduleId" id="moduleId" type="hidden" class="form-control" value="{{input.moduleId}}" />
        <div class="form-group">
            <input type="checkbox" name="active" value="{{input.active}}" id="active" ng-model="input.active" ng-checked="input.active" /> <label>Active</label>
        </div>
        <div class="form-group">
            <label>{{_t('lb_name')}}</label>
            <input name="title" id="title" type="text" class="form-control" value="{{input.title}}" ng-model="input.title" />
        </div>
        <div class="form-group">
            <label>{{_t('lb_description')}}</label>
            <textarea name="description" id="description" class="form-control" placeholder="Rooms for your notes"></textarea>

        </div>

        <div id="alpaca_data" ng-show="alpacaData"></div>

        <!-- Submit -->
        <div class="submit-entry">

            <button type="submit" 
                    id="btn_module_submit_ang"
                    class="btn btn-primary" 
                    ng-click="store(input)"
                    ng-hide="alpacaData">{{_t('lb_save')}} <i class="fa fa-spinner fa-spin module-spinner"></i></button>
                    <button type="submit" 
                    id="btn_module_submit"
                    class="btn btn-primary"
                    data-sid="{{ZWAYSession}}"
                    data-lang="{{lang}}"
                    ng-show="alpacaData">{{_t('lb_save')}} <i class="fa fa-spinner fa-spin module-spinner"></i></button>
            <a href="#apps" class="btn btn-default">{{_t('lb_cancel')}}</a>
        </div>

    </form><!-- /form --> 

</div> <!-- /ng-controller --> 