<!-- Online app view -->
<div class="row row-page" id="_page_app_local">
    <div class="col-lg-4 col-md-6 col-sm-6 app-entry"  ng-repeat="v in onlineModules | filter:q">
        <div class="app-border app-gradient app-shadow app-entry-in" ng-class="modulesIds.indexOf(v.modulename) !== -1 ? 'app-gradient-green': ''">
            
            <a href="#apps/online/{{v.id}}">
                
                <img class="app-image" ng-src="{{onlineMediaUrl + v.icon}}" alt="{{v.title}}" ng-if="v.icon" />
                 <img class="app-image" ng-src="storage/img/placeholder-img.png" alt="{{v.title}}" ng-if="!v.icon" />
            </a>
            <div class="app-body">
                <h3 class="entry-title"><a href="#apps/online/{{v.id}}" ng-bind="v.title"></a>  &raquo;</h3>
             </div>
            <div class="app-footer">
                <div class="app-footer-in">
                    <a href="" class="btn btn-default btn-sm" ng-click="downloadModule(v.modulename)"><i class="fa fa-download fa-lg text-success"></i> <span class="btn-name_">{{_t('lb_download')}}</span></a> 
                 </div>
                </div>
        </div>
    </div>
</div>