<!-- Hidden app view -->
<div class="table-responsive_">
    <table id="table_apps_active_" class="table table-condensed table-report">
        <tbody>
            <tr class="bcg-active true" ng-repeat="v in modules| orderBy:predicate:reverse | filter:q" id="app_hidden_{{$index}}">
                <td class="td-img">
                    <img class="report-img" ng-src="storage/img/icons/placeholder.png" alt="icon" />
                </td>
                <td>
                    <strong ng-bind="v.defaults.title"></strong><br />
                    <em  ng-bind="v.defaults.description"></em>
                </td>
            </tr>
        </tbody>
    </table>
</div>