<!-- AppLocalDetailController -->
<div ng-controller="AppLocalDetailController">
    <div class="app-border app-gradient app-shadow app-detail-header">
        <div class="app-detail-header-in">
            <div class="app-detail-img">
                <img class="app-image-detail" src="storage/img/apps/appimage.jpg" alt="{{module.name}}"/>
            </div>
        
        <div class="app-detail-body">
            <h2 class="page-subtitle" ng-bind="module.defaults.title"></h2>
            <p class="app-detail-perex" ng-bind="module.defaults.description"></p>
            <p class="app-detail-list" ng-show="module.dependencies.length > 0">
                <i class="fa fa-sitemap fa-lg"></i> <strong>{{_t('lb_instance_of')}}:</strong> <span ng-repeat="i in module.dependencies">{{i}}, </span>
            </p>
            <p class="app-detail-list" ng-show="module.category">
                <i class="fa fa-list fa-lg"></i> <span ng-bind="module.category"></span>
            </p>
            <p class="app-detail-list" ng-show="module.author">
                <i class="fa fa-user fa-lg"></i>
                    <span ng-show="!module.homepage" ng-bind="module.author"></span>
                    <a ng-href="{{module.homepage}}" ng-show="module.homepage" ng-bind="module.author"></a> 
            </p>
            <p class="app-detail-list" ng-show="module.version">
               <i class="fa fa-info-circle fa-lg"></i> <span class="app-version" ng-bind="module.version"></span>
                    <span class="label"
                          ng-class="module.maturity == 'stable' ? 'label-success':'label-warning'"
                          >{{module.maturity}}</span>
            </p>
             <div class="app-detail-control">
            <a href="#module/post/{{module.id}}" title="{{_t('lb_add_app')}}" class="btn btn-default btn-lg">
                <i class="fa fa-plus fa-lg text-success"></i> <span class="btn-name_">{{_t('lb_add_app')}}</span>
            </a>
                  </div> 
        </div>
      </div>
    </div>

</div> <!-- /ng-controller --> 