<!-- App online info -->
<div class="form form-inline form-page" ng-if="module">
    <div class="fieldset clearfix">
       <div class="app-detail-img">
                <img class="app-image-detail" ng-src="{{onlineMediaUrl + module.icon}}" ng-if="module.icon" alt="{{module.title}}" />
                <img class="app-image-detail" ng-src="storage/img/placeholder-img.png" ng-if="!module.icon" alt="{{module.title}}" />
            </div>

            <div class="app-detail-body">
                <h2 ng-bind="module.title"></h2>
                 <p class="app-detail-perex" ng-bind-html="module.description|toTrusted"></p>
                <p class="app-detail-list" ng-show="module.category">
                    <i class="fa fa-list"></i> <span ng-bind="categoryName"></span>
                </p>
                <p class="app-detail-list" ng-show="module.author">
                    <i class="fa fa-user"></i>
                    <span ng-show="!module.homepage" ng-bind="module.author"></span>
                    <a ng-href="{{module.homepage}}" ng-show="module.homepage" ng-bind="module.author"></a> 
                </p>
                <p class="app-detail-list" ng-show="module.version">
                    <i class="fa fa-info-circle"></i> <span class="app-version" ng-bind="module.version"></span>
                    <span class="label"
                          ng-class="module.maturity == 'stable' ? 'label-success' : 'label-warning'"
                          >{{module.maturity}}</span>
                </p> 
                <p class="app-detail-list" ng-show="module.installed">
                    <i class="fa fa-download"></i> {{module.installed}}x
                </p>
                <p class="app-detail-list" ng-show="module.last_updated">
                    <i class="fa fa-clock-o"></i> <span ng-bind="module.last_updated"></span>
                </p>
                <div class="app-detail-list" ng-if="rating.model.remote_id">
                    <p>
                        <strong>{{_t('rate_app')}}: </strong> <i class="fa clickable module-rating" title="{{v}}"
                                     ng-class="v > module.rating ? 'fa-star-o' : 'fa-star israted'" 
                                    ng-repeat="v in rating.range" 
                                    ng-click="rateModule(v)"></i>
                    </p>
                    <p>
                        {{_t('app_was_rated')}}: <strong>{{module.ratingscnt}}</strong>&times;
                    </p>
                     <p>
                        {{_t('app_average_scored')}}: <strong>{{module.rating}}</strong>
                    </p>
                     <!-- <p ng-if="module.ratingsavg">
                        {{_t('app_average_scored')}}: <strong>{{module.ratingsavg}}</strong>
                    </p>-->
                </div>


            </div>
    </div>
    <div class="fieldset submit-entry">
        <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
            <i class="fa fa-reply"></i> <span class="btn-name">{{_t('lb_cancel')}}</span>
        </button>
        <button class="btn btn-submit" title="{{_t('lb_download')}}" ng-click="installModule(module)" ng-if="!local.installed">
            <i class="fa fa-download"></i> <span class="btn-name">{{_t('lb_download')}}</span>
        </button> 
        <button class="btn btn-default" title="{{_t('installed')}}"  disabled ng-if="local.installed">
            <i class="fa fa-check"></i> <span class="btn-name">{{_t('installed')}}</span>
        </button>
         <a href="#module/post/{{module.modulename}}" title="{{_t('lb_add_app')}}" class="btn btn-default" ng-if="local.installed">
            <i class="fa fa-plus text-success"></i> <span class="btn-name" ng-bind="_t('lb_add_app')"></span>
        </a>
    </div>
</div>
