<!-- Appp view -->
<div ng-controller="AppController">
    <bb-loader></bb-loader>
    <div class="tabs-container">
        <ul class="nav nav-tabs nav-tabs-3" role="tablist">
            <li ng-class="activeTab == 'local' ? 'active' : ''">
                <a href="" title="{{_t('lb_local_modules')}}" data-target="#module_local" data-toggle="tab" ng-click="setTab('local')">
                    <i class="fa fa-cloud-download fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_local_modules')}}</span>
                </a>
            </li>
            <!--<li ng-class="activeTab == 'online' ? 'active' : ''">
                <a href="" title="{{_t('lb_online_modules')}}" data-target="#module_online" data-toggle="tab" ng-click="setTab('online')">
                    <i class="fa fa-globe fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_online_modules')}}</span>
                </a>
            </li> -->
            <li ng-class="activeTab == 'instance' ? 'active' : ''">
                <a href="" title="{{_t('lb_active')}}" data-target="#module_instance" data-toggle="tab" ng-click="setTab('instance')">
                    <i class="fa fa-cog fa-fire tab-icon"></i> <span class="tab-name">{{_t('lb_active')}}</span>
                </a>
            </li>
             <!-- <li ng-class="activeTab == 'hidden' ? 'active' : ''">
                <a href="" title="{{_t('lb_hidden_app')}}" data-target="#module_hidden" data-toggle="tab" ng-click="setTab('hidden')">
                    <i class="fa fa-eye tab-icon"></i> <span class="tab-name">{{_t('lb_hidden_app')}}</span>
                </a>
            </li>-->
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Local -->
        <div class="tab-pane" id="module_local" ng-class="activeTab == 'local' ? 'active' : ''" ng-include="'app/views/apps/app_local.html'"></div>
        <!-- Online -->
        <!--<div class="tab-pane" id="module_local" ng-class="activeTab == 'online' ? 'active' : ''" ng-include="'app/views/apps/app_online.html'"></div>-->
        <!-- Active -->
        <div class="tab-pane" id="module_instance" ng-class="activeTab == 'instance' ? 'active' : ''" ng-include="'app/views/apps/app_instance.html'"></div>
         <!-- Hidden -->
         <!--<div class="tab-pane" id="module_hidden" ng-class="activeTab == 'hidden' ? 'active' : ''" ng-include="'app/views/apps/app_hidden.html'"></div>-->
    </div>

    <div id="footer" ng-show="showFooter">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="form-inline" role="form">
                    <select class="form-control" ng-model="category" ng-show="showInFooter.categories">
                        <option value="" ng-bind="_t('lb_all')"></option>
                        <option ng-repeat="v in categories" value="{{v.id}}" ng-if="v.id != 'surveillance'" ng-selected="category == v.id" ng-bind="v.name">
                        </option>
                    </select>
                    <div class="input-group search-form hide-on-mobile">
                        <input type="text" ng-model="q" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 