<!-- Online apps widget view -->
<div class="app-entry-online" ng-repeat="c in dataHolder.modules.categories" ng-if="dataHolder.onlineModules.cnt.appsCat[c.id]">
    <!-- Categories -->
    <div class="app-entry-cat clearfix">
        <div class="app-entry-title">
            <h2>
                <a ng-href="#/apps/online/filter" ng-click="setFilter({category: c.id})">{{c.name|cutText:true:30}}
                    <span class="item-cnt">({{dataHolder.onlineModules.cnt.appsCat[c.id]}})</span>
                </a>
            </h2>
            <div>{{c.description}}</div>
        </div>
        <div class="app-entry-btn">
            <a class="btn btn-info" ng-href="#/apps/online/filter" ng-click="setFilter({category: c.id})" ng-if="_.size(c.onlineModules) > 5">
                <span class="btn-name">{{_t('show_more_apps')}}</span>
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

    </div>

    <!-- Widgets -->
    <div class="clearfix">
        <div class="onlineapp" ng-class="{'widget-warning': dataHolder.modules.ids[v.modulename],'widget-danger': dataHolder.modules.ids[v.modulename] && dataHolder.modules.ids[v.modulename].version != v.version}"
            ng-if="v.category == c.id" ng-repeat="v in c.onlineModules| limitTo: 6 | orderBy: cfg.orderby.appsonline[dataHolder.onlineModules.orderBy] | filter:q track by v.id" ng-hide="v.status !== 'download' && dataHolder.onlineModules.hideInstalled">
             <!-- Onlineapp entry -->
             <div ng-include="'app/views/apps/apps_online_widget_entry.html'"></div>
        </div>
    </div>
</div>