<!-- Instances widget view -->
<!-- No search result -->
<div class="alert alert-warning" ng-if="dataHolder.instances.noSearch">
    <i class="fa fa-exclamation-circle"></i>&nbsp;{{_t('no_search_results',{__term__: "\"" +
    dataHolder.instances.filter.q + "\""})}}
</div>
<!-- List -->
<div ng-repeat="(indexG,g) in dataHolder.instances.groups track by indexG"
     ng-init="instanveModuleCnt = dataHolder.instances.cnt.modules[g.moduleId]">
    <!-- ----------------------------------- Accordion ----------------------------------- -->
    <div class="accordion-entry" ng-if="instanveModuleCnt > 1">
        <!--  Accordion header -->
        <h2 class="accordion-entry-title"
            ng-click="expandElement(g.moduleId)"
            ng-init="expand[g.moduleId] = dataHolder.instances.expanded">
            <!-- image -->
            <img class="report-img-s" ng-src="{{dataHolder.modules.ids[g.moduleId].icon}}" err-src="{{cfg.img.placeholder}}" alt="img" />
            <!-- Title -->
            {{dataHolder.modules.ids[g.moduleId].title}} <span class="item-cnt">({{dataHolder.instances.cnt.modules[g.moduleId]}})</span>
            <!-- Arrow -->
            <i class="fa accordion-arrow" ng-class="expand[g.moduleId] ? 'fa-chevron-up':'fa-chevron-down'"></i>
        </h2>
        <!--<pre>{{dataHolder.modules.ids[g.moduleId]|json}}</pre>-->
        <!-- Accordion body -->
        <div class="accordion-entry-ctrl instance-entry-multiple" ng-class="" ng-if="expand[g.moduleId]">
            <!-- Instances -->
            <div class="app-row app-row-report clearfix">
                <div class="report-entry bcg-active"
                    ng-repeat="(indexA,v) in g.instances |orderBy:cfg.orderby.instances[dataHolder.instances.orderBy] | filter:q track by indexA"
                     ng-class="v.active ? 'true': 'false'"
                     ng-if="dataHolder.modules.cameraIds.indexOf(v.moduleId) === -1">
                    <div class="report-col report-body">
                        <a href="#module/put/{{v.id}}"><span ng-bind="v.title"></span></a>
                    </div>
                    <div class="report-col report-ctrl report-ctrl-3">
                        <div class="btn-group">
                            <a ng-href="#module/put/{{v.id}}" class="btn btn-default" title="{{_t('lb_settings')}}">
                                <i class="fa fa-cog"></i>
                            </a>
                            <button title="{{_t('lb_deactivate')}}"
                                    class="btn btn-default" href=""
                                    ng-if="v.active"
                                    ng-class="v.active ? 'active' : ''"
                                    ng-click="activateInstance(v, false)">
                                <i class="fa fa-fire text-success"></i>
                            </button>
                            <button title="{{_t('lb_activate')}}"
                                    class="btn btn-default"
                                    ng-if="!v.active"
                                    ng-click="activateInstance(v, true)">
                                <i class="fa fa-power-off text-danger"></i>
                            </button>
                            <a ng-href="#module/clone/{{v.moduleId}}/false/{{v.id}}"
                               class="btn btn-default"
                               title="{{_t('lb_clone')}}"
                               ng-hide="dataHolder.modules.ids[v.moduleId].singleton">
                                <i class="fa fa-clone"></i>
                            </a>
                            <button title="{{_t('lb_remove')}}"
                                    class="btn btn-default"
                                    ng-click="deleteInstance({'id': v.id}, _t('lb_delete_confirm'))">
                                <i class="fa fa-remove text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------- ROW ----------------------------------- -->
    <div class="instance-entry-single " ng-if="instanveModuleCnt < 2">
        <!--<p>ROW: {{g.title}} ({{instanveModuleCnt}})</p>-->
        <div class="app-row app-row-report clearfix">
            <div class="report-entry bcg-active"
                 ng-repeat="(indexR,v) in g.instances |orderBy:cfg.orderby.instances[dataHolder.instances.orderBy] | filter:q track by indexR"
                 ng-class="v.active ? 'true': 'false'"
                 ng-if="dataHolder.modules.cameraIds.indexOf(v.moduleId) === -1">
                <div class="report-col report-body">
                    <img class="report-img-s" ng-src="{{dataHolder.modules.ids[g.moduleId].icon}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                    <a href="#module/put/{{v.id}}"><span ng-bind="v.title"></span></a>
                </div>
                <div class="report-col report-ctrl report-ctrl-3">
                    <div class="btn-group">
                        <a ng-href="#module/put/{{v.id}}" class="btn btn-default" title="{{_t('lb_settings')}}">
                            <i class="fa fa-cog"></i>
                        </a>
                        <button title="{{_t('lb_deactivate')}}"
                                class="btn btn-default" href=""
                                ng-if="v.active"
                                ng-class="v.active ? 'active' : ''"
                                ng-click="activateInstance(v, false)">
                            <i class="fa fa-fire text-success"></i>
                        </button>
                        <button title="{{_t('lb_activate')}}"
                                class="btn btn-default"
                                ng-if="!v.active"
                                ng-click="activateInstance(v, true)">
                            <i class="fa fa-power-off text-danger"></i>
                        </button>
                        <a ng-href="#module/clone/{{v.moduleId}}/false/{{v.id}}"
                           class="btn btn-default"
                           title="{{_t('lb_clone')}}"
                           ng-hide="dataHolder.modules.ids[v.moduleId].singleton">
                            <i class="fa fa-clone"></i>
                        </a>
                        <button title="{{_t('lb_remove')}}"
                                class="btn btn-default"
                                ng-click="deleteInstance({'id': v.id}, _t('lb_delete_confirm'))">
                            <i class="fa fa-remove text-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- todo: backend support Add new group:
<div class="page-control form-inline">
    <div class="form-group form-inline">
        <div class="input-group">
            <input name="add_tag" id="add_tag" type="text"
                   class="form-control"
                   placeholder="{{_t('Add new group')}}"
                   ng-model="search.text" bb-key-event="searchMe()" data-toggle="dropdown"/>
            <span class="input-group-addon clickable" title="{{_t('Add new group')}}">
                           <i class="fa fa-plus text-success"></i>
                       </span>
        </div>
    </div>
</div> -->