<!-- AppOnlineDetailController -->
<div ng-controller="AppOnlineDetailController">
     <bb-loader></bb-loader>
     <div ng-if="!_.isEmpty(module)">
    <!-- ///////////////////////////// App info ///////////////////////////// -->
    <div class="accordion-entry" ng-include="'app/views/apps/apps_online_id_info.html'"></div>
    
    <!-- ///////////////////////////// App patch notes ///////////////////////////// -->
    <div class="accordion-entry" ng-if="module.patchnotes" ng-include="'app/views/apps/apps_online_id_patches.html'"></div>
    
    <!-- ///////////////////////////// App comments ///////////////////////////// -->
    <div class="accordion-entry" ng-include="'app/views/apps/apps_online_id_comments.html'"></div>
    </div>
</div> <!-- /ng-controller --> 