<!-- AppOnlineDetailController -->
<div ng-controller="AppOnlineDetailController">
     <bb-loader></bb-loader>
    <bb-alert alert="local.alert"></bb-alert>
     <div ng-if="!_.isEmpty(module)">
    <!-- ///////////////////////////// App info ///////////////////////////// -->
    <section ng-include="'app/views/apps/apps_online_id_info.html'"></section>
    
    <!-- ///////////////////////////// App patch notes ///////////////////////////// -->
    <section ng-if="module.patchnotes" ng-include="'app/views/apps/apps_online_id_patches.html'"></section>
    
    <!-- ///////////////////////////// App comments ///////////////////////////// -->
    <section ng-include="'app/views/apps/apps_online_id_comments.html'"></section>
    </div>
</div> <!-- /ng-controller --> 