<!-- Instances control view -->
<div class="page-control form-inline">
    <!--<div class="btn-group btn-goup-block btn-goup-1">
        <button class="btn btn-default" ng-click="expandNavi('appsInstancesOrderBy', $event)">
            <i class="fa fa-sort-alpha-asc"></i>
            <span class="btn-name">{{_t(dataHolder.instances.orderBy) | cutText:true:15}}</span>
        </button>
    </div>-->
    <!-- Collapsed-->
    <div class="form-group">
         <label>
        <input type="checkbox" name="instances_expanded"
               ng-change="expandInstances(dataHolder.instances.expanded)"
               ng-model="dataHolder.instances.expanded"
               ng-checked="dataHolder.instances.expanded" />
        {{_t('expand_all')}}
        </label>
    </div>
    <!-- Search and autocomplete -->
    <div class="input-group">
        <input name="add_tag" id="add_tag" type="text"
               class="form-control"
               placeholder="{{_t('lb_search')}}"
               ng-model="autocomplete.term" bb-key-event="searchMe()" data-toggle="dropdown"/>
        <span class="input-group-addon clickable">
                       <i class="fa fa-search"></i>
                   </span>
        <div class="app-dropdown autocomplete" ng-if="autocomplete.results.length">
            <ul>
                <li class="dropdown-entry clickable" title="{{v.name}}"
                    ng-click="redirectToRoute('zwave/inclusion/' + v.id)"
                    ng-repeat="v in autocomplete.results | orderBy:'name' track by $index">
                    <span class="dropdown-col">
                        <img class="report-img-s" ng-src="{{dataHolder.modules.ids[v.moduleId].icon}}" err-src="{{cfg.img.placeholder}}" alt="img" />
                         <a class="aoutocomplete-title" href="#module/put/{{v.id}}">{{v.title|cutText:true:30}}</a>&nbsp;

                    </span>
                    <span class="dropdown-col dropdown-ctrl">
                           <div class="btn-group">
                        <button title="{{_t('lb_deactivate')}}"
                                class="btn btn-default btn-sm" href=""
                                ng-if="v.active"
                                ng-click="activateInstance(v, false)">
                            <i class="fa fa-fire text-success"></i>
                        </button>
                        <button title="{{_t('lb_activate')}}"
                                class="btn btn-default btn-sm"
                                ng-if="!v.active"
                                ng-click="activateInstance(v, true)">
                            <i class="fa fa-power-off text-danger"></i>
                        </button>
                       <a ng-href="#module/clone/{{v.moduleId}}/false/{{v.id}}"
                          class="btn btn-default"
                          title="{{_t('lb_clone')}}"
                          ng-hide="dataHolder.modules.ids[v.moduleId].singleton">
                            <i class="fa fa-clone"></i>
                        </a>
                        <button title="{{_t('lb_remove')}}"
                                class="btn btn-default btn-sm"
                                ng-click="deleteInstance('#instance_' + $index, {'id': v.id}, _t('lb_delete_confirm'))">
                            <i class="fa fa-remove text-danger"></i>
                        </button>
                    </div>
                    </span>
                </li>
            </ul>

        </div>
    </div>
</div>
