<!-- Local apps view -->
<div ng-controller="AppBaseController">
     <bb-loader></bb-loader>
    <div ng-controller="AppLocalController" id="apps_local">
        <!-- Apps navigation -->
        <div ng-include="'app/views/apps/navi.html'"></div>
    
        <div class="page-control form-inline">
            <div class="btn-group btn-goup-block btn-goup-2">
                <button class="btn btn-default" ng-click="expandNavi('appsCategories', $event)" ng-class="!_.isEmpty(dataHolder.modules.filter) ? 'active':'' ">
                    <i class="fa fa-filter"></i> 
                     <span class="btn-name" ng-if="dataHolder.modules.filter.category">{{dataHolder.modules.categories[dataHolder.modules.filter.category].name|cutText:true:30}}</span>
                     <span class="btn-name" ng-if="dataHolder.modules.filter.featured">{{_t('featured_apps')}}</span>
                     <span class="btn-name" ng-if="_.isEmpty(dataHolder.modules.filter)">{{_t('all_apps')}}</span>
                      <span class="btn-name item-cnt"> ({{dataHolder.modules.cnt.collection}})</span>
                </button>
                <button class="btn btn-default" ng-click="expandNavi('appsLocalOrderBy', $event)">
                    <i class="fa fa-sort-alpha-asc"></i> 
                    <span class="btn-name">{{_t(dataHolder.modules.orderBy) | cutText:true:15}}</span>
                </button>
            </div>
            <div class="input-group">
                <input type="text" ng-model="q" class="form-control form-search" value="{{q}}">
                <span class="input-group-addon"><i class="fa fa-search"></i></span> 
            </div>
        </div>
         <!-- Page subnavi  categories -->
        <div class="page-navi" ng-if="naviExpanded.appsCategories">
        <div class="page-navi-in">
            <ul>
                <li class="page-cat-0" ng-class="_.isEmpty(dataHolder.modules.filter) == true ? 'active': ''">
                    <a href="" ng-click="setFilter()">
                        <i class="fa fa-check-circle-o"></i> {{_t('all_apps')}} 
                        <span class="item-cnt">({{dataHolder.modules.cnt.apps}})</span> 
                        <span class="page-navi-icon"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
                <li class="page-cat-0" ng-class="dataHolder.modules.filter.featured == true ? 'active': ''">
                    <a href="" ng-click="setFilter({featured: true})">
                        <i class="fa fa-thumbs-o-up"></i> {{_t('featured_apps')}} 
                        <span class="item-cnt">({{dataHolder.modules.cnt.featured}})</span> 
                        <span class="page-navi-icon"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
                <li class="page-cat-{{v.id}}" ng-repeat="v in dataHolder.modules.categories" 
                    ng-if="dataHolder.modules.cats.indexOf(v.id) > -1 && dataHolder.modules.cnt.appsCat[v.id]" 
                    ng-class="dataHolder.modules.filter.category == v.id ? 'active': ''">
                    <a href="" ng-click="setFilter({category: v.id})">
                         <i class="fa {{v.id|getAppCategoryIcon}}"></i>
                        {{v.name|cutText:true:30}} <span class="item-cnt">({{dataHolder.modules.cnt.appsCat[v.id]}})</span> 
                        <span class="page-navi-icon"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        
         <!-- Page subnavi  sort by -->
      <div class="page-navi" ng-if="naviExpanded.appsLocalOrderBy">
        <div class="page-navi-in">
            <div class="page-navi-content">
                 <p class="page-navi-title"> {{_t('sortby')}}</p>
                <a class="btn btn-default btn-tag" href="" 
                        ng-repeat="(k,v) in cfg.orderby.appslocal"
                       ng-click="setOrderBy(k)"
                       ng-class="dataHolder.modules.orderBy == k ? 'active': ''">
                     {{_t(k) | cutText:true:30}}
                 </a>
            </div>
        </div>
    </div>
    <div class="app-row app-row-widget clearfix">
        <div class="widget-entry widget-entry-app"
             id="local_module_{{v.id}}" 
             ng-repeat="v in dataHolder.modules.all|orderBy:cfg.orderby.appslocal[dataHolder.modules.orderBy] | filter:q  track by v.id" 
             ng-class="{'widget-danger': dataHolder.onlineModules.ids[v.id] && dataHolder.onlineModules.ids[v.id].version != v.version}">
                <div class="widget-entry-in"> 
                    <!-- Widget img -->
                    <div class="widget-img">
                    <a href="#apps/local/{{v.id}}">
                        <img class="widget-preview-img" ng-src="{{moduleMediaUrl + v.moduleName + '/' + v.icon}}" ng-if="v.icon" alt="{{v.defaults.title}}" />
                        <img class="widget-preview-img" ng-src="storage/img/placeholder-img.png" ng-if="!v.icon" alt="{{v.defaults.title}}" />
                    </a>
                    </div>
                    <!-- Widget header -->
                    <div class="widget-header"></div>
                    <div class="widget-content">
                        <!-- Widget title -->
                         <div class="widget-title">
                            <h3><a href="#apps/local/{{v.id}}" ng-bind="v.defaults.title|cutText:true:20"></a>  <span class="btn-name">&raquo;</span></h3>
                        </div>
                        <hr class="bottom-aligner" />
                        <!-- Widget footer -->
                         <div class="widget-footer">
                            <div class="widget-ctrl ctrl-left">&nbsp;</div>
                            <div class="widget-ctrl ctrl-right clearfix">
                                 <div class="btn-group">
                                     <!-- Add -->
                                 <a ng-href="#module/post/{{v.id}}" class="btn btn-default" title="{{_t('lb_add_app')}}">
                                    <i class="fa fa-plus text-success"></i> <span class="btn-name" ng-bind="_t('lb_add_app')"></span>
                                </a>
                                     <!-- Remove -->
                                <button class="btn btn-default" title="{{_t('lb_remove')}}" 
                                        ng-click="deleteModule({'id': v.id}, _t('app_delete_confirm'),'#local_module_' + v.id)" 
                                        ng-if="v.custom && !v.hasReset">
                                    <i class="fa fa-remove text-danger"></i> <span class="btn-name" ng-bind="_t('lb_remove')"></span>
                                </button>
                                  <!-- Reset -->
                                <button class="btn btn-default" title="{{_t('reset')}}" 
                                        ng-click="resetModule({'id': v.id}, _t('app_reset_confirm'),'#local_module_' + v.id)" 
                                        ng-if="v.custom && v.hasReset">
                                    <i class="fa fa-remove fa-refresh text-warning"></i> <span class="btn-name" ng-bind="_t('reset')"></span>
                                </button>
                                 <!-- Updgrade -->
                                <button href="" class="btn btn-danger" title="{{_t('update_to_latest')}}" 
                                        ng-click="updateModule(dataHolder.onlineModules.ids[v.moduleName], _t('app_update_confirm'))" 
                                        ng-if="dataHolder.onlineModules.ids[v.moduleName] && dataHolder.onlineModules.ids[v.moduleName].status == 'upgrade'">
                                    <i class="fa fa-level-up"></i> <span class="btn-name">{{_t('update_to_latest')}}</span>
                                </button> 
                            </div>
                            </div>
                         </div> 
                    </div>
            </div><!-- /.widget-entry-in --> 
        </div><!-- /.widget-entry --> 
      </div><!-- /.app-row --> 

    </div> <!-- /ng-controller --> 
</div> <!-- /ng-controller --> 
