
<div class="app-online-slider" ng-controller="AppOnlineFeaturedController">
    <!--<pre>{{slider.cfg|json}}</pre>-->
   <!-- <pre>{{dataHolder.onlineModules.featured|json}}</pre>-->
<div class="container_ app-slider">
    <div class="slide slide-animation"
         ng-click="redirectToRoute('apps/online/' + v.id)"
         ng-repeat="v in dataHolder.onlineModules.featured|appSliderSlice:slider.cfg track by $index" ng-hide_="currentIndex != $index">
        <!--<img alt="{{v.title}}" title="{{v.toolTipDescription}}" ng-src="{{v.icon ? onlineMediaUrl + v.icon : 'storage/img/placeholder-img.png'}}" />-->
        <img alt="{{v.title}}" title="{{v.toolTipDescription}}" ng-src="{{sliderImages[v.modulename]}}" />
        <div class="slider-label">
            <h3 title="{{v.title}}">{{v.modulename}} {{v.title|cutText:true:35}}</h3>
            <div class="slider-footer">
                <i class="fa widget-rating" title="{{r}}"
                   ng-class="r > v.rating ? 'fa-star-o' : 'fa-star israted'"
                   ng-repeat="r in _.range(1, 6)"></i>
                <span class="widget-rating"> | <i class="fa fa-download"></i> {{v.installed}}&times;</span>

                <!-- Download -->
                <button href="" class="btn btn-default" title="{{_t('lb_download')}}"
                        ng-click="installModule(v, 'online_install')">
                    <i class="fa fa-download text-success"></i>
                </button>
            </div>

        </div>

    </div>

    <button class="slider-btn slider-btn-prev"
            ng-hide="slider.cfg.start == 0"
            ng-click="prevSlide()">❮</button>
    <button class="slider-btn slider-btn-next"
            ng-hide_="slider.cfg.start == cfg.max"
            ng-click="nextSlide()">❯</button>
</div>
</div>