<!-- Local apps widget -->
<!-- No search result -->
<div class="alert alert-warning" ng-if="dataHolder.modules.noSearch">
    <i class="fa fa-exclamation-circle"></i>&nbsp;{{_t('no_search_results',{__term__: "\"" + dataHolder.modules.filter.q + "\""})}}
</div>

<!-- Featured apps -->
<div class="app-entry-local" ng-if="dataHolder.modules.cnt.appsCatFeatured[dataHolder.modules.filter.category] > 0" ng-hide="dataHolder.modules.filter.q">
    <h2 class="app-entry-title">{{_t('featured_apps')}}</h2>
    <div class="clearfix">
        <div class="localapp" ng-repeat="v in dataHolder.modules.collection|orderBy:cfg.orderby.appslocal[dataHolder.modules.orderBy] | filter:q  track by v.id"
            ng-if="v.featured" ng-class="{'widget-danger': dataHolder.onlineModules.ids[v.id] && dataHolder.onlineModules.ids[v.id].version != v.version}">
            <!-- Localapp entry -->
            <div ng-include="'app/views/apps/apps_local_widget_entry.html'"></div>
        </div>
        <!-- /.widget-entry -->
    </div>
</div>
<!-- Apps -->
<div class="app-entry-local">
    <h2 ng-if="!_.isEmpty(dataHolder.modules.filter)">
        {{dataHolder.modules.categories[dataHolder.modules.filter.category].name|cutText:true:30}}
    </h2>
    <h2 ng-if="_.isEmpty(dataHolder.modules.filter)">{{_t('all_apps')}}</h2>
    <div class="clearfix">
        <div class="localapp" ng-hide="(v.featured && !dataHolder.modules.filter.q) || (v.advanced && !dataHolder.modules.filter.q)"
            ng-repeat="v in dataHolder.modules.collection|orderBy:cfg.orderby.appslocal[dataHolder.modules.orderBy] | filter:q  track by v.id"
            ng-class="{'widget-danger': dataHolder.onlineModules.ids[v.id] && dataHolder.onlineModules.ids[v.id].version != v.version}">
            <!-- Localapp entry -->
            <div ng-include="'app/views/apps/apps_local_widget_entry.html'"></div>
        </div>
        <!-- /.widget-entry -->
    </div>
    <!-- /.app-row -->
</div>
<!-- /.app-entry-local -->

<!-- Advanced Apps -->
<div class="app-entry-local" ng-if="dataHolder.modules.cnt.appsCatAdvanced[dataHolder.modules.filter.category] > 0" ng-hide="dataHolder.modules.filter.q">
    <h2 class="app-entry-title clickable" ng-click="expandElement('advanced_apps')">{{_t('advanced_apps')}}
        <i class="fa accordion-arrow" ng-class="expand.advanced_apps  ? 'fa-chevron-up':'fa-chevron-down'"></i>
    </h2>
    <div class="clearfix" ng-if="expand.advanced_apps">
        <div class="localapp" ng-repeat="v in dataHolder.modules.collection|orderBy:cfg.orderby.appslocal[dataHolder.modules.orderBy] | filter:q  track by v.id"
            ng-if="v.advanced" ng-class="{'widget-danger': dataHolder.onlineModules.ids[v.id] && dataHolder.onlineModules.ids[v.id].version != v.version}">
            <!-- Localapp entry -->
            <div ng-include="'app/views/apps/apps_local_widget_entry.html'"></div>
        </div>
        <!-- /.widget-entry -->
    </div>
</div>