<!-- App online description -->
<h2 class="accordion-entry-title" ng-click="expandElement('appdescription')">
    <i class="fa fa-pencil-square-o"></i> {{_t('description')}}
    <i class="fa accordion-arrow" ng-class="expand.appdescription ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-if="expand.appdescription" ng-controller="ManagementFirmwareController">
    <div class="form form-inline form-page">
        <div class="fieldset" ng-bind-html="module.description|toTrusted"></div>
        <div class="fieldset submit-entry">
            <button type="button" class="btn btn-default" ng-click="expandElement('appdescription')"><i class="fa fa-times  text-danger"></i> <span ng-bind="_t('lb_close')"></span></button>
        </div>
    </div>
</div>
