
<div class="app-online-slider" ng-controller="AppOnlineFeaturedController">
    <!--<pre>{{slider.cfg|json}}</pre>-->
    <!--<pre>{{dataHolder.onlineModules.cnt|json}}</pre>-->
<div class="app-slider" ng-hide="dataHolder.onlineModules.cnt.featuredStatus.download == 0 && dataHolder.onlineModules.cnt.featuredStatus.upgrade == 0">
    <div class="slide slide-animation {{v.status}}"
         ng-click="redirectToRoute('apps/online/' + v.id)"
         ng-repeat="v in dataHolder.onlineModules.featured|appSliderSlice:slider.cfg track by $index">
        <!--<img alt="{{v.title}}" title="{{v.toolTipDescription}}" ng-src="{{v.icon ? onlineMediaUrl + v.icon : 'storage/img/placeholder-img.png'}}" />-->
        <img alt="{{v.title}}" title="{{v.toolTipDescription}}" ng-src="{{sliderImages[v.modulename]}}" />
        <div class="slider-label">
            <h3 title="{{v.title}}">{{v.title|cutText:true:35}}</h3>
            <div class="slider-footer">
                <i class="fas widget-rating" title="{{r}}"
                   ng-class="r > v.rating ? 'fa-star' : 'fa-star israted'"
                   ng-repeat="r in _.range(1, 6)"></i>
                <span class="widget-rating"> | <i class="fas fa-download"></i> {{v.installed}}&times;</span>

                <!-- Download -->
                <button class="btn btn-default" title="{{_t('lb_download')}}"
                        ng-click="installModule(v, 'online_install')"
                        ng-show="!dataHolder.modules.ids[v.modulename]">
                    <i class="fas fa-download text-success"></i>
                </button>
                <!-- Installed -->
                <button class="btn btn-disabled" disabled title="{{_t('installed')}}"
                        ng-show="dataHolder.modules.ids[v.modulename] && dataHolder.modules.ids[v.modulename].version == v.version">
                    <i class="fas fa-check"></i>
                </button>
                <!-- Updgrade -->
                <button href="" class="btn btn-danger" title="{{_t('update_to_latest')}}"
                        ng-click="updateModule(v, _t('app_update_confirm'))"
                        ng-show="dataHolder.modules.ids[v.modulename] && v.status == 'upgrade' ">
                    <i class="fas fa-level-up-alt"></i>
                </button>
            </div>

        </div>

    </div>

    <button class="slider-btn slider-btn-prev"
            ng-hide="slider.cfg.start == 0"
            ng-click="prevSlide()">❮</button>
    <button class="slider-btn slider-btn-next"
            ng-hide_="slider.cfg.start == cfg.max"
            ng-click="nextSlide()">❯</button>
</div>
</div>