<!-- Appp view -->
<div ng-controller="AppController">
    <bb-loader></bb-loader>
    <div class="tabs-container">
        <ul class="nav nav-tabs nav-tabs-3" role="tablist">
            <li ng-class="activeTab == 'local' ? 'active' : ''">
                <a href="" title="{{_t('lb_local_modules')}}" data-target="#module_local" data-toggle="tab" ng-click="setTab('local')">
                    <i class="fa fa-cloud-download fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_local_modules')}}</span>
                </a>
            </li>
            <li ng-class="activeTab == 'online' ? 'active' : ''">
                <a href="" title="{{_t('lb_online_modules')}}" data-target="#module_online" data-toggle="tab" ng-click="setTab('online')">
                    <i class="fa fa-globe fa-lg tab-icon"></i> <span class="tab-name">{{_t('lb_online_modules')}}</span>
                </a>
            </li>
            <li ng-class="activeTab == 'instance' ? 'active' : ''">
                <a href="" title="{{_t('lb_active')}}" data-target="#module_instance" data-toggle="tab" ng-click="setTab('instance')">
                    <i class="fa fa-cog fa-fire tab-icon"></i> <span class="tab-name">{{_t('lb_active')}}</span>
                </a>
            </li>
             <!-- <li ng-class="activeTab == 'hidden' ? 'active' : ''">
                <a href="" title="{{_t('lb_hidden_app')}}" data-target="#module_hidden" data-toggle="tab" ng-click="setTab('hidden')">
                    <i class="fa fa-eye tab-icon"></i> <span class="tab-name">{{_t('lb_hidden_app')}}</span>
                </a>
            </li>-->
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Local -->
        <div class="tab-pane" id="module_local" ng-class="activeTab == 'local' ? 'active' : ''" ng-include="'app/views/apps/app_local.html'"></div>
        <!-- Online -->
        <div class="tab-pane" id="module_local" ng-class="activeTab == 'online' ? 'active' : ''" ng-include="'app/views/apps/app_online.html'"></div>
        <!-- Active -->
        <div class="tab-pane" id="module_instance" ng-class="activeTab == 'instance' ? 'active' : ''" ng-include="'app/views/apps/app_instance.html'"></div>
         <!-- Hidden -->
         <!--<div class="tab-pane" id="module_hidden" ng-class="activeTab == 'hidden' ? 'active' : ''" ng-include="'app/views/apps/app_hidden.html'"></div>-->
    </div>

    <div id="footer" ng-show="showFooter__">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
               <div class="form-inline" role="form">
                    <!--<div class="btn-group dropup" ng-if="showInFooter.categories">
                        <button type="button" class="btn btn-default" ng-bind="_t('lb_filter_by')"></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-class="!currentCategory.id ? 'active': ''">
                                <a href="#apps">{{_t('lb_all')}}</a> 
                            </li>
                            <li ng-repeat="v in categories" ng-if="modulesCats.indexOf(v.id) > -1" ng-class="currentCategory.id == v.id ? 'active': ''">
                                <a href="#apps/category/{{v.id}}">{{v.name}}</a> 
                            </li>
                        </ul>
                    </div>-->
                    <div class="input-group search-form hide-on-mobile">
                       <input type="text" ng-model="q" class="form-control" value="{{q}}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 