<!-- Instance view -->
<div ng-controller="AppBaseController">
     <bb-loader></bb-loader>
    <div ng-controller="AppInstanceController" id="apps_instances">
         <!-- Instance navigation -->
        <div ng-include="'app/views/apps/navi.html'"></div>
        <!-- Instance control  -->
        <div ng-include="'app/views/apps/apps_instance_ctrl.html'"></div>
        <!-- Instance widget  -->
        <div ng-include="'app/views/apps/apps_instance_widget.html'"></div>


    </div> <!-- /ng-controller -->
</div> <!-- /ng-controller --> 