<ul>
     <li>
         <a ng-href="#module/put/{{v.id}}" title="{{_t('lb_settings')}}">
             <i class="fa fa-cog"></i><span ng-bind="_t('lb_settings')"></span>
         </a>
     </li>
     <li ng-if="v.active">
         <a href="" title="{{_t('lb_deactivate')}}"
            ng-class="v.active ? 'active' : ''"
            ng-click="activateInstance(v, false)">
             <i class="fa fa-fire text-success"></i><span ng-bind="_t('lb_deactivate')"></span>
         </a>    
     </li> 
     <li ng-if="!v.active">
         <a href="" title="{{_t('lb_activate')}}"
             ng-click="activateInstance(v, true)">
             <i class="fa fa-power-off text-danger"></i> 
             <span ng-bind="_t('lb_activate')"></span>
         </a>
     </li> 
     <li ng-hide="dataHolder.modules.ids[v.moduleId].singleton">
         <a ng-href="#module/clone/{{v.moduleId}}/false/{{v.id}}" title="{{_t('lb_clone')}}">
             <i class="fa fa-clone"></i> <span ng-bind="_t('lb_clone')"></span>
         </a>
     </li>
     <li>
         <a title="{{_t('lb_remove')}}"
         ng-click="deleteInstance({'id': v.id}, _t('lb_delete_confirm'))">
             <i class="fa fa-remove text-danger"></i> <span ng-bind="_t('lb_remove')"></span>   
         </a>
     </li> 
 </ul> 