<div class="tabs-wrap form-inline">
    <div class="btn-group btn-goup-tabs btn-tabs-3">
        <a class="btn btn-default" title="{{_t('lb_local_modules')}}" href="#apps/local" 
           ng-class="routeMatch('/apps/local') ? 'active' : ''">
            <i class="fa fa-cloud-download"></i> <span class="btn-name">{{_t('lb_local_modules')}}</span>
        </a>
        <a class="btn btn-default" title="{{_t('lb_online_modules')}}" href="#apps/online" 
           ng-class="routeMatch('/apps/online') ||  routeMatch('/apps/online/filter') ? 'active' : ''">
            <i class="fa fa-globe"></i> <span class="btn-name">{{_t('lb_online_modules')}}</span>
        </a>
        <a class="btn btn-default" title="{{_t('lb_active')}}" href="#apps/instance"  
           ng-class="routeMatch('/apps/instance') ? 'active' : ''">
            <i class="fa fa-fire"></i> <span class="btn-name">{{_t('lb_active')}}</span>
        </a>
    </div>
</div>
