<div class="form-control" ng-repeat="field in ['armCondition', 'disarmCondition', 'clearCondition']">
    <label class="form-control">{{_t(field)}}
        <select class="form-control" ng-model="d[field]">
            <!-- <option value="" ng-selected="true">{{_t('arm_condition')}}</option> -->
            <option ng-repeat="a in security.cfg.controls.status | filter: binarySwitchFilter(d, field)"
                    value="{{a}}" ng-selected="a === d[field]">
                {{_t(a)}}
            </option>
        </select>
    </label>
</div>

