/* Skin komsa main css
-------------------------------------------------- */

body {
    background: url("img/komsa.png") fixed no-repeat 95% 95%;
    background-color: #cccccc;
}
#main_navigation .active {
   // background-color: #cccccc;
    color: #7f8d99;
}
.update-time-tick{
    .text-success{
        color:#FFFFFF;
    }
}
