<div class="form-group_">
  <button type="button" class="btn btn-default btn-tag" title="{{_t('add_notification')}}" ng-click="assignNotification(hazardProtection.cfg.notification.default, 'leakage')">
  {{_t('add_notification')}}
  <i class="fa fa-plus text-success"></i>
  </button>
</div>
<div class="form-inline">
  <label for="interval">{{_t('if_alarm_triggered')}}</label>
  <select class="form-control" ng-model="hazardProtection.leakage.input.params.notificationsInterval">
    <option value="0">--- {{_t('never')}} ---</option>
    <option value="{{i}}" ng-repeat="i in hazardProtection.interval track by $index" ng-selected="i == hazardProtection.leakage.input.params.notificationsInterval">
    {{_t('interval_' + i)}}</option>
  </select>
</div>