<a href="" class="btn btn-default btn-tag" title="{{d.deviceName}}" ng-repeat="d in hazardProtection.availableSensors" ng-if="hazardProtection.leakage.input.params.sensors.indexOf(d.deviceId) > -1 && hazardProtection.leakage.sensors.indexOf(d.probeType) !== -1"
	ng-click="unassignSensor(d.deviceId, 'leakage')">
	<i class="fas fa-tint text-primary s-hide" ng-if="hazardProtection.leakage.sensors.indexOf(d.probeType) !== -1"></i>
	&nbsp
	{{d.deviceName|cutText:true:20}}
	<i class="fas fa-times text-danger" title="{{_t('btn_remove')}}"></i>
</a>