<!-- Asigned sensors -->
<div ng-if="_.size(hazardProtection.fire.input.params.sensors) > 0">
	<legend>{{_t('assigned_leakage_sensors')}}</legend>
<fieldset data-collapse-all="true" ng-include="'app/views/automation/hazard/leakage/leakage_sensors_assigned.html'"></fieldset>
</div>
<!-- Available -->
<legend>{{_t('lb_available_sensors')}}</legend>
<fieldset ng-include="'app/views/automation/hazard/leakage/leakage_sensors_available.html'"></fieldset>
<section ng-if="_.size(hazardProtection.fire.input.params.sensors)">
<!-- Notifications -->
<legend>{{_t('notifications')}}</legend>
<fieldset ng-include="'app/views/automation/hazard/leakage/leakage_notifiers_add.html'"></fieldset>
</section>
<section ng-if="_.size(hazardProtection.fire.input.params.triggerEvent) || _.size(hazardProtection.fire.input.params.sendNotifications)">
<!-- Asigned devices -->
<legend ng-if="_.size(hazardProtection.fire.input.params.triggerEvent)">{{_t('assigned_devices')}}</legend>
<fieldset data-collapse-all="true" ng-include="'app/views/automation/hazard/leakage/leakage_devices_assigned.html'"></fieldset>
<!-- Asigned notifiers -->
<fieldset data-collapse-all="true" ng-include="'app/views/automation/hazard/leakage/leakage_notifiers_assigned.html'"></fieldset>
</section>
<section ng-if="_.size(hazardProtection.fire.input.params.sensors)">
<!-- Available devices -->
<legend>{{_t('lb_available_devices')}}</legend>
<fieldset data-collapse-all="true" ng-include="'app/views/automation/hazard/leakage/leakage_devices_available.html'"></fieldset>
</section>