<pre>{{leakage.availableDevices|json}}</pre> 
<section class="accordion-wrap" ng-repeat="d in leakage.input.params.action track by $index" ng-init="model=d[d.filter]">
    <h2 class="accordion-toggle chevron">
       <!-- Deleted device -->
       <span class="no-toggle text-danger" ng-show="!leakage.availableDevices[model.device]">
         <i class="fa fa-exclamation-circle"></i> {{d.device}} {{_t('device_removed')}}
       </span>
       <!-- Title -->
       <button type="button" aria-expanded="false" bb-accordion ng-if="leakage.availableDevices[model.device] && (d.filter != 'scene')" ng-hide_="!leakage.availableDevices[d.device]">
         <span>
           {{leakage.availableDevices[model.device].deviceName}}
          </span>
       </button>
       <!-- NO Toggle -->
       <span class="no-toggle" ng-if="d.filter == 'scene'" ng-hide="!leakage.availableDevices[model.device]">
           <span>
               {{leakage.availableDevices[model.device].deviceName}}
             </span>
         </span>
       <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignTargetDevice($index,model.device)">
         <i class="fa fa-times text-danger"></i>
         </span>
     </h2>
      <!-- Content -->
     <div class="accordion" ng-include="'app/views/leakages/inputs/'+ leakage.availableDevices[model.device].deviceType +'.html'" ng-if=" d.filter != 'scene'"
       hidden></div>
   </section>