<!-- Title -->
<h2 class="accordion-toggle chevron">
<button type="button" aria-expanded="false" bb-accordion>
<span class="is-legend">
  {{_t('alarm')}} <span class="item-cnt"> ({{_.size(security.input.params.alarms.table)}})</span>
</span>
</button>
</h2>
<!-- Content -->
<div class="accordion no-bcg" hidden>
  <!-- Assigned -->
  <div class="panel-wrap">
    <div data-collapse-all="true">
      <section class="accordion-wrap" ng-repeat="v in security.input.params.alarms.table track by $index" ng-init="model=v; d=getDevice(v.devices)">
        <h2 class="accordion-toggle ellipsis">
        <!-- Title -->
        <button type="button" aria-expanded="false" bb-accordion ng-if="d.deviceType != 'toggleButton'">
        <span>
          <img class="navi-img" ng-src="{{d.iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
          {{d.deviceName}} - <em class="item-cnt">{{d.locationName}}</em>
        </span>
        </button>
        <!-- NO Toggle -->
        <span class="no-toggle" ng-if="d.deviceType == 'toggleButton'">
          <span>
            <img class="navi-img" ng-src="{{d.iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
            {{d.deviceName}}
          </span>
        </span>
        <span class="btn btn-text" title="{{_t('lb_remove')}}" ng-click="unassignDevice(d.deviceId,'alarms')">
          <i class="fa fa-times text-danger"></i>
        </span>
        </h2>
        <!-- Content -->
        <div class="accordion" ng-include="'app/views/automation/security/inputs/'+ d.deviceType +'.html'" ng-if="d.deviceType != 'toggleButton'"
        hidden></div>
      </section>
    </div>
    <!-- Notification -->
    <div class="list-panel">
      <!-- img -->
      <figure class="img wh-32x32 clickable" ng-click="expandElement('alarms')">
        <img ng-src="{{cfg.img.icons}}security-alarmed.png" err-src="{{cfg.img.placeholder}}" alt="img" />
      </figure>
      <div class="body clickable" ng-click="expandElement('alarms')">
        <div>{{_t('notification')}}</div>
      </div>
      <div class="control">
        <!-- expand/collapse -->
        <button type="button" class="btn btn-ctrl" title="{{_t('lb_settings')}}" aria-expanded="{{!expand['alarms']||false}}" ng-click="expandElement('alarms')">
        </button>
      </div>
      <div class="control-collapsable" ng-include="'app/views/automation/security/actions/notification.html'"
        ng-init="model = security.input.params.alarms.notification"
      ng-class="!expand['alarms'] ? 'expand-true': 'expand-false'"></div>
    </div>
  </div>
  <!-- Available devices -->
  <h3>{{_t('devices_triggered_alarm')}}</h3>
  <section class="accordion-wrap" ng-repeat="r in security.rooms track by $index" ng-class="security.devicesInRoom.alarms[r.id] ? 'available-devices' : 'ng-hide'">
    <!-- Title -->
    <h2 class="accordion-toggle chevron">
      <button type="button" aria-expanded="false" bb-accordion>
        <span>
          <img class="navi-img" ng-src="{{r.img_src}}" alt="img" /> {{r.title}}
        </span>
      </button>
    </h2>
    <!-- Content -->
    <div class="accordion" hidden>
      <a href="" class="btn btn-default btn-tag" title="{{d.deviceName + ' | ' + _t(d.deviceType)}}" ng-repeat="d in security.devices.alarms" ng-if="d.location == r.id &&  !security.input.params.alarms.table[getModelIndex(d.deviceId,'alarms.table')]" ng-click="assignDevice(d.deviceId,'alarms')">
        <img class="navi-img" ng-src="{{security.availableDevices[d.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}" alt="img" />
        {{d.deviceName|cutText:true:20}}
        <i class="fa fa-plus text-success" title="{{_t('add_new')}}"></i>
      </a>
    </div>
  </section>
</div>