<!--target  -->
<div class="form-group form-inline">
  <select class="form-control" ng-model="security.input.params.silentAlarms.notification.target">
    <option value="" ng-selected="'' == security.input.params.silentAlarms.notification.target">---</option>
    <option value="{{nc.id}}" ng-repeat="nc in notifications.channels" ng-selected="nc.id == security.input.params.silentAlarms.notification.target">
      {{nc.name}} ({{nc.userName}})
    </option>
  </select>
</div>
<!-- mesage -->
<div class="form-group" ng-if="security.input.params.silentAlarms.notification.target && security.input.params.silentAlarms.notification.target !== ''">
  <textarea name="message" id="content" class="form-control report-content" ng-model="security.input.params.silentAlarms.notification.message" placeholder="{{_t('message')}}"></textarea>
</div>
