/* Admin
-------------------------------------------------- */
.user-image{
     max-width: 40px;
       border-radius: 50%;
}

.profile-color{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    
}
.profile-lang{
    display: inline-block;
    //margin: 0 10px 0 0;
    
}
