/* Apps
-------------------------------------------------- */
.app-entry{
}
.app-entry-in{
    border: solid 1px #ddd;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    height: 270px;
}
.app-entry h3 .label{
    font-size: 60%;
}
.apps-action-icons a{
    margin-right: 7px;
}
.app-image{
        max-width: 100%;
        margin: 10px 0;
    }

.app-image-list{
    max-width: 100px;
}