/* Apps
-------------------------------------------------- */
.app-entry{
}
.app-entry-in{
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    height: 220px;
    .app-rating{
        margin-right: 20px;
        color: #5CB85C;
    }
    .entry-title{
        font-size: 16px;
        font-weight: bold;
        .label{
            font-size: 70%;
        }
    }
    .app-body{
        p{
           padding: 0 0 3px 0;
           border-bottom: dotted 1px lighten($app-border-color, 10%); 
        }
    }
}

.apps-action-icons a{
    margin-right: 7px;
}
.app-image{
    width: 100%;
    max-width: 130px;
    margin: 10px 0;
}

.app-image-list{
    max-width: 70px;
}

/* Apps module
-------------------------------------------------- */
#alpaca_data{
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: darken($app-body-bcg-color, 3%);
    border-radius: 4px;
}