/* Configuration
-------------------------------------------------- */
.table-cfg-interview th{
    width: 25%;
}
.cfg-block {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    //border-bottom: solid 1px $app-border-color;
}

.cfg-block h4{
    font-size: 16px;
    //color: #2A6496;
}

.cfg-control-content{
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
}
.cfg-info{ 
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: solid 1px $app-border-color;
}
.commads-is-current{
   text-decoration: underline;
}
#wakeup_cont .form-inline{
/*    max-width: 300px;*/
    float: left;
}
.spin-true .fa-spin{
    display: none;
}