/* Welcome
-------------------------------------------------- */
.welcome-promo{

    .welcome-img{
        max-width: 200px;
        border: 0 !important;
    }
    h2{
        margin-top: 40px;
    }
}
.welcome-alert{
    padding: 20px;
    h2,.btn-block{
        margin: 20px 0; 
    }
    .welcome-help{
        font-size: 115%;
    }
}
/* Elements
-------------------------------------------------- */
.is-new-true{
   border-color: lighten(#3c763d, 50%);
}
.widget-block{  
    margin-bottom: 20px;
}
.widget-block-in{
    height: $app-el-block-h;
    position:relative;
    text-align: left;
}

.multiline-entry{
    position:relative;
}
.widget-image{
    position: absolute;
    top: 10px;
    left: 5px;
    /*    margin: 10px 20px 10px 10px;*/
    width: 64px;
    height: 64px;
    border: solid 4px #fff;
    border-radius: 50%;
}
.widget-img-update{
    border-color: $app-border-color;
}
.trans-true{
    opacity: 0.3;
}
.widget-header{
    position: relative;
    text-align: right;
    padding: 3px;
    //border-bottom: solid 2px #fff;
    a{
        display: inline-block;
        padding: 0 5px 0 0;
        color: lighten($header-link-color, 10%);
    }
    a:hover{
        color: darken($header-link-color, 10%);
    }
}


.widget-body{
    margin-top: -5px;
    padding: 0 5px 15px 74px;
    width: 100%;
    .widget-content-wrap{
        //min-height: 50px;
        padding: 0 5px 15px 0;
    }
    .widget-room{
        display: block;
        font-size:$app-body-font-size * 0.85;
        color: lighten($app-body-color, 40%);
        //margin-bottom: 8px;
    }
    .entry-title{
        padding: 5px 30px 0 0;
        margin-bottom: 7px;
    }

    .widget-control-wrap{
        margin-top: -5px;
        width: 100%;
    }
    .widget-control{ 
        //padding-left: 74px;
        width: 50%;
        float: left;
        .btn{
            // padding: 3px 9px;
        }
        .fa-caret-down{
            font-size: $app-body-font-size * 1.4;
            color: #6494BC;
        }
        select {
            overflow:hidden;
            padding: 3px;
            max-width: 150px;
        }
        option {
            overflow:hidden;
        }

    }
    .widget-control.control-right{
        float: right;
        text-align: right;
        .btn-group{
            float: right;
        }
        padding-right: 7px;
        margin-top: -5px;
    }
    .widget-control.control-left{
        float: left;
        .btn-group{
            margin-top: -5px;
            float: left; 
        }
    }
    .widget-control.control-left.text{
        color: lighten($app-body-color, 40%);
        font-size: $app-body-font-size * 0.85;
        padding-left: 10px;
    }
    .widget-level{
        font-weight: bold;
        font-size: $app-body-font-size * 1.6;
    }
    .widget-scale{
        font-size: $app-body-font-size * 1.1;
    }
    .btn-widget-time,.txt-widget-time{
        padding: 7px 0 0 0;
        border: 0 none;
        color: lighten($app-body-color, 40%);
        font-size: $app-body-font-size * 0.85;
        background-color: transparent;
    }
    .txt-widget-time{
        border: 0 !important;
        cursor: text;
    }
    .txt-widget-time:focus {
        outline: 0;
    }
    .txt-widget-time:active {
        box-shadow: 0;
    }

    .btn-widget-time:hover{
        //background-color: transparent;
    }
    .widget-click-popup{
        cursor: pointer;
    }

    .widget-btn-off, .widget-btn-on,.widget-btn-full{
        padding: 5px 17px;
        //@include appGradient();
        .fa{
            color: lighten($app-body-color, 80%);
        }
        .widget-btn-symbol{
            color: lighten($app-body-color, 80%);
            font-weight: bold;
            //font-size: $app-body-font-size * 1.2;
        }
        .widget-btn-label{
            display: none;
        }

    }
    .widget-btn-full{
         padding: 5px 10px;
    }
    .widget-btn-label-on{
        color: lighten($app-body-color, 30%);
        text-transform: lowercase;
    }
    .widget-btn-off.btn-primary{
        background-color: #fff !important;
        border-color: #ccc;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));

        .fa{
            color: #d9534f !important;
        }
        .widget-btn-symbol{
            color: #d9534f !important;
        }
    }
    .widget-btn-on.btn-primary,.widget-btn-full.btn-primary{
        background-color: #fff !important;
        border-color: #ccc;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
        .fa{
            color: #6494BC !important;
        }
        .widget-btn-symbol{
            color: #80AD80 !important;
        }
    }
    .element-hidden.hidden-sensor-multiline{
        height: $app-el-hidden-h + 20;
    }

    table{
        width: 100%;
        td{
            width: 50%;
            vertical-align: middle;
            text-align: center;
        }
    }
}
.multiline-entry{
    position:relative;
}
.widget-body, .multiline-entry{
    //position:relative;
    .element-hidden{
        z-index: 10000;
        overflow: hidden;
        width: $app-el-hidden-w;
        height: $app-el-hidden-h;
        left: 50%;
        margin-left:-150px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 3px;
        padding: 10px;
        background-color: #fff;
        border: solid 1px #DDDDDD;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .hidden-close{
        position: absolute;
        top: 10px;
        left: 93%;
    }
}

/* Specifics element style
----------------------------------------------------*/
.sensorMultiline{
    .control-left{
        width: 60% !important; 
    }
    .control-right{
        width: 40%; 
    }
}
.switchMultilevel.dimmer{
    .control-left{
        width: 60% !important; 
    }
    .control-right{
        width: 40%; 
    }
}

.element-camera-control{
    text-align: center;
}
.camera-img{
    text-align:center;
    img{
        width: 100%;
        display: inline-block;
    }
}

.color-picker-show{
    display:inline-block;
    width: 24px;
    height:24px;
}
.drop-down-tags{
    div{
        padding: 5px;  
    }

    //min-width: 260px;
}

.drop-down-tags a{
    display: inline-block;
    margin: 0 5px;
}

.bcg-success.false{
    color: #a8a8a8;
    .report-img{
        opacity: 0.4;
    }
}


/* Element detail
----------------------------------------------------*/
.btn-tag{
    float: none !important;
    border-radius: 4px !important;
}

/* Home widget
-------------------------------------------------- */
/*.home-widget{
    .widget-entry{
        padding: 0;

        .widget-block{
            margin: 0 !important;
                          border: solid 1px #e2e2e2;
        }
    }
}
.hidden-switch-multilevel{}

.hidden-sensor-multilevel{}

.hidden-sensor-multilevel-linear{}

.hidden-camera{}*/

/* OpenWeather widget
----------------------------------------------------*/
.widget-body .hidden-sensor-multiline table td {
    text-align: left;
    padding: 5px 0;
}

.widget-body .hidden-sensor-multiline table td:first-child {
    padding-left: 20px;
    vertical-align: top;
}

.widget-body .hidden-sensor-multiline h4 {
    display: inline;
}

.widget-body .hidden-sensor-multiline .text-center {
    margin: 10px 0;
}

/* Text widget
-----------------------------------------------------*/
.widget-body.text-widget h3{
    font-weight: bold;
}

.widget-body.text-widget-no-img {
    padding-left: 15px;
}

.widget-control.text{
    width: 95%;
}

.text-widget-modal.modal-dialog {
    text-align: center;
}

img.widget-promo-image {
    max-height: 200px;
    margin-bottom: 10px;
}

.widget-promo-text {
    text-align: left;
}

.widget-control.text a {
    font-weight: normal;
}

.widget-control.text a:hover {
    text-decoration: none;
}

.widget-control.text a:after {
    content: "\f1ea";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    /*--adjust as necessary--*/
    padding-left: 4px;
    position: absolute;
}

/* MultilevelSensor widget
-----------------------------------------------------*/
.widget-body .element-hidden.hidden-sensor-multiline.multiline-sensor {
    padding: 10px 0;
    height: auto;
}

.hidden-sensor-multiline .widget-image {
    position: relative;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
}

.widget-body .hidden-sensor-multiline.multiline-sensor table td:first-child {
    padding-left: 5px;
}

.widget-body .hidden-sensor-multiline.multiline-sensor table td {
    width: inherit;
    padding: 5px 5px 5px 10px;
}

.widget-body .hidden-sensor-multiline.multiline-sensor table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* ToggleButton widget
--------------------------------------------------------*/

.toggleButton .widget-body div.widget-control.control-right.ng-scope > div > button.btn.btn-default.btn-sm {
    cursor: default;
}