/* Elements
-------------------------------------------------- */
.widget-block{  
    margin-bottom: 20px;
}
.widget-block-in{
    height: $app-el-block-h;
    position:relative;
    text-align: left;
}
.widget-image{
    position: absolute;
    top: 10px;
    left: 10px;
/*    margin: 10px 20px 10px 10px;*/
    width: 64px;
    height: 64px;
    border: solid 4px #fff;
    border-radius: 50%;
}
.widget-header{
    text-align: right;
    padding: 5px 10px 0 0;
}


.widget-body{
    margin-top: -5px;
    padding: 0 5px 15px 84px;
    width: 100%;
     .entry-title{
            padding-right: 30px;
        }
    .widget-control-wrap{
        width: 100%;
    }
    .widget-control{
        width: 50%;
        float: left;
    }
     .widget-control.control-left{
         font-weight: bold;
    }
    .widget-control.control-right{
        float: right;
        .btn-group{
            float: right;
        }
    }
    .widget-click-popup{
        cursor: pointer;
    }
    //position:relative;
    .element-hidden{
        z-index: 10000;
        overflow: hidden;
        width: $app-el-hidden-w;
        height: $app-el-hidden-h;
        left: 50%;
        margin-left:-150px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 3px;
        padding: 10px;
        background-color: #fff;
        border: solid 1px #DDDDDD;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .element-hidden.hidden-camera{
        width: 100%;
        height: 300%; 
        left: 50%;
        margin-left:-50%;
        top: 50%;
    }

    table{
        width: 100%;
        td{
            width: 50%;
            vertical-align: middle;
            text-align: center;
        }
    }
}

.element-camera-control{
    text-align: center;
}
.camera-img{
    text-align:center;
    img{
        width: 100%;
        display: inline-block;
    }
}



/* Home widget
-------------------------------------------------- */
.home-widget{
    .widget-entry{
        padding: 0;

        .widget-block{
            margin: 0 !important;
            /*              border: solid 1px #e2e2e2;*/
        }
    }
}
.hidden-switch-multilevel{}

.hidden-sensor-multilevel{}

.hidden-sensor-multilevel-linear{}

.hidden-camera{}

/* OpenWeather widget
----------------------------------------------------*/
.widget-body .hidden-sensor-multiline table td {
    text-align: left;
    padding: 5px 0;
}

.widget-body .hidden-sensor-multiline table td:first-child {
    padding-left: 20px;
    vertical-align: top;
}

.widget-body .hidden-sensor-multiline h4 {
    display: inline;
}

.widget-body .hidden-sensor-multiline .text-center {
    margin: 10px 0;
}
