/* Elements
-------------------------------------------------- */
.widget-block{ 
    margin-bottom: 20px;
}
.widget-block-in{
   height: $app-el-block-h;
    position:relative;
    text-align: left;
}
.widget-config{
    position: absolute;
    left: 90%;
    top: 5%;
    z-index: 10;
} 
.widget-header{
    position: relative;
    float: left;
    width: 20%;

    .widget-image{
        margin: 10px 20px 10px 10px;
        width: 64px;
        height: 64px;
        border: solid 4px #fff;
        border-radius: 50%;
    }

}


.widget-body{
    float: left;
    margin: 20px 15px 15px 20px;
    width: 70%;
    .btn-group{
        float: right !important;
    }
    //position:relative;
    .element-hidden{
        z-index: 10000;
        overflow: hidden;
        width: $app-el-hidden-w;
        height: $app-el-hidden-h;
        left: 50%;
        margin-left:-150px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 3px;
        padding: 10px;
        background-color: #fff;
        border: solid 1px #DDDDDD;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    table{
        width: 100%;
        td{
            width: 50%;
            vertical-align: middle;
            text-align: center;
        }
    }
}

/* Home widget
-------------------------------------------------- */
.home-widget{
    .widget-entry{
        padding: 0;

        .widget-block{
            margin: 0 !important;
            /*              border: solid 1px #e2e2e2;*/
        }
    }
}
.hidden-switch-multilevel{}

.hidden-sensor-multilevel{}

.hidden-sensor-multilevel-linear{}

.hidden-camera{}
