/* Events
-------------------------------------------------- */
.events-header{
    margin-bottom: 10px;
    text-align: right;
}
.table-events{ 
    .td-event-icon{
       //width: 50px !important;
      width: 30px;
        //text-align: center;
        .fa{
            opacity: 0.5;
        }
    }
    .td-event-warning{
        background: #FCF8E3;
    }
    .td-event-notification{
        background: #DFF0D8;
    }
    .td-event-error{
       background: #F2DEDE;
    }
    .td-event-critical{
        background: #F2DEDE;
    }
    .td-event-device-info_{
        background: #D9EDF7;
    }
    .td-action{
       width: 110px;
       
       .dropdown-menu{
           a{
               cursor: pointer;
           }
       }
    }
}
