/* Events
-------------------------------------------------- */
.table-events{ 
    .td-event-date{
       //width: 50px !important;
      width: 100px;
        //text-align: center;
        .fa{
            opacity: 0.5;
        }
    }
     .td-event-core{
        background: #D9EDF7;
    }
    .td-event-module{
        background: #D4D3C5;
    }
     .td-event-battery{
        background: #F5C6F7;
    }
    .td-event-controller{
        background: #FFE699;
    }
    .td-event-z-wave{
        background: #a4d4ea;
    }
    .td-event-connection{
        background: #DFF0D8;
    }
    .td-event-device-OnOff-change{
        background: #FCF8E3;
    }
    .td-event-device-status-change{
        background: #F2DEDE;
    }
    
    .td-action{
       width: 110px;
       text-align: right;
       .dropdown-menu{
           a{
               cursor: pointer;
           }
       }
    }
}
