/* Admin
-------------------------------------------------- */
.admin-entry{
    margin-bottom: 20px;
    border-bottom: solid 1px $app-border-color;
}
.admin-entry-title{
    font-size: 18px;
    cursor: pointer;
}
.user-image{
     max-width: 40px;
       border-radius: 50%;
}

.profile-color{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    
}
.profile-lang{
    display: inline-block;
    //margin: 0 10px 0 0;
    
}

/* Myacces
-------------------------------------------------- */
.device-assigned-block {
    background-color: #FCF8E3;
  padding: 10px;
  border: 1px solid #faebcc;
  margin: 10px 0;
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.btn-device-admin {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 5px 5px 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
