/* Network
-------------------------------------------------- */

.network-zwave-device{
    img{
        max-width: 20px;
        max-height: 20px;
    } 
    .network-node-name{
        font-style: italic;
        color: $header-link-color;
        font-size: 12px;
    }
}

.network-zwave-title{
    cursor: pointer;
}

.network-block{
    margin-bottom: 20px;
}
