/* Network
-------------------------------------------------- */

    .network-zwave-device{
        display: block;
        margin-bottom: 5px;
        img{
            width: 20px;
        }
    }
    
    .network-zwave-title{
        cursor: pointer;
    }

.network-block{
    margin-bottom: 20px;
}
