/* Profile
-------------------------------------------------- */
.profile-entry{
    padding: 0;
}
.profile-in{
    text-align: center;
    padding: 10px;
    border: solid 1px #e2e2e2;
    //@include appGradient();
    .entry-title{
        color: #fff;
        a{
            color: #fff; 
        }
    }
    .entry-title-text{
        padding-right: 20px
    }
}
.profile-image{
    border: solid 6px #fff;
    width: 100%;
    max-width: 96px;
}
.profile-image:hover{
    border-color: #e2e2e2;
}

.profile-color{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px 10px 0;
     border: solid 2px transparent;
    
}
.profile-color:hover{
    text-decoration: none;
    
}
.profile-color.active{
   border: solid 2px #000;
    
}