/* Network
-------------------------------------------------- */

.network-zwave-device{
    .network-node-name{
        font-style: italic;
        color: $header-link-color;
        font-size: 12px;
    }
}
.network-zwave-title{
    font-weight: bold;
}
.zwave-hidden-true{
    color: #a8a8a8;
    input{
        color: #a8a8a8;
    }
}
.network-zwave-element{
    padding-left: 10px;
    margin-bottom: 5px;
}

.network-zwave-title{
    cursor: pointer;
}

.network-block{
    margin-bottom: 20px;
}
