/* Active apps
-------------------------------------------------- */

/* Apps instances
-------------------------------------------------- */

#apps_instances {
  .accordion-instances {
    background-color: #FFFFFF;
    .accordion-toggle {
      font-size: 100%;
      button {
        padding: $spacing-half;
        >span {
          @include displayFlex();
          @include alignItems(center);
          font-weight: bold;
          img {
            max-width: 32px;
            max-height: 32px;
            display: inline;
            margin-right: 14px;
          }
        }
      }
    }
    .accordion {
     
      border-bottom: 0;
      padding-bottom: 0;
      @include mediaQueries(min-small) {
        padding-left: 40px;
      }
    }
  }
  .accordion-entry {
    background-color: #FFFFFF; //border: solid 2px $report-border-color;
    margin: 0;
    .accordion-entry-title {
      font-size: 100%;
      margin: 0;
      padding: $spacing $spacing-half;
      font-weight: bold;
      .report-img-s {
        //margin: 0 0 0 $spacing-half;
      }
      .accordion-title-text {
        padding: 0 0 0 $spacing;
      }
      @include mediaQueries(max-small) {
        .accordion-arrow {
          right: 15px;
        }
      }
    }
  }
  .dropdown-options {
    .group-dropdown {
      width: 100%;
      .btn {
        float: right;
      }
      .app-dropdown {
        width: 100%;
      }
    }
    @include mediaQueries(min-small) {
      display: none;
    }
  }
  .btn-group {
    &.options {
      display: none;
      @include mediaQueries(min-small) {
        display: inline-block;
      }
    }
  }
}

.instance-entry-single {
  .app-row-report {
    border-bottom: 0;
    border-top: 0;
  }
}

.instance-entry-multiple {
  .app-row-report {
    //border: solid 2px $report-border-color;
    //border-bottom: 0;
    border-top: 0;
    .report-body {
      padding: 0 0 0 32px;
    }
  }
  .report-entry {
    border-bottom: 0;
  }
}