/* Apps search
-------------------------------------------------- */

// Media queries
@include mediaQueries(max-small) {
    .app-search {
        .page-control {
            text-align: left;
        }
        .btn-group {
            vertical-align: baseline;
            .btn {
                background: transparent;
                border: 0;
                @include appBoxShadow(none);
            }
        }
        .app-dropdown{
            float: left;
            left: 0;
            right: auto;
        }
        // Apps fixed search for small devices
        &.fix-me-top {
           .page-navi-in{
                top: -$spacing;
            }
        }
    }
}


/* App detail
-------------------------------------------------- */

.app-detail-img {
    margin: 0 0 $spacing 0; // Media queries
    text-align: center;
    @include mediaQueries(min-small) {
        text-align: left;
        @include appFloat(left);
        width: 128px + $spacing-double;
    }
}

.app-image-detail {
    max-width: 64px;
    max-height: 64px;
    @include mediaQueries(min-small) {
        max-width: 128px;
        max-height: 128px;
    }
}

.app-detail-body {
    // Media queries
    @include mediaQueries(min-small) {
        margin: 0 0 0 128px + $spacing-double;
    }
    h2 {
        text-align: center;
        margin: $spacing-double 0 $spacing 0;
        @include mediaQueries(min-small) {
            text-align: left;
        }
    }

    .app-detail-perex {
        text-align: justify;
        ul,ol {
            list-style-position: inside;
        }
    }
}

.app-detail-list {
    border-top: solid 1px $app-border-color;
    margin: $spacing 0 0 0;
    padding: $spacing 0 0 0;
}


/* Apps rating
-------------------------------------------------- */

.module-rating {
    font-size: 150%;
    padding: 0 $spacing 0 0;
    color: $app-body-color;
    &.israted {
        color: lighten(#f0ad4e, 10%);
    }
}


/* Apps comments
-------------------------------------------------- */

.comment-entry {
    margin: 0 0 $spacing 0;
    padding: $spacing;
    background-color: lighten(#E9E9E9, 4%);
    color: $app-body-color;
    font-size: 100%;
    .comment-header {
        font-style: italic;
        font-size: 95%;
        color: lighten($app-body-color, 20%);
        margin: 0 0 $spacing-half 0;
    }
    .comment-body {}
}

.comment-entry.even {
    background-color: #E9E9E9;
}

// Author comment
.comment-type-1 {}

.ngrs-range-slider{
    touch-action: none;
}
