/* Aoutocomplete
-------------------------------------------------- */
/* Variables */
$autocomplete-rating-icon-size: 150%;
$autocomplete-israted-color: lighten(#f0ad4e,10%);

/* Style */
.autocomplete{
    width: 100%;
    // Media queries
    @include mediaQueries(min-small) {
        min-width: 500px !important;
    }

    .aoutocomplete-title{
        display: inline-block;
        padding: 0 $spacing 0 0;
    }
}
