/* Automation
-------------------------------------------------- */
/* Gallery
-------------------------------------------------- */

.automations {
  &.flexgallery {
    >* {
      padding: $spacing-half;
      @include mediaQueries(min-large) {
        flex-basis: 25%;
        
      }
      figure {
        position: relative;
        border: 0;
        background-color: #fff;
        @include appBoxShadow(1px 1px 5px 0px rgba(50, 50, 50, 0.29));
        @include mediaQueries(min-large) {
          padding: $spacing-half;
         
        }
        img {
          margin-bottom: 0;
        }
        figcaption {
          padding: $spacing-half $spacing;
          font-weight: bold;
          position: absolute; //top: 0;
          left: 0;
          bottom:0;
          background-color: rgba(255, 255, 255, 0.5);
          width: 100%;
          a {
            display: block;
          }
        }
      }
    }
  }
}

//.automation {
  .accordion-wrap {
    position: relative;
    .label {
      position: absolute;
      top: -$spacing;
      left: 0;
      &.index_0 {
        display: none;
      }
      &.nested {
        display: none;
      }
    }
    .accordion-toggle {
      display: flex;
      align-items: center;
      font-size:110%;
      button {
        .accordion-title {
          padding: 5px 0;
          .room-title {
            display: block;
            padding-bottom: 3px; 
            font-size: 80%;
          }
          .device-title {
            display: block;
          }
        }
        &.no-toggle {
          cursor: text !important;
          &::after {
            content: "";
          }
        }
        .navi-img{
          margin-right: $spacing;
        }
        em{
          font-size: 80%;
        }
        .is-legend{
          font-weight: bold;
        }
      }
      .no-toggle {
        padding: $spacing 0;
        width: 100%;
        font-weight: normal;
        border-bottom: dotted 1px $accordion-border-color;
      }
      /*  &:last-child {
        margin-bottom: $spacing;
      } */
    }
    .accordion {
      padding: $spacing;
     
      border-bottom: 0;
      .form-group {
        border: 0;
        margin-bottom: $spacing;
        padding: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      /* .accordion {
        // background-color: lighten(#F6F6F6,10%);
        border: solid 1px darken(#F6F6F6, 20%)
      } */
    }
    &.no-items {
      .accordion-toggle {
        opacity: 0.7;
        >button {
          cursor: text;
          padding: $spacing 0;
          &::after {
            content: "" !important;
          }
          &[aria-expanded="true"] {
            border-bottom: dotted 1px $accordion-border-color;
          }
        }
      }
      .accordion {
        display: none;
      }
    }
    &.nested {
      legend,
      .legend {
        padding: $spacing-double $spacing $spacing-half 0;
        font-size: 110%;
      }
      .accordion {
       // background: transparent;
        .accordion {
          margin-bottom: $spacing-double;
        }
      }
    }
    &.edit-me{
      .accordion-toggle{
        button{
          font-weight: bold;
        }
      }
    }
  }
//}
