/* Blank
-------------------------------------------------- */

$blank-font-size: 130%;
$blank-color: $app-body-color;
$blank-img-w: 64px;
.blank {
  text-align: center;
  color: $blank-color;
  font-size: $blank-font-size;
  margin: $spacing 0;
  > *{
    margin-bottom: $spacing;
  }
  figure {
    .fa {
      font-size: $blank-img-w;
    }
  }
  &.is-info {
    figure {
      .fa {
        color: lighten($app-brand-info,20%);
      }
    }
  }
  &.is-danger {
    figure {
      .fa {
        color: lighten($app-brand-danger,20%);
      }
    }
  }
}