/* Button
-------------------------------------------------- */

.btn-goup-block {
  display: table;
  width: 100%;
  margin: 0 0 $spacing 0; // Media queries
  @include mediaQueries(min-small) {
    width: auto !important;
    display: inline-block;
    margin: 0;
  }
  .btn {
    // Media queries
    @include mediaQueries(min-small) {
      width: auto !important;
    }
    &.active .fa {
      color: $app-brand-success;
    }
  }
}

.btn-goup-1 {
  .btn {
    width: 100%;
  }
}

.btn-goup-2 {
  .btn {
    width: 50%;
  }
}

.btn-goup-3 {
  .btn {
    width: 33.33333%;
  }
}

.btn-goup-4 {
  .btn {
    width: 25%;
  }
}

.btn-goup-5 {
  .btn {
    width: 20%;
  }
}

.btn-default {
  color: $app-body-color;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  &[disabled] {
    .fa {
      color: lighten($app-body-color, 60%);
    }
  }
}

.btn-delete {
  color: $app-body-color;
  background: transparent;
  border: 0;
  .fa {
    color: $app-brand-danger;
  }
}

.btn-default.active {
  background-color: #FFFFFF;
}

.btn,
.btn-device-admin {
  font-size: 110%;
  .fa {
    font-size: 120%;
  }
}

.btn-submit {
  color: #FFFFFF;
  border: solid 1px $app-brand-success;
  background-color: darken($app-brand-success, 20%);
  &:hover,
  &:focus {
    background-color: $app-brand-success;
  }
}

.btn-cancel {
  color: $app-body-color;
  background: transparent;
  border: 0;
  .fa {
    color: $app-brand-danger;
  }
}

.btn-installed {
  border: 0 none;
  background-color: none !important;
}

.btn-disabled {
  border: 0 none;
  background-color: transparent !important;
}

.btn-small {
  font-size: 90%;
  .fa {
    font-size: 95%;
  }
}

.btn {
  &.active,&[aria-selected]{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &.btn-text {
    border: 0;
    background: transparent;
    padding: 0;
  }
  &.btn-ctrl {
    border: 0;
    background: transparent;
    &::after {
      font-family: fontawesome;
      content: "\f142";
    }
    &[aria-expanded="true"] {
      &::after {
        color: $focus-color;
        font-family: fontawesome;
        content: "\f141";
      }
    }
  }
}

.btn-wrap {
  white-space: normal;
}

.btn-tag {
  display: block;
  position: relative;
  text-align: left;
  font-size: 100%;
  margin: 0 0 $spacing 0; // Media queries
  width: 100%;
  @include mediaQueries(min-small) {
    display: inline-block;
    position: static;
    font-size: 100%;
    margin: 0 $spacing $spacing 0;
    width: auto;
  }
  .fa {
    position: absolute;
    top: $spacing-half;
    right: $spacing;
    font-size: 150%; // Media queries
    @include mediaQueries(min-small) {
      position: static;
      margin: 0 0 0 $spacing;
      font-size: 120%;
    }
  }
  &.btn-group {
    @include mediaQueries(max-small) {
      display: table !important;
      width: 100%;
      .btn {
        float: none;
        display: table-cell;
      }
    }
  }
  .btn-addon {
    .fa {
      margin: 0;
    }
  }
  .btn {
    text-align: left;
    font-size: 100%;
    margin: 0;
  }
  label {
    text-align: center !important;
    @include mediaQueries(max-small) {
      width: 20px;
    }
  }
}



/* Switch button
---------- http://www.w3schools.com/howto/howto_css_switch.asp
-------------------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 32px; // Media queries
  @include mediaQueries(min-small) {
    /* width: 60px;
    height: 34px; */
  }
}

/* Hide default HTML checkbox */

.switch input {
  display: none;
  margin: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: solid 1px #CCCCCC; //box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.125);
  //@include appGradientDanger();
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, .1);
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, .1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  /* height: 26px;
   width: 26px;*/
  left: 4px;
  bottom: 3px;
  border-radius: 4px;
  border: solid 1px #CCC;
  background-color: #f9f9f9;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  @include mediaQueries(min-small) {
    /* height: 26px;
    width: 26px; */
  }
}

input:checked+.slider {
  //background-color: green;
}

input:checked+.slider:before {
  background-color: $app-brand-success;
}

input:focus+.slider {
  box-shadow: 0 0 1px $app-brand-success;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 4px;
}

/* Button group hiden on small devices
-------------------------------------------------- */

.btn-wrapper {
  @include mediaQueries(max-small) {
    position: relative;
    .btn-group {
      position: absolute;
      top: 100%;
      right: 0;
      left: auto;
      z-index: $zindex-dropdown;
      float: right;
      min-width: 280px;
      padding: $spacing;
      text-align: left;
      background-color: #FFFFFF;
      @include appBoxShadow($app-box-shadow);
      border: 1px solid $app-border-color;
      background-clip: padding-box;
      text-align: right;
      &.btn-group-collapsed {
        display: none;
      }
    }
  }
}