/* Definition list
-------------------------------------------------- */
dl{
  margin: $spacing 0;
  &.inline{
    @include mediaQueries(min-small) {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      width: 100%; /* set the container width*/
      overflow: visible;
      dt{
          flex: 0 0 30%;
          text-overflow: ellipsis;
          overflow: hidden;
         
      }
      dd{
          margin-left: auto;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          flex: 0 0 70%;
          margin: 0 0 $spacing 0
      }
  }  
    
  }
  &.w-50-p{
    @include mediaQueries(min-small) {
    max-width: 50%;
    }
  }
}