/* Definition list
-------------------------------------------------- */
dl{
    dt{
        font-weight: bold;
    }
}
.inline-dl{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    /* set the container width*/
    max-width: 500px;
    overflow: visible;
    dt {
        flex: 0 0 20%;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 0 $spacing 0;
    }
    dd {
        margin-left: auto;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 0 80%;
        margin: 0 0 $spacing 0;
    }
}