/* Variables
-------------------------------------------------- */
$inclusion-img-w: 96px;

/* Devices
-------------------------------------------------- */
.device-logo{
    text-align: center;
    margin: 0 0 $spacing-double 0;
}
.device-logo img{
    max-width: 100px !important;
    max-height: 70px !important;

}

.device-type-logo{
    max-width: 80px;
    max-height: 80px;
}

.device-autodetect{
    margin: 0 0 $spacing-double 0;
}

.vendor-entry{
    @include appFloat(left);
    width: 33.33333%;
    // Media queries
    @include mediaQueries(min-small) {
        width: 20%
    }
}

.col-device-vendor{
    padding-left: $spacing !important;
    padding-right: 0 !important;
}
.vendor-list {
    display: block; 
    margin: $spacing-half;
    background-color: #FFFFFF;;
    text-align: center; 
    border: solid 1px $app-border-color;

    .vendor-image{
        font-size: 80%;
        line-height: 80px + 5;
        margin: 0 !important;
        img {
            padding: $spacing;
            vertical-align: middle;
            max-width: 80px;
            max-height: 80px;
        }
        span{
            display: block;
            padding: $spacing;
            line-height: 1.3em;  
            height: 85px;
        }
    }
}
.device-perex{
    margin-bottom:$spacing;
}

.include-device-img{
    margin: 0 0 $spacing 0;
}

.col-device{
    //text-align: center;
    padding: $spacing-double;
    .device-statement{
        margin: $spacing 0;
        padding: $spacing 0;
        border-bottom: solid 1px $app-border-color;
    }
}
.table-inclusion td{
    vertical-align: middle !important;
    .alert {
        margin-bottom: 0;
    }
}

.td-camera-action{
    text-align: right;
}

/* ZWave
-------------------------------------------------- */

.network-zwave-device{
    .network-node-name{
        font-style: italic;
    }
}
.network-zwave-title{
    font-weight: bold;
    //display: block;
    width: 100%;
    &.noelements{
        color: lighten($app-body-color,20%);
        font-weight: normal;
    }
}
.zwave-hidden-true{
    a{
        color: $app-body-disabled-color !important;
        cursor: text; 
        text-decoration: line-through;
        &:hover{
            text-decoration: line-through;
        }
        .zwave-raquo{
            display: none;
        }
    }


    input{
        color:$app-body-disabled-color;
    }
}
.network-zwave-element{
    padding-left: $spacing;
    margin: $spacing 0 0 0;
}



.network-block{
    margin-bottom: $spacing-double;
}

/* Inclusion
-------------------------------------------------- */

#zwave_inclusion{
    .report-entry{
        .report-col {
            vertical-align: top;
        }
    } 
    .inclusion-header{
        h3{
            font-weight: bold;
        }
        span.line {
            border-top: 1px solid $app-border-color;
            width: 100%;
            height: 1px;
            margin: 7px 0;
            display: block;
        }
    }
}
.include-image-detail{
    max-width: $inclusion-img-w;
    max-height: $inclusion-img-w;
}
.bar-row {
    &.inclusion{
        .bar-media {
            width: $inclusion-img-w + $spacing;
            img {
                max-width: $inclusion-img-w;
                max-height:$inclusion-img-w;
            }
        }
    }
}
/* Management
-------------------------------------------------- */
.report-battery-info {
    div {
        // Media queries
        @include mediaQueries(min-small) {
            display: inline-block;
            padding: 0 $spacing 0 0;
        }

    }
}

/* Configuration
-------------------------------------------------- */
.table-cfg-interview th{
    width: 25%;
}
.cfg-block {
    margin: 0 0 $spacing-double 0;
    padding: 0 0 $spacing-double 0;
}

.cfg-block h4{
    font-size: 16px;
}

.cfg-control-content{
    padding: $spacing;
    margin: $spacing 0;
}
.cfg-info{ 
    margin: $spacing 0 0 0;
    padding: $spacing 0 0 0;
    border-top: solid 1px $app-border-color;
}
.commads-is-current{
    text-decoration: underline;
}
#wakeup_cont .form-inline{
    float: left;
}
.spin-true .fa-spin{
    display: none;
}

/* Images
-------------------------------------------------- */
.product-img{
    max-width: 48px;
    max-height: 48px;
    // Media queries
    @include mediaQueries(min-small) {
        max-width: 64px;
        max-height: 64px;
    }

}

/* Camera
-------------------------------------------------- */
.app-row-cameraadd{
    .report-media{
        width: 48px + $spacing-double;// Img width + spacing
        //text-align: center;
        // Media queries
        @include mediaQueries(min-small) {
            width: 64px + $spacing-double;// Img width + spacing
        }

    }
}
/* SmartStart
-------------------------------------------------- */
.row-smartstart{
    .report-entry{
        // Media queries
        @include mediaQueries(max-esmall) {
            display: block;
        }
        .report-col {
            padding: $spacing;
            vertical-align: top;
            border-bottom:0;
            // Media queries
            @include mediaQueries(max-esmall) {
                display: block;
            }
        }
    }
}

/* QR code
-------------------------------------------------- */
.qrcode-wrap{
    //margin: 0 auto;
    #qrcode_network{
        // margin: $spacing-double auto 0 auto;
        //width: 200px;
        //text-align: center;
        img {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            display: block;
            width: 200px;
        }
        @include mediaQueries(min-small) {
            margin: 0;
        }
    }
}

/* Security 2 icons
-------------------------------------------------- */
.security-2{
    &.fa-stack{
        margin: 0 $spacing-double 0 0;
        width: 1em;
        //top: -5px;
        left: -3px;
        display: inline;
        height: 1em;
        line-height: 1em;
    }
    .fa-stack-1x,.fa-stack-1x{
        text-align: left;
    }
    .icon-bottom{
        color: darkgray;
    }
    .icon-top{
        color: green;
        left:4px; top:4px;
    }
    &.false{
        .icon-top{
            color: #a94442;
        }
    }
}