/* Flexgallery
-------------------------------------------------- */

.flexgallery {
  display: flex;
  flex-flow: row wrap;
  >* {
   flex-basis: 50%; 
   // Media queries
    @include mediaQueries(min-e
    small) {
      flex-basis: 33.3333%;
    } // Media queries
    @include mediaQueries(min-medium) {
      flex-basis: 25%;
    }
    @include mediaQueries(min-large) {
      flex-basis: 20%;
    }
    figure {
      padding: $spacing-half;
      text-align: center;
      border: solid 1px $app-border-color;
      img {
        margin-bottom: $spacing;
      }
      figcaption {
        margin-top: auto;
        font-size: 100%;
      }
    }
  }
}