/* Flexgallery
-------------------------------------------------- */

.flexgallery {
  display: flex;
  flex-flow: row wrap;
  >* {
   flex-basis: 50%; 
   // Media queries
    @include mediaQueries(min-e
    small) {
      flex-basis: 33.3333%;
    } // Media queries
    @include mediaQueries(min-medium) {
      flex-basis: 25%;
    }
    @include mediaQueries(min-large) {
      flex-basis: 20%;
    }
    figure {
      padding: $spacing-half;
      text-align: center;
      position: relative;
      background-color: #fff;
        //height: 200px;
        @include appBoxShadow(1px 1px 5px 0px rgba(50, 50, 50, 0.29));
        @include mediaQueries(min-large) {
          padding: $spacing-half;
         
        }
      img {
        width: 100%;
        height: 180px;
        object-fit:cover;
        @include mediaQueries(min-small) {
          height: 220px;
        }
        @include mediaQueries(min-large) {
          height: 280px;
        }
      }
      figcaption {
        margin-top: auto;
        font-size: 100%;
        padding: $spacing;
        font-weight: bold;
        position: absolute; //top: 0;
        left: 0;
        bottom:0;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        a {
          display: block;
        }
      }
    }
  }
}