/* Flip
-------------------------------------------------- */

.flip {
  perspective: 800px;
  position: relative;
  .flipcard {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
    cursor: pointer;
   
    > * {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      //z-index: 2;
    }
    .front {
      //z-index: 1;
      //background-color: blue;
    }
    .back {
      padding: $spacing;
      transform: rotateY(-180deg);
      //background-color: red;
      background-color: #FFFFFF;
      
    }
    &.flipped {
      transform: rotateY(-180deg);
    }
  }
}