/* Form 
-------------------------------------------------- */
// Media queries
@include mediaQueries(min-small) {
  .form-check-inline {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
}
.form-control {
  font-size: 95%;
  color: lighten($app-body-color, 30%);
  border: solid 1px #CCCCCC;
  padding: 12px 14px;
  height: auto;
  // Media queries
  @include mediaQueries(min-small) {
    padding: 6px 12px;
  }
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  /* line-height: 34px; */
 line-height: 1.42857;
}


.input-group-addon {
  border: solid 1px #CCCCCC;
  background-color: #EEEEEE;
}

textarea {
  min-height: 150px;
}

label {
  font-weight: normal;
  font-size: 100%;
}

input[type=checkbox] {
  @include  checkboxScale(1.8,$spacing);
  // Media queries
  @include mediaQueries(min-small) {
    @include checkboxScale(1.3, $spacing);
  }

}
.checkbox{
  margin-right: $spacing;
}

input[type=radio] {
   @include radioScale(1.6, $spacing);
  // Media queries
  @include mediaQueries(min-small) {
    @include radioScale(1.2, $spacing);
  }
}

.form-page {
  margin-bottom: $spacing-double;
  background-color: #FFFFFF;
  border: solid 1px $app-border-color;
  .form-group {
    border-bottom: solid 1px $app-border-color;
    padding-bottom: $spacing;
    &.first {
      padding-top: $spacing;
    }
    &.last {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  label {
    font-weight: normal;
  }
}

.inputfile {
  // display: inline-block !important;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
}
legend,.legend{
  font-size: 110%;
  font-weight: bold;
  padding: 0 $spacing $spacing-half $spacing;
  border-bottom: 1px solid #e5e5e5;
  &.has-control{
    display: flex;
    justify-content: space-between; 
  }
}

fieldset, .fieldset {
  padding: $spacing;
  h1,h2,h3{
      margin: 0;
  }
  &.expanded{
    padding: $spacing;
  
    .form-group {
      border-bottom: 0;
      
    }
  }
}

.isrequired {
  font-weight: bold !important;

}

.isrequired::before {
  content: "*";
}

.form-control-sm {
  width: 30% !important;
}

.form-control-md {
  width: 50% !important;
}

.input-valid-false{
  border: solid 1px red;
}

.submit-entry {
  text-align: right;
  display: block;
  //margin: 10px 0 0 0;
  background-color: #FFFFFF;
  border-top: solid 1px $app-border-color;
}

fieldset.submit-entry {
  margin: 0 !important;
}

.form-control-hidden {
  display: none !important;
}

.form-control-img {
  cursor: pointer;
  border: solid 4px transparent;

}

.control-active {
  border: solid 4px black !important;
}
.form-block{
    margin: $spacing 0 0 0;
}

.input-number {
  display: inline-block;
  padding: $spacing-half;
  width: 4em !important;
}

/* Config form
-------------------------------------------------- */
#form_wakeup {
  select, .label-node {
    visibility: hidden;
    //display: none;
  }
}

