/* Form
-------------------------------------------------- */
// Media queries
@include mediaQueries(min-small) {
  .form-check-inline {
    display: inline-block;
    margin-right: $spacing-double;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
}

.form-control {
  font-size: 95%;
  color: lighten($app-body-color, 30%);
  border: solid 1px #CCCCCC;

  // placeholder color
  @include placeholder(lighten($app-body-color, 75%));

  //padding: 6px 12px;
  height: auto;
  // Media queries
  @include mediaQueries(min-small) {
    //padding: 12px 14px;
  }
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  /* line-height: 34px; */
 line-height: 1.42857;
 display: inline-block;
 width: auto;
}


.input-group-addon {
  border: solid 1px #CCCCCC;
  background-color: #EEEEEE;
}

textarea {
  min-height: 150px;
  width: 100%;
}

label {
  font-weight: normal;
  font-size: 100%;
  margin-right: $spacing-half;
  span {
      line-height: 35px;
      @include mediaQueries(min-small) {
          line-height: 20px;
      }
  }
}

input[type=checkbox] {
  /*@include  checkboxScale(1.8,$spacing);
  // Media queries
  @include mediaQueries(min-small) {
    @include checkboxScale(1.3, $spacing);
  }*/
  //padding: $spacing;

  margin: 0px 26px 20px 0;
  font-size: 22px;
  @include mediaQueries(min-small) {
    margin: 0 6px + $spacing-half 5px 0;
    font-size: 15px;
}
  font-family: "Font Awesome 5 Free";
  position: relative;
  border: none;
  background-color: transparent;

  &:after {
      margin: -11px $spacing/2 0 0;
      vertical-align: baseline;
      content: ' ';
      padding: 6px 0 0 6px;
      position: absolute;
      display: inline-block;
      border-radius: 4px;
      border: solid 1px #CCC;
      background-color: #f9f9f9;
      width: 35px;
      height: 35px;
      @include mediaQueries(min-small) {
          margin-top: -2px;
          width: 20px;
          height: 20px;
          padding: 2px 0 2px 1px;
      }
  }

  &:checked {
    &:after {
      content: "\f00c";
      color: #4e794e;
      -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:disabled {
    &:after {
      color: #BDBDBD;
    }
  }
}
.checkbox,.radio{
  margin-right: $spacing;
  input[type=checkbox] {
    position: static;
   margin-left: $spacing;
  }
  label{
    padding-left: $spacing;
  }
}

input[type=radio] {
  /*
  @include radioScale(1.6, $spacing);
  // Media queries
  @include mediaQueries(min-small) {
    @include radioScale(1.2, $spacing);
  }
  */

  margin: 0px 22px 24px 0;
  font-size: 22px;
  font-family: "Font Awesome 5 Free";
  position: relative;
  border: none;
  background-color: transparent;

  @include mediaQueries(min-small) {
      margin: 0 10px 10px 0;
      font-size: 12px;
  }



  &:after {
      margin: -11px $spacing/2 0 0;
      vertical-align: baseline;
      content: ' ';
      padding: 6px 0 0 7px;
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      border: solid 1px #CCC;
      background-color: #f9f9f9;
      width: 35px;
      height: 35px;
      @include mediaQueries(min-small) {
          margin: -2px 0 0 -2px;
          width: 20px;
          height: 20px;
          padding: 3px 0 0 4px;
      }
  }

  &:checked {
    &:after {
      content: "\f111";
      color: $app-heading-color;
      -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.form-page {
  margin-bottom: $spacing-double;

  @include mediaQueries(min-small) {
    background-color: #FFFFFF;
    border: solid 1px $app-border-color;
}
  > section{
    margin-bottom: $spacing-double;
     &:last-child{
      margin-bottom: 0;
    }
  }
  .form-group {
    &.is-inline{
      margin-bottom: 0;
    }
    &:not(.is-inline){
    border-bottom: solid 1px $app-border-color;
    padding-bottom: $spacing;
    &.first {
      padding-top: $spacing;
    }
    &.last {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
  label {
    font-weight: normal;
  }
}

.form-group {
  &.is-inline{
    margin-bottom: 0;
  }
  &:not(.is-inline){
    border-bottom: solid 1px $app-border-color;
    padding-bottom: $spacing;
    &.first {
      padding-top: $spacing;
    }
    &.last {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.inputfile {
  // display: inline-block !important;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
}
legend,.legend{
  font-size: 105%;
  font-weight: bold;

  @include mediaQueries(min-small) {
    padding: 0 $spacing-double;
  }
  border-bottom: 0;
  &.has-control{
    display: flex;
    justify-content: space-between;
  }
}

fieldset, .fieldset {
  padding: $spacing-half;
  @include mediaQueries(min-small) {
    padding: $spacing $spacing-double;
  }
  h1,h2,h3{
      margin: 0;
  }
  h3{
    font-weight: bold;
    font-size: 105%;
    margin-bottom: $spacing;
  }
  &.expanded{
    padding: $spacing;

    .form-group {
      border-bottom: 0;

    }
  }
}

.isrequired {
  font-weight: bold !important;

}

.isrequired::before {
  content: "*";
}

.form-control-sm {
  width: 30% !important;
}

.form-control-md {
  width: 50% !important;
}

.input-valid-false{
  border: solid 1px red;
}

.submit-entry {
  text-align: right;
  @include mediaQueries(min-small) {
    border-top: solid 1px $app-border-color;
    background-color: #FFFFFF;
  }
  &.is-grid{
    @include displayFlex();
    @include justifyContent(space-between);
    @include alignItems(center);
  }

}

fieldset.submit-entry {
  margin: 0 !important;
}

.form-control-hidden {
  display: none !important;
}

.form-control-img {
  margin-right: $spacing;
  cursor: pointer;

}

.lang-active {
  @include appOpacity();
  @include appGrayscale();
}
.form-block{
    margin: $spacing 0 0 0;
}

.input-number {
  display: inline-block;
  padding: $spacing-half;
  width: 4em !important;
}

/* Config form
-------------------------------------------------- */
#form_wakeup {
  select, .label-node {
    visibility: hidden;
    //display: none;
  }
}

