/* Header
-------------------------------------------------- */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-header;
  @include mediaQueries(min-small) {
    z-index: $zindex-header;
  } //margin-bottom: $spacing-double;
  color: lighten($app-color-primary, 5%);

  @include mediaQueries(min-usmall) {
    font-size: 117%;  
  }
  
  font-size: 120%;
  .container {
    padding: 0;
  }
  .divider-vertical {
    // display: none;
    height: $header-h;
    border-left: 1px solid darken($app-border-color, 10%);
    border-right: 1px solid lighten($app-border-color, 15%);
  }
  .fa {
    font-size: 120%;
  } // Media queries
  .timestamp,
  .online,
  .local {
    @include mediaQueries(max-small) {
      display: none;
    }
    .pause {
      opacity: 0.5;
    }
  }
}

/* Main navigation
-------------------------------------------------- */

#main_navigation_wrap {
  background-color: #FFFFFF;
  border-bottom: solid 1px $app-border-color;
  height: $header-h;
}

#main_navigation {
  position: relative;
  line-height: $header-h;
  .main-nav-text {
    display: none;
  }
  small {
    line-height: $app-line-height-base;
  }
  a {
    display: inline-block;
    padding: 0 $spacing;
    color: $app-a-color;
    line-height: $header-h; // Media queries
    @include mediaQueries(min-small) {
      padding: 0 $spacing-double;
    }
  }
  a:hover {
    background-color: darken($app-border-color, 5%);
    text-decoration: none;
  }
  .active {
    background-color: $app-border-color;
    color: lighten($app-border-color, 10%);
  }
}

#header_logo {
  max-height: 40px;
  max-width: 100px;
}

#navigation_left {
  position: absolute;
}

#navigation_right {
  float: right;
}

#navi_settings {
  border-radius: 4px; //border: solid 1px $header-border-color;
  height: 40px;
  line-height: 40px !important;
  padding: 7px; // Media queries
  @include mediaQueries(min-small) {
    margin-right: 15px;
  }
}

.navi-time-link {
  cursor: pointer;
}

.navi-time {
  padding-left: 10px;
}

.mobile-icon {
  padding-left: 7px;
  color: $app-a-color;
  .fa {
    font-size: $app-body-font-size;
  }
}

/* Subnavigation
-------------------------------------------------- */
#sub_navigation_wrap {
  position: relative;
  @include mediaQueries(max-small) {
    &.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $app-overlay-bcg-color;  
    }
  }
  #sub_navigation {
    position: relative;
    @include mediaQueries(max-small) {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 75%;

      &.ng-hide-remove {
        @include animation(0.3s slideIn ease);     
      }

      &.ng-hide-add {
        @include animation(0.3s slideOut ease);
        display: block !important;  
      }
      // animation
      @keyframes slideIn {
        0% {left: -100%;}
        100% {left: 0px;}
      }

      @keyframes slideOut {
        0% {left: 0px;}
        100% {left: -100%;}
      }
    }

    @include mediaQueries(min-small) {
      &.ng-hide-add, &.ng-hide-remove {
        transition: 300ms;
      }
      &.ng-hide-remove {
        .container {
          will-change: transform;
          contain: content;
          transform-origin: 100% 0%;
          @include animation(0.3s scaleRTCin ease);  
        }  
      }

      &.ng-hide-add {
        .container {
          will-change: transform;
          contain: content;
          transform-origin: 100% 0%;
          @include animation(0.3s scaleRTCout ease);  
        }
      }

      @keyframes scaleRTCin {
        0% { transform: scale(0,0);}
        50% { transform: scale(0.5,0.5);}
        100% { transform: scale(1,1);}
      }  

      @keyframes scaleRTCout {
        0% { transform: scale(1,1);}
        50% { transform: scale(0.5,0.5);}
        100% { transform: scale(0,0);}
      }
    }
    #sub_navigation_in {
      @include mediaQueries(max-small) {
        height: 100%;
      }
      ul {
        padding: 0;
        list-style: none; //w: margin: 0 0 0 66%;
        margin: 0 $spacing;
        background-color: #FFFFFF;
        @include appBoxShadow($app-box-shadow);
        border: 1px solid $app-border-color; // Media queries
        @include mediaQueries(min-small) {
          margin: 0 0 0 50%
        } // Media queries
        @include mediaQueries(min-large) {
          margin: 0 0 0 66%;
        }
        li {
          @include mediaQueries(min-small) {
            padding: $spacing 0;
          }
          border-bottom: solid 1px $app-border-color;
          a {
            display: block;
            position: relative;
            padding: $spacing;
            vertical-align: middle;
            color: $app-a-color; // Media queries
            @include mediaQueries(min-small) {
              padding: 0 $spacing;
            }
            span {
              display: inline-block;
              position: absolute;
              @include textOverflow();
              left: 50px;
            }
          }
          .subnavi-arrow {
            position: absolute;
            right: 1%;
            display: inline-block;
          }
        }
        .active {
          a {
            color: lighten($app-a-color, 50%);
            font-weight: bold;
            text-decoration: underline;
          }
          .fa {
            color: lighten($app-a-color, 50%);
          }
        }
        .fa {
          color: lighten($app-a-color, 20%); //padding-right: 7px;
        }
      }
    }
  }
}



/* Top fixed elements for mobile devices
-------------------------------------------------- */

@include mediaQueries(max-small) {
  .fix-me-top {
    width: 90%;
    z-index: $zindex-search;
    background-color: #FFFFFF;
    border-bottom: solid 1px $app-border-color;
    position: fixed;
    top: 0;
    //left: 0;
    right: 0;
    padding: $spacing-half;
    height: $header-h;
    @include mediaQueries(max-small) {
      input[type="text"] {
        min-height: 20px;
        padding: 6px 8px;
      }
    }
  }
}