/* Image list
-------------------------------------------------- */
// CSS
.app-row-imglist{
    border: solid 1px $app-border-color;
    background-color: #FFFFFF;
}
.imglist-entry{
    text-align: center;
    width: 50px;
    height: 80px;
    @include mediaQueries(min-small) {
        height: 60px;    
    }

    @include appFloat(left);
    margin: 10px;
    &.in-device{
        background-color: $app-bcg-danger;
    }
    .imglist-img{
        margin: 0 0 $spacing-half 0;
    }
}