/* Input
-------------------------------------------------- */
.flex-input-group{
  
  &.number-control{
    input[type="number"]{
      max-width: 100px;
      display: inline-block;
    }
  }
}
input.hide-arrow::-webkit-outer-spin-button,
input.hide-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.hide-arrow[type=number] {
  -moz-appearance: textfield;
}

