/* List panel
-------------------------------------------------- */
.panel-wrap {
  margin-bottom: $spacing-double;
}

.list-panel {
  @include appClearFix();
  background-color: $app-bcg-color;
  border-bottom: 1px solid $app-border-color;
  padding: $spacing;
  >* {
    float: left;
  }
  figure,.figure {
    display: block;
    margin-right: $spacing;
    min-width: 32px;
  }
  .body {
    max-width: 70%;
    &>div {
      margin-top: $spacing-half;
    }
  }
  .control {
    float: right;
    text-align: right;
    margin-left: $spacing;
    min-width: 20%;
    @include mediaQueries(max-small) {
      &.expand-false {
        display: none;
      }
      &.expand-true {
        margin-top: $spacing;
        display: block;
        float: right;
        width: 100%;
      }
    }
  }
  &.condensed {
    padding: $spacing-half;
    .control {
      min-width: 1%;
      margin-left: $spacing;
    }
  }
  .control-collapsable {
    &.expand-false {
      display: none;
    }
    &.expand-true {
      //text-align: right;
      margin-top: $spacing;
      display: block;
      float: right;
      width: 100%;
    }
  }
}