/* List panel
-------------------------------------------------- */

// input top, bottom spacing
$list-panel-spacing: $spacing;
$list-panel-img-w: 64px;
$list-panel-bcg-color: #fff;
$list-panel-border-color: $app-border-color;
.panel-wrap {
  margin-bottom: $spacing-double;
}

.list-panel {
  @include appClearFix();
  background-color: $list-panel-bcg-color;
  border-bottom: 1px solid $list-panel-border-color;
  padding: $list-panel-spacing;
  >* {
    float: left;
  }
  figure {
    margin-right: $list-panel-spacing;
    min-width: 32px;
  }
  .body {
    max-width: 70%;
    &>div {
      margin-top: $spacing-half;
    }
  }
  .control {
    float: right;
    text-align: right;
    margin-left: $list-panel-spacing;
    min-width: 20%;
    @include mediaQueries(max-small) {
      &.expand-false {
        display: none;
      }
      &.expand-true {
        margin-top: $spacing;
        display: block;
        float: right;
        width: 100%;
      }
    }
  }
  &.condensed {
    padding: $spacing-half 0;
    .control {
      min-width: 1%;
      margin-left: $spacing;
    }
  }
  .control-collapsable {
    &.expand-false {
      display: none;
    }
    &.expand-true {
      //text-align: right;
      margin-top: $spacing;
      display: block;
      float: right;
      width: 100%;
    }
  }
}