/* Absolute Center CSS Spinner
http://codepen.io/MattIn4D/pen/LiKFC
-------------------------------------------------- */
#loading{
    position: fixed;
    z-index: $zindex-loader - 1;
    width: 260px;
    height: 50px;
    overflow: show;
    //margin: 80px auto auto auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: $app-body-color;
    .loading-in{
        position: relative;
        z-index: $zindex-loader;
        margin: auto;
        padding: $spacing;
        background-color: #FFFFFF;
        border: solid 2px $app-border-color;
        @include appBorderRadius($app-border-radius);
    }
    a{
        font-weight: bold;
        text-decoration: underline;
    }
}

/* Transparent Overlay */
.loading-spin:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $app-overlay-bcg-color;
}

.loading-fade{
    opacity: 0;
    -webkit-transition: opacity $loader-fadeout;
    -moz-transition: opacity $loader-fadeout;
    -ms-transition: opacity $loader-fadeout;
    -o-transition: opacity $loader-fadeout; 
    transition: opacity $loader-fadeout;

}

/* Widget Loader
/* https://github.com/lukehaas/css-loaders
--------------------------------------------------------*/

$widget-loader-background: #FFF;
$widget-loader-foreground: #184B7C;
$widget-loader-w: 72px + 6;
$widget-loader-h: 72px + 6;
$widget-loader-before-h: 72px + 8;
$widget-loader-before-w: $widget-loader-before-h/2;
// Large devices
$widget-loader-w-l: 64px + 6;
$widget-loader-h-l: 64px + 6;
$widget-loader-before-h-l: 64px + 8;
$widget-loader-before-w-l: $widget-loader-before-h-l/2;

$widget-loader-w-m: 64px + 6;
$widget-loader-h-m: 64px + 6;
$widget-loader-before-h-m: 64px + 8;
$widget-loader-before-w-m: $widget-loader-before-h-m/2;

.progress-true {
    .widget-preview-img{
        opacity: 0.3;
    }

    .widget-loader,
    .widget-loader:before,
        .widget-loader:after {
        border-radius:50%;
    }

    .widget-loader {
        top: 7px;
        right: 0px;
        left: 0px;
        margin: 0 auto;
        position:absolute;
        color:$widget-loader-foreground;
        width:$widget-loader-w;
        height:$widget-loader-h;
        box-shadow: inset 0 0 0 1em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        // Media queries
        @include mediaQueries(min-esmall) {
            width:$widget-loader-w-l;
            height:$widget-loader-h-l;
        }

        //Media Query
        @include mediaQueries(min-esmall) {
            top: 17px;
            left: 7px;
            right: auto;
            width:$widget-loader-w-m;
            height:$widget-loader-h-m;    
        }

        &:before,
            &:after {
            position:absolute;
            content:'';
        }

        &:before {
            height:$widget-loader-before-h;
            width: $widget-loader-before-w;
            background: $widget-loader-background;
            border-radius:$widget-loader-before-h 0 0 $widget-loader-before-h;
            top:-1px;
            left:-1px;
            -webkit-transform-origin:$widget-loader-before-w $widget-loader-before-w;
            transform-origin:$widget-loader-before-w $widget-loader-before-w;
            -webkit-animation:loadWidget 2s infinite ease 1.5s;
            animation:loadWidget 2s infinite ease 1.5s;
            //Media Query
            @include mediaQueries(min-esmall) {
                width:$widget-loader-before-w-m;
                height:$widget-loader-before-h-m;
                border-radius:$widget-loader-before-h-m 0 0 $widget-loader-before-h-m;
                -webkit-transform-origin:$widget-loader-before-w-m $widget-loader-before-w-m;
                transform-origin:$widget-loader-before-w-m $widget-loader-before-w-m;    
            }
        }

        &:after {
            height:$widget-loader-before-h;
            width: $widget-loader-before-w;
            background: $widget-loader-background;
            border-radius: 0 $widget-loader-before-h $widget-loader-before-h 0;
            top:-1px;
            left:$widget-loader-before-w - 1;
            -webkit-transform-origin:0 $widget-loader-before-w;
            transform-origin:0 $widget-loader-before-w;
            -webkit-animation:loadWidget 2s infinite ease;
            animation:loadWidget 2s infinite ease;

            //Media Query
            @include mediaQueries(min-esmall) {
                height:$widget-loader-before-h-m;
                width:$widget-loader-before-w-m;
                border-radius: 0 $widget-loader-before-h-m $widget-loader-before-h-m 0;
                left:$widget-loader-before-w-m - 1;
                -webkit-transform-origin:0 $widget-loader-before-w-m;
                transform-origin:0 $widget-loader-before-w-m;
            }
        }

    }

}

@mixin loadWidgetFrames() {

    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }

    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }

}

@-webkit-keyframes loadWidget {@include loadWidgetFrames;}
@keyframes loadWidget {@include loadWidgetFrames;}



.widget-entry-in:before, .widget-entry-in:after,.card-room-in:before, .card-room-in:after{
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 2px solid transparent;    
}

.widget-entry-in:before,.card-room-in:before {
    top: 0;
    left: 0;      
}

.widget-entry-in:after,.card-room-in:after {
    bottom: 0;
    right: 0;      
}

.longpress-true {
    opacity: 0.5;
    transition: opacity 1.5s ease-out;
    //display: none !important;
    .widget-entry-in:before,
    .widget-entry-in:after, 
    .card-room-in:before, 
    .card-room-in:after {
        width: 100%;
        height: 100%; 
    }

    .widget-entry-in:before, .card-room-in:before {
        border-top-color: $widget-loader-foreground; 
        border-right-color: $widget-loader-foreground;
        transition:
          width 0.25s ease-out, 
          height 0.25s ease-out 0.25s; 
      }

    .widget-entry-in:after, .card-room-in:after {
        border-bottom-color: $widget-loader-foreground; 
        border-left-color: $widget-loader-foreground; 
        transition:
          border-color 0s ease-out 0.5s, 
          width 0.25s ease-out 0.5s, 
          height 0.25s ease-out 0.75s;  
    }
}
