/* Night mode
-------------------------------------------------- */

.night-true:root { 
  background-color: #fefefe;
  filter: invert(100%);
  * { 
    background-color: inherit;
  }
  
  img:not([src*=".svg"]), video {  
    filter: invert(100%);
  }
}
