/* Report
-------------------------------------------------- */


.report-header{
  display: block;
    .report-title{
        margin: $spacing 0 $spacing-half 0;
         font-weight: bold;
     }
}
.app-row-report{
    border-top: solid 1px $app-border-color;
    background-color: #FFFFFF;
    border-bottom: solid 1px $app-border-color;
    display: table;
    width: 100%;

}
.report-entry {
    border-bottom: solid 1px $app-border-color;
    padding: $spacing $spacing-half;
    display: table-row;
    // Media queries
    @include mediaQueries(min-esmall) {
        //display: table;
    }
    .report-col{
        padding: $spacing-half;
        display: table-cell;
         vertical-align: middle;
        border-bottom: solid 1px $app-border-color;
    }
    .report-media{
        width: 32px + $spacing-half;
        // Media queries
        @include mediaQueries(min-small) {
            width: 40px + $spacing;
        }
    }
    .report-body{}

    .report-ctrl{
        text-align: right;
         @include mediaQueries(min-small) {
               min-width: 110px;
        }
    }

    .report-ctrl-3{
        @include mediaQueries(min-small) {
              min-width: 160px;
        }
      
    }
    .report-col-w30{
        width: 30%;
    }
    
}
/* Images */
.report-img{
    max-width: 32px;
    max-height: 32px;
    @include mediaQueries(min-small) {
        max-width: 40px;
        max-height: 40px;
    }
}

.report-img-s{
    max-width: 32px;
    max-height: 32px;
}

/* Zwave row */
.app-row-zwave {
    .report-entry {
        .report-ctrl {
            // Media queries
            @include mediaQueries(min-esmall) {
                vertical-align: top !important;
            }

        }
    }
}
