/* Rooms
-------------------------------------------------- */

/* Cards
-------------------------------------------------- */
.card-room {
  width: 100%;
  @include mediaQueries(min-small) {
    @include appFloat(left);
    width: 50%;
  }
  @include mediaQueries(min-medium) {
    width: 33.33333%;
  }
  @include mediaQueries(min-large) {
    width: 25%;
  }
  /* Inner element */
  .card-room-in {
    border: solid 1px $app-border-color;
    background-color: $card-bcg-color;
    position: relative;
    height: 132px;
    padding: 0;
    //margin: 0 0 $spacing-double 0;
    &.room-has-sensor{
      // Media queries
      @include mediaQueries(max-small) {
        height: 172px;
      }
    }
    // Media queries
    @include mediaQueries(min-small) {
      margin: $spacing-half;
      height: 268px;
      padding: 0;
    }
    @include mediaQueries(min-large) {
      height: 288px;
    }
    /* Card header */
    .card-header{
      text-align: right;
      min-height: 40px;
      opacity: 0.9;
      background: $card-bcg-color;
      position: absolute;
      top: 0;//24px;
      right: 0;
      padding: 0 $spacing-half 0 0;
      width: 100%;
      // Media queries
      @include mediaQueries(min-small) {
        width: 100%;
        padding: $spacing-half;
        top: 0;
      }
      /* Header icons */
      .card-header-icon {
        color: lighten($app-body-color, 30%);
        font-size: 160%;
        padding: 0 0 0 $spacing-half;

        @include mediaQueries(min-small) {
          font-size: 140%;
          padding: 0 0 0 $spacing-half;
        }
        &:hover{
          text-decoration: none;
        }
      }

    }
    /* Background image */
    .bcg-img {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 132px - 8px;// - border width * 2
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      // Media queries
      @include mediaQueries(min-small) {
        position: static;
        text-align: center;
        height: 170px;
      }



    }
    /* Card content */
    .card-content {
      margin: 0;
      position: absolute;
      top: 0;//30px;
      left: 0;
      //opacity: 0.8;
      padding: $spacing;
      //background-color: $card-bcg-color;

      // Media queries
      @include mediaQueries(min-small) {
        position: static;
        margin: $spacing-double 0 0 0;
        padding: 0;
        text-align: center;
      }
      /* Card Title */
      .card-title {
        h3 {
          font-size: 110%;
          padding: 0;
          margin: 0;
          a {
            color: lighten($app-body-color, 10%);
            text-decoration: none;
            cursor: text;
          }
        }
      }


    }

    /* Card Sensors */
    .card-sensors {
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      opacity: 0.9;
      display: table;
      min-height: 40px;
      display: table;
      padding-left: 10px;
      margin-bottom: 5px;

      // Media queries
      @include mediaQueries(min-small) {
        text-align: center;
        margin: 15px 0 0 0;
        position: relative;
        width: 100%;
      }

      /* Sensor */
      .sensor {
        display: table-cell;
        vertical-align: middle;
        margin: 0 5px 0 0;

        // Media queries
        @include mediaQueries(min-small) {
          display: inline-block;          
        }

        .sensor-img {
          float: left;
          width: 20px;
          height: 20px;
          background-color: #fff;
          .sensor-preview-img {
            max-width: 20px;
            max-height: 20px;
          }
        }

        .sensor-ctrl {
          float: left;
          margin: 0 0 0 2px ;
          .sensor-level {
            font-weight: bold;
            /*font-size: 100%;*/
          }
          .sensor-scale {
            font-size: 90%;
          }
          // Media queries
          @include mediaQueries(min-small) {
            .sensor-level {
              font-size: 110%;
            }
          }
        }
      }

    }

  }

}
/* Rooms with device
-------------------------------------------------- */
.room-has-device {

  .card-title {
    h3 {
      a {
        font-weight: bold;
        color: $app-body-color;
         cursor: hand !important;
      }
    }
  }
}

/* Rooms without device
-------------------------------------------------- */
.room-no-device {
  .room-link {
    cursor: text !important;
  }
  .room-img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    @include appGrayscale();

  }
}

/* Elements in Rooms
-------------------------------------------------- */
/* Background with image */
.full-bg-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;

  .full-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    transform: scale(1.1);
  }
}

/* Bar
-------------------------------------------------- */
.elemnts-room-bar{
  background-color: $card-bcg-color;
  border: solid 1px $app-border-color;
  margin: 0 0 $spacing-double 0;
  .bar-row{
    .bar-ctrl {
      .btn-group{
        .btn{
          @include mediaQueries(max-medium) {
            margin: 0;
            float: none;
            display: inline;
          }
        }
      }
      .sensor{
        .btn{
          cursor: text;
          border: 0 none;
          background: transparent;
          margin: 0 $spacing;
          padding: 0 $spacing-half 0 0;

          @include mediaQueries(max-medium) {
            margin: 0;
          }
        }

        .sensor-preview-img {
          display: inline-block;
          max-width: 24px;
          max-height: 24px;
        }

        .sensor-level {
          font-weight: bold;
          font-size: 90%;
          display: inline-block;
          vertical-align: middle;
          small{
            font-weight: normal;
            font-size: 80%;
          }
        }
        // Media queries
        @include mediaQueries(max-small) {
          text-align: left;
          margin: $spacing 0;
          display: block;
        }

        // Media queries
        @include mediaQueries(min-small) {
          .sensor-preview-img {
             max-width: 32px;
            max-height: 32px;
          }
          .sensor-level {
            font-size: 120%;
          }
        }
      }
    }

  }
}

/* Images
-------------------------------------------------- */
.room-img-upload{
  display: inline-block;
  max-width: 70px;
  max-height: 70px;
  margin: $spacing-half;
}