/* Flexcard
-------------------------------------------------- */

.flexcards {
  &.security {
    //@include appGradient();
    .flexcard {
      padding: 0;
    
      flex-basis: 33.3333%;
      &.h-160px {
        height: 160px;
       }
      @include mediaQueries(min-small) {
        flex-basis: 20%;
      } // Media queries
      @include mediaQueries(min-medium) {
        flex-basis: 16.6666%;
      }
      @include mediaQueries(min-large) {
        flex-basis: 12.5%;
      }
      &.control{
        flex-basis: 100%;
        height: 260px;
        @include mediaQueries(min-small) {
          height: 240px;
          flex-basis: 33.3333%;
        } // Media queries
        @include mediaQueries(min-medium) {
          flex-basis: 20%;
        }
        @include mediaQueries(min-large) {
          flex-basis: 16.6666%;
        }
      }
      &.flip{
        border: 0;
      }
      .flipcard {
        >* {
          border: solid 1px $app-border-color;
          padding: $spacing;
          display: flex;
          flex-direction: column;
          figure {
            position: relative;
           
            span {
             
              padding: 0;
              text-align: right;
             position: absolute;
              top: -$spacing-half;
              right: 0;
               width: 32px;
                height: 32px;
              
              .fa{
                display: inline-block;
                cursor: pointer;
                text-align: center;
                width: 32px;
                height: 32px;
                font-size: 130%;
                line-height: 32px;
                //padding: $spacing-half;
                background-color: #E9E9E9;
               
                @include appBorderRadius(50%);
              }
            }
          }
          .body {
            margin-top: auto;
            h2 {
              font-size: 90%;
              margin: $spacing 0;
            }
          }
          &.front {
            color: $app-heading-color;
            background-color: #fff;
            figure {
              .fa{
                color:$app-brand-success;
              }
              img {
                @include appOpacity();
                @include appGrayscale();
              }
              button {
                //color: red;
              }
            }
          }
          &.back {
            @include appGradient();
            figure {
              .fa{
                color:$app-brand-danger;
              }
            }
          }
        }
      }
    }
  }
}

/* Notification
-------------------------------------------------- */

.automation {
  .notification {
    textarea {
      height: 50px;
    }
  }
}

/* Table schedule
-------------------------------------------------- */
.table.security-schedule > tbody > tr > td{
  vertical-align: middle;
  .fa-check{
    color: $app-heading-color;
    cursor: pointer;
  }
  &.active{
    background-color: $app-bcg-success;
    .fa-check{
     
      display: inline-block;
      padding: $spacing-half;
      background-color: $app-brand-success;
      color:#fff;
      @include appBorderRadius(50%);
    }
  }
}

/* .table{
  &.security-schedule{
    tbody{
      td{
        .active{
          background: transparent;
        }
      }
    }
  }
} */