/* SmartStart
-------------------------------------------------- */
$ss-brand-color: #E7E7E7;
$ss-dark-color: darken($ss-brand-color,50%);
$ss-border-color:#FFFFFF;
$ss-img-w: 96px;
$ss-w: 800px;
/* 
-------------------------------------------------- */
.smart-start {
    .container{
        padding: 0;
        border: solid 10px $ss-border-color;
        background-color: $ss-border-color;
        max-width: $ss-w;
        .btn-goup-tabs{
            margin: 0;

            .btn{
                border: 0;
                border-radius: 0;
                background-color: $ss-border-color;
                color:$ss-dark-color;
                .fa{
                    color: $ss-dark-color; 
                }
                &.active {
                    background-color: $ss-brand-color;
                    .fa{
                        color: $ss-dark-color; 
                    }
                }
            }
        }
        .entry{
            background-color: $ss-brand-color;
            color: $ss-dark-color;

            padding: $spacing-double;
            //border: solid 1px red;
            text-align: center;
            height: auto;
            max-width: $ss-w;
            //height: 300px;
            .content{
                font-weight: bold;
                //text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
                font-size: 140%;
                margin: $spacing-double;
            }
            .image{
                .fa{
                    font-size: $ss-img-w;
                    color: $app-brand-success;
                    &.fa-exclamation{
                        color: $app-brand-danger;
                    }
                }

                img{
                    max-width: $ss-img-w;
                    max-height: $ss-img-w;

                }
            }
            .btn{
                font-size: 120%;
                //border: solid 1px #fff;
            }

            &.start{
                /* img{
                     margin-bottom: -50px;
                     max-width: 200px;
                     max-height: 200px; 
                 }*/
            }
            &.list{
                text-align: left;
                ul{
                    list-style-type: none;
            margin: 0;
            padding: 0;
                    li{
                        padding:  $spacing;
                        width: auto;
                    }

                }
            }
        }

    }

}


.preloader-scan {
    /*  position: fixed;
      left: 0;
      right: 0;*/
    max-width: 128px;
    display: table;
    margin: 0 auto;
    //height: 100%;
    text-align: center;
    height: 128px;
    //border: solid 1px red;
    background: url('../img/smartstart/qrcode.png') no-repeat 50% 50%;
    background-size: 128px 128px;

    .laser {
        //width: 150%;
        margin-left: -50px;
        margin-right: -50px;
        width: 228px;
        background-color: tomato;
        height: 2px;
        //position: absolute;
        //top: 40%;
        z-index: 2;
        box-shadow: 0 0 4px red;
        animation: scanning 2s infinite;
    }

    .diode {
        animation: beam .01s infinite;
    }

}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

@keyframes scanning {
    50% {
        transform: translateY(75px);
    }
}