input[type="checkbox"] { 
    display: none;

    & + label, {
        margin: 5px 5px 5px 0;
        position: relative;
        display: inline-block;
        padding-left: 60px * 1.2;
        cursor: pointer;
        line-height: 34px;

        &.right {
            padding-right:  60px * 1.2;
            padding-left: 0;
            &:before, &:after {
                left: auto;
                right: 0;
            }

             &:before {
                left: auto;
             }

             &:after {
                left: auto;
                right: 4px;
             }
        }

        &:before, &:after {
            position: absolute;
            content: "";  
            top: 0;
            left: 0;
        }

        &:before {
            width: 60px;
            height: 34px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: #f9f9f9;
            border: 1px solid #CCC;
            -webkit-transition: .4s;
            transition: .4s;
            -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,.1);
            -moz-box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,.1);
            box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,.1);    
        }

        &:after {
            height: 26px;
            width: 26px;
            left: 4px;
            top: 4px;
            border-radius: 4px;
            border: solid 1px #CCC;
            background-color: #f9f9f9;
            -webkit-transition: .4s;
            transition: .4s;
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
        }
    }

    &:checked + label:after {
        margin-left: 26px;
    }

    &:checked + label.right:after {
        margin-right: 26px;
    }

    &:checked + label:before {
        background: #4e794e;
    }
}
