/* Table
-------------------------------------------------- */

.table {
  tbody {
    tr {
      td {
        border-top: 1px solid $app-border-color;
      }
      /* &:nth-child(2) {
                td {
                    border: none; 
                }   
            } */
    }
  }
}

.table-report {
  background-color: #FFFFFF;
  border: 0 !important;
  margin-bottom: 0 !important;
  tbody {
    td {
      vertical-align: middle !important;
    }
    .td-img {
      width: 30px;
    }
    .td-action {
      text-align: right;
    }
  }
  .room-title {
    @include textOverflow();
  }
}

.table-products {
  td {
    vertical-align: middle !important;
  }
}

.td20 {
  width: 20%;
}

.td30 {
  width: 30%;
}

.td-action {
  text-align: right;
}

.td40 {
  width: 40%;
}

/* responsive table
-------------------------------------------------- */

.table-responsive {
  width: 100%;
  border-collapse: collapse;
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td,
  th {
    padding: 6px;
    border: 1px solid $app-border-color;
    text-align: left;
  }
  @include mediaQueries(min-small) {
    display: block;
    /* Force table to not be like tables anymore */
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(title);
    }
  }
}