/* Widget
-------------------------------------------------- */
.app-row-widget {
    // Media queries
    @include mediaQueries(min-small) {
        margin: 0 -$spacing;
    }
}
.widget-entry{
    width: 33.33333%;
    position: relative;
    @include appFloat(left);
    padding: 1%;
    
    // Media queries
    @include mediaQueries(min-small) {
        @include appFloat(left);
        padding: 0; 
        border: 0;
        width: 50%;;
    }
    @include mediaQueries(min-large) {
        width: 33.33333%;;
    }  


     &.ng-enter {
            /* standard transition code */
            -webkit-transition: 0.25s linear all;
            transition: 0.25s linear all;
            opacity:0;
            &.ng-enter-active {
                /* standard transition styles */
                opacity:1;
            }
        }

    .widget-entry-in{
        background-color: #FFFFFF;
        height: 150px;
        position: relative;
        padding: $spacing-half;
        // Media queries  
        @include mediaQueries(min-esmall) {
            border-color: $app-border-color;
            //border-bottom: solid 1px $app-border-color;
        } 
        @include mediaQueries(min-small) {
            border-color: $app-border-color;
            border: solid 1px $app-border-color;
            margin: $spacing;
        } 


        .widget-img{
            position: relative;
            margin: 0px auto 5px;
            top: 0;
            left: 0;
            // Media queries
            @include mediaQueries(min-small) {
                position: absolute;
                top: $spacing-double;
                left: $spacing;
                margin: 0;
            } 
        }

        .widget-header {
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            .widget-icon {
                &.widget-room {
                    text-align: center;
                    background-color: rgba(223, 223, 223, 0.5);
                    //background-color: rgba(0, 198, 198, 0.9);
                    border-radius: 10px;
                    //border-top-right-radius: 10px; 
                    //border-bottom-right-radius: 10px; 
                    //border-bottom-left-radius: 10px; 
                    //border-bottom-right-radius: 10px; 
                    //color: rgba(0, 198, 198, 1);
                    color: #737373;
                    padding: 0 4px;
                    font-size: 14px;  
                    //font-weight: bold;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                    margin: 5px 0 0 5px;
                    //box-shadow: 1px 1px 1px #888888;
                }
            }

            // Media queries
            @include mediaQueries(min-small) {
                display: block;
                position: relative;
                text-align: right;
                min-height: $spacing-double;
                .widget-icon{
                    color: lighten($app-body-color, 40%);
                    .fa{
                        padding: 0 0 0 $spacing;
                        font-size: 180%;
                        // Media queries
                        @include mediaQueries(min-small) {
                            padding: 0 0 0 $spacing-half;
                            font-size: 140%;
                        }
                    }
                    &:hover{
                      text-decoration: none;
                    }
                }       
            }
        }
        .widget-content{
            margin: 0;
            // Media queries 
            @include mediaQueries(min-small) {
                margin: -$spacing 0 0 64px + $spacing-double;   
            }
        }
        .widget-title{
            height:50%;
            color: $app-heading-color;
            h3{
                font-size: 105%;
                padding: 0;
                margin: 0;
                a{
                    color: $app-heading-color;
                }
            }
        }
        .widget-footer{
            height:50%;
            display: none;
            @include mediaQueries(min-small) {
                display: block;
            }
        }
        .bottom-aligner {
            display: none;
            border:0;
            height: 100%;
            vertical-align: bottom;
            width:1px;    
            @include mediaQueries(min-small) {
                display: inline-block;
            }
        }

        .widget-ctrl-click{
            cursor: pointer;
        }

        .widget-ctrl{
            //width: 50%;
            float: left;
        }
        .widget-ctrl.ctrl-left{
            .btn-group,.switch-wrap{
                float: left; 
            }
            .switch-wrap{
                padding: 0 $spacing-half 0 0;
            }
        }
        .widget-ctrl.ctrl-right{
            float: right;
            text-align: right;
            .btn-group{
                float: right;
            }
        }
    }
    &.widget-success{
        .widget-entry-in{
            border-color: lighten($app-brand-success,20%);
            border-width: 4px;
        }
    }
}

.widget-preview-img{
    max-width: 64px;
    max-height: 64px;
    //border: solid 4px $widget-img-border-color;
    @include appBorderRadius(50%);
}

.tbl-widget-ctrl{ 
    .widget-history{
        color: lighten($app-body-color, 40%);
        .fa{
            padding: 0 0 0 $spacing;
            font-size: 180%;
        }
    }
}
