/* Wizard
-------------------------------------------------- */
.wizard {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;

	li {
	    background-color: lighten($app-body-color, 60%);
	    color: #FFFFFF;
	    display: inline-block;
	    text-align: center;
	    line-height: 24px;
	    width: 32px;
	    height: 32px;
	    font-size: 120%;
	    border-radius: 50%;
	    vertical-align: baseline;
    	white-space: nowrap;
	    padding: 5px;
	    font-weight: bold;
	    position: relative;

	    /*
	    &:not(:last-child):after {
	    	position: absolute;
			content: '';
			right: -50%;
			top: 0%;
			width: 100%;
			height: 50%;
			border-bottom: 2px solid black;
	    }
	    */

	    &.active {
	    	background-color: #4e794e;
	    }
	}	
}

.wizard-controls {
    background-color: #e7e7e7;
    border-top: solid 1px #e7e7e7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    .next {
    	margin-left: auto;
	}

	.prev {
		margin-right: auto;
	}
}

.wizard-tabs {
    .tab {
        min-height: 300px;
        .content {
        	display: flex;
        	flex-direction: column;
        	@include mediaQueries(min-small) {
		        display: block;
		    }

        	h1 {
        		text-align: center;
        		order: 0;
        		margin: 10px 0 20px; 
        	}
			.text {
				order: 2;
				text-align: justify;
				ul, ol {
					list-style-position: inside;	
				}
			}

			.image {
				order: 1;
				text-align: center;
				img {
					max-height: 290px;
				}
			}


    		.text, .image {
		        display: block;
				flex-direction: column;
		        vertical-align: middle;
		        width: 100%;
		        
		        @include mediaQueries(min-small) {
		        	display: table-cell;
		        	padding: 10px 50px;
		        	width: 50%;
		        }
		    }
    	}
    }
}
