<!-- Home view -->
<div ng-controller="MySettingsController">
  <bb-loader></bb-loader>
  <div ng-show="input">
    <h2 ng-bind="_t('nav_myaccess')"></h2>
    <form name="form_profile" id="form_profile" class="form form-page" ng-submit="store(form_profile,input)" novalidate>
      <fieldset>
        <div class="form-group form-inline">
          <!-- name -->
          <label class="isrequired">{{_t('lb_name')}}: </label>
          <input name="name" id="name" type="text" class="form-control" placeholder="{{_t('lb_profile_name_insert')}}" value="{{input.name}}"
            ng-model="input.name" ng-blur="nameBlur = true" ng-required="true" />
          <bb-validator input-name='form_profile.name.$error.required' trans='_t("field_required")' has-blur='nameBlur'></bb-validator>
        </div>
        <div class="form-group form-inline">
          <!-- email -->
          <label>{{_t('lb_email')}}:</label>
          <input name="email" id="email" type="email" class="form-control" value="{{input.email}}" ng-model="input.email" ng-blur="emailBlur = true"
          />
          <bb-validator input-name='form_profile.email.$error.email' trans='_t("email_invalid")' has-blur='emailBlur'></bb-validator>
        </div>
      </fieldset>
      <fieldset>
        <!-- lang -->
        <div class="form-group form-inline">
          <div class="accordion-toggle inline">
            <button type="button" aria-expanded="false" bb-accordion>
              <span>
                {{_t('lb_language')}}:
                <img class="form-control-img profile-lang" ng-src="app/img/flags/{{input.lang}}.png"
                  title="{{input.lang}}" />
                <span class="uppercase">{{input.lang}}</span>
              </span>
            </button>
          </div>
          <div class="accordion" hidden>
            <img class="form-control-img profile-lang" title="{{v}}" ng-repeat="v in cfg.lang_list" ng-click="input.lang = v" ng-class="v == input.lang ? 'lang-active':''"
              ng-src="app/img/flags/{{v}}.png" />
          </div>
        </div>
        <!-- interval -->
        <div class="form-group form-inline">
          <label>{{_t('lb_interval')}} ({{_t('miliseconds')}}): </label>
          <input name="interval" id="interval" type="text" class="form-control" placeholder="{{_t('lb_interval_placeholder')}}" value="{{input.interval}}"
            ng-model="input.interval" />

        </div>
      </fieldset>
      <fieldset>
        <div class="form-group form-inline" ng-if="cfg.route.os != 'IOSWRAPPER' && cfg.route.os != 'ZWayMobileAppiOS'">
          <label for="night_mode">
            <input type="checkbox" name="night_mode" id="night_mode" ng-model="input.night_mode" ng-checked="input.night_mode" ng-change="setNightMode(user.night_mode = !user.night_mode)" />
            <span>{{_t('night_mode')}}</span>
          </label>
        </div>
        <div class="form-group form-inline" ng-if="cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS'">
          <label class="switch">
            <input type="checkbox" name="night_mode" id="night_mode" ng-model="input.night_mode" ng-checked="input.night_mode" ng-change="setNightMode(user.night_mode = !user.night_mode)">
            <span class="slider"></span>
          </label>
          <span class="switch-label ng-binding">{{_t('night_mode')}}</span>
        </div>
      </fieldset>
      <!-- Expert view -->
      <fieldset ng-if="elementAccess(cfg.role_access.expert_view)">
        <div class="form-group form-inline is-inline">
          <label for="show_beta">
            <input type="checkbox" name="show_beta" id="show_beta" ng-model="input.beta" ng-checked="input.beta" />
            <span>{{_t('lb_show_beta')}}</span>
          </label>
        </div>
        <div class="form-group form-inline">
          <label for="expert_view">
            <input type="checkbox" name="expert_view" id="expert_view" ng-model="input.expert_view" ng-checked="input.expert_view" />
            <span>{{_t('lb_expert_app_view')}}</span>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <!--<h3><span ng-bind="_t('nav_events')"></span></h3>-->
        <div class="form-check form-check-inline">
          <label for="hide_all_device_events" class="form-check-label">
            <input class="form-check-input" type="checkbox" name="hide_all_device_events" value="true" id="hide_all_device_events" ng-model="input.hide_all_device_events"
              ng-checked="input.hide_all_device_events" />
            <span>{{_t('lb_hide_device_events')}}</span>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label for="hide_system_events" class="form-check-label">
            <input class="form-check-input" type="checkbox" name="hide_system_events" value="true" id="hide_system_events" ng-model="input.hide_system_events"
              ng-checked="input.hide_system_events" />
            <span>{{_t('lb_hide_system_events')}}</span>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <h3>
          <span ng-bind="_t('lb_hidden_events_device')"></span>
        </h3>
        <div class="device-available-block assigned">

          <a href="" class="btn btn-default btn-tag" title="{{d.metrics.title}}" ng-repeat="d in devices" ng-if="input.hide_single_device_events.indexOf(d.id) > -1"
            ng-click="removeDevice(d.id)">{{d.metrics.title|cutText:true:20}}
            <i class="fa fa-times text-danger"></i>
          </a>
        </div>
      </fieldset>
      <!-- iOS Setup and Reload are doing nothing
      <fieldset ng-if="cfg.route.os == 'IOSWRAPPER' || cfg.route.os == 'ZWayMobileAppiOS'">
        <div class="form-group form-inline">
          <a class="btn btn-default" href="#ios_setup"><i class="fa fa-sliders fa-fw"></i>{{_t('nav_ios_setup')}}</a>
        </div>
        <div class="form-group form-inline">
          <a class="btn btn-default" href="#ios_reload"><i class="fa fa-refresh fa-fw"></i>{{_t('nav_reload')}}</a>
        </div>
      </fieldset>
      -->
      <fieldset class="submit-entry">
        <button type="button" class="btn btn-default" title="{{_t('lb_cancel')}}" bb-go-back>
          <i class="fa fa-reply"></i>
          <span class="btn-name">{{_t('lb_cancel')}}</span>
        </button>
        <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}" ng-disabled="form_profile.$invalid">
          <i class="fa fa-check"></i>
          <span class="btn-name">{{_t('lb_save')}}</span>
        </button>
      </fieldset>
    </form>

    <!-- Authentication tokens -->
    <div ng-if="id > 0">
      <h3>{{_t('lb_auth_token')}}</h3>
      <div class="device-available-block assigned">
        <div ng-if="!authTokens.length">
          <p>{{_t('no_auth_token')}}</p>
        </div>
        <div class="form-group form-inline" ng-if="authTokens.length" ng-repeat="d in authTokens">
          <a href="" class="btn btn-default btn-tag" ng-click="removeAuthToken(input.id, d.sid, _t('lb_delete_confirm'))">{{d.title|cutText:true:20}}
            {{_t('lb_auth_token_logout')}}<i class="fa fa-times text-danger"></i>
          </a>
          <a href="" class="btn btn-default btn-tag" ng-disabled="!d.expire" ng-click="permanentAuthToken(input.id, d.sid, _t('lb_permanent_token_confirm'))">{{d.title|cutText:true:20}}
            {{_t('lb_auth_token_permanent')}}<i class="fa fa-hourglass-half"></i>
          </a>
          &nbsp;&nbsp;&nbsp;<span ng-if="currentZWayAuthToken.substr(0,6) == d.sid.substr(0,6)" ng-bind=currentFullAuthToken></span><span ng-if="currentZWayAuthToken.substr(0,6) != d.sid.substr(0,6)" ng-bind="d.sid"></span>&nbsp;&nbsp;&nbsp;<span ng-bind="d.date_str"></span>&nbsp;&nbsp;&nbsp;<span ng-bind="d.expire_str"></span>&nbsp;&nbsp;&nbsp;<span ng-bind="d.agent"></span>
        </div>
      </div>
    </div>

    <!-- ///////////////////////////// Change password Form ///////////////////////////// -->
    <section>
      <!-- Title -->
      <h2 class="accordion-toggle chevron">
        <button type="button" aria-expanded="false" bb-accordion>
          <span>
            <i class="fa fa-key fa-fw"></i> {{_t('my_local_access')}}</span>
        </button>

      </h2>
      <!-- Content -->
      <div class="accordion" hidden>
        <form name="form_password" id="form_password" class="form form-inline form-page" ng-submit="changePassword(form_password,newPassword)"
          novalidate>
          <fieldset>
            <!-- login  -->
            <p class="form-control-static">
              <span ng-bind="_t('lb_login')"></span>:
              <strong ng-bind="input.login"></strong>
            </p>
            <!-- password -->
            <div class="form-group last">
              <label class="isrequired">{{_t('lb_new_password')}}: </label>
              <input name="password" id="password" type="password" class="form-control" value="" ng-model="newPassword" ng-blur="passwordBlur = true"
                ng-required="true" ng-minlength="6" />
              <bb-validator input-name='form_password.password.$error.required' trans='_t("field_required")' has-blur='passwordBlur'></bb-validator>
              <bb-validator input-name='form_password.password.$error.minlength' trans='_t("password_valid")' has-blur='passwordBlur'></bb-validator>

            </div>
            <!-- confirm password -->
            <div class="form-group last">
              <label class="isrequired">{{_t('confirm_password')}}: </label>
              <input name="password_confirm" id="password_confirm" type="password" class="form-control" value="" ng-blur="passwordConfirmBlur = true"
                ng-model="input.passwordConfirm" bb-compare-to="password" />
              <bb-validator input-name='form_password.password_confirm.$error.compareto' trans='_t("passwords_must_match")' has-blur='passwordConfirmBlur'></bb-validator>
            </div>

          </fieldset>
          <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_change_password')}}" ng-disabled="form_password.$invalid">
              <i class="fa fa-check"></i>
              <span class="btn-name">{{_t('lb_change_password')}}</span>
            </button>
          </fieldset>
        </form>
      </div>
    </section>
  </div>

</div>
<!-- /ng-controller -->