<div ng-controller="AutoCompleteController">
    <!--<pre>{{autocomplete.results|json}}</pre>-->
    <div class="form-group form-inline text-right">
        <div class="input-group">
            <input name="add_tag" id="add_tag" type="text"
                   class="form-control"
                   ng-model="autocomplete.term" bb-key-event="searchMe()" data-toggle="dropdown"/>
            <span class="input-group-addon clickable">
                       <i class="fa fa-search"></i>
                   </span>
            <div class="app-dropdown app-dropdown-left_ autocomplete" ng-if="autocomplete.results.length">
                <ul>
                    <li class="clickable" title="{{v.title}}"
                        ng-click="redirectToRoute('apps/online/' + v.id)"
                        ng-repeat="v in autocomplete.results | orderBy:'toString()' track by $index">
                        <img class="report-img-s" alt="{{v.title}}"
                             ng-src="{{v.icon ? cfg.online_module_img_url + v.icon : 'storage/img/placeholder-img.png'}}"/>
                        <span class="aoutocomplete-title">{{v.title|cutText:true:30}}</span>&nbsp;
                        (<span class="rating-group">
                                    <i class="fa widget-rating" title="{{r}}"
                                       ng-class="r > v.rating ? 'fa-star-o' : 'fa-star israted'"
                                       ng-repeat="r in [1,2,3,4,5]"></i>
                                    <span class="widget-rating"> | <i
                                            class="fa fa-download"></i> {{v.installed}}&times;</span>
                                </span>)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>