<div ng-controller="DragDropController">
    <div class="app-row app-row-widget app-row-element clearfix"
         sv-root sv-part="dataHolder.devices.collection"
         sv-on-sort="dragDropMe($item, $partFrom, $partTo, $indexFrom, $indexTo)">
        <div sv-placeholder class="dd-placeholder dd-element">&nbsp;</div>
        <div id="Widget_{{v.id}}" class="widget-entry widget-entry-element"
             ng-repeat="v in dataHolder.devices.collection track by $index" sv-element>
            <div class="widget-entry-in">
                <!-- Widget icon -->
                <div class="widget-img">
                    <img class="widget-preview-img img-circle" ng-src="storage/img/placeholder-img.png" />
                </div>
                <!-- Widget header -->
                <div class="widget-header">
                    <a class="widget-icon widget-history" href="" title="{{_t('history')}}" ng-click="dataHolder.devices.find = v;handleModal('modalHistory', $event)" ng-if="v.hasHistory"><i class="fa fa-history"></i></a>
                    <a class="widget-icon widget-config" href="#element/{{v.id}}" title="{{_t('lb_cfg_view')}}" ng-if="elementAccess(cfg.role_access.element)"><i class="fa fa-cog"></i></a>
                </div>

                <!-- Widget content -->
                <div class="widget-content">
                    <!-- Widget title -->
                    <div class="widget-title">
                        <span class="widget-room"><span ng-if="v.location !== 0">{{dataHolder.devices.rooms[v.location].title|cutText:true:25}}</span>&nbsp;</span>
                        <h3 title="{{v.metrics.title}}">{{v.metrics.title|cutText:true:25}}</h3>
                    </div>
                </div>

            </div>
        </div>

    </div>


   <!-- <div sv-root sv-part="dataHolder.devices.collection"
         sv-on-sort="dragDropMe($item, $partFrom, $partTo, $indexFrom, $indexTo)">
        <div sv-placeholder class="placeholder-left">
            <span>custom left placeholder</span>
        </div>
        <div ng-repeat="item in dataHolder.devices.collection track by $index" sv-element>
            <div sv-helper class="helper-right">
                custom right helper {{item.title}}
            </div>
            <div>{{item.id}}: {{item.metrics.title}}</div>
        </div>
    </div>-->
</div>