 <h2>
        Without Track-By
    </h2>
 
    <ul>
        <li
            ng-repeat="friend in friendsOne"
            bn-log-dom-creation="Without">
 
            {{ friend.id }} &mdash; {{ friend.name }}
 
        </li>
    </ul>
 
 
    <h2>
        With Track-By
    </h2>
 
    <!--
        This time, we're going to use the same data structure;
        however, we're going to use the "track by" syntax to tell
        AngularJS how to map the objects to the DOM node.
        --
        NOTE: You can also use a $scope-based function like:
        ... track by identifier( item )
    -->
    <ul>
        <li
            ng-repeat="friend in friendsTwo track by friend.id"
            bn-log-dom-creation="With">
 
            {{ friend.id }} &mdash; {{ friend.name }}
 
        </li>
    </ul>