<!-- Test view -->
<div ng-controller="TestController">
    <bb-loader></bb-loader>
    <h1>Test page</h1>
    
    <div class="row">
        <!-- ngRepeat: v in collection| filter:q --><div id="Widget_OpenWeather_8" class="col-lg-4 col-md-6 col-sm-6 widget-entry ng-scope">
            <div class="widget-block sensorMultilevel" ng-switch="v.deviceType" ng-init="levelVal[v.id] = v.level">
                
                <!-- {{v.id}}: {{levelVal[v.id]}} icon {{v.icon}} -->
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <!-- Widget icon -->
                    <!-- ngIf: v.deviceType === 'text' -->
                    <!-- ngIf: v.deviceType !== 'text' --><img id="widget_img_OpenWeather_8" class="widget-image ng-scope" ng-if="v.deviceType !== 'text'" ng-src="http://openweathermap.org/img/w/10d.png" alt="img" ng-click="goHidden[v.id] = !goHidden[v.id]" src="http://openweathermap.org/img/w/10d.png"><!-- end ngIf: v.deviceType !== 'text' -->

                    <!-- Widget header -->
                    <div class="widget-header">
                        <!-- ngIf: v.hasHistory --><a class="widget-history ng-scope" href="" ng-click="loadDeviceHistory(v.id)"><i class="fa fa-history fa-lg"></i></a><!-- end ngIf: v.hasHistory -->
                        <a class="widget-config" href="#element/OpenWeather_8"><i class="fa fa-cog fa-lg"></i></a>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body" ng-class="{'text-widget': v.deviceType == 'text','text-widget-no-img': v.deviceType == 'text' &amp;&amp; v.metrics.img == ''}" ng-mouseleave="goHidden[v.id] = false;goHistory[v.id] = false;">
                        
                        <!-- ngIf: v.deviceType === 'text' -->
                        <!-- ngIf: v.deviceType !== 'text' --><h3 ng-if="v.deviceType !== 'text'" class="entry-title ng-scope ng-binding" title="Chemnitz" ng-click="goHidden[v.id] = !goHidden[v.id]">Chemnitz</h3><!-- end ngIf: v.deviceType !== 'text' -->
                        <div class="widget-control-wrap">
                             <!------------ switchMultilevel ------------>
                            <!-- ngSwitchWhen: switchMultilevel -->

                            <!------------ switchBinary ------------>
                            <!-- ngSwitchWhen: switchBinary --><!-- /.widget-control .right --> 

                            <!------------ switchRGBW ------------>
                            <!-- ngSwitchWhen: switchRGBW --><!-- /switchRGBW --> 
                            <!------------ /switchRGBW ------------>

                            <!-- doorlock -->
                            <!-- ngSwitchWhen: doorlock --><!-- /.widget-control .right --> 

                            <!-- toggleButton -->
                            <!-- ngSwitchWhen: toggleButton --><!-- /.widget-control .right --> 

                            <!-- sensorMultilevel -->
                            <!-- ngSwitchWhen: sensorMultilevel --><div ng-switch-when="sensorMultilevel" class="ng-scope">
                                <div class="widget-control control-left widget-click-popup">
                                    <span class="widget-level ng-binding" ng-bind="v.level">10.6</span> <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle" class="ng-binding">°C</span>
                                </div>

                                <div class="widget-control control-right">
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm" ng-click="runCmd(v.id + '/command/update')"> <i class="fa fa-clock-o"></i> <span class="widget-update-time ng-binding">08:05</span></button>
                                    </div>
                                </div><!-- /.widget-control .right -->
                            </div>

                            <!-- sensorMultiline -->
                            <!-- ngSwitchWhen: sensorMultiline -->

                            <!-- thermostat -->
                            <!-- ngSwitchWhen: thermostat -->
                            <!-- switchMultilevelLinear -->
                            <!-- ngSwitchWhen: switchMultilevelLinear -->
                            <!-- camera -->
                            <div class="text-right"><!-- ngSwitchWhen: camera --></div>

                            <!-- text -->
                            <!-- ngSwitchWhen: text -->

                            <!-- Default -->
                            <!-- ngSwitchDefault:  -->

                        </div><!-- /.widget-control-wrap --> 
                        
                        <!-- ------------------------------ Hidden windows ------------------------------ -->
                        
                         <!-- History -->
                         <div class="col-sm-11 element-hidden hidden-history ng-hide" ng-show="goHistory[v.id]">
                            <a class="hidden-close" href="" ng-click="goHistory[v.id] = !goHistory[v.id]"><i class="fa fa-times"></i></a>
                            <p class="popup-title ng-binding">Chemnitz</p>
                            <!-- ngIf: !history[v.id].data --><div class="alert alert-warning ng-scope" ng-if="!history[v.id].data">
                                <i class="fa "></i> <span ng-bind="history[v.id].message" class="ng-binding"></span>
                            </div><!-- end ngIf: !history[v.id].data -->
                            <!-- ngIf: history[v.id].data -->
                        </div>

                        <!-- Hidden switchMultilevel -->
                        <!-- ngSwitchWhen: switchMultilevel -->

                        <!-- Hidden thermostat -->
                        <!-- ngSwitchWhen: thermostat -->

                        <!-- Hidden sensorMultilevel -->
                         <!--<div class="col-sm-11 element-hidden hidden-history" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <p class="text-center popup-title">{{v.title|cutText:true:30}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="history[v.id]" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>-->

                        <!-- Hidden sensorMultiline -->
                        <!-- ngSwitchWhen: sensorMultiline -->


                        <!-- Hidden switchMultilevelLinear -->
                        <!-- ngSwitchWhen: switchMultilevelLinear -->
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- end ngRepeat: v in collection| filter:q --><div id="Widget_ZWayVDev_zway_2-0-38" class="col-lg-4 col-md-6 col-sm-6 widget-entry ng-scope">
            <div class="widget-block switchMultilevel" ng-switch="v.deviceType" ng-init="levelVal[v.id] = v.level">
                
                <!-- {{v.id}}: {{levelVal[v.id]}} icon {{v.icon}} -->
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <!-- Widget icon -->
                    <!-- ngIf: v.deviceType === 'text' -->
                    <!-- ngIf: v.deviceType !== 'text' --><img id="widget_img_ZWayVDev_zway_2-0-38" class="widget-image ng-scope" ng-if="v.deviceType !== 'text'" ng-src="storage/img/icons/blind-down.png" alt="img" ng-click="goHidden[v.id] = !goHidden[v.id]" src="storage/img/icons/blind-down.png"><!-- end ngIf: v.deviceType !== 'text' -->

                    <!-- Widget header -->
                    <div class="widget-header">
                        <!-- ngIf: v.hasHistory --><a class="widget-history ng-scope" href="" ng-click="loadDeviceHistory(v.id)"><i class="fa fa-history fa-lg"></i></a><!-- end ngIf: v.hasHistory -->
                        <a class="widget-config" href="#element/ZWayVDev_zway_2-0-38"><i class="fa fa-cog fa-lg"></i></a>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body" ng-class="{'text-widget': v.deviceType == 'text','text-widget-no-img': v.deviceType == 'text' &amp;&amp; v.metrics.img == ''}" ng-mouseleave="goHidden[v.id] = false;goHistory[v.id] = false;">
                        
                        <!-- ngIf: v.deviceType === 'text' -->
                        <!-- ngIf: v.deviceType !== 'text' --><h3 ng-if="v.deviceType !== 'text'" class="entry-title ng-scope ng-binding" title="Kitchen - Jalousie" ng-click="goHidden[v.id] = !goHidden[v.id]">Kitchen - Jalousie</h3><!-- end ngIf: v.deviceType !== 'text' -->
                        <div class="widget-control-wrap">
                             <!------------ switchMultilevel ------------>
                            <!-- ngSwitchWhen: switchMultilevel --><div ng-switch-when="switchMultilevel" class="ng-scope">
                                <div class="widget-control control-left widget-click-popup" ng-click="goHidden[v.id] = !goHidden[v.id]">
                                    <span class="widget-level ng-binding" ng-bind="levelVal[v.id] | getMaxLevel">0</span>% <i class="fa fa-caret-down"></i>
                                </div>
                                <!-- ngIf: v.metrics.icon == 'blinds' --><div class="widget-control control-right ng-scope" ng-if="v.metrics.icon == 'blinds'">
                                   <div class="btn-group">
                                    <button class="btn btn-sm widget-btn-off ng-binding btn-primary" id="btn_off_ZWayVDev_zway_2-0-38" data-ng-click="levelVal[v.id] == 0;runCmd(v.id + '/command/off',v.id);goHidden = false" ng-class="levelVal[v.id] < 1 ? 'btn-primary': 'btn-default'" ng-bind="_t('lb_down')">Unten</button>
                                    <button class="btn btn-sm widget-btn-on ng-binding btn-default" id="btn_on_ZWayVDev_zway_2-0-38" data-ng-click="levelVal[v.id] == 99;runCmd(v.id + '/command/on',v.id);goHidden = false" ng-class="levelVal[v.id] > 0 ? 'btn-primary': 'btn-default'" ng-bind="_t('lb_up')">Oben</button>
                                </div>
                                 </div><!-- end ngIf: v.metrics.icon == 'blinds' -->
                               
                            </div>

                            <!------------ switchBinary ------------>
                            <!-- ngSwitchWhen: switchBinary --><!-- /.widget-control .right --> 

                            <!------------ switchRGBW ------------>
                            <!-- ngSwitchWhen: switchRGBW --><!-- /switchRGBW --> 
                            <!------------ /switchRGBW ------------>

                            <!-- doorlock -->
                            <!-- ngSwitchWhen: doorlock --><!-- /.widget-control .right --> 

                            <!-- toggleButton -->
                            <!-- ngSwitchWhen: toggleButton --><!-- /.widget-control .right --> 

                            <!-- sensorMultilevel -->
                            <!-- ngSwitchWhen: sensorMultilevel -->

                            <!-- sensorMultiline -->
                            <!-- ngSwitchWhen: sensorMultiline -->

                            <!-- thermostat -->
                            <!-- ngSwitchWhen: thermostat -->
                            <!-- switchMultilevelLinear -->
                            <!-- ngSwitchWhen: switchMultilevelLinear -->
                            <!-- camera -->
                            <div class="text-right"><!-- ngSwitchWhen: camera --></div>

                            <!-- text -->
                            <!-- ngSwitchWhen: text -->

                            <!-- Default -->
                            <!-- ngSwitchDefault:  -->

                        </div><!-- /.widget-control-wrap --> 
                        
                        <!-- ------------------------------ Hidden windows ------------------------------ -->
                        
                         <!-- History -->
                         <div class="col-sm-11 element-hidden hidden-history ng-hide" ng-show="goHistory[v.id]">
                            <a class="hidden-close" href="" ng-click="goHistory[v.id] = !goHistory[v.id]"><i class="fa fa-times"></i></a>
                            <p class="popup-title ng-binding">Kitchen - Jalousie</p>
                            <!-- ngIf: !history[v.id].data --><div class="alert alert-warning ng-scope" ng-if="!history[v.id].data">
                                <i class="fa "></i> <span ng-bind="history[v.id].message" class="ng-binding"></span>
                            </div><!-- end ngIf: !history[v.id].data -->
                            <!-- ngIf: history[v.id].data -->
                        </div>

                        <!-- Hidden switchMultilevel -->
                        <!-- ngSwitchWhen: switchMultilevel --><div class="col-sm-11 element-hidden hidden-switch-multilevel animate-show ng-scope ng-hide" ng-switch-when="switchMultilevel" ng-show="goHidden[v.id]">
                              <a class="hidden-close" href="" ng-click="goHidden[v.id] = !goHidden[v.id]"><i class="fa fa-times"></i></a>
                            <div>
                                <p class="text-center ng-binding">Kitchen - Jalousie </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!--<myknob knob-data="v.level" knob-options="knobopt"></myknob> -->
                                                <div style="display: inline; width: 100px; height: 100px;"><canvas width="100" height="100"></canvas><input type="text" id="knob_ZWayVDev_zway_2-0-38" value="0" class="dial widget-level-knob ng-isolate-scope ng-pristine ng-valid" data-width="100" data-height="100" data-min="0" data-max="99" knob-id="v.id" knob-data="v.level" knob-options="knobopt" ng-model="levelVal[v.id]" myknob="" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 25px; line-height: normal; font-family: Arial; text-align: center; color: rgb(135, 206, 235); padding: 0px; -webkit-appearance: none; background: none;"></div>  
                                                <!--<input type="text" value="v.level" class="dial" data-width="100" data-height="100" ng-model="levelVal[v.id]" knob /> -->  
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" data-ng-click="runCmdExact(v.id, '+', 1, 99)">
                                                    <i class="fa fa-angle-up fa-lg"></i>
                                                </button>&nbsp;
                                                <button class="btn btn-info" data-ng-click="runCmdExact(v.id, 255, 0, 255)"><i class="fa fa-angle-double-up fa-lg"></i>
                                                </button><br><br>
                                                <button class="btn btn-primary" data-ng-click="runCmdExact(v.id, '-', 1, 99)"><i class="fa fa-angle-down fa-lg"></i>
                                                </button>&nbsp;
                                                <button class="btn btn-info" data-ng-click="runCmdExact(v.id, 0, 0, 255)">
                                                    <i class="fa fa-angle-double-down fa-lg"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-info ng-binding" data-ng-click="runCmdExact(v.id, 99, 0, 99)" ng-bind="_t('lb_full')">Voll</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Hidden thermostat -->
                        <!-- ngSwitchWhen: thermostat -->

                        <!-- Hidden sensorMultilevel -->
                         <!--<div class="col-sm-11 element-hidden hidden-history" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <p class="text-center popup-title">{{v.title|cutText:true:30}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="history[v.id]" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>-->

                        <!-- Hidden sensorMultiline -->
                        <!-- ngSwitchWhen: sensorMultiline -->


                        <!-- Hidden switchMultilevelLinear -->
                        <!-- ngSwitchWhen: switchMultilevelLinear -->
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- end ngRepeat: v in collection| filter:q --><div id="Widget_ZWayVDev_zway_41-0-37" class="col-lg-4 col-md-6 col-sm-6 widget-entry ng-scope">
            <div class="widget-block switchBinary" ng-switch="v.deviceType" ng-init="levelVal[v.id] = v.level">
                
                <!-- {{v.id}}: {{levelVal[v.id]}} icon {{v.icon}} -->
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <!-- Widget icon -->
                    <!-- ngIf: v.deviceType === 'text' -->
                    <!-- ngIf: v.deviceType !== 'text' --><img id="widget_img_ZWayVDev_zway_41-0-37" class="widget-image ng-scope" ng-if="v.deviceType !== 'text'" ng-src="storage/img/icons/switch-off.png" alt="img" ng-click="goHidden[v.id] = !goHidden[v.id]" src="storage/img/icons/switch-off.png"><!-- end ngIf: v.deviceType !== 'text' -->

                    <!-- Widget header -->
                    <div class="widget-header">
                        <!-- ngIf: v.hasHistory --><a class="widget-history ng-scope" href="" ng-click="loadDeviceHistory(v.id)"><i class="fa fa-history fa-lg"></i></a><!-- end ngIf: v.hasHistory -->
                        <a class="widget-config" href="#element/ZWayVDev_zway_41-0-37"><i class="fa fa-cog fa-lg"></i></a>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body" ng-class="{'text-widget': v.deviceType == 'text','text-widget-no-img': v.deviceType == 'text' &amp;&amp; v.metrics.img == ''}" ng-mouseleave="goHidden[v.id] = false;goHistory[v.id] = false;">
                        
                        <!-- ngIf: v.deviceType === 'text' -->
                        <!-- ngIf: v.deviceType !== 'text' --><h3 ng-if="v.deviceType !== 'text'" class="entry-title ng-scope ng-binding" title="Living Room - Tubelamp" ng-click="goHidden[v.id] = !goHidden[v.id]">Living Room - Tubelamp</h3><!-- end ngIf: v.deviceType !== 'text' -->
                        <div class="widget-control-wrap">
                             <!------------ switchMultilevel ------------>
                            <!-- ngSwitchWhen: switchMultilevel -->

                            <!------------ switchBinary ------------>
                            <!-- ngSwitchWhen: switchBinary --><div ng-switch-when="switchBinary" class="ng-scope">
                                <div class="widget-control control-left widget-click-popup-chart">
                                    
                                </div>
                               <div class="widget-control control-right">
                                <div class="btn-group">
                                    <button class="btn btn-sm widget-btn-off ng-binding btn-primary" id="btn_off_ZWayVDev_zway_41-0-37" data-ng-click="levelVal[v.id] = 'off';runCmd(v.id + '/command/off',v.id)" ng-class="levelVal[v.id]=='off' ? 'btn-primary': 'btn-default'" ng-bind="_t('lb_off')">Aus</button>
                                    <button class="btn btn-sm widget-btn-on ng-binding btn-default" id="btn_on_ZWayVDev_zway_41-0-37" data-ng-click="levelVal[v.id] = 'on';runCmd(v.id + '/command/on',v.id)" ng-class="levelVal[v.id]=='on' ? 'btn-primary': 'btn-default'" ng-bind="_t('lb_on')">Ein</button>
                                </div>
                               </div>
                            </div><!-- /.widget-control .right --> 

                            <!------------ switchRGBW ------------>
                            <!-- ngSwitchWhen: switchRGBW --><!-- /switchRGBW --> 
                            <!------------ /switchRGBW ------------>

                            <!-- doorlock -->
                            <!-- ngSwitchWhen: doorlock --><!-- /.widget-control .right --> 

                            <!-- toggleButton -->
                            <!-- ngSwitchWhen: toggleButton --><!-- /.widget-control .right --> 

                            <!-- sensorMultilevel -->
                            <!-- ngSwitchWhen: sensorMultilevel -->

                            <!-- sensorMultiline -->
                            <!-- ngSwitchWhen: sensorMultiline -->

                            <!-- thermostat -->
                            <!-- ngSwitchWhen: thermostat -->
                            <!-- switchMultilevelLinear -->
                            <!-- ngSwitchWhen: switchMultilevelLinear -->
                            <!-- camera -->
                            <div class="text-right"><!-- ngSwitchWhen: camera --></div>

                            <!-- text -->
                            <!-- ngSwitchWhen: text -->

                            <!-- Default -->
                            <!-- ngSwitchDefault:  -->

                        </div><!-- /.widget-control-wrap --> 
                        
                        <!-- ------------------------------ Hidden windows ------------------------------ -->
                        
                         <!-- History -->
                         <div class="col-sm-11 element-hidden hidden-history ng-hide" ng-show="goHistory[v.id]">
                            <a class="hidden-close" href="" ng-click="goHistory[v.id] = !goHistory[v.id]"><i class="fa fa-times"></i></a>
                            <p class="popup-title ng-binding">Living Room - Tubelamp</p>
                            <!-- ngIf: !history[v.id].data --><div class="alert alert-warning ng-scope" ng-if="!history[v.id].data">
                                <i class="fa "></i> <span ng-bind="history[v.id].message" class="ng-binding"></span>
                            </div><!-- end ngIf: !history[v.id].data -->
                            <!-- ngIf: history[v.id].data -->
                        </div>

                        <!-- Hidden switchMultilevel -->
                        <!-- ngSwitchWhen: switchMultilevel -->

                        <!-- Hidden thermostat -->
                        <!-- ngSwitchWhen: thermostat -->

                        <!-- Hidden sensorMultilevel -->
                         <!--<div class="col-sm-11 element-hidden hidden-history" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <p class="text-center popup-title">{{v.title|cutText:true:30}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="history[v.id]" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>-->

                        <!-- Hidden sensorMultiline -->
                        <!-- ngSwitchWhen: sensorMultiline -->


                        <!-- Hidden switchMultilevelLinear -->
                        <!-- ngSwitchWhen: switchMultilevelLinear -->
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- end ngRepeat: v in collection| filter:q --><div id="Widget_ZWayVDev_zway_42-0-37" class="col-lg-4 col-md-6 col-sm-6 widget-entry ng-scope">
            <div class="widget-block switchBinary" ng-switch="v.deviceType" ng-init="levelVal[v.id] = v.level">
                
                <!-- {{v.id}}: {{levelVal[v.id]}} icon {{v.icon}} -->
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <!-- Widget icon -->
                    <!-- ngIf: v.deviceType === 'text' -->
                    <!-- ngIf: v.deviceType !== 'text' --><img id="widget_img_ZWayVDev_zway_42-0-37" class="widget-image ng-scope" ng-if="v.deviceType !== 'text'" ng-src="storage/img/icons/switch-on.png" alt="img" ng-click="goHidden[v.id] = !goHidden[v.id]" src="storage/img/icons/switch-on.png"><!-- end ngIf: v.deviceType !== 'text' -->

                    <!-- Widget header -->
                    <div class="widget-header">
                        <!-- ngIf: v.hasHistory --><a class="widget-history ng-scope" href="" ng-click="loadDeviceHistory(v.id)"><i class="fa fa-history fa-lg"></i></a><!-- end ngIf: v.hasHistory -->
                        <a class="widget-config" href="#element/ZWayVDev_zway_42-0-37"><i class="fa fa-cog fa-lg"></i></a>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body" ng-class="{'text-widget': v.deviceType == 'text','text-widget-no-img': v.deviceType == 'text' &amp;&amp; v.metrics.img == ''}" ng-mouseleave="goHidden[v.id] = false;goHistory[v.id] = false;">
                        
                        <!-- ngIf: v.deviceType === 'text' -->
                        <!-- ngIf: v.deviceType !== 'text' --><h3 ng-if="v.deviceType !== 'text'" class="entry-title ng-scope ng-binding" title="Living Room - Blue Light" ng-click="goHidden[v.id] = !goHidden[v.id]">Living Room - Blue Light</h3><!-- end ngIf: v.deviceType !== 'text' -->
                        <div class="widget-control-wrap">
                             <!------------ switchMultilevel ------------>
                            <!-- ngSwitchWhen: switchMultilevel -->

                            <!------------ switchBinary ------------>
                            <!-- ngSwitchWhen: switchBinary --><div ng-switch-when="switchBinary" class="ng-scope">
                                <div class="widget-control control-left widget-click-popup-chart">
                                    
                                </div>
                               <div class="widget-control control-right">
                                <div class="btn-group">
                                    <button class="btn btn-sm widget-btn-off ng-binding btn-default" id="btn_off_ZWayVDev_zway_42-0-37" data-ng-click="levelVal[v.id] = 'off';runCmd(v.id + '/command/off',v.id)" ng-class="levelVal[v.id]=='off' ? 'btn-primary': 'btn-default'" ng-bind="_t('lb_off')">Aus</button>
                                    <button class="btn btn-sm widget-btn-on ng-binding btn-primary" id="btn_on_ZWayVDev_zway_42-0-37" data-ng-click="levelVal[v.id] = 'on';runCmd(v.id + '/command/on',v.id)" ng-class="levelVal[v.id]=='on' ? 'btn-primary': 'btn-default'" ng-bind="_t('lb_on')">Ein</button>
                                </div>
                               </div>
                            </div><!-- /.widget-control .right --> 

                            <!------------ switchRGBW ------------>
                            <!-- ngSwitchWhen: switchRGBW --><!-- /switchRGBW --> 
                            <!------------ /switchRGBW ------------>

                            <!-- doorlock -->
                            <!-- ngSwitchWhen: doorlock --><!-- /.widget-control .right --> 

                            <!-- toggleButton -->
                            <!-- ngSwitchWhen: toggleButton --><!-- /.widget-control .right --> 

                            <!-- sensorMultilevel -->
                            <!-- ngSwitchWhen: sensorMultilevel -->

                            <!-- sensorMultiline -->
                            <!-- ngSwitchWhen: sensorMultiline -->

                            <!-- thermostat -->
                            <!-- ngSwitchWhen: thermostat -->
                            <!-- switchMultilevelLinear -->
                            <!-- ngSwitchWhen: switchMultilevelLinear -->
                            <!-- camera -->
                            <div class="text-right"><!-- ngSwitchWhen: camera --></div>

                            <!-- text -->
                            <!-- ngSwitchWhen: text -->

                            <!-- Default -->
                            <!-- ngSwitchDefault:  -->

                        </div><!-- /.widget-control-wrap --> 
                        
                        <!-- ------------------------------ Hidden windows ------------------------------ -->
                        
                         <!-- History -->
                         <div class="col-sm-11 element-hidden hidden-history ng-hide" ng-show="goHistory[v.id]">
                            <a class="hidden-close" href="" ng-click="goHistory[v.id] = !goHistory[v.id]"><i class="fa fa-times"></i></a>
                            <p class="popup-title ng-binding">Living Room - Blue Light</p>
                            <!-- ngIf: !history[v.id].data --><div class="alert alert-warning ng-scope" ng-if="!history[v.id].data">
                                <i class="fa "></i> <span ng-bind="history[v.id].message" class="ng-binding"></span>
                            </div><!-- end ngIf: !history[v.id].data -->
                            <!-- ngIf: history[v.id].data -->
                        </div>

                        <!-- Hidden switchMultilevel -->
                        <!-- ngSwitchWhen: switchMultilevel -->

                        <!-- Hidden thermostat -->
                        <!-- ngSwitchWhen: thermostat -->

                        <!-- Hidden sensorMultilevel -->
                         <!--<div class="col-sm-11 element-hidden hidden-history" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <p class="text-center popup-title">{{v.title|cutText:true:30}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="history[v.id]" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>-->

                        <!-- Hidden sensorMultiline -->
                        <!-- ngSwitchWhen: sensorMultiline -->


                        <!-- Hidden switchMultilevelLinear -->
                        <!-- ngSwitchWhen: switchMultilevelLinear -->
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- end ngRepeat: v in collection| filter:q --><div id="Widget_ZWayVDev_zway_48-0-156-1-A" class="col-lg-4 col-md-6 col-sm-6 widget-entry ng-scope">
            <div class="widget-block sensorBinary" ng-switch="v.deviceType" ng-init="levelVal[v.id] = v.level">
                
                <!-- {{v.id}}: {{levelVal[v.id]}} icon {{v.icon}} -->
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <!-- Widget icon -->
                    <!-- ngIf: v.deviceType === 'text' -->
                    <!-- ngIf: v.deviceType !== 'text' --><img id="widget_img_ZWayVDev_zway_48-0-156-1-A" class="widget-image ng-scope" ng-if="v.deviceType !== 'text'" ng-src="storage/img/icons/alarm.png" alt="img" ng-click="goHidden[v.id] = !goHidden[v.id]" src="storage/img/icons/alarm.png"><!-- end ngIf: v.deviceType !== 'text' -->

                    <!-- Widget header -->
                    <div class="widget-header">
                        <!-- ngIf: v.hasHistory --><a class="widget-history ng-scope" href="" ng-click="loadDeviceHistory(v.id)"><i class="fa fa-history fa-lg"></i></a><!-- end ngIf: v.hasHistory -->
                        <a class="widget-config" href="#element/ZWayVDev_zway_48-0-156-1-A"><i class="fa fa-cog fa-lg"></i></a>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body" ng-class="{'text-widget': v.deviceType == 'text','text-widget-no-img': v.deviceType == 'text' &amp;&amp; v.metrics.img == ''}" ng-mouseleave="goHidden[v.id] = false;goHistory[v.id] = false;">
                        
                        <!-- ngIf: v.deviceType === 'text' -->
                        <!-- ngIf: v.deviceType !== 'text' --><h3 ng-if="v.deviceType !== 'text'" class="entry-title ng-scope ng-binding" title="Kitchen - Smoke Sensor: Alarm" ng-click="goHidden[v.id] = !goHidden[v.id]">Kitchen - Smoke Sensor: Alarm</h3><!-- end ngIf: v.deviceType !== 'text' -->
                        <div class="widget-control-wrap">
                             <!------------ switchMultilevel ------------>
                            <!-- ngSwitchWhen: switchMultilevel -->

                            <!------------ switchBinary ------------>
                            <!-- ngSwitchWhen: switchBinary --><!-- /.widget-control .right --> 

                            <!------------ switchRGBW ------------>
                            <!-- ngSwitchWhen: switchRGBW --><!-- /switchRGBW --> 
                            <!------------ /switchRGBW ------------>

                            <!-- doorlock -->
                            <!-- ngSwitchWhen: doorlock --><!-- /.widget-control .right --> 

                            <!-- toggleButton -->
                            <!-- ngSwitchWhen: toggleButton --><!-- /.widget-control .right --> 

                            <!-- sensorMultilevel -->
                            <!-- ngSwitchWhen: sensorMultilevel -->

                            <!-- sensorMultiline -->
                            <!-- ngSwitchWhen: sensorMultiline -->

                            <!-- thermostat -->
                            <!-- ngSwitchWhen: thermostat -->
                            <!-- switchMultilevelLinear -->
                            <!-- ngSwitchWhen: switchMultilevelLinear -->
                            <!-- camera -->
                            <div class="text-right"><!-- ngSwitchWhen: camera --></div>

                            <!-- text -->
                            <!-- ngSwitchWhen: text -->

                            <!-- Default -->
                            <!-- ngSwitchDefault:  --><div class="widget-control control-left widget-click-popup ng-scope" ng-switch-default=""><span class="widget-level ng-binding" ng-bind="v.level">off</span> <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle" class="ng-binding ng-hide"></span></div>

                        </div><!-- /.widget-control-wrap --> 
                        
                        <!-- ------------------------------ Hidden windows ------------------------------ -->
                        
                         <!-- History -->
                         <div class="col-sm-11 element-hidden hidden-history ng-hide" ng-show="goHistory[v.id]">
                            <a class="hidden-close" href="" ng-click="goHistory[v.id] = !goHistory[v.id]"><i class="fa fa-times"></i></a>
                            <p class="popup-title ng-binding">Kitchen - Smoke Sensor: Alarm</p>
                            <!-- ngIf: !history[v.id].data --><div class="alert alert-warning ng-scope" ng-if="!history[v.id].data">
                                <i class="fa "></i> <span ng-bind="history[v.id].message" class="ng-binding"></span>
                            </div><!-- end ngIf: !history[v.id].data -->
                            <!-- ngIf: history[v.id].data -->
                        </div>

                        <!-- Hidden switchMultilevel -->
                        <!-- ngSwitchWhen: switchMultilevel -->

                        <!-- Hidden thermostat -->
                        <!-- ngSwitchWhen: thermostat -->

                        <!-- Hidden sensorMultilevel -->
                         <!--<div class="col-sm-11 element-hidden hidden-history" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <p class="text-center popup-title">{{v.title|cutText:true:30}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="history[v.id]" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>-->

                        <!-- Hidden sensorMultiline -->
                        <!-- ngSwitchWhen: sensorMultiline -->


                        <!-- Hidden switchMultilevelLinear -->
                        <!-- ngSwitchWhen: switchMultilevelLinear -->
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- end ngRepeat: v in collection| filter:q --><div id="Widget_ZWayVDev_zway_54-0-49-3" class="col-lg-4 col-md-6 col-sm-6 widget-entry ng-scope">
            <div class="widget-block sensorMultilevel" ng-switch="v.deviceType" ng-init="levelVal[v.id] = v.level">
                
                <!-- {{v.id}}: {{levelVal[v.id]}} icon {{v.icon}} -->
                <div class="widget-block-in clearfix app-border app-gradient app-shadow">
                    <!-- Widget icon -->
                    <!-- ngIf: v.deviceType === 'text' -->
                    <!-- ngIf: v.deviceType !== 'text' --><img id="widget_img_ZWayVDev_zway_54-0-49-3" class="widget-image ng-scope" ng-if="v.deviceType !== 'text'" ng-src="storage/img/icons/luminosity.png" alt="img" ng-click="goHidden[v.id] = !goHidden[v.id]" src="storage/img/icons/luminosity.png"><!-- end ngIf: v.deviceType !== 'text' -->

                    <!-- Widget header -->
                    <div class="widget-header">
                        <!-- ngIf: v.hasHistory --><a class="widget-history ng-scope" href="" ng-click="loadDeviceHistory(v.id)"><i class="fa fa-history fa-lg"></i></a><!-- end ngIf: v.hasHistory -->
                        <a class="widget-config" href="#element/ZWayVDev_zway_54-0-49-3"><i class="fa fa-cog fa-lg"></i></a>
                    </div>

                    <!-- Widget body -->
                    <div class="widget-body" ng-class="{'text-widget': v.deviceType == 'text','text-widget-no-img': v.deviceType == 'text' &amp;&amp; v.metrics.img == ''}" ng-mouseleave="goHidden[v.id] = false;goHistory[v.id] = false;">
                        
                        <!-- ngIf: v.deviceType === 'text' -->
                        <!-- ngIf: v.deviceType !== 'text' --><h3 ng-if="v.deviceType !== 'text'" class="entry-title ng-scope ng-binding" title="Bathroom - Light Sensor" ng-click="goHidden[v.id] = !goHidden[v.id]">Bathroom - Light Sensor</h3><!-- end ngIf: v.deviceType !== 'text' -->
                        <div class="widget-control-wrap">
                             <!------------ switchMultilevel ------------>
                            <!-- ngSwitchWhen: switchMultilevel -->

                            <!------------ switchBinary ------------>
                            <!-- ngSwitchWhen: switchBinary --><!-- /.widget-control .right --> 

                            <!------------ switchRGBW ------------>
                            <!-- ngSwitchWhen: switchRGBW --><!-- /switchRGBW --> 
                            <!------------ /switchRGBW ------------>

                            <!-- doorlock -->
                            <!-- ngSwitchWhen: doorlock --><!-- /.widget-control .right --> 

                            <!-- toggleButton -->
                            <!-- ngSwitchWhen: toggleButton --><!-- /.widget-control .right --> 

                            <!-- sensorMultilevel -->
                            <!-- ngSwitchWhen: sensorMultilevel --><div ng-switch-when="sensorMultilevel" class="ng-scope">
                                <div class="widget-control control-left widget-click-popup">
                                    <span class="widget-level ng-binding" ng-bind="v.level">1</span> <span ng-show="v.scaleTitle" ng-bind="v.scaleTitle" class="ng-binding">%</span>
                                </div>

                                <div class="widget-control control-right">
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm" ng-click="runCmd(v.id + '/command/update')"> <i class="fa fa-clock-o"></i> <span class="widget-update-time ng-binding">08:05</span></button>
                                    </div>
                                </div><!-- /.widget-control .right -->
                            </div>

                            <!-- sensorMultiline -->
                            <!-- ngSwitchWhen: sensorMultiline -->

                            <!-- thermostat -->
                            <!-- ngSwitchWhen: thermostat -->
                            <!-- switchMultilevelLinear -->
                            <!-- ngSwitchWhen: switchMultilevelLinear -->
                            <!-- camera -->
                            <div class="text-right"><!-- ngSwitchWhen: camera --></div>

                            <!-- text -->
                            <!-- ngSwitchWhen: text -->

                            <!-- Default -->
                            <!-- ngSwitchDefault:  -->

                        </div><!-- /.widget-control-wrap --> 
                        
                        <!-- ------------------------------ Hidden windows ------------------------------ -->
                        
                         <!-- History -->
                         <div class="col-sm-11 element-hidden hidden-history ng-hide" ng-show="goHistory[v.id]">
                            <a class="hidden-close" href="" ng-click="goHistory[v.id] = !goHistory[v.id]"><i class="fa fa-times"></i></a>
                            <p class="popup-title ng-binding">Bathroom - Light Sensor</p>
                            <!-- ngIf: !history[v.id].data --><div class="alert alert-warning ng-scope" ng-if="!history[v.id].data">
                                <i class="fa "></i> <span ng-bind="history[v.id].message" class="ng-binding"></span>
                            </div><!-- end ngIf: !history[v.id].data -->
                            <!-- ngIf: history[v.id].data -->
                        </div>

                        <!-- Hidden switchMultilevel -->
                        <!-- ngSwitchWhen: switchMultilevel -->

                        <!-- Hidden thermostat -->
                        <!-- ngSwitchWhen: thermostat -->

                        <!-- Hidden sensorMultilevel -->
                         <!--<div class="col-sm-11 element-hidden hidden-history" ng-switch-when="sensorMultilevel" ng-show="goHidden">
                            <p class="text-center popup-title">{{v.title|cutText:true:30}}</p>
                            <div>
                                <canvas tc-chartjs-line chart-data="history[v.id]" chart-options="chartOptions" width="260" height="150"></canvas>
                            </div>
                        </div>-->

                        <!-- Hidden sensorMultiline -->
                        <!-- ngSwitchWhen: sensorMultiline -->


                        <!-- Hidden switchMultilevelLinear -->
                        <!-- ngSwitchWhen: switchMultilevelLinear -->
                    </div><!-- /.panel-body -->
                </div>
            </div>


        </div><!-- end ngRepeat: v in collection| filter:q --><!-- /.col -->
    </div>
     <!--<div infinite-scroll='loadMore()'>
        <p ng-repeat='i in test'>{{$index}} | dfdf</p> 
   <img  ng-src='http://placehold.it/225x250&text={{image}}'>
  </div>-->
       
</div><!-- /ng-controller --> 
<script type="text/ng-template" id="app/views/elements/directives/default_.html">
    <h1>My title Inline</h1>
</script>
<script type="text/ng-template" id="app/views/elements/directives/prasopes.html">
    <h1>My title Inline Prasopes</h1>
</script>