<!-- Test view -->
<div ng-controller="TestController">
    <bb-loader></bb-loader>
    <h1>Test page</h1>
    <table id="table_cfg_admin" class="table table-condensed table-report">
                <tbody>
                    <tr ng-repeat="v in dest" id="row_{{v.id}}">
                        <td>{{v.id}}</td>
                        <td class="td-action">{{v.val}}</td>
                    </tr>
                </tbody>
            </table>
    {{dest}}
    
       
</div><!-- /ng-controller --> 
<script type="text/ng-template" id="app/views/elements/directives/default_.html">
    <h1>My title Inline</h1>
</script>
<script type="text/ng-template" id="app/views/elements/directives/prasopes.html">
    <h1>My title Inline Prasopes</h1>
</script>