<!-- Devices -->
<section class="accordion-wrap available-devices" ng-repeat="r in rule.rooms track by $index" ng-if="rule.advanced.tests.devicesInRoom[r.id]">
  <!-- Title -->
  <h2 class="accordion-toggle chevron">
  <button type="button" aria-expanded="false" bb-accordion>
  <span>
    <img class="navi-img" ng-src="{{r.img_src}}" alt="img" />&nbsp;{{r.title}}
  </span>
  </button>
  </h2>
  <!-- Content -->
  <div class="accordion" hidden>
    <a href="" class="btn btn-default btn-tag" title="{{d.deviceName + ' | ' + _t(d.deviceType)}}"
       ng-repeat="d in rule.advanced.tests.availableDevices track by $index"
       ng-if="d.location == r.id && rule.advanced.tests.assignedDevices.indexOf(d.deviceId) === -1"
       ng-hide="d.deviceId == rule.input.params.advanced.triggerEvent.deviceId"
       ng-click="assignAdvancedTestDevice(d)">
      <img class="navi-img" ng-src="{{rule.namespaces[d.deviceId].iconPath}}" err-src="{{cfg.img.placeholder}}"
           alt="img"/>
      {{d.deviceName|cutText:true:20}}
      <i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
    </a>
  </div>
</section>
<!-- Time, nested -->
<section class="section">
  <a href="" class="btn btn-default btn-tag" ng-click="assignAdvancedTestCondition('time')">
    <i class="fas fa-clock"></i>
    {{_t('test_time')}}
    <i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
  </a>
  <a href="" class="btn btn-default btn-tag" ng-click="assignAdvancedTestCondition('nested')">
    <i class="fas fa-code-branch fa-flip-vertical"></i>
    {{_t('nested')}}
    <i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
  </a>
  <a href="" class="btn btn-default btn-tag" ng-click="assignAdvancedTestCondition('compare')">
    <i class="fas fa-code"></i>
    {{_t('compare')}}
    <i class="fas fa-plus text-success" title="{{_t('add_new')}}"></i>
  </a>
</section>
