<!-- Admin local access view -->
<h2 class="accordion-entry-title" ng-click="expandElement('local')">
    <i class="fa fa-database fa-fw"></i> <span ng-bind="_t('local_access_manage')"></span>
    <i class="fa accordion-arrow" ng-class="expand.local ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
</h2>
<div class="accordion-entry-ctrl" ng-class="" ng-if="expand.local" ng-controller="ManagementLocalController">
    <bb-loader></bb-loader>
    <form name="form_local" id="form_local" class="form form-page" 
           ng-if="handleTimezone.show"
          ng-submit="updateInstance(handleTimezone.instance)">
        <fieldset>
            <p>{{_t('wan_port_access_info')}}</p>
            <div class="form-group">
                <div>
                    <input type="checkbox" name="wan_port_access" id="wan_port_access" value="true" 
                               ng-model="handleTimezone.instance.params.wan_port_access" ng-checked="handleTimezone.instance.params.wan_port_access" /> 
                         <label for="wan_port_access" ng-bind="_t('local_access_activate')"></label>
                         <bb-help-text trans="_t('timezone_info')"></bb-help-text>
                   
                </div>
            </div>
        </fieldset>
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_save')}}">
                <i class="fa fa-check"></i> <span class="btn-name">{{_t('lb_save')}}</span>
            </button>
        </fieldset>
    </form>
     <div class="alert alert-warning" ng-bind="_t('local_access_not_installed')" ng-if="!handleTimezone.show"></div>
</div>
