<!-- Local skins -->
<div ng-controller="SkinBaseController">

  <div ng-controller="SkinLocalController" id="skins_local">
    <bb-loader></bb-loader>
    <!-- Skins navigation -->
    <div ng-include="'app/views/customize/navi.html'"></div>
    <div class="clearfix" ng-if="skins.local.show">
      <div class="card-customize" title="{{v.title}}" ng-repeat="v in skins.local.all track by v.name">
        <div class="card-customize-in" style="background-image:url('{{v.icon}}');" ng-class="{'widget-warning': v.name === skins.local.active}">
          <div class="card-header">
            <!-- Activate -->
            <span class="card-icon" title="{{_t('lb_activate')}}" ng-if="v.name !== skins.local.active" ng-click="activateSkin(v)">
              <i class="fas fa-fire text-success"></i>
            </span>
            <!-- Is active -->
            <span class="card-icon" title="{{_t('lb_active')}}" ng-if="v.name === skins.local.active">
              <i class="fas fa-check"></i>
            </span>
            <!-- Upgrade -->
            <span class="card-icon" title="{{_t('upgrade')}}" ng-click="updateSkin(skins.online.all[v.name])" ng-if="skins.online.all[v.name] && skins.online.all[v.name].status === 'notequal'">
              <i class="fas fa-level-up-alt"></i>
            </span>
            <!-- Delete -->
            <span class="card-icon" title="{{_t('lb_remove')}}" ng-click="removeSkin(v, _t('lb_delete_confirm'))" ng-hide="v.name === skins.local.active"
              ng-if="v.name !== 'default'">
              <i class="fas fa-trash text-danger"></i>
            </span>
          </div>
          <!-- Footer -->
          <div class="card-footer" ng-click="skins.local.find = v;handleModal('skinLocalModal', $event)">
            {{v.title| cutText:true:25}}
          </div>
        </div>
      </div>
    </div>
    <div id="skinLocalModal" class="appmodal" ng-if="modalArr.skinLocalModal">
      <div class="appmodal-in">
        <div class="appmodal-header">
          <span class="appmodal-close" ng-click="handleModal('skinLocalModal', $event)">
            <i class="fas fa-times"></i>
          </span>
          <h3>{{skins.local.find.title|cutText:true:30}}</h3>
        </div>
        <div class="appmodal-body customize-detail">
          <p class="customize-detail-title">{{skins.local.find.title}}</p>
          <p class="customize-detail-perex">{{skins.local.find.description}}</p>
          <p class="customize-detail-list" ng-if="skins.local.find.author">
            <strong>{{_t('author')}}:</strong>
            <span ng-if="!skins.local.find.homepage"> {{skins.local.find.author}}</span>
            <a ng-href="{{skins.local.find.homepage}}" ng-if="skins.local.find.homepage"> {{skins.local.find.author}}</a>
          </p>
          <p class="customize-detail-list">
            <strong>{{_t('version')}}:</strong> {{skins.local.find.version}}
          </p>
          <div class="customize-detail-img">
            <img class="customize-image-detail" ng-src="{{skins.local.find.icon}}" alt="img" />
          </div>
        </div>
        <div class="appmodal-footer">
          <!-- Close -->
          <button type="button" class="btn btn-default" ng-click="handleModal('skinLocalModal', $event)">
            <i class="fas fa-times text-danger"></i>
            <span class="btn-name">{{_t('lb_close')}}</span>
          </button>
          <!-- Activate -->
          <button href="" class="btn btn-submit" title="{{_t('lb_activate')}}" ng-if="skins.local.find.name !== skins.local.active"
            ng-click="handleModal('skinLocalModal', $event);activateSkin(skins.local.find)">
            <i class="fas fa-fire"></i>
            <span class="btn-name">{{_t('lb_activate')}}</span>
          </button>
          <!-- Upgrade -->
          <button class="btn btn-danger" title="{{_t('upgrade')}}" ng-if="skins.online.all[skins.local.find.name] && skins.online.all[skins.local.find.name].status === 'notequal'"
            ng-click="handleModal('skinLocalModal', $event);updateSkin(skins.online.all[skins.local.find.name])">
            <i class="fas fa-level-up-alt"></i>
            <span class="btn-name">{{_t('upgrade')}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /ng-controller -->
</div>
<!-- /ng-controller -->