<div ng-controller="EnoceanDeviceController" class="mobile-padding">
    <bb-loader></bb-loader> 
    <!-- Enocean navigation -->
    <div class="device-logo">
        <a href="#enocean/devices"><img class="apps-image" ng-src="app/img/logo-enocean.png" alt="Logo" /></a>
    </div>
    <div class="tab-content">
        <bb-alert alert="alert"></bb-alert>
        <div ng-if="hasEnOcean">
            <div class="row device-manufacturers" ng-hide="enoceanDevices">
                <div class="col-sm-2 col-device-vendor" ng-repeat="v in manufacturers">
                    <a ng-href="#enocean/devices/{{v.key}}" class="vendor-list">
                        <p class="vendor-image"><img ng-src="storage/img/enocean/vendors/{{v.val}}" alt="img" ng-show="v.val" /></p>
                    </a>
                </div>
            </div>
            <div ng-if="manufacturer">
                <h3 class="mobile-padding" ng-bind="manufacturer"></h3> 
                <table class="table table-condensed table-report">
                    <tbody>
                        <tr ng-repeat="v in enoceanDevices track by v.id">
                            <td class="td-img">
                                <img class="report-img" ng-src="storage/img/enocean/devices/{{v.image}}" alt="img" />
                            </td>
                            <td class="text-left">
                                <span ng-bind="v.name"></span>
                            </td>

                            <td class="td-action">
                                <a href="#enocean/teachin/{{v.id}}" class="btn btn-default"><i class="fa fa-plug text-primary"></i> <span class="btn-name" ng-bind="_t('teach_in')"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 