<div ng-controller="EnoceanManageDetailController" class="mobile-padding">
    <bb-loader></bb-loader> 
    <!-- Enocean navigation -->
    <div ng-include="'app/views/enocean/navi.html'"></div>
     <div class="tab-content">
    <div class="page-header">
        <h1><span ng-bind="_t('enocean_device')"></span>: {{input.name}} (#{{input.id}})</h1>
    </div>
    <form name="form_enocean_edit" id="form_enocean_edit" class="form form-page" ng-submit="store(input)" novalidate>
        <fieldset>
                <!-- name
                <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('lb_name')"></span></h3>
                <div class="form-group">
                    <input name="name" id="name" type="text" class="form-control" value="{{input.name}}" ng-model="input.name" />
                </div> -->
                
                 <!-- Profile -->
                 <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('select_profile')"></span></h3>
                <div class="form-group">
                    <select name="enoceanProfiles" class="form-control" ng-model="input.profileId">
                       <option value="{{manProfile}}" 
                                 ng-repeat="v in enoceanProfiles | orderBy:'_funcDescription'" 
                                 ng-init="manProfile = {rorg:v._rorg,funcId: v._func,typeId: v._type}"
                                 ng-selected="v.id == input.deviceProfileId"
                                 ng-if="input.rorg == v.rorgInt">{{v._funcDescription}} | rorg: {{v._rorg}} | func: {{v._func}} | type: {{v._type}}</option>
                                </select>
                </div>
        </fieldset>
        <fieldset class="submit-entry">
                    <button type="submit" class="btn btn-primary" ng-bind="_t('lb_save')"></button>
                </fieldset>
    </form>
    
    <form name="form_enocean_config" id="form_enocean_config" class="form form-page" novalidate ng-if="apiDevices">
        <fieldset>
        <div class="form-group form-inline" ng-repeat="e in apiDevices | orderBy:'title':false" ng-init="dev[e.id] = e">
            <h3>
                <img id="widget_img_{{v.id}}" class="report-img" ng-src="{{e.metrics.icon|getElementIcon:e:e.level}}" alt="img" />
                 <span ng-bind="dev[e.id].metrics.title"></span>
            </h3>
                <div>
                        <input type="text" name="fdf" class="form-control form-control-md" ng-model="dev[e.id].metrics.title" value="{{dev[e.id].metrics.title}}" />
                         <button class="btn btn-primary" ng-click="updateDevice(dev[e.id])" ng-bind="_t('rename_element')"></button> 
                         <button class="btn" 
                             ng-click="updateDevice({id: e.id,permanently_hidden: e.permanently_hidden ? false : true})" 
                             ng-bind="e.permanently_hidden ? _t('show_element') : _t('hide_element')"
                             ng-class="e.permanently_hidden ? 'btn-danger' : 'btn-info'"> </button>
                 </div>
            </div>
        </fieldset>
         <fieldset>
            <!-- Rooms -->
            <div class="form-group form-inline">
                <h3><i class="fa fa-chevron-down"></i> <span ng-bind="_t('devices_to_room')"></span></h3>
                <select class="form-control" ng-model="modelRoom">
                    <option value="">------</option>
                    <option ng-repeat="v in rooms" ng-selected_="input.location == v.id" value="{{v.id}}" ng-bind="v.title"></option>
                </select>
                <button class="btn btn-primary" ng-click="devicesToRoom(modelRoom, apiDevices)" ng-bind="_t('lb_save')"></button> 

            </div>
        </fieldset>
    </form>
     <div class="submit-entry save-continue">
            <button class="btn btn-info" bb-go-back>{{_t('continue')}} <i class="fa fa-chevron-right"></i></button>
        </div>
   </div>
</div> <!-- /ng-controller --> 