<div class="device-logo">
        <a href="#enocean/devices"><img class="apps-image" ng-src="app/img/logo-enocean.png" alt="Logo" /></a>
    </div>
<ul class="nav nav-tabs nav-tabs-3" role="tablist">
    <li ng-class="activeTab == 'controller' ? 'active' : ''">
         <a href="#enocean/controller"><i class="fa fa-info-circle"></i> {{_t('controller_info')}}</a>
    </li>
    <li ng-class="activeTab == 'manage' ? 'active' : ''">
         <a href="#enocean/manage"><i class="fa fa-edit"></i> {{_t('manage')}}</a>
    </li>
    <li ng-class="activeTab == 'assign' ? 'active' : ''">
        <a href="#enocean/assign"><i class="fa fa-book"></i> {{_t('teach_in')}}</a>
    </li>
</ul>
