<ul class="nav nav-tabs nav-tabs-3" role="tablist">
    <li ng-class="activeTab == 'controller' ? 'active' : ''">
         <a href="#enocean/controller"><i class="fa fa-info-circle"></i> <span class="tab-name">{{_t('controller_info')}}</span></a>
    </li>
    <li ng-class="activeTab == 'manage' ? 'active' : ''">
         <a href="#enocean/manage"><i class="fa fa-edit"></i> <span class="tab-name">{{_t('manage')}}</span></a>
    </li>
    <li ng-class="activeTab == 'assign' ? 'active' : ''">
        <a href="#enocean/assign"><i class="fa fa-book"></i> <span class="tab-name">{{_t('teach_in')}}</span></a>
    </li>
</ul>
